<!-- Default Validation Template -->
<div class="validation" ng-messages="field.$error">
  <!-- Show errors for invalid fields, when it has been either focused,
   has been changed or the user tried to submit the form without success
   (requires the setDirtyOnSubmit-option to be set-->
  <ul class="list-unstyled validation-errors fade-in" ng-show="field.$invalid && (field.$touched || field.$dirty || form.$triedSubmit)">
    <li ng-message="asyncUrlSegmentValidation">{{ attrs.urlSegmentValidationMessage | translate }}</li>
    <li ng-message="required">{{ 'VALIDATE_REQUIRED' | translate }}</li>
    <li ng-message="password">{{ 'VALIDATE_PASSWORD' }}</li>
    <li ng-message="email">{{ 'VALIDATE_EMAIL' | translate }}</li>
    <li ng-message="pattern">{{ 'VALIDATE_PATTERN' | translate }}</li>
    <li ng-message="date">{{ 'VALIDATE_DATE' | translate }}</li>
    <li ng-message="time">{{ 'VALIDATE_TIME' | translate }}</li>
    <li ng-message="datetime">{{ 'VALIDATE_DATETIME' | translate }}</li>
    <li ng-message="datetime-local">{{ 'VALIDATE_DATETIME_LOCAL' | translate }}</li>
    <li ng-message="number">{{ 'VALIDATE_NUMBER' | translate }}</li>
    <li ng-message="color">{{ 'VALIDATE_COLOR' | translate }}</li>
    <li ng-message="range">{{ 'VALIDATE_RANGE' | translate }}</li>
    <li ng-message="month">{{ 'VALIDATE_MONTH' | translate }}</li>
    <li ng-message="url">{{ 'VALIDATE_URL' | translate }}</li>
    <li ng-message="file">{{ 'VALIDATE_FILE' | translate }}</li>
    <li ng-message="validator">{{ 'VALIDATE_VALIDATOR' | translate }}</li>

    <!-- ng-fab-form provides you with access to the
   input-element-attributes, allowing you to display their values
   inside of the message
   !! NB: but this does not play well with translations
   -->
    <!-- instead of ng-if ng-switch with default may be more nice-->
    <li ng-message="minlength" ng-if="field.$name.indexOf('password') == -1">{{ 'VALIDATE_MINLENGTH' | translate }}</li>
    <li ng-message="minlength" ng-if="field.$name.indexOf('password') != -1">{{ 'VALIDATE_MINLENGTH_PASSWORD' | translate }}</li>

    <li ng-message="maxlength">{{ 'VALIDATE_MAXLENGTH' | translate }}</li>


    <li ng-message="ngFabMatch">{{ 'VALIDATE_MATCH' | translate }}</li>
    <li ng-message="validPlannerComment">{{ 'VALIDATE_MAXLENGTH' | translate }}</li> <!-- planner validation -->
    <li ng-message="validBirthdate">
      <div
        translate="REG_INVALID_BIRTHDATE_MIN_AGE"
        translate-values="{minAge: attrs.minAge}">
      </div>
    </li>

    <li ng-message="dateinput">{{ 'VALIDATE_MAXLENGTH' | translate }}{{field.$invalid}}</li>

    <li ng-message="asyncValidationemailExists">{{ 'VALIDATE_EMAIL_EXISTS' | translate }}</li>
    <li ng-message="asyncValidationgiftCode">{{ 'REG_GIFT_CODE_INVALID' | translate }}</li>
    <li ng-message="asyncValidateMsg">input validated async.</li>

    <!-- you can use ng-if or ng-show for more advanced
    error messages -->
    <li ng-if="attrs.type == 'time' "
        ng-message="min">{{ 'VALIDATE_MIN_TIME' | translate }}</li>

    <li ng-message="max"
        ng-if="attrs.type == 'time' ">{{ 'VALIDATE_MAX_TIME' | translate }}</li>
    <li ng-message="min"
        ng-if="attrs.type == 'date' ">{{ 'VALIDATE_MIN_DATE' | translate }}</li>
    <li ng-message="max"
        ng-if="attrs.type == 'date' ">{{ 'VALIDATE_MAX_TIME' | translate }}</li>
  </ul>
  <!-- It is also possible to show a success element
  using the standard form syntax -->
</div>
<div class="validation-success"
     ng-show="field.$valid && !field.$invalid">
</div>
