<div class="sticky-top-breadcrumbs">
  <div class="breadcrumbs">
    <div class="container breadcrumbs-container">
      <div class="header_top_pin floatLeft border_right"></div>
      <div class="breadcrumbs-cat-block">
        <p ng-click="$ctrl.clickRoot()" class="breadcrumb-cat
              {{!$ctrl.breadcrumbs.length ? 'active' : ''}}"
           translate="{{$ctrl.rootName}}"></p>
      </div>
      <div class="breadcrumbs-cat-block"
           ng-repeat="breadcrumb in $ctrl.breadcrumbs track by $index">
        <i class="fa breadcrumb-arrow fa-chevron-right"></i>
        <p ng-click="!$last ? $ctrl.clickBreadcrumb($index) : ''"
           class="breadcrumb-cat {{$last ? 'active' : ''}}">{{breadcrumb.label}}</p>
      </div>
      <div class="header_top_pin floatRight border_left"></div>
    </div>
  </div>
</div>
