@import '../../../vars';
@import '../../../main/css/bootstrap/variables';

.color-mixin(@color) {
  .sticky-top-breadcrumbs .breadcrumbs-container .breadcrumbs-cat-block .breadcrumb-cat {
    &.active {
      color: @color;
    }
    &:hover {
      color: @color;
    }
  }
}

breadcrumbs {
  @media (max-width: @screen-md-max) {
    display: none;
  }

  &.green {
    .color-mixin(@green);
  }

  &.violet {
    .color-mixin(@violet);
  }

  &.orange {
    .color-mixin(@orange);
  }

  &.shopColor {
    .color-mixin(@shopColor);
  }

  .sticky-top-breadcrumbs {
    position: fixed;
    top: 124px;
    z-index: 50;
    width: 100%;
    background: #fff;
    .breadcrumbs-container {
      position: relative;
      padding-left: 26px;
      padding-right: 20px;
      .floatLeft.border_right {
        position: absolute;
        left: 0;
        height: 100%;
      }
      .floatRight.border_left {
        position: absolute;
        right: 0;
        height: 100%;
      }
      .breadcrumbs-cat-block {
        float: left;
        cursor: pointer;

        .breadcrumb-cat {
          float: left;
          color: #808080;
          font-size: 15px;
          margin-top: 12px;
          margin-right: 10px;
          margin-bottom: 12px;
          &.active,
          &:hover {
            font-weight: bold;
          }
          &:first-letter {
            text-transform: uppercase;
          }
        }
        .breadcrumb-arrow {
          float: left;
          font-size: 10px;
          margin-right: 10px;
          margin-top: 18px;
          color: #808080;
        }
      }
    }
    border-bottom: 1px solid #b0cac9;
  }
}
