<div class="form-group" ng-if="ctrl.allowCountrySelection() || !ctrl.data.country">
  <label translate="FIELD_COUNTRY"></label>
  <kiga-select data-test="country" ng-model="ctrl.data.country" placeholder="{{ 'REG_SELECT_COUNTRY'| translate }}"
               options="ctrl.countries" on-select="ctrl.onCountrySelect()" required></kiga-select>
</div>

<div class="form-group">
  <div>
    <label class="radio-inline">
      <input name="gender" type="radio" class="form-control" value="female"
             data-test="female" ng-model="ctrl.data.gender" icheck>
      {{ 'MISC_SALUTATION_FEMALE' | translate }}
    </label>
    <label class="radio-inline">
      <input name="gender" type="radio" class="form-control" value="male"
             data-test="male" ng-model="ctrl.data.gender" icheck>
      {{ 'MISC_SALUTATION_MALE' | translate }}
    </label>
  </div>
</div>

<div class="form-group">
  <input type="text" placeholder="{{ 'FIELD_FIRSTNAME' | translate }}" required
         name="firstname" class="form-control" ng-model="ctrl.data.firstname"
         data-test="firstname">
  <input type="text" placeholder="{{ 'FIELD_LASTNAME' | translate }}" required
         name="lastname" class="form-control" ng-model="ctrl.data.lastname"
         data-test="lastname">
</div>

<div class="form-group" ng-if="ctrl.data.country == 'tr'">
  <input type="text" placeholder="{{ 'FIELD_PHONE' | translate }}"
         name="phone" class="form-control" ng-model="ctrl.data.phone"
         data-test="phone">
</div>

<div class="form-group">
  <label translate="REG_EMAIL_CURRENT"></label>
  <input name="email" type="email" placeholder="{{ 'FIELD_EMAIL' | translate }}" class="form-control"
         ng-model-options="{ updateOn: 'blur'}"
         ng-model="ctrl.data.email" data-test="email" required
         validation-msg-async-validationemail-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
         async-validation="emailExists" async-url="nregistration/emailCheck"
         async-validation-context="ctrl.productId">
</div>

<div class="form-group">
  <label translate="REG_PASSWORD_MIN_LENGTH_HINT"></label>
  <input type="password" placeholder="{{ 'FIELD_PASSWORD' | translate }}" name="password"
         class="form-control" ng-model="ctrl.data.password" required minlength="8"
         data-test="password">
  <input type="password" placeholder="{{ 'REG_PASSWORD_CONFIRMATION' | translate }}"
         name="password2" class="form-control" ng-model="ctrl.data.password2" required
         minlength="8" data-test="password2"
         ng-fab-match="form.password.$viewValue"
         validation-msg-ng-fab-match="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}">
</div>

<div class="form-group">
  <label translate="REG_JOB_TITLE"></label>
  <kiga-select ng-model="ctrl.data.job" placeholder="{{ 'REG_JOB_PLACEHOLDER'| translate }}"
               options="ctrl.jobs" required></kiga-select>
</div>

<div class="form-group">
  <div class="checkbox">
    <input name="agb" type="checkbox" ui-validate=" '$value===true' " icheck data-test="agb"
           ng-model="ctrl.data.agb"
           validation-msg-validator="{{ 'REG_AGB_ACCEPTED' | translate }}">
    <span t="REG_AGB_ACCEPTED_INFO" class="checkbox-label"></span>
  </div>

  <div class="checkbox">
    <input name="security" type="checkbox"
           class="form-control" icheck data-test="security"
           ng-model="ctrl.data.security" ui-validate=" '$value===true' "
           validation-msg-validator="{{ 'REG_SECURITY_ACCEPTED' | translate }}">
    <span t="REG_SECURITY_ACCEPTED_INFO" class="checkbox-label"></span>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="newsletter"
             ng-true-value="true" ng-false-value="false"
             ng-model="ctrl.data.newsletter" icheck data-test="newsletter">
      <span t="REG_NEWSLETTER"></span>
      <tool-tip-info-icon tool-tip-text="{{ 'REG_NEWSLETTER_INFO' | translate }}"></tool-tip-info-icon>
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input name="datenschutz" type="checkbox"
             class="form-control" icheck data-test="datenschutz"
             ng-model="ctrl.data.datenschutz" ui-validate=" '$value===true' "
             validation-msg-validator="{{ 'REG_DATA_PRIVACY_ACCEPTED' | translate }}">
      <span t="REG_DATA_PRIVACY" translate-values="{privacyLink: ctrl.linkURL}"></span>

      <tool-tip-info-icon tool-tip-text="{{ 'REG_DATA_PRIVACY_INFO' | translate }}"></tool-tip-info-icon>
    </label>
  </div>
</div>
