<div class="form-group">
  <label>{{$ctrl.label}}</label>
  <kiga-button button-type="button" button-text="Button within a form"></kiga-button>
  <kiga-button button-type="button" button-class="icon" button-text="Button with"></kiga-button>
</div>
