@import (reference) '../../main/css/bootstrap/variables';
@import (reference) '../../vars';

.responsive-visibility() {
  display: flex !important;
}

@animationDuration: 0.5s;

.scroll-pane {
  display: flex;
  width: 100%;
  a {
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
  &.visible-sm {
    @media (max-width: @screen-sm-max) {
      .responsive-visibility();
    }
  }
  &.visible-lsm {
    @media (min-width: @screen-lsm-min) and (max-width: @screen-lsm-max) {
      .responsive-visibility();
    }
  }
  &.visible-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      .responsive-visibility();
      .element {
        .idea-img {
          .img-border {
            .link-title {
              font-size: 18px;
              margin-top: -45px;
              padding: 50% 28px 0 15px;
            }
          }
        }
        .desc {
          &.small {
            display: none;
          }
        }
      }
    }
  }
  &.visible-lmd {
    @media (min-width: @screen-lmd-min) and (max-width: @screen-lmd-max) {
      .responsive-visibility();
      .element {
        .idea-img {
          .img-border {
            .link-title {
              font-size: 19px;
              margin-top: -45px;
              padding: 50% 28px 0 15px;
            }
          }
        }
      }
    }
  }
  &.visible-lg {
    @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
      .responsive-visibility();
      .element {
        .idea-img {
          .img-border {
            .link-title {
              font-size: 20px;
              margin-top: -45px;
              padding: 50% 28px 0 15px;
            }
          }
        }
      }
    }
  }
  &.visible-xlg {
    @media (min-width: @screen-xlg-min) {
      .responsive-visibility();
    }
    @media (min-width: @screen-xlg-min) and (max-width: 1400px) {
      .responsive-visibility();
      .element {
        .idea-img {
          .img-border {
            .link-title {
              font-size: 20px;
              margin-top: -45px;
              padding: 50% 28px 0 15px;
            }
          }
        }
      }
    }
  }
}

.arrow-container {
  width: 80px;
  display: inline-flex;
  align-items: center;
  &.right {
    a {
      margin-left: auto;
      &.inactive-btn {
        visibility: hidden;
      }
    }
  }
  .fa-chevron-left {
    position: relative;
    right: 3px;
    top: 1px;
  }
  .fa-chevron-right {
    position: relative;
    left: 2px;
    top: 1px;
  }
}

.element-container {
  flex: 1;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform @animationDuration;
}

.element {
  padding-left: 10px;
  padding-right: 10px;
  &.no-gap {
    padding-left: 0;
    padding-right: 0;
  }
  .idea-img {
    width: 100%;
    position: relative;
    .img-border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid @grey;
      .link-title {
        color: @white;
        font-size: 24px;
        margin-top: -55px;
        padding: 50% 28px 0 20px;
      }
    }
    img {
      width: 100%;
    }
  }
  &:hover {
    .img-border {
      border: 3px solid @green;
    }
  }

  &.registration {
    .img-border {
      background-color: @green;
    }
  }
}

.arrows {
  a {
    opacity: 0.4;
    text-decoration: none;
    color: lightslategray;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 3px solid lightslategray;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 33px;
      display: inline-block;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  text-decoration: none;
  a.inactive-btn {
    opacity: 0.2;
    cursor: default;
    .no-touchevents &:hover {
      opacity: 0.2;
      color: lightslategray;
      border-color: lightslategray;
      i {
        border: 3px solid lightslategray;
      }
    }
  }
}

.element {
  a {
    color: lightslategrey;
    &:hover {
      color: @green;
    }
    p {
      margin-top: 10px;
      @media (max-width: @screen-lsm-max) {
        margin-top: 0;
      }
    }
  }
  @media (max-width: @screen-lsm-max) {
    & {
      display: inline-block;
    }
    .idea-img {
      width: 140px;
      float: left;
      .img-border {
        position: absolute;
        height: 100%;
        width: 100%;
        border: 3px transparent;
      }
      img {
        width: 100%;
      }
    }
    &:hover {
      .idea-img {
        .img-border {
          border: 3px solid @green;
        }
      }
    }
    .desc {
      margin-left: 160px;
      width: auto;
      font-style: normal;
      margin-top: 0;
      font-size: 14px;
      max-height: 56px;
      &.small {
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}

.invisible-item {
  opacity: 0;
  animation-duration: @animationDuration;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
