<div class="scroll-pane">
  <div class="arrows arrow-container">
    <a
      (click)="left(breakpoint.itemsPerRow, $event)"
      [ngClass]="{
        'inactive-btn': leftButtonHidden(),
        'theme-hover': !leftButtonHidden(),
        'theme-hover-border': !leftButtonHidden()
      }"
      [ngStyle]="buttonStyle"
      role="button"
    >
      <i class="fa fa-chevron-left"></i>
    </a>
  </div>
  <div class="element-container">
    <div class="slider" [ngStyle]="{ transform: transform(breakpoint) }">
      <div
        *ngFor="let item of items; index as i"
        [ngStyle]="{ flex: '0 0 ' + 100 / breakpoint.itemsPerRow + '%' }"
        [ngClass]="{ 'invisible-item': itemInvisible(breakpoint.itemsPerRow, i), 'no-gap': noGap }"
        class="element"
      >
        <ndc-dynamic
          [ndcDynamicComponent]="component"
          [ndcDynamicInputs]="{ data: item, index: i }"
          [ndcDynamicOutputs]="{ onClick: onItemClick }"
        >
        </ndc-dynamic>
      </div>
      <div
        [ngClass]="{
          'invisible-item': itemInvisible(breakpoint.itemsPerRow, items.length),
          'no-gap': noGap
        }"
        [ngStyle]="{ flex: '0 0 ' + 100 / breakpoint.itemsPerRow + '%' }"
        class="element"
      >
        <ng-content select=".more-ideas-btn"></ng-content>
      </div>
    </div>
  </div>
  <div class="arrows arrow-container right">
    <a
      class="theme-hover-border theme-hover"
      (click)="right(breakpoint.itemsPerRow, $event)"
      [ngClass]="{ 'inactive-btn': rightButtonHidden(breakpoint.itemsPerRow) }"
      [ngStyle]="buttonStyle"
      role="button"
    >
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>
