@import '../../vars';

button {
  background-color: @orange;
  &.cancel {
    background-color: @grey;
  }
  &.free-test {
    background-color: @green;
  }
  &.lighten {
    background-color: mix(@orange, white, 60%);
  }
}

button {
  display: inline-block;
  width: 220px;
  font-size: 17px;
  color: white;
  padding: 8px 0;
  border-width: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &.cancel {
    background-color: @grey;
  }
  &.full-width {
    width: 100%;
  }
  &:hover {
    color: white;
  }
  &.icon {
    padding: 7px 0;
    i {
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}
