<div *ngIf="!showOnlyButtons">
  <button (click)="audioCtrl()" class="btn-span">
    <i [ngClass]="icon" aria-hidden="true" class="icon"></i><span>{{ label }}</span>
  </button>
  <a class="download-btn" download href="{{endpointUrl}}/endpoint/idea/download?url={{href}}">
    <i aria-hidden="true" class="fa fa-download"></i>
  </a>
</div>

<kiga-action-button
  *ngIf="showOnlyButtons"
  (click)="audioCtrl()"
  [icon]="icon"
  tooltip="{{ (playing ? 'IDEAS_PAUSE_AUDIO' : 'IDEAS_PLAY_AUDIO') | translate }}"
></kiga-action-button>

<audio #audio [src]="href"></audio>
