<div class="input-group search">
  <form ng-submit="$ctrl.onSearchSubmit()">
    <kiga-input
      value="$ctrl.query"
      value-options="{updateOn: 'blur'}"
      place-holder="{{ $ctrl.getPlaceHolder()}}"
      input-class="input search"
    ></kiga-input>
    <span
      class="input"
      style="visibility: hidden; width: auto; white-space: pre; display: none"
    ></span>
  </form>
  <span class="input-group-btn">
    <button
      class="btn btn-default icon-search searchButton no-legacy"
      ng-class="{disabled:searchData.search == ''}"
      type="button"
      ng-click="$ctrl.onSearchSubmit()"
      id="searchButton"
    ></button>
  </span>
</div>
