searchbox {
  .tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .tag-item {
      background: #428bca;
      border: 1px solid #357ebd;
      border-radius: 4px;
      color: #fff;
      display: block;
      font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      float: left;
      height: 26px;
      line-height: 25px;
      padding: 0 5px;
      margin: 6px 3px;
      text-transform: lowercase;
    }
    .tag-item.selected {
      color: #fff;
      background: #d9534f;
      border: 1px solid #d43f3a;
    }
    .tag-item .remove-button {
      font: 700 16px Arial, sans-serif;
      padding: 0;
      border: none;
      margin: 0 0 0 5px;
      vertical-align: middle;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .btn.btn-default.icon-search {
    &.searchButton {
      margin-bottom: 20px;
    }
  }
}
