<div class="modal-header">
  <button
    type="button"
    class="close no-legacy"
    ng-click="close()"
    data-dismiss="modal"
    aria-hidden="true"
  >
    &times;
  </button>
  <h3 class="modal-title text-center" translate="MISC_CONFIRMATION"></h3>
</div>

<div class="modal-body confirmer">
  <div class="form-group">
    <label ng-if="options.useTranslation" ng-bind-html="text | translate"></label>
    <label ng-if="!options.useTranslation" ng-bind-html="text"></label>
  </div>
  <div class="buttons last row">
    <div class="col-sm-30 left">
      <button ng-click="no()" type="button" class="cancel no-legacy-width" t="NO"></button>
    </div>
    <div class="col-sm-30 right">
      <button ng-click="yes()" type="button" t="YES" class="no-legacy-width"></button>
    </div>
  </div>
</div>
