<div class="modal-header">
  <button
    type="button"
    class="close no-legacy"
    ng-click="close()"
    data-dismiss="modal"
    aria-hidden="true"
  >
    &times;
  </button>
  <h3 class="modal-title text-center" translate="MISC_INFO"></h3>
</div>

<div class="modal-body info">
  <div class="form-group"><label t="{{text}}" data-test="{{text}}"></label></div>
  <div class="form-group last">
    <button ng-click="ok()" type="button" class="full-width no-legacy-width" t="OK"></button>
  </div>
</div>
