<div class="mainContainer newsletter" style="margin: 0 auto; width: 774px;">
  <div class="contentContainer" style="box-sizing: content-box; overflow: auto; width: 774px;">
    <div class="mainBackground" style="box-sizing: content-box; background-image: url(https://d1v5g5yve3hx29.cloudfront.net/2016-05-08_00-51-11/kiga/images/main-middleNl.png);">
      <div class="innerMainContainer" style="box-sizing: content-box; padding: 0 3px; padding-bottom: 20px;">
        <div class="header" style="height: 206px; position: static; box-sizing: content-box;">
          <div class="headerContent" style="overflow: hidden; position: absolute; box-sizing: content-box;">
            <div class="logo1" style="height: 144px; overflow: hidden; box-sizing: content-box; max-height: 144px;">
              <div class="left" style="float: left; width: 401px; box-sizing: content-box;"><img src="https://d1v5g5yve3hx29.cloudfront.net/2016-05-08_00-51-11/kiga/images/logo1.png?newsletterId=18279" alt="KigaPortal" title="KigaPortal" style="border-width: 0; vertical-align: baseline;"></div>
            </div>
            <div class="logo2" style="height: 34px; overflow: hidden; box-sizing: content-box; max-height: 34px;"><img src="https://d1v5g5yve3hx29.cloudfront.net/2016-05-08_00-51-11/kiga/images/logo2.png?newsletterId=18279" alt="KigaPortal" title="KigaPortal" style="margin-left: 43px; border-width: 0; vertical-align: baseline;">
              <h1 class="tagLine" style="font-size: 14px; font-weight: 400; margin: 0; padding-left: 90px; margin-bottom: 40px;">Spielen, forschen und lernen mit Kindern</h1>
            </div>
            <div class="logo3" style="height: 29px; padding-left: 1px; box-sizing: content-box;">
              <div class="left" style="float: left; box-sizing: content-box;"><img src="https://d1v5g5yve3hx29.cloudfront.net/2016-05-08_00-51-11/kiga/images/logo3.png?newsletterId=18279" alt="KigaPortal" title="KigaPortal" style="height: 19px; margin-left: 39px; border-width: 0; vertical-align: baseline;"></div>
            </div>
          </div>
        </div>
        <div class="mainLayout" style="box-sizing: content-box; padding-left: 20px;">
          <h1 class="nlMargin" style="font-size: 14px; font-weight: 400; margin-bottom: 40px; margin-left: 12px!important; margin-right: 12px;">Ihre Meinung ist gefragt - LAPBAG Wünsche</h1>
          <p class="nlMargin salutation" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 25px; margin-bottom: 20px!important; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;">Liebe KollegInnen, liebe Eltern,</p>
          <p class="nlMargin prolog additionalText" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 14px; margin-bottom: 50px!important; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;">wir freuen uns über das große Interesse an unserem ersten LapBAG.<br><br>Damit wir unsere nächsten LAPBAGS noch besser an Ihre Wünsche und Bedürfnisse anpassen können, bitten wir Sie um Ihre Mithilfe.<br><br>Wir werden uns bemühen, Ihre Wünsche und Anregungen bei der Gestaltung des nächsten LAPBAGS miteinzubeziehen und möchten als Dankeschön unter allen, die mitmachen ein LAPBAG der neuen Produktion verlosen.</p>
          <a href="$basePath" style="color: #646567; text-decoration: none;"><img src="https://s3-eu-west-1.amazonaws.com/kiga/Umfrage.png" alt="Umfrage" style="border-width: 0; vertical-align: baseline;"></a>
          <p class="nlMargin prolog additionalText" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 14px; margin-bottom: 50px!important; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;"><a style="color: #f29400; text-decoration: none;" href="$basePath"><strong>Link zur Umfrage</strong></a></p>
          <p class="nlMargin epilog" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 14px; margin-bottom: 0; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;"> </p>
          <div class="footerText" style="box-sizing: content-box; margin-top: 25px;">
            <p class="footer1 nlMargin" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 14px; margin-bottom: 50px!important; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;"><a href="http://www.kigaportal.com?newsletterId=18279" style="color: #646567; text-decoration: none;">www.kigaportal.com</a></p>
            <p class="footer2 nlMargin" style="color: #646567; font-family: Verdana,'Bitstream Vera Sans',sans-serif; font-size: 10px; margin-bottom: 0; margin-left: 12px!important; margin-right: 12px; margin-top: 0; margin: 0;">Bitte antworten Sie nicht auf diese Nachricht. Dies ist eine automatisierte Nachricht von KigaPortal.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="box-sizing: content-box; background-image: url(https://d1v5g5yve3hx29.cloudfront.net/2016-05-08_00-51-11/kiga/images/footerNl.png); height: 38px; margin: 0 auto; margin-bottom: 20px;">
      <div class="innerFooter" style="box-sizing: content-box; padding-top: 10px;">
        <div class="footerLeft" style="box-sizing: content-box; float: left; padding-left: 25px; width: 175px;">© KiGaPortal 2003 - 2016</div>
      </div>
    </div>
  </div>
</div>
