<div class="form-group">
  <label>{{label}}</label>
  <input type="number" [formControl]="formControl" [attr.disabled]="disabled ? '' : null">
  <kiga-validation-messages [control]="formControl"></kiga-validation-messages>
</div>

