<div class="block-item">
  <meta name="productTitle" content="{{$ctrl.item.productTitle}}"/>
  <div class="title full hidden-lsm hidden-sm">{{$ctrl.item.title}}</div>
  <div class="line red"></div>
  <div class="rectangle">
    <img class="img-responsive hidden-md hidden-lsm hidden-sm" ng-src="{{$ctrl.item.largePreviewUrl}}"/>
    <img class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg" ng-src="{{$ctrl.item.previewUrl}}"/>
  </div>
  <div class="title full hidden-md hidden-xlg hidden-lg hidden-lmd hidden-lg">{{$ctrl.item.title}}</div>
  <div class="desc" ng-bind-html="$ctrl.item.description"></div>
  <div class="price-line" ng-if="$ctrl.item.grossPrice != null">
    <span class="price">
      {{ $ctrl.item.grossPrice | kigaCurrency:$ctrl.item.currency }}
    </span>
    <span class="oldPriceWrapper" ng-if="$ctrl.item.grossPrice < $ctrl.item.oldPriceGross && $ctrl.item.oldPriceGross != null">
      <span class="oldPrice">
          {{ $ctrl.item.oldPriceGross | kigaCurrency:$ctrl.item.currency }}
      </span>
    </span>
  </div>
</div>
