<div ng-if="ctrl.context == 'checkout'" ng-include="'shop/partials/includes/header.html'"></div>
<div class="col-lg-60 col-sm-60">
  <form name="customerForm" class="one-col" ng-submit="ctrl.submit()">
    <div class="panel panel-default">
      <div ng-if="ctrl.context == 'checkout'" class="customerShopHeader" translate="SHOP_ORDER_HEADER"></div>
      <div ng-if="ctrl.canDeliver == false">
        <h3 class="alert-warning">
          <span translate="SHOP_INVALID_IN_CART" translate-values="{country: ctrl.data.shipping.to}"></span>
        </h3>
      </div>
      <div class="panel-heading">
        {{ 'SHOP_CART_DATA' | translate }}
      </div>
      <div class="panel-body product-selection" ng-if="ctrl.data.products.length">
        <div class="row products-header hidden-sm hidden-lsm">
          <div class="col-lg-15 col-lmd-15 col-md-17">
            <div class="product-table-header" translate="SHOP_PRODUCT"></div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-13">
            <div class="product-table-header" translate="SHOP_AMOUNT"></div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15">
            <div class="product-table-header" translate="SHOP_COST"></div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15">
            <div class="product-table-header" translate="SHOP_COST_ACCUM"></div>
          </div>
        </div>
        <div class="row products" ng-repeat="product in ctrl.data.products">
          <div class="col-lg-15 col-lmd-15 col-md-17 hidden-sm hidden-lsm">
            <div class="product-table-item product-title">
              <span>{{ product.title }}</span>
              <p class="delivery-time" translate="SHOP_DELIVERY_TIME"
                 translate-values="{minDays: product.minDeliveryDays, maxDays:product.maxDeliveryDays}"></p>
            </div>
          </div>
          <div class="hidden-xlg hidden-lg hidden-lmd hidden-md col-sm-60 col-lsm-60">
            {{ product.title }}
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-13 col-lsm-40 col-sm-40">
            <div class="row product-table-item">
              <div class="col-lg-35 col-lmd-35 col-md-35 col-lsm-35 col-sm-35">
                <ui-select class="item-selection" ng-model="product.amount" on-select="ctrl.setAmount(product)">
                  <ui-select-match>{{product.amount}}</ui-select-match>
                  <ui-select-choices repeat="amount in ctrl.amountList">
                    <span ng-bind="amount"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-lg-25 col-lmd-25 col-md-25 col-lsm-25 col-sm-25">
                <a ng-click="ctrl.removeItem(product.id, product.productId)" ng-if="ctrl.context == 'basket' || ctrl.data.products.length > 1">
                  <i class="icon icon-close icon-large"></i>
                </a>
                &nbsp;
              </div>
              <p class="hidden-xlg hidden-lg hidden-lmd hidden-md col-sm-60 col-lsm-60 delivery-time"
                 translate="SHOP_DELIVERY_TIME"
                 translate-values="{minDays: product.minDeliveryDays, maxDays:product.maxDeliveryDays}"></p>
            </div>

          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15 col-lsm-20 col-sm-20">
            <div class="product-table-item single" ng-class="{'with-discount': product.hasDiscount}">
              <div class="currency-left">
                <span class="actual">{{ ctrl.data.currency }}</span>
                <span class="original">{{ ctrl.data.currency }}</span>
              </div>
              <div class="currency-right">
                <span class="actual">{{ product.price | kigaCurrency : '' }}</span>
                <span class="original">{{ product.originalPrice | kigaCurrency : '' }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15 hidden-sm hidden-lsm">
            <div class="product-table-item total" ng-class="{'with-discount': product.hasDiscount}">
              <div class="currency-left">
                <span class="actual">{{ ctrl.data.currency }}</span>
                <span class="original">{{ ctrl.data.currency }}</span>
              </div>
              <div class="currency-right">
                <span class="actual">{{ product.sum | kigaCurrency : '' }}</span>
                <span class="original">{{ product.originalSum | kigaCurrency : '' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row product-table-delivery">
          <div class="col-lg-15 col-lmd-15 col-md-15 col-lsm-40 col-sm-40 product-table-delivery-item">

            <div ng-if="ctrl.data.shipping.cost > 0" translate="SHOP_DELIVERY_COST"></div>
            <div ng-if="ctrl.data.shipping.cost == 0" translate="SHOP_DELIVERY_COST_FREE"></div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15 hidden-lsm hidden-sm product-table-delivery-item">&nbsp;</div>
          <div class="col-lg-15 col-lmd-15 col-md-15 hidden-lsm hidden-sm product-table-delivery-item">{{ ctrl.data.shipping.to }}&nbsp;</div>
          <div class="col-lg-15 col-lmd-15 col-md-15 col-lsm-20 col-sm-20 product-table-delivery-item">
            <div class="currency-left">
              {{ ctrl.data.currency }}
            </div>
            <div class="currency-right">
              {{ ctrl.data.shipping.cost | kigaCurrency : '' }}
            </div>
          </div>
        </div>


        <div class="row product-table-result">
          <div class="col-lg-15 col-lmd-15 col-md-15 col-lsm-40 col-sm-40 product-table-delivery-item">
            <div translate="SHOP_TOTAL"></div>
          </div>
          <div class="col-lg-15 col-lmd-15 col-md-15 hidden-lsm hidden-sm product-table-delivery-item">&nbsp;</div>
          <div class="col-lg-15 col-lmd-15 col-md-15 hidden-lsm hidden-sm product-table-delivery-item">&nbsp;</div>
          <div class="col-lg-15 col-lmd-15 col-md-15 col-lsm-20 col-sm-20 product-table-delivery-item">
            <div class="currency-left">
              {{ ctrl.data.currency }}
            </div>
            <div class="currency-right">
              {{ ctrl.data.total | kigaCurrency : '' }}
            </div>
          </div>
        </div>
        <div class="row product-table-result-line"></div>
      </div>

      <!-- no products start -->
      <div class="panel-body text-center" ng-if="ctrl.showNoItems()"
           translate="SHOP_BASKET_EMPTY" translate-values="{shopLink: ctrl.shopLink}">

      </div>

      <voucher ng-show="ctrl.showVoucher" code="ctrl.voucherCode"
               submit="ctrl.submit()" show-error="ctrl.showVoucherError"></voucher>

      <div class="row product-table-bottom-line">
        <div class="product-table-bottom-space">
          <div ng-show="ctrl.data.country == 'ch' || ctrl.data.country == 'li'">
            <p translate="SHOP_CART_CUSTOMS_MESSAGE"></p>
          </div>

          <div ng-hide="ctrl.data.country == 'ch' || ctrl.data.country == 'li'">
            &nbsp;
          </div>

        </div>
      </div>


      <!--Start Button Area-->
      <div class="buttons">
        <div class="left">
          <button ng-if="ctrl.context != 'checkout'"
                  type="button"
                  class="cancel"
                  ng-click="ctrl.goBack()"
                  translate="BUTTON_BACK">
          </button>
          <button ng-if="ctrl.context == 'checkout'"
                  type="button"
                  class="cancel"
                  ng-click="ctrl.goBack()"
                  translate="BUTTON_CANCEL">
          </button>
        </div>
        <div class="right">
          <button ng-if="ctrl.context == 'checkout' && ctrl.canDeliver" type="submit" translate="BUTTON_NEXT"></button>
          <button ng-if="ctrl.context == 'basket' && ctrl.data.products.length" type="submit" translate="SHOP_BUTTON_CHECKOUT"></button>
        </div>
      </div>

      <div class="row">
        <p></p>
        <p translate="REG_SUPPORT_INFO"></p>
      </div>
    </div>
  </form>
</div>
