<div class="ideas shop">
    <div class="ideas-overview-new">

      <div class="container">
        <div class="buttons" ng-show="ctrl.showEditButton()">
          <div class="full-width">
            <a ui-sref="root.backend.shopSliderEdit.slider">
              <button type="submit" t="BUTTON_EDIT"></button>
            </a>
          </div>
        </div>

        <slider elements="ctrl.sliderElements"></slider>
      </div>
      <div class="divider"></div>
      <div class="container">
          <div class="row">
            <kiga-link ng-repeat="product in ctrl.products  track by $index"
                       url="{{product.ngUrl}}" tag="box_{{$index}}">
              <block-item item="product"></block-item>
              <div class="clearfix" ng-if="!$first && ($index + 1) % 4 === 0"></div>
            </kiga-link>
          </div>
      </div>
    </div>
</div>
