<div class="row finished">
  <form role="form" class="shop-scheme small" ng-submit="ctrl.submit()">

    <div class="panel panel-default">
      <div class="panel-heading" translate="SHOP_FINISHED_TITLE">
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label translate="SHOP_FINISHED_HEADER"></label>
        </div>

        <div class="form-group icon">
          <i class="icon-cart"></i>
        </div>

        <div class="form-group">
          <label translate="SHOP_FINISHED_TEXT"></label>
        </div>
      </div>
      <div class="buttons">
        <button class="full-width" type="submit" translate="SHOP_FINISHED_BACK">
        </button>
      </div>
    </div>

  </form>
</div>
