<div ng-include="'shop/partials/includes/header.html'"></div>
<div class="col-lg-60 col-sm-60">
  <form name="inputForm" class="one-col" ng-submit="ctrl.submit()">
    <h3 ng-if="resumeCode" class="alert-warning">
      <span ng-if="resumeCode=='paymentCancel'" translate="REG_PAYMENT_CANCEL_INFO"></span>
      <span ng-if="resumeCode=='paymentFailure'" translate="REG_PAYMENT_FAILURE_INFO"></span>
    </h3>
    <div class="panel panel-default">
      <div class="customerShopHeader" translate="SHOP_ORDER_HEADER"></div>

      <div class="panel-heading">{{ 'REG_PAYMENT_TYPES' | translate }}</div>
      <div class="panel-body">
        <div class="payment">
          <h3 ng-if="ctrl.showFailedPayment()" class="alert-warning">
            <span translate="REG_PAYMENT_FAILURE_INFO"></span>
          </h3>
          <div class="form-group">
            <!-- Credit Card -->
            <div class="checkbox">
              <label class="radio-inline">
                <input
                  type="radio"
                  name="paymentMethod"
                  value="MP-CC"
                  ng-change="ctrl.paymentChanged()"
                  ng-model="ctrl.data.paymentMethod"
                  class="form-control"
                  required
                  icheck
                  no-fab-form-validation
                />
                <img ng-src="{{url('shop/images/visa.png')}}" alt="visa" class="icon" />
                <img ng-src="{{url('shop/images/mastercard.png')}}" alt="mastercard" class="icon" />
              </label>
            </div>

            <!-- PAYPAL -->
            <div class="checkbox">
              <label class="radio-inline">
                <input
                  type="radio"
                  name="paymentMethod"
                  value="MP-PAYPAL"
                  ng-change="ctrl.paymentChanged()"
                  ng-model="ctrl.data.paymentMethod"
                  required
                  icheck
                  no-fab-form-validation
                />
                <img ng-src="{{url('shop/images/paypal.png')}}" alt="paypal" class="icon" />
              </label>
            </div>

            <!-- SOFORT -->
            <div class="checkbox">
              <label class="radio-inline">
                <input
                  type="radio"
                  name="paymentMethod"
                  value="SOFORT"
                  ng-change="ctrl.paymentChanged()"
                  ng-model="ctrl.data.paymentMethod"
                  required
                  icheck
                  no-fab-form-validation
                />
                <img ng-src="{{url('shop/images/sofort.png')}}" alt="Sofort" class="icon" />
              </label>
            </div>

            <!-- INVOICE -->
            <div class="checkbox" ng-show="{{ctrl.showInvoice}}">
              <label class="radio-inline">
                <input
                  type="radio"
                  name="paymentMethod"
                  value="INVOICE"
                  ng-change="ctrl.paymentChanged()"
                  ng-model="ctrl.data.paymentMethod"
                  required
                  icheck
                  no-fab-form-validation
                />
                {{ 'SHOP_INVOICE' | translate }}
              </label>
            </div>
            <input
              name="paymentValidator"
              type="hidden"
              ng-model="ctrl.data.paymentMethod"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="row product-table-bottom-line">
      <div class="product-table-bottom-space">&nbsp;</div>
    </div>
    <!-- Start Button Area -->
    <div class="buttons">
      <div class="left">
        <button
          type="button"
          class="cancel"
          ng-click="ctrl.moveToPreviousStep()"
          translate="BUTTON_BACK"
        ></button>
      </div>
      <div class="right"><button type="submit" translate="BUTTON_NEXT"></button></div>
    </div>
    <div class="row">
      <p></p>
      <p translate="REG_SUPPORT_INFO"></p>
    </div>
  </form>
</div>
