<div class="product-container">

  <div class="container">
    <div class="rowDiv" ng-show="ctrl.showEditLink">
      <div class="span-4">
        <a ng-href="{{ctrl.editLink}}" t="BUTTON_EDIT"></a>
      </div>
    </div>

    <div class="rowDiv">
      <div class="span-4">
        <h1>{{ctrl.productPage.title}}</h1>
      </div>
    </div>
    <div class="rowDiv">
      <div class="span-4">
        <hr/>
      </div>
    </div>
    <div class="rowDiv">
      <div class="span-2" ng-show="ctrl.productPage.previewFileType == 'image'">
        <img class="rahmen0" src="{{ctrl.productPage.preview}}"/>
      </div>
      <div class="span-2" ng-if="ctrl.productPage.previewFileType == 'video' && 
          ctrl.productPage.videoUrl == file.videoUrl" 
        ng-repeat="file in ctrl.productPage.sliderItems track by $index">
        <video-player video-link="{{ctrl.productPage.videoUrl}}" preview-link="{{ctrl.productPage.preview}}"></video-player>
      </div>
      <div class="span-2 mt-sm metadata-row-normal">
        <div class="description">
          <strong><div ng-bind-html="ctrl.productPage.description"></div></strong>
        </div>
        <star-rating kiga-page-id="ctrl.productPage.id"></star-rating>
        <div class="price-block" ng-show="ctrl.productPage.currency">
          {{ ctrl.productPage.currency }}<span class="product-price">{{ " " + ctrl.productPage.grossPrice.toFixed(2) }}</span><br/>
          <span class="delivery-quotation">
	                	{{"SHOP_FREE_DELIVERY_QUOTATION" | translate }}
	                	<strong>{{ctrl.productPage.currency}} {{ctrl.productPage.freeShippingLimit.toFixed(2)}}</strong>
		      </span>
        </div>
        <span class="delivery-time" translate="SHOP_DELIVERY_TIME" ng-show="ctrl.productPage.minDeliveryDays"
              translate-values="{minDays: ctrl.productPage.minDeliveryDays, maxDays:ctrl.productPage.maxDeliveryDays}">
                </span>
      </div>
    </div>
    <div class="rowDiv">
      <div class="span-4">
        <div class="slider-items-row">
          <div class="container">
            <div class="carousel_row">
              <div class="arrows">
                <a href="" id="carousel_list_prev" role="button">
                  <i class="icon icon-arrow-left large left_arrow"></i>
                </a>
              </div>
              <div class="carousel_list" scroll-pane="{
						                  prevButton:'#carousel_list_prev',
						                  nextButton:'#carousel_list_next',
						                  watch: 'ctrl.productPage.sliderItems.length',
						                  autoHideButtons: true,
						                  pageScroll: true
						                }">
                <div class="element" ng-repeat="file in ctrl.productPage.sliderItems track by $index"
                     ng-click="ctrl.selectPreviewItem($index)">
                  <div class="idea-img">
                    <div class="img-border"></div>
                    <img ng-src="{{file.sliderImageUrl}}"/>
                  </div>
                </div>
              </div>
              <div class="arrows next-button">
                <a href="" id="carousel_list_next" role="button">
                  <i class="icon icon-arrow-right large right_arrow"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rowDiv">
      <div class="span-2 metadata-row-small">
        <div class="description">
          <strong><div ng-bind-html="ctrl.productPage.description"></div></strong>
        </div>
        <star-rating kiga-page-id="ctrl.productPage.id"></star-rating>
        <div class="price-block">
          {{ ctrl.productPage.currency }}<span class="product-price">{{ " " +  ctrl.productPage.grossPrice.toFixed(2) }}</span><br/>
          <span class="delivery-quotation">
	                	{{"SHOP_FREE_DELIVERY_QUOTATION" | translate }}
	          <strong>{{ctrl.productPage.currency}} {{ctrl.productPage.freeShippingLimit.toFixed(2)}}</strong>
		      </span>
        </div>
        <span class="delivery-time" translate="SHOP_DELIVERY_TIME"
              translate-values="{minDays: ctrl.productPage.minDeliveryDays, maxDays:ctrl.productPage.maxDeliveryDays}">
                </span>
      </div>
    </div>


    <div class="rowDiv">
      <div class="span-4">
        <hr/>
      </div>
    </div>

    <div class="rowDiv">
      <basket-putter product-id="ctrl.productPage.productId" available-in-country="ctrl.productPage.availableInCountry"
       country-name="ctrl.productPage.countryName"></basket-putter>
    </div>
  </div>
  <div bind-html-compile="ctrl.productPage.content"></div>
  <div class="container">
    <div class="rowDiv">
      <basket-putter product-id="ctrl.productPage.productId" available-in-country="ctrl.productPage.availableInCountry"
       country-name="ctrl.productPage.countryName"></basket-putter>
    </div>
    <div class="rowDiv">
      <div class="span-4">
        <hr/>
      </div>
    </div>    
  </div>  
</div>


