<div ng-include="'shop/partials/includes/header.html'"></div>

<div class="col-lg-60 col-sm-60" ng-if="!ctrl.changeBillingAddress && !ctrl.changeAddress">
  <form name="customerForm" method="post" class="three-col" ng-submit="ctrl.submit()">
    <div class="panel panel-default">
      <div class="customerShopHeader" translate="SHOP_ORDER_HEADER"></div>
      <div class="panel-heading">{{ 'SHOP_ADDRESS' | translate }}</div>
      <div class="panel-body">
        <div class="col-1 customer-data-left">
          <div class="form-group">
            <div class="checkbox">
              <label class="radio-inline">
                <input
                  name="gender"
                  type="radio"
                  value="female"
                  class="form-control"
                  ng-model="ctrl.data.customer.gender"
                  icheck
                />
                {{ 'FIELD_FEMALE' | translate }}
              </label>
              <label class="radio-inline">
                <input
                  name="gender"
                  type="radio"
                  value="male"
                  class="form-control"
                  ng-model="ctrl.data.customer.gender"
                  icheck
                />
                {{ 'FIELD_MALE' | translate }}
              </label>
            </div>

            <input
              name="firstname"
              type="text"
              placeholder="{{ 'FIELD_FIRSTNAME' | translate }}"
              class="form-control"
              ng-model="ctrl.data.customer.firstname"
              required
            />
            <input
              name="lastname"
              type="text"
              placeholder="{{ 'FIELD_LASTNAME' | translate }}"
              class="form-control"
              ng-model="ctrl.data.customer.lastname"
              required
            />

            <input
              name="institutionname1"
              type="text"
              placeholder="{{ 'REG_INSTNAME' | translate }}"
              class="form-control"
              ng-model="ctrl.data.customer.addressName1"
            />
            <input
              name="institutionname2"
              type="text"
              placeholder="{{ 'REG_INSTNAME' | translate }}"
              class="form-control"
              ng-model="ctrl.data.customer.addressName2"
            />

            <input
              type="text"
              required
              placeholder="{{ 'FIELD_PHONE' | translate }}"
              ng-model="ctrl.data.customer.phoneNr"
              pattern="\+?[\d ,\-,/]+"
              validation-msg-pattern="{{ 'VALIDATE_PATTERN_PHONE' | translate }}"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <div class="oneAddress">
              <p class="boldFont" translate="SHOP_ADDRESS"></p>

              <input
                type="text"
                required
                placeholder="{{ 'FIELD_STREET' | translate }}"
                ng-model="ctrl.temporaryAddressData.street"
                class="form-control"
              />
              <div class="row">
                <div class="customer-data-streetnumber">
                  <input
                    type="text"
                    required
                    placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                    ng-model="ctrl.temporaryAddressData.streetNumber"
                    class="form-control"
                  />
                </div>

                <div class="customer-data-floornumber">
                  <input
                    type="text"
                    placeholder="{{ 'FIELD_FLOOR' | translate }}"
                    ng-model="ctrl.temporaryAddressData.floorNumber"
                    class="form-control"
                  />
                </div>
                <div class="customer-data-doornumber">
                  <input
                    type="text"
                    ng-model="ctrl.temporaryAddressData.doorNumber"
                    placeholder="{{ 'FIELD_DOORNR' | translate }}"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="customer-data-zip">
                  <input
                    type="text"
                    required
                    placeholder="{{ 'FIELD_ZIP' | translate }}"
                    ng-model="ctrl.temporaryAddressData.zip"
                    class="form-control"
                  />
                </div>
                <div class="customer-data-city">
                  <input
                    type="text"
                    required
                    placeholder="{{ 'FIELD_CITY' | translate }}"
                    ng-model="ctrl.temporaryAddressData.city"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row">
                <div class="customer-data-country">
                  <input
                    type="text"
                    required
                    placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                    ng-model="ctrl.data.shipping.to"
                    class="form-control customer-data-country"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="input-group input-group-lg customer-data-shippingOn">
            <div class="form-group extraAddress">
              <div class="checkbox">
                <!-- only there when needed -->
                <label>
                  <input
                    type="checkbox"
                    ng-model="ctrl.data.customer.shippingOn"
                    ng-true-value="'1'"
                    ng-false-value="'0'"
                    icheck
                  />
                  {{ 'SHOP_DELIVERY_ADDRESS_ON' | translate }}
                </label>
              </div>
            </div>
          </div>

          <div class="input-group input-group-lg customer-data-billOn">
            <div class="form-group extraAddress">
              <div class="checkbox">
                <!-- only there when needed -->
                <label>
                  <input
                    type="checkbox"
                    ng-model="ctrl.data.customer.billOn"
                    ng-true-value="'1'"
                    ng-false-value="'0'"
                    icheck
                  />
                  {{ 'SHOP_BILLING_ADDRESS_ON' | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 customer-data-left">
          <div class="form-group">
            <!-- only visible when "shippingOn" is active -->
            <!-- Start "shippingOn" active -->
            <div ng-if="ctrl.data.customer.shippingOn == true">
              <div class="form-group">
                <div class="oneAddress">
                  <p class="boldFont" translate="SHOP_DELIVERY_ADDRESS_ON"></p>

                  <input
                    name="shippingStreet"
                    type="text"
                    placeholder="{{ 'FIELD_STREET' | translate }}"
                    class="form-control"
                    ng-model="ctrl.data.customer.shippingStreet"
                    required
                  />

                  <div class="input-group input-group-lg">
                    <div class="customer-data-streetnumber">
                      <input
                        name="shippingStreetNumber"
                        type="text"
                        placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.data.customer.shippingStreetNumber"
                        required
                      />
                    </div>
                    <div class="customer-data-floornumber">
                      <input
                        name="shippingFloorNumber"
                        type="text"
                        placeholder="{{ 'FIELD_FLOOR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.data.customer.shippingFloorNumber"
                      />
                    </div>
                    <div class="customer-data-doornumber">
                      <input
                        name="shippingDoorNumber"
                        type="text"
                        placeholder="{{ 'FIELD_DOORNR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.data.customer.shippingDoorNumber"
                      />
                    </div>
                    <div class="input-group input-group-lg">
                      <div class="customer-data-zip">
                        <input
                          type="text"
                          required
                          placeholder="{{ 'FIELD_ZIP' | translate }}"
                          ng-model="ctrl.data.customer.shippingZip"
                          class="form-control"
                        />
                      </div>
                      <div class="customer-data-city">
                        <input
                          type="text"
                          required
                          placeholder="{{ 'FIELD_CITY' | translate }}"
                          ng-model="ctrl.data.customer.shippingCity"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="customer-data-country">
                    <input
                      type="text"
                      required
                      placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                      ng-model="ctrl.data.shipping.to"
                      class="form-control"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------- -->
            <!-- only visible when "billOn" is active -->
            <!-- Start "billOn" active -->
            <div ng-if="ctrl.data.customer.billOn == true">
              <div class="form-group">
                <div class="oneAddress">
                  <p class="boldFont" translate="SHOP_BILLING_ADDRESS_ON"></p>

                  <input
                    name="billAddressName1"
                    type="text"
                    placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                    class="form-control"
                    ng-model="ctrl.temporaryBillingAddressData.billAddressName1"
                  />
                  <input
                    name="billAddressName2"
                    type="text"
                    placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                    class="form-control"
                    ng-model="ctrl.temporaryBillingAddressData.billAddressName2"
                  />

                  <input
                    name="billStreet"
                    type="text"
                    placeholder="{{ 'FIELD_STREET' | translate }}"
                    class="form-control"
                    ng-model="ctrl.temporaryBillingAddressData.billStreet"
                    required
                  />

                  <div class="input-group input-group-lg">
                    <div class="customer-data-streetnumber">
                      <input
                        name="billStreetNumber"
                        type="text"
                        placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.temporaryBillingAddressData.billStreetNumber"
                        required
                      />
                    </div>
                    <div class="customer-data-floornumber">
                      <input
                        name="billFloorNumber"
                        type="text"
                        placeholder="{{ 'FIELD_FLOOR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.temporaryBillingAddressData.billFloorNumber"
                      />
                    </div>
                    <div class="customer-data-doornumber">
                      <input
                        name="billDoorNumber"
                        type="text"
                        placeholder="{{ 'FIELD_DOORNR' | translate }}"
                        class="form-control"
                        ng-model="ctrl.temporaryBillingAddressData.billDoorNumber"
                      />
                    </div>
                    <div class="input-group input-group-lg">
                      <div class="customer-data-zip">
                        <input
                          type="text"
                          required
                          placeholder="{{ 'FIELD_ZIP' | translate }}"
                          ng-model="ctrl.temporaryBillingAddressData.billZip"
                          class="form-control"
                        />
                      </div>
                      <div class="customer-data-city">
                        <input
                          type="text"
                          required
                          placeholder="{{ 'FIELD_CITY' | translate }}"
                          ng-model="ctrl.temporaryBillingAddressData.billCity"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="customer-data-country">
                    <input
                      type="text"
                      required
                      placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                      ng-model="ctrl.data.shipping.to"
                      class="form-control"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of extra Address -->
        </div>
        <!-- End "billOn" active -->
        <div class="col-3 hidden-sm hidden-lsm hidden-md hidden-lmd customer-data-right">
          <p class="img">
            <img ng-src="{{url('shop/images/shop_pic.jpg')}}" alt="Kleckse" width="250" />
          </p>
          <!-- active when there is a valid emailaddress -->
        </div>
      </div>

      <div class="row product-table-bottom-line">
        <div class="product-table-bottom-space">&nbsp;</div>
      </div>
      <!-- Start Button Area -->
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            class="cancel"
            ng-click="ctrl.cancel()"
            translate="BUTTON_CANCEL"
          ></button>
        </div>
        <div class="right"><button type="submit" translate="BUTTON_NEXT"></button></div>
      </div>
      <div class="row">
        <p></p>
        <p translate="REG_SUPPORT_INFO"></p>
      </div>
    </div>
  </form>
</div>
<!-- --------------------------If User changed the BillingAddress------------------------------- -->
<!-- User can decide if address should change in CRM too or not -->
<div class="col-lg-60 col-sm-60" ng-if="ctrl.changeBillingAddress && !ctrl.changeAddress">
  <form
    name="customerForm"
    method="post"
    class="three-col"
    ng-submit="ctrl.acceptBillingAddressChange()"
  >
    <div class="panel panel-default">
      <div class="panel-heading">{{ 'SHOP_BILLING_ADDRESS' | translate }}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-1 customer-data-left">
            <div class="form-group">
              <div>
                <div class="form-group">
                  <div class="oneAddress">
                    <p class="boldFont" translate="SHOP_OLD_BILLING_ADDRESS"></p>

                    <input
                      name="billAddressName1"
                      type="text"
                      placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                      class="form-control"
                      ng-model="ctrl.data.customer.billAddressName1"
                    />
                    <input
                      name="billAddressName2"
                      type="text"
                      placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                      class="form-control"
                      ng-model="ctrl.data.customer.billAddressName2"
                    />

                    <input
                      name="billStreet"
                      type="text"
                      placeholder="{{ 'FIELD_STREET' | translate }}"
                      class="form-control"
                      ng-model="ctrl.data.customer.billStreet"
                    />

                    <div class="input-group input-group-lg">
                      <div class="customer-data-streetnumber">
                        <input
                          name="billStreetNumber"
                          type="text"
                          placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.billStreetNumber"
                        />
                      </div>
                      <div class="customer-data-floornumber">
                        <input
                          name="billFloorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_FLOOR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.billFloorNumber"
                        />
                      </div>
                      <div class="customer-data-doornumber">
                        <input
                          name="billDoorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_DOORNR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.billDoorNumber"
                        />
                      </div>
                      <div class="input-group input-group-lg">
                        <div class="customer-data-zip">
                          <input
                            type="text"
                            placeholder="{{ 'FIELD_ZIP' | translate }}"
                            ng-model="ctrl.data.customer.billZip"
                            class="form-control"
                          />
                        </div>
                        <div class="customer-data-city">
                          <input
                            type="text"
                            placeholder="{{ 'FIELD_CITY' | translate }}"
                            ng-model="ctrl.data.customer.billCity"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="customer-data-country">
                      <input
                        type="text"
                        required
                        placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                        ng-model="ctrl.data.shipping.to"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 customer-data-left">
            <div class="form-group">
              <div>
                <div class="form-group">
                  <div class="oneAddress">
                    <p class="boldFont" translate="SHOP_NEW_BILLING_ADDRESS"></p>

                    <input
                      name="billAddressName1"
                      type="text"
                      placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                      class="form-control"
                      ng-model="ctrl.temporaryBillingAddressData.billAddressName1"
                    />
                    <input
                      name="billAddressName2"
                      type="text"
                      placeholder="{{ 'REG_INSTBILLNAME' | translate }}"
                      class="form-control"
                      ng-model="ctrl.temporaryBillingAddressData.billAddressName2"
                    />

                    <input
                      name="billStreet"
                      type="text"
                      placeholder="{{ 'FIELD_STREET' | translate }}"
                      class="form-control"
                      ng-model="ctrl.temporaryBillingAddressData.billStreet"
                      required
                    />

                    <div class="input-group input-group-lg">
                      <div class="customer-data-streetnumber">
                        <input
                          name="billStreetNumber"
                          type="text"
                          placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryBillingAddressData.billStreetNumber"
                          required
                        />
                      </div>
                      <div class="customer-data-floornumber">
                        <input
                          name="billFloorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_FLOOR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryBillingAddressData.billFloorNumber"
                        />
                      </div>
                      <div class="customer-data-doornumber">
                        <input
                          name="billDoorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_DOORNR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryBillingAddressData.billDoorNumber"
                        />
                      </div>
                      <div class="input-group input-group-lg">
                        <div class="customer-data-zip">
                          <input
                            type="text"
                            required
                            placeholder="{{ 'FIELD_ZIP' | translate }}"
                            ng-model="ctrl.temporaryBillingAddressData.billZip"
                            class="form-control"
                          />
                        </div>
                        <div class="customer-data-city">
                          <input
                            type="text"
                            required
                            placeholder="{{ 'FIELD_CITY' | translate }}"
                            ng-model="ctrl.temporaryBillingAddressData.billCity"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="customer-data-country">
                      <input
                        type="text"
                        required
                        placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                        ng-model="ctrl.data.shipping.to"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="changeAddressWarning">
          <p translate="SHOP_WARNING_HEADER" class="warningHeader"></p>
          <p translate="SHOP_WARNING_BILLING_ADDRESS_CHANGE"></p>
        </div>
      </div>

      <div class="row product-table-bottom-line">
        <div class="product-table-bottom-space">&nbsp;</div>
      </div>
      <!-- Start Button Area -->
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            class="cancel"
            ng-click="ctrl.notAcceptBillingAddressChange()"
            translate="BUTTON_NO"
          ></button>
        </div>
        <div class="right"><button type="submit" translate="BUTTON_YES"></button></div>
      </div>
      <div class="row">
        <p></p>
        <p translate="REG_SUPPORT_INFO"></p>
      </div>
    </div>
  </form>
</div>

<!-- --------------------------If User changed the Address (= ShippingAddress)------------------ -->
<!-- User can decide if address should change in CRM too or not -->
<div class="col-lg-60 col-sm-60" ng-if="ctrl.changeAddress && !ctrl.changeBillingAddress">
  <form name="customerForm" method="post" class="three-col" ng-submit="ctrl.acceptAddressChange()">
    <div class="panel panel-default">
      <div class="panel-heading">{{ 'SHOP_ADDRESS' | translate }}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-1 customer-data-left">
            <div class="form-group">
              <div>
                <div class="form-group">
                  <div class="oneAddress">
                    <p class="boldFont" translate="SHOP_OLD_ADDRESS"></p>

                    <input
                      name="shippingStreet"
                      type="text"
                      placeholder="{{ 'FIELD_STREET' | translate }}"
                      class="form-control"
                      ng-model="ctrl.data.customer.street"
                    />

                    <div class="input-group input-group-lg">
                      <div class="customer-data-streetnumber">
                        <input
                          name="shippingStreetNumber"
                          type="text"
                          placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.streetNumber"
                        />
                      </div>
                      <div class="customer-data-floornumber">
                        <input
                          name="shippingFloorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_FLOOR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.floorNumber"
                        />
                      </div>
                      <div class="customer-data-doornumber">
                        <input
                          name="shippingDoorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_DOORNR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.data.customer.doorNumber"
                        />
                      </div>
                      <div class="input-group input-group-lg">
                        <div class="customer-data-zip">
                          <input
                            type="text"
                            placeholder="{{ 'FIELD_ZIP' | translate }}"
                            ng-model="ctrl.data.customer.zip"
                            class="form-control"
                          />
                        </div>
                        <div class="customer-data-city">
                          <input
                            type="text"
                            placeholder="{{ 'FIELD_CITY' | translate }}"
                            ng-model="ctrl.data.customer.city"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="customer-data-country">
                      <input
                        type="text"
                        required
                        placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                        ng-model="ctrl.data.shipping.to"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"><div class="oneAddress"></div></div>
          </div>
          <div class="col-2 customer-data-left">
            <div class="form-group">
              <div>
                <div class="form-group">
                  <div class="oneAddress">
                    <p class="boldFont" translate="SHOP_NEW_ADDRESS"></p>

                    <input
                      name="street"
                      type="text"
                      placeholder="{{ 'FIELD_STREET' | translate }}"
                      class="form-control"
                      ng-model="ctrl.temporaryAddressData.street"
                      required
                    />

                    <div class="input-group input-group-lg">
                      <div class="customer-data-streetnumber">
                        <input
                          name="streetNumber"
                          type="text"
                          placeholder="{{ 'FIELD_HOUSENR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryAddressData.streetNumber"
                          required
                        />
                      </div>
                      <div class="customer-data-floornumber">
                        <input
                          name="floorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_FLOOR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryAddressData.floorNumber"
                        />
                      </div>
                      <div class="customer-data-doornumber">
                        <input
                          name="doorNumber"
                          type="text"
                          placeholder="{{ 'FIELD_DOORNR' | translate }}"
                          class="form-control"
                          ng-model="ctrl.temporaryAddressData.doorNumber"
                        />
                      </div>
                      <div class="input-group input-group-lg">
                        <div class="customer-data-zip">
                          <input
                            type="text"
                            required
                            placeholder="{{ 'FIELD_ZIP' | translate }}"
                            ng-model="ctrl.temporaryAddressData.zip"
                            class="form-control"
                          />
                        </div>
                        <div class="customer-data-city">
                          <input
                            type="text"
                            required
                            placeholder="{{ 'FIELD_CITY' | translate }}"
                            ng-model="ctrl.temporaryAddressData.city"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="customer-data-country">
                      <input
                        type="text"
                        required
                        placeholder="{{ 'FIELD_COUNTRY' | translate }}"
                        ng-model="ctrl.data.shipping.to"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="changeAddressWarning">
          <p translate="SHOP_WARNING_HEADER" class="warningHeader"></p>
          <p translate="SHOP_WARNING_ADDRESS_CHANGE"></p>
        </div>
      </div>

      <div class="row product-table-bottom-line">
        <div class="product-table-bottom-space">&nbsp;</div>
      </div>
      <!-- Start Button Area -->
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            class="cancel"
            ng-click="ctrl.notAcceptAddressChange()"
            translate="BUTTON_NO"
          ></button>
        </div>
        <div class="right"><button type="submit" translate="BUTTON_YES"></button></div>
      </div>
      <div class="row">
        <p></p>
        <p translate="REG_SUPPORT_INFO"></p>
      </div>
    </div>
  </form>
</div>
