<div ng-include="'shop/partials/includes/header.html'"></div>
<div class="col-lg-60 col-sm-60 summary">
  <div class="row">

    <!-- Product Data -->
    <div class="customerData col-lg-30 col-md-60 col-sm-60">
      <form name="customerForm" method="post" validation-info-required="isValidationInfoRequired">
        <div class="panel panel-default">
          <div class="customerShopHeader" translate="SHOP_ORDER_FINISH_HEADER"></div>
          <div class="panel-heading" translate="SHOP_CART_HEADER"></div>
          <div class="panel-body product-selection">
            <div class="row products-header">
              <div class="col-lg-20 col-md-17 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-header" translate="SHOP_PRODUCT"></div>
              </div>
              <div class="col-lg-10  col-md-13 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-header" translate="SHOP_AMOUNT"></div>
              </div>
              <div class="col-lg-15  col-md-15 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-header" translate="SHOP_COST"></div>
              </div>
              <div class="col-lg-15  col-md-15 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-header" translate="SHOP_COST_ACCUM"></div>
              </div>
            </div>
            <div class="row products"
                 ng-repeat="product in ctrl.data.products">
              <div class="col-lg-20 col-sm-40">
                <div class="product-table-item product-title">
                  <span>{{ product.title }}</span>
                  <p class="delivery-time" translate="SHOP_DELIVERY_TIME"
                     translate-values="{minDays: product.minDeliveryDays, maxDays:product.maxDeliveryDays}"></p>
                </div>
              </div>
              <div class="col-lg-10 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-item">
                  {{ product.amount }}
                </div>
              </div>
              <div class="col-lg-15 hidden-sm hidden-lsm hidden-md hidden-lmd">
                <div class="product-table-item">
                  <div class="currency-left">
                    {{ ctrl.data.currency }}
                  </div>
                  <div class="currency-right">
                    {{ product.price | kigaCurrency : '' }}
                  </div>
                </div>
              </div>
              <div class="col-lg-15 col-sm-20">
                <div class="product-table-item">
                  <div class="currency-left">
                    {{ ctrl.data.currency }}
                  </div>
                  <div class="currency-right">
                    {{ product.sum | kigaCurrency : '' }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row product-table-delivery">
              <div class="col-lg-20 col-sm-40 product-table-delivery-item">
                <div ng-if="ctrl.data.shipping.cost > 0" translate="SHOP_DELIVERY_COST"></div>
                <div ng-if="ctrl.data.shipping.cost == 0" translate="SHOP_DELIVERY_COST_FREE"></div>
              </div>
              <div class="col-lg-10 product-table-delivery-item hidden-sm hidden-lsm hidden-md hidden-lmd">&nbsp;</div>
              <div class="col-lg-15 product-table-delivery-item hidden-sm hidden-lsm hidden-md hidden-lmd">{{
                ctrl.data.shipping.to }}
              </div>
              <div class="col-lg-15 col-sm-20 product-table-delivery-item">
                <div class="currency-left">
                  {{ ctrl.data.currency }}
                </div>
                <div class="currency-right">
                  {{ ctrl.data.shipping.cost | kigaCurrency: '' }}
                </div>
              </div>
            </div>
            <div class="row product-table-result">
              <div class="col-lg-30 col-sm-40 product-table-delivery-item">
                <div translate="SHOP_TOTAL"></div>
              </div>
              <div class="col-lg-15 product-table-delivery-item hidden-sm hidden-lsm hidden-md hidden-lmd">&nbsp;</div>
              <div class="col-lg-15 col-sm-20 product-table-delivery-item">
                <div class="currency-left">
                  {{ ctrl.data.currency }}
                </div>
                <div class="currency-right">
                  {{ ctrl.data.total | kigaCurrency : '' }}
                </div>
              </div>
            </div>
            <div class="row product-table-result-line"></div>
          </div>
        </div>
      </form>
    </div>

    <!-- Customer Data -->
    <div class="customerData col-lg-14 col-lg-offset-1 col-md-30 col-sm-60" ng-if="!ctrl.newShopRegistrationIsEnabled">
      <div class="customerShopHeader">&nbsp;</div>
      <form name="customerForm" method="post" validation-info-required="isValidationInfoRequired">
        <div class="panel panel-default">
          <div class="panel-heading" translate="SHOP_SHIPPING"></div>
          <div class="panel-body product-selection">
            <div class="row">
              <div class="col-lg-60 col-sm-60 customer-data-left">
                <div class="row">
                  <div class="row">
                    {{ ctrl.data.customer.email }}
                  </div>
                  <div class="row" ng-if="ctrl.data.customer.phoneNr">
                    <span translate="FIELD_PHONE"></span>:&nbsp;{{ ctrl.data.customer.phoneNr }}
                  </div>
                  <div class="row customer-address">
                    <label translate="SHOP_DELIVERY_ADDRESS"></label>
                  </div>
                </div>
                <div class="row">
                  <div ng-if="ctrl.data.customer.gender == 'female'">
                    {{ 'FIELD_FEMALE' | translate }}
                  </div>
                  <div ng-if="ctrl.data.customer.gender != 'female'">
                    {{ 'FIELD_MALE' | translate }}
                  </div>
                </div>
                <div class="row">
                  {{ ctrl.data.customer.firstname }}
                  {{ ctrl.data.customer.lastname }}
                </div>
                <div class="row" ng-if="ctrl.data.customer.addressName1">
                  {{ ctrl.data.customer.addressName1 }}
                </div>
                <div class="row" ng-if="ctrl.data.customer.addressName2">
                  {{ ctrl.data.customer.addressName2 }}
                </div>
                <div class="row">
                  {{ ctrl.data.customer.street }}&nbsp;{{ ctrl.data.customer.streetNumber }}&nbsp;
                  {{ ctrl.data.customer.floorNumber }}&nbsp;{{ ctrl.data.customer.doorNumber }}
                </div>
                <div class="row">
                  {{ ctrl.data.customer.zip }}&nbsp;{{ ctrl.data.customer.city }}
                </div>
                <div class="row">
                  {{ ctrl.data.shipping.to}}
                </div>
                <div ng-if="ctrl.data.customer.billOn == true">
                  <div class="row customer-address">
                    <label>{{ 'SHOP_BILLING_ADDRESS' | translate }}</label>
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billAddressName1 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billAddressName2 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billStreet }}&nbsp{{ ctrl.data.customer.billStreetNumber }}&nbsp;
                    {{ ctrl.data.customer.billFloorNumber }}&nbsp;{{ ctrl.data.customer.billDoorNumber }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billZip }}&nbsp;{{ ctrl.data.customer.billCity }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billCountry }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="shopping-previous-step">
            <button type="button" class="lighten"
                    translate="BUTTON_EDIT"
                    ng-click="ctrl.goTo('shipping')">
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="customerData col-lg-14 col-lg-offset-1 col-md-30 col-sm-60" ng-if="ctrl.newShopRegistrationIsEnabled">
      <div class="customerShopHeader">&nbsp;</div>
      <form name="customerForm" method="post" validation-info-required="isValidationInfoRequired">
        <div class="panel panel-default">
          <div class="panel-heading" translate="SHOP_ADDRESS"></div>
          <div class="panel-body product-selection">
            <div class="row">
              <div class="col-lg-60 col-sm-60 customer-data-left">
                <div class="row">
                  <div class="row">
                    {{ ctrl.data.customer.email }}
                  </div>
                  <div class="row" ng-if="ctrl.data.customer.phoneNr">
                    <span translate="FIELD_PHONE"></span>:&nbsp;{{ ctrl.data.customer.phoneNr }}
                  </div>
                  <div class="row customer-address">
                    <label translate="SHOP_ADDRESS"></label>
                  </div>
                </div>
                <div class="row">
                  <div ng-if="ctrl.data.customer.gender == 'female'">
                    {{ 'FIELD_FEMALE' | translate }}
                  </div>
                  <div ng-if="ctrl.data.customer.gender != 'female'">
                    {{ 'FIELD_MALE' | translate }}
                  </div>
                </div>
                <div class="row">
                  {{ ctrl.data.customer.firstname }}
                  {{ ctrl.data.customer.lastname }}
                </div>
                <div class="row" ng-if="ctrl.data.customer.addressName1">
                  {{ ctrl.data.customer.addressName1 }}
                </div>
                <div class="row" ng-if="ctrl.data.customer.addressName2">
                  {{ ctrl.data.customer.addressName2 }}
                </div>
                <div class="row">
                  {{ ctrl.data.customer.street }}&nbsp;{{ ctrl.data.customer.streetNumber }}&nbsp;
                  {{ ctrl.data.customer.floorNumber }}&nbsp;{{ ctrl.data.customer.doorNumber }}
                </div>
                <div class="row">
                  {{ ctrl.data.customer.zip }}&nbsp;{{ ctrl.data.customer.city }}
                </div>
                <div class="row">
                  {{ ctrl.data.shipping.to}}
                </div>
                <div ng-if="ctrl.data.customer.billOn == true">
                  <div class="row customer-address">
                    <label>{{ 'SHOP_BILLING_ADDRESS' | translate }}</label>
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billAddressName1 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billAddressName2 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billStreet }}&nbsp{{ ctrl.data.customer.billStreetNumber }}&nbsp;
                    {{ ctrl.data.customer.billFloorNumber }}&nbsp;{{ ctrl.data.customer.billDoorNumber }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billZip }}&nbsp;{{ ctrl.data.customer.billCity }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.billCountry }}
                  </div>
                </div>
                <div ng-if="ctrl.data.customer.shippingOn == true">
                  <div class="row customer-address">
                    <label>{{ 'SHOP_DELIVERY_ADDRESS' | translate }}</label>
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.shippingAddressName1 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.shippingAddressName2 }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.shippingStreet }}&nbsp{{ ctrl.data.customer.shippingStreetNumber }}&nbsp;
                    {{ ctrl.data.customer.shippingFloorNumber }}&nbsp;{{ ctrl.data.customer.shippingDoorNumber }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.shippingZip }}&nbsp;{{ ctrl.data.customer.shippingCity }}
                  </div>
                  <div class="row">
                    {{ ctrl.data.customer.shippingCountry }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- Payment Data -->
    <div class="customerData col-lg-14 col-lg-offset-1 col-md-29 col-md-offset-1 col-sm-60">
      <div class="customerShopHeader">&nbsp;</div>
      <form name="customerForm">
        <div class="panel panel-default">
          <div class="panel-heading" translate="SHOP_PAYMENT"></div>
          <div class="panel-body product-selection">
            <label>{{ 'REG_PAYMENT_TYPE' | translate }}</label>

            <div ng-if="ctrl.data.paymentMethod == 'INVOICE'">
              {{ 'SHOP_INVOICE' | translate }}
            </div>
            <div ng-if="ctrl.data.paymentMethod == 'SOFORT'">
              <img ng-src="{{url('shop/images/sofort.png')}}"
                   alt="sofort"
                   class="icon">
            </div>
            <div ng-if="ctrl.data.paymentMethod == 'MP-PAYPAL'">
              <img ng-src="{{url('shop/images/paypal.png')}}"
                   alt="paypal"
                   class="icon">
            </div>
            <div ng-if="ctrl.data.paymentMethod == 'MP-CC'">
              <img ng-src="{{url('shop/images/visa.png')}}"
                   alt="visa"
                   class="icon">
              <img ng-src="{{url('shop/images/mastercard.png')}}"
                   alt="mastercard"
                   class="icon">
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="shopping-previous-step">
            <button type="button" class="lighten"
                    translate="BUTTON_EDIT"
                    ng-click="ctrl.goTo('payment')">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">

    <div class="customerData col-lg-60 col-md-60 col-sm-60">
      <form name="customerForm" method="post" validation-info-required="isValidationInfoRequired">
        <div class="row product-table-bottom-line">
          <div class="product-table-bottom-space">&nbsp;</div>
        </div>
        <!--Start Button Area-->
        <div class="buttons">
          <div class="left">
            <button type="button" class="cancel" ng-click="ctrl.goToPrevious()" translate="BUTTON_BACK"></button>
          </div>
          <div class="right">
            <button type="button" ng-click="ctrl.finish()" translate="SHOP_SUBMIT"></button>
          </div>
        </div>
        <div class="row customer-service">
          <p></p>
          <p translate="REG_SUPPORT_INFO"></p>
        </div>
      </form>
    </div>
  </div>
</div>
