<breadcrumbs ng-if="ctrl.viewModel.showBreadcrumbs"
             breadcrumbs="ctrl.viewModel.breadcrumbs"
             ng-class="ctrl.breadcrumbsCssClass"
             root-name="ctrl.rootBreadcrumbTitle"
             on-breadcrumb-click="ctrl.onBreadcrumbClick(index)"
             on-first-breadcrumb-click="ctrl.onTopCategoryClick()"
></breadcrumbs>
<ng-include src="ctrl.partial"></ng-include>
