<div *ngIf="data" class="row button-row">
  <div class="container">
    <kiga-scroll-pane-row
      [breakpoint]="{ itemsPerRow: itemsPerRow }"
      [component]="component"
      [items]="items"
      [noGap]="!useSubCategory()"
      [buttonStyle]="{ position: 'relative', top: '-14px' }"
    >
    </kiga-scroll-pane-row>
  </div>
</div>
