@import '../../vars';
@import (reference) '../../main/css/bootstrap/variables';

:host {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }
  .button-row {
    border-top: 1px solid @lightGrey;
    border-bottom: 1px solid @lightGrey;
    padding-top: 12px;
  }
  .sort-button {
    display: none;
  }
}
