@import (reference) '../../vars';
@import (reference) '../../main/css/bootstrap/variables';
@import (reference) '../../main/css/forms.less';
@import '../components/voucher/voucher.less';
@import '../components/basketPutter/basketPutter';

body div.shop {
  .scheme(@shopColor);

  padding-top: 40px;

  /* Start Header */
  div.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  body form.three-col > div {
    width: 100%;
  }

  body form.one-col > div {
    width: 100%;
  }

  body form.two-col > div {
    width: 100%;
  }

  div.header {
    @progressLineHeight: 3px;
    @dotSize: 12px;
    @progressLineColor: @lightGrey;
    @progressLineVisitedColor: @shopColor;

    .registration-step {
      height: 40px;
      line-height: 40px;
      position: relative;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      color: @darkGrey;

      &.visited {
        color: @progressLineVisitedColor;
        .hr {
          background-color: @progressLineVisitedColor;
          display: block;
        }
      }

      .hr {
        position: absolute;
        bottom: -@progressLineHeight;
        left: 0;
        width: 100%;
        height: @progressLineHeight;
        background-color: @progressLineColor;
        display: block;

        &:after {
          content: '';
          display: block;
          border-radius: @dotSize;
          width: @dotSize;
          height: @dotSize;
          background-color: inherit;
          position: absolute;
          left: 50%;
          top: (@progressLineHeight - @dotSize)/2;
        }
      }
    }

    .steps-container {
      border-bottom: @progressLineHeight solid @lightGrey;
      margin-bottom: 20px;
    }

    .no-gutter {
      [class*='col-'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .info {
      text-align: right;
      font-size: 14px;
      text-decoration: none;
    }

    .left {
      text-align: left;
      font-size: 14px;
      text-decoration: none;
    }

    @media (max-width: @screen-md-max) {
      .registration-step {
        font-size: 11px;
      }
    }

    @media (max-width: @screen-lsm-max) {
      margin-left: 50px;
      margin-right: 50px;

      .registration-step {
        height: 20px;
      }

      .first-step.registration-step {
        .hr {
          background-color: @progressLineColor;
          &:after {
            background-color: @progressLineVisitedColor;
          }
        }
      }

      .registration-step.visited {
        .hr {
          &:after {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }

  .warningHeader {
    color: @shopColor;
    font-weight: bold;
  }

  .changeAddressWarning {
    padding-left: 20px;
  }

  .customer-address {
    margin-top: 15px;
  }

  .customerShopHeader {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .customer-data-left {
    .input-group {
      width: 100%;
    }
    .input-group-lg {
      width: 100%;
    }
    padding-left: 20px;
    padding-right: 20px;
  }
  .customer-data-middle {
    .input-group {
      width: 100%;
    }
    .input-group-lg {
      width: 100%;
    }
    padding-left: 20px;
    padding-right: 20px;
  }
  .customer-data-right {
    padding-left: 20px;
    padding-right: 20px;
  }

  .customer-data-streetnumber {
    width: 33%;
    float: left;
    padding-right: 1px;
    margin-top: 10px;
  }

  .customer-data-email {
    margin-top: 10px;
  }

  .customer-data-billOn {
    margin-top: 10px;
  }

  .customer-data-floornumber {
    width: 33%;
    float: left;
    padding-right: 1px;
    margin-top: 10px;
  }
  .customer-data-doornumber {
    width: 34%;
    float: left;
    margin-top: 10px;
  }
  .customer-data-zip {
    width: 33%;
    float: left;
    padding-right: 1px;
    margin-top: 10px;
  }
  .customer-data-city {
    width: 67%;
    float: left;
    margin-top: 10px;
  }

  .customer-data-country {
    margin-top: 10px;
  }

  .currency {
    &-left {
      width: 25px;
      text-align: left;
      float: left;
    }
    &-right {
      width: 100px;
      text-align: right;
    }
  }
  .products-header {
    .col-lg-15 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .products {
    .col-lg-15 {
      padding-left: 0;
      padding-right: 0;
    }
    .col-sm-60 {
      padding-left: 0;
      padding-right: 0;
    }
    .col-sm-40 {
      padding-left: 0;
      padding-right: 0;
    }
    .col-sm-20 {
      padding-left: 0;
      padding-right: 0;
    }
    .delivery-time {
      color: grey;
      font-size: 9px;
    }
  }
  @media (min-width: 1200px) {
    .beInVisibleInLg {
      display: none;
    }
    .beVisibleInLg {
      display: inline;
    }
    .beProductItemHeadingInSm {
      font-size: 12px;
    }
  }
  @media (max-width: 991px) {
    .beVisibleInSm {
      display: inline;
    }
    .beInVisibleInSm {
      display: none;
    }
    .beNoProductItemHeadingInLg {
      font-size: 16px;
    }
  }
  .product-selection {
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .product-table-header {
    font-size: 16px;
    padding-top: 10px;
    vertical-align: text-bottom;
    border-bottom: 1px solid #ccc;
  }
  .product-table-delivery {
    line-height: 45px;
    vertical-align: middle;
  }
  .product-table-delivery-item {
    border-bottom: 1px solid #ccc;
  }
  .product-table-item {
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    height: 65px;
    .hidden-xlg.hidden-lg.hidden-lmd.hidden-md.col-sm-60.col-lsm-60.delivery-time {
      margin-top: -15px;
      float: left;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    &.total {
      &.with-discount {
        .currency-left,
        .currency-right {
          span {
            &.actual {
              display: block;
              color: @shopColor;
              font-weight: bold;
            }
            &.original {
              display: block;
              line-height: 0;
              text-decoration: line-through;
            }
          }
        }
      }
      .currency-left,
      .currency-right {
        span.original {
          display: none;
        }
      }
    }
    &.single {
      @media (max-width: @screen-lsm-max) {
        &.with-discount {
          .currency-left,
          .currency-right {
            span {
              &.actual {
                display: block;
                color: @shopColor;
                font-weight: bold;
              }
              &.original {
                display: block;
                line-height: 0;
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .currency-left,
      .currency-right {
        span.actual {
          display: none;
        }
      }
    }
  }
  .product-table-item.product-title {
    line-height: 22px;
  }
  .item-selection {
    .ui-select-match {
      margin-top: 5px !important;
      width: 77% !important;
    }
    .ui-select-choices {
      width: 77% !important;
      min-width: 75px;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  .product-table-result {
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #ccc;
    margin-top: 4px;
  }
  .product-table-result-line {
    width: 100%;
    height: 5px;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
  }
  .shopping-previous-step {
    width: 50%;
    float: left;
    text-align: left;
  }
  .shopping-next-step {
    width: 50%;
    float: left;
    text-align: right;
  }
  .product-table-bottom-line {
    line-height: 45px;
    vertical-align: middle;
  }
  .product-table-bottom-space {
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #ccc;
    clear: both;
    p {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 12px;
      line-height: 130%;
    }
  }
  .navigation-bottom {
    padding-top: 25px;
  }

  /* Start of common */
  p {
    font-size: 14px;
  }

  p.boldFont {
    font-weight: bold;
  }

  label {
    font-size: 14px;
  }

  .title-bottom {
    margin-bottom: 15px;
  }

  .title-panel {
    background-color: @panelGrey!important;
    color: @white!important;
  }

  .center {
    text-align: center;
    font-size: 16px;
  }

  .title-panel-size {
    font-size: 20px;
  }

  .text-center {
    text-align: center;
  }

  .link-thin {
    text-decoration: none;
    color: @shopColor;
  }

  .link-mail-bold {
    text-decoration: none;
    font-weight: bold;
    color: @shopColor;
  }

  .text-orange {
    color: @shopColor;
  }

  /* End of common */

  /* Start of buttons */
  div.button {
    font-size: 16px;

    .info {
      background-color: @darkGrey;
      height: 40px;
      color: @white;
      border: @darkGrey;
      margin-bottom: 5px;
    }

    .orange {
      background-color: @orange;
      height: 40px;
      color: @white;
      border: @orange;
      @media (min-width: @screen-lsm-min) and (max-width: @screen-lsm-max) {
        margin-top: 0px;
      }
      margin-top: 5px;
    }

    .order {
      background-color: @orange;
      height: 40px;
      color: @white;
      border: @orange;
      margin-bottom: 10px;
    }

    .finish {
      background-color: @green;
      height: 40px;
      color: @white;
      font-size: 20px;
      border: @green;
    }

    .update {
      margin-top: -10px;
      @media (max-width: @screen-lmd-max) {
        margin-bottom: 40px;
      }
      background-color: @orange;
      height: 40px;
      color: @white;
      border: @orange;
    }
  }
  /* End of buttons */

  /* Start Header */

  div.header {
    .no-gutter {
      [class*='col-'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .notvisited {
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      color: @darkGrey;
    }

    .hr-notvisited {
      border: 1px solid @lightGrey;
      margin-top: -20.5px;
    }

    .hr-standard {
      border: 1px solid @lightGrey;
      margin-top: 41px;
    }

    .hr-md {
      border: 3px solid @orange;
      margin-top: 40px;
    }

    .arrow {
      text-align: center;
      font-size: 16px;
      color: @darkGrey;
      padding-bottom: -5px;
      font-weight: bold;
      text-align: right;
    }

    .hr-visited {
      border: 3px solid @orange;
      margin-top: 20px;
      padding-right: 0;
    }

    .visited {
      text-align: center;
      font-size: 14px;
      color: @orange;
      text-decoration: none;
    }

    @media (max-width: @screen-md-max) {
      .visited {
        font-size: 11px;
      }
    }

    .info {
      text-align: right;
      font-size: 14px;
      text-decoration: none;
    }

    .left {
      text-align: left;
      font-size: 14px;
      text-decoration: none;
    }
  }

  /* End of Header */

  /* Start of preSelection*/
  div.preSelection {
    .icon-abos:before {
      text-align: center;
      font-size: 180px;
      color: @orange;
    }

    .icon-abos {
      text-align: center;
    }

    .icon {
      color: @orange;
      font-size: 40px;
      margin-top: 40px;
    }

    .title {
      color: @orange;
      font-size: 20px;
      font-weight: bold;
      margin-top: 48px;
    }
    .title2 {
      color: @darkGrey;
    }
  }
  /* End of preSelection */

  /* Start of Info */
  div.infopage {
    .icon {
      color: @green;
      font-size: 16px;
      margin-top: 10px;
    }

    .list {
      color: @darkGrey;
      font-size: 14px;
      margin-left: 10px;
    }
    .margin {
      margin-left: 27px;
    }

    .mail {
      @media (min-width: @screen-lsm-min) and (max-width: @screen-md-max) {
        margin-left: 0px;
      }
      margin-left: 27px;
      text-decoration: none;
      color: @orange;
    }

    .img {
      width: 51px;
      height: 31px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .img-elv {
      width: 52px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .height {
      @media (max-width: @screen-lsm-max) {
        height: auto;
      }
      height: 250px;
    }
  }

  /* End of Info */

  /* Start of product */
  div.product {
    .title-selected {
      color: @orange;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: -10px;
    }
    .icon-selected {
      color: @orange;
      font-size: 130px;
      text-align: center;
      margin-top: 10px;
    }

    .price-selected {
      text-align: center;
      color: @orange;
      font-size: 18px;
      margin-top: -40px;
      margin-bottom: 30px;
    }

    .title {
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
    }

    .duration {
      font-size: 130px;
      text-align: center;
      margin-top: 10px;
    }

    .price {
      text-align: center;
      margin-top: -40px;
      margin-bottom: 30px;
    }

    div.parents {
      .text-duration {
        font-size: 25px;
        margin-top: 20px;
      }

      .help {
        color: @orange;
        font-size: 16px;
        margin-left: -120px;
      }

      .checkbox-margin {
        margin-left: -20px;
      }
    }

    div.licenses {
      .margin {
        @media (max-width: @screen-lmd-max) {
          margin-left: 22px;
        }
        margin-top: 21px;
      }
      .radioButtons {
        @media (max-width: @screen-lsm-max) {
          margin-top: 30px;
        }
        margin-top: 10px;
      }

      .text-duration {
        @media (max-width: @screen-lmd-max) {
          margin-left: 45px;
        }
        margin-left: 22px;
        font-size: 25px;
      }

      .mail {
        @media (min-width: @screen-md-min) and (max-width: @screen-lmd-max) {
          margin-left: 0px;
        }
        margin-left: 20px;
        text-decoration: none;
        color: @orange;
      }
      .margin-left {
        @media (max-width: @screen-sm-max) {
          margin-left: 20px;
        }
      }
    }
  }
  /* End of product */

  /* Start of Customer Data */

  div.customerData {
    .margin {
      margin-top: 12px;
    }

    .margin-md {
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 50px;
      }
      margin-top: 12px;
    }

    .activate {
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 100px;
      }
      margin-top: 50px;
      text-align: center;
    }

    .img {
      text-align: center;
    }

    .text {
      margin-top: 40px;
      margin-bottom: -3px;
    }

    .checkbox-margin {
      margin-left: -19px;
    }

    .radio-margin {
      margin-left: -16px;
    }

    .select {
      font: 400 @font-size-big / 34px @ArialFontFamily;
      height: 34px;
      border: 1px solid @darkGrey;
      padding: 0 0 0 6px;
      margin: 0;
      margin-top: 5px;
    }

    div.oneAddress {
      .margin-top {
        margin-top: 40px;
      }
    }
  }

  /* End of Customer Data */

  /* Start of payment */
  div.payment {
    .margin-checkbox {
      margin-top: 50px;
      /*            margin-left: 15px;*/
    }
    .margin {
      @media (max-width: @screen-lsm-max) {
        margin-top: 30px;
      }
      margin-top: 10px;
    }

    .REmargin {
      margin-left: 30px;
    }

    .icon {
      height: 41px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 4px;
      margin-right: 5px;
    }

    .icon-paypal {
      height: 41px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: -6px;
      margin-top: 2px;
    }

    .icon-elv {
      width: 62px;
      height: 100%;
      margin-left: -20px;
    }

    .help {
      color: @orange;
      font-size: 16px;
      margin-left: -120px;
    }
  }

  /* End of Payment */

  /*Start of Summary */
  div.summary {
    @height: 260px;
    @bigHeight: 415px;
    @maxHeight: 100%;
    @paymentHeight: 100px;

    .products .delivery-time {
      float: left;
    }

    .panel + div.buttons {
      /*margin-left: 10px;*/
      .shopping-previous-step {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
    .height-panel {
      min-height: @bigHeight;
      @media (max-width: @screen-lsm-max) {
        height: @height;
      }
      @media (min-width: @screen-md-min) {
        height: @maxHeight;
      }
      @media (min-width: @screen-lmd-min) {
        height: @maxHeight;
      }
      @media (min-width: @screen-lg-min) {
        height: @maxHeight;
      }
      @media (min-width: @screen-xlg-min) {
        height: @maxHeight;
      }
      //height: @height;
    }

    .icon-selected {
      color: @orange;
      font-size: 130px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: -30px;
    }

    .icon-abos:before {
      text-align: center;
      font-size: 180px;
      color: @orange;
    }

    .icon-abos {
      text-align: center;
    }

    .height-noExtra {
      @media (max-width: @screen-lsm-max) {
        height: auto;
      }
      height: 260px;
    }

    .height-extra {
      @media (max-width: @screen-lsm-max) {
        height: auto;
      }
      height: 355px;
    }

    .height-payment {
      @media (max-width: @screen-lsm-max) {
        height: auto;
      }
      height: 100px;
    }

    .text-grey {
      font-weight: bold;
      margin-top: 40px;
      color: @darkGrey;
      text-align: center;
    }

    .text-licenses {
      margin-top: -10px;
      text-align: center;
    }

    .img {
      width: 61px;
      height: 41px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .margin-payment {
      @media (max-width: @screen-lg-max) and (min-width: @screen-lg-min) {
        margin-top: 30px;
      }
    }

    .margin-button {
      @media (min-width: @screen-xlg-min) {
        margin-top: -7px;
      }

      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 22px;
      }
    }

    .kleckse {
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-bottom: -20px;
        margin-top: -10px;
      }
      margin-top: -10px;
    }

    .customer-service {
      margin: 0px 10px 0px 10px;
    }

    /*End of Summary*/
  }

  div.finished {
    .icon {
      text-align: center;
      i:before {
        font-size: 100px;
      }
    }
  }
}

@import '../../ideas/css/buttonRow';
@import '../../ideas/css/ideasOverview';
@import '../../ideas/css/preview';
@import '../../ideas/css/kigaIdea';
.body.shop {
  .buttons-row {
    .buttons-row(@shopColor, @white);
    padding-top: 0;
    margin-top: 0;
  }

  .ideas-overview {
    .ideas-overview(@shopColor, @activeIdeaBg);

    .ideas-list .idea {
      .desc {
        font-weight: bold;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid grey;
      }
      @media (max-width: @screen-lsm-max) {
        hr {
          margin-left: 160px;
        }
        .price {
          margin-left: 160px;
        }
      }
    }
  }

  .preview-container-bg {
    .preview-container-bg(@shopColor, @activeIdeaBg);
  }

  .product-container {
    .idea-container();

    .span-4.shop-header {
      img {
        vertical-align: middle;
        width: auto;
        height: auto;
        @media (max-width: @screen-md-max) {
          display: none;
        }
      }
      div {
        display: inline-block;
        h2 {
          font-size: 25px;
          margin: 0;
          font-weight: bold;
        }

        h3 {
          margin: 0;
          font-weight: normal;
        }
      }
    }

    .slider-items-row {
      width: 100%;
      border-radius: 0;
      border: 0;

      .carousel_row {
        position: relative;
        padding: 20px 10px 20px 0px;
        margin-right: 10px;
        flex-flow: row nowrap;
        .arrows {
          opacity: 0.4;
          position: absolute;
          a {
            display: inline;
            text-decoration: none;
            color: lightslategray;
            .left_arrow {
              padding-right: 10px;
            }
            .right_arrow {
              padding-left: 10px;
            }
            i {
              border: 3px solid lightslategray;
              border-radius: 50%;
              line-height: 58px;
              padding: 10px;
              text-align: center;
              cursor: pointer;
            }
          }
          text-decoration: none;
          &:hover {
            color: @shopColor;
            opacity: 0.9;
            a {
              color: @shopColor;
            }
            i {
              border: 3px solid @shopColor;
            }
          }
          @media (max-width: @screen-lsm-max) {
            margin-top: -3px;
            a {
              i {
                font-size: 24px;
              }
            }
          }
        }
        .next-button {
          right: 0px;
        }
        .carousel_list {
          width: ~'calc(100% - 140px)';
          overflow: hidden;
          white-space: nowrap;
          margin: 0 10px 10px;
          margin-left: 60px;
          float: left;
          .element {
            vertical-align: top;
            display: inline-block;
            white-space: normal;
            margin-left: 10px;
            margin-right: 10px;
            p {
              width: 100%;
              color: grey;
              max-height: 54px;
            }
            .idea-img {
              width: 100%;
              position: relative;
              overflow: hidden;
              .img-border {
                position: absolute;
                height: 100%;
                width: 100%;
                border: 1px solid @grey;
              }
              img {
                width: 82px;
                height: 56px;
                margin-left: -12px;
                @media (max-width: @screen-lsm-max) {
                  width: 72px;
                  height: 50px;
                  margin-left: -11px;
                }
              }
            }
            &:hover {
              .desc {
                color: @shopColor;
              }
              .idea-img {
                .img-border {
                  border: 3px solid @shopColor;
                }
                img {
                }
              }
            }
          }
        }
        @media (max-width: @screen-md-max) {
          .carousel_list {
            .element {
              width: ~'calc(100%/2 - 20px)';
            }
          }
        }
        @media (max-width: @screen-lsm-max) {
          margin-right: 0px;
          .carousel_list {
            width: ~'calc(100% - 108px)';
            margin-left: 56px;
            .element {
              width: 50px;
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
        @media (min-width: @screen-md-min) {
          .carousel_list {
            .element {
              width: ~'calc(100%/6 - 20px)';
            }
          }
        }
      }
    }
    star-rating {
      .stars-block,
      .rating-count {
        height: 34px;
      }
      .user-rating {
        margin-bottom: 15px;
      }
      .star-rating__ico:hover:before,
      .star-rating__ico:hover ~ .star-rating__ico:before {
        color: @shopColor;
        content: '\f005' !important;
      }
      .rating-complete {
        color: @shopColor;
      }
      .info-stats-clear-rate {
        color: @shopColor;
      }
    }

    @media (max-width: @screen-md-max) {
      .info-stats-row {
        position: relative;
        float: left !important;
      }
    }
    .description {
      margin-bottom: 20px;
    }

    .fs14 {
      font-size: 14px;
    }

    .order-selected-pieces-lbl {
      margin-bottom: 10px;
    }

    .product-price {
      font-weight: bold;
      font-size: 20px;
    }

    .delivery-quotation {
      font-size: 12px;
      line-height: 22px;
    }

    .delivery-time {
      line-height: 22px;
    }

    /*basketPutter component*/
    @import '../components/basketPutter/basketPutter.less';
  }
}

@import '../../main/css/home.less';

div.ideas-overview-new {
  .text-overflow(@countoflines,@lineheight) {
    display: -webkit-box;
    -webkit-line-clamp: @countoflines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: @lineheight;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  .divider {
    height: 1px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: @grey;
  }
  .carousel {
    margin: 10px;
  }
  .block-item {
    .middle-item();
    width: 25%;
    .img-responsive {
      width: 100%;
    }
    .line {
      .line();
    }
    .title {
      font-size: 18px;
      margin-bottom: 4px;
      text-transform: uppercase;
      max-height: 25px;
      .text-overflow(1, 25px);
    }
    .desc {
      font-size: 14px;
      max-height: 40px;
      margin-top: 10px;
      margin-bottom: 8px;
      .text-overflow(2, 20px);
    }
    .price-line {
      .price {
        font-size: 14px;
        margin-right: 15px;
      }
      .oldPriceWrapper {
        font-size: 16px;
        color: @red;
        text-decoration: line-through;
      }
      .oldPrice {
        white-space: nowrap;
        font-size: 16px;
        color: grey;
      }
    }
    @media (max-width: @screen-md-min) {
      width: 100%;
      .img-responsive {
        width: 140px;
        float: left;
        margin-right: 20px;
        margin-left: 10px;
      }
      .title {
        font-size: 14px;
        margin-bottom: 0px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }
  a {
    color: grey !important;
  }
  a:hover {
    color: @shopColor !important;
  }
}
