<a ui-sref="root.backend.newsletter.list" class="button icon cancel">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </a>
<h1>
    {{$ctrl.newsletter.subject}}
    <small>{{$ctrl.newsletter.name}}, {{$ctrl.newsletter.locale}}</small>
</h1>
<div>
    <p>
        Subject: <b>{{$ctrl.newsletter.subject}}</b>
        Locale: <b><big>{{$ctrl.newsletter.locale}}</big></b>
        Published: <b>{{$ctrl.newsletter.publishingDate | date}}</b>
        Source: <i>
        <a href="{{$ctrl.newsletter.url}}" target="_blank">
            {{$ctrl.newsletter.url}}
        </a></i>
        Id: {{$ctrl.newsletter.id}}
    </p>
</div>

<navigation>
    <ul class="nav nav-tabs" role="tablist">
    <li ng-class="{'active': $ctrl.$state.current.name=='root.backend.newsletter.preview'}">
    <a ui-sref="root.backend.newsletter.preview({newsletterId: $ctrl.newsletter.id})"
       class=" icon">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Preview
    </a>
    </li>
    <li ng-class="{'active': $ctrl.$state.current.name=='root.backend.newsletter.selections'}">
    <a ui-sref="root.backend.newsletter.selections({newsletterId: $ctrl.newsletter.id})"
       class=" icon">
        <i class="fa fa-users" aria-hidden="true"></i> Recipients
    </a>
    </li>
    </ul>
</navigation>