<h2>Newsletter</h2>
<p>The list of available newsletters.</p>
<table class="table">
  <thead>
    <tr>
      <td>Newsletter</td>
      <td class="text-center">In Queue (pending)</td>
      <td class="text-center">Sent</td>
      <td class="text-center">Failed</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="nl in ctrl.newsletters">
      <td>
        <h2>
          <a ui-sref="root.backend.newsletter.preview({newsletterId:nl.id})">
            {{nl.subject}}
          </a>
          <small>{{nl.name}}, {{nl.locale}}</small>
        </h2>
        <p>
          Published: <b>{{nl.publishingDate | date}}</b>
          Source: <i>{{nl.url}}</i>
          Id: {{nl.id}}
        </p>
      </td>
      <td class="text-center">{{nl.stats.pending}}</td>
      <td class="text-center">{{nl.stats.done}}</td>
      <td class="text-center">{{nl.stats.error}}</td>
    </tr>
  </tbody>
</table>
