<div>
  <newsletter-header newsletter="ctrl.newsletter"></newsletter-header>
  <!-- Form to Send Testmail -->
  <form  ng-submit="ctrl.testSend(ctrl.newsletter, ctrl.testmail)"
         role="form" class="three-col">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-1">
          <div>
            <a
              ng-href="{{ctrl.newsletter.previewUrl}}"
              target="_blank">
              <i class="fa fa-eye" aria-hidden="true"></i> View in separate window (Customer View)
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <input type="email" required="true"
                   ng-model="ctrl.testmail" placeholder="email"/>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <button type="submit" class="button">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              Send A Testmail
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <iframe ng-src="{{ctrl.includeNewsletterUrl}}"></iframe>

</div>
