<newsletter-header newsletter="ctrl.newsletter"></newsletter-header>
<div class="validation" ng-show="!ctrl.testSelectionLocales()">
  Warning: some language selections do not match the newsletter-language ({{ctrl.newsletter.locale}}).
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Locale</th>
      <th>Country</th>
      <th>CountryGroup</th>
      <th>Subscr.Type</th>
      <th>Duration</th>
      <!--<th>ActiveSubscr?</th>-->
      <th>Subscr.Status</th>
      <!-- <th>Shop?</th> -->
      <th>Selects</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sel in ctrl.newsletter.selections">
      <form>
      <td class="text-right">
        <a ng-click="ctrl.removeSelection(ctrl.newsletter, sel)"
           class="button icon">
          <i class="fa fa-times" aria-hidden="true"></i>
          Remove
        </a>
      </td>
      <td>
        <kiga-select ng-model="sel.locale"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.localeOptions"></kiga-select>
      </td>
      <td>
        <kiga-select ng-model="sel.country"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.countryOptions"></kiga-select>
      </td>
      <td>
        <kiga-select ng-model="sel.parentCountry"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.parentCountryOptions"></kiga-select>
      </td>
      <td>
        <kiga-select ng-model="sel.subscriptionType"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.subscriptionOptions"></kiga-select>
      </td>
      <td>
        <kiga-select ng-model="sel.subscriptionDuration"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.durationOptions"></kiga-select>
      </td>
      <!--<td>
        <kiga-select ng-model="sel.subscriptionFlag"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.binaryOptions"></kiga-select>
      </td>-->
      <td>
        <kiga-select ng-model="sel.subscriptionStatus"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.subscriptionStatusOptions"></kiga-select>
      </td>
      <!-- <td>
        <kiga-select ng-model="sel.shopFlag"
                     on-select="ctrl.updateSelection(ctrl.newsletter, sel)"
                     options="ctrl.binaryOptions"></kiga-select>
      </td> -->
      <td>{{sel.stats.pending}}</td>
      <td>
      </td>
      </form>
    </tr>
    <tr>
      <td colspan="1" class="text-right">
        <a ng-click="ctrl.createSelection(ctrl.newsletter)" class="button icon">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Add Selection ...
        </a>
      </td>
      <td colspan="9"></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td colspan="2" class="form-group datepicker">
        <div class="form-group datepicker">
          <label>Send Date</label>
          <input type="text" class="form-control" ng-model="ctrl.sendDate" kiga-date>
        </div>
      </td>
      <td colspan="2" class="form-group datepicker">
        <div class="form-group">
          <label>Send Time (Hour, 0-23h)</label>
          <input type="text" class="form-control" ng-model="ctrl.sendHour"
            type="number" size="2" min="0" max="23">
        </div>
      </td>
      <td colspan="2" class="text-right">
        <div class="form-group">
          <label>Send Newsletter</label>
          <button ng-click="ctrl.send(ctrl.newsletter)" class="button icon">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            Go To Send Screen
          </button>
        </div>
      </td>
    </tr>
    <tr ng-repeat-end ng-if="false"><td colspan="7"></td></tr>
  </tbody>
</table>
