<div clas="newsletter-send">
  <div class="modal-header">
    <button type="button" class="close"
            ng-click="!ctrl.statusSend && ctrl.close()"
            data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title text-center">
      Send Newsletter
    </h3>
  </div>

  <div> </div>
  <div class="modal-body">
    <h2>Newsletter</h2>
    <h4>Subject</h4>
    <b>{{ctrl.newsletter.subject}}</b>
    <h4>Send Date</h4>
    <b ng-if="ctrl.sendDate">
      {{ctrl.sendDate | date:'medium'}}
    </b>
    <b ng-if="!ctrl.sendDate">Now</b>
    <h4>Name</h4>
    {{ctrl.newsletter.name}}
    <hr/>
    <h2>Segments</h2>
    <div>
      <table>
        <tr ng-repeat="selection in ctrl.newsletter.selections">
          <td>{{selection.locale}} {{selection.country}}</td>
          <td>{{selection.stats.pending}}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <b>
              {{ctrl.getTotals(ctrl.newsletter)}}
            </b>
      </table>
    </div>

    <div ng-show="ctrl.statusSend && !ctrl.statusDone">
      <hr/>
      <h2>Sending</h2>
      Please wait, this might take some minutes ...
      <svg width="200" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect x="0" y="0" height="20"
          ng-attr-width="{{ctrl.getProgressBarWidth()}}"
          stroke="transparent"
          fill="dimgrey"
          stroke-width="0"/>
      </svg>
    </div>
    <div ng-if="ctrl.sendResult">
      <hr/>
      <h2 ng-show="ctrl.statusDone">Done!</h2>
      <p>Task-Id:  {{ctrl.sendResult.taskId}}</p>
      <p>
        Done:  {{ctrl.sendResult.stats.done}}
        <br/>Error: {{ctrl.sendResult.stats.error}}
        <br/>Skipped: {{ctrl.sendResult.stats.skipped}}
      </p>
    </div>

    <div>
      <hr/>
      <button ng-click="ctrl.send()" class="button icon" ng-hide="ctrl.statusSend || ctrl.statusDone">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Send Newsletter!
      </button>
      <button ng-click="ctrl.close()" class="button icon" ng-show="ctrl.statusDone">
        <i class="fa fa-times" aria-hidden="true"></i>
        Close
      </button>
    </div>
  </div>
</div>
