<div class="scroll-pane" *ngFor="let breakpoint of breakpoints" [ngClass]="'visible-' + breakpoint.name">
  <div class="arrows arrow-container"
       (click)="left(breakpoint.itemsPerRow, $event)"
       [ngClass]="{'invisible': leftButtonHidden(breakpoint.itemsPerRow)}">
    <a role="button">
      <i class="icon icon-arrow-left large left_arrow"></i>
    </a>
  </div>
  <div class="element-container">
    <div class="slider" [ngStyle]="{'transform': transform(breakpoint)}">
      <div *ngFor="let item of items; index as i"
           [ngStyle]="{'flex': '0 0 ' + (100 / breakpoint.itemsPerRow) + '%'}"
           [ngClass]="{'invisible-item': itemInvisible(breakpoint.itemsPerRow, i)}"
           [className]="'element ' + item.className">

        <!-- mobile view -->
         <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-xlg hidden-lg hidden-lmd hidden-lg" *ngIf="!item.ifRegistrationItem">
          <div class="idea-img">
            <div class="img-border"></div>
            <img alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <div *ngIf="!item.useTranslation">
            <p class="desc">{{ item.title }}</p>
            <p class="desc small">{{ item.description }}</p>
          </div>
          <div *ngIf="item.useTranslation">
            <p class="desc" [translate]="item.title"></p>
            <p class="desc small" [translate]="item.description"></p>
          </div>
        </a>

        <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-xlg hidden-lg hidden-lmd hidden-lg quickRegistration" *ngIf="item.ifRegistrationItem === 'quick'">
          <div class="idea-img">
            <div class="img-border">
              <div class="link-title">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</div>
            </div>
            <img  alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <div *ngIf="!item.useTranslation">
            <p class="desc">{{ item.title }}</p>
            <p class="desc small">{{ item.description }}</p>
          </div>
          <div *ngIf="item.useTranslation">
            <p class="desc" [translate]="item.title"></p>
            <p class="desc small" [translate]="item.description"></p>
          </div>
        </a>

        <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-xlg hidden-lg hidden-lmd hidden-lg fullRegistration" *ngIf="item.ifRegistrationItem === 'full'">
          <div class="idea-img">
            <div class="img-border">
              <div class="link-title">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</div>
            </div>
            <img  alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <div *ngIf="!item.useTranslation">
            <p class="desc">{{ item.title }}</p>
            <p class="desc small">{{ item.description }}</p>
          </div>
          <div *ngIf="item.useTranslation">
            <p class="desc" [translate]="item.title"></p>
            <p class="desc small" [translate]="item.description"></p>
          </div>
        </a>

        <!-- desktop view -->
        <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-md hidden-lsm hidden-sm" *ngIf="!item.ifRegistrationItem">
          <div class="idea-img">
            <div class="img-border"></div>
            <img alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <!-- TODO: lineClamp -->
          <p class="desc" *ngIf="!item.useTranslation">{{ item.title }}</p>
          <p class="desc" *ngIf="item.useTranslation" [translate]="item.title"></p>
        </a>

        <!-- Test Abo  -->
        <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-md hidden-lsm hidden-sm quickRegistration" *ngIf="item.ifRegistrationItem === 'quick'">
         <div class="idea-img">
            <div class="img-border">
              <div class="link-title">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</div>
            </div>
            <img  alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <!-- TODO: lineClamp -->
          <p class="desc" *ngIf="!item.useTranslation">{{ item.title }}</p>
          <p class="desc" *ngIf="item.useTranslation" [translate]="item.title"></p>
        </a>

        <!-- if user has already a test abo -->
        <a [routerLink]="item.url" [queryParams]="item.queryParams"
           class="hidden-md hidden-lsm hidden-sm fullRegistration" *ngIf="item.ifRegistrationItem === 'full'">
          <div class="idea-img">
            <div class="img-border">
              <div class="link-title">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</div>
            </div>
            <img  alt="item.title" [attr.src]="getSrc(i, breakpoint.itemsPerRow)">
          </div>
          <!-- TODO: lineClamp -->
          <p class="desc" *ngIf="!item.useTranslation">{{ item.title }}</p>
          <p class="desc" *ngIf="item.useTranslation" [translate]="item.title"></p>
        </a>
      </div>
    </div>
  </div>
  <div class="arrows arrow-container"
       (click)="right(breakpoint.itemsPerRow, $event)"
       [ngClass]="{'invisible': rightButtonHidden(breakpoint.itemsPerRow)}"
  >
    <a href="" role="button">
      <i class="icon icon-arrow-right large right_arrow"></i>
    </a>
  </div>
</div>

