<div class="form-group">
  <label ng-if="$ctrl.label">{{$ctrl.label}}</label>
  <!-- async validation -->
  <input ng-if="$ctrl.asyncValidation"
         type="{{$ctrl.inputType}}" class="form-control"
         placeholder="{{$ctrl.placeHolder1}}"
         async-validation="{{$ctrl.async_validation_attributes[1]}}"
         async-url="{{$ctrl.asyncValidationUrl}}"
         async-validation-context="$ctrl.asyncContext"
         validation-msg-async-validationemail-exists="{{$ctrl.asyncMsgEmailExists}}"
         ng-model="$ctrl.firstValue"
         ng-model-options="$ctrl.valueOptions"
         name="{{$ctrl.inputNames.name1}}"
         ng-required="$ctrl.is_required"
         ng-minlength="$ctrl.length1">
  <!-- !async validation -->
  <input ng-if="!$ctrl.asyncValidation"
         type="{{$ctrl.inputType}}" class="form-control"
         placeholder="{{$ctrl.placeHolder1}}"
         name="{{$ctrl.inputNames.name1}}"
         ng-model="$ctrl.firstValue"
         ng-model-options="$ctrl.valueOptions"
         ng-required="$ctrl.is_required"
         ng-minlength="$ctrl.length1">
  <!-- if ng-fab-match-->
  <input type="{{$ctrl.inputType}}" class="form-control"
         placeholder="{{$ctrl.placeHolder2}}"
         name="{{$ctrl.inputNames.name2}}"
         ng-model="$ctrl.secondValue"
         ng-fab-match="$ctrl.fabMatch"
         validation-msg-ng-fab-match="{{$ctrl.fabMatchMsg}}"
         ng-if="$ctrl.fabMatchMsg"
         ng-model-options="$ctrl.valueOptions"
         ng-required="$ctrl.is_required"
         ng-minlength="$ctrl.length2">
  <!-- if !ng-fab-match-->
  <input type="{{$ctrl.inputType}}" class="form-control"
         placeholder="{{$ctrl.placeHolder2}}"
         name="{{$ctrl.inputNames.name2}}"
         ng-model="$ctrl.secondValue"
         ng-if="!$ctrl.fabMatchMsg"
         ng-model-options="$ctrl.valueOptions"
         ng-required="$ctrl.is_required"
         ng-minlength="$ctrl.length2">
  <input type="{{$ctrl.inputType}}" class="form-control"
         placeholder="{{$ctrl.placeHolder3}}"
         name="{{$ctrl.inputNames.name3}}"
         ng-model="$ctrl.thirdValue"
         ng-if="$ctrl.setThreeFields"
         ng-model-options="$ctrl.valueOptions"
         ng-required="$ctrl.is_required"
         ng-minlength="$ctrl.length3">
</div>

