<div *ngIf="data" [ngClass]="className">
  <ng-container *ngIf="isMobile === true; else: nonMobile">
    <a class="idea mobile" [routerLink]="data.links.view.link">
      <div class="idea-img">
        <div class="img-border"></div>
        <img [src]="data.previewUrl" [alt]="data.title" [title]="data.title" class="preview" />
        <div class="idea-active theme-bg"><div class="idea-circle"></div></div>
        <div class="info-heart" (click)="toggleFavourite($event)">
          <i class="fa" [ngClass]="{ 'fa-heart': isFavourite, 'fa-heart-o': !isFavourite }"></i>
        </div>
      </div>

      <div class="idea-desc theme-hover">
        <div class="desc include-theme-hover">{{ data.title | lineClamp: 55 }}</div>
        <div class="desc small include-theme-hover">{{ data.description }}</div>
      </div>
    </a>
  </ng-container>
  <ng-template #nonMobile>
    <div
      (click)="onItemClick()"
      class="idea theme-hover-border theme-hover"
      [ngClass]="{
        active: isActive
      }"
    >
      <div class="idea-img">
        <div class="img-border include-theme-hover-border"></div>
        <img [src]="data.previewUrl" [alt]="data.title" [title]="data.title" class="preview" />
        <div class="info-heart">
          <i
            class="fa"
            [ngClass]="{ 'fa-heart': isFavourite, 'fa-heart-o': !isFavourite }"
            (click)="toggleFavourite($event)"
          ></i>
        </div>
        <div class="idea-active theme-bg"><div class="idea-circle"></div></div>
      </div>
      <div class="desc include-theme-hover">{{ data.title | lineClamp: 55 }}</div>
    </div>
  </ng-template>
</div>
