@import (reference) '../../vars';

@ideaMarginBottom: 40px;
.idea {
  position: relative;
  cursor: pointer;
  //.grid & {
  //  height: auto;
  //  margin-bottom: 16px;
  //  &:after {
  //    bottom: -24px;
  //  }
  //}
  height: 200px;
  img.preview {
    width: 100%;
  }
  .idea-active {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
    .idea-circle {
      width: 49px;
      height: 49px;
      border: white 4px solid;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      margin-left: -24px;
      margin-top: -22px;
    }
  }
  &.active {
    .idea-active {
      display: block;
    }
    &:after {
      content: '';
      background: url(arrow.jpg);
      display: block;
      height: 28px;
      width: 37px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }
  &:hover {
    .idea-img {
      .img-border {
        border-width: 3px;
        border-style: solid;
      }
    }
  }
  .idea-img {
    position: relative;
    .img-border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px transparent;
    }
    .info-heart {
      padding: 15px 15px 0 6px;
      position: absolute;
      z-index: 1;
      bottom: 5px;
      color: #fff;
      font-size: 140%;
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }
    img {
      border: 1px solid #b9b9b9;
    }
  }
  .desc {
    width: 100%;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    max-height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: grey;
  }
}

.mobile {
  &.idea {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    .idea-img {
      flex: 0 0 140px;
      margin-right: 20px;
    }
    .idea-desc {
      flex: 1;
    }
    .desc {
      width: auto;
      font-style: normal;
      margin-top: 0;
      font-size: 14px;
      max-height: 56px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      overflow: hidden;
      line-height: 1.4;
      text-overflow: ellipsis;
      word-wrap: break-word;
      color: grey;
      &.small {
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}
