<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form class="one-col">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ctrl.data.title}} ArticleId: {{ctrl.articleId}} in <span
      class="clickable"
      ng-click="ctrl.goToReport()">ReportId: {{ctrl.reportId}}</span>
    </div>
    <div class="panel-body">
      <div class="col-1">
        <div class="buttons">
          <button type="button" ng-click="ctrl.print()" class="ok">Print
          </button>
          <button type="button" ng-click="ctrl.edit()" class="ok">Edit</button>
          <button type="button" ng-click="ctrl.cancel()" class="cancel"
                  translate="BUTTON_BACK"/>
        </div>
      </div>
      <div class="table hover">
        <div class="row table-header">
          <div class="col-sm-10">ArticleId</div>
          <div class="col-sm-10">Language</div>
          <div class="col-sm-10">Autocorrected</div>
          <div class="col-sm-10">Autocorrectable</div>
          <div class="col-sm-10">Manuel</div>
          <div class="col-sm-10">All</div>
        </div>
        <div class="row table-row" ng-repeat="row in ctrl.data.translation">
          <div ng-click="ctrl.getArticleDetails(row.id)"
               class="clickable table-cell col-sm-10">
            {{row.report.id}}
          </div>
          <div ng-click="ctrl.getArticleDetails(row.report.id)"
               class="clickable table-cell col-sm-10">
            {{row.language}}
          </div>
          <div ng-click="ctrl.getArticleDetails(row.report.id)"
               class="clickable table-cell col-sm-10">
            {{row.report.autocorrected}}
          </div>
          <div ng-click="ctrl.getArticleDetails(row.report.id)"
               class="clickable table-cell col-sm-10">
            {{row.report.autocorrectable}}
          </div>
          <div ng-click="ctrl.getArticleDetails(row.report.id)"
               class="clickable table-cell col-sm-10">
            {{row.report.manual}}
          </div>
          <div ng-click="ctrl.getArticleDetails(row.report.id)"
               class="clickable table-cell col-sm-10">{{row.report.allErrors}}
          </div>
        </div>
      </div>

      <div class="table hover">
        <div class="row table-header">
          <div ng-click="ctrl.sortList('errorGroup.value')"
               class="clickable col-sm-6">Error Group
          </div>
          <div ng-click="ctrl.sortList('codeLine')" class="clickable col-sm-6">
            Code Line
          </div>
          <div ng-click="ctrl.sortList('codeColumn')"
               class="clickable col-sm-6">Code Column
          </div>
          <div ng-click="ctrl.sortList('autoCorrected')"
               class="clickable col-sm-8">Autocorrected
          </div>
          <div ng-click="ctrl.sortList('autoCorrectable')"
               class="clickable col-sm-8">Manual
          </div>
          <div ng-click="ctrl.sortList('errorDetail')"
               class="clickable col-sm-26">Error
          </div>
        </div>
        <div class="row table-row" ng-repeat="row in ctrl.data.errors">
          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-6">{{row.errorGroup.value}}</div>
          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-6">{{row.codeLine}}</div>
          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-6">{{row.codeColumn}}</div>

          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-8">
            <div class="checkbox">
              <label>
                <input name="autoCorrected" type="checkbox"
                       ng-model="row.autoCorrected" icheck disabled>
              </label>
            </div>
          </div>
          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-8">
            <div class="checkbox">
              <label>
                <input name="autoCorrected" type="checkbox"
                       ng-model="row.manual" icheck disabled>
              </label>
            </div>
          </div>
          <div ng-click="ctrl.showContent(row)" class="clickable table-cell col-sm-26">{{row.errorDetail}}</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="buttons">
    <button type="button" ng-click="ctrl.cancel()" class="cancel"
            translate="BUTTON_BACK"></button>
  </div>
</form>

</body>
</html>
