<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form class="one-col">
  <div class="panel panel-default">
    <div class="panel-heading">
      Details of {{ctrl.language.selected}} <span class="clickable"
                                                  ng-click="ctrl.goToReport()">Report: {{ctrl.reportId}}</span>
    </div>
    <div class="panel-body">
      <div class="buttons">
        <button type="button" ng-click="ctrl.cancel()" class="cancel"
                translate="BUTTON_BACK"></button>
        <div class="checkbox"> <!-- only there when needed -->
          <label>
            Manual > 0
            <input ng-click="ctrl.filterManualErrors()"
                   name="withAutoCorrect" type="checkbox"
                   ng-model="ctrl.noManual" icheck>
          </label>
        </div>
      </div>
      <kiga-select class="form-group" placeholder="Select language"
                   on-select="ctrl.onChangeFilter()"
                   options="ctrl.language.list"
                   ng-model="ctrl.language.selected"></kiga-select>

      <kiga-select class="form-group" placeholder="Select Error"
                   on-select="ctrl.onChangeFilter()"
                   options="ctrl.errors.list"
                   ng-model="ctrl.errors.selected"></kiga-select>

      <div class="col-1">
        <div class="table hover">
          <div class="row table-header">
            <div ng-click="ctrl.sortList('0')"
                 class="clickable col-sm-12">ArticleId
            </div>
            <div ng-click="ctrl.sortList('2')"
                 class="clickable col-sm-12">Autocorrectable
            </div>
            <div ng-click="ctrl.sortList('3')" class="clickable col-sm-12">
              Manual
            </div>
            <div ng-click="ctrl.sortList('5')" class="clickable col-sm-12">
              All
            </div>
            <div ng-click="ctrl.sortList('4')"
                 class="clickable col-sm-12">Autocorrected
            </div>
          </div>
          <div class="row table-row greenRow" ng-repeat="row in ctrl.list">
            <div ng-if="ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="green clickable table-cell col-sm-12">
              {{row[0]}}
            </div>
            <div ng-if="!ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="clickable table-cell col-sm-12">
              {{row[0]}}
            </div>

            <div ng-if="ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="green clickable table-cell col-sm-12">
              {{row[2]}}
            </div>
            <div ng-if="!ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="clickable table-cell col-sm-12">
              {{row[2]}}
            </div>

            <div ng-if="ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="green clickable table-cell col-sm-12">
              {{row[3]}}
            </div>
            <div ng-if="!ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="clickable table-cell col-sm-12">
              {{row[3]}}
            </div>

            <div ng-if="ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="green clickable table-cell col-sm-12">{{row[5]}}
            </div>
            <div ng-if="!ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="clickable table-cell col-sm-12">{{row[5]}}
            </div>

            <div ng-if="ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="green clickable table-cell col-sm-12">
              {{row[4]}}
            </div>
            <div ng-if="!ctrl.checkRow(row)"
                 ng-click="ctrl.getArticleDetails(row[0])"
                 class="clickable table-cell col-sm-12">
              {{row[4]}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" ng-click="ctrl.cancel()" class="cancel"
            translate="BUTTON_BACK"></button>
  </div>
</form>

</body>
</html>
