<div class="container parallelLog">
  <form class="one-col" ng-submit="ctrl.query()">
    <div class="panel panel-default">
      <div class="panel-heading">
        Filter
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group datepicker col-sm-15">
            <label>Anfang</label>
            <input kiga-date class="form-control" ng-model="ctrl.filter.start">
          </div>
          <div class="col-sm-5"></div>
          <div class="form-group datepicker col-sm-15">
            <label>Ende</label>
            <input kiga-date class="form-control" ng-model="ctrl.filter.end">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-15">
            <input class="form-control" ng-model="ctrl.filter.customerName" placeholder="Customer Name">
          </div>
          <div class="col-sm-5"></div>
          <div class="form-group col-sm-15">
            <input class="form-control" ng-model="ctrl.filter.email" placeholder="EMail">
          </div>
          <div class="col-sm-5"></div>
          <div class="form-group col-sm-15">
            <input class="form-control" ng-model="ctrl.filter.customerId" placeholder="CustomerID">
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="ok">OK</button>
    </div>
  </form>
  <h4>Found {{ctrl.transactionCount}} multiple logins.</h4>
  <div class="table">
    <div class="row table-header">
      <div ng-repeat="header in ctrl.data.header" class="col-sm-{{header.cols}}">{{header.title}}</div>
    </div>
    <div class="row table-row {{row.bgCss}}" ng-repeat="row in ctrl.data.rows">
      <div class="table-cell col-sm-{{row.cols}}" ng-repeat="value in row.values track by $index">{{value}}</div>
    </div>
  </div>
</div>
