<div class="container planner">
  <form class="two-col">
    <div class="panel panel-default">
      <div class="panel-heading">
        Filter
      </div>
      <div class="panel-body">
        <div class="col-1">
          <div class="form-group datepicker col-sm-20">
            <label>Anfang</label>
            <input kiga-date ng-model="filter.start">
          </div>
          <div class="form-group datepicker col-sm-20">
            <label>Ende</label>
            <input kiga-date ng-model="filter.end">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group interval">
            <label>Intervall</label>
            <kiga-select ng-model="filter.interval" options="intervals"></kiga-select>
          </div>
          <div class="form-group type">
            <label>Berichtstyp</label>
            <kiga-select ng-model="filter.reportType" options="reportTypes" on-select="change()"></kiga-select>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button ng-click="query()" class="ok">OK</button>
    </div>
  </form>
  <div class="table hover">
    <div class="row table-header">
      <div ng-repeat="header in data.header" class="col-sm-{{header.cols}}">{{header.title}}</div>
    </div>
    <div class="row table-row" ng-repeat="row in data.rows">
      <div class="table-cell col-sm-{{row.cols}}" ng-repeat="value in row.values track by $index">{{value}}</div>
    </div>
  </div>
</div>
