<div class="container registrationOrigin">
  <form class="two-col" ng-submit="ctrl.query()">
    <div class="panel panel-default">
      <div class="panel-heading">
        Filter
      </div>
      <div class="panel-body">
        <div class="col-1">
          <div class="form-group datepicker col-sm-20">
            <label>Anfang</label>
            <input kiga-date ng-model="ctrl.filter.start">
          </div>
          <div class="form-group datepicker col-sm-20">
            <label>Ende</label>
            <input kiga-date ng-model="ctrl.filter.end">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group interval">
            <label>Intervall</label>
            <kiga-select ng-model="ctrl.filter.interval" options="intervals"></kiga-select>
          </div>
          <div class="form-group type">
            <label>Berichtstyp</label>
            <kiga-select ng-model="ctrl.filter.reportType" options="reportTypes" on-select="ctrl.change()"></kiga-select>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="ok">OK</button>
    </div>
  </form>

</div>
