<div class="container planner">

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#reports" role="tab"
                          data-toggle="tab">Reports</a></li>
    <li><a href="#startvalidation" role="tab" data-toggle="tab">Start new
      Validation</a></li>
    <li><a href="#print" role="tab" data-toggle="tab">Print Preview</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="startvalidation">
      <form class="two-col">
        <div class="panel panel-default">
          <div class="panel-heading">
            Start new Validation
          </div>
          <div class="panel-body">
            <div class="col-1">
              <div class="form-group checkbox">
                <label>
                  <input type="checkbox" name="autoCorrect"
                         ng-model="ctrl.startNew.autoCorrect" icheck>
                  Autocorrect
                </label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group checkbox">
                <label>
                  <input type="checkbox" name="all" ng-model="ctrl.startNew.all"
                         icheck>
                  Validate All Articles
                </label>
              </div>
              <div class="form-group checkbox">
                <label>Validate following articles</label>
                <input type="text"
                       placeholder="Enter Article IDs, seperate by ,"
                       class="form-control" ng-model="ctrl.startNew.ids">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="left">
            <button type="button" ng-click="ctrl.cancel()" class="cancel"
                    translate="BUTTON_BACK"></button>
          </div>
          <div class="right">
            <button ng-click="ctrl.startNewValidation()" class="ok">OK</button>
          </div>
        </div>
      </form>
    </div>

    <div class="tab-pane" id="print">
      <form class="two-col">

        <div class="panel panel-default">
          <div class="panel-heading">
            Print
          </div>
          <div class="panel-body">
            <div class="col-1">
            </div>
            <div class="col-2">
              <div class="form-group checkbox">
                <label>Print following articles</label>
                <input type="text"
                       placeholder="Enter Article IDs, seperate by ,"
                       class="form-control" ng-model="ctrl.ideaId.articleId">
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="left">
            <button type="button" ng-click="ctrl.cancel()" class="cancel"
                    translate="BUTTON_BACK"></button>
          </div>
          <div class="right">
            <button ng-click="ctrl.startNewPrint()" class="ok">OK</button>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane active" id="reports">
      <form class="three-col">

        <div class="panel panel-default">
          <div class="panel-heading">
            Filter
          </div>
          <div class="panel-body">
            <div class="col-1">
              <div class="form-group datepicker">
                <label>Anfang</label>
                <input class="form-control" kiga-date
                       ng-model="ctrl.filter.start">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group datepicker">
                <label>Ende</label>
                <input class="form-control" kiga-date
                       ng-model="ctrl.filter.end">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group checkbox">
                <label>
                  <input type="checkbox" name="onlyFinished"
                         ng-model="filter.onlyFinished" icheck>
                  only finished reports
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="left">
            <button type="button" ng-click="ctrl.cancel()" class="cancel"
                    translate="BUTTON_BACK"></button>
          </div>
          <div class="right">
            <button ng-click="ctrl.getListReports()" class="ok">OK</button>
          </div>
        </div>
      </form>
      <div class="table hover">
        <div class="row table-header">
          <div ng-click="ctrl.sortList('id')" class="clickable col-sm-2">Id
          </div>
          <div ng-click="ctrl.sortList('testedArticles')" class="clickable col-sm-6">
            Tested Articles
          </div>
          <div ng-click="ctrl.sortList('startDateTime')" class="clickable col-sm-5">
            Start Date
          </div>
          <div ng-click="ctrl.sortList('endDateTime')" class="clickable col-sm-7">
            End Date
          </div>
          <div ng-click="ctrl.sortList('allErrors')" class="col-sm-7 clickable">Errors
          </div>
          <div ng-click="ctrl.sortList('autocorrected')"
               class="clickable col-sm-5">Corrected
          </div>
          <div ng-click="ctrl.sortList('autocorrectable')"
               class="clickable col-sm-4">Correctable
          </div>
          <div ng-click="ctrl.sortList('manual')"
               class="clickable col-sm-9">Manual
          </div>
          <div ng-click="ctrl.sortList('withAutocorrect')"
               class="clickable col-sm-7">Autocorrect
          </div>
          <div ng-click="ctrl.sortList('withSaveToDb')"
               class="clickable col-sm-7">Save to DB
          </div>
          <!-- Add TESTED articles -->
        </div>
        <div class="row table-row" ng-repeat="row in ctrl.list">
          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-2">{{row.id}}
          </div>

          <div ng-if="!row.allArticles" ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-6">{{row.testedArticles}}
          </div>
          <div ng-if="row.allArticles" ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-6">All
          </div>

          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-5">{{row.startDateTime |
            date:'yyyy-MM-dd HH:mm'}}
          </div>

          <div ng-if="row.status == 1"
               ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">{{row.endDateTime |
            date:'yyyy-MM-dd HH:mm'}}
          </div>
          <div ng-if="row.status == 0"
               ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">Running
          </div>

          <div ng-if="row.status == 2"
               ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">Aborted
          </div>

          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">{{row.allErrors}}
          </div>

          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-4">
            {{row.autocorrected}}
          </div>
          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-5">
            {{row.autocorrectable}}
          </div>

          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-9">{{row.manual}}
          </div>
          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">
            <div class="checkbox"> <!-- only there when needed -->
              <label>
                <input ng-click="ctrl.getDetailsToReport(row)"
                       name="withAutoCorrect" type="checkbox"
                       ng-model="row.withAutocorrect" icheck disabled>
              </label>
            </div>
          </div>
          <div ng-click="ctrl.getDetailsToReport(row)"
               class="clickable table-cell col-sm-7">
            <div class="checkbox"> <!-- only there when needed -->
              <label>
                <input ng-click="ctrl.getDetailsToReport(row)" name="saveToDb"
                       type="checkbox" ng-model="row.withSaveToDb" icheck
                       disabled>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
