<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<form class="two-col">

  <div class="panel panel-default">
    <div class="panel-heading">
      Details Report ID: {{ctrl.reportId}}
    </div>
    <div class="panel-body">
      <div class="col-1">
        <div class="buttons">
          <button type="button" ng-click="ctrl.cancel()" class="cancel"
                  translate="BUTTON_BACK"></button>
        </div>
        <kiga-select class="form-group" placeholder="Select language"
                     on-select="ctrl.onLanguageSelect()"
                     options="ctrl.language.list"
                     ng-model="ctrl.language.selected"></kiga-select>
        <div class="table hover">
          <div class="row table-header">
            <div ng-click="ctrl.sortList('0')"
                 class="clickable col-sm-20">Error
            </div>
            <div ng-click="ctrl.sortList('2')"
                 class="clickable col-sm-20">Correctable
            </div>
            <div ng-click="ctrl.sortList('1')" class="clickable col-sm-20">
              Count Article
            </div>
          </div>

          <div class="row table-row" ng-repeat="row in ctrl.data.list">
            <div ng-click="ctrl.getLanguageDetails(row[0])"
                 class="clickable table-cell col-sm-20">
              {{ctrl.errors[row[0] - 1]}}
            </div>
            <div ng-click="ctrl.getLanguageDetails(row[0])"
                 class="clickable table-cell col-sm-20">
              <div class="checkbox">
                <input name="withAutoCorrect" type="checkbox"
                       ng-model="row[2]" icheck disabled
                       ng-true-value="1" ng-false-value="0">
              </div>
            </div>
            <div ng-click="ctrl.getLanguageDetails(row[0])"
                 class="clickable table-cell col-sm-20">
              {{row[1]}}
            </div>
          </div>
        </div>
      </div>


      <div class="col-2">
        <div class="form-group">
          <label>Tested Articles: {{ctrl.data.report.testedArticles}}</label>
        </div>
        <div class="form-group">
          <label>Start: {{ctrl.data.report.startDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
        </div>

        <div class="form-group"
             ng-if="ctrl.showEndDate">
          <label>Finished: {{ctrl.data.report.endDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</label>
        </div>
        <div class="form-group"
             ng-if="!ctrl.showEndDate">
          <label>Running</label>
        </div>
        <div class="form-group">
          <label>Duration:
            {{(ctrl.data.report.endDateTime - ctrl.data.report.startDateTime - 3600000)
            | date:'HH:mm:ss'}}</label>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              With Autocorrect:
              <input name="withAutoCorrect" type="checkbox"
                     ng-model="ctrl.data.report.withAutocorrect" icheck
                     disabled>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              With Save to DB:
              <input name="withSaveToDb" type="checkbox"
                     ng-model="ctrl.data.report.withSaveToDb" icheck
                     disabled>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              All articles:
              <input name="withSaveToDb" type="checkbox"
                     ng-model="ctrl.data.report.allArticles" icheck
                     disabled>
            </label>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="buttons">
    <button type="button" ng-click="ctrl.cancel()" class="cancel"
            translate="BUTTON_BACK"></button>
  </div>
</form>

</body>
</html>
