<div class="container reports">
<div class="shopPayment">
      <form class="three-col">
        <div class="panel panel-default">
          <div class="panel-heading">
            Filter
          </div>
          <div class="panel-body">
            <div class="col-1">
              <div class="form-group datepicker">
                <div class="left">
                <label>from</label>
                <input class="form-control" kiga-date
                       ng-model="ctrl.filter.time.fromDate">
                </div>
                <div class="right">
                  <label>to</label>
                  <input class="form-control" kiga-date
                         ng-model="ctrl.filter.time.toDate">
                </div>
                <div class="buttons">
                  <div class="left">
                    <button type="button" ng-click="ctrl.cancel()" class="cancel"
                            translate="BUTTON_BACK"></button>
                  </div>
                  <div class="right">
                    <button class="button" ng-click="ctrl.reloadPayment()" class="ok">OK</button>
                  </div>
                </div>
               </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <div class="row">
                  <div class="paymentProvider">
                    <kiga-select on-select="ctrl.filterChanged()" options="ctrl.filter.paymentProvider.list" ng-model="ctrl.filter.paymentProvider.selected" placeholder="Payment Provider"></kiga-select>
                  </div>
                  <div class="country">
                    <kiga-select on-select="ctrl.filterChanged()"  options="ctrl.filter.country.list" ng-model="ctrl.filter.country.selected" placeholder="Country"></kiga-select>
                  </div>
                </div>
                <div class="row">
                  <div class="paymentMethod">
                    <kiga-select on-select="ctrl.filterChanged()"  options="ctrl.filter.paymentMethod.list" ng-model="ctrl.filter.paymentMethod.selected" placeholder="Payment Method"></kiga-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <div class="mpay">
                  <label>MPay  ID</label>
                  <input type="text" name="mpay" ng-change="ctrl.filterChanged()"
                         ng-model="ctrl.filter.mPayId" icheck>
                </div>
                <div class="order">
                  <label>Order Nr</label>
                  <input type="text" name="ordernr" ng-change="ctrl.filterChanged()"
                         ng-model="ctrl.filter.orderNr" icheck>
                </div>
                <div class="invoice">
                  <label>Invoice Nr</label>
                  <input type="text" name="invoicenr" ng-change="ctrl.filterChanged()"
                         ng-model="ctrl.filter.invoiceNr" icheck>
                </div>
              </div>
              <div class="form-group">
                <div class="downloads">
                  <label>Download</label>
                  <div csv-download
                    data="ctrl.filteredPaymentList"
                    row-as="r"
                    row="'{{r[0]}};{{r[6]}};{{r[1] | date }};{{r[3]}};{{r[5]}};{{r[7]}};{{r[4]}};{{r[9]}};{{r[2]}};{{r[8]}};{{r[10]}}'"
                    header="OrderNr;InvoiceNr;Ordered Date;Country;Sum Netto;Tax;Sum Gross;Cur;MpayID;Payment Method;AcquirerID"
                  ></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
      <div class="table hover">
        <div class="row table-header">
          <div ng-click="ctrl.sortList('Id')" class="clickable col-sm-6">
            OrderNr
          </div>
          <div ng-click="ctrl.sortList('Id')" class="clickable col-sm-5">
            InvoiceNr
          </div>
          <div ng-click="ctrl.sortList('testedArticles')" class="clickable col-sm-6">
            Ordered Date
          </div>
          <div ng-click="ctrl.sortList('startDateTime')" class="clickable col-sm-6">
            Country
          </div>
          <div ng-click="ctrl.sortList('endDateTime')" class="clickable col-sm-6">
            Sum Netto
          </div>
          <div ng-click="ctrl.sortList('allErrors')" class="col-sm-6 clickable">
            Tax
          </div>
          <div ng-click="ctrl.sortList('autocorrected')" class="clickable col-sm-6">
            Sum Gross
          </div>
          <div ng-click="ctrl.sortList('withAutocorrect')" class="clickable col-sm-6">
            MpayID
          </div>
          <div ng-click="ctrl.sortList('withSaveToDb')" class="clickable col-sm-6">
            Payment Method
          </div>
          <div ng-click="ctrl.sortList('withSaveToDb')" class="clickable col-sm-7">
            AcquirerID
          </div>
          <!-- Add TESTED articles -->
        </div>
        <div class="row table-row" ng-repeat="row in ctrl.filteredPaymentList">
          <div class="table-cell col-sm-6">
            {{row[0]}}<!-- OrderNr -->
          </div>
          <div class="table-cell col-sm-5">
            {{row[6]}}<!-- InvoiceNr -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[1] | date }}<!-- Order Date -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[3]}} <!-- Country -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[5]}} {{row[9]}} <!-- Sum Netto -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[7]}} {{row[9]}} <!-- Tax -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[4]}} {{row[9]}}<!-- Sum Groß -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[2]}}<!-- MpayId -->
          </div>
          <div class="table-cell col-sm-6">
            {{row[8]}} <!-- PaymentMethod -->
          </div>
          <div class="table-cell col-sm-7">
            {{row[10]}} <!-- Acquirer id -->
          </div>

        </div>
      </div>
  </div>
</div>
