.info-stats-block {
  width: 42%;
  float: left;
  .info-stats-row {
    font-size: 21px;
    color: #bcbcbc;
    width: 64%;
    line-height: 28px;
    float: left;
    .fa {
      font-size: 16px;
    }
  }
  .info-rate {
    width: 36%;
    float: left;
    text-align: right;
    color: #646260;
    font-size: 12px;
    padding-right: 20px;
    line-height: 28px;
    padding-top: 2px;
    display: inline-block;
    vertical-align: top;
  }
}
