<div class="info-stats-block">
  <div class="info-stats-row">
    <i *ngFor="let star of getStars()" [ngClass]="star" class="fa"> </i>
  </div>
  <div class="info-rate">({{ rating.count }})</div>
</div>
