@import '../../vars';
@import '../../main/css/bootstrap/variables';
@import 'welcome';

.validation-error {
  color: @red;
  margin-top: 2px;
  margin-bottom: 6px;
}

body div.member {
  .form-multicolumn-input-area {
    margin-top: 10px;
  }

  .form-multicolumn-input {
    padding-right: 10px;
  }

  .member-account-menu {
    width: 120px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
  }

  .member-account-menu-icon-area {
    font-size: 70px;
    font-weight: bold;
    background-color: @orange;
    color: @white;
  }

  .member-profile-pic-area {
    font-size: 30px;
    font-weight: bold;
    background-color: @orange;
    color: @white;
    padding: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
  }

  .member-profile-pic-text {
    font-size: larger;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
  }

  .member-account-menu-icon {
    line-height: 1.5;
  }

  .member-account-menu-text {
    padding-top: 10px;
  }

  .image-upload > input {
    display: none;
  }

  .member-bill-paid {
    background-color: @green;
  }

  .member-bill-unpaid {
    background-color: @red;
  }

  .member-bill-pending {
    background-color: @orange;
  }

  .member-bill-state-paid {
    color: @green;
  }

  .member-bill-state-unpaid {
    color: @red;
  }

  .member-bill-state-pending {
    color: @orange;
  }

  .member-bill-pdf-link {
    width: 60px;
    text-align: center;
    padding: 5px;
    color: #ffffff;
  }

  .hidden-sm {
    @media (max-width: @screen-sm-max) {
      .responsive-invisibility();
    }
  }

  .member-assignment-button,
  .member-revome-assignment-button,
  .member-remove-undo-button,
  .member-account-bill-ok,
  .member-account-bill-notok,
  .member-account-customerno,
  .member-account-picture-button {
    width: 100%;
  }

  .member-revome-assignment-button,
  .member-remove-undo-button,
  .member-account-bill-ok,
  .member-account-bill-notok,
  .member-account-customerno {
    background-color: @lightGrey;
    border-color: @lightGrey;
    color: @white;
  }

  .member-remove-undo-button,
  .member-account-bill-notok {
    background-color: @red;
  }

  .member-account-bill-ok {
    background-color: @green;
  }

  .member-info,
  .member-important-info {
    color: @lightGrey;
    font-weight: bold;
    font-size: larger;
  }

  .member-important-info {
    color: @red;
  }

  .mail {
    @media (min-width: @screen-md-min) and (max-width: @screen-lmd-max) {
      margin-left: 0px;
    }
    margin-left: 20px;
    text-decoration: none;
    color: @orange;
  }

  .buttons-right {
    text-align: center;
    padding: 0px 10px 0px 10px;
  }

  .buttons-right button {
    margin-bottom: 10px;
  }

  .member-address-check-block {
    height: 30px;
  }

  .my-abo-cc-image {
    margin-right: 10px;
  }

  .shop-reg {
    background-color: @shopColor;
  }
}
