@import '../../vars';

.welcome {
  font-size: 14px;
  .line {
    margin-bottom: 20px;
  }
  .line-italic {
    margin-bottom: 20px;
  }
  .email-icon {
    text-align: center;
  }
  .email-image {
    width: 287px;
    height: 287px;
  }
  .last-line {
    margin-top: 20px;
  }
  .last-line-italic {
    margin-top: 20px;
  }
}
