<form novalidate name="memberForm" role="form" class="two-col">

  <!-- TODO remove this -->
  <pre ng-show="ctrl.debugOutData !== ''">
    {{ctrl.debugOutData}}
  </pre>

  <div class="panel panel-default">
    <div class="panel-heading" translate="MEMBER_LICENCE_NUMBER_CHANGE"></div>
    <div class="panel-body">
      <div class="col-1">

        <div class="form-group" ng-show="ctrl.hasCurrentTransition()">
          <h4 t="MEMBER_LICENCES_NUMBER_CURRENT"
            translate-values="{
                number: ctrl.currentMaxUsers,
                licensePrice: ctrl.mainHandler.numberFormatter(ctrl.data.price),
                currency: ctrl.data.currency}">
          </h4>
          <span t="MEMBER_LICENCES_NUMBER_FUTURE_CHANGE"
            translate-values="{
                number: ctrl.orderedMaxUsers,
                date: ctrl.getAboPeriodEndDate()}">
          </span>
        </div>

        <div class="form-group">
          <span t="MEMBER_LICENCES_NUMBER_CHANGE"></span>
        </div>

        <div class="form-group">
          <!-- Licence Number -->
          <span t="MEMBER_LICENCES_NUMBER_CHANGE_INFO"></span>
          <kiga-select ng-model="ctrl.maxUsers"
            on-select="ctrl.groupCountChanged()"
            options="ctrl.maxUsersSelectOptions">
          </kiga-select>
        </div>

        <div class="form-group" ng-if="ctrl.hasFutureTransition()">
          <!-- Summary Text Regarding Numbers of Licenses -->
          <span class="member-important-info" t="MEMBER_LICENCES_NUMBER_ADDITIONAL_REDUCE_INFO"
            ng-if="ctrl.hasLicenseNumberDecrease()"
            translate-values="{ currentLicences: ctrl.currentMaxUsers,
                                                      newLicences: ctrl.maxUsers,
                                                      aboPeriodDat: ctrl.getAboPeriodEndDate()}"></span>
          <span class="member-important-info" t="MEMBER_LICENCES_NUMBER_ADDITIONAL_INCREASE_INFO"
            ng-if="ctrl.hasLicenseNumberIncrease()"
            translate-values="{ currentLicences: ctrl.currentMaxUsers,
                                                      currency: ctrl.data.currency,
                                                      price: ctrl.mainHandler.numberFormatter(ctrl.getFuturePrice()),
                                                      newLicences: ctrl.maxUsers}"></span>
        </div>

      </div>

      <div class="col-2" ng-if="ctrl.showRemoveSelection()">
        <!-- Mark subusers for deletion -->
        <div class="form-group">
          <h4 t="MEMBER_LICENCES_REMOVE_QUESTION"
            translate-values="{number: ctrl.futureOverflowLicenses()}">
          </h4>
        </div>
        <div class="form-group">
          <div ng-repeat="licence in ctrl.users">
            <label class="checkbox-inline">
              <input type="checkbox" name="removed"
                ng-model-options="{allowInvalid: true}"
                ng-model="licence.removed" icheck> {{licence.email}}
            </label>
          </div>

          <!-- necessary to perform validation manually because of model update problem when using validaton on input checkbox in repeat -->
          <div ng-if="ctrl.showExtraValidation && !ctrl.isEnoughLicensesRemoved()"
            class="validation-error">
            <span t="MEMBER_LICENCES_REMOVE_VALIDATION_ERROR"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>

<form novalidate role="form" class="two-col">
  <div class="panel panel-default">
    <div class="panel-heading" translate="MEMBER_LICENCE_MAINTENANCE">
    </div>

    <div class="panel-body">
      <div class="col-1">

        <!-- Currently defined users -->
        <div ng-repeat="licence in ctrl.users">
          <div class="form-group">
            <label t="MEMBER_LICENCE_EMAIL" translate-values="{number: $index+1}"></label>
          </div>
          <div class="form-group">
            <div class="member-info">{{licence.email}}</div>
          </div>
          <div class="form-group" ng-if="!licence.removed">
            <button class="member-revome-assignment-button"
              type="button"
              ng-click="ctrl.removeLicenceData($index)"
              t="MEMBER_LICENCE_REMOVE_ASSIGNMENT"></button>
          </div>
          <div class="form-group" ng-if="licence.removed">
            <span class="member-important-info" t="MEMBER_LICENCE_REMOVED"
              translate-values="{date: ctrl.getAboPeriodEndDate()}"></span>
            <button class="member-remove-undo-button"
              ng-click="ctrl.undoFutureRemove(licence)" t="MEMBER_LICENCE_REMOVE_UNDO"></button>
          </div>
          <br>
        </div>

        <!-- Users removed in this session -->
        <div ng-show="ctrl.canUndoDeletedLicenses()">
          <div ng-repeat="licence in ctrl.removedUsers">
            <button ng-disabled="!ctrl.canUndoDeletedLicenses()" type="button"
                  ng-click="ctrl.undoRemoveLicenceData(licence)"
                  t="MEMBER_LICENCE_REMOVE_UNDO"></button>
            <label>{{licence.email}}</label>
          </div>
        </div>


        <!-- Open spots of available licenses -->
        <div ng-repeat="licence in ctrl.openSpots" ng-form="newLicenceForm">
          <div class="form-group">
            <label t="MEMBER_LICENCE_EMAIL" translate-values="{number: $index+1+ctrl.users.length}"></label>
            <input class="form-control" name="email" type="email" ng-model="licence.email" placeholder="{{'FIELD_EMAIL' | translate}}"
              required async-validation="emailExists" async-url="nregistration/emailCheck" validation-msg-async-validationemail-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
              ng-fab-ensure-expression="ctrl.isUniqueEmail(licence)" validation-msg-ng-fab-ensure-expression="{{ 'MEMBER_EMAIL_NOT_UNIQUE' | translate }}">
          </div>

          <div class="form-group">
            <label t="MEMBER_LICENCE_PASSWORD" translate-values="{number: $index+1+ctrl.users.length}"></label>
            <input class="form-control" name="password" type="password" ng-model="licence.password" placeholder="{{'FIELD_PASSWORD' | translate}}"
              required ng-minlength="8">
          </div>
          <div class="form-group">
            <label t="MEMBER_LICENCE_PASSWORD_NEW" translate-values="{number: $index+1+ctrl.users.length}"></label>
            <input class="form-control" name="password_control" type="password" ng-model="passwordcontrol" placeholder="{{'FIELD_PASSWORD' | translate}}"
              required ui-validate="'$value==licence.password' " ui-validate-watch=" 'licence.password' ">
          </div>

          <div class="form-group">
            <button class="member-assignment-button"
              type="submit"
              ng-click="ctrl.assignNewLicence(newLicenceForm, $index)"
              t="MEMBER_LICENCE_ADD_ASSIGNMENT"></button>
          </div>

          <br>
        </div>
      </div>
    </div>
    <div class="col-2">

    </div>
  </div>

  </div>


  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="ctrl.mainHandler.goBack()"></button>
    </div>
    <div class="right">
      <button ng-hide="ctrl.hasLicenseNumberIncrease()" type="submit" translate="BUTTON_SAVE" ng-click="ctrl.save(memberForm)"></button>
      <button ng-show="ctrl.hasLicenseNumberIncrease()" type="submit" translate="MEMBER_LICENCE_UPDATE_PAY" ng-click="ctrl.save(memberForm)"></button>
    </div>
  </div>
</form>