<form novalidate name="memberForm" role="form" class="one-col" validation-info-required="isValidationInfoRequired">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_SUBSCRIPTION_PAYMENT_HEADER">
        </div>
        <div class="panel-body">
            <payment payment-options="data.paymentMethodList" invoice-options="data.invoiceOptionList"
                     payment-method-model="data.paymentMethod" invoice-option-model="data.invoiceOption"></payment>
        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>
</form>
