<form novalidate name="memberForm" role="form" class="one-col">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_SUBSCRIPTION_DURATION">
        </div>
        <div class="panel-body">

            <!-- header for subscription type + change info (could be replaced with transition-component) -->
            <div class="form-group">
                <label ng-if="!ctrl.periodChange" t="MEMBER_DURATION_SUBSCRIPTION_INFO"></label>
                <label ng-if="ctrl.periodChange" t="MEMBER_DURATION_SUBSCRIPTION_INFO_CHANGE" translate-values="{date: ctrl.mainHandler.dateFormatter(ctrl.subscriptionEnd), months: ctrl.periodChange}">
                </label>
            </div>

            <!-- current subscription type -->
            <div class="form-group">
                <h4>
                    <subscription-type
                        translate-key="ctrl.accountData.nameTranslationKey"
                        duration="ctrl.accountData.duration"
                        duration-type="ctrl.accountData.durationType">
                    </subscription-type>
                </h4>
            </div>

            <!-- available duration options -->
            <div class="form-group"
                ng-repeat="product in ctrl.products"
                ng-show="ctrl.subscriptionCanOrder(product)">
                <div class="radio">
                    <label>
                        <input type="radio"
                            ng-disabled="!ctrl.subscriptionCanOrder(product)"
                            name="product"
                            class="form-control"
                            ng-value="product.id"
                            icheck
                            ng-model="ctrl.productId">
                        <span t="MEMBER_DURATION_PRODUCT_INFO_SINGULAR" ng-if="product.duration==1" translate-values="{duration: product.duration, price: ctrl.mainHandler.numberFormatter(product.price), currency: product.currency}"></span>
                        <span t="MEMBER_DURATION_PRODUCT_INFO" ng-if="product.duration>1" translate-values="{duration: product.duration, price: ctrl.mainHandler.numberFormatter(product.price), currency: product.currency}"></span>
                    </label>
                </div>
            </div>

            <br/>

            <div class="form-group">
                <label t="MEMBER_DURATION_CHANGE_TIME"></label>
            </div>
            <div class="form-group">
                <div class="member-info" t="MEMBER_DURATION_CHANGE_INFO"></div>
            </div>
            <div class="form-group"
                ng-repeat="changeTime in ctrl.changeTimeOptions">
                <div class="radio">
                    <label>
                        <input type="radio"
                            name="changeTime"
                            class="form-control"
                            ng-value="changeTime.key"
                            icheck
                            ng-model="ctrl.changeTime">
                        <span t="{{changeTime.textkey}}" translate-values="{{changeTime.tv}}"></span>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <!-- save / cancel -->
    <div class="buttons">
        <div class="left">
            <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="ctrl.mainHandler.goBack()"></button>
        </div>
        <div class="right">
            <button ng-hide="ctrl.hasUpgrade()" type="submit"
                translate="BUTTON_SAVE"
                ng-click="ctrl.save()"></button>
            <button ng-show="ctrl.hasUpgrade()" type="submit"
                translate="MEMBER_LICENCE_UPDATE_PAY"
                ng-click="ctrl.save()"></button>
        </div>
    </div>

</form>