<form novalidate name="memberForm" role="form" class="one-col" >
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_CANCELLATION">
        </div>
        <div class="panel-body" ng-if="!data.dateOrdered">
            <div class="form-group" >
                <label t="MEMBER_CANCELLATION_DATE"></label>
                <div class="member-info" t="MEMBER_CANCELLATION_INFO" translate-values="{date: mainHandler.dateFormatter(data.aboPeriodEnd)}">
                </div>
            </div>
            <div class="form-group" >
                <div class="radio">
                    <label>
                        <input type="radio" name="keepUserData" ng-value="true"
                               class="form-control" icheck
                               ng-model="data.keepUserData">
                        <span t="MEMBER_CANCELLATION_KEEP_USERDATA"></span>
                    </label>
                </div>

            </div>
            <div class="form-group" >
                <div class="radio">
                    <label>
                        <input type="radio" name="keepUserData" ng-value="false"
                               class="form-control" icheck
                               ng-model="data.keepUserData">
                        <span t="MEMBER_CANCELLATION_REMOVE_DATA"></span>
                    </label>
                </div>

            </div>
            <div class="form-group" ng-if="data.keepUserData===false">
                <div class="member-important-info" t="MEMBER_CANCELLATION_REMOVE_DATA_INFO"></div>
            </div>
        </div>

      <div class="panel-body" ng-if="data.dateOrdered">
        <div class="form-group" >
          <label t="MEMBER_CANCELLATION_DATE"></label>
          <div class="member-info" t="MEMBER_CANCELLATION_INFO_CANCELLED" translate-values="{date: mainHandler.dateFormatter(data.aboPeriodEnd)}">
          </div>
        </div>
      </div>


    </div>
    <div class="buttons">
        <div class="left">
            <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="mainHandler.goBack()"></button>
        </div>
        <div class="right" ng-if="!data.dateOrdered">
            <button type="submit" translate="MEMBER_CANCELLATION_BUTTON" ng-click="cancellation(memberForm)"></button>
        </div>
      <div class="right" ng-if="data.dateOrdered">
        <button type="submit" translate="MEMBER_CANCELLATION_BUTTON_UNDO" ng-click="undoCancellation(memberForm)"></button>
      </div>
    </div>
</form>
