.house-number {
  width: 33%;
  float: left;
  padding-right: 1px;
  margin-top: 10px;
}
.floor-number {
  width: 33%;
  float: left;
  padding-right: 1px;
  margin-top: 10px;
}
.door-number {
  width: 33%;
  float: left;
  padding-right: 1px;
  margin-top: 10px;
}

.zip-code {
  width: 33%;
  float: left;
  padding-right: 1px;
  margin-top: 10px;
}

.city {
  width: 67%;
  float: left;
  padding-right: 1px;
  margin-top: 10px;
}
