<div class="form-group">
  <p>{{label}}</p>
  <kiga-text name="address.street" label="street"></kiga-text>
  <div class="house-number">
    <kiga-text name="address.houseNumber" label="houseNumber"></kiga-text>
  </div>
  <div class="floor-number">
    <kiga-text name="address.floor" label="floor"></kiga-text>
  </div>
  <div class="door-number">
    <kiga-text name="address.doorNumber" label="doorNumber"></kiga-text>
  </div>

  <div class="zip-code">
    <kiga-text name="address.zipCode" label="zipCode"></kiga-text>
  </div>
  <div class="city">
    <kiga-text name="address.city" label="city"></kiga-text>
  </div>
  <div class="country">
    <kiga-selection placeholder="Country" name="address.countryId" label="Country"
                    [options]="countries"></kiga-selection>

  </div>
</div>
