<div class="modal-header">
  <button
    type="button"
    class="close no-legacy"
    ng-click="close()"
    data-dismiss="modal"
    aria-hidden="true"
  >
    &times;
  </button>
  <h3 class="modal-title text-center" translate="PLAN_COLOR_SELECTOR_TITLE"></h3>
</div>

<div class="modal-body">
  <section class="entry" translate="PLAN_COLOR_SELECTOR_TEXT"></section>
  <div class="colorSelector">
    <div ng-repeat="color in colors">
      <a ng-click="selectColor(color)"> <div class="circle {{color}}"></div> </a>
    </div>
  </div>
</div>
