<div>
  <div class="modal-header">
    <button
      type="button"
      class="close no-legacy"
      ng-click="close()"
      data-dismiss="modal"
      aria-hidden="true"
    >
      &times;
    </button>
    <h3 class="modal-title text-center" translate="PLAN_ICON_SELECTOR_TITLE"></h3>
  </div>

  <div class="modal-body">
    <section class="entry" translate="PLAN_ICON_SELECTOR_TEXT"></section>
    <ul class="sticker-list">
      <li ng-repeat="icon in icons">
        <a ng-click="selectIcon('sticker-' + icon)">
          <div class="icon icon-sticker-{{icon}}"></div>
        </a>
      </li>
    </ul>
  </div>
</div>
