<div class="modal-header">
  <button
    type="button"
    class="close no-legacy"
    ng-click="close()"
    data-dismiss="modal"
    aria-hidden="true"
  >
    &times;
  </button>
  <h3 class="modal-title text-center" translate="PLAN_PREVIEW_SELECT"></h3>
</div>

<div class="modal-body previewSelector">
  <a ng-repeat="item in items" ng-click="selectImage(item)">
    <img ng-src="{{item.url}}" width="174" height="121" />
  </a>
</div>
