<form novalidate role="form" class="one-col" >
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_PROFILE">
        </div>
        <div class="panel-body">
            <menu-item ng-repeat="item in menu" translate-key="{{item.titleKey}}" icon="{{item.icon}}" state="{{item.state}}"></menu-item>
        </div>
    </div>
    <div class="buttons">
        <div class="left">
            <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="mainHandler.goBack()"></button>
        </div>
    </div>
</form>

