<form novalidate name="form" role="form" class="one-col" >
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_USER_LANGUAGE_CHANGE">
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label t="MEMBER_USER_COMMUNICATION_LANGUAGE"></label>
              <kiga-select ng-model="data.value"  options="data.options" placeholder="{{ 'SWITCH_LOCALE' | translate }}"></kiga-select>
            </div>
        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>

</form>

