<form novalidate name="memberForm" role="form" class="one-col" validation-info-required="isValidationInfoRequired">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_USER_PROFILE">
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-60 col-sm-60 col-md-30 col-lg-30">
                    <div class="form-group">
                        <label t="MEMBER_USER_NAME"></label>
                        <input type="text" name="userName" class="form-control" ng-model="data.address.email"
                               validation-info required>
                    </div>

                    <div class="form-group">
                        <label t="MEMBER_FILE_SELECT" ></label>
                      <div>
                        <div class="img_preview uploader" ng-show="data.avatar == null">
                          <div class="upload_button"
                               file-upload
                               on-add='addImage'></div>
                          <div class="placeholder" ng-show="!data.avatar">
                            <div class="question_mark"> <span t="MEMBER_NO_PICTURE_SELECTED" ></span></div>
                            <i class="icon icon-sticker-questionmark"></i>
                          </div>
                          <div class="preview" file-upload-preview="data.avatar.name" upload-file="data.avatar.name"
                               ng-show="data.avatar.name"></div>
                        </div>
                        <div class="img_preview uploader" ng-show="data.avatar.url != null || elem.avatar.name != null">
                          <div class="preview">
                            <img ng-src="{{ data.avatar.url }}" alt="" class="preview"
                                style="width: 100%; border: 1px solid black; max-width: 50vw;"/>
                            <i class="icon icon-cancel-circle" ng-click="removeAvatar()"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>
</form>
