<form novalidate name="memberForm" role="form" class="one-col" validation-info-required="isValidationInfoRequired">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_EMAIL_CHANGE">
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label t="MEMBER_EMAIL_CURRENT"></label>
                <div><strong>{{oldEmail}}</strong></div>
            </div>

            <div class="form-group">
                <label t="MEMBER_EMAIL_NEW"></label>

                <!-- email -->
                <input name="email" type="email" placeholder="{{'MEMBER_EMAIL_ADDRESS' | translate}}" class="form-control"
                       ng-model="input.newEmail" required
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0}}"
                       validation-msg-validator = "{{ 'MEMBER_EMAIL_HAS_TO_BE_DIFFERENT' | translate }}"
                       validation-msg-async-validationemail-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
                       async-validation="emailExists" async-url="member/profileEmailOk"
                       async-validation-context="input.newEmail" use-endpoint="true"
                  />

                <div ng-if="memberForm.email.$pending" t="MEMBER_EMAIL_CHECK_PENDING"></div>

            </div>

            <div class="form-group">
                <label t="MEMBER_EMAIL_NEW_CONFIRMATION"></label>

                <input name="email2" type="email" placeholder="{{'MEMBER_EMAIL_ADDRESS' | translate}}"
                       class="form-control" data-test="email2"
                       ng-model="input.newEmailconfirm" required
                       ng-fab-match="input.newEmail"
                       validation-msg-ng-fab-match="{{ 'REG_EMAIL_CONFIRMATION_ERROR' | translate }}"
                        />

            </div>
        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>
</form>

