<form novalidate name="memberForm" role="form" class="one-col" validation-info-required="isValidationInfoRequired">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_PASSWORD_CHANGE">
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label t="MEMBER_PASSWORD_CURRENT"></label>
                <input name="password" type="password" placeholder="{{'MEMBER_PASSWORD' | translate}}" class="form-control"
                       ng-model="data.password.value" required  validation-info>
            </div>

            <div class="form-group">
                <label t="MEMBER_PASSWORD_NEW"></label>

                <input name="passwordnew" type="password" placeholder="{{'MEMBER_PASSWORD' | translate}}" class="form-control"
                       ng-model="data.newPassword.value" required ng-minlength="8">

            </div>

            <div class="form-group">
                <label t="MEMBER_PASSWORD_NEW_CONFIRMATION"></label>

                <input name="passwordConfirmation" type="password" placeholder="{{'MEMBER_PASSWORD' | translate}}" class="form-control"
                       ng-model="inputData.newPasswordConfirmation" required
                       ng-fab-match="data.newPassword.value"
                       validation-msg-ng-fab-match="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}">
            </div>




        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>

</form>

