<form novalidate name="form" role="form" class="one-col" >
  <div class="panel panel-default">
    <div class="panel-heading" translate="MEMBER_ADDITIONAL_INFO">
    </div>
    <div class="panel-body">
      <!--
      <div class="form-group">
        <label t="MEMBER_ADDITIONAL_PROFESSION"></label>
        <kiga-select ng-model="ctrl.data.job" options="ctrl.jobs" placeholder="{{'ADDITIONAL_FACILITY' | translate}}"></kiga-select>
      </div>
      <div class="form-group">
        <label t="MEMBER_ADDITIONAL_FACILITY"></label>
        <kiga-select ng-model="ctrl.data.organization" options="ctrl.organizations" placeholder="{{'ADDITIONAL_PROFESSION' | translate}}"></kiga-select>
      </div>
      -->
      <div class="form-group">
        <label t="MEMBER_ADDITIONAL_PROFESSION"></label>
        <kiga-select ng-model="ctrl.data.jobName" options="ctrl.jobNames"
          placeholder="{{'ADDITIONAL_PROFESSION' | translate}}"></kiga-select>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="ctrl.mainHandler.goBack()"></button>
    </div>
    <div class="right">
      <button type="submit" translate="BUTTON_SAVE" ng-click="ctrl.save()"></button>
    </div>
  </div>
</form>

