<div class="preview-container-bg">
  <div class="preview-container row">
    <div class="nav-left">
      <div class="prev-btn"
           ng-click="$ctrl.handlePrevious()"
           ng-show="$ctrl.showPrevious">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>
    <div class="action-buttons" ng-show="$ctrl.idea.download">
      <a class="eye-btn">
        <div class="action-btn eye-btn" tooltip-placement="bottom"
             uib-tooltip="{{ 'IDEAS_DOWNLOAD_IDEA' | translate }}"
             data-test="download"
             ng-click="$ctrl.idea.downloadIdea()"><i class="fa fa-cloud-download"></i>
        </div>
      </a>
      <a ng-href="{{ $ctrl.links.view.link }}" class="eye-btn">
        <div class="action-btn eye-btn" tooltip-placement="bottom"
             uib-tooltip="{{ 'IDEAS_VIEW_IDEA' | translate }}"
             data-test="previewView"><i class="fa fa-eye"></i>
        </div>
      </a>
      <a ng-href="{{ $ctrl.links.view.link }}">
        <div class="action-btn edit-btn" ng-if="$ctrl.links.edit.show"
             data-test="previewEdit"><i class="fa fa-pencil"></i>
        </div>
      </a>
    </div>
    <div class="action-buttons" ng-hide="$ctrl.idea.download">
      <a ng-href="{{ $ctrl.links.view.link }}" class="eye-btn">
        <div class="action-btn eye-btn" tooltip-placement="bottom"
             uib-tooltip="{{ 'IDEAS_VIEW_IDEA' | translate }}"
             data-test="previewView"><i class="fa fa-eye"></i>
        </div>
      </a>
      <a ng-href="{{ $ctrl.links.planner.link }}" class="calendar-btn">
        <div class="action-btn calendar-btn"
             tooltip-placement="bottom" uib-tooltip="{{ 'IDEAS_CALENDAR' | translate }}">
          <i class="fa fa-calendar"></i>
        </div>
      </a>

      <kiga-link class="print-btn"
                 url="{{ $ctrl.links.print.link }}"
                 origin="preview"
                 id={{$ctrl.idea.id}}
                 title="{{$ctrl.idea.title}}"
                 tag="print">
        <div class="action-btn print-btn"
             tooltip-placement="bottom" uib-tooltip="{{ 'IDEA_PRINT' | translate }}"
             data-test="previewPrint"><i class="icon icon-print-image"></i>
        </div>
      </kiga-link>

      <a ng-click="$ctrl.toggleFavourite()" class="favourite-btn">
        <div class="action-btn favourite-btn" tooltip-placement="bottom"
             uib-tooltip="{{ $ctrl.idea.favourite ? 'IDEAS_REMOVE_FAVOURITE' : 'IDEAS_ADD_FAVOURITE' | translate }}"
             data-test="previewCalendar"><i class="fa
           {{ $ctrl.idea.favourite ? 'fa-heart' : 'fa-heart-o'}}"></i>
        </div>
      </a>

      <kiga-link ng-if="$ctrl.links.printWithoutImage.show"
                 class="print-btn"
                 url="{{ $ctrl.links.printWithoutImage.link }}"
                 origin="preview"
                 title="{{ $ctrl.idea.title }}" tag="print">
        <div class="action-btn print-btn" tooltip-placement="bottom"
             uib-tooltip="{{ 'IDEA_PRINT_WITHOUT_IMG' | translate }}"
             data-test="previewPrint"><i class="icon icon-print-text"></i>
        </div>
      </kiga-link>

      <a ng-href="{{ $ctrl.links.edit.link }}" target="_blank">
        <div class="action-btn edit-btn" ng-if="$ctrl.links.edit.show"
             data-test="previewEdit"><i class="fa fa-pencil"></i>
        </div>
      </a>

      <audio-player href="{{$ctrl.idea.audioLink}}"
                    ng-if="$ctrl.idea.audioLink && !ctrl.idea.videoLink"
                    show-only-buttons="true">
      </audio-player>

      <div class="action-btn play-btn paused"
           ng-if="$ctrl.ideaObject.videoLink"
           ng-click="$ctrl.showVideo = true" >
        <i class="play-icon icon icon-play" tooltip-placement="bottom"
           uib-tooltip="{{ 'IDEAS_PLAY_VIDEO' | translate }}"></i>
        <i class="pause-icon icon icon-pause" tooltip-placement="bottom"
           uib-tooltip="{{ 'IDEAS_PAUSE_VIDEO' | translate }}"></i>
      </div>

      <idea-link-copy-clipboard-button
        ng-if="$ctrl.links.edit.show"
        url="$ctrl.idea.previewUrl"></idea-link-copy-clipboard-button>

      <social-buttons
        title="$ctrl.idea.title"
        link="$ctrl.idea.url"
        image-url="$ctrl.idea.largePreviewImageUrl"></social-buttons>
    </div>

    <div class="info">
      <a ng-href="{{ $ctrl.links.view.link }}" ng-if="!$ctrl.showVideo">
        <img class="info-img" ng-src="{{ $ctrl.idea.largePreviewImageUrl }}" alt="">
      </a>
      <div ng-show="$ctrl.showVideo" ng-if="$ctrl.idea.videoLink">
        <video-player video-link="{{ $ctrl.idea.videoLink }}"
                      button=".play-btn"></video-player>
      </div>
      <div class="info-description">
        <div class="info-title">
          <a href="{{ $ctrl.links.view.link }}">{{ $ctrl.idea.title }}</a>
        </div>
        <div class="info-text">
          <a href="{{ $ctrl.links.view.link }}">{{ $ctrl.idea.description }}</a>
        </div>
        <div class="info-stats">
          <div class="info-category-block">
            <div class="info-category-ab">
              <span>{{ $ctrl.idea.ageRange }}</span>
            </div>
            <div class="info-category-type">
              <div class="info-category">{{ $ctrl.idea.level1Title }}</div>
              <div class="info-type">{{ $ctrl.idea.level2Title }}</div>
            </div>
          </div>
          <idea-rating idea-id="$ctrl.idea.id">
          </idea-rating>
        </div>
      </div>
    </div>

    <div class="list hidden-lmd hidden-md"
         ng-show="!$ctrl.idea.download && $ctrl.idea.previewPages.length > 0">
      <div class="up-btn" id="preview-list-up-{{ $index }}"
           ng-style="{'visibility': $ctrl.idea.previewScrollButtonsVisibility}"
           data-test="previewListUp">
        <i class="fa fa-chevron-up"></i>
      </div>
      <div class="list-col">
        <div class="list-prev-sm" ng-class="{'active': page == $ctrl.activePreviewPage}"
             ng-repeat="page in $ctrl.idea.previewPages track by $index"
             ng-click="$ctrl.selectPreviewPage(page)">
          <img ng-src="{{ page.small }}" alt="">
          <div class="prev-active">
            <div class="active-circle"></div>
          </div>
        </div>
      </div>
      <div id="preview-list-down-{{ $index }}" class="down-btn"
           ng-style="{'visibility': $ctrl.idea.previewScrollButtonsVisibility}"
           data-test="previewListDown">
        <i class="fa fa-chevron-down"></i>
      </div>
    </div>

    <div class="preview hidden-lmd hidden-md">
      <a ng-href="{{ $ctrl.links.view.link }}">
        <img ng-show="!$ctrl.idea.download && $ctrl.activePreviewPage"
             ng-src="{{ $ctrl.activePreviewPage.large }}" alt="">
        <img ng-hide="!$ctrl.idea.download"
             ng-src="{{url('ideas/images/' + $ctrl.previewImageName)}}">
      </a>
    </div>

    <div class="nav-right">
      <div class="close" ng-show="$ctrl.allowClose"
           ng-click="$ctrl.handleClose()"><i class="fa fa-times"></i></div>
      <div class="next-btn" ng-click="$ctrl.handleNext()"
           ng-show="$ctrl.showNext">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
