<div id="directives">
  <h2>Directives</h2>
  <h3 id="three-field-date-input">Birthday</h3>
  <div class="form-group birthday">
    <label>Birthday</label>
    <kiga-birthday name="birthday" value="data.birthday"></kiga-birthday>
  </div>
  <h3 id="kiga2-date">KigaDate</h3>
  <div class="form-group datepicker">
    <label>Date picker (used for date arount the present) - ng-model
      required</label>
    <input type="text" class="form-control" ng-model="data.date2" kiga-date>
  </div>

  <h3 id="speech-bubbles">SpeechBubble</h3>
  <div class="row speech-bubbles">
    <div class="col-sm-15">
      <div speech-bubble="top">
        This is a speechBubble with top orientation
      </div>
    </div>
    <div class="col-sm-15">
      <div speech-bubble="right">
        This is a speechBubble with right orientation
      </div>
    </div>
    <div class="col-sm-15">
      <div speech-bubble="bottom">
        This is a speechBubble with bottom orientation
      </div>
    </div>
    <div class="col-sm-15">
      <div speech-bubble="left">
        This is speechBubble with left orientation
      </div>
    </div>
  </div>

  <h3 id="orWidget">OrWidget</h3>
  <or-widget></or-widget>
</div>
