<div id="dragndrop">
    <h2>Drag &amp; Drop</h2>
    <div ng-repeat="obj in dragData" class="wrapper">
        <div class="wrapper">
            <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-start="dragStart()" class="drag">
                <p>You can drag this container</p>
                <img src="/main/images/kiga_logo.png">
            </div>
        </div>
    </div>
    <div ng-drop="true" ng-drop-success="onDropComplete($data,$event)"></div>
</div>
