<div id="formats">
  <h2>Formats</h2>

  <p>For number,  currencies and dates always use the formatters provided by angular</p>

  <h3>Currency</h3>
  <p>For currency you need to provide also a currency next to the amount itself.</p>

  <h3>DateTime</h3>

  <table>
    <tr>
      <td>fullDate:</td>
      <td>{{data.date2 | date: formats.date.fullDate}}</td>
    </tr>
    <tr>
      <td>longDate:</td>
      <td>{{data.date2 | date: formats.date.longDate}}</td>
    </tr>
    <tr>
      <td>medium:</td>
      <td>{{data.date2 | date: formats.date.medium}}</td>
    </tr>
    <tr>
      <td>mediumDate:</td>
      <td>{{data.date2 | date: formats.date.mediumDate}}</td>
    </tr>
    <tr>
      <td>mediumTime:</td>
      <td>{{data.date2 | date: formats.date.mediumTime}}</td>
    </tr>

    <tr>
      <td>short:</td>
      <td>{{data.date2 | date: formats.date.short}}</td>
    </tr>
    <tr>
      <td>shortDate:</td>
      <td>{{data.date2 | date: formats.date.shortDate}}</td>
    </tr>
    <tr>
      <td>shortTime:</td>
      <td>{{data.date2 | date: formats.date.shortTime}}</td>
    </tr>
  </table>

  <table>
    <tr>
      <td>Number:</td>
      <td>{{data.number | kigaCurrency:"€" }}</td>
    </tr>
  </table>
</div>

