<div id="forms">
  <h2>Forms</h2>

  <p>There exists three types of forms. Each form should have a form tag with an
    ng-submit directive.<br>A .panel container with .panel-heading
    and .panel-body should be embedded within the form.<br>Below the panel use a
    div with .buttons for displaying the buttons. Usually the
    submit button is on the right, the cancel on the left. Cancel button has an
    additional class that sets the right color.</p>

  <h3>1-column form</h3>

  <form role="form" class="one-col">
    <div class="panel panel-default">
      <div class="panel-heading">
        One column form
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Name of the field type</label>
          <input type="text" placeholder="Field helper text"
                 required
                 name="input1" class="form-control">
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="submit">OK</button>
      </div>
    </div>
  </form>

  <h3>Small form</h3>
  <form role="form" class="small">
    <div class="panel panel-default">
      <div class="panel-heading">
        Small form
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Some input</label>
          <input type="text" placeholder="Helper text" required
                 name="input1" class="form-control">
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="submit">OK</button>
      </div>
    </div>
  </form>

  <h3>2-column form</h3>
  <form role="form" class="two-col">
    <div class="panel panel-default">
      <div class="panel-heading">Two column form</div>
      <div class="panel-body">
        <div class="col-1">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Check something</label>

            <div>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="data.form2colCheck1" icheck>
                Checkbox 1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="data.form2colCheck2" icheck>
                Checkbox 2
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="submit">OK</button>
      </div>
    </div>
  </form>

  <h3>3-column form</h3>

  <form role="form" class="three-col">
    <div class="panel panel-default">
      <div class="panel-heading">Three column form</div>
      <div class="panel-body">
        <div class="col-1">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="submit">OK</button>
      </div>
    </div>
  </form>
  <h3>Form with another color</h3>
  <form class="one-col green-scheme">
    <div class="panel">
      <div class="panel-heading">
        Green Form
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Inputs in custom color</label>
          <input type="text" class="form-control" placeholder="green">
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit">OK</button>
    </div>
  </form>

  <h3>Erros in forms</h3>
  <p>If an error occure, use the alert-waring class.</p>
  <form role="form" class="three-col">
    <div class="panel panel-default">
      <div class="panel-heading">Three column form</div>
      <div class="panel-body">
        <h3 class="alert-warning">Something went wrong, that's the error</h3>
        <div class="col-1">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Input in column one</label>
            <input type="text" placeholder="Fill in something">
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="submit">OK</button>
      </div>
    </div>
  </form>

</div>
