<div id="grid">
  <h2>Grid</h2>
  <p>The fluid grid is based on bootstrap's grid but strongly customized:.<br>Instead
    of 12 columns, the kiga grid has 60 columns.<br>
    Concerning responsive views the customized grid has six responsive views:
  </p>
  <table class="table">
    <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Small (sm)</td>
      <td>Large-Small (lsm)</td>
      <td>Medium (md)</td>
      <td>Large-Medium (lmd)</td>
      <td>Large (lg)</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Width</td>
      <td>320 - 479</td>
      <td>480 - 639</td>
      <td>640 - 767</td>
      <td>768 - 959</td>
      <td>>960 - 1120</td>
    </tr>
    </tbody>
  </table>
</div>
