<div id="icons">
  <h2>Icons</h2>

  <div class="form-group last">
    <p>
      This is a text with a default
      <i class="icon-earth" style="font-size: 25px;"></i> Icon,
      a larger <i class="icon-earth large"></i>one
      and a smaller <i class="icon-earth small"></i> one.
    </p>
    <p>For real attention there is also the x-large <i class="icon-earth x-large"></i> Size</p>
  </div>

  <div class="icons">
    <!--
    IT: Oggy = Heute
    IT: La mia =
    IT: Le mie =
    IT: Mia =
    IT: Mio =

    TR: Benim = Mein, Meine
    TR: Bugün = Heute

    -->
    <br style="clear:left;">
        <h3>INTERFACE </h3>
            <div ng-repeat="icon in [
                 'settings', 'search', 'person', 'cart', 'cart2', 'arrow-left', 'arrow-right',
                 'earth', 'check', 'checkbox-on', 'checkbox-off', 'radio-on', 'radio-off',
                 'burger-menu', 'launcher-menu','exclamation-mark','reg-what','reg-who','reg-why','coming-soon',
                 'hand', 'papers']">
              <p>{{icon}}</p>
             <i class="icon icon-{{icon}}"></i>
        <pre>&lt;i class="icon icon-{{icon}}"&gt;&lt;/i&gt;</pre>
    </div>


    <br style="clear:left;">
        <h3>INTERFACE 2 PLANNER</h3>
           <div ng-repeat="icon in [
           'note','plan-copy','plan-edit','plan-month','plan-week','plan-year','plus','print','print-ideas','print-month',
           'print-week','print-year','sticker-edit','sticker-plus',
              ]">
             <p>{{icon}}</p>
             <i class="icon icon-{{icon}}"></i>
      <pre>&lt;i class="icon icon-{{icon}}"&gt;&lt;/i&gt;</pre>
    </div>



    <br style="clear:left;">
    <h3>INTERFACE 3 FORUM, EVENTS, JOBS</h3>
    <div ng-repeat="icon in [
        'article','description','idea','infinite','job-institute','job-person','job','kiga','link','location',
        'mail','parents','person','person2','phone','reply','time','heart','heart2','heart3','star',
        'star2','star3','star4','pencil','cancel-circle','checkmark-circle','close','checkmark','checkmark2',
        'minus','plus2',


     ]">
      <p>{{icon}}</p>
      <i class="icon icon-{{icon}}"></i>
      <pre>&lt;i class="icon icon-{{icon}}"&gt;&lt;/i&gt;</pre>
    </div>


    <br style="clear:left;">
     <h3>CATEGORIES </h3>
    <div ng-repeat="icon in [
        '',
     ]">
      <p>{{icon}}</p>
      <i class="icon icon-{{icon}}"></i>
      <pre>&lt;i class="icon icon-{{icon}}"&gt;&lt;/i&gt;</pre>
    </div>


    <br style="clear:left;">
    <h3>REGISTRATION</h3>
    <div ng-repeat="icon in [
        'duration-month-12', 'duration-month-6', 'duration-month-3', 'duration-month-1',
        'product-standard-outlines', 'product-licence-outlines', 'product-gift-outlines', 'product-parents-outlines',
        'reg-who', 'reg-what', 'reg-why',
        ]">
        <p>{{icon}}</p>
        <i class="icon icon-{{}}"></i>
      <pre><i clas>s="icon icon-{{icon}}"></i></pre>
    </div>



    <br style="clear:left;">
    <h3>STICKERS</h3>
    <div ng-repeat="icon in [
      'sticker-wave', 'sticker-leaf4', 'sticker-star2', 'sticker-flower1',
      'sticker-leaf3', 'sticker-shirt', 'sticker-drop', 'sticker-leaf2',
      'sticker-star3', 'sticker-kiga', 'sticker-flower2', 'sticker-moon',
      'sticker-speach', 'sticker-heart', 'sticker-mein', 'sticker-music2',
      'sticker-questionmark', 'sticker-location', 'sticker-music1',
      'sticker-leaf', 'sticker-star1', 'sticker-banner', 'sticker-marker',
      'sticker-pattern1', 'sticker-tree', 'sticker-construction', 'sticker-leaf5',
      'sticker-lines', 'sticker-flag', 'sticker-crown', 'sticker-ok',
      'sticker-meine','sticker-mia', 'sticker-mio', 'sticker-my', 'sticker-la-mia', 'sticker-le-mie',
      'sticker-leaf6', 'sticker-lightning', 'sticker-book', 'sticker-car',
      'cloud-rain', 'sticker-heute', 'sticker-rocket', 'sticker-phone',
      'sticker-oggy', 'sticker-magnet', 'sticker-bird', 'sticker-headset',
      'sticker-hourglass', 'sticker-wheel', 'sticker-star4', 'sticker-today',
      'sticker-square', 'sticker-buguen', 'sticker-benim', 'play2', 'circle-left', 'circle-right'
    ]">
      <p>{{icon}}</p>
      <i class="icon icon-{{icon}}"></i>
      <pre>&lt;i class="icon icon-{{icon}}"&gt;&lt;/i&gt;</pre>
    </div>
  </div>
</div>
