<div class="formsContent">
  <div id="fields">
    <h2>Fields</h2>
        <div id="generic">
      <h3>Generic</h3>

      <kiga-input label="Default Text" place-holder="Type in"></kiga-input>

      <div class="form-group">
        <label>Default Text</label>
        <input type="text" class="form-control" placeholder="Type in">
      </div>
      <p>All fields need to be wrapped by div with class .form-group The width
        depends on the <a href="#forms">form</a> in which they are included.</p>
                      <pre>
          &lt;div class="form-group"&gt;
           &lt;label&gt;Default Text input&lt;/label&gt;
           &lt;input type="text" class="form-control" placeholder="Type in"&gt;
          &lt;/div&gt;</pre>
      <hr>
      <p>For number fields spinner is shown</p>

      <kiga-input input-type="number" label="Number field" place-holder="Type in a number"></kiga-input>

      <div class="form-group">
        <label>Number field</label>
        <input type="number" placeholder="Type in a number"
               class="form-control"/>
      </div>
      <hr>

      <kiga-label large="false" label="Label Field" label-content="Some label that is only shown to the user"></kiga-label>

      <div class="form-group">
        <label>Label field</label>
        <label class="value">Some label that is only shown to the user</label>
      </div>
      <hr>
      <p>If a field needs to be seperated visually from the others add .large
        class to the .form-group</p>

      <kiga-label large="true" label="Field with larger spaces" place-holder="blabla"></kiga-label>

      <div class="form-group large">
        <label>Field with larger spaces</label>
        <input type="text" placeholder="blabla" class="form-control">
      </div>
      <hr>
      <p>Multiple fields can also be implemented, but see to it, that
        placeholders are used.</p>

       <kiga-multiple-inputs label="Multiple inputs"
                             place-holder1="Field 1"
                             place-holder2="Field 2"
                             place-holder3="Field 3"
                             three-fields="true"></kiga-multiple-inputs>

      <div class="form-group">
        <label>Multiple inputs</label>
        <input type="text" class="form-control" placeholder="Field 1">
        <input type="text" class="form-control" placeholder="Field 2">
        <input type="text" class="form-control" placeholder="Field 3">
      </div>
      <pre>
          &lt;div class="form-group"&gt;
           &lt;label&gt;Multiple inputs&lt;/label&gt;
           &lt;input type="text" class="form-control" placeholder="Field 1"&gt;
           &lt;input type="text" class="form-control" placeholder="Field 2"&gt;
           &lt;input type="text" class="form-control" placeholder="Field 3"&gt;
          &lt;/div&gt;</pre>

      <form onsubmit="submitTest()">
        <kiga-text-area label="Simple Textarea" value="data.textarea" ></kiga-text-area>
      </form>

      <div class="form-group">
        <label>Simple Textarea</label>
        <textarea class="form-control" ng-model="data.textarea"></textarea>
      </div>
    </div>
  </div>
  <div id="select">
    <h3>Select</h3>
    <p>Selects are implemented with ui-select</p>

    <kiga-selection place-holder="Select a country..." label="Required with no default value"
                    value="select.selected" options="select.countries"
                    validation="required"></kiga-selection>
    <kiga-selection label="Preselected Country" options="select.countries"
                    value="select.preSelected"></kiga-selection>

    <kiga-selection label="Preselected Country" options="select.monthSelectionOptions" value="5"
                    translation="true"></kiga-selection>

    <kiga-selection place-holder="Select something.." label="just for testing with dictionary"
                    value="select.selected"
                    options="{'hu': 'Lapbag Huhn', 'ig': 'Lapbag Igel', 'hun': 'Lapbag Hund' }"></kiga-selection>

    <kiga-selection options="select.countriesNameIdx" value="select.preSelected"></kiga-selection>


  </div>
  <div id="checkboxes">
    <h3>Checkboxes</h3>

    <p>Checkboxes are by default aligned horizontally but can also be done
      vertically.
      The fields have customized layout, so one need to add the icheck
      directive</p>

    <kiga-multiple-checkbox alignment="vertical" label="Checkboxes vertical aligned"
                   options="{'opt1': 'left', 'opt2': 'right'}">
    </kiga-multiple-checkbox>


    <div class="form-group">
      <label>Checkboxes vertical aligned</label>

      <div>
        <label class="checkbox-inline">
          <input type="checkbox" name="vCheck" value="left" ng-model="data.checkLeft" icheck>&nbsp;left
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="vCheck" value="right" ng-model="data.checkRight" icheck>&nbsp;right
        </label>
      </div>
    </div>
    <hr>



    <br>
    <p>How to use the kiga-multiple-checkboxes:</p>
    <pre>
        &lt;kiga-multiple-checkbox alignment="vertical"
            options="{at: 'Österreich', de: 'Deutschland'}"
            label="vertical aligned"
            value="['de']"&gt;
        &lt;/kiga-multiple-checkbox&gt;

        OR:

        &lt;kiga-multiple-checkbox alignment="vertical"
            options="[['at', 'Österreich'], ['de', 'Deutschland'], ['ch', 'Schweiz']&#93;"
            label="vertical aligned"
            value="['at', 'ch']"&gt;
        &lt;/kiga-multiple-checkbox&gt;
    </pre>
    <p>------------------------------------ Just for testing --------------------------------------------</p>
    <kiga-multiple-checkbox options="{at: 'Österreich', de: 'Deutschland', ch: 'Schweiz'}" label="horizontal aligned"
    value="['at']" ></kiga-multiple-checkbox>
    <br>
    <kiga-multiple-checkbox options="[['at', 'Österreich'], ['de', 'Deutschland'], ['ch', 'Schweiz']]"
                   value="['at', 'ch']"></kiga-multiple-checkbox>
    <p>--------------------------------------------------------------------------------------------------</p>
    <br>



    <kiga-multiple-checkbox options="{opt1: 'Checkbox1', opt2: 'Checkbox2', opt3: 'Checkbox3'}" label="Checkboxes horizontal aligned"></kiga-multiple-checkbox>

    <div class="form-group">
      <label>Checkboxes horizontal aligned</label>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="check2" ng-model="data.hCheck1" icheck>
          Checkbox 1
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="check2" ng-model="data.hCheck2" icheck>
          Checkbox 2
        </label>
      </div>
      <div class="checkbox last">
        <label>
          <input type="checkbox" name="check2" ng-model="data.hCheck3" icheck>
          Checkbox 3
        </label>
      </div>
    </div>
  </div>
  <div id="radios">
    <h3>Radios</h3>

    <p>Radios work similiar like the <a href="#checkboxes">Checkboxes</a> -
      don't forget to use ng-model and icheck</p>

    <br>

    <p>How to use the kiga-radios:</p>
    <pre>
        &lt;kiga-radio-button name="bar" options="{'uk': 'England', 'hu': 'Ungarn', 'ch': 'Schweiz'}" value="hu"&gt;
        &lt;/kiga-radio-button&gt;

        OR:

        &lt;kiga-radio-button name="foo3" options="[['fus', 'Fussball'], ['te', 'Tennis'], ['sch', 'Schwimmen']&#93;"
                   value="sch"&gt;
        &lt;/kiga-radio-button&gt;
    </pre>
    <p>------------------------------------ Just for testing --------------------------------------------</p>
    <kiga-radio-button name="foo2" alignment="vertical"  options="{'bul': 'Bulgarien', 'de': 'Deutschland'}" value="bul"></kiga-radio-button>
    <br>
    <kiga-radio-button name="foo3" options="[['fus', 'Fussball'], ['te', 'Tennis'], ['sch', 'Schwimmen']]"
                   value="sch"></kiga-radio-button>
    <p>--------------------------------------------------------------------------------------------------</p>
    <br>


    <kiga-radio-button name="radio1" alignment="vertical" label="Radios vert aligned: value: "
    options="{'left': 'Radio 1', 'right': 'Radio 1'}" value="left"></kiga-radio-button>


   <div class="form-group">
      <label>Radios vertical aligned: value: {{data.vRadio}}</label>

      <div>
        <label class="radio-inline">
          <input type="radio" name="radio1" value="left" ng-model="data.vRadio" icheck>
          Radio 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="radio1" value="right" ng-model="data.vRadio" icheck>
          Radio 1
        </label>
      </div>
    </div>

    <kiga-radio-button name="radio2" label="Radios horizontal aligned, value: "
    options="[['left', 'Radio 1'], ['middle', 'Radio 2'], ['right', 'Radio 3']]" value="middle"></kiga-radio-button>

    <div class="form-group">
      <label>Radios horizontal aligned, value: {{data.hRadio}}</label>

      <div class="checkbox">
        <label>
          <input type="radio" name="radio2" value="left" ng-model="data.hRadio" icheck>
          Radio 1
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="radio" name="radio2" value="middle" ng-model="data.hRadio" icheck>
          Radio 2
        </label>
      </div>
      <div class="checkbox last">
        <label>
          <input type="radio" name="radio2" value="right" ng-model="data.hRadio" icheck>
          Radio 3
        </label>
      </div>
    </div>
  </div>
  <div id="buttons">
    <h3>Buttons</h3>

    <p>Buttons exist in two different styles and can also be created by using
      the button or the a tag.
      Last one needs an additional .button class.<br>They can also include
      buttons which aligned middle</p>

    <kiga-button-form-group label="Button within a form-group"></kiga-button-form-group>

    <div class="form-group">
      <label>Button within a form-group</label>
      <button>Button within a form</button>
      <a href="#" class="button icon">Button with
        <i class="icon-sticker-kiga"></i> icon</a>
    </div>

    <p>Buttons outside the form - which is the default case have a larger
      size.<br>Again both tags are valid
      and they can be combined with icons.</p>

    <kiga-buttons-group></kiga-buttons-group>

    <div class="buttons">
      <button type="type" class="cancel">Cancel</button>
      <button type="button">Button with &lt;button&gt;</button>
      <a href="#" class="button">Button with &lt;a&gt;</a>

      <button class="icon" type="button">
        Button with <i class="icon-sticker-kiga"></i>
      </button>
    </div>
  </div>
</div>
