<div  ng-controller="docsMenuController as DMCtrl">
    <h2>Multi Level Menu</h2>
    <div class="row">
        <div class='col-md-12'>
            <div id="menu" class="menu" ng-mouseleave="flag = false; switchMenu(flag)">
                <button class="burger" ng-click="flag = !flag; switchMenu(flag)">
                    <i class="icon icon-burger-menu large"></i></button>
                <div class="dropdown" ng-repeat="data in dataMenu">
                    <ul ng-show="data.name == states.activeItem" ng-class="{
                        'ng-show-y': (dataMenu[0].name == states.activeItem) ? flag : false,
                        'ng_hide-y': states.activeItem == '',
                        'ng-hide-x': hideX,
                        'ng-show-x': showX,
                        'ng-hide-x-back': closeBack,
                        'ng-show-x-back': showBack}">
                        <li ng-show="(data == dataMenu[0]) ? false : true" ng-click="backMenu()">
                            <a href="" ng-class="{back_link:true}">
                                <span><i class="icon icon-arrow-left"></i></span>
                                <span>back</span>
                            </a>
                        </li>
                        <li ng-repeat="item in data.items" ng-click="selectClassLeft(item);">
                            <a href="">
                                <span>{{item}}</span>
                                <span ng-if="isIcon(item)"><i class="icon icon-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <hierarchical-menu  menu-data="menuData"></hierarchical-menu>
        </div>
    </div> 
</div>