<div id="scrollPane" ng-controller="scrollCtrl">
  <h2>scrollPane widget</h2>
  <div class="carousel_row">
    <div class="arrows" ng-click="prevItem();">
      <a href="" id="carousel_list_prev" role="button">
        <i class="icon icon-arrow-left large left_arrow"></i>
      </a>
    </div>
    <div class="carousel_list" scroll-pane="{
                    prevButton:'#carousel_list_prev',
                    nextButton:'#carousel_list_next',
                    watch: 'ctrl.elementsCategory.length',
                    autoHideButtons: true,
                    pageScroll: true
                  }">
      <div class="element" ng-repeat="elem in elementsCategory track by $index">
        <img src="{{elem.img}}"/>
        <p>{{elem.text}}</p>
      </div>
    </div>
    <div class="arrows" ng-click="nextItem();">
      <a href="" id="carousel_list_next" role="button">
        <i class="icon icon-arrow-right large right_arrow"></i>
      </a>
    </div>
  </div>
</div>