<h2 id="validators">Validators</h2>
<form class="one-col" name="validationForm">
  <div class="panel">
    <div class="panel-heading">
      Validating form powered with Ng-fab-form
    </div>
    <div class="panel-body">
      Messages are translated.
      <div class="form-group">
        <input type="text" class="form-control" placeholder="required"
               required ng-model="validators.firstname">
      </div>
      <kiga-input place-holder="required" value="validators.pattern" validation="required"></kiga-input>

      <div class="form-group">
        Validation messages could be custom for input
        <input type="text" class="form-control" placeholder="required and custom message"
               required ng-model="validators.text2" name="text2"
               validation-msg-async-validationgift-code="{{ 'I am custom message, translated' | translate }}">
      </div>

      <div class="form-group">
        Async validation:
        <input type="text" class="form-control" placeholder="Async Validation"
               async-validation="emailExists" async-url="validateValueDocs"
               ng-model="validators.async" name="async" async-validation-context="validators.productId">

        An example for using the kiga component for async validation and required input:
        <pre>
          &lt;kiga-input place-holder="Async Validation"
                  value="validators.async"
                  validation="required && async-validation/emailExists">&gt;
          &lt;/kiga-input&gt;</pre>
        <kiga-input place-holder="Async Validation"
                    validation="async-validation/emailExists"
                    value="validators.async"
                    input-name="async"
                    async-validation-url="validateValueDocs"></kiga-input>

      </div>
      <div class="form-group">
        Any angular validation could be used seamlessly as far as it has corresponding message in validationMessages.html:
        <input type="text" class="form-control" placeholder="Pattern /[ab]*/"
               ng-pattern="/^[ab]*$/"
               ng-model="validators.pattern" name="pattern">
      </div>
      If you use the kiga input component with the pattern attribute for ng-pattern, you MUST also use
      the validation-message-pattern attribute as in the following example:
      <pre>
          &lt;kiga-input place-holder="Pattern /[ab]*/"
                  value="validators.pattern"
                  pattern="/^[ab]*$/"
                  input-name="pattern"
                  validation-message-pattern="Write Validation Message here"&gt;
          &lt;/kiga-input&gt;</pre>
      <kiga-input place-holder="Pattern /[ab]*/"
                  value="validators.pattern"
                  pattern="/^[ab]*$/"
                  input-name="pattern"
                  validation-message-pattern="{{ 'VALIDATE_PATTERN' | translate }}"></kiga-input>


      <div class="form-group">
        Disable validation of the input
        <input type="text" class="form-control" placeholder="Required" required no-fab-form-validation ng-model="validators.nofabform">
      </div>
      For disabling the validation of the kiga component use:
      <pre>
          &lt;kiga-input place-holder="Required"
                  value="validators.nofabform"
                  validation="required && disable"&gt;
          &lt;/kiga-input&gt;</pre>
      <kiga-input place-holder="Required" validation="required && disable" value="validators.nofabform"></kiga-input>

      <div class="form-group">
        Arbitrary place for messages or custom input components, use 'name' and no-fab-form-validation for 'input'
        <ui-select ng-model="validators.selected" required name="uiselect">
          <ui-select-match placeholder="Select a value...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="country in select.countries | filter: $select.search">
            <span ng-bind-html="country.name"></span>
            <span ng-bind-html="country.code"></span>
          </ui-select-choices>
        </ui-select>
        <hr/>
        <validation-messages input-element="validationForm.uiselect"
                             validation-msg-required="{{ 'I am custom required message, translated' | translate }}"></validation-messages>
      </div>

      <div class="form-group">
        Match inputs
        <input type="text" class="form-control" placeholder="Type anything" ng-model="validations.match1">
        <input type="text" class="form-control" ng-model="validations.match2" placeholder="Type anything but same"  ng-fab-match="validations.match1">
      </div>

      <kiga-multiple-inputs label="Match inputs"
                            place-holder1="Type anything"
                            place-holder2="Type anything but same"
                            first-value="validations.match1"
                            second-value="validations.match2"
                            fab-match="validations.match1"></kiga-multiple-inputs>

    </div>
  </div>
  <div class="buttons">
    <button type="submit">Click to see validation</button>
  </div>
</form>

<form class="one-col" id="async" ng-submit="asyncSubmit()">
  <div class="panel">
    <div class="panel-heading">
      Async validation
    </div>
    <div class="panel-body">
      This form has an async validator. It represents the default behaviour of the combination
      between angular and ng-fab-form, where ng-fab-form prevents the submit as long as not all
      async methods returned successfully. After that the form will not auto-submit but the user
      has manually trigger the submit once again.
      <div class="form-group">
        <input type="text" class="form-control"
               ng-model-options="{updateOn: 'blur'}"
               async-validator async-fn="asyncValidateFn" async-msg="asyncValidateMsg"
               ng-model="validators.something">
      </div>

      An example for using the kiga component for async validator with async-function:
      <pre>
          &lt;kiga-input value-options="{updateOn: 'blur'}"
                  value="validators.something"
                  validation="async-validator"
                  async-function="asyncValidateFn"
                  async-message="asyncValidateMsg"&gt;
          &lt;/kiga-input&gt;</pre>
      <kiga-input value-options="{updateOn: 'blur'}"
                  validation="async-validator"
                  value="validators.something"
                  async-function="asyncValidateFn"
                  async-message="asyncValidateMsg"></kiga-input>


      <!--  Async validation:
        <input type="text" class="form-control" placeholder="Async Validation"
               async-validation="emailExists" async-url="validateValueDocs"
               ng-model="validators.async" name="async" async-validation-context="validators.productId"> -->


    </div>
  </div>
  <div class="buttons">
    <button type="submit">Submit</button>
  </div>
</form>
