@import (reference) '../css/bootstrap/variables';
@import (reference) '../../vars';

@screen-sm_local: 320px;
@padding_md : 10px;
@border_header : 1px;
@font_size_add : 16px;
@padding_xl : 20px;

.dropdown {
  float: left;
  margin-left: -1px;
}

i {
  font-size: 21px;
  padding-right: 2px;
}

li {
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  height: 44px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

  a {
    padding: 11px;
    color: @darkGrey;
    position: relative;
    display: block;
    &:hover,
    &:focus {
      background: @green;
      color: white;
    }
  }
}

.dropdown-gap {
  height: 20px;
  position: absolute;
  width: 100%;
}

.dropdown-menu {
  -webkit-box-shadow: 0 3px @padding_md @border_header @middleGrey;
  -moz-box-shadow: 0 3px @padding_md @border_header @middleGrey;
  box-shadow: 0 3px @padding_md @border_header @middleGrey;
  top: 64px;
  border: solid @border_header @lightGrey;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 0;
  right: 0;

  li {
    text-align: left;
    a {
      padding: 10px 20px;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: -@padding_md;
    left: 90px;
    border-left: @padding_md solid transparent;
    border-right: @padding_md solid transparent;
    border-bottom: @padding_md solid @white;
    z-index: 100;
  }

  &:before {
    position: absolute;
    content: '';
    top: -11px;
    left: 89px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid @lightGrey;
    z-index: 10;
  }
}
