<li class="dropdown ctx-selector"
    [ngClass]="{'open': isOpen}"
    (mouseenter)="showDropdown()"
    (mouseleave)="hideDropdown()">
  <a *ngIf="!menuItem.callback && !menuItem.link" href="#" class="navbar-ctx dropdown-toggle" data-toggle="dropdown">
    <i *ngIf="menuItem.icon" [className]="menuItem.icon"></i>
    <kiga-menu-label [menuItem]="menuItem"></kiga-menu-label>
    <b *ngIf="hasChildren" class="caret"></b>
  </a>
  <a  *ngIf="menuItem.callback" (click)="callback(menuItem)" class="navbar-ctx dropdown-toggle" data-toggle="dropdown">
    <i *ngIf="menuItem.icon" [className]="menuItem.icon"></i>
    <kiga-menu-label [menuItem]="menuItem"></kiga-menu-label>
    <b *ngIf="hasChildren" class="caret"></b>
  </a>
  <a *ngIf="menuItem.link" [routerLink]="menuItem.link" class="navbar-ctx dropdown-toggle" data-toggle="dropdown">
    <i *ngIf="menuItem.icon" [className]="menuItem.icon"></i>
    <kiga-menu-label [menuItem]="menuItem"></kiga-menu-label>
    <b *ngIf="hasChildren" class="caret"></b>
  </a>
  <div class="dropdown-gap" *ngIf="hasChildren" ></div>
  <ul class="dropdown-menu" *ngIf="hasChildren" >
    <li *ngFor="let child of menuItem.children">
      <a *ngIf="child.callback" (click)="callback(child)"><kiga-menu-label [menuItem]="child"></kiga-menu-label></a>
      <a [routerLink]="child.link" *ngIf="child.link"><kiga-menu-label [menuItem]="child"></kiga-menu-label></a>
    </li>
  </ul>
</li>
