<button ng-if="!$ctrl.buttonIsLink" type="{{$ctrl.buttonType}}" class="{{$ctrl.buttonClass}}"
        ng-click="$ctrl.buttonClick()"
        translate="{{$ctrl.translatedText}}">
  {{$ctrl.buttonText}} <i ng-if="$ctrl.buttonIsIcon" class="icon-sticker-kiga"></i>
</button>
<!-- If the button should be a link button: -->
<a ng-if="$ctrl.buttonIsLink" href="{{$ctrl.buttonHref}}" class="{{$ctrl.buttonClass}}">{{$ctrl.buttonText}}</a>
