//styling for this component is distributed over this file and module-specific files.

.body.shop .product-container audio-player {
  .btn-span {
    width: 100%;
    background-color: transparent;
    color: #778899;
    font-size: 21px;
    padding: 0;
    &:focus {
      outline: 0;
    }
  }
  .icon {
    margin-right: 10px;
    font-size: 25px;
  }
  .download-btn {
    display: none;
  }
}
