<div ng-if="!$ctrl.showOnlyButtons">
  <button class="btn-span" ng-click="$ctrl.audioCtrl()">
    <i class="icon {{$ctrl.icon}}" aria-hidden='true'></i>
    <span>{{$ctrl.label}}</span>
  </button>
  <a class="download-btn" ng-href="{{endpointUrl}}/endpoint/idea/download?url={{$ctrl.href}}" download>
    <i class="fa fa-download" aria-hidden="true"></i>
  </a>
</div>

<div ng-if="$ctrl.showOnlyButtons" class="action-btn play-btn {{$ctrl.cssClass}}"
     ng-click="$ctrl.audioCtrl()" data-test="previewPlay">
  <i class="play-icon icon icon-play" tooltip-placement="bottom" uib-tooltip="{{ 'IDEAS_PLAY_AUDIO' | translate }}"></i>
  <i class="pause-icon icon icon-pause" tooltip-placement="bottom" uib-tooltip="{{ 'IDEAS_PAUSE_AUDIO' | translate }}"></i>
</div>
