<div class="action-btn play-btn {{$ctrl.cssClass}}" ng-click='$ctrl.audioCtrl()'
     data-test="previewPlay">
  <i class="play-icon icon icon-play" tooltip-placement="bottom" uib-tooltip="{{ 'IDEAS_PLAY_AUDIO' | translate }}"></i>
  <i class="pause-icon icon icon-pause" tooltip-placement="bottom" uib-tooltip="{{ 'IDEAS_PAUSE_AUDIO' | translate }}"></i>
</div>
