<div ng-class="wordRow">
  <a class="link"
     ui-sref="root.backend.translation.editWord({word: row.entity.key, currentLocale: grid.appScope.filterObject.locale})">
    <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
         class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader }" ui-grid-cell></div>
  </a>
</div>
