//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#browsers
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-ms-viewport {
  width: device-width;
}


// Visibility utilities
.visible-sm,
.visible-lsm,
.visible-md,
.visible-lmd,
.visible-lg,
.visible-xlg {
  .responsive-invisibility();
}

.visible-sm {
  @media (max-width: @screen-sm-max) {
    .responsive-visibility();
  }
}
.visible-lsm {
  @media (min-width: @screen-lsm-min) and (max-width: @screen-lsm-max) {
    .responsive-visibility();
  }
}
.visible-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .responsive-visibility();
  }
}
.visible-lmd {
  @media (min-width: @screen-lmd-min) and (max-width: @screen-lmd-max) {
    .responsive-visibility();
  }
}
.visible-lg {
  @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
    .responsive-visibility();
  }
}
.visible-xlg {
  @media (min-width: @screen-xlg-min) {
    .responsive-visibility();
  }
}

.hidden-sm {
  @media (max-width: @screen-sm-max) {
    .responsive-invisibility();
  }
}
.hidden-lsm {
  @media (min-width: @screen-lsm-min) and (max-width: @screen-lsm-max) {
    .responsive-invisibility();
  }
}
.hidden-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .responsive-invisibility();
  }
}
.hidden-lmd {
  @media (min-width: @screen-lmd-min) and (max-width: @screen-lmd-max) {
    .responsive-invisibility();
  }
}
.hidden-lg {
  @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max){
    .responsive-invisibility();
  }
}
.hidden-xlg {
  @media (min-width: @screen-xlg-min) {
    .responsive-invisibility();
  }
}


// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

.visible-print {
  .responsive-invisibility();

  @media print {
    .responsive-visibility();
  }
}

.hidden-print {
  @media print {
    .responsive-invisibility();
  }
}
