<div class="kiga-container {{locale}}">
  <div ng-show="!locationIsLogin()">
    <ng-include src="'main/partials/header.html'"></ng-include>
    <ng-include src="'main/partials/error.html'"></ng-include>
  </div>
  <mocked-country ng-show="!!mockedCountry" country="mockedCountry"></mocked-country>
  <toast></toast>
  <ui-view class="body {{ area().code }}"></ui-view>
  <div ng-if="!locationIsLogin()">
    <footer-component [links]="footerPages"></footer-component>
  </div>
  <cookie-info></cookie-info>
</div>
