<footer class="footer" ng-class="{'cookie-not-accepted' : cookieAccepted}">
  <div class="container">
    <div class="holder">
      <div class="col-md-20 col-lsm-30 col-sm-60">
        <p class="copyright">2003 - {{year}} &copy; KiGaPortal</p>
      </div>
      <div class="col-md-40 col-lsm-30 col-sm-60 footer-right">
        <ul class="nav navbar-nav">
          <li>
            <a ui-sref="root.registration.giftActivation">{{ "REG_GIFT_ACTIVATION" | translate }}</a>
          </li>
          <li ng-repeat="footerPage in links.footerPages">
            <a ng-href="{{footerPage.url}}">{{footerPage.label}}</a>
          </li>
        </ul>
        <ul class="nav toggable">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-burger-menu"></i>
              {{ "CONTAINER_FOOTER_MENU" | translate }}
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="footerPage in links.footerPages">
                <a ng-href="{{footerPage.url}}">{{footerPage.label}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
