<div class="container login">
  <div class="row">
    <form ng-submit="ctrl.login()">
      <div class="col-sm-60">
        <div class="panel panel-default">
          <div class="panel-heading" translate="PERMISSION_FULL_LOGIN_HEADER"></div>
          <div class="panel-body">
            <div class="infoMsg">
              <div ng-if="ctrl.isUsernamePasswordError" data-test="userNamePasswordError">
                <div translate="LOGIN_FAILED"></div>
              </div>
            </div>
            <div class="form-group">
              <label translate="PERMISSION_FULL_LOGIN_REQUIRED"></label>
            </div>

            <div class="form-group">
              <label t="FIELD_EMAIL"></label>
              <input type="text" ng-model="ctrl.email" name="email" class="form-control" readonly>
            </div>

            <div class="form-group">
              <label t="LOGIN_PASSWORD"></label>
              <input type="password" ng-model="ctrl.password" name="password" class="form-control">
            </div>

            <div class="form-group last" data-test="resetPassword">
              <a ui-sref="root.requestResetPassword" data-test="requestResetPassword" translate="LOGIN_PASSWORD_FORGOTTEN" class="resetPassword"></a>
            </div>

          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="left col-sm-30">
          <button type="button" ng-click="ctrl.cancel()" class="cancel" t="BUTTON_CANCEL"></button>
        </div>
        <div class="right col-sm-30">
          <button type="submit" class="login" t="LOGIN_SUBMIT"></button>
        </div>
      </div>
    </form>
  </div>
</div>
