<header class="header {{ area().code }}" id="header">
  <div class="sticky-top-nav " scroll id="top">
    <div class="container">
      <div class="header_top_pin floatLeft border_right"></div>
      <ul class="nav navbar-left burger" ng-click="isNavOpen = true">
        <li
          class="dropdown {{isNavOpen ? 'open' : ''}}"
          ng-mouseenter="isNavOpen = true"
          ng-mouseleave="isNavOpen = false"
        >
          <a class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-launcher-menu"></i> </a>
          <div class="dropdown-gap"></div>
          <ul class="dropdown-menu icon-launcher-contents" role="menu">
            <li>
              <a ui-sref="root.home" ng-click="isNavOpen = false">
                <i class="icon-home"></i>
                <span class="content-span" translate="NAVIGATION_HOME"></span>
              </a>
            </li>
            <li>
              <a ng-click="goToNg(ideasLink)">
                <i class="icon-infinite"></i>
                <span class="content-span">{{ 'NAVIGATION_IDEAS' | translate }}</span>
              </a>
            </li>
            <li>
              <a ui-sref="root.memberArea.favourites({path: ''})" ng-click="isNavOpen = false">
                <i class="fa fa-heart-o"></i>
                <span class="content-span" translate="NAVIGATION_FAVOURITES"></span>
              </a>
            </li>
            <li ng-show="showMemberIdeas()">
              <a ui-sref="root.memberArea.ideas.upload" ng-click="isNavOpen = false">
                <i class="icon-upload"></i>
                <span class="content-span" translate="NAVIGATION_MEMBERIDEAS"></span>
              </a>
            </li>
            <li>
              <a
                ng-if="showRepositoryContext()"
                ui-sref="root.plan.planType.monthly({planType: 'kiga'})"
                ng-click="isNavOpen = false"
              >
                <i class="icon-planner"></i>
                <span class="content-span" translate="NAVIGATION_PLANNER"></span>
              </a>
              <a
                ng-if="!showRepositoryContext()"
                ui-sref="root.plan.planType.detail({planType: 'kiga', planId: 'current'})"
                ng-click="isNavOpen = false"
              >
                <i class="icon-planner"></i>
                <span class="content-span" translate="NAVIGATION_PLANNER"></span>
              </a>
            </li>
            <li ng-if="showBasket()">
              <a href="{{shopLink}}">
                <i class="icon-shop"></i>
                <span class="content-span" translate="NAVIGATION_SHOP"></span>
              </a>
            </li>
            <li>
              <a href="{{forumLink}}">
                <i class="icon-forum"></i>
                <span class="content-span" translate="NAVIGATION_FORUM"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-left btn-group">
        <li><a ui-sref="root.home" ui-sref-active="active" translate="NAVIGATION_HOME"></a></li>
        <li>
          <a
            ng-if="angularCmsEnabled"
            translate="NAVIGATION_IDEAS"
            ng-click="goToNg(ideasLink)"
          ></a>
        </li>
        <li>
          <a
            ui-sref="root.memberArea.favourites({path: ''})"
            ng-class="{'active': area().code == 'favourites'}"
            translate="NAVIGATION_FAVOURITES"
          >
          </a>
        </li>
        <li ng-if="showMemberIdeas()">
          <a
            ui-sref="root.memberArea.ideas.upload"
            ng-class="{'active': area().code == 'memberIdeas'}"
            translate="NAVIGATION_MEMBERIDEAS"
          >
          </a>
        </li>
        <li>
          <a
            ng-if="showRepositoryContext()"
            ui-sref="root.plan.planType.monthly({planType: 'kiga'})"
            ui-sref-active="active"
            translate="NAVIGATION_PLANNER"
          ></a>
          <a
            ng-if="!showRepositoryContext()"
            ui-sref="root.plan.planType.detail({planType: 'kiga', planId: 'current'})"
            ui-sref-active="active"
            translate="NAVIGATION_PLANNER"
          ></a>
        </li>
        <li ng-if="showBasket()">
          <a
            href="{{shopLink}}"
            translate="NAVIGATION_SHOP"
            ng-class="{'active': area().code == 'shop'}"
          ></a>
        </li>
        <li><a href="{{forumLink}}" translate="NAVIGATION_FORUM"></a></li>
      </ul>
      <div class="navbar-logo">
        <a href="{{area().getLink()}}" ng-if="area().getLink()" class="image">
          <span class="text-logo">{{ 'NAVIGATION_' + area().code.toUpperCase() | translate }}</span>
        </a>
        <span class="image" ng-if="!area().getLink()">
          <span class="text-logo" class="image">
            {{ 'NAVIGATION_' + area().code.toUpperCase() | translate }}
          </span>
        </span>
      </div>
      <div class="header_top_pin floatRight border_left"></div>
      <ul class="nav navbar-right">
        <div class="wrapper"><dev-menu></dev-menu></div>

        <li class="baket-btn" ng-if="showBasket()">
          <a ui-sref="root.shop.basket">
            <i class="icon-shop"></i> <span class="basket-number">{{ numberOfItems() }}</span>
          </a>
        </li>

        <li
          class="dropdown lang-selector {{isLangOpen ? 'open' : ''}}"
          ng-mouseenter="isLangOpen = true"
          ng-mouseleave="isLangOpen = false"
          ng-if="area().showLocales"
        >
          <a
            href="#"
            class="navbar-lang dropdown-toggle"
            data-toggle="dropdown"
            data-test="language"
          >
            <i class="icon-earth"></i> <span>{{ locale }}</span> <b class="caret hidden-sm"></b>
          </a>
          <div class="dropdown-gap"></div>
          <ul class="dropdown-menu drop_right lang_sub" role="menu">
            <li ng-repeat="locale in locales">
              <a ng-click="switchLocale(locale.code)" data-test="{{locale.code}}"
                >{{ locale.title | translate }}</a
              >
            </li>
          </ul>
        </li>

        <li
          class="dropdown ctx-selector {{isSelectorOpen ? 'open' : ''}}"
          ng-mouseenter="isSelectorOpen = true"
          ng-mouseleave="isSelectorOpen = false"
          ng-if="showRepositoryContext()"
        >
          <a href="#" class="navbar-ctx dropdown-toggle" data-toggle="dropdown" data-test="context">
            <i class="icon-pencil" ng-show="currentRepositoryContext == 'DRAFT'"></i>
            <i class="icon-checkmark" ng-show="currentRepositoryContext == 'LIVE'"></i>
            <span>{{ currentRepositoryContext }}</span> <b class="caret"></b>
          </a>
          <div class="dropdown-gap"></div>
          <ul class="dropdown-menu drop_right ctx_sub" role="menu">
            <li ng-repeat="repositoryContext in repositoryContexts">
              <a ng-click="toggleRepositoryContext()" data-test="{{repositoryContext.context}}"
                >{{ repositoryContext }}</a
              >
            </li>
          </ul>
        </li>
        <div class="wrapper" ng-show="isLoggedIn()"><main-menu></main-menu></div>
        <li class="dropdown my-acc" ng-if="!isLoggedIn()">
          <a ui-sref="root.login({forward: location()})">
            <i class="icon-person"></i> <span class="hidden-sm" t="LOGIN"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar" scroll role="banner">
    <div class="container">
      <div class="col-lg-13 col-lmd-14">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ area().getLink() }}" ng-if="!!area().getLink()">
            <span class="content-logo"
              >{{ 'NAVIGATION_' + area().code.toUpperCase() | translate }}</span
            >
          </a>
          <span class="navbar-brand" ng-if="!area().getLink()">
            <span class="content-logo">
              {{ 'NAVIGATION_' + area().code.toUpperCase() | translate }}
            </span>
          </span>
        </div>
      </div>
      <div class="col-lg-5 col-lmd-8 col-md-10 col-sm-15" ng-show="area().showAgeGroup">
        <div class="dropdown">
          <button
            class="btn btn-default dropdown-toggle age-dropdown no-legacy"
            ng-class="{'activeGroupBtn': (area().ageGroup)}"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            <div ng-class="{'activeAgeGroup': (area().ageGroup)}">
              <span
                class="ageGroup"
                ng-if="!area().ageGroup"
                translate="NAVIGATION_AGE_LABEL"
              ></span>
              <span class="ageGroup" ng-if="area().ageGroup == 1"><strong>1 - 3</strong></span>
              <span class="ageGroup" ng-if="area().ageGroup == 2"><strong>3 - 5</strong></span>
              <span class="ageGroup" ng-if="area().ageGroup == 4"><strong>5 - 6</strong></span>
              <span class="ageGroup" ng-if="area().ageGroup == 8"><strong>6 - 7</strong></span>
              <span class="caret"></span>
            </div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="changeAge(null)" translate="NAVIGATION_AGE_LABEL"></a></li>
            <li><a ng-click="changeAge(1)" translate="NAVIGATION_AGE_1"></a></li>
            <li><a ng-click="changeAge(2)" translate="NAVIGATION_AGE_2"></a></li>
            <li><a ng-click="changeAge(4)" translate="NAVIGATION_AGE_4"></a></li>
            <li><a ng-click="changeAge(8)" translate="NAVIGATION_AGE_8"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-42 col-lmd-38 col-md-50 col-sm-45 col-xs-60" ng-show="area().showSearch">
        <searchbox></searchbox>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sticky-bottom-nav" scroll>
    <!-- submenu desktop -->
    <div class="container" ng-show="area().subMenus.length">
      <div class="header_top_pin floatLeft border_right"></div>
      <ul class="nav nav-tabs" ng-if="!hideSubMenu">
        <li
          role="presentation"
          class="{{subMenu.cls}}"
          ng-class="{'active': subMenu.isActive}"
          ng-repeat="subMenu in area().subMenus track by $index"
        >
          <a href="{{subMenu.link}}" translate="{{subMenu.label}}"></a>
        </li>
      </ul>
      <div class="header_top_pin floatRight border_left"></div>
    </div>
    <!-- submenu desktop -->
  </div>
</header>
