<div class="home">
  <div class="container-fluid">
    <div class="container">
      <div class="top-frame">

        <div class="buttons" ng-if="ctrl.showEditButton()">
          <div class="full-width">
            <button type="submit" t="BUTTON_EDIT" ng-click="ctrl.onButtonEditClick()"></button>
          </div>
        </div>

        <slider elements="ctrl.elementsSlider"></slider>

      </div>
    </div>
    <div class="divider divider-min"></div>
    <div class="container">
      <div class="middle-frames">
        <div class="row">
            <kiga-link url="{{ctrl.elementsThema[0].linkUrl}}" tag="box_0">
            <div class="middle-item">
              <div class="title full">{{ctrl.elementsThema[0].title}}</div>
              <div class="title short">{{ctrl.elementsThema[0].titleShort}}</div>
              <div class="line" ng-class="ctrl.elementsThema[0].color"></div>
              <div class="rectangle">
                <img class="img-responsive hidden-md hidden-lsm hidden-sm" ng-src="{{ctrl.elementsThema[0].bigImageUrl}}">
                <img class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg" ng-src="{{ctrl.elementsThema[0].smallImageUrl}}">
              </div>
              <div class="text">
              {{ctrl.elementsThema[0].description| lineClamp : 120}}
              </div>
            </div>
          </kiga-link>
          <kiga-link url="{{ctrl.elementsThema[1].linkUrl}}" tag="box_1">
            <div class="middle-item">
              <div class="title full">{{ctrl.elementsThema[1].title}}</div>
              <div class="title short">{{ctrl.elementsThema[1].titleShort}}</div>
              <div class="line" ng-class="ctrl.elementsThema[1].color"></div>
              <div class="rectangle">
                <img class="img-responsive hidden-md hidden-lsm hidden-sm" ng-src="{{ctrl.elementsThema[1].bigImageUrl}}">
                <img class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg" ng-src="{{ctrl.elementsThema[1].smallImageUrl}}">
              </div>
              <div class="text">
                {{ctrl.elementsThema[1].description| lineClamp : 120}}
              </div>
            </div>
          </kiga-link>
          <kiga-link url="{{ctrl.elementsThema[2].linkUrl}}" tag="box_2">
            <div class="middle-item">
              <div class="title full">{{ctrl.elementsThema[2].title}}</div>
              <div class="title short">{{ctrl.elementsThema[2].titleShort}}</div>
              <div class="line"  ng-class="ctrl.elementsThema[2].color"></div>
              <div class="rectangle">
                <img class="img-responsive hidden-md hidden-lsm hidden-sm" ng-src="{{ctrl.elementsThema[2].bigImageUrl}}">
                <img class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg" ng-src="{{ctrl.elementsThema[2].smallImageUrl}}">
              </div>
              <div class="text">
                {{ctrl.elementsThema[2].description| lineClamp : 120}}
              </div>
            </div>
          </kiga-link>
            <kiga-link url="{{ctrl.elementsThema[3].linkUrl}}" tag="box_3">
            <div class="middle-item">
              <div class="title full">{{ctrl.elementsThema[3].title}}</div>
              <div class="title short">{{ctrl.elementsThema[3].titleShort}}</div>
              <div class="line" ng-class="ctrl.elementsThema[3].color"></div>
              <div class="rectangle">
                <img class="img-responsive hidden-md hidden-lsm hidden-sm" ng-src="{{ctrl.elementsThema[3].bigImageUrl}}">
                <img class="img-responsive  hidden-xlg hidden-lg hidden-lmd hidden-lg" ng-src="{{ctrl.elementsThema[3].smallImageUrl}}">
              </div>
              <div class="text">
                {{ctrl.elementsThema[3].description| lineClamp : 120}}
              </div>
            </div>
            </kiga-link>
        </div>
      </div>
    </div>
    <div class="divider divider-max"></div>
    <div class="container">
      <div class="bottom-frames">
        <a href="{{ctrl.newIdeasUrl}}">
          <div class="title">{{'NAVIGATION_NEW_IDEA' | translate}}</div>
        </a>
        <div class="line greenline"></div>
        <div class="carousel_row">
          <div class="arrows" ng-click="ctrl.prevItem();">
            <a href="" id="carousel_list_prev" role="button">
              <i class="icon icon-arrow-left large left_arrow"></i>
            </a>
          </div>
          <div class="carousel_list" scroll-pane="{
                          prevButton:'#carousel_list_prev',
                          nextButton:'#carousel_list_next',
                          watch: 'ctrl.newIdeas.length',
                          autoHideButtons: true,
                          showInactivePrevBtn: true,
                          pageScroll: true
                        }">

              <div class="element registration-link" ng-class="{quickRegistration: ctrl.showQuickRegLink() }">
                  <a ui-sref="root.permission.testRequired" class="hidden-xlg hidden-lg hidden-lmd hidden-lg">
                    <div class="idea-img">
                      <div class="img-border">
                        <div class="link-title">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</div>
                      </div>
                      <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
                    </div>
                    <p class="desc">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</p>
                    <p class="desc small" translate="HOME_QUICK_REGISTRATION_TITLE"></p>
                  </a>
                  <a ui-sref="root.permission.testRequired" class="hidden-md hidden-lsm hidden-sm">
                    <div class="idea-img">
                      <div class="img-border">
                        <div class="link-title">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</div>
                      </div>
                      <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
                    </div>
                    <p class="desc" translate="HOME_QUICK_REGISTRATION_TITLE"
                       translate-values="{'price': ctrl.price, 'currency': ctrl.currency}"></p>
                  </a>
              </div>
              <div class="element registration-link" ng-class="{fullRegistration: ctrl.showFullRegLink() }">
                  <a ui-sref="root.registration.preSelection" class="hidden-xlg hidden-lg hidden-lmd hidden-lg">
                    <div class="idea-img">
                      <div class="img-border">
                        <div class="link-title">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</div>
                      </div>
                      <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
                    </div>
                    <p class="desc">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</p>
                    <p class="desc small" translate="HOME_FULL_REGISTRATION_TITLE"
                       translate-values="{ price: ctrl.price, currency: ctrl.currency}"></p>
                  </a>
                  <a ui-sref="root.registration.preSelection" class="hidden-md hidden-lsm hidden-sm">
                    <div class="idea-img">
                      <div class="img-border">
                        <div class="link-title">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</div>
                      </div>
                      <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
                    </div>
                    <p class="desc" translate="HOME_FULL_REGISTRATION_TITLE"
                       translate-values="{ price: ctrl.price, currency: ctrl.currency}"></p>
                  </a>
              </div>


              <div class="element" ng-repeat="idea in ctrl.newIdeas" ng-class="{show3Limit: $index > 2 }">
                  <a href="{{ctrl.getDirectIdeaUrl(idea.urlSegment)}}" class="hidden-xlg hidden-lg hidden-lmd hidden-lg">
                    <div class="idea-img">
                      <div class="img-border"></div>
                      <img ng-src="{{idea.previewUrl}}">
                    </div>
                    <p class="desc">{{idea.title}}</p>
                    <p class="desc small">{{idea.description}}</p>
                  </a>
                  <!-- Service to get PreviewURL -->
                  <a ng-href="{{ctrl.getDirectIdeaUrl(idea.urlSegment)}}" class="hidden-md hidden-lsm hidden-sm">
                    <div class="idea-img">
                      <div class="img-border"></div>
                      <img ng-src="{{idea.previewUrl}}">
                    </div>
                    <p class="desc">{{idea.title | lineClamp : 55}}</p>
                  </a>
              </div>


            <div class="more-ideas-btn"
                 ng-show="ctrl.newIdeas.length >= 13"
                 ng-click="ctrl.onMoreButtonClick()">
              <div class="more-bl-large">
                <div class="img-border">
                  <div class="more-btn">
                    <span>{{ 'NAVIGATION_MORE' | translate}}<br>{{'NAVIGATION_NEW_IDEA' | translate}}</span>
                  </div>
                </div>
                <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
              </div>
            </div>
            <div class="more-bl" ng-click="ctrl.onMoreButtonClick()">
              <div class="more-btn">
                <span>{{'NAVIGATION_MORE' | translate}} </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="arrows next-button" ng-click="ctrl.nextItem();">
            <a href="" id="carousel_list_next" role="button">
              <i class="icon icon-arrow-right large right_arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider" ng-if="ctrl.showForum()"></div>
    <div class="container" ng-if="ctrl.showForum()">
      <div class="forum">
        <div class="row" ng-class="{hideRegLinks: ctrl.isFullSubscription()}">
          <kiga-link url="{{ctrl.ideaForum.url}}" tag="idea_forum">
            <div class="forum-item">
              <div class="title">{{'FORUM_IDEA_FORUM' | translate}}</div>
              <div class="line magenta"></div>
              <div class="text">
                <p>{{ctrl.ideaForum.title}}</p>
                {{ctrl.ideaForum.content}}
              </div>
            </div>
          </kiga-link>
          <kiga-link url="{{ctrl.activityForum.url}}" tag="activity_forum">
            <div class="forum-item">
              <div class="title">{{'FORUM_ACTIVITY_FORUM' | translate}}</div>
              <div class="line magenta"></div>
              <div class="text">
                <p>{{ctrl.activityForum.title}}</p>
                {{ctrl.activityForum.content}}
              </div>
            </div>
          </kiga-link>
          <a ui-sref="root.registration.preSelection" tag="abo_bestellen">
            <div class="forum-item full-registration">
              <div class="title">{{'HOME_ORDER_SUBSCRIPTION' | translate}}</div>
              <div class="line orange"></div>
              <div class="btn">{{'HOME_ORDER_SUBSCRIPTION_BUTTON' | translate}}</div>
            </div>
          </a>
          <a ui-sref="root.newsletterSubscribe" tag="newsletter">
            <div class="forum-item newsletter">
              <div class="title">{{'HOME_NEWSLETTER' | translate}}</div>
              <div class="line green"></div>
              <div class="btn">{{'HOME_NEWSLETTER_BUTTON' | translate}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
