<div class="container login">
  <div class="row">
    <form ng-submit="ctrl.login()">
      <div class="col-sm-60">
        <div class="panel panel-default">
          <div class="panel-header login-logo text-center">
            <img ng-src="{{url('main/images/Logo-KiGaPortal-Login.png')}}">
          </div>
          <div class="panel-heading" translate="LOGIN_LOGIN">
          </div>
          <div class="panel-body">
            <div class="infoMsg">
              <div ng-if="!ctrl.isVerified" data-test="loginNotActivated" class="not-verified">
                <div translate="LOGIN_NOT_ACTIVATED_LOGINSCREEN"></div>
                <a ng-click="ctrl.resend()" translate="LOGIN_ACTIVATION_RESEND" data-test="loginActivationResend"></a>
              </div>
              <div ng-if="ctrl.isUsernamePasswordError" data-test="userNamePasswordError">
                <div translate="LOGIN_FAILED"></div>
              </div>
            </div>
            <div class="form-group">
              <label translate="FIELD_EMAIL"></label>
              <input type="text" ng-model="ctrl.loginData.email" class="form-control" name="email" required>
            </div>

            <div class="form-group">
              <label t="FIELD_PASSWORD"></label>
              <input type="password" ng-model="ctrl.loginData.password" name="password" class="form-control">
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="form-control" ng-model="ctrl.loginData.remember" name="remember" icheck>
                  {{ 'LOGIN_REMEMBER' | translate}}
                </label>
              </div>
            </div>
            <div class="form-group last" data-test="resetPassword">
              <a ui-sref="root.requestResetPassword" data-test="requestResetPassword" translate="LOGIN_PASSWORD_FORGOTTEN" class="resetPassword"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="left col-sm-30 ">
          <button type="button" ng-click="ctrl.back()" translate="BUTTON_BACK" class="cancel"></button>
        </div>
        <div class="right col-sm-30">
          <button type="submit" class="login" translate="LOGIN_SUBMIT"></button>
        </div>
      </div>

      <div class="form-group register-container">
        <hr>
        <p>
          <span translate="LOGIN_REGISTER_TEXT"></span>
        </p>
      </div>
      <div class="col-sm-60">
        <div class="buttons" ng-if="!ctrl.shopCheckout">
          <a ui-sref="root.permission.testRequired" class="button full-width free-test" translate="LOGIN_FREE_SUBSCRIPTION"></a>
        </div>
        <div class="buttons" ng-if="!ctrl.shopCheckout">
          <a ui-sref="root.registration.preSelection" class="button full-width" translate="LOGIN_KIGA_SUBSCRIPTION"></a>
        </div>
        <div class="buttons" ng-if="ctrl.shopCheckout">
          <a ui-sref="root.permission.shopRegistration" class="button full-width shop-reg" translate="LOGIN_SHOP_REGISTRATION"></a>
        </div>
      </div>
    </form>
  </div>
</div>
