<div class="container newsletter">
  <div class="row">
    <form ng-submit="ctrl.submit()">
      <div class="col-sm-60">
        <div class="panel panel-default">
          <div class="panel-heading" translate="NEWSLETTER_SUBSCRIPTION">
          </div>
          <div class="panel-body">
            <div class="infoMsg">
              <div ng-if="!ctrl.isSubscribed" class="subscription-msg">
                <div translate="NEWSLETTER_SUBSCRIPTION_MSG"></div>
              </div>
              <div ng-if="ctrl.isSubscribed" class="successful-msg">
                <div translate="NEWSLETTER_SUCCESSFUL_SUBSCRIPTION_MSG"></div>
              </div>
            </div>
            <div class="form-group" ng-if="!ctrl.isSubscribed">
              <label translate="FIELD_EMAIL"></label>
              <input type="email"
                     ng-model-options="{ updateOn: 'blur'}"
                     ng-model="ctrl.email"
                     class="form-control"
                     name="email" required>
            </div>

            <div ng-if="!ctrl.isSubscribed" translate="REG_NEWSLETTER_ABO"></div>

          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="left col-sm-30">
          <button type="button" ng-click="ctrl.cancel()" translate="BUTTON_CANCEL" class="cancel"
          ng-if="!ctrl.isSubscribed"></button>
          <button type="button" ng-click="ctrl.cancel()" translate="BUTTON_BACK" class="cancel"
          ng-if="ctrl.isSubscribed"></button>
        </div>
        <div class="right col-sm-30" ng-if="!ctrl.isSubscribed">
          <button type="submit" translate="NEWSLETTER_SUBMIT" ng-click="ctrl.submitted()"></button>
        </div>
      </div>

    </form>
  </div>
</div>
