<form class="small">
  <div class="panel panel-default">
    <div class="panel-heading" translate="LOGIN_PARALLEL_LOG_TITLE"></div>
    <div class="panel-body">
      <div class="form-group">
        <label translate="LOGIN_PARALLEL_LOG_INFO" translate-values="{email: ctrl.email}"></label>
      </div>
    </div>
  </div>
</form>

