<div class="container login">
  <div class="row">
    <div class="col-sm-60">
      <form ng-submit="resetPw()">
        <div class="panel-header logo text-center">
          <img ng-src="{{url('main/images/Logo-KiGaPortal-Login.png')}}">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" t="LOST_PASSWORD_TITLE">
          </div>
          <div class="panel-body">
            <div class="form-group" data-test="resetPassword">
              <label t="LOST_PASSWORD_USERNAME"></label>
              <input type="text" ng-model="data.email" class="form-control" name="email">
            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="left col-sm-30">
            <button type="button" ng-click="cancel()" class="cancel" t="BUTTON_BACK"></button>
          </div>
          <div class="right col-sm-30">
            <button type="submit" t="BUTTON_OK"></button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
