<div class="container login">
  <div class="row">
    <div class="col-sm-60">
      <form ng-submit="ctrl.resetPassword()"><!--Here right method -->
        <div class="panel panel-default">
          <div class="panel-heading" t="LOST_PASSWORD_TITLE">
          </div>
          <div class="panel-body">
            <div class="form-group">
            <label t="MEMBER_PASSWORD_NEW"></label>
            <input name="password" type="password"
                   placeholder="{{ 'FIELD_PASSWORD' | translate }}"
                   class="form-control" data-test="password"
                   ng-model="ctrl.data.newPassword" required ng-minlength="8">

            <input name="passwordConfirmation" type="password"
                   placeholder="{{'REG_PASSWORD_CONFIRMATION' | translate}}" class="form-control"
                   ng-model="ctrl.passwordConfirm" required
                   ng-fab-match="ctrl.data.newPassword" data-test="passwordConfirmation"
                   validation-msg-ng-fab-match="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}"/>

            </div>
          </div>
        </div>

        <div class="buttons">
          <div class="full-width">
            <button type="submit" t="BUTTON_OK"></button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
