@import '../../vars';

.ideas-overview (@color, @activeBg) {
  .text-overflow(@countoflines,@lineheight) {
    display: -webkit-box;
    /*    max-width: 400px;*/
    /*   height: 28px;*/
    -webkit-line-clamp: @countoflines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: @lineheight;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    .round-button;
  }
  .prev-btn {
    left: 10px;
  }
  .next-btn {
    right: 10px;
  }

  .prev-btn,
  .next-btn {
    .no-touchevents &:hover {
      color: @color;
      border-color: @color;
    }
  }

  .prev-btn.inactive-btn {
    opacity: 0.2;
    cursor: default;
    .no-touchevents &:hover {
      color: #bcbcbc;
      border-color: #bcbcbc;
    }
  }

  .type-row {
    position: relative;
    border-top: 1px solid #b0cac9;
    .overview-row {
      position: relative;
      padding-top: 20px;
    }
    .type-title {
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      color: grey;
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
    }
    .title-link {
      .no-touchevents &:hover {
        color: @color;
        cursor: pointer;
      }
    }
  }

  .ideas-list {
    margin-right: 78.2px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 28px;
    margin-bottom: -8px;
    min-height: 190px;
    height: 200px;
    &.ideas-grid {
      padding-top: 20px;
    }
    @media (min-width: @screen-md-min) {
      .idea.active {
        height: 163px;
      }
    }
    @media (max-width: @screen-lsm-max) {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0;
      margin-right: 0;
    }
    @media (min-width: 560px) {
      margin-left: calc(80px - 4.34%);
    }
    @media (min-width: @screen-md-min) {
      margin-left: calc(80px - 2.5%);
      .idea {
        &.active {
          .desc {
            color: @color;
          }
        }
      }
    }
    @media (min-width: @screen-lg-min) {
      margin-left: calc(80px - 1.8%);
      .last-item {
        width: 2px;
        height: 10px;
        display: inline-block;
      }
    }
    &.lastLevelCategory {
      white-space: initial;
    }

    .more-bl-large {
      position: relative;
      text-align: center;
      img {
        width: 100%;
      }
      .more-btn {
        position: absolute;
        color: gray;
        top: 20%;
        width: 100%;
        span {
          font-size: 12px;
        }
      }
      .img-border {
        position: absolute;
        height: calc(100% - 2px);
        width: 100%;
        border: 3px solid #ccc;
        white-space: normal;
        border-radius: 30px;
        height: 60px;
        margin-top: 20px;
        word-wrap: break-word;
      }
      .no-touchevents &:hover {
        color: @color;
        .img-border {
          border-color: @color;
          .more-btn {
            color: @color;
          }
        }
        .fa {
          color: @color;
        }
      }
    }

    .idea,
    .more-ideas-btn {
      vertical-align: top;
      white-space: normal;
      display: inline-block;
      cursor: pointer;
      position: relative;
      .idea-img {
        width: 100%;
        position: relative;
        .img-border {
          position: absolute;
          height: 100%;
          width: 100%;
          border: 3px transparent;
        }
        img {
          border: 1px solid #b9b9b9;
        }
        .idea-active {
          display: none;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: @activeBg;
          .idea-circle {
            width: 49px;
            height: 49px;
            border: white 4px solid;
            border-radius: 50%;
            left: 50%;
            position: absolute;
            top: 50%;
            margin-left: -24px;
            margin-top: -22px;
          }
        }
        .info-stats-row {
          position: absolute;
          bottom: 8px;
          color: #fff;
          font-size: 105%;
          right: 6px;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.72);
        }
        .info-heart {
          padding: 15px 15px 0 6px;
          position: absolute;
          z-index: 1;
          bottom: 5px;
          color: #fff;
          font-size: 140%;
          text-shadow: 0 0 3px rgba(0, 0, 0, 1);
        }
      }
      .preview {
        width: 100%;
      }
      .desc {
        width: 100%;
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 12px;
        max-height: 52px;
        .text-overflow(3, 1.4);
        color: grey;
      }
      .price {
        color: grey;
      }
      .no-touchevents &:hover {
        .desc {
          color: @color;
        }
        .price {
          color: @color;
        }
        .idea-img {
          .img-border {
            border: 3px solid @color;
          }
        }
      }
    }
    .more-bl {
      @media (min-width: @screen-md-min) {
        display: none;
      }
      .more-btn {
        //width: 118px;
        height: 30px;
        font-size: 16px;
        color: @darkGrey;
        margin-top: 30px;
        span {
          margin-right: 5px;
          font-weight: bold;
        }
        .fa {
          font-size: 10px;
          color: #ccc;
          margin-right: 2px;
        }
        .no-touchevents &:hover {
          cursor: pointer;
          color: @color;
          .fa {
            color: @color;
          }
        }
      }
    }
    .show3Limit {
      @media (max-width: @screen-lsm-max) {
        display: none;
      }
    }
    .more-ideas-btn {
      @media (max-width: @screen-lsm-max) {
        display: none;
      }
    }
  }

  div.load-more {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  @media (max-width: @screen-lsm-max) {
    .prev-btn,
    .next-btn {
      display: none;
    }

    .ideas-list {
      margin: 0;
      white-space: normal;
      height: auto;
      a {
        outline: none;
      }
      .idea,
      .more-ideas-btn {
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        padding-bottom: 20px;
        .idea-img {
          width: 140px;
          float: left;
        }

        .desc {
          margin-left: 160px;
          width: auto;
          font-style: normal;
          margin-top: 0px;
          font-size: 14px;
          max-height: 56px;
          &.small {
            font-size: 10px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
