@import '../../vars';
.idea-container() {
  @text-color: #778899;
  @icon-color: #b2b2b2;
  @gutter: 10px;
  @margin-top-16: 16px;
  @margin-top-30: 30px;
  @font-family: Verdana, 'Bitstream Vera Sans', sans-serif !important;

  .zeilenabstand1 {
    padding-bottom: 5px;
  }
  .zeilenabstand2 {
    padding-bottom: 10px;
  }
  .zeilenabstand3 {
    padding-bottom: 15px;
  }
  .zeilenabstand4 {
    padding-bottom: 20px;
  }
  .zeilenabstand5 {
    padding-bottom: 25px;
  }

  .container {
    width: 100%;
    max-width: 100% !important;
    position: relative;
  }
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 640px;
  font-family: @font-family;
  color: @text-color;
  font-size: 14px;
  h1 {
    font-weight: bold;
    font-size: 20px;
    color: @text-color;
    font-family: @font-family;
    margin-bottom: 0px;
    margin-top: @margin-top-30;
  }
  .h2,
  h2 {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 700;
  }
  h1,
  h2,
  h3 {
    margin-top: 0px;
  }
  hr {
    border-top: 1px solid #b2b2b2 !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0;
    color: @text-color;
  }
  img {
    width: 100%;
  }
  a {
    font-weight: bold;
  }
  .hr-in-span {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul {
    &.ul-mt {
      margin-top: @margin-top-16;
    }
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 20px;
    }
  }
  ul.graphic {
    li {
      padding-left: 0px;
    }
    li:before {
      display: none;
    }
  }
  .metadata-row-normal,
  .metadata-row-small {
    ul {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .span-2,
  .span-3,
  .span-1,
  .span-4 ul {
    li:before {
      position: absolute;
      top: 5px;
      left: 0px;
      display: block;
      width: 10px;
      height: 10px;
      background-color: @icon-color;
      color: @icon-color;
      margin-right: @gutter;
      content: '';
    }
  }
  .btn-span {
    text-align: left;
    padding: 16px;
    background-color: @orange;
    width: ~'calc(100% - 80px)';
    .fa,
    .icon {
      margin-right: @gutter;
      font-size: 25px;
    }
  }
  .download-btn {
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 11px;
    width: 70px;
    background-color: #f29400;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    float: right;
  }
  /* StarRating */
  @import '../../misc/components/starRating/starRating';

  .rowDiv {
    img {
      border: 1px solid #789;
      &.rahmen0 {
        border-width: 0px;
      }
      &.rahmen1 {
        border-width: 1px;
      }
      &.rahmen2 {
        border-width: 2px;
      }
    }
  }
  @media (min-width: @screen-md-min) {
    .rowDiv {
      width: @screen-md-min;
      margin-right: auto;
      margin-left: auto;
      .rating-small-screen {
        display: none;
      }
      .span-1 {
        width: 160px;
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: @gutter;
        padding-right: @gutter;
      }
      .span-2 {
        width: 320px;
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: @gutter;
        padding-right: @gutter;
        &.span-2-mt {
          margin-top: @margin-top-16;
        }
      }
      .span-3 {
        width: 480px;
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: @gutter;
        padding-right: @gutter;
      }
      .span-4 {
        width: 640px;
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: @gutter;
        padding-right: @gutter;
        margin-bottom: 20px;
        &.span-4-tac {
          text-align: center;
          padding-left: 20%;
          padding-right: 20%;
        }
      }
      .art-info {
        display: none;
      }
      .metadata-row-small {
        display: none;
      }
    }
  }
  @media (max-width: @screen-lsm-max) {
    width: 300px;
    p {
      margin-top: @margin-top-16;
      margin-bottom: 0;
      color: @text-color;
    }
    .rowDiv {
      margin-right: auto;
      margin-left: auto;
      .span-1 {
        width: 300px;
      }
      .span-2 {
        width: 300px;
      }
      .span-3 {
        width: 300px;
      }
      .span-4 {
        width: 300px;
      }
      .info-stats-row {
        margin-bottom: 0;
        height: 20px;
        float: none;
      }
      .mt-sm {
        margin-top: 5px;
      }
      .art-info {
        display: block;
        button {
          background: none;
          text-align: left;
          padding-bottom: 0;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          color: @text-color;
          outline: none;
          .fa {
            font-size: 28px;
            margin-right: 10px;
            color: @icon-color;
          }
          .fa-btn:before {
            content: '\f056';
          }
          &.collapsed {
            .fa-btn:before {
              content: '\f055';
            }
          }
          &.active {
            color: @orange;
            .fa {
              color: @orange;
            }
          }
          .no-touchevents &:hover {
            color: @orange;
            .fa {
              color: @orange;
            }
          }
        }
      }
      .metadata-row-normal {
        display: none;
      }
    }
    .rating-high-screen {
      display: none;
    }
  }
  .mfb-container {
    .material-floating-button();
  }
}

/*------------------------------------*\
    #MFB BUTTON
\*------------------------------------*/
.material-floating-button() {
  .mfb-menu {
    .favourites {
      .mfb-component__button--child {
        .no-touchevents &:hover {
          background-color: @violet;
          border-color: @violet;
          &:after {
            display: block;
            background: @violet;
          }
        }
      }
    }
    .planner {
      .mfb-component__button--child {
        .no-touchevents &:hover {
          background-color: @kigaPlan;
          border-color: @kigaPlan;
          &:after {
            display: block;
            background: @kigaPlan;
          }
        }
      }
    }
    .return {
      .mfb-component__button--child {
        .no-touchevents &:hover {
          background-color: @darkGrey;
          border-color: @darkGrey;
          &:after {
            display: block;
            background: @darkGrey;
          }
        }
      }
    }
    .print {
      .mfb-component__button--child {
        .no-touchevents &:hover {
          background-color: @darkGrey;
          border-color: @darkGrey;
          &:after {
            display: block;
            background: @darkGrey;
          }
        }
      }
    }
    .print-without-img {
      .mfb-component__button--child {
        .no-touchevents &:hover {
          background-color: @darkGrey;
          border-color: @darkGrey;
          &:after {
            display: block;
            background: @darkGrey;
          }
        }
      }
    }
  }

  .mfb-component--br {
    box-sizing: border-box;
    margin: 15px;
    position: fixed;
    white-space: nowrap;
    z-index: 30;
    padding-left: 0;
    list-style: none;
  }
  .mfb-component--br *,
  .mfb-component--br *:before,
  .mfb-component--br *:after {
    box-sizing: inherit;
  }

  .mfb-component--br {
    right: 0;
    bottom: 0;
    @media (min-width: @screen-md-min) {
      right: 50%;
      margin-right: -300px;
    }
    @media (max-width: @screen-lsm-max) {
      right: 50%;
      margin-right: -142px;
    }
  }

  .mfb-component__button--main,
  .mfb-component__button--child {
    background-color: grey;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    outline: none;
    padding: 0;
    position: relative;
    -webkit-user-drag: none;
    color: #f1f1f1;
    .no-touchevents &:hover {
      background-color: @orange;
    }
  }
  .mfb-component__button--child {
    background-color: #fff;
    border: 3px solid @icon-color;
    color: @icon-color;
    border-radius: 50%;
    .no-touchevents &:hover {
      background-color: @orange;
      border: 3px solid @orange;
      color: #f1f1f1;
    }
  }
  [data-mfb-state='open'] .mfb-component__button--main {
    background-color: @orange;
  }
  .mfb-component__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mfb-component__list > li {
    display: block;
    position: absolute;
    top: 0;
    padding: 10px 0;
  }
  .mfb-component__icon,
  .mfb-component__main-icon--active,
  .mfb-component__main-icon--resting,
  .mfb-component__child-icon {
    position: absolute;
    font-size: 38px;
    text-align: center;
    line-height: 56px;
    width: 100%;
  }
  .mfb-component__main-icon--active {
    font-size: 28px;
  }
  .mfb-component__wrap {
    padding: 25px;
    margin: -25px;
  }

  [data-mfb-toggle='hover']:hover .mfb-component__icon,
  [data-mfb-toggle='hover']:hover .mfb-component__main-icon--active,
  [data-mfb-toggle='hover']:hover .mfb-component__main-icon--resting,
  [data-mfb-toggle='hover']:hover .mfb-component__child-icon,
  [data-mfb-state='open'] .mfb-component__icon,
  [data-mfb-state='open'] .mfb-component__main-icon--active,
  [data-mfb-state='open'] .mfb-component__main-icon--resting,
  [data-mfb-state='open'] .mfb-component__child-icon {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  .mfb-component__button--main {
    height: 56px;
    width: 56px;
    z-index: 20;
  }

  .mfb-component__button--child {
    height: 56px;
    width: 56px;
  }

  .mfb-component__main-icon--active,
  .mfb-component__main-icon--resting {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
  }

  .mfb-component__child-icon,
  .mfb-component__child-icon {
    line-height: 53px;
    font-size: 30px;
  }

  .mfb-component__main-icon--active {
    opacity: 0;
  }

  [data-mfb-toggle='hover']:hover .mfb-component__main-icon,
  [data-mfb-state='open'] .mfb-component__main-icon {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  [data-mfb-toggle='hover']:hover .mfb-component__main-icon--resting,
  [data-mfb-state='open'] .mfb-component__main-icon--resting {
    opacity: 0;
    position: absolute !important;
  }
  [data-mfb-toggle='hover']:hover .mfb-component__main-icon--active,
  [data-mfb-state='open'] .mfb-component__main-icon--active {
    opacity: 1;
  }

  /*------------------------------------*\
        #BUTTONS | Animations
    \*------------------------------------*/

  /*** ZOOM-IN */
  .mfb-component--br.mfb-zoomin .mfb-component__list li {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(1) {
    -webkit-transform: translate(-75px, 15px) scale(0);
    transform: translate(-75px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0.25s;
  }
  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(2) {
    -webkit-transform: translate(-150px, 15px) scale(0);
    transform: translate(-150px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0.2s;
  }
  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(3) {
    -webkit-transform: translate(-225px, 15px) scale(0);
    transform: translate(-225px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0.15s;
  }
  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(4) {
    -webkit-transform: translate(-300px, 15px) scale(0);
    transform: translate(-300px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0.1s;
    @media (max-width: @screen-lsm-max) {
      display: none;
    }
  }
  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(5) {
    -webkit-transform: translate(-375px, 15px) scale(0);
    transform: translate(-375px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0.05s;
    @media (max-width: @screen-lsm-max) {
      display: none;
    }
  }
  .mfb-component--br.mfb-zoomin .mfb-component__list li:nth-child(6) {
    -webkit-transform: translate(-450px, 15px) scale(0);
    transform: translate(-450px, 15px) scale(0);
    transition: all 0.5s;
    transition-delay: 0s;
    @media (max-width: @screen-lsm-max) {
      display: none;
    }
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(1),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(1) {
    -webkit-transform: translate(-75px, 15px) scale(1);
    transform: translate(-75px, 15px) scale(1);
    transition-delay: 0.05s;
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(2),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(2) {
    -webkit-transform: translate(-150px, 15px) scale(1);
    transform: translate(-150px, 15px) scale(1);
    transition-delay: 0.1s;
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(3),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(3) {
    -webkit-transform: translate(-225px, 15px) scale(1);
    transform: translate(-225px, 15px) scale(1);
    transition-delay: 0.15s;
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(4),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(4) {
    -webkit-transform: translate(-300px, 15px) scale(1);
    transform: translate(-300px, 15px) scale(1);
    transition-delay: 0.2s;
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(5),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(5) {
    -webkit-transform: translate(-375px, 15px) scale(1);
    transform: translate(-375px, 15px) scale(1);
    transition-delay: 0.25s;
  }
  .mfb-component--br.mfb-zoomin[data-mfb-toggle='hover']:hover .mfb-component__list li:nth-child(6),
  .mfb-component--br.mfb-zoomin[data-mfb-state='open'] .mfb-component__list li:nth-child(6) {
    -webkit-transform: translate(-450px, 15px) scale(1);
    transform: translate(-450px, 15px) scale(1);
    transition-delay: 0.3s;
  }

  [data-mfb-label]:after {
    display: none;
    content: attr(data-mfb-label);
    transition: all 0.5s;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    pointer-events: none;
    line-height: normal;
    position: absolute;
    white-space: normal;
    bottom: 65px;
    margin-left: -20px;
    width: 90px;
    opacity: 1;
    transition: all 0.5s;
  }
  .tooltip.top {
    width: 90px;
    margin-top: -7px;
    opacity: 1;
    .tooltip-arrow {
      display: none;
    }
    .tooltip-inner {
      font-size: 12px;
      padding: 3px 3px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 0px;
      background-color: @orange;
    }
  }
}

.external-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 660px;
  color: #778899;
  border: 1px solid #b2b2b2;
  @media (max-width: @screen-lsm-max) {
    width: 100%;
  }
}

.container {
  position: relative;
}

.banner {
  z-index: 1;
  position: fixed;
  top: 145px;
  margin-left: 758px;
  width: 190px;
  height: 400px;
  border: 1px solid #b2b2b2;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;

  .promo-img {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .promo-button {
    background-color: #ee451a;
    display: inline-block;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-width: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    bottom: 0px;
  }
  .promo-title {
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    margin: 20px;
  }
  .promo-text {
    text-align: center;
    font-size: 14px;
    margin: 20px;
  }
  @media (max-width: 1300px) {
    right: 11px;
    margin-left: 0px;
  }
  @media (max-width: 1080px) {
    display: none;
  }
}

/*------------------------------------*\
    #Forum
\*------------------------------------*/
.forum-container {
  width: 640px;
  margin: 5px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  .post,
  .user-post {
    padding: 15px;
    border: 1px solid #ababab;
  }
  .post {
    margin: 10px 0;
  }
  .user-post {
    margin: 15px 0;
  }
  .avatar {
    display: inline-block;
    vertical-align: top;
    img {
      height: 50px;
      width: 50px;
    }
  }
  .post-bdy {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    color: #ababab;
    .user-name {
      font-size: 16px;
    }
  }
  .post {
    .post-bdy {
      .user-name {
        text-transform: uppercase;
      }
      .user-message {
        max-width: 510px;
        font-size: 14px;
        margin: 4px 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .post-controls {
        .reply-btn,
        .post-date {
          opacity: 0.8;
        }
        .reply-btn {
          display: inline-block;
          margin-left: 20px;
          cursor: pointer;
        }
        .reply-btn:hover {
          opacity: 1;
          color: @orange;
        }
      }
    }
  }
  .user-post {
    .user-message {
      margin: 4px 0 10px 0;
      width: 510px;
      height: 110px;
    }
    .user-post-submit {
      background-color: #ababab;
      width: 150px;
      height: 40px;
      color: #fff;
      border: 0;
      text-decoration: none;
      &:hover {
        background-color: @orange;
      }
    }
  }
}

@media (max-width: @screen-md-min) {
  .forum-container {
    width: 320px;
    .post {
      .post-bdy {
        .user-message {
          max-width: 190px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .user-post {
      .user-message {
        width: 190px;
      }
    }
  }
}

/*------------------------------------*\
    #Linked Ideas
\*------------------------------------*/

.linked-ideas-title {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: #778899;
  font-size: 20px;
  font-family: Verdana, 'Bitstream Vera Sans', sans-serif !important;
}
.linked-ideas-row {
  z-index: 2;
  position: relative;
  width: 100%;
  background: #efefef;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #ababab;
  border-top: 1px solid #ababab;
  -webkit-box-shadow: 0px -2px 2px #ababab inset;
  box-shadow: 0px 0px 10px #ababab inset;

  .carousel_row {
    position: relative;
    padding: 10px 10px 20px;
    margin-right: 10px;
    flex-flow: row nowrap;
    .arrows {
      opacity: 0.4;
      margin-left: 1px;
      position: absolute;
      margin-top: 35px;
      a {
        display: inline;
        text-decoration: none;
        color: lightslategray;
        .left_arrow {
          padding-right: 10px;
        }
        .right_arrow {
          padding-left: 10px;
        }
        i {
          border: 3px solid lightslategray;
          border-radius: 50%;
          line-height: 58px;
          padding: 10px;
          text-align: center;
          cursor: pointer;
        }
      }
      text-decoration: none;
      &:hover {
        color: @orange;
        opacity: 0.9;
        a {
          color: @orange;
        }
        i {
          border: 3px solid @orange;
        }
      }
    }
    .next-button {
      right: 0px;
    }
    .carousel_list {
      width: ~'calc(100% - 140px)';
      overflow: hidden;
      white-space: nowrap;
      margin: 0 10px 10px;
      margin-left: 70px;
      float: left;
      .element {
        vertical-align: top;
        display: inline-block;
        white-space: normal;
        margin-left: 10px;
        margin-right: 10px;
        p {
          width: 100%;
          color: grey;
          max-height: 54px;
          margin-top: 10px;
        }
        .idea-img {
          width: 100%;
          position: relative;
          .img-border {
            position: absolute;
            height: 100%;
            width: 100%;
            border: 1px solid @grey;
          }
          img {
            width: 100%;
          }
          .info-heart {
            padding: 15px 15px 0 6px;
            position: absolute;
            z-index: 1;
            bottom: 5px;
            color: #fff;
            font-size: 140%;
            text-shadow: 0 0 3px rgba(0, 0, 0, 1);
          }
        }
        .desc {
          &.small {
            display: none;
          }
        }
        &:hover {
          .desc {
            color: @orange;
          }
          .idea-img {
            .img-border {
              border: 3px solid @orange;
            }
            img {
            }
          }
        }
      }
    }
    @media (max-width: @screen-md-min) {
      .arrows {
        display: none;
      }
      .carousel_list {
        flex-basis: 100%;
        margin: 0;
        white-space: normal;
        height: auto;
        width: 100%;
        .element {
          width: 100%;
          margin-left: 20px;
          margin-right: 10px;
          padding-bottom: 20px;
          .idea-img {
            width: 140px;
            float: left;
            .img-border {
              position: absolute;
              height: 100%;
              width: 100%;
              border: 3px transparent;
            }
            img {
              width: 100%;
            }
          }
          .desc {
            margin-left: 160px;
            width: auto;
            font-style: normal;
            margin-top: 0px;
            font-size: 14px;
            max-height: 56px;
            &.small {
              display: block;
              font-size: 11px;
              font-weight: normal;
              padding-right: 20px;
            }
          }
        }
      }
    }
    @media (min-width: @screen-md-min) {
      .carousel_list {
        .element {
          width: ~'calc(100%/3 - 20px)';
        }
      }
    }
    @media (min-width: @screen-lmd-min) {
      .carousel_list {
        .element {
          width: ~'calc(100%/4 - 20px)';
        }
      }
    }
    @media (min-width: @screen-lg-min) {
      .carousel_list {
        .element {
          width: ~'calc(100%/5 - 20px)';
        }
      }
    }
    @media (min-width: @screen-xlg-min) {
      .carousel_list {
        .element {
          width: ~'calc(100%/6 - 20px)';
        }
      }
    }
    @media (min-width: @container-xlg) {
      .carousel_list {
        .element {
          width: ~'calc(100%/7 - 20px)';
        }
      }
    }
  }
}
