@import '../../vars';

@import 'buttonRow';
@import '../../misc/components/buttonRow/buttonRow';
@import 'ideasOverview';
@import 'preview';
@import 'newIdeas';

.body.ideas {
  button-row {
    .button-row {
      .button-row(@orange, @white);
    }
  }
  .buttons-row {
    .buttons-row(@orange, @white);
  }
  .ideas-overview {
    .ideas-overview(@orange, @activeIdeaBg);
  }

  .preview-container-bg {
    .preview-container-bg(@orange, @activeIdeaBg);
  }

  .no-hits-content {
    margin-left: 25px;
    margin-bottom: 40px;
    font-size: 16px;
    .suggestions {
      margin-top: 16px;
    }
  }
}

.ideas {
  .prev-btn i {
    margin-left: -4px;
    margin-top: 2px;
  }

  .next-btn i {
    margin-left: 4px;
    margin-top: 2px;
  }
  @media (min-width: @screen-md-min) {
    .ideas-list {
      .idea,
      .more-ideas-btn {
        width: ~'calc(100%/3 - (100%/3 - 120px)/2)';
        margin-left: ~'calc((100%/3 - 120px)/4)';
        margin-right: ~'calc((100%/3 - 120px)/4)';
        &.active {
          &:after {
            content: '';
            background: url(../images/arrow.jpg);
            display: block;
            height: 28px;
            width: 37px;
            position: absolute;
            left: 50%;
            margin-left: -19px;
            top: 172px;
          }
          .idea-img .idea-active.idea-active,
          .desc-active {
            display: block;
          }
        }
      }
    }
  }
  @media (min-width: @screen-lmd-min) {
    .ideas-list {
      .idea,
      .more-ideas-btn {
        width: ~'calc(100%/4 - (100%/4 - 120px)/2)';
        margin-left: ~'calc((100%/4 - 120px)/4)';
        margin-right: ~'calc((100%/4 - 120px)/4)';
      }
    }
  }
  @media (min-width: @screen-lg-min) {
    .ideas-list {
      .idea,
      .more-ideas-btn {
        width: ~'calc(100%/5 - (100%/5 - 120px)/2)';
        margin-left: ~'calc((100%/5 - 120px)/4)';
        margin-right: ~'calc((100%/5 - 120px)/4)';
      }
    }
  }
  @media (min-width: @screen-xlg-min) {
    .ideas-list {
      .idea,
      .more-ideas-btn {
        width: ~'calc(100%/6 - (100%/6 - 120px)/2)';
        margin-left: ~'calc((100%/6 - 120px)/4)';
        margin-right: ~'calc((100%/6 - 120px)/4)';
      }
    }
  }
  @media (min-width: @container-xlg) {
    .ideas-list {
      .idea,
      .more-ideas-btn {
        width: ~'calc(100%/7 - (100%/7 - 120px)/2)';
        margin-left: ~'calc((100%/7 - 120px)/4)';
        margin-right: ~'calc((100%/7 - 120px)/4)';
      }
    }
  }
}

@import 'kigaIdea';
.idea-container {
  .idea-container();
}
