//customization of the default css for new ideas

@import '../../vars';

@media (min-width: @screen-md-min) {
  .no-touchevents .body.ideas .buttons-row .sort-row .sort-col .ideas-button.new-ideas:hover {
    border-color: @green;
    .sort-button {
      color: @green;
      border-color: @green;
    }
    .button-name {
      color: @green;
    }
  }
}

.body .ideas .preview-container-bg.new-ideas {
  .preview-container {
    .action-buttons {
      .eye-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @green;
          border-color: @green;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @green;
          }
        }
      }
    }

    .list {
      .up-btn,
      .down-btn {
        .no-touchevents &:hover {
          color: @green;
          border-color: @green;
        }
      }

      .list-col {
        .list-prev-sm {
          &:hover:not(.active) {
            border-color: @green;
          }
          .prev-active {
            background: @activeNewIdeaBg;
          }
        }
      }
    }
    .close {
      i {
        .no-touchevents &:hover {
          color: @green;
        }
      }
    }
  }
}
.no-touchevents .body.ideas {
  .ideas-overview {
    .type-row .title-link.new-ideas:hover {
      color: @green;
    }
    .ideas-list {
      .idea.new-idea {
        &:hover {
          color: @green;
          .desc {
            color: @green;
          }
          .idea-img .img-border {
            border-color: @green;
          }
        }
        .idea-img .idea-active {
          background: @activeNewIdeaBg;
        }
        &.active .desc {
          color: @green;
        }
      }
      .new-ideas .more-bl-large:hover {
        color: @green;
        .fa {
          color: @green;
        }
        .img-border {
          border-color: @green;
          .more-btn {
            color: @green;
          }
        }
      }
    }
    .new-ideas.prev-btn:hover {
      color: @green;
      border-color: @green;
    }
    .new-ideas.next-btn:hover {
      color: @green;
      border-color: @green;
    }
  }
}

.body.ideas {
  button-row .button-row .sort-row .sort-col .ideas-button.new-ideas {
    @media (max-width: @screen-lsm-max) {
      &.active-button {
        border-color: @green;
        .sort-button {
          background-color: @green;
          color: @white;
          border-color: @green;
        }
        .button-name {
          color: @green;
        }
        .no-touchevents &:hover {
          border-color: @green;
          .sort-button {
            background-color: @green;
            color: @white;
            border-color: @green;
          }
          .button-name {
            color: @green;
          }
        }
      }
      .no-touchevents &:hover {
        border-color: @green;
        .sort-button {
          color: @green;
          border-color: @green;
        }
        .button-name {
          color: @green;
        }
      }
    }
    @media (min-width: @screen-md-min) {
      &.active-button {
        border-color: @green;
        background-color: @green;
        .sort-button {
          color: @white;
          border-color: @green;
        }
        .button-name {
          color: @green;
        }
        .no-touchevents &:hover {
          border-color: @green;
          background-color: @green;
          .sort-button {
            color: @white;
            border-color: @green;
          }
          .button-name {
            color: @green;
          }
        }
      }
      &.rectangle-button {
        .no-touchevents &:hover {
          border-color: @green;
          .sort-button {
            color: @green;
            border-color: @green;
          }
          .button-name {
            color: @green;
          }
          i {
            color: @green;
          }
        }
      }
      &.rectangle-button.active-button {
        color: @green;
        border-color: @green;
        background-color: @green;
        .no-touchevents &:hover {
          background-color: @green;
          .button-name {
            color: @white;
          }
        }
        .sort-button {
          color: @green;
        }
        .button-name {
          color: @white;
        }
      }
      .no-touchevents &:hover {
        border-color: @green;
        .sort-button {
          color: @green;
          border-color: @green;
        }
        .button-name {
          color: @green;
        }
      }
    }
  }
}
