//for ideas please set green color in newIdeas

@import '../../vars';
.preview-container-bg(@color, @activeBg) {
  background: #efefef;
  border-top: 1px solid #b2b2b2;
  overflow: hidden;
  text-align: center;
  .text-overflow(@countoflines,@lineheight) {
    display: -webkit-box;
    -webkit-line-clamp: @countoflines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: @lineheight;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  &:before {
    content: '';
    background: linear-gradient(to bottom, #cdcdcf, #efefef);
    height: 7px;
    display: block;
  }

  &:after {
    content: '';
    background: linear-gradient(to top, #bfbfc1, #ededed);
    height: 7px;
    display: block;
  }
  &.ng-enter {
    .transition(all 0.5s ease);
    height: 0;
  }

  &.ng-enter-active {
    height: 387px;
  }

  &.ng-leave {
    .transition(all 0.5s ease);
    height: 387px;
  }

  &.ng-leave-active {
    height: 0;
  }

  .preview-container {
    position: relative;
    padding: 20px 0;
    display: inline-block;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    .nav-left {
      width: 60px;
      margin-right: 20px;
    }
    .action-buttons {
      width: 160px;
      .action-btn {
        width: 60px;
        height: 60px;
        border: #bcbcbc 3px solid;
        color: #bcbcbc;
        cursor: pointer;
        display: block;
        float: left;
        margin: 0 20px 20px 0;
        line-height: 54px;
        text-align: center;
        background: white;
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @color;
          border-color: @color;
        }
        &.placeholder {
          visibility: hidden;
        }

        i {
          font-size: 33px;
        }
        &.playing {
          .play-icon {
            display: none;
          }
          .pause-icon {
            display: inline-block;
            padding: 10px;
          }
        }
        &.paused {
          .play-icon {
            display: inline-block;
            padding: 10px;
          }
          .pause-icon {
            display: none;
          }
        }
        .tooltip.bottom {
          margin-top: 3px;
        }
      }
      .tooltip.bottom {
        width: 90px;
        margin-top: 0px;
        opacity: 1;
        .tooltip-arrow {
          display: none;
        }
        .tooltip-inner {
          font-size: 12px;
          padding: 3px 3px;
          color: #fff;
          text-align: center;
          text-decoration: none;
          border-radius: 0px;
        }
      }
      .favourite-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @violet;
          border-color: @violet;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @violet;
          }
        }
      }
      .calendar-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @kigaPlan;
          border-color: @kigaPlan;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @kigaPlan;
          }
        }
      }
      .print-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @darkGrey;
          border-color: @darkGrey;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @darkGrey;
          }
        }
      }
      .eye-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @orange;
          border-color: @orange;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @orange;
          }
        }
      }
      .play-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @orange;
          border-color: @orange;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @orange;
          }
        }
      }
      .social-block {
        width: 190px;
        height: 32px;
        float: right;
        margin-right: 16px;
        margin-top: 22px;
        font-size: 20px;
        .fa-facebook {
          color: #3b5998;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-google {
          color: #dd4b39;
        }
        .fa-pinterest {
          color: #bd081c;
        }
        .fa-envelope {
          color: grey;
        }
      }
    }

    .info {
      width: 300px;
      margin-right: 20px;
      border: #bcbcbc 1px solid;
      min-height: 347px;
      background: white;
      .info-description {
        position: relative;
        float: left;
        width: 100%;
        height: 138px;
        a {
          color: @darkGrey;
        }
        .info-stats {
          padding-top: 15px;
          float: left;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding-bottom: 16px;
          .info-category-block {
            padding-left: 20px;
            .info-category-ab {
              text-align: left;
              width: 21%;
              float: left;
              margin-top: 8px;
              span:nth-child(2) {
                font-weight: bold;
                font-size: 12px;
              }
            }
            .info-category-type {
              width: 79%;
              float: left;
              padding-top: 1px;
              padding-bottom: 1px;
              text-align: left;
              font-size: 10px;
              font-weight: normal;
              border-left: #c8c8c8 solid 1px;
              .info-category,
              .info-type {
                .text-overflow(1, 1.4);
                max-height: 17px;
              }
            }
            width: 58%;
            float: left;
          }
          .info-stats-block {
            width: 42%;
            float: left;
            .info-stats-row {
              font-size: 21px;
              color: #bcbcbc;
              width: 64%;
              line-height: 28px;
              float: left;
              .fa-star,
              .fa-star-o,
              .fa-star-half-o {
                font-size: 16px;
              }
            }
            .info-rate {
              width: 36%;
              float: left;
              text-align: right;
              color: #646260;
              font-size: 12px;
              padding-right: 20px;
              line-height: 28px;
              padding-top: 2px;
            }
          }
        }
        .info-title,
        .info-text {
          font-family: 'Open Sans', sans-serif;
          padding: 10px 10px 0;
          float: left;
          width: 100%;
        }

        .info-title {
          font-weight: bold;
          font-style: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          padding-left: 20px;
          padding-top: 15px;
          padding-right: 20px;
          max-height: 53px;
          .text-overflow(2, 1.4);
        }

        .info-text {
          padding-top: 4px;
          font-size: 11px;
          padding-left: 20px;
          text-align: left;
          padding-right: 20px;
          max-height: 35px;
          .text-overflow(2, 1.4);
        }
        .info-category-type {
          font-weight: bold;
          padding: 10px;
          display: inline-block;
          width: 120px;
        }
        .info-stats-row,
        .info-rate {
          display: inline-block;
          line-height: 54px;
          vertical-align: top;
        }
      }

      .info-img {
        width: 298px;
        border-bottom: #bcbcbc 1px solid;
      }
    }

    .list {
      width: 60px;
      margin-right: 20px;
      cursor: pointer;
      .user-select(none);

      .up-btn,
      .down-btn {
        height: 30px;
        border: #bcbcbc 1px solid;
        text-align: center;
        line-height: 25px;
        color: #bcbcbc;
        background: white;
        .no-touchevents &:hover {
          color: @color;
          border-color: @color;
        }

        i {
          font-size: 16px;
        }
      }

      .list-col {
        height: 287px;
        overflow: hidden;
        padding-bottom: 7px;

        .list-prev-sm {
          height: 87px;
          border: #bcbcbc 1px solid;
          width: 100%;
          margin-top: 7px;
          background: white;
          position: relative;
          &:hover:not(.active) {
            border-color: @color;
          }
          &.active {
            .prev-active {
              display: block;
            }
          }
          img {
            height: 85px;
            width: 58px;
          }

          .prev-active {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: @activeBg;

            .active-circle {
              width: 39px;
              height: 39px;
              border: white 4px solid;
              border-radius: 50%;
              left: 50%;
              position: absolute;
              top: 50%;
              margin-left: -19px;
              margin-top: -19px;
            }
          }
        }
      }
    }
    .preview {
      width: 220px;
      height: 313px;
      margin-right: 20px;
      background: white;
      border: #bcbcbc 1px solid;
      padding: 10px;
      img {
        height: 291px;
        width: 198px;
      }
    }

    .nav-right {
      width: 60px;
    }

    .close {
      color: #bcbcbc;
      position: absolute;
      right: 0;
      top: 15px;

      i {
        font-size: 37px;
        .no-touchevents &:hover {
          color: @color;
        }
      }
    }
  }
}
