@import '../../../vars';

@padding_md : 10px;
@padding_sm : 5px;
@border_header : 1px;
.footer {
  background: @footerGray;
  p {
    margin: @padding_md 0;
  }
  .navbar-toggle {
    //display        : block;
    margin: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0px @padding_sm 0 0;
    i {
      font-size: 25px;
    }
  }
  ul.nav.toggable {
    display: none;
  }
  .nav {
    display: inline-block;
    .clearfix();
    & > li {
      float: left;
      &:hover,
      &:focus {
        & > a {
          background: transparent;
        }
      }
    }
    & > li > a {
      color: @darkGrey;
      padding: @padding_md @padding_md;
    }
  }
  .navbar-nav {
    float: right;
    margin: 0;
    li {
      a {
        padding: @padding_md;
        color: @darkGrey;
      }
    }
  }
  .collapse-toggle {
    display: none;
  }
}

.cookie-not-accepted {
  margin-bottom: 85px;
  @media (min-width: 320px) and (max-width: @screen-lmd) {
    margin-bottom: 150px;
  }
  // if footer is two lines big (from 768 - 1213)
  @media (min-width: @screen-lmd) and (max-width: 1400px) {
    margin-bottom: 100px;
  }
}

@media (max-width: @screen-md-max) {
  .footer {
    ul.nav.toggable {
      display: block;
      float: right;
      i {
        font-size: 20px;
      }
      ul.dropdown-menu {
        background-color: #f3f3f3;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: #f3f3f3;
        border-radius: 0;
        margin: 0;
      }
    }
    .footer-right {
      ul.navbar-nav {
        display: none;
      }
    }
  }
}
@media (max-width: @screen-sm-max) {
  .footer {
    p.copyright,
    ul.nav.toggable {
      width: 100%;
      text-align: center;
      li.dropup {
        width: 100%;
      }
    }
  }
}

@media (max-width: @screen-lmd-max) {
  .footer {
    .text-right {
      text-align: left;
      border-top: @border_header solid @middleGrey;
      .collapse-toggle > li > a {
        padding-left: 0;
      }
    }
    .collapse-toggle {
      display: block;
    }
    .collapse-target {
      display: none;
    }
  }
}
