<a [routerLink]="routerLink" [queryParams]="queryParams">
  <div class="hidden-md hidden-lsm hidden-sm home-block">
    <h2 class="title full">{{ blockElement.title }}</h2>
    <div [className]="blockElement.color + ' line'"></div>
    <div class="rectangle">
      <img
        [src]="blockElement.bigImageUrl"
        [alt]="blockElement.title"
        class="img-responsive hidden-md hidden-lsm hidden-sm"
      />
    </div>
    <h3 class="description-title">{{ blockElement.descriptionTitle }}</h3>
    <p class="description">{{ blockElement.description }}</p>
  </div>
  <div class="hidden-xlg hidden-lg hidden-lmd hidden-lg home-block-mobile-view">
    <div [className]="blockElement.color + ' container'">
      <img [src]="blockElement.smallImageUrl" [alt]="blockElement.title" class="img-responsive" />
      <h2 class="title short">{{ blockElement.titleShort }}:</h2>
      <h3 class="description-title">{{ blockElement.descriptionTitle }}</h3>
    </div>
  </div>
</a>
