@import (reference) '../css/bootstrap/variables';
@import (reference) '../css/home.less';
@import (reference) '../../vars';

a,
a:hover {
  text-decoration: none;
  color: @link-color;
}

.home-block-mobile-view {
  padding: 0 10px 6px 10px;

  .img-responsive {
    height: 30px;
    width: auto;
  }
  .title.short {
    font-weight: bold;
    height: 20px;
  }
  .description-title {
    font-weight: normal;
    height: 15px;
    margin: 0 0 0 5px;
  }
  @media (max-width: 766px) {
    .title.short,
    .description-title {
      font-size: 16px;
    }
  }
  @media (max-width: 550px) {
    .title.short,
    .description-title {
      font-size: 14px;
    }
  }
  @media (max-width: 440px) {
    .title.short,
    .description-title {
      font-size: 12px;
    }
  }
  .container {
    display: flex;
    align-items: center;
    height: 35px;
  }
  .orange {
    background: @darkOrange;
    color: white;
  }
  .blue {
    background: @kigaPlan;
    color: white;
  }
  .pink {
    background: @middlePink;
    color: white;
  }
  .red {
    background: @shopColor;
    color: white;
  }
}

.home-block {
  @greenline : #b1c553;
  padding: 10px 10px 0 10px;
  float: left;
  width: 25%;
  .title {
    margin-bottom: 0;
    margin-top: 0;
    .font_for_title();
  }
  .description-title {
    font-size: 14px;
    margin: 10px 0 5px 0;
  }
  .description {
    font-size: 11px;
    padding: 0 0 0 0;
  }
  .line {
    .line();
  }

  @media (max-width: @screen-md-max) {
    .full {
      display: none;
    }
  }
  @media (max-width: 319px) {
    padding-top: 0;
  }

  @media (max-width: @screen-md-max) {
    .icon-play2,
    .line {
      display: none;
    }
  }

  .orange {
    background: @darkOrange;
  }
  .blue {
    background: @kigaPlan;
  }
  .pink {
    background: @middlePink;
  }
  .red {
    background: @shopColor;
  }
  .green {
    background: @greenline;
  }
  .rectangle {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0;
    border: none;
    width: 100%;
  }
}
