<div class="panel panel-default">
  <div class="panel-heading">
    Downloadable idea details
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="info col-sm-60">

        <div class="form-group">
          <label>Description
                    <textarea class="form-control" ng-model="ctrl.formData.description"
                              ng-required="true"></textarea>
          </label>
        </div>

        <div class="form-group">
          <div>
            <label class="checkbox-inline"
                   ng-repeat="(ageGroupValue, ageGroup) in ctrl.ageGroupsList">
              <input type="checkbox" name="ageGroups[]" ng-model="ageGroup.checked" icheck
                     class="form-control" ng-true-value="true" ng-false-value="false">
              {{ageGroup.label}}
            </label>
          </div>
        </div>

        <div class="form-inline">
          <label>Category
            <ui-select ng-model="ctrl.formData.category" ng-required="true" search-enabled="true"
                       on-select="ctrl.onCategorySelection($item, $model)">
              <ui-select-match placeholder="Select a category...">
                {{ctrl.formData.category.title}}
              </ui-select-match>
              <ui-select-choices
                repeat="category in ctrl.categories | filter: {title: $select.search}">
                <span ng-bind-html="category.title | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </label>
        </div>

        <div class="form-group">
          <div>
            <label class="radio-inline">
              <input type="radio" name="radio1" ng-value="true" ng-model="ctrl.formData.inPool" icheck>
              In Archive
            </label>
            <label class="radio-inline">
              <input type="radio" name="radio1" ng-value="false" ng-model="ctrl.formData.inPool" icheck checked>
              New Idea
            </label>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label class="checkbox-inline">
              <input type="checkbox" class="form-control" ng-true-value="true" icheck
                     ng-false-value="false" ng-model="ctrl.formData.forParents"> ForParents
            </label>

            <label class="checkbox-inline">
              <input type="checkbox" class="form-control" ng-true-value="true" icheck
                     ng-false-value="false"
                     ng-model="ctrl.formData.facebookShare"> FacebookShare
            </label>
          </div>
        </div>

        <div class="form-group date-input">
          <label>Sort Date
            <input kiga-date ng-required="!ctrl.formData.inPool"
                   ng-model="ctrl.formData.sortingDate" class="form-control" />
          </label>
        </div>

        <div class="form-group date-input">
          <label>Sort Date Mini
            <input kiga-date ng-required="!ctrl.formData.inPool"
                   ng-model="ctrl.formData.sortingDateMini" class="form-control" />
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
