<div class="panel panel-default">
  <div class="panel-heading">
    Create downloadable idea
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="info col-sm-60 col-md-20">
        <div>Preview</div>
        <div class="preview-file-uploader">
          <kiga-upload name="previewFiles"
                       accepted-types="'gif, jpg, png'"
                       uploaded-files="ctrl.previewFiles"
                       canned-access-control-list="PublicRead"
                       ng-model="ctrl.previewFilesIds"
                       max-files="1"
                       context="'kigaidea-download-type-preview'"
                       required />
        </div>
      </div>

      <div class="info col-sm-60 col-md-40">
        <div class="form-group">
          <label>Title
            <input type="text" class="form-control" ng-required="true" placeholder="Title"
                   ng-model="ctrl.formData.title"
                   ng-blur="ctrl.onTitleInputLoosesFocus()">
          </label>
        </div>

        <div class="form-group">
          <label>Url Segment
            <input type="text" class="form-control url-segment-input"
                   placeholder="Url Segment"
                   async-validator dependend-model="{{ctrl.formData.category}}"
                   async-fn="ctrl.asyncValidateFn"
                   async-msg="asyncUrlSegmentValidation"
                   ng-model-options = "{debounce: 300}"
                   ng-model="ctrl.urlSegment">
          </label>
        </div>

        Upload file
        <kiga-upload name="uploadedFiles"
                     uploaded-files="ctrl.uploadedFiles"
                     ng-model="ctrl.uploadedFilesIds"
                     max-files="1"
                     hide-preview="true"
                     canned-access-control-list="PublicRead"
                     context="'kigaidea-download-type'"
                     required />
      </div>
    </div>
  </div>
</div>
