<div class="panel panel-default">
  <h2 class="red">This feature is in development and not ready for live usage.</h2>
  <div class="panel-heading">
    Idea groups assigned to this idea
  </div>
  <div class="panel-body">
     <div ui-grid='ctrl.selectedIdeaGroupsGrid' ui-grid-draggable-rows class="grid"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Unassigned idea groups
  </div>
  <div class="panel-body">
    <div ui-grid="ctrl.otherIdeaGroupsGrid" class="grid" ui-grid-draggable-rows></div>
  </div>
</div>
