<input
  matInput
  [matAutocomplete]="auto"
  [formControl]="filterFormControl"
  [formlyAttributes]="field"
  [placeholder]="to.placeholder"
/>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let value of (filteredOptions | async)" [value]="value">
    {{ value.label }}
  </mat-option>
</mat-autocomplete>
