<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_DASHBOARD_GROUPS' | translate }}</div>
    <div class="panel-body">
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            mat-raised-button
            color="accent"
            class="cancel"
            [routerLink]="['../../dashboard']"
          >
            {{ 'KGA_BACK_TO_DASHBOARD' | translate }}
          </button>
        </div>
        <div class="right">
          <button mat-raised-button color="primary" type="button" [routerLink]="['../new/']">
            {{ 'KGA_GROUP_NEW' | translate }}
          </button>
        </div>
      </div>

      <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sorted">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let group" class="clickable" [routerLink]="['../', group.id]">
            <i class="icon-pencil"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="name">{{ 'FIELD_NAME' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('name', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let group">{{ group.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="email">{{ 'FIELD_EMAIL' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('email', $event.target.value)"
                [placeholder]="'FIELD_FILTER' | translate"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let group">{{ group.email }}</td>
        </ng-container>

        <ng-container matColumnDef="countChildren">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="children">{{ 'KGA_DASHBOARD_CHILDREN' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('countChildren', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let group">
            <p>{{ group.countChildren }}</p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
