<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_DASHBOARD_CHILDREN' | translate }}</div>
    <div class="panel-body">
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            mat-raised-button
            color="accent"
            class="cancel"
            [routerLink]="['../../dashboard']"
          >
            {{ 'KGA_BACK_TO_DASHBOARD' | translate }}
          </button>
        </div>
        <div class="right">
          <button mat-raised-button color="primary" type="button" [routerLink]="['../new']">
            {{ 'KGA_CHILD_NEW' | translate }}
          </button>
        </div>
      </div>

      <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sorted">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cellcomponent
            *matCellDef="let child"
            class="clickable"
            [routerLink]="['../', child.id]"
          >
            <i class="icon-pencil"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="name">{{ 'FIELD_NAME' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('name', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">{{ child.name }}</td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="birthDate">
              {{ 'FIELD_BIRTHDAY' | translate }}/{{ 'FIELD_AGE' | translate }}
            </p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('birthDate', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">{{ child.birthDate }}<br />{{ child.age }}</td>
        </ng-container>

        <ng-container matColumnDef="parents">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="parents">{{ 'KGA_PARENT_NAME' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('parents', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">{{ child.parents }}</td>
        </ng-container>

        <ng-container matColumnDef="groupId">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="groupId">{{ 'KGA_CHILD_GROUP' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('groupId', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">
            <mat-form-field>
              <mat-select placeholder="Gruppe" [(value)]="child.groupId">
                <!-- TODO check 2waybinding with rainer -->
                <mat-option *ngFor="let group of groups" [value]="group.id">
                  {{ group.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="siblings">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="siblings">{{ 'KGA_CHILD_SIBLINGS' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('siblings', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">{{ child.siblings }}</td>
        </ng-container>

        <ng-container matColumnDef="allergies">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="allergies">{{ 'KGA_CHIELD_ALLERGIES' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('allergies', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let child">{{ child.allergies }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td (click)="delete(child)" mat-cellcomponent *matCellDef="let child" class="clickable">
            <i class="fa fa-times delete-icon"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>

      <div class="buttons">
        <div class="left">
          <button mat-raised-button color="primary" type="button" (click)="save()">
            {{ 'BUTTON_SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
