<div class="container">
  <p>
    <span>
    Active country mock:
    <img ng-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/{{$ctrl.country.toLowerCase()}}.svg">
    </span>
    <span class="remove-mock"><a href="#" ng-click="$ctrl.remove()">Remove</a></span>
  </p>
</div>
