mocked-country {
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  p {
    background: #efefef;
    img {
      width: auto;
      height: 25px;
      vertical-align: middle;
      margin-bottom: 5px;
    }
    .remove-mock {
      display: block;
      font-size: 15px;
    }
  }
}
