<div class="member-account-menu"  ui-sref="{{state}}" >
    <div class="member-account-menu-icon-area" >
        <i ng-if="!icon.includes('fa-')" class="icon {{icon}} member-account-menu-icon"></i>
        <i ng-if="icon.includes('fa-')" class="fa {{icon}} member-account-menu-icon"></i>
    </div>
    <div translate="{{translateKey}}" class="member-account-menu-text"></div>
</div>
