<div>

    <!-- Attention - usage of $parent in ng-model because of scope issues with ng-repeat -->
    <div class="radio">

        <div ng-repeat="option in paymentOptions">
            <div class="margin radio" >
                <label>
                    <input type="radio" name="paymentMethod" ng-value="option"
                           class="form-control" icheck
                           ng-click="paymentMethodChanged(option)"
                           ng-model="paymentMethodModel"/>

                    <span ng-if="data[option].textkey" t="{{data[option].textkey}}">
                       <br />
                    </span>

                    <img class="my-abo-cc-image" ng-repeat="image in data[option].images" ng-src="{{url(image)}}" />
                </label>
            </div>

          <div class="invoiceOption" style="padding-left: 20px;" ng-if="paymentMethodModel==='RE' && $first">
            <!-- pops up when "Payment per invoice" is selected-->
            <div ng-repeat="option in invoiceOptions" >
              <div class="margin radio" >
                <label>
                  <input type="radio" name="invoiceOption" ng-value="option"
                         class="form-control" icheck
                         ng-click="invoiceOptionChanged(option)"
                         ng-model="invoiceOptionModel"/>

                  <span t="{{data[option].textkey}}"></span>

                </label>
              </div>
              <input type="hidden" ng-model="invoiceOptionModel" required>
            </div>
          </div>
        </div>
        <input type="hidden" ng-model="paymentMethodModel" required>

    </div>
</div>
