
<div>
    <style>
        .image-upload > input
        {
            display: none;
        }
    </style>

    <div class="image-upload">
        <button type="submit" t="{{translateKey}}" class="member-account-picture-button" ng-click="selectFile()">
        </button>

        {{fileModel.name}}
        <input id="file-input" type="file" accept="{{accept}}"/>
    </div>
</div>