//
// Grid system
// --------------------------------------------------

// Set the container width, and override it for fixed navbars in media queries
.container {
  .container-fixed();
}

// mobile first defaults
.row {
  .make-row();
}

// Common styles for small and large grid columns
.make-grid-columns();

// Small grid (320px - 479px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-sm-12` doesn't get floated on purpose--there's no need since
// it's full-width.

.make-grid-columns-float(sm);
.make-grid(@grid-columns, sm, width);
.make-grid(@grid-columns, sm, pull);
.make-grid(@grid-columns, sm, push);
.make-grid(@grid-columns, sm, offset);

// Large Small grid (480px - 639px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-lsm-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-lsm-min) {
  .container {
    max-width: @container-lsm;
  }

  .make-grid-columns-float(lsm);
  .make-grid(@grid-columns, lsm, width);
  .make-grid(@grid-columns, lsm, pull);
  .make-grid(@grid-columns, lsm, push);
  .make-grid(@grid-columns, lsm, offset);
}

// Medium grid (640px - 799px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-md-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-md-min) {
  .container {
    max-width: @container-md;
  }

  .make-grid-columns-float(md);
  .make-grid(@grid-columns, md, width);
  .make-grid(@grid-columns, md, pull);
  .make-grid(@grid-columns, md, push);
  .make-grid(@grid-columns, md, offset);
}

// Large Medium grid (800px - 959px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-lmd-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-lmd-min) {
  .container {
    max-width: @container-lmd;
  }

  .make-grid-columns-float(lmd);
  .make-grid(@grid-columns, lmd, width);
  .make-grid(@grid-columns, lmd, pull);
  .make-grid(@grid-columns, lmd, push);
  .make-grid(@grid-columns, lmd, offset);
}

// Large grid (960px - 1119px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-lg-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-lg-min) {
  .container {
    max-width: @container-lg;
  }

  .make-grid-columns-float(lg);
  .make-grid(@grid-columns, lg, width);
  .make-grid(@grid-columns, lg, pull);
  .make-grid(@grid-columns, lg, push);
  .make-grid(@grid-columns, lg, offset);
}

// Extra Large grid  (1120px - 1280px)
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-xlg-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-xlg-min) {
  .container {
    max-width: @container-xlg;
  }

  .make-grid-columns-float(xlg);
  .make-grid(@grid-columns, xlg, width);
  .make-grid(@grid-columns, xlg, pull);
  .make-grid(@grid-columns, xlg, push);
  .make-grid(@grid-columns, xlg, offset);
}