<div class="form-group">
  <div class="checkbox">
    <label>
        <input name="agb"
             type="checkbox"
             ng-true-value="true"
             ng-false-value="undefined"
             ng-model="ctrl.data.agb"
             icheck>
        <span t="REG_AGB_ACCEPTED_INFO"></span>
      <input name="agb2" type="hidden" ng-model="ctrl.data.agb" required>
    </label>
    <!--
        not using generic validation with validation-info directive because of position
        constraints (label after input element -> leads to validation message above checkbox
      -->
    <validation-info-element validations='{"validator":""}'
                             options="{'validator':'REG_AGB_ACCEPTED'}"
                             formelement="ctrl.data.agb"></validation-info-element>
  </div>
  <div class="checkbox">
    <label>
      <input name="security"
             type="checkbox"
             ng-true-value="true"
             ng-false-value="undefined"
             ng-model="ctrl.data.security"
             icheck>
      <span t="REG_SECURITY_ACCEPTED_INFO"></span>
      <input name="security2" type="hidden" ng-model="ctrl.data.security" required>
    </label>
    <!--
        not using generic validation with validation-info directive because of position
        constraints (label after input element -> leads to validation message above checkbox
      -->
    <validation-info-element validations='{"validator":""}'
                             options="{'validator':'REG_SECURITY_ACCEPTED'}"
                             formelement="inputForm.security"></validation-info-element>
  </div>
</div>
