<div class="header">
  <div class="row no-gutter steps-container">
    <div class="col-md-13 hidden-sm hidden-lsm"></div>
    <checkout-header ng-if="ctrl.newShopRegistrationIsEnabled"
      class="col-md-10 col-sm-13" step="shipping"
      translate-key="SHOP_ADDRESS"></checkout-header>

    <checkout-header ng-if="!ctrl.newShopRegistrationIsEnabled"
                     class="col-md-10 col-sm-13" step="shipping"
                     translate-key="SHOP_SHIPPING"></checkout-header>
    <checkout-header
      class="col-md-10 col-sm-13" step="payment"
      translate-key="SHOP_PAYMENT"></checkout-header>
    <checkout-header
      class="col-md-13 col-sm-13" step="summary"
      translate-key="SHOP_SUMMARY"></checkout-header>

    <div class="col-sm-10 hidden-xlg hidden-lg hidden-lmd hidden-md"></div>
  </div>
  <div class="clearfix"></div>
</div>
<!--End of Header-->
