<div class="tags-wrapper">
  <div class="search-input clearfix">
    <ul class="search-tags">
      <li ng-repeat="selectedTag in searchContext.selectedTags" class="tag">
        <span class="tagName">{{selectedTag.label}}</span>
        <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
      </li>
    </ul>

    <input class="sinput" data-test="searchField" type="search" ng-model="searchContext.search" placeholder="{{ 'SEARCH' | translate}}" ng-keydown="checkKeyDown($event)" ng-change="search()" autocomplete="off">
  </div>
    <a href="" ng-click="eventHandler()" data-test="searchSubmit" class="clearfix search-button"><i class="icon-search"></i></a>

    <ul id="suggestions" class="suggestions-list" ng-if="suggestions && suggestions.length">
      <li ng-repeat="suggestion in suggestions" class="blockSpan" ng-mouseover="$parent.selectedIndex=$index" ng-mouseleave="$parent.selectedIndex=-1" ng-class="{active : selectedIndex===$index}">
        <a ng-click="addToSelectedTags($index)">{{suggestion.label}}</a>
      </li>
    </ul>
</div>
