<div class="hierarchical-select">
  <div class="menu">
    <div
      class="dropdown {{(flag) ? 'active' : ''}}"
      ng-mouseenter="flag = true;"
      ng-mouseleave="cleanUp()"
    >
      <button class="burger">
        <i ng-if="menuData.icon" class="icon {{menuData.icon}}"></i>
        <span>{{ menuData.label }}</span><b class="caret hidden-sm"></b>
      </button>
      <div class="dropdown-gap"></div>
      <ul ng-if="flag">
        <li ng-show="path.length" ng-click="goBack()">
          <a href="" ng-class="{back_link:true}">
            <span><i class="icon icon-arrow-left"></i></span> <span translate="BUTTON_BACK"></span>
          </a>
        </li>
        <li
          ng-if="!data.newType && ((!localeMenu && data.type !== 'locale') || (!localeMenu && data.type == 'locale' && menuData.area().showLocales))"
          ng-repeat="data in currentMenu"
          ng-click="data.children.length ? selectItem(data) : ''"
        >
          <a ng-href="{{(data.children.length > 1) ? '' : data.link }}" target="{{data.target}}">
            <span ng-if="!data.isTranslation">
              <i ng-if="data.icon" class="icon item-icon {{ data.icon }}"></i> {{ data.label }}
            </span>
            <span ng-if="data.isTranslation">
              <i ng-if="data.icon" class="icon item-icon {{ data.icon }}"></i> {{ data.label |
              translate }}
            </span>
            <span ng-if="data.children.length"><i class="icon icon-arrow-right"></i></span>
          </a>
        </li>

        <li ng-if="!data.newType && localeMenu" ng-repeat="locale in currentMenu">
          <a ng-click="switchLocale(locale.code)" data-test="{{locale.code}}"
            ><span>{{ locale.title | translate }}</span></a
          >
        </li>
        <li
          ng-if="data.newType"
          ng-repeat="data in currentMenu"
          ng-click="data.children.length ? selectItem(data) : ''"
        >
          <a ng-click="data.callback()">
            <span ng-if="data.isTranslation" class="clickable"> {{ data.label | translate }} </span>
            <span ng-if="!data.isTranslation" class="clickable"> {{ data.label }} </span>
            <span ng-if="data.children.length"><i class="icon icon-arrow-right"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
