<ui-select ng-model="ctrl.ngModel" on-select="ctrl.onSelect()">
  <ui-select-match placeholder="{{ctrl.placeholder}}" name="{{ctrl.inputName}}">{{$select.selected.title}}</ui-select-match>
  <ui-select-choices repeat="x.code as x in ctrl.filteredOptions">
    <div data-test="{{ctrl.test}}-{{x.code}}">{{x.title}}</div>
  </ui-select-choices>
</ui-select>
<input type="hidden" ng-model="ctrl.ngModel" ng-if="ctrl.isRequired" required>
