<div class="threeFieldDateInput">
 <div>
  <input name="bday" type="text" placeholder="{{'MISC_DATE_DD' | translate}}"
         class="form-control" no-fab-form-validation data-test="bday"
         ng-model="date.day" ng-change="change()"/>
  </div>
  <div class="middle">
    <ui-select ng-model="date.month" on-select="change()">
      <ui-select-match data-test="dateMonth">{{'MISC_'+$select.selected.name | translate}}</ui-select-match>
      <ui-select-choices repeat="month in months | filter: $select.search">
        <span data-test="dateMonth-{{month.idx + 1}}">{{'MISC_'+month.name | translate}}</span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div>
  <input name="byear" type="text"
         placeholder="{{'MISC_DATE_YYYY' | translate }}" class="form-control"
         no-fab-form-validation data-test="byear"
         ng-model="date.year" ng-change="change()"/>
  </div>
</div>
