<div>
  <div ng-if="isValidationInfoRequired() && getMessage" class="validation-error">
    <div ng-messages="formelement.$error">
      <div ng-repeat="key in validationKeys" ng-message="{{key}}">{{getMessage(key)}}</div>
    </div>
  </div>
</div>