<div *ngIf="(year$ | async) as year" class="container">
  <div class="panel panel-default">
    <div [hidden]="year.id !== undefined" class="panel-heading">
      {{ 'KGA_YEAR_CREATE_NEW' | translate }}
    </div>
    <div [hidden]="year.id === undefined" class="panel-heading">
      {{ 'KGA_YEAR_EDIT' | translate }}
    </div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="saveYear()">
        <formly-form [form]="form" [fields]="fields" [model]="year">
          <div class="buttons">
            <div class="left">
              <button
                mat-raised-button
                color="accent"
                type="button"
                class="cancel"
                [routerLink]="['../dashboard']"
              >
                {{ 'KGA_BACK_TO_DASHBOARD' | translate }}
              </button>
            </div>
            <div class="right">
              <button mat-raised-button color="primary" type="submit">
                {{ 'BUTTON_SAVE' | translate }}
              </button>
            </div>
          </div>
        </formly-form>
      </form>

      <button
        [hidden]="year.id === undefined"
        mat-raised-button
        color="primary"
        type="button"
        (click)="archive(year)"
      >
        {{ 'KGA_YEAR_ARCHIVE' | translate }}
      </button>
    </div>
  </div>
</div>
