<div ng-if="!$ctrl.large" class="form-group">
  <label>{{$ctrl.label}}</label>
  <label class="value">{{$ctrl.labelContent}}</label>
</div>
<div ng-if="$ctrl.large" class="form-group large">
  <label>{{$ctrl.label}}</label>
  <input type="text" placeholder="{{$ctrl.placeHolder}}" class="form-control">
</div>

