<div class="left">
  <button type="button" class="cancel" ng-click="moveToPreviousStep()" translate="BUTTON_BACK" data-test="back"></button>
</div>
<div class="right">
  <button type="submit" class="proceed" ng-click="proceed()" translate="BUTTON_NEXT" data-test="next"></button>
</div>
