<div class="header">
    <div class="row no-gutter steps-container">
        <div class="col-md-7 hidden-sm hidden-lsm"></div>
        <header-entry class="col-md-7 col-sm-10"
                      step="preSelectionFields" translate-key="REG_SUBSCRIPTION_SELECTION"></header-entry>
        <header-entry class="col-md-8 col-sm-10"
                      step="productFields" translate-key="REG_SUBSCRIPTION_PRICES"></header-entry>
        <header-entry class="col-md-8 col-sm-10"
                      step="customerDataFields" translate-key="REG_CUSTOMER_DATA"></header-entry>
        <header-entry class="col-md-8 col-sm-10"
                      step="paymentFields" translate-key="REG_PAYMENT_TYPES"></header-entry>
        <header-entry class="col-md-10 col-sm-10"
                      step="summary" translate-key="REG_SUMMARY"></header-entry>
        <div class="col-sm-10 hidden-xlg hidden-lg hidden-lmd hidden-md"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!--End of Header-->
