<div class="left">
    <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="backToPreselection()"></button>
</div>
<div class="right">
  <button ng-if="isTestAbo()" type="button" class="order" translate="LOGIN_FREE_SUBSCRIPTION" ng-click="order()"></button>
  <button ng-if="!isTestAbo()" type="button" class="order" translate="REG_ORDER_NOW" ng-click="order()"></button>
</div>
