<div class="form-group registration-agreement">
  <div class="checkbox">
    <input name="agb" type="checkbox" ui-validate=" '$value===true' " icheck data-test="agb"
           ng-model="getFieldObject('agb').value" validation-msg-validator="{{ 'REG_AGB_ACCEPTED' | translate }}">
    <span t="REG_AGB_ACCEPTED_INFO" class="checkbox-label"></span>
  </div>

  <div class="checkbox">
      <input name="security" type="checkbox"
             class="form-control" icheck data-test="security"
             ng-model="getFieldObject('security').value" ui-validate=" '$value===true' "
             validation-msg-validator="{{ 'REG_SECURITY_ACCEPTED' | translate }}">
      <span t="REG_SECURITY_ACCEPTED_INFO"></span>
  </div>

  <div class="checkbox">
    <label>
      <input name="newsletter" type="checkbox"
             class="form-control" icheck data-test="newsletter"
             ng-model="getFieldObject('newsletter').value"/>
      <span t="REG_NEWSLETTER"></span>
      <tool-tip-info-icon tool-tip-text="{{ 'REG_NEWSLETTER_INFO' | translate }}"></tool-tip-info-icon>
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input name="datenschutz" type="checkbox"
             class="form-control" icheck data-test="datenschutz"
             ng-model="getFieldObject('dataPrivacy').value" ui-validate=" '$value===true' "
             validation-msg-validator="{{ 'REG_DATA_PRIVACY_ACCEPTED' | translate }}">
      <span t="REG_DATA_PRIVACY" translate-values="{privacyLink: linkURL}" ></span>
      <tool-tip-info-icon tool-tip-text="{{ 'REG_DATA_PRIVACY_INFO' | translate }}"></tool-tip-info-icon>
    </label>
  </div>

</div>
