<div [ngClass]="{ favourites: idea.inPool }" class="hidden-lsm hidden-sm preview-container-bg">
  <div class="preview-container row">
    <div class="nav-left">
      <div
        class="prev-btn theme-hover theme-hover-border"
        data-test="previewPrev"
        (click)="onClickPrevious()"
        *ngIf="hasPrevious"
      >
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>

    <!-- action buttons for downloadable idea -->
    <div class="action-buttons">
      <ng-container
        *ngIf="idea.download; then: actionButtonsDownloadable; else: actionButtonsNonDownloadable"
      ></ng-container>
    </div>

    <div class="info">
      <a *ngIf="!showVideo" [routerLink]="idea.links.view.link">
        <img [src]="idea.largePreviewImageUrl" alt="" class="info-img" />
      </a>
      <div *ngIf="idea.videoLink" [ngClass]="{ hidden: !showVideo }">
        <kiga-video-player [videoLink]="idea.videoLink"></kiga-video-player>
      </div>
      <div class="info-description">
        <div class="info-title">
          <a>{{ idea.title }}</a>
        </div>
        <div class="info-text">
          <a>{{ idea.description }}</a>
        </div>
        <div class="info-stats">
          <div class="info-category-block">
            <div class="info-category-ab">
              <span>{{ idea.ageRange }}</span>
            </div>
            <div class="info-category-type">
              <div class="info-category">{{ idea.level1Title }}</div>
              <div class="info-type">{{ idea.level2Title }}</div>
            </div>
          </div>
          <kiga-rating [rating]="idea.rating"></kiga-rating>
        </div>
      </div>
    </div>

    <div *ngIf="!idea.download && idea.previewPages.length > 0" class="list hidden-lmd hidden-md">
      <button
        (click)="previewUp()"
        *ngIf="3 < idea.previewPages.length"
        [disabled]="previewIndex === 0"
        data-test="previewListUp"
        class="up-btn theme-hover theme-hover-border"
        id="preview-list-up-{{ $index }}"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
      <div class="list-col">
        <div
          (click)="selectPreviewPage(page)"
          *ngFor="let page of idea.previewPages"
          [ngClass]="{
            active: page === activePreviewPage,
            'theme-hover-border': page !== activePreviewPage
          }"
          [ngStyle]="{ transform: getTransform() }"
          class="list-prev-sm"
        >
          <img [src]="page?.small" alt="" />
          <div class="prev-active theme-bg"><div class="active-circle"></div></div>
        </div>
      </div>
      <button
        (click)="previewDown()"
        *ngIf="3 < idea.previewPages.length"
        [disabled]="previewIndex === idea.previewPages.length - 3"
        ng-style="{'visibility': idea.previewScrollButtonsVisibility}"
        data-test="previewListDown"
        class="down-btn theme-hover theme-hover-border"
        id="preview-list-down-{{ $index }}"
      >
        <i class="fa fa-chevron-down"></i>
      </button>
    </div>

    <div class="preview hidden-lmd hidden-md">
      <a>
        <img *ngIf="!idea.download && activePreviewPage" [src]="activePreviewPage.large" alt="" />
        <img *ngIf="idea.download" [src]="url('ideas/images/' + ctrl.previewImageName)" alt="" />
      </a>
    </div>

    <div class="nav-right">
      <div class="close theme-hover" (click)="close()"><i class="fa fa-times"></i></div>
      <div
        *ngIf="hasNext"
        [ngClass]="{ 'new-ideas': ctrl?.isNewIdeas }"
        class="next-btn theme-hover theme-hover-border"
        (click)="onClickNext()"
        data-test="previewNext"
      >
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #actionButtonsDownloadable>
  <kiga-action-button
    [link]="idea.links.download.link"
    icon="fa-cloud-download"
    tooltip="{{'IDEAS_DOWNLOAD_IDEA' | translate}}"
  ></kiga-action-button>
  <kiga-action-button
    [link]="idea.links.view.link"
    icon="fa-eye"
    tooltip="{{'IDEAS_VIEW_IDEA' | translate}}"
  ></kiga-action-button>
  <kiga-action-button
    *ngIf="idea.links.edit.show"
    [link]="idea.links.edit.link"
    icon="fa-pencil"
    tooltip="Idee bearbeiten"
  ></kiga-action-button>
</ng-template>

<ng-template #actionButtonsNonDownloadable>
  <kiga-action-button
    [link]="idea.links.view.link"
    icon="fa-eye"
    tooltip="{{'IDEAS_VIEW_IDEA' | translate}}"
  ></kiga-action-button>
  <kiga-action-button
    class="theme-planner"
    [link]="idea.links.planner.link"
    icon="fa-calendar"
    tooltip="{{'IDEAS_CALENDAR' | translate}}"
  ></kiga-action-button>

  <kiga-action-button
    [link]="idea.links.print.link"
    [useHref]="idea.links.print.isExternal"
    class="theme-darkGrey"
    icon="icon-print-image icon"
    tooltip="{{'IDEA_PRINT' | translate}}"
  ></kiga-action-button>

  <kiga-action-button
    (click)="toggleFavourite($event)"
    [icon]="isFavourite ? 'fa-heart' : 'fa-heart-o'"
    class="theme-favourites"
    tooltip="{{ (idea.favourite ? 'IDEAS_REMOVE_FAVOURITE' : 'IDEAS_ADD_FAVOURITE') | translate }}"
  ></kiga-action-button>

  <kiga-audio-player
    *ngIf="idea.audioLink && !idea.videoLink"
    [href]="idea.audioLink"
    [showOnlyButtons]="true"
  ></kiga-audio-player>

  <kiga-action-button
    (click)="toggleVideo()"
    *ngIf="idea.videoLink"
    [icon]="'play-icon icon ' + (isPlayingVideo ? 'icon-pause' : 'icon-play')"
    tooltip="{{ (isPlayingVideo ? 'IDEAS_PAUSE_VIDEO' : 'IDEAS_PLAY_VIDEO') | translate }}"
  ></kiga-action-button>

  <kiga-action-button
    *ngIf="idea.links.printWithoutImage.show"
    [link]="idea.links.printWithoutImage.link"
    [useHref]="idea.links.printWithoutImage.isExternal"
    class="theme-darkGrey"
    icon="icon-print-text icon"
    tooltip="{{'IDEA_PRINT_WITHOUT_IMG' | translate}}"
  ></kiga-action-button>

  <kiga-action-button
    *ngIf="idea.links.edit.show"
    [link]="idea.links.edit.link"
    [useHref]="true"
    icon="fa-pencil"
    tooltip="Idee bearbeiten"
  ></kiga-action-button>
</ng-template>
