@import (reference) '../../vars';
@import (reference) '../../main/css/bootstrap/mixins';

.preview-container-bg {
  background: #efefef;
  border-top: 1px solid @lightGrey;
  overflow: hidden;
  text-align: center;
  &:before {
    content: '';
    background: linear-gradient(to bottom, #cdcdcf, #efefef);
    height: 7px;
    width: 100vw;
    display: block;
    margin-left: calc(~'50% - 50vw');
  }
  .preview-container {
    position: relative;
    padding: 20px 0;
    display: inline-flex;
    > div {
      display: inline-block;
      vertical-align: top;
    }
    .nav-left {
      width: 60px;
      margin-right: 20px;
    }
    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;
      margin-top: -30px;
      border: #bcbcbc 3px solid;
      color: #bcbcbc;
      border-radius: 50%;
      line-height: 54px;
      width: 60px;
      height: 60px;
      text-align: center;
      cursor: pointer;
      background: white;
      i {
        font-size: 33px;
      }
    }
    .action-buttons {
      width: 160px;
      .social-block {
        width: 190px;
        height: 32px;
        float: right;
        margin-right: 16px;
        margin-top: 22px;
        font-size: 20px;
        .fa-facebook {
          color: #3b5998;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-google {
          color: #dd4b39;
        }
        .fa-pinterest {
          color: #bd081c;
        }
        .fa-envelope {
          color: grey;
        }
      }
    }

    .info {
      .text-overflow(@countoflines,@lineheight) {
        display: -webkit-box;
        -webkit-line-clamp: @countoflines;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: @lineheight;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
      width: 300px;
      margin-right: 20px;
      border: #bcbcbc 1px solid;
      min-height: 347px;
      background: white;
      .info-description {
        position: relative;
        float: left;
        width: 100%;
        height: 138px;
        a {
          color: @darkGrey;
        }
        .info-stats {
          padding-top: 15px;
          float: left;
          width: 100%;
          position: absolute;
          bottom: 0;
          padding-bottom: 16px;
          .info-category-block {
            padding-left: 20px;
            .info-category-ab {
              text-align: left;
              width: 21%;
              float: left;
              margin-top: 8px;
              span:nth-child(2) {
                font-weight: bold;
                font-size: 12px;
              }
            }
            .info-category-type {
              width: 79%;
              float: left;
              padding-top: 1px;
              padding-bottom: 1px;
              text-align: left;
              font-size: 10px;
              font-weight: normal;
              border-left: #c8c8c8 solid 1px;
              .info-category,
              .info-type {
                .text-overflow(1, 1.4);
                max-height: 17px;
              }
            }
            width: 58%;
            float: left;
          }
          .info-stats-block {
            width: 42%;
            float: left;
            .info-stats-row {
              font-size: 21px;
              color: #bcbcbc;
              width: 64%;
              line-height: 28px;
              float: left;
              .fa-star,
              .fa-star-o,
              .fa-star-half-o {
                font-size: 16px;
              }
            }
            .info-rate {
              width: 36%;
              float: left;
              text-align: right;
              color: #646260;
              font-size: 12px;
              padding-right: 20px;
              line-height: 28px;
              padding-top: 2px;
            }
          }
        }
        .info-title,
        .info-text {
          font-family: 'Open Sans', sans-serif;
          padding: 10px 10px 0;
          float: left;
          width: 100%;
        }

        .info-title {
          font-weight: bold;
          font-style: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          padding-left: 20px;
          padding-top: 15px;
          padding-right: 20px;
          max-height: 53px;
          .text-overflow(2, 1.4);
        }

        .info-text {
          padding-top: 4px;
          font-size: 11px;
          padding-left: 20px;
          text-align: left;
          padding-right: 20px;
          max-height: 35px;
          .text-overflow(2, 1.4);
        }
        .info-category-type {
          font-weight: bold;
          padding: 10px;
          display: inline-block;
          width: 120px;
        }
        .info-stats-row,
        .info-rate {
          display: inline-block;
          line-height: 54px;
          vertical-align: top;
        }
      }

      .info-img {
        width: 298px;
        border-bottom: #bcbcbc 1px solid;
      }
    }

    .list {
      width: 60px;
      margin-right: 20px;
      cursor: pointer;
      .user-select(none);

      .up-btn,
      .down-btn {
        width: 100%;
        height: 30px;
        padding: 0;
        border: #bcbcbc 1px solid;
        text-align: center;
        line-height: 25px;
        color: #bcbcbc;
        background: white;
        &[disabled] {
          background-color: @grey;
          cursor: not-allowed;
        }
        i {
          font-size: 16px;
        }
      }

      .list-col {
        height: 287px;
        overflow: hidden;
        padding-bottom: 7px;

        .list-prev-sm {
          height: 87px;
          border: #bcbcbc 1px solid;
          width: 100%;
          margin-top: 7px;
          background: white;
          position: relative;
          transition-duration: 0.5s;
          &.active {
            .prev-active {
              display: block;
            }
          }
          img {
            height: 85px;
            width: 58px;
          }

          .prev-active {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.4;

            .active-circle {
              width: 39px;
              height: 39px;
              border: white 4px solid;
              border-radius: 50%;
              left: 50%;
              position: absolute;
              top: 50%;
              margin-left: -19px;
              margin-top: -19px;
            }
          }
        }
      }
    }

    .preview {
      width: 220px;
      height: 313px;
      margin-right: 20px;
      background: white;
      border: #bcbcbc 1px solid;
      padding: 10px;
      img {
        height: 291px;
        width: 198px;
      }
    }

    .nav-right {
      width: 60px;
      .close {
        color: #bcbcbc;
        position: absolute;
        right: 0;
        top: 15px;

        i {
          font-size: 37px;
        }
      }
    }
  }

  .btn-hover(@color) {
    border-color: @color;
    i {
      color: @color;
    }
    .tooltip {
      background-color: @color;
    }
  }
}
