<div class="social-block">
  <i ng-repeat="provider in ['facebook', 'twitter', 'google'] track by $index"
     class="fa fa-{{provider}} clickable"
     socialshare
     socialshare-provider="{{provider}}"
     socialshare-text="{{$ctrl.title}}"
     socialshare-url="{{$ctrl.link}}"></i>
  <i class="fa fa-pinterest clickable"
     socialshare
     socialshare-provider="pinterest"
     socialshare-text="{{$ctrl.title}}"
     socialshare-url="{{$ctrl.link}}"
     socialshare-media="{{$ctrl.imageUrl}}"></i>
</div>
