<ul class="{{$ctrl.plan.plan.color}}">
  <div class=" col-xlg-20 col-lmd-24 col-lsm-30">
    <li>
      <div class="frame hidden-lg hidden-xlg hidden-md">
        <span ng-click="$ctrl.importKigaPlan()">{{$ctrl.week.weekNr}}</span>
      </div>
      <div class="frame hidden-sm"><span>{{$ctrl.week.weekNr}}</span></div>
    </li>
    <li ng-repeat="day in $ctrl.plan.days" class="{{day.style}}">
      <div
        class="frame"
        ng-class="{assignable: $ctrl.plan.plan != 'empty' && !$ctrl.isImportKigaPlan}"
      >
        <div class="dots-container-top">
          <div class="dots" ng-if="$ctrl.plan.plan != 'empty'">
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][0]"></span>
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][1]" style="margin-left: 12px;"></span>
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][2]" style="margin-left: 24px;"></span>
          </div>
        </div>
        <span ng-click="$ctrl.addKigaIdea(day.dayNr)">{{day.dayNr}} </span>
        <div class="dots-container">
          <div class="dots" ng-if="$ctrl.plan.plan != 'empty'">
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][3]"></span>
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][4]" style="margin-left: 12px;"></span>
            <span ng-class="$ctrl.ItemCountPerDay[day.dayNr][5]" style="margin-left: 24px;"></span>
          </div>
        </div>
      </div>
    </li>
  </div>
  <div class="planTitle">
    <li
      class="desc"
      ng-if="$ctrl.plan.plan != 'empty'"
      ng-click="$ctrl.goToDetail()"
      ng-class="{clickable: !$ctrl.isImportKigaPlan}"
    >
      <i
        ng-if="$ctrl.plan.plan.type == 'member'"
        class="icon icon-{{$ctrl.plan.plan.icon}} large"
      ></i>
      <span style="font-size:12px;margin-left:42px;margin-top:5px;font-style:normal;">
        {{$ctrl.plan.plan.title}}
      </span>
      <i ng-if="$ctrl.plan.plan.type == 'kiga'" class="icon-sticker-kiga large"></i>
      <span style="font-size:12px;margin-left:42px;margin-top:5px;font-style:normal;">
        {{$ctrl.plan.plan.title}}
      </span>
    </li>
    <!-- If there is no plan yet, the user can add one -->
    <a ng-if="$ctrl.allowNewPlan">
      <div class="action-btn-container">
        <div
          class="{{$ctrl.plan.plan.color}} action-btn edit-btn"
          ng-if="$ctrl.plan.plan != 'empty'"
          ng-click="$ctrl.goToDetail()"
        >
          <i class="icon icon-{{$ctrl.plan.plan.icon}}"></i>
        </div>
        <div
          class="action-btn plus-btn"
          ng-if="$ctrl.plan.plan == 'empty'"
          ng-click="$ctrl.addPlan()"
        >
          <i class="icon icon-sticker-plus "></i>
        </div>
      </div>
      <li
        class="desc empty"
        ng-if="$ctrl.plan.plan == 'empty' && !$ctrl.dateIsInPast"
        ng-click="$ctrl.addPlan()"
      >
        <i class="icon icon-sticker-plus empty"></i>
        <span style="font-size:12px;margin-top:5px;font-style:normal;">
          <span class="calendar-week">{{'PLAN_CW' | translate}}{{$ctrl.week.weekNr}}</span>
          <span class="placeholder">{{ 'PLAN_ADD' | translate }}</span>
        </span>
      </li>
    </a>
    <a ng-if="!$ctrl.allowNewPlan && $ctrl.isKigaPlan != 'kiga'">
      <li class="desc empty" ng-if="$ctrl.plan.plan == 'empty'" ng-click="$ctrl.redirectToLogin()">
        <i class="icon icon-sticker-plus empty"></i>
        <span style="font-size:12px;margin-top:5px;font-style:normal;">
          <span class="calendar-week">{{'PLAN_CW' | translate}}{{$ctrl.week.weekNr}}</span>
          <span class="placeholder">{{ 'PLAN_ADD' | translate }}</span>
        </span>
      </li>
    </a>

    <a ng-if="$ctrl.isImportKigaPlan">
      <li
        class="desc empty"
        ng-if="$ctrl.plan.plan == 'empty' && !$ctrl.dateIsInPast"
        ng-click="$ctrl.importKigaPlan()"
      >
        <i class="icon icon-sticker-plus empty"></i>
        <span style="font-size:12px;margin-top:5px;font-style:normal;">
          <span class="calendar-week">{{'PLAN_CW' | translate}}{{$ctrl.week.weekNr}}</span>
          <span class="placeholder">{{ 'PLAN_IMPORT_KIGAPLAN' | translate }}</span>
        </span>
      </li>
      <div class="action-btn-container">
        <div
          class="action-btn plus-btn"
          ng-if="$ctrl.isImportKigaPlan"
          ng-click="$ctrl.importKigaPlan()"
        >
          <i class="icon icon-sticker-plus "></i>
        </div>
      </div>
    </a>
  </div>
</ul>
