plan-manager {
  width: 100%;
  display: block;
  border-bottom: 2px solid #fff;
  &:hover {
    color: #ffffff;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    @media (min-width: @screen-lsm) and (max-width: @screen-md-min) {
      width: 175%;
    }
    @media (min-width: @screen-md) and (max-width: @screen-lmd-min) {
      width: 180%;
    }
    @media (min-width: @screen-lmd) and (max-width: @screen-lg-min) {
      width: 215%;
    }
    li {
      float: left;
      width: 12.5%;
      height: 45px;
      position: relative;
      border-left: 2px solid #fff;
      @media (min-width: 561px) and (max-width: @screen-md-min) {
        height: 50px;
      }
      @media (min-width: @screen-md) and (max-width: 700px) {
        height: 55px;
      }
      @media (min-width: 701px) and (max-width: @screen-lmd-min) {
        height: 60px;
      }
      @media (min-width: @screen-lmd) and (max-width: 830px) {
        height: 65px;
      }
      @media (min-width: 831px) and (max-width: @screen-lg-min) {
        height: 70px;
      }
      &:first-child {
        background: #fff;
        border: 0;
        color: #8cb6dd;
        font-weight: normal;
        .frame {
          border: 2px solid #8cb6dd;
        }
      }
      &.noPlanInMonth {
        color: #ababab;
        background-color: #ababab;
        span {
          background-color: #fff;
        }
      }
      &.noPlanOutMonth {
        color: #fff;
        background-color: #ababab;
      }
      .frame {
        border: 2px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.assignable {
          cursor: pointer;
        }
      }
      .today-sticker-container {
        display: flex;
        justify-content: center;
        margin-top: -11px;
        font-size: 30px;
        &.emptyStickerContainer {
          margin-top: 0;
        }
        .emptyPlanIconStyle {
          margin-top: -6px;
        }
        @media (min-width: @screen-md) and (max-width: @screen-lg-min) {
          font-size: 35px;
        }
      }
      .dots-container-top {
        div.dots {
          position: absolute;
          top: 0;
          left: 3px;
        }
        @media (min-width: 360px) and (max-width: 420px) {
          transform: scale(0.85, 0.85);
          position: absolute;
        }
        @media (min-width: 561px) and (max-width: @screen-md-min) {
          position: absolute;
          left: 3px;
        }
        @media (min-width: @screen-md) and (max-width: 700px) {
          position: absolute;
          left: 10px;
        }
        @media (min-width: 701px) and (max-width: @screen-lmd-min) {
          position: absolute;
          left: 10px;
        }
        @media (min-width: @screen-lmd) and (max-width: 830px) {
          position: absolute;
          left: 10px;
        }
        @media (min-width: 831px) and (max-width: @screen-lg-min) {
          position: absolute;
          left: 14px;
        }
      }

      .dots-container {
        div.dots {
          position: absolute;
          top: 25px;
          left: 3px;
        }
        @media (min-width: 360px) and (max-width: 420px) {
          transform: scale(0.85, 0.85);
          position: absolute;
          top: 5px;
        }
        @media (min-width: 561px) and (max-width: @screen-md-min) {
          position: absolute;
          top: 4px;
          left: 3px;
        }
        @media (min-width: @screen-md) and (max-width: 700px) {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        @media (min-width: 701px) and (max-width: @screen-lmd-min) {
          position: absolute;
          top: 14px;
          left: 10px;
        }
        @media (min-width: @screen-lmd) and (max-width: 830px) {
          position: absolute;
          top: 16px;
          left: 10px;
        }
        @media (min-width: 831px) and (max-width: @screen-lg-min) {
          position: absolute;
          top: 20px;
          left: 14px;
        }
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 12px 0 0;
        @media (min-width: 561px) and (max-width: @screen-md-min) {
          padding: 14px 0 0;
        }
        @media (min-width: @screen-md) and (max-width: 700px) {
          padding: 16px 0 0;
        }
        @media (min-width: 701px) and (max-width: @screen-lmd-min) {
          padding: 18px 0 0;
        }
        @media (min-width: @screen-lmd) and (max-width: 830px) {
          padding: 24px 0 0;
        }
        @media (min-width: 831px) and (max-width: @screen-lg-min) {
          padding: 26px 0 0;
        }
        &.deactivated {
          height: 18px;
          width: 18px;
          background-color: transparent;
          border-radius: 50%;
          border: black solid 1px;
          display: inline-block;
          transform: scale(0.5, 0.5);
          @media (min-width: @screen-lmd) and (max-width: @screen-lg-min) {
            height: 23px;
            width: 23px;
          }
        }
        &.activated {
          height: 18px;
          width: 18px;
          background-color: #fff;
          border-radius: 50%;
          border: #fff solid 1px;
          display: inline-block;
          transform: scale(0.5, 0.5);
          @media (min-width: @screen-lmd) and (max-width: @screen-lg-min) {
            height: 23px;
            width: 23px;
          }
        }
      }
    }
  }

  .action-btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    .action-btn {
      display: none;
      @media (min-width: @screen-lsm) and (max-width: @screen-lg-min) {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 55px;
        height: 45.5px;
        border: #bcbcbc 3px solid;
        color: #bcbcbc;
        cursor: pointer;
        margin-left: 0.5%;
        overflow: hidden;
        @media (min-width: 561px) and (max-width: @screen-md-min) {
          margin-left: 0.25%;
          height: 50px;
        }
        @media (min-width: @screen-md) and (max-width: 700px) {
          height: 55px;
          width: 60px;
        }
        @media (min-width: 701px) and (max-width: @screen-lmd-min) {
          height: 60px;
          width: 70px;
        }
        @media (min-width: @screen-lmd) and (max-width: 830px) {
          height: 65px;
          width: 75px;
        }
        @media (min-width: 831px) and (max-width: @screen-lg-min) {
          height: 70px;
          width: 80px;
        }
        .fa-eye,
        .icon {
          font-size: 30px;
        }
      }
    }
  }
  .desc {
    @media (min-width: @screen-lsm) and (max-width: @screen-lg-min) {
      display: none;
    }
    @media (min-width: @screen-lg) and (max-width: 1215px) {
      width: 50%;
    }
    span,
    i {
      color: white;
      &.empty {
        color: @middleGrey;
        font-size: 30px;
      }
    }
    width: 65%;
    border-right: none;
    font-size: @font-size-base;
    font-weight: normal;
    padding: 9px 8px 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    &.clickable {
      cursor: pointer;
    }
    &.empty span {
      color: @middleGrey;
      font-weight: bold;
      border: solid 1px @middleGrey;
      &.calendar-week {
        margin-left: 45px;
        border: none;
        font-weight: normal;
        text-transform: uppercase;
      }
      &.placeholder {
        margin-left: 12%;
        border: none;
        @media (min-width: @screen-lg) and (max-width: 1215px) {
          margin-left: 22%;
        }
      }
    }
  }
}
