@import 'bootstrap/mixins.less';
@import '../../vars';

.scheme(@color) {
  select,
  input.form-control,
  textarea:not(.mat-input-element) {
    &:focus {
      .form-control-focus(@color);
    }
  }
  .ui-select-bootstrap .ui-select-choices-row.active > a {
    background-color: @color;
  }
  .btn-default-focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px @color;
  }

  a,
  a:hover {
    color: @color;
  }

  button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy),
  a.button {
    background-color: @color;
    &.cancel {
      background-color: @grey;
    }
    &.free-test {
      background-color: @green;
    }
    &.lighten {
      background-color: mix(@color, white, 60%);
    }
  }

  .alert-warning {
    padding: 10px;
    margin: 30px;
    text-align: center;
  }

  .iCheck {
    &.icon-checkbox-on,
    &.icon-radio-on {
      color: @color;
    }
  }
  .or {
    border: 1px solid @color;
    margin: 23px 0;
    .holder span {
      background: @color;
    }
  }

  //generic usage
  .scheme-background {
    background-color: @color;
  }
}

body {
  @inputHeight: 34px;

  .scheme(@orange);

  .form-control,
  input[type='text']:not(.mat-input-element),
  input[type='password']:not(.mat-input-element),
  input[type='email']:not(.mat-input-element),
  input[type='number']:not(.mat-input-element),
  select.form-control,
  textarea.form-control,
  .mce-content-body,
  div.ui-select-container span.btn {
    font-size: 15px;
    height: @inputHeight;
    background-color: @inputGrey;
    border: 1px solid @panelGrey;
    border-radius: 0;
    color: @btn-default-color;
    font-weight: normal;
    padding: 0 0 0 6px;
    margin: 0;
    width: 100%;
    display: block;
    box-shadow: none;
  }

  textarea:not(.mat-input-element) {
    resize: none;
    font-size: 14px;
  }

  div.tags,
  div.editor-content {
    background-color: @inputGrey;
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] {
    background-color: @inputGrey;
    cursor: pointer;
  }

  div.select2-container.form-control {
    padding: 0;
    border: 0;
  }

  kiga-select {
    display: block;
  }

  .clickable {
    cursor: pointer;
  }

  .ui-select-placeholder {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-select-match {
    @height: @inputHeight - 2;
    line-height: @height;
    .caret {
      border-top-color: inherit;
    }
    .ui-select-toggle {
      padding-right: 20px;
      line-height: inherit;
      display: inline-block;
      span {
        line-height: 32px;
      }
    }
    .ui-select-toggle-icon {
      display: none;
      line-height: @height;
      float: left;
    }
  }

  .ui-select-choices {
    a.ui-select-choices-row-inner {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  textarea:not(.mat-input-element),
  textarea.form-control {
    height: 68px;
  }

  button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy),
  a.button {
    display: inline-block;
    font-size: 17px;
    color: white;
    padding: 8px 0;
    border-width: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &.cancel {
      background-color: @grey;
    }
    &.full-width {
      width: 100%;
    }
    &:hover {
      color: white;
    }
    &.icon {
      padding: 7px 0;
      i {
        font-size: 26px;
      }
    }

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }

  button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy):not(.no-legacy-width),
  a.button {
    width: 220px;
  }

  .uib-datepicker-popup {
    button,
    a.button {
      width: initial;
    }
  }

  i {
    vertical-align: middle;
    &.x-large {
      font-size: 50px;
    }
    &.large {
      font-size: 30px;
    }
    &.small {
      font-size: 15px;
    }
  }

  div.form-group {
    padding-bottom: 0;
    margin-bottom: 20px;
    &.last {
      margin-bottom: 0;
    }
    &.large {
      padding-bottom: 30px;
      padding-top: 10px;
    }
    label {
      display: block;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 7px;
      &.checkbox,
      &.checkbox-inline,
      &.radio,
      &.radio-inline {
        display: inline-block;
        font-size: 14px;
        padding-left: 0;
        margin-bottom: 0;
      }
      &.value {
        font-size: 12px;
        margin: 0;
        padding: 5px;
        border: 1px solid @lightGrey;
      }
    }
    .wrapper {
      overflow: auto;
      .form-control {
        float: left;
      }
      img.loading {
        padding-top: 9px;
        padding-left: 3px;
      }
    }
    div.checkbox,
    div.radio {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 20px;
      label {
        font-size: 14px;
      }
      &.last {
        margin-bottom: 0;
      }
    }
    select,
    input.form-control {
      width: 100%;
      margin-top: 0;
    }
    .form-control + .form-control,
    .form-control + .wrapper,
    .wrapper + .form-control,
    .validation + .form-control,
    .validation + .wrapper,
    .validation-info + .form-control,
    .validation-info + .wrapper {
      margin-top: 10px;
    }

    ul.dropdown-menu {
      boder-radius: 0;
    }

    div.threeFieldDateInput {
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      > div {
        margin-top: 0;
        float: left;
        display: block;
        width: 33%;
        &.middle {
          width: 34%;
          padding: 0 5px;
        }
      }
    }
  }

  .iCheck {
    display: inline;
    &.icon-checkbox-on,
    &.icon-checkbox-off {
      margin-right: 4px;
    }
  }

  .mce-container {
    button {
      background-color: transparent;
    }
  }

  div.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px 0px 10px;
    .clearfix();
    div.left {
      float: left;
      width: 50%;
      text-align: left;
      padding-right: 10px;
    }
    div.right {
      float: left;
      padding-left: 10px;
      width: 50%;
      text-align: right;
    }
    button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy),
    a.button {
      font-size: 20px;
      padding: 11px 0;
      &.icon {
        padding: 10px 0;
        i {
          font-size: 29px;
        }
      }
    }
  }

  div.panel {
    .panel-heading {
      color: white;
      border-radius: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      background-color: @lightGrey;
      border: 1px solid @lightGrey;
      a {
        color: white;
      }
    }
    .panel-body {
      padding: 20px;
      border-radius: 0;
      border: 1px solid @grey;
      border-top-width: 0;
    }
    border-width: 0;
    padding: 10px 10px 0px 10px;

    .buttons {
      padding: 0px;
    }
  }

  form.one-col {
    > div {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
    input,
    .datepicker-input {
      max-width: 450px;
    }
    @media (max-width: 959px) {
      > div {
        width: 100%;
      }
    }
  }

  form.small {
    font-size: 100%; //overwrite bootstrap's small
    > div {
      width: 100%;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    div.checkbox {
      font-size: 14px;
    }
  }

  form.two-col {
    > div {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
    div.col-1,
    div.col-2 {
      width: 50%;
      float: left;
      position: relative;
    }
    div.col-1 {
      padding-right: 10px;
    }
    div.col-2 {
      padding-left: 10px;
    }
    @media (max-width: 959px) {
      > div {
        width: 100%;
      }
    }
    @media (max-width: 629px) {
      > div {
        width: 100%;
      }
      div.col-1,
      div.col-2 {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
      }
      input {
        max-width: 450px;
      }
    }
  }

  form.three-col {
    > div {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
    .col-1,
    .col-2,
    .col-3 {
      width: 33%;
      float: left;
      position: relative;
    }
    .col-1 {
      padding-right: 10px;
    }
    .col-2 {
      width: 34%;
      padding-right: 10px;
      padding-left: 10px;
    }
    .col-3 {
      padding-left: 10px;
    }
    @media (max-width: 959px) {
      > div {
        width: 100%;
      }
      .col-1,
      .col-2,
      .col-3 {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .or {
    color: #fff;
    font-size: 15px;
    position: relative;
    display: block;
    margin: 22px 0;
    text-transform: uppercase;
    width: 100%;
    .frame {
      position: absolute;
      top: -23px;
      text-align: center;
      width: 100%;
    }
    .holder {
      background: #fff;
      display: inline-block;
      padding: 0 5px 0 3px;
      span {
        .border-radius(50%);
        display: block;
        height: 46px;
        width: 46px;
        padding: 5px 0;
        overflow: hidden;
      }
    }
  }

  div.ui-grid {
    .ui-grid-pager-control {
      button,
      input {
        width: auto;
        display: inline-block;
      }
    }
    .ui-grid-canvas {
      a {
        color: @darkGrey;
      }
    }
  }

  .green-scheme {
    .scheme(@green);
  }
  .green {
    color: @green;
  }

  .orange-scheme {
    .scheme(@orange);
  }

  .shop-scheme {
    .scheme(@shopColor);
  }

  .orange {
    color: @orange;
  }

  .red {
    color: @red;
  }
  .validation ul {
    color: @redmessage;
    padding: 0.3em;
    margin-top: 0.3em;
    font-size: 10px;
    margin: 0px;
  }

  .fade-in.ng-hide {
    opacity: 0;
  }

  .fade-in.ng-hide-remove,
  .fade.ng-hide-add {
    display: block !important;
  }

  .fade-in.ng-hide-remove {
    transition: all linear 1000ms;
  }

  .fade-in.ng-hide-add {
    transition: all linear 500ms;
  }
}
