//src/main/css/home.less
@import (reference) 'bootstrap/variables';
@import (reference) 'application';
@import (reference) '../../vars';

.middle-item() {
  @greenline : #b1c553;
  padding: 10px;
  float: left;
  width: 25%;
  .title {
    margin-bottom: 10px;
    margin-top: 0;
    //opacity       : 0.5;
  }
  @media (min-width: @screen-lmd-min) {
    .short {
      display: none;
    }
  }
  @media (max-width: @screen-md-max) {
    .full {
      display: none;
    }
  }
  @media (max-width: @screen-lsm-max) {
    .title.short {
      font-size: 18px;
    }
  }
  @media (max-width: @screen-md-max) {
    .icon-play2,
    .line {
      display: none;
    }
  }
  @media (max-width: 550px) {
    .title.short {
      font-size: 14px;
    }
  }
  @media (max-width: 440px) {
    .title.short {
      font-size: 10px;
    }
  }
  .orange {
    background: @darkOrange;
  }
  .blue {
    background: @kigaPlan;
  }
  .pink {
    background: @middlePink;
  }
  .red {
    background: @shopColor;
  }
  .green {
    background: @greenline;
  }
  .rectangle {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0;
    border: none;
    width: 100%;
  }
}

.line() {
  margin-bottom: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-left: 0;
  border: none;
  height: 3px;
  width: 100%;
}

body {
  .home {
    //new colors for home layout
    @magenta : #9085bf;
    @greenline : #b1c553;
    //paddings for home layout
    @padding-standart : 10px;
    @padding-big : 20px;
    //fonts
    .text-overflow(@countoflines,@lineheight) {
      display: -webkit-box;
      -webkit-line-clamp: @countoflines;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: @lineheight;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
    .font_for_title {
      font-family: @font-family-base;
      font-size: 20px;
      font-weight: 300;
    }
    .font_for_element {
      font-family: @font-family-base;
      font-size: 12px;
      font-weight: 500;
    }
    .font_for_text {
      font-family: @font-family-base;
      font-size: 12px;
      font-weight: 400;
    }
    .top-frame {
      padding: 0 0 0 0;
    }
    .carousel-indicators {
      bottom: 1.5px;
      @media (min-width: @screen-lmd-min) {
        bottom: 11.5px;
      }
      @media (max-width: @screen-md-max) {
        display: none;
      }
      li {
        background-color: @greylightdark;
        box-shadow: 0 2px 6px @softGrey;
        border: none;
        margin-left: 10px;
      }
      .active {
        background-color: @white;
      }
    }
    .carousel {
      margin: @padding-standart;
    }
    .divider {
      height: 1px;
      width: 100%;
      display: block;
      overflow: hidden;
      background-color: @grey;
    }
    .carousel-inner > .item > a > img {
      width: 100%;
    }
    .img-responsive {
      width: 100%;
    }
    @media (max-width: @screen-lsm-max) {
      .divider-max {
        display: none;
      }
    }
    @media (max-width: 319px) {
      .divider-min {
        display: none;
      }
    }

    .line {
      .line();
    }
    .middle-frames {
      padding: 0 0 @padding-standart 0;
    }
    .middle-item {
      .middle-item();
      .title {
        .font_for_title;
      }
    }
    @media (max-width: 319px) {
      .middle-item {
        padding-top: 0;
      }
    }
    a {
      text-decoration: none;
      color: lightslategray;
    }
    .bottom-frames {
      padding: @padding-big @padding-standart 0 @padding-standart;
      .title {
        margin-bottom: @padding-standart;
        margin-top: 0;
        //opacity       : 0.5;
        .font_for_title;
      }
      .greenline {
        background: @greenline;
      }
      .carousel_row {
        position: relative;
        padding: @padding-standart 0 @padding-big 0;
        flex-flow: row nowrap;
        .arrows {
          margin-left: 1px;
          position: absolute;
          margin-top: 45px;
          a {
            opacity: 0.4;
            display: inline;
            text-decoration: none;
            color: lightslategray;
            cursor: pointer;
            .left_arrow {
              padding-right: 10px;
            }
            .right_arrow {
              padding-left: 10px;
            }
            i {
              border: 3px solid lightslategray;
              border-radius: 50%;
              line-height: 58px;
              padding: 10px;
              text-align: center;
            }
            .no-touchevents &:hover {
              color: @green;
              opacity: 0.9;
              i {
                border: 3px solid @green;
              }
            }
          }
          text-decoration: none;
          a.inactive-btn {
            opacity: 0.2;
            cursor: default;
            .no-touchevents &:hover {
              opacity: 0.2;
              color: lightslategray;
              border-color: lightslategray;
              i {
                border: 3px solid lightslategray;
              }
            }
          }
        }
        .next-button {
          right: 0px;
        }
        .carousel_list {
          width: ~'calc(100% - 140px)';
          overflow: hidden;
          white-space: nowrap;
          margin: 0 10px;
          margin-left: 70px;
          float: left;
          .element {
            vertical-align: top;
            display: inline-block;
            white-space: normal;
            margin-left: 10px;
            margin-right: 10px;
            .font_for_element;
            p {
              width: 100%;
              color: grey;
              max-height: 54px;
              .text-overflow(3, 1.4);
            }
            .idea-img {
              width: 100%;
              position: relative;
              .img-border {
                position: absolute;
                height: 100%;
                width: 100%;
                border: 1px solid @grey;
                .link-title {
                  color: @white;
                  /*text-align: center;*/
                  font-size: 24px;
                  margin-top: -55px;
                  padding: 50% 28px 0px 28px;
                }
              }
              img {
                width: 100%;
              }
            }
            .desc {
              margin-top: 10px;
            }

            &:hover {
              .desc {
                color: @green;
              }
              .idea-img {
                .img-border {
                  border: 3px solid @green;
                }
              }
            }
          }
          .registration-link {
            display: none;
          }
          .quickRegistration {
            display: inline-block;
            .img-border {
              background-color: @green;
            }
            &:hover {
              .desc {
                color: @green;
              }
              .idea-img {
                .img-border {
                  border: 1px solid @grey;
                }
              }
            }
          }
          .fullRegistration {
            display: inline-block;
            .img-border {
              background-color: @orange;
            }
            &:hover {
              .desc {
                color: @orange;
              }
              .idea-img {
                .img-border {
                  border: 1px solid @grey;
                }
              }
            }
          }
          .more-ideas-btn {
            vertical-align: top;
            display: inline-block;
            white-space: normal;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
            .more-bl-large {
              position: relative;
              text-align: center;
              margin-top: 22px;
              img {
                width: 100%;
              }
              .img-border {
                position: absolute;
                height: calc(100% - 2px);
                width: 100%;
                border: 3px solid #ccc;
                white-space: normal;
                border-radius: 30px;
                height: 60px;
                margin-top: 20px;
                word-wrap: break-word;
              }
              .more-btn {
                position: absolute;
                top: 40%;
                width: 100%;
                margin-top: -9px;
              }
              span {
                font-size: 12px;
                font-weight: bold;
                color: grey;
              }
              .fa {
                color: grey;
              }
              &:hover {
                span {
                  color: @green;
                }
                .img-border {
                  border-color: @green;
                }
                .fa {
                  color: @green;
                }
              }
            }
          }
          .more-bl {
            display: none;
          }
        }
        @media (max-width: @screen-md-max) {
          .arrows {
            display: none;
          }
          .carousel_list {
            flex-basis: 100%;
            margin: 0;
            white-space: normal;
            height: auto;
            width: 100%;
            .element {
              width: 100%;
              margin-left: 0px;
              margin-right: 10px;
              padding-bottom: 10px;
              .idea-img {
                width: 140px;
                float: left;
                .img-border {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  border: 3px transparent;
                }
                img {
                  width: 100%;
                }
              }
              .desc {
                margin-left: 160px;
                width: auto;
                font-style: normal;
                margin-top: 0px;
                font-size: 14px;
                max-height: 56px;
                &.small {
                  font-size: 10px;
                  font-weight: normal;
                }
              }
            }
            .show3Limit {
              display: none;
            }
            .more-bl {
              display: block;
              .more-btn {
                width: 118px;
                height: 30px;
                font-size: 16px;
                font-weight: bold;
                color: @darkGrey;
                margin-top: 10px;
                span {
                  margin-right: 5px;
                }
                .fa {
                  font-size: 10px;
                  color: #ccc;
                  margin-right: 2px;
                }
                &:hover {
                  cursor: pointer;
                  color: @green;
                  .fa {
                    color: @green;
                  }
                }
              }
            }
            .more-ideas-btn {
              display: none;
            }
          }
        }
        @media (min-width: @screen-lmd-min) {
          .carousel_list {
            .element,
            .more-ideas-btn {
              width: ~'calc(100%/4 - 20px)';
            }
          }
        }
        @media (min-width: @screen-lg-min) {
          .carousel_list {
            .element,
            .more-ideas-btn {
              width: ~'calc(100%/5 - 20px)';
            }
          }
        }
        @media (min-width: @screen-xlg-min) {
          .carousel_list {
            .element,
            .more-ideas-btn {
              width: ~'calc(100%/6 - 20px)';
            }
          }
        }
        @media (min-width: @container-xlg) {
          .carousel_list {
            .element,
            .more-ideas-btn {
              width: ~'calc(100%/7 - 20px)';
            }
          }
        }
      }
      @media (max-width: @screen-lsm-max) {
        .carousel_row {
          padding-top: 0;
        }
      }
    }
    @media (max-width: @screen-lsm-max) {
      .bottom-frames {
        padding-top: 0;
      }
    }
    .forum {
      padding: @padding-standart 0 0 0;
      .forum-item {
        padding: @padding-standart @padding-standart @padding-big @padding-standart;
        @media (min-width: @screen-lmd-min) {
          width: 25%;
          float: left;
        }
        .title {
          margin-bottom: @padding-standart;
          margin-top: 0;
          //opacity       : 0.5;
          .font_for_title;
        }
        .magenta {
          background: @magenta;
        }
        .orange {
          background: @darkOrange;
        }
        .green {
          background: @greenline;
        }
        .text {
          padding-top: @padding-standart;
          max-height: 80px;
          overflow: hidden;
          .font_for_text;
          p {
            margin-bottom: 0;
            .font_for_element;
          }
        }
        .btn {
          color: white;
          border-radius: 0px;
          display: block;
          margin-top: 20px;
          font-size: 18px;
          padding: 10px 0 10px 0;
          @media (max-width: @screen-lg-max) {
            font-size: 15px;
          }
          @media (max-width: @screen-lmd-max) {
            font-size: 12px;
          }
          @media (max-width: @screen-md-max) {
            font-size: 18px;
          }
        }
      }
      .hideRegLinks {
        .forum-item {
          @media (min-width: @screen-lmd-min) {
            width: 50%;
          }
        }
        .newsletter,
        .full-registration {
          display: none;
        }
      }
      .newsletter {
        .btn {
          background-color: @green;
        }
      }
      .full-registration {
        .btn {
          background-color: @orange;
        }
      }
    }
    @media (max-width: @screen-lsm-max) {
      .forum {
        padding-top: 20px;
        .forum-item {
          padding-top: 0;
        }
      }
    }
  }
}
