@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?q1ygb5");
  src: url("fonts/icomoon.eot?q1ygb5#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?q1ygb5") format("truetype"),
    url("fonts/icomoon.woff?q1ygb5") format("woff"),
    url("fonts/icomoon.svg?q1ygb5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\e90c";
}
.icon-heart2:before {
  content: "\e90d";
}
.icon-forum:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-ideas:before {
  content: "\e903";
}
.icon-my:before {
  content: "\e904";
}
.icon-planner:before {
  content: "\e905";
}
.icon-shop:before {
  content: "\e906";
}
.icon-upload:before {
  content: "\e907";
}
.icon-coming-soon:before {
  content: "\e661";
}
.icon-reg-what:before {
  content: "\e65d";
}
.icon-reg-who:before {
  content: "\e65e";
}
.icon-reg-why:before {
  content: "\e65f";
}
.icon-product-standard-outlines:before {
  content: "\e61b";
}
.icon-duration-month-12:before {
  content: "\e61c";
}
.icon-product-parents-outlines:before {
  content: "\e61d";
}
.icon-duration-month-6:before {
  content: "\e61e";
}
.icon-product-standard-org-outlines:before {
  content: "\e61f";
}
.icon-duration-month-3:before {
  content: "\e620";
}
.icon-duration-month-1:before {
  content: "\e621";
}
.icon-product-licence-outlines:before {
  content: "\e622";
}
.icon-product-gift-outlines:before {
  content: "\e623";
}
.icon-oggi:before {
  content: "\e662";
}
.icon-sticker-wave:before {
  content: "\e624";
}
.icon-sticker-shirt:before {
  content: "\e625";
}
.icon-sticker-drop:before {
  content: "\e626";
}
.icon-sticker-moon:before {
  content: "\e627";
}
.icon-sticker-speach:before {
  content: "\e628";
}
.icon-sticker-questionmark:before {
  content: "\e629";
}
.icon-sticker-location:before {
  content: "\e62a";
}
.icon-sticker-star1:before {
  content: "\e62b";
}
.icon-sticker-banner:before {
  content: "\e62c";
}
.icon-sticker-tree:before {
  content: "\e62d";
}
.icon-sticker-construction:before {
  content: "\e62e";
}
.icon-sticker-lines:before {
  content: "\e62f";
}
.icon-sticker-flag:before {
  content: "\e630";
}
.icon-sticker-leaf4:before {
  content: "\e631";
}
.icon-sticker-leaf3:before {
  content: "\e632";
}
.icon-sticker-leaf2:before {
  content: "\e633";
}
.icon-sticker-flower2:before {
  content: "\e634";
}
.icon-sticker-heart:before {
  content: "\e635";
}
.icon-sticker-music2:before {
  content: "\e636";
}
.icon-sticker-music1:before {
  content: "\e637";
}
.icon-sticker-leaf:before {
  content: "\e638";
}
.icon-sticker-marker:before {
  content: "\e639";
}
.icon-sticker-pattern1:before {
  content: "\e63a";
}
.icon-sticker-leaf5:before {
  content: "\e63b";
}
.icon-sticker-ok:before {
  content: "\e63c";
}
.icon-sticker-crown:before {
  content: "\e63d";
}
.icon-sticker-star2:before {
  content: "\e63e";
}
.icon-sticker-flower1:before {
  content: "\e63f";
}
.icon-sticker-star3:before {
  content: "\e640";
}
.icon-sticker-square:before {
  content: "\e641";
}
.icon-sticker-leaf6:before {
  content: "\e642";
}
.icon-sticker-lightning:before {
  content: "\e643";
}
.icon-sticker-book:before {
  content: "\e644";
}
.icon-sticker-car:before {
  content: "\e645";
}
.icon-cloud-rain:before {
  content: "\e646";
}
.icon-sticker-heute:before {
  content: "\e647";
}
.icon-sticker-kiga:before {
  content: "\e648";
}
.icon-sticker-headset:before {
  content: "\e649";
}
.icon-sticker-magnet:before {
  content: "\e64a";
}
.icon-sticker-mein:before {
  content: "\e64b";
}
.icon-sticker-oggy:before {
  content: "\e64c";
}
.icon-sticker-phone:before {
  content: "\e64d";
}
.icon-sticker-rocket:before {
  content: "\e64e";
}
.icon-sticker-wheel:before {
  content: "\e64f";
}
.icon-sticker-hourglass:before {
  content: "\e650";
}
.icon-sticker-star4:before {
  content: "\e651";
}
.icon-sticker-today:before {
  content: "\e652";
}
.icon-sticker-bird:before {
  content: "\e653";
}
.icon-bewegung-01:before {
  content: "\e917";
}
.icon-math-01:before {
  content: "\e918";
}
.icon-music-01:before {
  content: "\e919";
}
.icon-portfolio-01:before {
  content: "\e91a";
}
.icon-worksheet-01:before {
  content: "\e91b";
}
.icon-lapbook:before {
  content: "\e913";
}
.icon-mandala:before {
  content: "\e914";
}
.icon-month:before {
  content: "\e915";
}
.icon-project:before {
  content: "\e916";
}
.icon-print-image:before {
  content: "\e910";
}
.icon-print-text:before {
  content: "\e911";
}
.icon-hand:before {
  content: "\e909";
}
.icon-papers:before {
  content: "\e90a";
}
.icon-cart2:before {
  content: "\e900";
}
.icon-article:before {
  content: "\e672";
}
.icon-description:before {
  content: "\e673";
}
.icon-idea:before {
  content: "\e674";
}
.icon-infinite:before {
  content: "\e675";
}
.icon-job-institute:before {
  content: "\e676";
}
.icon-job-person:before {
  content: "\e677";
}
.icon-job:before {
  content: "\e678";
}
.icon-kiga_circle:before {
  content: "\e908";
}
.icon-kiga:before {
  content: "\e679";
}
.icon-link:before {
  content: "\e67a";
}
.icon-location:before {
  content: "\e67b";
}
.icon-mail:before {
  content: "\e67c";
}
.icon-parents:before {
  content: "\e67d";
}
.icon-person2:before {
  content: "\e67e";
}
.icon-phone:before {
  content: "\e67f";
}
.icon-reply:before {
  content: "\e680";
}
.icon-time:before {
  content: "\e681";
}
.icon-print-week:before {
  content: "\e663";
}
.icon-print-year:before {
  content: "\e664";
}
.icon-print-month:before {
  content: "\e665";
}
.icon-plan-year:before {
  content: "\e666";
}
.icon-plan-month:before {
  content: "\e667";
}
.icon-plan-edit:before {
  content: "\e668";
}
.icon-print:before {
  content: "\e669";
}
.icon-plus:before {
  content: "\e66a";
}
.icon-sticker-plus:before {
  content: "\e66b";
}
.icon-plan-copy:before {
  content: "\e66c";
}
.icon-sticker-edit:before {
  content: "\e66d";
}
.icon-note:before {
  content: "\e66e";
}
.icon-plan-week:before {
  content: "\e66f";
}
.icon-print-ideas:before {
  content: "\e670";
}
.icon-exclamation-mark:before {
  content: "\e671";
}
.icon-sticker-benim:before {
  content: "\e65b";
}
.icon-sticker-buguen:before {
  content: "\e65c";
}
.icon-arrow-left:before {
  content: "\e600";
}
.icon-heart:before {
  content: "\e601";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-burger-menu:before {
  content: "\e603";
}
.icon-cart:before {
  content: "\e604";
}
.icon-check:before {
  content: "\e605";
}
.icon-checkbox-off:before {
  content: "\e606";
}
.icon-checkbox-on2:before {
  content: "\e685";
}
.icon-checkbox-on:before {
  content: "\e608";
}
.icon-Circle:before {
  content: "\e684";
}
.icon-earth:before {
  content: "\e60a";
}
.icon-kiga_circle2:before {
  content: "\e683";
}
.icon-kiga2:before {
  content: "\e682";
}
.icon-sticker-la-mia:before {
  content: "\e60d";
}
.icon-launcher-menu:before {
  content: "\e60e";
}
.icon-sticker-le-mie:before {
  content: "\e60f";
}
.icon-sticker-meine:before {
  content: "\e610";
}
.icon-sticker-mia:before {
  content: "\e611";
}
.icon-sticker-mio:before {
  content: "\e612";
}
.icon-sticker-my:before {
  content: "\e613";
}
.icon-person:before {
  content: "\e614";
}
.icon-radio-off:before {
  content: "\e615";
}
.icon-radio-on:before {
  content: "\e616";
}
.icon-radio-on2:before {
  content: "\e686";
}
.icon-search:before {
  content: "\e618";
}
.icon-settings:before {
  content: "\e619";
}
.icon-star:before {
  content: "\e61a";
}
.icon-pencil:before {
  content: "\e607";
}
.icon-download:before {
  content: "\e912";
}
.icon-star2:before {
  content: "\e609";
}
.icon-star3:before {
  content: "\e60b";
}
.icon-star4:before {
  content: "\e60c";
}
.icon-cancel-circle:before {
  content: "\e660";
}
.icon-checkmark-circle:before {
  content: "\e655";
}
.icon-close:before {
  content: "\e656";
}
.icon-checkmark:before {
  content: "\e657";
}
.icon-checkmark2:before {
  content: "\e658";
}
.icon-minus:before {
  content: "\e659";
}
.icon-plus2:before {
  content: "\e65a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-pause:before {
  content: "\e90f";
}
.icon-key:before {
  content: "\e90e";
}
