body {
  div.table {
    div.table-header div {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
    div.table-row {
      border-bottom: 1px solid @grey;
      &.summary {
        border-top: 2px solid black;
        font-weight: bold;
      }
    }
    div.table-cell {
      padding: 10px 0;
      text-align: center;
      &.green {
        background-color: @green;
        color: white;
      }
    }
    &.hover div.table-row:hover {
      background-color: @grey;
    }
  }
}
