<div class="item-placeholder comment planned-item">
  <div class="wrapper" ui-jq="valign">
    <div class="event day-off text-center box comment-inner"
         ui-jq="sameHeight"
         ui-options="{
                     refParent: '[data-test=weekpart]',
                     refElement: '.planned-item.event'}">
      <div data-valign="ctr">
        <p ng-bind-html="item.comment" data-valign="el" dom-trigger></p>
      </div>
    </div>
  </div>
</div>
