<!-- item is droppable -->
<div ng-if="allowDrop(day)" height-setter
     ng-drop="true" ng-drop-success="itemDrop($data, day.iso, $index + 1)">
  <div ng-include="'planner/partials/includes/item.html'"
       ng-drag="true" ng-drag-data="item" ng-drag-scroll
       class="draggable item"
       ng-if="item.itemType == 'kigaIdea'">
  </div>
  <div ng-click="editComment(item)"
       ng-if="item.itemType == 'comment'" data-test="comment">
    <div ng-include="'planner/partials/includes/comment.html'"
         class="draggable"
         ng-drag="true" ng-drag-data="item" ng-drag-scroll>
    </div>
  </div>
</div>

<!-- item isn't droppable but draggable -->
<div ng-if="!allowDrop(day) && allowDrag(day)" height-setter>
  <div ng-include="'planner/partials/includes/item.html'"
       ng-drag="true" ng-drag-data="item" ng-drag-scroll
       class="draggable item"
       ng-if="item.itemType == 'kigaIdea'">
  </div>
  <div ng-click="editComment(item)" ng-if="item.itemType == 'comment'">
    <div ng-include="'planner/partials/includes/comment.html'"
         ng-drag="true" ng-drag-data="item" ng-drag-scroll
         class="draggable" data-test="comment"></div>
  </div>
</div>

<!-- item isn't droppable and not draggable -->
<div ng-if="!allowDrop(day) && !allowDrag(day)">
  <div ng-include="'planner/partials/includes/item.html'"
       ng-if="item.itemType == 'kigaIdea'"
       class="item">
  </div>
  <div ng-include="'planner/partials/includes/comment.html'"
       ng-click="editComment(item)"
       ng-if="item.itemType == 'comment'" data-test="comment"></div>
</div>
