<div ng-switch on="item.type">
  <div class="event planned-item" dom-trigger
       ng-switch-when="article">
    <figure class="row">
      <div class="img-holder col-lsm-60 col-sm-30" data-test="articlePreviewImage">
        <div ng-if="!item.noMenu && cmsOrSubscription()" class="item-menu-img" ng-click="toggleItemMenu(item)"></div>
        <img ng-if="!linkItemToIdea()" ng-src="{{item.previewUrl}}"
             alt="{{item.title}}" title="{{item.title}}">
        <a href="{{item.link}}" ng-if="linkItemToIdea()">
          <img ng-src="{{item.previewUrl}}" alt="{{item.title}}" title="{{item.title}}">
        </a>
      </div>
      <figcaption class="info col-lsm-60 col-sm-30" ng-if="!item.showMenu">
        <h5>{{item.title}}</h5>

        <div class="specification">
          <em class="category">
            {{item.categoryL1Name}}
            <span>{{item.categoryL2Name}}</span>
          </em>
          <strong class="age">{{item.ageGroup}}+</strong>
        </div>
      </figcaption>
      <figcaption class="item-menu col-lsm-60 col-sm-30" ng-if="item.showMenu">
        <div ng-if="planType == 'member'">
          <div class="row">
            <div class="col-sm-60 item-view" ng-click="viewItem(item)"></div>
          </div>
          <div class="row">
            <!--<div class="col-sm-30 item-edit" ng-click="editNote(item)"></div>-->
            <div class="col-sm-60 item-remove" ng-click="removeItem(item)"></div>
          </div>
        </div>
        <div ng-if="planType == 'kiga'">
          <div class="row">
            <div class="col-sm-30 item-view" ng-click="viewItem(item)"></div>
            <div class="col-sm-30 item-remove" ng-click="removeItem(item)"></div>
          </div>
          <div class="row">
            <div class="col-sm-20 item-newsletter"
                 ng-class="{
                           active: item.nlPosition == 1
                           }" ng-click="setNlPosition(item, 1)"
                 >1</div>
            <div class="col-sm-20 item-newsletter"
                 ng-class="{
                           active: item.nlPosition == 2
                           }" ng-click="setNlPosition(item, 2)"
                 >2</div>
            <div class="col-sm-20 item-newsletter"
                 ng-class="{
                           active: item.nlPosition == 3
                           }" ng-click="setNlPosition(item, 3)"
                 >3</div>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>

  <div ng-switch-when="removed"
       class="event day-off text-center"
       ui-jq="sameHeight"
       ui-options="{
                   refParent: '[data-test=weekpart]',
                   refElement: '.planned-item',
                   extender: '.holder'
                   }">
    <div class="box">
      <a ng-click="showItemOptions(item)" data-test="showItemOptions">
        <div class="holder">
          <div class="frame">
            <h2 t="PLAN_ITEM_REMOVED"></h2>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div ng-switch-when="notTranslated"
       class="event day-off text-center addItem"
       ui-jq="sameHeight"
       ui-options="{
                   refParent: '[data-test=weekpart]',
                   refElement: '.planned-item',
                   extender: '.holder'
                   }">
    <div class="box">
      <a ng-click="showItemOptions(item)" data-test="showItemOptions">
        <div class="holder">
          <div class="frame">
            <h2 t="PLAN_ITEM_NOT_TRANSLATED"></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
