<div class="add-new-plan kigaplan-scheme">
  <form role="form" class="small" name="planForm" ng-submit="ctrl.save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span t="PLAN_CREATE_NEW"></span>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label t="PLAN_NAME_OF_PLAN"></label>
          <input class="form-control" type="text" maxlength="45" name="title"
                 ng-model="ctrl.plan.title" ng-required="true" data-test="title">
        </div>
        <div class="form-group datepicker">
          <label t="PLAN_SELECT_DATE"></label>
          <input type="text" class="form-control" ng-model="ctrl.plan.planDate"
                 ng-required="true" kiga-date name="date" data-test="planDate">
        </div>
        <div class="form-group">
          <label translate="FIELD_DESCRIPTION"></label>
          <textarea ng-model="ctrl.plan.description" class="form-control"
                    data-test="description"></textarea>
        </div>

        <div class="form-group" ng-if="ctrl.showSyncEnabled()">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.plan.syncEnabled" icheck data-test="sync">
              {{ 'PLAN_SYNCHRONISATION_TITLE' | translate }}
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input class="form-control" type="checkbox"
                     ng-model="ctrl.plan.isPublished" icheck>
              {{'PLAN_PUBLISHED' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input class="form-control" type="checkbox"
                     ng-model="ctrl.plan.atHomePage" icheck>
              {{'PLAN_ATHOMEPAGE' | translate}}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label t="PLAN_PREVIEW_IMAGE"></label>
          <div class="wrap">
            <div class="holder">
              <a ng-click="ctrl.selectPreview()">
                <img ng-if="ctrl.plan.previewItemId" ng-src="{{ctrl.previewImageSrc()}}"
                     width="174" height="121">
                {{'PLAN_PREVIEW_SELECT' | translate}}
              </a>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="ctrl.action == 'edit'">
          <button class="icon cancel" type="button" data-test="remove"
                  ng-click="ctrl.deletePlan()" translate="BUTTON_REMOVE">
          </button>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" data-test="cancel" class="cancel" translate="BUTTON_CANCEL" ng-click="ctrl.cancel()"></button>
      </div>
      <div class="right">
        <button type="submit" data-test="submit" translate="BUTTON_OK"></button>
      </div>
    </div>
  </form>
</div>
