<div class="add-new-plan memberplan-scheme">
  <form role="form" class="small" name="planForm" ng-submit="ctrl.save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span t="PLAN_ADD" ng-if="ctrl.action == 'add'"></span>
        <span t="PLAN_EDIT" ng-if="ctrl.action == 'edit'"></span>
        <span t="PLAN_COPY_KIGA_PLAN_TITLE" ng-if="ctrl.action == 'copy'"></span>
        <span t="PLAN_CREATE_ASSIGN_NEW" ng-if="ctrl.action == 'addToNew'"></span>
      </div>
      <div class="panel-body">
        <div class="form-group" ng-if="ctrl.action == 'copy'">
          <label translate="PLAN_COPY_KIGA_PLAN_DESCRIPTION"></label>
        </div>

        <div class="form-group">
          <label translate="PLAN_NAME_OF_PLAN"></label>
          <input
            class="form-control"
            type="text"
            maxlength="45"
            name="title"
            ng-model="ctrl.plan.title"
            ng-required="true"
            data-test="title"
          />
        </div>
        <div class="form-group datepicker">
          <label translate="PLAN_SELECT_DATE"></label>
          <input
            type="text"
            class="form-control"
            ng-model="ctrl.plan.planDate"
            ng-required="true"
            kiga-date
            name="date"
            data-test="planDate"
          />
        </div>
        <div class="form-group selection-group">
          <div class="col-1">
            <button
              type="button"
              class="{{ctrl.plan.color}} no-legacy-width"
              ng-click="ctrl.selectColor()"
              data-test="color"
            >
              <span translate="PLAN_SELECT_NEW_COLOR"></span>
            </button>
          </div>
          <div class="col-2">
            <button
              type="button"
              class="icon {{ctrl.plan.color}} no-legacy-width"
              ng-click="ctrl.selectIcon()"
              data-test="icon"
            >
              <i ng-class="'icon-' + ctrl.plan.icon"></i><span t="PLAN_SELECT_NEW_ICON"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label t="FIELD_TAGS"></label>
          <tags-input ng-model="ctrl.plan.tags" add-on-space="true">
            <div auto-complete source="ctrl.completeTag($query)" min-length="1"></div>
          </tags-input>
        </div>
        <div class="form-group" ng-if="ctrl.action == 'edit'">
          <button
            class="icon cancel"
            type="button"
            data-test="remove"
            ng-click="ctrl.deletePlan()"
            translate="BUTTON_REMOVE"
          ></button>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button
          type="button"
          data-test="cancel"
          class="cancel"
          translate="BUTTON_CANCEL"
          ng-click="ctrl.cancel()"
        ></button>
      </div>
      <div class="right">
        <button type="submit" data-test="submit" translate="BUTTON_OK"></button>
      </div>
    </div>
  </form>
</div>
