<!-- placeholders with droppable -->
<div ng-if="day.ui.isDroppable"
     ng-drop="true" ng-drop-success="itemDrop($data, day.iso, $index + 1)">
  <div class="event day-off text-center box"
       ui-jq="sameHeight"
       ui-options="{
         refParent: '[data-test=weekpart]',
         refElement: '.planned-item.event'
         }">
  </div>
</div>

<!-- placeholders without droppable -->
<div ng-if="!day.ui.isDroppable"
     class="event day-off text-center box"
     ui-jq="sameHeight"
     ui-options="{
         refParent: '[data-test=weekpart]',
         refElement: '.planned-item.event'
         }">
</div>
