<div>
  <em class="date" style="height:43px">
    <span style="vertical-align:top">{{ day.dayCode | translate }}</span>
    <span style="vertical-align:top">{{ day.prettyDate }}</span>
    <i
      ng-if="day.isToday"
      class="icon hidden-lsm hidden-sm"
      style="font-size:30px;position:absolute;top:5px;right:5%"
      ng-class="{
         'icon-sticker-heute': locale == 'de',
         'icon-sticker-today': locale == 'en',
         'icon-sticker-oggi': locale == 'it',
         'icon-sticker-buguen': locale == 'tr'
        }"
    ></i>
  </em>
  <div class="day-top-buttons row" ng-class="{'inPast':day.isInPast}" ng-if="cmsOrSubscription()">
    <div class="add-idea col-sm-30">
      <button
        data-toggle="dropdown"
        ng-click="addKigaIdea(day)"
        data-test="addIdea"
        ng-if="showAddIdea(day)"
        class="no-legacy"
      >
        <i class="glyphicon glyphicon-plus large"></i>
      </button>
    </div>
    <a
      class="add-comment col-sm-30"
      data-test="addComment"
      ng-if="showAddComment(day)"
      ui-sref="root.plan.planType.addComment({
                planId: plan.id,
                plannedDate: day.date.toDate()
                })"
    >
      <i class="fa fa-file-text large"></i>
    </a>
    <a
      class="add-comment placeholder col-sm-30"
      data-test="commentPlaceholder"
      ng-if="!showAddComment(day)"
    >
      &nbsp;
    </a>
  </div>

  <!-- items -->
  <div
    ng-repeat="item in day.items"
    class="item-placeholder"
    ng-include="'planner/partials/includes/itemContainer.html'"
  ></div>

  <!-- placeholders -->
  <div
    ng-repeat="placeholder in day.ui.placeholders track by $index"
    class="hidden-lsm addItem item-placeholder"
    ng-include="'planner/partials/includes/placeholder.html'"
  ></div>
</div>
