<div class="columns-3">
  <div class="day-top-buttons row" ng-class="{'inPast':day.isInPast}">
    <div ng-class="showIdeaOrComment(day) ? 'col-sm-20' : 'col-sm-60'">
      <em class="date"
        >{{ day.dayCode | translate }}<span>{{ day.prettyDate }}</span>
        <i
          ng-if="day.isToday"
          class="icon hidden-xs"
          ng-class="{
                     'icon-sticker-heute': locale == 'de',
                     'icon-sticker-today': locale == 'en',
                     'icon-sticker-oggi': locale == 'it',
                     'icon-sticker-buguen': locale == 'tr'
                     }"
        ></i>
      </em>
    </div>

    <div ng-if="showIdeaOrComment(day)">
      <div class="add-idea col-sm-20">
        <button
          data-toggle="dropdown"
          ng-click="addKigaIdea(day)"
          data-test="addIdea"
          class="no-legacy"
        >
          <i class="glyphicon glyphicon-plus large"></i>
        </button>
      </div>
      <div
        class="add-comment col-sm-20"
        ng-if="showAddComment(day)"
        data-test="addComment"
        ng-if="planType == 'member'"
        ui-sref="root.plan.planType.addComment({
                  planId: plan.id,
                  plannedDate: day.date.toDate()
                  })"
      >
        <i class="fa fa-file-text large"></i>
      </div>
      <div
        class="add-comment placeholder col-sm-20"
        data-test="commentPlaceholder"
        ng-if="planType == 'kiga'"
      >
        &nbsp;
      </div>
    </div>
  </div>

  <!-- items -->
  <div
    ng-repeat="item in day.items"
    class="col-lsm-20 item-placeholder"
    ng-include="'planner/partials/includes/itemContainer.html'"
  ></div>

  <!-- placeholders -->
  <div
    ng-repeat="placeholder in day.ui.placeholders3Col"
    class="col-lsm-20 item-placeholder"
    ng-class="{'no-items': day.items.length == 0}"
    ng-include="'planner/partials/includes/placeholder.html'"
  ></div>
</div>
