<div class="columns-1">
  <em class="date"
    >{{ day.dayCode | translate }}<span>{{ day.prettyDate }}</span>
    <i
      ng-if="day.isToday"
      class="icon hidden-xs"
      ng-class="{
                 'icon-sticker-heute': locale == 'de',
                 'icon-sticker-today': locale == 'en',
                 'icon-sticker-oggi': locale == 'it',
                 'icon-sticker-buguen': locale == 'tr'
                 }"
    ></i>
  </em>

  <div class="day-top-buttons row" ng-if="showIdeaOrComment(day)">
    <div class="add-idea col-sm-30">
      <button
        data-toggle="dropdown"
        ng-click="addKigaIdea(day)"
        data-test="addIdea"
        class="no-legacy"
      >
        <i class="glyphicon glyphicon-plus large"></i>
      </button>
    </div>
    <a
      class="add-comment col-sm-30"
      ng-if="showAddComment(day)"
      data-test="addComment"
      ng-if="planType == 'member'"
      ui-sref="root.plan.planType.addComment({
                planId: plan.id,
                plannedDate: day.date.toDate()
                })"
    >
      <i class="fa fa-file-text large"></i>
    </a>
    <a
      class="add-comment placeholder col-sm-30"
      data-test="commentPlaceholder"
      ng-if="planType == 'kiga'"
    >
      &nbsp;
    </a>
  </div>

  <!-- items -->
  <div
    ng-repeat="item in day.items"
    class="col-lsm-20 item-placeholder"
    ng-include="'planner/partials/includes/itemContainer.html'"
  ></div>

  <!-- placeholder starts -->
  <div
    class="col-lsm-20 item-placeholder"
    ng-if="day.ui.has1ColPlaceholder && planType == 'member'"
  >
    <div
      ng-drop="true"
      ng-drop-success="itemDrop($data, day.iso, $index + 1)"
      class="box event day-off text-center"
    ></div>
  </div>
  <!-- placeholder ends -->
</div>
