<!-- 3 columns -->

<!-- "Show Items in Past" Button -->
<div ng-if="showItemsInPastShowBtn(plan, week)"
     class="row toggleShowItems">
  <div class="text-center col-sm-60 col-lsm-60">
    <div class="box">
      <a ng-click="showItemsInPast(plan)" data-test="showItemsInPast" class="show-items-in-past">
        <div class="holder">
          <div class="frame">
            <h2 t="PLAN_SHOW_ITEMS_IN_PAST"></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- "Hide Items in Past" Button -->
<div ng-if="showItemsInPastHideBtn(plan, week)"
     class="row toggleShowItems">
  <div class="text-center addItem col-sm-60 col-lsm-60 btnPastItems">
    <div class="box">
      <a ng-click="hideItemsInPast(plan)" data-test="showItemsInPast" class="show-items-in-past">
        <div class="holder">
          <div class="frame">
            <h2 t="PLAN_HIDE_ITEMS_IN_PAST"></h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="dayCol"
     data-test="day-{{day.iso}}" ng-repeat="day in week.days"
     ng-class="day.isInPast ? 'inPast' : ''"
     ng-if="showDay(plan, day)">
    <div class="row" data-test="weekpart">
      <ng-include src="'planner/partials/includes/planDetailDay-3-col.html'"></ng-include>
    </div>
</div>
