<div
  class="{{items[item.kigaPageId] ? 'checkboxAreaChecked' : 'checkboxArea'}}"
  ng-click="click(item.kigaPageId)"
>
  <i class="ico"></i>
</div>
<figure>
  <div class="img-holder">
    <img ng-src="{{item.previewUrl}}" alt="{{item.title}}" width="174" height="121" />
  </div>
  <figcaption>
    <p class="title-block">{{ item.title }}</p>
    <div class="specification">
      <em class="category"> {{ item.categoryL1Name }} <span>{{ item.categoryL2Name }}</span> </em>
      <strong class="age">{{ item.ageGroup }}+</strong>
    </div>
  </figcaption>
</figure>
