<mat-form-field>
  <input
    type="text"
    matInput
    [attr.disabled]="disabled ? '' : null"
    type="text"
    [placeholder]="label"
    [formControl]="formControl"
  />
  <kiga-validation-messages [control]="formControl"></kiga-validation-messages>
</mat-form-field>
