<div class="input-group">
  <form ng-submit="$ctrl.triggerAreaCallback()">
    <tags-input ng-model="$ctrl.searchTags"
                on-tag-removed="$ctrl.triggerAreaCallback()"
                on-tag-added="$ctrl.onTagAdded($tag)"
                add-on-comma="false"
                replace-spaces-with-dashes="false"
                add-on-blur="false"
                text="$ctrl.searchText"
                placeholder="{{ $ctrl.getPlaceHolder() }}">
    </tags-input>
  </form>
  <span class="input-group-btn">
            <button class="btn btn-default icon-search" ng-class="{disabled:searchData.search == ''}"
                    type="button" ng-click="$ctrl.onSearchButtonPressed()"></button>
          </span>
</div>
