<div class="element-container">
  <div class="element-column">
    <p class="name">{{ name }}<i [ngClass]="nameIcon"></i></p>
    <p class="button clickable" [routerLink]="buttonUrl">
      {{ buttonLabel }}<i class="icon-pencil"></i>
    </p>
  </div>
  <div class="element-column">
    <p class="header">{{ descriptionHeader }}</p>
    <p class="description">{{ descriptionText }}</p>
  </div>
</div>
