@import '../../../vars';

.element-container {
  display: flex;
}

.element-column {
  color: greenyellow;
  flex: 1;
  margin: 5px;
}

.name {
  color: @white;
  background: @kgaBasis;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 0;
  i {
    margin-left: 10px;
    font-size: 35px;
    vertical-align: bottom;
  }
}

.button {
  color: @white;
  background: @kgaBasis;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
  i {
    vertical-align: bottom;
  }
}

.header {
  color: @darkGrey;
}

.description {
  color: @lightGrey;
}

.icon-pencil {
  margin-left: 10px;
}
