@import '../../../../vars';

body {
  .translated {
    border: 1px dashed @darkGrey;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  .not-translated {
    border: 1px dashed @orange;
    cursor: pointer;
    &:hover {
      background-color: @orange;
      color: white;
    }
  }

  .changed {
    border: 1px dashed @blue;
    cursor: pointer;
    &:hover {
      background-color: @blue;
      color: black;
    }
  }

  div.translation-popup {
    .modal-dialog {
      width: 500px;
    }
    tab-heading {
      i {
        top: -2px;
      }
    }
    button {
      width: 100%;
    }
    div.modal-header {
      span {
        margin-right: 3px;
      }
    }
    div.table {
      min-height: 250px;
    }
  }
}
