<div class="home">
  <div class="container-fluid">
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li
          data-ng-class="ctrl.$state.current.name != 'root.editHome.topic' &&
        ctrl.$state.current.name != 'root.editHome.new' ? 'active': '' "
        >
          <a href="#slider" role="tab" data-toggle="tab">Slider</a>
        </li>

        <li
          ng-hide="ctrl.topic.length == 0"
          data-ng-class="ctrl.$state.current.name == 'root.editHome.topic'? 'active': '' "
        >
          <a href="#topic" role="tab" data-toggle="tab">Blocks</a>
        </li>

        <li data-ng-class="ctrl.$state.current.name == 'root.editHome.new'? 'active': '' ">
          <a href="#add" role="tab" data-toggle="tab">New</a>
        </li>
        <li data-ng-class="ctrl.$state.current.name == 'root.editHome.publish'? 'active': '' ">
          <a href="#publish" role="tab" data-toggle="tab">Publish</a>
        </li>
      </ul>

      <div class="tab-content">
        <div
          data-ng-class="ctrl.$state.current.name != 'root.editHome.topic' &&
              ctrl.$state.current.name != 'root.editHome.new' ? 'active': '' "
          class="tab-pane"
          id="slider"
        >
          <ul class="nav nav-tabs" role="tablist">
            <li
              ng-repeat="elem in ctrl.slider"
              data-ng-class="$first && !ctrl.$state.params.id ||ctrl.$state.params.id == elem.id? 'active': '' "
            >
              <a href="#slider-{{elem.id}}" role="tab" data-toggle="tab">{{elem.title}}</a>
            </li>
          </ul>

          <div class="tab-content">
            <div
              ng-repeat="elem in ctrl.slider"
              data-ng-class="$first && !ctrl.$state.params.id ||ctrl.$state.params.id == elem.id? 'active': '' "
              class="tab-pane"
              id="slider-{{elem.id}}"
            >
              <form class="two-col" ng-submit="ctrl.save(elem)">
                <div class="panel panel-default">
                  <div class="panel-heading">Edit {{elem.title}}</div>
                  <div class="panel-body row">
                    <div class="col-1">
                      <div class="form-group">
                        <label>Title:</label>
                        <input
                          name="title"
                          type="text"
                          placeholder="Title"
                          class="form-control"
                          ng-model="elem.title"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Title short:</label>
                        <input
                          name="titleShort"
                          type="text"
                          placeholder="Title Short"
                          class="form-control"
                          ng-model="elem.titleShort"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Url:</label>
                        <input
                          name="url"
                          type="text"
                          placeholder="Title Short"
                          class="form-control"
                          ng-model="elem.url"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Position:</label>
                        <input
                          name="position"
                          type="number"
                          placeholder="Postion"
                          class="form-control"
                          ng-model="elem.position"
                          required
                          min="1"
                          max="{{ctrl.maxPosition(elem)}}"
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      Big Image ({{elem.big.name}})
                      <div>
                        <kiga-upload
                          name="uploadedFilesBig"
                          ng-model="elem.bigUploaded"
                          max-files="1"
                          hide-preview="false"
                          context="'homepage'"
                          canned-access-control-list="PublicRead"
                        >
                        </kiga-upload>
                        <div
                          class="img_preview uploader"
                          ng-show="elem.big.url != null || elem.bigImageName != null"
                        >
                          <div class="preview">
                            <img
                              ng-src="{{ elem.big.url }}"
                              alt=""
                              class="preview"
                              style="width: 100%; border: 1px solid black"
                            />
                          </div>
                        </div>
                      </div>

                      Small Image ({{elem.small.name}})
                      <div>
                        <kiga-upload
                          name="uploadedFilesSmall"
                          ng-model="elem.smallUploaded"
                          max-files="1"
                          hide-preview="false"
                          context="'homepage'"
                          canned-access-control-list="PublicRead"
                        >
                        </kiga-upload>
                        <div
                          class="img_preview uploader"
                          ng-show="elem.small.url != null || elem.smallImageName != null"
                        >
                          <div class="preview">
                            <img
                              ng-src="{{ elem.small.url }}"
                              alt=""
                              class="preview"
                              style="width: 100%; border: 1px solid black"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="buttons">
                  <div class="left">
                    <button type="button" class="cancel" ng-click="ctrl.cancel()">Cancel</button>
                    <button type="button" ng-click="ctrl.publish(elem)">Publish</button>
                  </div>
                  <div class="right">
                    <button type="button" ng-click="ctrl.delete(elem)">Delete</button>
                    <button type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          data-ng-class="ctrl.$state.current.name == 'root.editHome.topic'? 'active': '' "
          class="tab-pane"
          id="topic"
        >
          <ul class="nav nav-tabs" role="tablist">
            <li
              data-ng-class="$first && !ctrl.$state.params.id ||ctrl.$state.params.id == elem.id? 'active': '' "
              ng-repeat="elem in ctrl.topic"
            >
              <a href="#topic-{{elem.id}}" role="tab" data-toggle="tab">{{elem.title}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div
              data-ng-class="$first && !ctrl.$state.params.id ||ctrl.$state.params.id == elem.id? 'active': '' "
              ng-repeat="elem in ctrl.topic"
              class="tab-pane"
              id="topic-{{elem.id}}"
            >
              <form class="two-col" ng-submit="ctrl.save(elem)">
                <div class="panel panel-default">
                  <div class="panel-heading">Edit {{elem.title}}</div>
                  <div class="panel-body row">
                    <div class="col-1">
                      <div class="form-group">
                        <label>Title:</label>
                        <input
                          name="title"
                          type="text"
                          placeholder="Title"
                          class="form-control"
                          ng-model="elem.title"
                          maxlength="20"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Title short:</label>
                        <input
                          name="titleShort"
                          type="text"
                          placeholder="Title Short"
                          class="form-control"
                          ng-model="elem.titleShort"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Url:</label>
                        <input
                          name="url"
                          type="text"
                          placeholder="Title Short"
                          class="form-control"
                          ng-model="elem.url"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Position:</label>
                        <input
                          name="position"
                          type="number"
                          placeholder="Postion"
                          class="form-control"
                          ng-model="elem.position"
                          required
                          min="1"
                          max="{{ctrl.maxPosition(elem)}}"
                        />
                      </div>
                      <div class="form-group">
                        <label>Line color:</label>
                        <kiga-select ng-model="elem.color" options="ctrl.colors"></kiga-select>
                      </div>
                      <div class="form-group">
                        <label>Description title:</label>
                        <input
                          class="form-control"
                          name="descriptionTitle"
                          placeholder="Description title"
                          ng-model="elem.descriptionTitle"
                          maxlength="35"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Description:</label>
                        <textarea
                          class="form-control"
                          name="description"
                          style="width: 100%;"
                          placeholder="Description"
                          ng-model="elem.description"
                          maxlength="85"
                          required
                        >
                        </textarea>
                      </div>
                    </div>
                    <div class="col-2">
                      Big Image ({{elem.big.name}})
                      <div>
                        <kiga-upload
                          name="uploadedFilesBig"
                          ng-model="elem.bigUploaded"
                          max-files="1"
                          hide-preview="false"
                          context="'homepage'"
                          canned-access-control-list="PublicRead"
                        >
                        </kiga-upload>
                        <div
                          class="img_preview uploader"
                          ng-show="elem.big.url != null || elem.bigImageName != null"
                        >
                          <div class="preview">
                            <img
                              ng-src="{{ elem.big.url }}"
                              alt=""
                              class="preview"
                              style="width: 50%; border: 1px solid black"
                            />
                          </div>
                        </div>
                      </div>

                      Small Image ({{elem.small.name}})
                      <div>
                        <kiga-upload
                          name="uploadedFilesSmall"
                          ng-model="elem.smallUploaded"
                          max-files="1"
                          hide-preview="false"
                          context="'homepage'"
                          canned-access-control-list="PublicRead"
                        >
                        </kiga-upload>
                        <div
                          class="img_preview uploader"
                          ng-show="elem.small.url != null || elem.smallImageName != null"
                        >
                          <div class="preview">
                            <img
                              ng-src="{{ elem.small.url }}"
                              alt=""
                              class="preview"
                              style="width: 50%; border: 1px solid black"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="buttons">
                  <div class="left">
                    <button type="button" class="cancel" ng-click="ctrl.cancel()">Cancel</button>
                    <button type="button" ng-click="ctrl.publish(elem)">Publish</button>
                  </div>
                  <div class="right"><button type="submit">Save</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          data-ng-class="ctrl.$state.current.name == 'root.editHome.new' ? 'active': '' "
          class="tab-pane"
          id="add"
        >
          <form class="two-col" ng-submit="ctrl.add()">
            <div class="panel panel-default">
              <div class="panel-heading">Add new</div>
              <div class="panel-body row">
                <div class="col-1">
                  <div class="form-group">
                    <label>Type:</label>
                    <kiga-select
                      placeholder="type..."
                      options="ctrl.types"
                      ng-model="ctrl.new.type"
                    ></kiga-select>
                  </div>

                  <div ng-if="ctrl.new.type">
                    <div class="form-group">
                      <label>Title:</label>
                      <input
                        name="title"
                        type="text"
                        placeholder="Title"
                        class="form-control"
                        ng-model="ctrl.new.title"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Title short:</label>
                      <input
                        name="titleShort"
                        type="text"
                        placeholder="Title Short"
                        class="form-control"
                        ng-model="ctrl.new.titleShort"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Url:</label>
                      <input
                        name="url"
                        type="text"
                        placeholder="Title Short"
                        class="form-control"
                        ng-model="ctrl.new.url"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Position:</label>
                      <input
                        name="position"
                        type="text"
                        placeholder="Postion"
                        class="form-control"
                        ng-model="ctrl.new.position"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Line color:</label>
                      <kiga-select ng-model="ctrl.new.color" options="ctrl.colors"></kiga-select>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div ng-if="ctrl.new.type">
                    Big Image ({{ctrl.new.big.name}})
                    <div>
                      <div class="img_preview uploader" ng-show="ctrl.new.big == null">
                        <div
                          class="upload_button"
                          file-upload
                          options="ctrl.previewOptions"
                          on-add="ctrl.addNewBigImage"
                        ></div>
                        <div class="placeholder" ng-show="!ctrl.new.bigImageFile">
                          <div class="question_mark">?</div>
                          Anzeigebild: {{ctrl.new.bigImageName}} {{ctrl.new.title}}
                        </div>
                        <div
                          class="preview"
                          file-upload-preview="ctrl.new.bigImageName"
                          upload-file="ctrl.new.bigImageName"
                          ng-show="ctrl.new.bigImageName"
                        ></div>
                      </div>
                      <div
                        class="img_preview uploader"
                        ng-show="ctrl.new.big.url != null || ctrl.new.bigImageName != null"
                      >
                        <div class="preview">
                          <img
                            ng-if="ctrl.new.type == 'thema'"
                            ng-src="{{ ctrl.new.big.url }}"
                            alt=""
                            class="preview"
                            style="width: 50%; border: 1px solid black"
                          />
                          <img
                            ng-if="ctrl.new.type == 'slider'"
                            ng-src="{{ ctrl.new.big.url }}"
                            alt=""
                            class="preview"
                            style="width: 100%; border: 1px solid black"
                          />
                          <i
                            class="icon icon-cancel-circle"
                            ng-click="ctrl.removeBigImage(ctrl.new)"
                          ></i>
                        </div>
                      </div>
                    </div>

                    Small Image ({{ctrl.new.small.name}})
                    <div>
                      <div class="img_preview uploader" ng-show="ctrl.new.small == null">
                        <div
                          class="upload_button"
                          file-upload
                          options="ctrl.previewOptions"
                          on-add="ctrl.addNewSmallImage"
                        ></div>
                        <div class="placeholder" ng-show="!ctrl.new.smallImageFile">
                          <div class="question_mark">?</div>
                          Anzeigebild: {{ctrl.new.smallImageName}} {{ctrl.new.title}}
                        </div>
                        <div
                          class="preview"
                          file-upload-preview="ctrl.new.smallImageName"
                          upload-file="ctrl.new.smallImageName"
                          ng-show="ctrl.new.smallImageName"
                        ></div>
                      </div>
                      <div
                        class="img_preview uploader"
                        ng-show="ctrl.new.small.url != null || ctrl.new.smallImageName != null"
                      >
                        <div class="preview">
                          <img
                            ng-if="ctrl.new.type == 'thema'"
                            ng-src="{{ ctrl.new.small.url }}"
                            alt=""
                            class="preview"
                            style="width: 50%; border: 1px solid black"
                          />
                          <img
                            ng-if="ctrl.new.type == 'slider'"
                            ng-src="{{ ctrl.new.small.url }}"
                            alt=""
                            class="preview"
                            style="width: 100%; border: 1px solid black"
                          />
                          <i
                            class="icon icon-cancel-circle"
                            ng-click="ctrl.removeSmallImage(ctrl.new)"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="buttons">
              <div class="left">
                <button type="button" class="cancel" ng-click="ctrl.cancel()">Cancel</button>
              </div>
              <div class="right"><button type="submit">Add</button></div>
            </div>
          </form>
        </div>

        <div
          data-ng-class="ctrl.$state.current.name == 'root.editHome.publish' ? 'active': '' "
          class="tab-pane"
          id="publish"
        >
          <form class="two-col" ng-submit="ctrl.saveAutomated()">
            <div class="panel panel-default">
              <div class="panel-heading">Publish all</div>
              <div class="panel-body row">
                <div class="col-1">
                  <div class="form-group">
                    <label>Time:</label>
                    <input
                      name="date"
                      type="text"
                      placeholder="Date..."
                      class="form-control"
                      ng-model="ctrl.automated.date"
                      required
                    />
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
            </div>
            <div class="buttons">
              <div class="left">
                <button type="button" class="cancel" ng-click="ctrl.cancel()">Cancel</button>
              </div>
              <div class="right">
                <button>Save</button>
                <button type="button" ng-click="ctrl.publishAll()">Publish all</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
