@import (reference) '../../vars';
.breadcrumbs-container {
  height: 45px;
  border-left: 1px solid @lightGrey;
  border-right: 1px solid @lightGrey;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 15px;
}

.breadcrumbs-cat-block {
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #808080;
  &:last-of-type a {
    font-weight: bold;
  }
  a {
    color: #808080;
    &:hover {
      font-weight: bold;
    }
  }
  & .breadcrumb-cat {
    margin-right: 10px;
  }
  & .breadcrumb-arrow {
    font-size: 10px;
    margin-right: 10px;
    color: #808080;
  }
  i {
    margin-bottom: 2px;
  }
}
