<div *ngIf="data">
  <div>
    <div
      class="container"
      [ngClass]="{ 'theme-new-ideas': data.activeCategory.ageGroupContainer }"
      *ngIf="showBreadcrumbs"
    >
      <div class="breadcrumbs-container">
        <div class="breadcrumbs-cat-block">
          <span [translate]="'IDEAS_ALL_IDEAS'" class="breadcrumb-cat first"></span>
        </div>
        <div
          class="breadcrumbs-cat-block"
          *ngFor="let breadcrumb of data.breadcrumbs; let i = index; let isLast = last"
        >
          <div><i class="fa breadcrumb-arrow fa-chevron-right"></i></div>
          <div>
            <a
              [routerLink]="breadcrumb.url"
              [queryParams]="breadcrumb.queryParams"
              class="theme-hover"
              [ngClass]="{ 'theme-font': isLast }"
            >
              <span class="breadcrumb-cat"> {{ breadcrumb.label }} </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <kiga-idea-menu> </kiga-idea-menu>

    <kiga-idea-categories
      [categories]="data.categories"
      [useGrid]="data.activeCategory.ageGroupContainer || data.activeCategory.lastCategoryLevel"
      [isGridNewIdeas]="data.activeCategory.ageGroupContainer"
      [lastCategoryLevel]="data.activeCategory.lastCategoryLevel"
    ></kiga-idea-categories>
  </div>
</div>
