@import '../styles';
table {
  width: 100%;
}

.search-bar {
  mat-form-field {
    width: 100%;
  }
}

.no-border {
  border: 0px;
}

.flex-grid {
  display: flex;
  .grow {
    flex-grow: 1;
  }
  .save-btn {
    flex-shrink: 1;
  }
}

.error {
  color: red;
}

.date {
  width: 100%;
  text-align: right;
}
