<div class="container">
  <h1 class="error">DO NOT USE FILE UPLOAD</h1>
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="data">
      <th class="no-border" mat-header-cell *matHeaderCellDef>
        <div class="search-bar">
          <mat-form-field appearance="standard">
            <input matInput (keyup)="filterData($event.target.value)" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <mat-accordion>
        <td class="no-border" mat-cell *matCellDef="let element">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ element.title }}</mat-panel-title>
              <mat-panel-description
                ><p class="date">{{ element.date | date }}</p></mat-panel-description
              >
            </mat-expansion-panel-header>

            <kiga-form
              [fields]="fields[element.id]"
              [model]="element"
              (onSubmit)="saveMethod($event)"
            >
              <div class="flex-grid">
                <div class="grow"></div>
                <button class="save-btn" mat-raised-button color="primary">
                  {{ 'BUTTON_SAVE' | translate }}
                </button>
                <div class="grow"></div>
              </div>
            </kiga-form>
          </mat-expansion-panel>
        </td>
      </mat-accordion>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="buttons">
    <div class="left">
      <button [routerLink]="'../'" mat-raised-button color="accent" type="button">
        {{ 'BUTTON_BACK' | translate }}
      </button>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="addNew()" [disabled]="newIsAdded">
        {{ 'KGA_FIELD_NEW_ENTRY' | translate }}
      </button>
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
</div>
