<div class="container">
  <ng-container *ngIf="kindergartens.length">
    <h3>{{ 'KGA_KINDERGARTEN_ASSIGNED' | translate }}</h3>
    <ul>
      <li *ngFor="let kindergarten of kindergartens">
        <a [routerLink]="['../', kindergarten.id, 'dashboard']">{{ kindergarten.name }}</a>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="kindergartens.length === 0">
    <h3>{{ 'KGA_KINDERGARTEN_NONE_ASSIGNED' | translate }}</h3>
    <button [routerLink]="['/ng6/de/kga/new']">
      {{ 'KGA_KINDERGARTEN_CREATE_NEW' | translate }}
    </button>
  </ng-container>
</div>
