  <div uib-carousel id="myCarousel" active="active" interval="4000" no-wrap="noWrapSlides">
    <div uib-slide ng-repeat="elem in $ctrl.elements track by $index" index="$index">
      <kiga-link url="{{elem.linkUrl}}" tag="slider_{{$index}}">
          <img class="img-responsive hidden-md hidden-lsm hidden-sm" alt="{{elem.alternateText}}" ng-src="{{elem.bigImageUrl}}"/>
          <img class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg" alt="{{elem.alternateText}}" ng-src="{{elem.smallImageUrl}}"/>
      </kiga-link>
    </div>
  </div>
