<div [ngSwitch]="resolvedType$ | async">
  <ng-container *ngSwitchCase="'IdeaGroupContainer'">
    <kiga-idea-group-container-container></kiga-idea-group-container-container>
  </ng-container>
  <ng-container *ngSwitchCase="'IdeaGroupCategory'">
    <kiga-idea-group-container-container></kiga-idea-group-container-container>
  </ng-container>
  <ng-container *ngSwitchCase="'IdeaGroup'">
    <kiga-idea-group-container-container></kiga-idea-group-container-container>
  </ng-container>
  <ng-container *ngSwitchCase="'ShopMainContainer'">
    <kiga-shop-main-container></kiga-shop-main-container>
  </ng-container>
</div>
