@import '../../vars.less';

.theme-kiga {
  .bs-datepicker-head {
    background-color: @darkOrange;
  }
  .bs-datepicker-body {
    table {
      td {
        span.selected {
          background-color: @darkOrange;
        }
        span[class*='select-'] {
          &:after {
            background-color: @darkOrange;
          }
        }
      }
      td.selected {
        span {
          background-color: @darkOrange;
        }
      }
      td[class*='select-'] {
        span {
          &:after {
            background-color: @darkOrange;
          }
        }
      }
      td.week {
        span {
          color: @lightOrange;
        }
      }
    }
  }
}
