<div class="hidden-md hidden-xlg hidden-lg hidden-lmd hidden-lg">
  <div *ngFor="let item of items; index as i" [class]="'element ' + item.className">
    <a [routerLink]="item.url" [queryParams]="item.queryParams" *ngIf="i < 3 && !item.ifRegistrationItem">
      <div class="idea-img">
        <div class="img-border"></div>
        <img alt="item.title" [src]="item.previewUrl">
      </div>
      <div *ngIf="!item.useTranslation">
        <p class="desc">{{ item.title }}</p>
        <p class="desc small">{{ item.description | lineClamp:120}}</p>
      </div>
      <div *ngIf="item.useTranslation">
        <p class="desc" [translate]="item.description"></p>
        <p class="desc small" [translate]="item.title"></p>
      </div>
    </a>

    <a [routerLink]="item.url" [queryParams]="item.queryParams" *ngIf="item.ifRegistrationItem === 'quick'">
      <div class="idea-img">
        <div class="img-border">
          <div class="link-title">{{'HOME_QUICK_REGISTRATION_LINK' | translate}}</div>
        </div>
        <img  alt="item.title" [src]="item.previewUrl">
      </div>
      <div *ngIf="!item.useTranslation">
        <p class="desc">{{ item.title }}</p>
        <p class="desc small">{{ item.description }}</p>
      </div>
      <div *ngIf="item.useTranslation">
        <p class="desc" [translate]="item.description"></p>
        <p class="desc small" [translate]="item.title"></p>
      </div>
    </a>

    <a [routerLink]="item.url" [queryParams]="item.queryParams" class = "fullRegistration" *ngIf="item.ifRegistrationItem === 'full'">
      <div class="idea-img ">
        <div class="img-border">
          <div class="link-title">{{'HOME_FULL_REGISTRATION_LINK' | translate}}</div>
        </div>
        <img  alt="item.title" [src]="item.previewUrl">
      </div>
      <div *ngIf="!item.useTranslation">
        <p class="desc">{{ item.title }}</p>
        <p class="desc small">{{ item.description }}</p>
      </div>
      <div *ngIf="item.useTranslation">
        <p class="desc" [translate]="item.description"></p>
        <p class="desc small" [translate]="item.title"></p>
      </div>
    </a>
  </div>
</div>
