@import (reference) '../../vars';
@import (reference) '../../main/css/bootstrap/variables';

.element {
  a {
    color: lightslategrey;
    &:hover {
      color: @green;
    }
    img:hover {
    }
    p {
      margin-top: 10px;
      @media (max-width: @screen-lsm-max) {
        margin-top: 0;
      }
    }
  }
  @media (max-width: @screen-lsm-max) {
    & {
      display: inline-block;
      margin-bottom: 10px;
    }
    .idea-img {
      width: 140px;
      float: left;
      position: relative;
      .img-border {
        position: absolute;
        height: 100%;
        width: 100%;
        border: 3px transparent;
        .link-title {
          color: @white;
          font-size: 24px;
          margin-top: -55px;
          padding: 50% 28px 0 20px;
        }
      }
      img {
        width: 100%;
      }
    }
    &.registration {
      .img-border {
        background-color: @green;
      }
    }
    &:hover {
      .idea-img {
        .img-border {
          border: 3px solid @green;
        }
      }
    }
    .fullRegistration {
      .img-border {
        background-color: @orange;
      }
      &:hover {
        .desc {
          color: @orange;
        }
        .idea-img {
          .img-border {
            border: 1px solid @grey;
          }
        }
      }
    }
    .desc {
      margin-left: 160px;
      width: auto;
      font-style: normal;
      margin-top: 0px;
      font-size: 14px;
      max-height: 56px;
      &.small {
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}
