   <div ng-if="!$ctrl.rating.userRating" class="stars-block">
     <div class="info-stats-row star-rating__wrap">
        <i class="star-rating__ico fa {{$ctrl.rating.rating > 4.5 ?
                    'fa-star' : 'fa-star-o'}}" ng-click="$ctrl.addRating(5)"></i>
        <div class="star-text">{{ "IDEA_FIVE_STAR_TEXT" | translate }}</div>
        <i class="star-rating__ico fa {{$ctrl.rating.rating > 3.5 ?
                    'fa-star' : 'fa-star-o'}}" ng-click="$ctrl.addRating(4)"></i>
        <div class="star-text">{{ "IDEA_FOUR_STAR_TEXT" | translate }}</div>
        <i class="star-rating__ico fa {{$ctrl.rating.rating > 2.5 ?
                    'fa-star' : 'fa-star-o'}}" ng-click="$ctrl.addRating(3)"></i>
        <div class="star-text">{{ "IDEA_THREE_STAR_TEXT" | translate }}</div>
        <i class="star-rating__ico fa {{$ctrl.rating.rating > 1.5 ?
                    'fa-star' : 'fa-star-o'}}" ng-click="$ctrl.addRating(2)"></i>
        <div class="star-text">{{ "IDEA_TWO_STAR_TEXT" | translate }}</div>
        <i class="last-star star-rating__ico fa {{$ctrl.rating.rating > 0.5 ?
                    'fa-star' : 'fa-star-o'}}" ng-click="$ctrl.addRating(1)"></i>
        <div class="star-text">{{ "IDEA_ONE_STAR_TEXT" | translate }}</div>
      </div>
      <span class="rating-count">
                ({{$ctrl.rating.count}})
      </span>     
   </div>

  <div ng-if="$ctrl.rating.userRating" class="user-rating">
    <div class="info-stats-row rating-complete">
      <i class="fa {{$ctrl.rating.userRating > 0.5 ?
                    'fa-star' : 'fa-star-o'}}"></i>
      <i class="fa {{$ctrl.rating.userRating > 1.5 ?
                    'fa-star' : 'fa-star-o'}}"></i>
      <i class="fa {{$ctrl.rating.userRating > 2.5 ?
                    'fa-star' : 'fa-star-o'}}"></i>
      <i class="fa {{$ctrl.rating.userRating > 3.5 ?
                    'fa-star' : 'fa-star-o'}}"></i>
      <i class="fa {{$ctrl.rating.userRating > 4.5 ?
                    'fa-star' : 'fa-star-o'}}"></i>
    </div>
    <span class="rating-count">
            ({{$ctrl.rating.count}})
    </span>
    <div class="user-rate-text">
      <span class="info-stats-user-rate" translate="IDEA_USER_RATING"
            translate-values="{rating: $ctrl.rating.userRating}">
      </span> |
      <span class="info-stats-clear-rate" translate="IDEA_CLEAR_RATING"
          ng-click="$ctrl.clearRating()">
      </span>
    </div>
  </div>  