@import (reference) '../../../vars';
star-rating {
  @icon-color: #b2b2b2;
  .info-stats-row {
    font-size: 22px;
    color: @icon-color;
    width: auto;
    float: left;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 20px;
    .fa {
      vertical-align: top;
    }
  }
  .star-rating__wrap {
    display: inline-block;
    cursor: pointer;
    .no-touchevents &:hover {
      .star-rating__ico:before {
        content: '\f006';
      }
    }
  }
  .star-rating__wrap:after {
    content: '';
    display: table;
    clear: both;
  }
  .star-rating__ico {
    float: right;
    padding-left: 6px;
    color: @icon-color;
  }
  .last-star {
    padding-left: 0;
  }
  .star-rating__ico:hover:before,
  .star-rating__ico:hover ~ .star-rating__ico:before {
    color: @orange;
    content: '\f005' !important;
  }
  .star-text {
    display: none;
    position: absolute;
    left: 148px;
    font-size: 14px;
    font-weight: bold;
    color: #778899;
  }
  .star-rating__ico {
    .no-touchevents &:hover + .star-text {
      display: block;
    }
  }
  .star-rating__wrap {
    .no-touchevents &:hover + .rating-count {
      display: none;
    }
  }
  .rating-complete {
    color: @orange;
  }
  .rating-count {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
  }
  .info-stats-user-rate {
    display: inline-block;
    margin-right: 5px;
  }
  .info-stats-clear-rate {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    color: @orange;
  }
  .user-rate-text {
    display: inline-block;
  }
  .stars-block,
  .rating-count {
    height: 25px;
  }

  @media (max-width: @screen-lsm-max) {
    .user-rating {
      position: relative;
      margin-top: 0;
      .info-stats-row {
        display: inline-block;
        float: none;
        height: 20px;
        margin: 0;
      }
      .rating-count {
        padding-top: 0;
      }
    }
    .rating-count {
      vertical-align: top;
    }
    .star-text {
      left: 137px;
      width: 100%;
    }
    .stars-block,
    .rating-count {
      height: 34px;
    }
  }
}
