<form class="one-col" name="validationForm" ng-submit="ctrl.onSubmit()">
  <div class="panel">
    <div class="panel-heading">
      Form powered with KigaUpload component and validated with ng-fab-forms.
    </div>
    <div class="panel-body">
      <input type="text" name="someName" ng-model="ctrl.someName" required />
      <kiga-upload name="uploadedFiles"
                   ng-model="ctrl.filesIds"
                   max-files="3"
                   context="'dummy'"
                   on-start-upload="ctrl.onStartUpload"
                   on-finish-upload="ctrl.onFinishUpload"
                   required />
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
