<form class="one-col" name="validationForm" ng-submit="ctrl.onSubmit()">
  <div class="panel">
    <div class="panel-heading">Payment Transaction</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Invoice
          <input type="text" class="form-control" placeholder="Invoice"
                 disabled ng-model="ctrl.paymentTransaction.paidInvoiceNumber">
        </label>
      </div>
      <div class="form-group">
        <input type="hidden" ng-model="ctrl.paymentTransaction.totalAmountLeft"  />
        <label>Amount
          <input type="text" class="form-control" placeholder="Amount" required
                 ng-model="ctrl.paymentTransaction.amount"
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 ng-disabled="ctrl.paymentSettled"
                 validation-msg-pattern="{{ 'It must be a positive decimal' | translate }}">
        </label>
      </div>

      <div class="form-group">
        <label>Transfer Date
          <div class="datepicker-input">
            <input type="text" class="form-control transferdate-picker" placeholder="TransferDate" required
                   ng-disabled="ctrl.paymentSettled"
                   kiga-date ng-model="ctrl.paymentTransaction.transferDate" />
          </div>
        </label>
      </div>

      <div class="form-group">
        <label>Bank
          <kiga-select ng-model="ctrl.paymentTransaction.bank"
                       ng-hide="ctrl.paymentSettled"
                       options="ctrl.banks"
                       placeholder="Select a bank..." required></kiga-select>
          <input type="text" class="form-control" placeholder="Bank" required
                 ng-show="ctrl.paymentSettled"
                 ng-disabled="ctrl.paymentSettled"
                 ng-model="ctrl.paymentTransaction.bank">
        </label>
      </div>

      <div class="form-group">
        <label>Bank Transaction ID
          <input type="text" class="form-control" placeholder="Bank Transaction ID"
                 ng-disabled="ctrl.paymentSettled"
                 ng-model="ctrl.paymentTransaction.bankTransactionId">
        </label>
      </div>

      <div class="form-group">
          <input type="checkbox" class="form-control" icheck
                 ng-disabled="ctrl.paymentSettled"
                 ng-model="ctrl.paymentTransaction.invoiceModel.settled">
          Settle invoice
      </div>

    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" onClick="ctrl.back()">Cancel</button>
    </div>

    <div class="right">
      <button type="submit" ng-hide="ctrl.paymentSettled">Save</button>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button"
              ng-click="ctrl.onPaymentDelete(ctrl.paymentTransaction.id)"
              ng-show="!ctrl.paymentSettled && ctrl.paymentTransaction.id != null">Remove</button>
    </div>
  </div>
</form>
