<div class="products-management">
  <h2>Payment Transactions - Invoice {{ctrl.invoiceNumber}}</h2>
  <div class="buttons-container">
    <button
      ui-sref="root.backend.accounting.transactions.add({invoiceNumber: ctrl.invoiceNumber})">Add payment</button>
    <button ng-click="ctrl.onPaymentDelete()" ng-disabled="ctrl.rowsSelected.length == 0"
            ng-class="{'disabled': ctrl.rowsSelected.length == 0}">Remove payments</button>
    <a class="button" ui-sref="root.backend.accounting.dunning.overdue">Back to Dunnings</a>
  </div>
  <div ui-grid="ctrl.gridConfiguration" ui-grid-selection
       ng-show="ctrl.payments.length > 0" class="grid"></div>
</div>
