<div class="container panel panel-default">
  <div class="panel-heading">{{ 'KGA_EMPLOYEE_NAME' | translate }}</div>
  <div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="saveClicked()">
      <formly-form [form]="form" [fields]="fieldsParent" [model]="employee" [options]="options">
        <div class="buttons">
          <div class="left">
            <button [routerLink]="'../list'" mat-raised-button color="accent" type="button">
              {{ 'BUTTON_BACK' | translate }}
            </button>
          </div>
          <div class="right">
            <button mat-raised-button color="primary" type="submit">
              {{ 'BUTTON_SAVE' | translate }}
            </button>
          </div>
        </div>
      </formly-form>
    </form>
  </div>
</div>
