<div ng-click="$ctrl.handleClick()">
  <div class="idea-img">
    <div class="img-border"></div>
    <img ng-src="{{ $ctrl.item.imageUrl }}" alt="" class="preview">
    <div class="info-heart"
         ng-click="$ctrl.handleHeartClick(); $event.stopPropagation();">
      <i class="fa" ng-class="{
      'fa-heart': $ctrl.item.hasHeart,
      'fa-heart-o' : !$ctrl.item.hasHeart
      }"></i>
    </div>
    <div class="idea-active">
      <div class="idea-circle"></div>
    </div>
  </div>
  <div class="desc">{{ $ctrl.item.title | lineClamp : 55 }}</div>
  <div
    class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small"
  >{{ $ctrl.item.description }}</div>
</div>
