<div class="translation-popup">
  <div class="modal-header">
    <label>Translation</label>
  </div>

  <div class="modal-body">
    <form name="editWordForm" ng-submit="ctrl.changeTranslation()">
    <tabset>
      <tab>
        <tab-heading>
          <label>Main</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/form.html'"></div>
      </tab>
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-comment"></i>
          <label>Comments</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/comments.html'"></div>
      </tab>
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-time"></i>
          <label>History</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/history.html'"></div>
      </tab>
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-list"></i>
          <label>Occurrences</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/occurrences.html'"></div>
      </tab>
    </tabset>
    <div class="buttons">
      <div class="col-sm-30">
        <button type="button" ng-click="ctrl.cancel()" class="cancel">Cancel</button>
      </div>
      <div class="col-sm-30">
        <button type="submit" class="login">Save</button>
      </div>
    </div>
    </form>
  </div>
</div>
