body div.planner,
body div.colorSelector {
  @cyan: #00acc1;
  @teal: #00897b;
  @green: #0a8f08;
  @lightGreen: #7cb342;
  @lime: #c0ca33;
  @deepOrange: #f4211e;
  @red: #dd191d;
  @pink: #d81b60;
  @purple: #8e24aa;
  @deepPurple: #5e35b1;
  @orange: #fb8c00;
  @amber: #ffb300;
  @blue: #4e6cef;
  @lightBlue: #039be5;
  @indigo: #3949ab;
  @kigaPlan: #4085c6;

  @cyanColors: #00acc1, #33bdcf, #66cddb, #99dee7, #cceef3;
  @tealColors: #00897b, #33a195, #66b9b0, #99d0ca, #cce8e5;
  @greenColors: #0a8f08, #33a733, #66bd66, #99d399, #cce9cc;
  @lightGreenColors: #7cb342, #9bc262, #b7d18d, #d1e1b5, #e8f0dc;
  @limeColors: #c0ca33, #cdd549, #d9e076, #e6eaa4, #f2f5d1;
  @deepOrangeColors: #f4211e, #f94939, #fa776b, #fca49c, #fdd2ce;
  @redColors: #dd191d, #e5423d, #ec716e, #f3a19e, #f9d0cf;
  @pinkColors: #d81b60, #e1417e, #e9719f, #f1a1bf, #f8d0df;
  @purpleColors: #8e24aa, #a547bd, #bc74cd, #d2a3de, #e9d1ee;
  @deepPurpleColors: #5e35b1, #7e58c3, #9e82d2, #bface1, #dfd5f0;
  @orangeColors: #fb8c00, #fda433, #febb66, #fed199, #ffe8cc;
  @amberColors: #ffb300, #ffc333, #ffd266, #ffe199, #fff0cc;
  @blueColors: #4e6cef, #7085f5, #94a4f8, #b7c3fa, #dbe1fd;
  @lightBlueColors: #039be5, #33aded, #66c2f1, #99d6f6, #ccebfa;
  @indigoColors: #3949ab, #606bbe, #888fce, #afb5df, #d7daef;
  @kigaPlanColors: #4085c6, #669dd1, #8cb6dd, #b3cee8, #d9e7f4;

  @colors: 'cyan', 'teal', 'green', 'lightGreen', 'lime', 'deepOrange', 'red', 'pink', 'purple',
    'deepPurple', 'orange', 'amber', 'blue', 'lightBlue', 'indigo', 'kigaPlan';

  /* monthly and yearly */
  .monthlyYearly(@color) {
    .babyblue-scheme {
      div.year ul.@{color} {
        li.notInMonth {
          background-color: #ababab;
          color: white;
        }
        li.plannedOnDay {
          background-color: @@color;
          color: white;
        }
        li.notPlannedOnDay {
          background-color: @@color;
          color: white;
          /*div.frame span {
            background-color: white;
          }*/
        }

        div.planTitle {
          li.desc,
          li.date {
            background-color: @@color;
          }
          div.@{color} {
            background-color: @@color;
            color: white;
            border-color: @@color;
          }
        }
      }
    }
  }

  .for(@colors);
  .-each(@color) {
    @name: e(@color);
    @colorsName: '@{name}Colors';

    @color-100: extract(@@colorsName, 1);
    @color-80: extract(@@colorsName, 2);
    @color-60: extract(@@colorsName, 3);
    @color-40: extract(@@colorsName, 4);
    @color-20: extract(@@colorsName, 5);

    button.@{name} {
      background-color: @@name;
      color: white;
    }
    .modal .modal-content button.@{name} {
      background-color: @@name;
    }

    div.babyblue-scheme div.planDetail.@{name} {
      section.plan-section {
        nav {
          border-color: #ffffff;
          div.box {
            background-color: @color-60;
          }
          div.title {
            border-color: @color-60;
            a.btn-prev,
            a.btn-next {
              background-color: @color-60;
            }
            div.box {
              background-color: @color-60;
            }
          }
          div.print {
            button {
              border-color: @@name;
            }
          }
          div.small a {
            border-color: @@name;
          }
        }
      }

      section.program-section {
        border-color: #ffffff;
        header {
          background-color: @@name;
        }
        section.programs {
          div.toggleShowItems > div > div {
            border-color: @@name;
            > div {
              border-color: @@name;
              h2 {
                color: @@name;
              }
            }
          }

          .column-3-wrapper,
          .column-1-wrapper {
            .dayCol:nth-child(even) {
              .columns-3,
              .columns-1 {
                .item-placeholder:nth-child(odd) .event {
                  background-color: @color-20;
                }
                .item-placeholder:nth-child(even) .event {
                  background-color: @color-40;
                }
              }
            }
            .dayCol:nth-child(odd) {
              .columns-3,
              .columns-1 {
                .item-placeholder:nth-child(even) .event {
                  background-color: @color-20;
                }
                .item-placeholder:nth-child(odd) .event {
                  background-color: @color-40;
                }
              }
            }
          }

          .columns-full {
            .dayCol {
              &:nth-child(odd) {
                .item-placeholder:nth-child(odd) {
                  .event:not(.comment-inner) {
                    background-color: @color-20;
                  }
                  &.item-droppable-active .event {
                    background-color: lighten(@color-20, 10%);
                  }
                }
                .item-placeholder:nth-child(even) {
                  .event:not(.comment-inner) {
                    background-color: @color-40;
                  }
                  &.item-droppable-active .event {
                    background-color: lighten(@color-40, 10%);
                  }
                }
              }
              &:nth-child(even) {
                .item-placeholder:nth-child(odd) {
                  .event:not(.comment-inner) {
                    background-color: @color-40;
                  }
                  &.item-droppable-active .event {
                    background-color: lighten(@color-40, 10%);
                  }
                }
                .item-placeholder:nth-child(even) {
                  .event:not(.comment-inner) {
                    background-color: @color-20;
                  }
                  &.item-droppable-active .event {
                    background-color: lighten(@color-20, 10%);
                  }
                }
              }
            }
          }

          div.dayCol {
            > div {
              border-color: @@name;
            }
            a.btn {
              border-color: @@name;
              color: @@name;
              h2 {
                color: @@name;
              }
              i.ico:before {
                color: @@name;
              }
            }
            div.box {
              h2 {
                color: white;
              }
            }

            div.holder {
              border-color: @@name;
            }

            div.comment div.wrapper > div {
              border-color: @@name;
            }
          }

          div.box {
            border-color: @@name;
            h2 {
              color: @@name;
            }
          }
        }
      }
    }

    div.circle.@{name} {
      background: @@name;
    }

    .monthlyYearly(@name);
  }
}
