@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';

button.btn.btn-datepicker {
  margin: 0;
  width: 34px;
  height: 34px;
  background: #0e4e9f !important;
}

.btn-icon {
  line-height: 33px;
  height: 38px;
  span.glyphicon {
    vertical-align: middle;
    position: static;
    display: inline;
    font-size: 23px;
  }
  .text {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}
