div.datepicker {
  ul.dropdown-menu
    table
    button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
    &.btn {
      background-color: @white;
      height: auto;
      width: 30px;
      color: @darkGrey;
      border: 1px solid @grey;
      font-size: 14px;
      margin: 0;
      border-radius: 0;
    }
    &.btn-sm {
      background-color: @white;
    }
    &.btn-default {
      background-color: @white;
    }
  }
  .input-group-addon {
    cursor: pointer;
  }
}

/* Today */
div.datepicker
  button.btn.btn-sm.btn-info.ng-binding:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @orange;
  height: 40px;
  width: 60px;
  border-radius: 3px;
}

/* Weeks*/
div.datepicker
  button.btn.btn-sm.btn-default.ng-binding:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @green;
  height: 40px;
  width: 60px;
  border-radius: 3px;
}

/* Clear */
div.datepicker
  button.btn.btn-sm.btn-danger.ng-binding:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @darkGrey;
  height: 40px;
  width: 60px;
  border-radius: 3px;
}

/* Done */
div.datepicker
  button.btn.btn-sm.btn-success.ng-binding:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @lightGrey;
  height: 40px;
  width: 60px;
  border-radius: 3px;
}
/*End of buttons */

/*Start of month Selection */
div.datepicker
  ul.dropdown-menu
  table
  button.btn-block:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @lightGrey;
  height: 40px;
  width: 200px;
  font-size: 16px;
  padding: 0;
}

div.datepicker
  ul.dropdown-menu
  table
  button.pull-left:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @lightGrey;
  height: 40px;
  width: 40px;
  font-size: 16px;
}
div.datepicker
  ul.dropdown-menu
  table
  button.pull-right:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  background-color: @lightGrey;
  height: 40px;
  width: 40px;
  font-size: 16px;
}

div.datepicker
  button.btn:hover:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
  backgrond-color: @lightGrey;
}
