.edit-item-note {
  padding: 30px 0;
  form.two-col div.col-1 {
    width: 70%;
    .editor-content {
      min-height: 200px;
    }
  }
  form.two-col div.col-2.col-2 {
    width: 30%;
    padding-left: (275px - 150px) / 2;
    padding-top: 22px;
  }

  .item-holder {
    border: 1px solid #b0b0b0;
  }

  .item-vertical {
    width: 150px;

    .specification {
      margin: 0 1px;
    }
    figcaption {
      padding-bottom: 1px;
    }
  }

  .item-horizontal {
    display: none;
    .planned-item figure .specification {
      left: 2px;
    }
  }
}

@media (max-width: 629px) {
  .edit-item-note {
    form.two-col div.col-1 {
      width: 100%;
    }
    form.two-col div.col-2.col-2 {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
    }
    .item-horizontal {
      display: block;
    }
    .item-vertical {
      display: none;
    }
  }
}
