.item-menu() {
  background: #ffffff;
  .item-view {
    cursor: pointer;
    height: 62px;
    background: #b0b0b0 50% 50% url(../images/elements/view-item.png) no-repeat;
  }

  .row:first-child {
    margin-bottom: 2px;
  }

  .item-edit,
  .item-remove {
    cursor: pointer;
    height: 63px;
  }

  .item-newsletter {
    cursor: pointer;
    height: 63px;
    color: white;
    font-size: 45px;
    text-align: center;
    background: @kigaPlan;
    border: 1px solid white;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }

  .item-edit {
    border-right: 1px solid white;
    background: #5ab08a 50% 50% url(../images/elements/edit-item.png) no-repeat;
  }

  .item-remove {
    border-left: 1px solid white;
    background: #b0b0b0 50% 50% url(../images/elements/remove-item.png) no-repeat;
  }
}

.item-horizontal() {
  figure {
    display: table;
    width: 100%;
    background: white;
    border-collapse: collapse;
    &.row {
      margin: 0;
    }
    .img-holder,
    figcaption {
      min-height: 0;
      display: table-cell;
      vertical-align: top;
    }

    .img-holder {
      border-right: 1px solid white;
    }

    figcaption {
      border-left: 1px solid white;
      position: relative;
    }

    .info {
      padding-bottom: 45px;
      position: relative;
      h5 {
        height: auto;
      }
    }
    .specification {
      position: absolute;
      left: 1px;
      right: 1px;
      bottom: 1px;
      margin: 0;
    }
  }
}

.columns-1 .planned-item {
  .item-horizontal();
}

.planned-item {
  &.event {
    background: #b0b0b0 !important;
  }
  .img-holder {
    position: relative;
    img {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  .item-menu-img {
    width: 42px;
    height: 41px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: url(../images/elements/item-menu.png) no-repeat;
  }

  figcaption {
    min-height: 127px;
    background-color: #b0b0b0;
  }

  .info {
    padding-bottom: 2px;
    h5 {
      padding: 8px 7px;
      margin-top: 0;
      color: white;
      height: 79px;
    }
  }

  .item-menu {
    .item-menu();
  }
}

.specification {
  overflow: hidden;
  margin: 0 2px;
  position: relative;
  padding: 6px 4px 5px;
  letter-spacing: -4px;
  background: #fff;
  color: #b0b0b0;
  .category {
    font: @font-size-tiny / @line-height-tiny @baseFontFamily;
    display: inline-block;
    height: 26px;
    letter-spacing: 0;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    width: 86%;
    span {
      display: block;
    }
  }
  .age {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    font: @title-weight @font-size-small @baseFontFamily;
    width: 13%;
  }
}
