@import 'colors';
@import '../../vars';
@import 'forms';

div.planner div.weekly {
  @import 'planWeekly';
}

div.planAddArticle {
  margin: 10px;
  border: 2px solid @kigaPlan;
  a {
    padding: 9px 0;
    color: @kigaPlan;
    text-decoration: none;
    display: block;
    i {
      vertical-align: middle;
      font-size: 27px;
    }
  }
  a:hover {
    background: @kigaPlan;
    border-color: @kigaPlan;
    color: white;
    text-decoration: none;
    strong.ico-box {
      i.ico.meine {
        background-position: -572px -1px;
      }
    }
  }
}

div.articlePreview {
  strong.ico-box {
    margin: -17px 0 -10px;
    position: relative;
    background-color: @kigaPlan;
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 16px;
    overflow: hidden;
    i.ico.meine {
      width: 31px;
      height: 32px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }
}

div.articleRightMenu {
  div.articlePreview {
    width: 190px;
    text-align: center;
    div.planAddArticle {
      margin: 0;
    }
  }
}

div.newPlan {
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  a.button {
    background-color: @memberPlan;
  }
}

div.planner textarea.comment {
  width: 100%;
  height: 100px;
}
