@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';

@media only screen and (min-width: 1120px) {
  .seven-columns {
    .days li {
      width: 12.5%;
    }
    .calendar-list .desc {
      width: 52%;
    }
    .calendar-list .date {
      width: 18.6667%;
    }
    .col-xlg-10 {
      width: 14.2857%;
    }
    .col-xlg-20 {
      width: 28.5714%;
    }
  }
}

@media only screen and (max-width: 1119px) {
  .calendar-list {
    .date {
      font-size: 10px;
    }
  }

  .plan-section {
    .nav .title {
      &.has-right {
        padding-right: 49px;
      }
    }
  }
}
@media only screen and (max-width: 999px) {
  .logo {
    width: 301px;
    height: 143px;
    background-position: 0 -165px;
  }
  .program-section {
    .day-off {
      min-height: 161px;
    }
  }
}
@media only screen and (max-width: 959px) {
  #header {
    .user-box {
      .options {
        overflow: hidden;
        padding: 9px 0;
        li {
          margin: 0 0 0 -1px;
        }
      }
    }
  }
  .year {
    .monthly {
      .calendar-list {
        .desc {
          width: 60%;
        }
      }
    }
  }
  #calendar {
    &.month {
      .desc {
        width: 60%;
      }
    }
  }
  .program-section {
    &.drucken {
      .programs .row > div + div {
        .event {
          padding: 0 0 0 47px;
        }
        .checkboxArea,
        .checkboxAreaChecked {
          left: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 799px) {
  .logo {
    margin: 0 0 0 -10px;
  }
  #header {
    .holder {
      padding: 0 0 26px;
    }
  }
  .top-bar {
    margin: 0;
  }
  .search-box {
    position: absolute;
    top: 119px;
    right: 38.5%;
    .search-form {
      position: absolute;
      top: 0;
      left: -129px;
      .text {
        background: #fff;
        border: 2px solid #6e6f71;
        box-shadow: none;
        width: 120px;
      }
      .list {
        display: none;
      }
      input[type='submit'] {
        width: 36px;
        height: 36px;
        background-position: -577px -95px;
      }
      input[type='text'] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        color: #6e6f71;
        padding: 6px 5px 8px;
        font: 14px Verdana, Helvetica, sans-serif;
      }
    }
    .opener {
      background-position: -577px -95px;
      height: 36px;
      width: 36px;
    }
  }
  .program-section {
    .heading {
      h2 {
        strong {
          display: block;
        }
      }
    }
    .day .planned-item {
      figure {
        figcaption {
          a {
            h2 {
              height: 36px;
              margin: 0;
            }
          }
        }
      }
    }
    .day > div,
    .toggleShowItems .event > div {
      border-bottom: 8px solid black;
      margin-bottom: 2px;
    }
    .toggleShowItems .event.day-off {
      margin-bottom: 0;
      .box {
        margin-bottom: 2px;
      }
    }
    .date {
      text-align: left;
      padding: 12px 13px 12px;
    }
    .img-holder {
      margin: 0;
    }
    .specification {
      height: auto;
    }
    .day-off {
      .holder {
        height: 96px;
      }
      &.alt {
        .holder {
          height: 96px;
        }
      }
      min-height: 96px;
      .box {
        &.small {
          .holder {
            height: 96px;
          }
        }
      }
    }
    div.itemRow {
      .buttons {
        .notizen {
          margin-bottom: 0;
        }
        a,
        a.btn-icon {
          white-space: normal;
          height: 100%;
        }
      }
    }
    .programs div.noItemRow {
      .notizen {
        margin-bottom: 0;
        a.btn-icon {
          height: 45px;
          line-height: 40px;
        }
      }
      a.date {
        font-size: 14px;
        padding: 12px 0 13px;
      }
    }
  }
  .seven-columns {
    .program-section {
      .event {
        .btn-idea {
          float: left;
          height: 101px;
          padding: 0 0 0 2px;
          width: 33.333%;
          .holder {
            border: 2px solid transparent;
            display: table;
            height: 100%;
            vertical-align: middle;
            width: 100%;
          }
          .frame {
            display: table-cell;
            vertical-align: middle;
            width: 1005px;
          }
          h2 {
            font: @title-weight @font-size-great / @line-height-normal @baseFontFamily;
            margin: 0;
            padding: 0 28px;
            text-align: center;
          }
        }
      }
      .specification {
        padding: 12px 4px;
      }
      .day-off {
        margin-bottom: 2px;
      }
    }
  }
  .year .monthly {
    .calendar-list {
      .desc {
        width: 50%;
      }
    }
  }
  #calendar {
    &.month {
      .desc {
        width: 50%;
      }
    }
  }
}
@media only screen and (max-width: 639px) {
  #header {
    .holder {
      padding-bottom: 35px;
    }
    .top-bar {
      margin: 0;
      position: absolute;
      right: 56%;
      top: 6px;
      .language-list {
        min-width: 75px;
        font: @title-weight @font-size-base @ArialFontFamily;
        li {
          margin: 0;
          padding: 0 5px 0 11px;
          &:first-child {
            background: none;
          }
          &.active {
            a {
              border-color: #646567;
            }
          }
          a {
            text-decoration: none;
            border-bottom: 2px solid transparent;
            &:hover {
              border-color: #646567;
            }
          }
        }
      }
      .search-box {
        top: 50px;
        right: 0;
        z-index: 2;
        border-right: 2px solid #fff;
      }
      .search-form {
        left: -116px;
        .text {
          width: 108px;
        }
        input[type='submit'] {
          margin: 0 0 0 8px;
          position: relative;
        }
      }
    }
  }
  .logo {
    background-position: -305px -165px;
    height: 73px;
    margin: 0;
    width: 167px;
  }

  .program-section {
    .heading {
      h2 {
        margin: 0 -19px 0 0;
        padding: 0;
        width: 100%;
        text-overflow: ellipsis;
        strong {
          display: block;
        }
      }
    }
    figure {
      overflow: hidden;
    }
    .img-holder {
      float: none;
      max-width: 100%;
      padding: 0;
    }
    figcaption {
      float: none;
    }
    .specification {
      height: auto;
      padding: 7px 4px 7px 4px;
      .category {
        height: 30px;
      }
    }

    .columns-3 {
      .item-placeholder {
        .event {
          min-height: 193px;
        }
        &.no-items .event {
          min-height: 95px;
        }
      }
    }

    .event.day-off {
      .holder {
        height: 96px;
      }
      .box {
        &.small {
          .holder {
            height: 91px;
          }
        }
      }
    }
    div.itemRow {
      .buttons {
        h2,
        p {
          font-size: 12px;
        }
        span.glyphicon {
          font-size: 18px;
        }
      }
    }
  }

  .seven-columns {
    .program-section {
      .event {
        .btn-idea {
          height: 100px;
        }
      }
      .day-off {
        margin: 0 0 2px;
      }
    }
  }
  .calendar-list,
  #calendar.month {
    .desc {
      width: 50%;
    }
    .date {
      display: none;
    }
  }
  .year .monthly {
    .calendar-list {
      .desc {
        width: 50%;
      }
    }
  }
  #footer {
    .nav {
      ul {
        li {
          padding: 5px 10px;
        }
      }
    }
  }

  .plan-section {
    .nav .title {
      padding-right: 0;
      &.has-right {
        padding-right: 47px;
      }
    }
  }
}
@media only screen and (min-width: 800px) {
  .top-bar {
    .search-box {
      .opener {
        display: none;
      }
      .search-form {
        left: 0 !important;
        position: static !important;
        top: 0 !important;
      }
    }
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .logo {
    width: 301px;
    height: 143px;
    background-position: 0 -165px;
  }
  #header {
    .user-box {
      .options {
        overflow: hidden;
        padding: 9px 0;
        li {
          margin: 0 0 0 -1px;
        }
      }
    }
    .col-xs-5 {
      padding-left: 0;
    }
  }
  .main-tabset .col-sm-2,
  .main-nav .col-sm-2 {
    width: 33.3%;
  }
  .nav {
    .col-sm-5 {
      width: 66.6%;
      &.small {
        width: 33.3%;
        padding: 0 0 0 1px;
      }
    }
  }
  .plan-section {
    .col-sm-5.small {
      .btn {
        padding: 10px 11px 7px;
      }
    }
    .heading {
      h2 {
        strong {
          display: block;
        }
      }
    }
  }
  .program-section {
    .col-sm-3 {
      width: 33.3%;
    }

    .programs {
      .col-sm-3 {
        display: inline-block;
        float: none;
        vertical-align: top;
        margin: 0 -4px 0 0;
        position: relative;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .planned-item figcaption.item-menu {
    .item-view,
    .item-remove {
      height: 71px;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 799px) {
  section.kiga-plan {
    .planned-item {
      figure > a {
        width: 50%;
        float: left;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .modal .modal-dialog {
    padding: 0;
  }
  #header {
    .box {
      padding-left: 0;
    }
  }
  #footer {
    font-size: 9px;
  }
}
@media only screen and (max-width: 479px) {
  .logo {
    background-position: -475px -165px;
    height: 73px;
    width: 133px;
  }

  .modal {
    .modal-dialog {
      width: 100%;
      padding: 0;
    }
    .sticker-list {
      padding: 17px 0 0;
    }
    .btn {
      font-size: @font-size-small;
    }
    .datepicker {
      .holder {
        input[type='text'] {
          width: 113px;
        }
      }
    }
    label {
      margin: 0;
      width: 140px;
    }
    select {
      width: 147px;
    }
  }
  .main-tabset {
    .col-xs-20 {
      width: 50%;
    }
  }
  .main-nav {
    .col-xs-20 {
      width: 50%;
    }
  }
  section.kiga-plan {
    .planned-item {
      figure > a {
        width: 50%;
        float: left;
      }
    }
  }
  .plan-section .nav {
    .title {
      margin-right: 1px;
      margin-left: 1px;
      &.has-right {
        padding-right: 46px;
      }
      &.has-left {
        padding-left: 46px;
      }
    }
  }
  .program-section {
    .heading {
      padding: 15px 28px 18px 24px;
      div {
        white-space: nowrap;
      }
      i {
        padding-right: 3px;
      }
      .weekly {
        text-align: right;
      }
    }

    .item-placeholder {
      padding: 0;
      .event.event {
        min-height: 0;
      }
    }

    .date {
      font-size: 16px;
      padding: 10px 13px;
      text-align: center;
    }
    .programs {
      .col-xs-20 {
        width: 100%;
      }
      .col-xx-30 {
        width: 50%;
      }
    }
    .img-holder {
      margin: 0;
    }
    figcaption {
      padding: 5px 7px 2px;
      h2 {
        line-height: 16px;
        margin: 0 0 10px;
        height: 48px;
      }
    }

    .specification {
      .category {
        line-height: 15px;
      }
    }

    .event {
      &.day-off .holder {
        height: 45px;
      }
    }
  }
  .seven-columns {
    .program-section {
      .date {
        margin: 0 0 2px;
      }
      .add-member-idea {
        border-left: none;
      }
      .event {
        margin: 0 0 2px;
        & > a {
          padding: 0;
          width: auto;
        }
        .btn-idea {
          display: none;
        }
      }
      .specification {
        padding: 7px 4px;
      }
      .day-off {
        margin-bottom: 2px;
      }
    }
  }
  .btn {
    font-size: 14px;
  }
  .nav-section {
    padding: 13px 0 23px;
  }
  .main-tabset {
    ul {
      li {
        .btn {
          padding: 5px 0 4px;
        }
        &.active {
          .btn {
            padding: 5px 0 6px;
          }
        }
      }
    }
  }
  .main-nav {
    ul {
      .btn {
        padding: 12px 0 13px;
      }
    }
  }
  .monthly {
    .calendar-list {
      .desc {
        display: none;
      }
      ul {
        li,
        li:first-child {
          width: 12.5%;
        }
      }
    }
    .days {
      li,
      li:first-child {
        width: 12.5%;
      }
    }
  }
}
