@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';

.nav-section {
  width: 100%;
  padding: 10px 0 20px;
}

/* main tabset styles start */
.main-tabset {
  width: 100%;
  ul {
    padding: 0 0 2px;
    margin: 0;
    position: relative;
    list-style: none;
    overflow: hidden;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      .btn {
        padding: 4px 0;
      }
      &:hover,
      &.active {
        .btn {
          /*					margin:0 0 -2px;*/
          .ico-box {
            background-color: transparent;
            .ico.meine {
              background-position: -572px -1px;
            }
            .ico.kiga {
              background-position: -607px -1px;
            }
          }
        }
      }
      &.active {
        .btn {
          padding: 4px 0 6px;
        }
      }
    }
  }
}

/* main tabset styles end */
/* main nav styles start */
.main-nav {
  width: 100%;
  padding: 2px 0 0;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    overflow: hidden;
    text-align: right;
    li {
      float: right;
      position: relative;
    }
    .btn {
      padding: 11px 0 13px;
    }
  }
}

/* main nav styles end */
