@import 'common.less';
@import 'main.less';
@import 'media.less';
@import 'nav-section.less';
@import 'popups.less';
@import 'theme.less';

@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';
@import '../components/planManager/planManager.less';

@import 'item';

/* utilities start */
@import 'reset.less';
@import 'ui.less';
/* utilities end */

.kigaplan-scheme {
  .scheme(@kigaPlan);
}

.memberplan-scheme {
  .scheme(@memberPlan);
}

.kiga-plan {
  .day-top-buttons {
    .add-member-idea {
      visibility: hidden;
    }
  }
}

header ul.nav li.sub-menu-planner a {
  padding-top: 9px;
  padding-bottom: 9px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  i:before {
    font-size: 26px;
  }
}

/* plan section styles start */
.plan-section {
  position: relative;
  .nav {
    margin: 0 0 2px;
    position: relative;
    border-bottom: 8px solid transparent;
    .print {
      .btn {
        width: 100%;
      }
      ul {
        width: 100%;
        margin: 0;
        padding: 0;
        li a.btn {
          border-width: 0;
        }
      }
    }
    button {
      height: auto;
    }
    .btn {
      background: #b0b0b0;
      border: none;
      color: white;
      height: 38px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        background: #b0b0b0;
        border: none;
      }
      .ico-box {
        margin: -17px 0 -10px;
        position: relative;
        overflow: hidden;
      }
      .icon:before {
        margin-top: -5px;
      }
      &:hover .ico.meine {
        background-position: -572px -1px;
      }
    }
    .btn.small.btn-icon {
      padding: 0;
      line-height: 33px;
    }

    .btn-container {
      margin-bottom: 2px;
      float: right;
    }
  }
  .title {
    overflow: hidden;
    padding: 0;
    margin-bottom: 2px;

    &.has-left {
      padding-left: 47px;
    }

    &.has-right {
      padding-right: 47px;
    }

    .btn-prev,
    .btn-next {
      width: 45px;
      height: 38px;
      text-indent: -9999px;
      overflow: hidden;
      background: #b0b0b0 50% 50% no-repeat;
      position: relative;
    }
    .btn-prev {
      background-image: url(../images/elements/arrow-left.png);
      float: left;
      margin: 0 0 0 -46px;
    }
    .btn-next {
      background-image: url(../images/elements/arrow-right.png);
      float: right;
      margin: 0 -46px 0 0;
    }
    .box {
      float: left;
      width: 100%;
      text-align: center;
      font: @title-weight @font-size-base @baseFontFamily;
      height: 38px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.year-monthly {
    div.title div.box {
      span {
        vertical-align: middle;
        font-size: 20px;
      }
    }
  }
}
/* plan section styles start */
/* program section styles start */
.program-section {
  position: relative;
  padding: 0 0 1px;
  .programs {
    /*overflow: hidden;*/
    width: 100%;
    .editor-unit {
      padding: 0 1px;
    }
    .notizen {
      margin-bottom: 2px;
      a {
        display: block;
        text-decoration: none;
        &.active .date {
          color: #fff;
        }
      }
      a.btn-icon {
        padding: 0;
        height: 48px;
        line-height: 43px;
        font-size: 14px;
      }
    }
  }
  &.drucken {
    .programs {
      overflow: hidden;
    }
    .item-horizontal();
    figure {
      margin-right: 4px;
      width: auto;
    }
    .img-holder,
    figcaption {
      width: 50%;
    }
    .btn-holder {
      margin-top: 11px;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      &.alt {
        padding: 0 61px 8px 0;
      }
      .btn {
        display: inline-block;
        /*overflow: hidden;*/
        padding: 12px 0 13px;
        /*text-overflow: ellipsis;*/
        vertical-align: middle;
        /*white-space: nowrap;*/
      }
      .checkboxArea,
      .checkboxAreaChecked {
        left: auto;
        right: 14px;
        top: 0;
      }
    }
    .event {
      padding: 0 55px 0 0;
      position: relative;
      input[type='checkbox'] {
        left: 0;
        position: absolute;
        top: 37px;
      }
      .checkboxArea,
      .checkboxAreaChecked {
        left: auto;
        right: 12px;
      }
    }
    .programs .row > div + div {
      text-align: right;
      .event {
        padding: 0 0 0 60px;
      }
      .checkboxArea,
      .checkboxAreaChecked {
        left: 13px;
      }
    }
  }
  .programs .row > div {
    div.buttons {
      margin: 0;
    }
  }

  .item-droppable-active {
    .box-shadow(0 0 3px black);
  }

  .event {
    margin-bottom: 2px;
    overflow: hidden;
    a {
      text-decoration: none;
    }
  }
  .heading {
    padding: 0px 9px 0px 14px;
    overflow: hidden;
    margin: 0 0 2px 0;
    white-space: nowrap;
    &.first {
      padding-top: 10px;
      padding-bottom: 10px;
      .weekly {
        padding-top: 6px;
      }
    }
    .plan-title {
      white-space: nowrap;
      overflow: hidden;
    }
    .ico-holder {
      float: left;
      margin: -6px 10px -6px -8px;
      position: relative;
      img {
        display: none;
      }
    }
    h2 {
      display: inline-block;
      vertical-align: middle;
      font: @font-size-big / @line-height-normal @baseFontFamily;
      color: #fff;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      strong {
        font-weight: @title-weight;
      }
    }
    .weekly {
      font: @font-size-big / @line-height-computed @baseFontFamily;
      float: right;
      color: #fff;
      text-transform: uppercase;
      span {
        font-weight: @title-weight;
        margin: 0 0 0 6px;
      }
    }
  }
  .dayCol.inPast {
    opacity: 0.5;
  }
  .date {
    font: @title-weight @font-size-great @baseFontFamily;
    text-align: center;
    display: block;
    padding: 12px 0 11px;
    position: relative;
    overflow: hidden;
    border: 1px solid #b0b0b0;
    margin-bottom: 2px;
    color: #b0b0b0;
    span {
      margin: 0 5px 0 12px;
    }
    i {
      position: absolute;
      font-size: 30px;
      top: 5px;
      right: 5%;
    }
    .icon {
      font-size: 30px;
    }
  }
  figure {
    overflow: hidden;
    > a {
      display: block;
    }
  }
  figcaption {
    padding: 0;
    a {
      display: block;
      h2 {
        font: @font-size-base / @line-height-computed @baseFontFamily;
        text-align: center;
        color: #fff;
        margin: 0;
        margin: 0 0 8px;
        height: 37px;
        overflow: hidden;
      }
    }
  }

  .day-off,
  .show-items-in-past {
    .holder {
      display: table;
      vertical-align: middle;
      width: 100%;
    }
    .frame {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    h2 {
      font: @title-weight @font-size-great / @line-height-normal @baseFontFamily;
      margin: 0;
      padding: 0 19px;
    }
  }

  .show-items-in-past {
    .holder {
      height: 44px;
    }
  }

  .item-placeholder {
    .event {
      min-height: 195px;
    }
    .draggable.dragging {
      width: 170px;
    }
    [ng-drop].drag-enter {
      opacity: 0.25;
    }
  }

  .comment {
    div.wrapper {
      display: block;
      > div {
        cursor: pointer;
        vertical-align: middle;
        &.event.day-off {
          max-height: 277.5px;
          background-color: white !important;
          display: block;
          border-width: 2px;
          border-style: solid;
          p {
            padding: 0 0 0 30px;
            text-align: left;
          }
        }
      }
    }
  }

  .day-off {
    .box {
      font: @title-weight @font-size-small / 18px @ArialFontFamily;
      text-align: center;
      &.small {
        margin: 0 0 2px;
        &.last {
          margin-bottom: 0;
        }
        .holder {
          height: 100px;
        }
      }
      a {
        display: block;
      }
    }
    .holder {
      height: 100%;
    }
    p {
      margin: 0;
      padding: 0 5px;
    }
    &.alt {
      min-height: 121px;
      .holder {
        height: 117px;
      }
    }
    .more {
      display: block;
      margin-top: 10px;
    }
  }

  .columns-3,
  .columns-1 {
    .date {
      padding: 0;
    }

    .day-top-buttons {
      &.inPast {
        .date {
          border: none;
        }
      }
    }
    .item-placeholder {
    }
    .day-top-buttons {
      background: none;
    }
    .add-comment {
      border-right: 1px solid white;
    }
  }

  .columns-1 {
    .date {
      line-height: 40px;
      margin-left: 1px;
      margin-right: 1px;
    }
    .planned-item {
      .info h5 {
        min-height: 0;
      }
      &.comment {
        margin-left: 1px;
        margin-right: 1px;
      }
    }
    .item-placeholder {
      margin-left: 1px;
      margin-right: 1px;
      .day-off {
        height: 90px;
      }
    }
  }

  .columns-3 {
    .day-top-buttons {
      .date {
        line-height: 38px;
      }
    }
  }
  .day-top-buttons {
    text-align: center;
    background-color: #b0b0b0;
    margin: 0 0 2px 0;

    .add-member-idea,
    .add-kiga-idea,
    .add-idea {
      &.inPast {
        display: none;
      }
    }

    &.inPast .date {
      border: none;
    }

    .add-idea {
      button {
        background-color: #b0b0b0;
        color: white;
        border: 0;
        width: 100%;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: baseline;
      }
      .glyphicon-plus {
        position: unset;
      }
      ul {
        width: 100%;
        min-width: 0;
        padding: 0;
        margin-top: 0;
        li {
          background-color: #b0b0b0;
          &:hover,
          a:hover {
            background-color: #b0b0b0;
          }
          i {
            color: white;
            font-size: 30px;
          }
        }
      }
    }

    .add-member-idea,
    .add-kiga-idea,
    .add-comment,
    .add-comment {
      color: white;
      padding-top: 5px;
      background-color: #b0b0b0;
    }

    .add-comment {
      border-left: 1px solid white;
      padding-bottom: 5px;
      &.placeholder {
        line-height: 30px;
      }
    }
  }
}

div.copyBottom {
  .clearfix();
  margin-top: 2px;
  div a.button {
    width: 100%;
    padding: 5px 0;
    border-color: @kigaPlan;
    color: @kigaPlan;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    &:hover {
      background: @kigaPlan;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.copyTop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* program section styles start */
/* help styles start */
.help {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 130px;
  position: relative;
  margin: 30px 0 21px;
  figure {
    width: 100%;
  }
  .img-holder {
    width: 101px;
    float: left;
    margin: -8px 0 0 -130px;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  figcaption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 22px 28px 11px 22px;
    line-height: @line-height-big;
    position: relative;
    @shadow: inset 0 0 0 1px #f0f0f0;
    .box-shadow(@shadow);
    .ico {
      width: 15px;
      height: 12px;
      background: @baseSpritePath no-repeat -418px -22px;
      position: absolute;
      top: 35px;
      left: -14px;
    }
  }
}
/* help styles end */
/* calendar styles start */
#calendar {
  font: @title-weight @font-size-great @baseFontFamily;
  width: 100%;
  margin: 0 0 54px;
  &.month {
    border-bottom: 7px solid transparent;
    .desc {
      padding: 14px 20px 5px 14px;
      font-weight: @title-weight;
      overflow: hidden;
      h2 {
        font: inherit;
        margin: 0;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .date {
      font-style: normal;
      float: right;
    }
  }
}
.monthly {
  .heading {
    margin: 0 0 2px;
    padding: 13px 14px 10px;
    h2 {
      margin: 0;
      font: @title-weight @font-size-great @baseFontFamily;
    }
  }
}
.days {
  @media (min-width: @screen-lsm) and (max-width: @screen-md-min) {
    width: 175%;
  }
  @media (min-width: @screen-md) and (max-width: @screen-lmd-min) {
    width: 180%;
  }
  @media (min-width: @screen-lmd) and (max-width: @screen-lg-min) {
    width: 215%;
  }
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  li {
    float: left;
    width: 12.5%;
    height: 45px;
    position: relative;
    border-left: 2px solid #fff;
    @media (min-width: 561px) and (max-width: @screen-md-min) {
      height: 50px;
    }
    @media (min-width: @screen-md) and (max-width: 700px) {
      height: 55px;
    }
    @media (min-width: 701px) and (max-width: @screen-lmd-min) {
      height: 60px;
    }
    @media (min-width: @screen-lmd) and (max-width: 830px) {
      height: 65px;
    }
    @media (min-width: 831px) and (max-width: @screen-lg-min) {
      height: 70px;
    }
    span {
      padding: 12px 0 0;
      position: absolute;
      border: 2px solid transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @media (min-width: 561px) and (max-width: @screen-md-min) {
        padding: 14px 0 0;
      }
      @media (min-width: @screen-md) and (max-width: 700px) {
        padding: 16px 0 0;
      }
      @media (min-width: 701px) and (max-width: @screen-lmd-min) {
        padding: 18px 0 0;
      }
      @media (min-width: @screen-lmd) and (max-width: 830px) {
        padding: 24px 0 0;
      }
      @media (min-width: 831px) and (max-width: @screen-lg-min) {
        padding: 26px 0 0;
      }
    }
    &:first-child {
      border: 0;
    }
  }
}
.calendar-list {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  color: #fff;
  a {
    color: #fff;
  }
}

/* calendar styles end */
