div.mce-container-body {
  background-color: #d7d7d7;
  & div.mce-btn {
    & button {
      background-color: #f5f5f5 !important;
      width: 50px !important;
    }
  }
  & div.mce-active {
    & i {
      color: #0a0a0a !important;
    }
    & button {
      background-color: white !important;
    }
  }
}
