@import (reference) '../../vars';
@import (reference) './colors';

.add-new-plan {
  .col-1.col-1-first {
    width: 85%;
  }
  .col-2.col-2-first {
    width: 15%;
  }

  .form-group:after {
    content: '';
    display: block;
    clear: both;
  }

  .preview-image {
    margin-top: 22px;
    margin-bottom: 20px;
    height: 110px;
    width: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    .upload-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      input {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: block;
        cursor: pointer;
      }
    }

    .placeholder {
      vertical-align: middle;
      font-size: 30px;
      padding-top: 40px;
      color: white;
    }
  }

  .panel button {
    width: 100%;
  }

  .description-group {
    clear: both;
  }

  &.member {
    .col-1-first {
      width: 100%;
    }
    .col-2-first,
    .description-group,
    .sync-group {
      display: none;
    }
  }

  &.kiga {
    .selection-group {
      display: none;
    }
  }
  .err_msg {
    border: 1px solid @red;
    border-radius: 3px;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    color: @darkGrey;
  }
  &.memberplan-scheme {
    .selection-group {
      .col-1,
      .col-2 {
        width: 50%;
        float: left;
        position: relative;
      }
      .col-1 {
        padding-right: 10px;
      }
      .col-2 {
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 629px) {
  .add-new-plan {
    form.two-col input {
      max-width: none;
    }
    .col-1.col-1-first {
      width: 100%;
    }
    .col-2-first {
      display: none;
    }
  }
}
