@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';

@import '../../vars.less';

/* modal styles start */
.modal.fade .modal-dialog,
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop {
  background: #f1f1f1;
  &.in {
    opacity: 1;
  }
}
.modal {
  .modal-dialog {
    padding: 0;
    width: 320px;
    position: relative;
    &:after {
      border-radius: 100% 100% 100% 100% / 20% 20% 20% 20%;
      -webkit-border-radius: 100% 100% 100% 100% / 20% 20% 20% 20%;
      bottom: 8px;
      .box-shadow(0 9px 14px #bcbcbc);
      right: 23px;
      top: 50%;
      left: 15px;
      content: '';
      position: absolute;
      z-index: -1;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
    }
  }
  .modal-content {
    .scheme(@kigaPlan);
    a.button,
    button {
      padding: 8px 0;
      &.cancel {
        background-color: @darkGrey;
      }
    }
    border: none;
    .box-shadow(none);
    .border-top-radius(0);
    .border-bottom-radius(0);
  }
  .modal-header {
    background: @kigaPlan;
    border: 1px solid #2f76ba;
    padding: 7px 30px 6px 15px;
    position: relative;
    .modal-title {
      font: @title-weight @font-size-great / 27px @baseFontFamily;
      color: #fff;
    }
    button.close {
      width: 24px;
      height: 23px;
      background: @baseSpritePath no-repeat -418px -36px;
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      position: absolute;
      top: 12px;
      right: 8px;
      opacity: 1;
    }
    .ico.kiga,
    .ico.meine {
      margin: -12px 7px -9px 0;
    }
  }
  .modal-body {
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 14px 15px 14px 16px;
    &.alt {
      padding-top: 26px;
    }
    .entry {
      padding: 0 0 6px;
      &.alt {
        padding: 0 0 15px;
      }
    }
    p {
      margin: 0 0 12px;
    }
    .colorSelector a,
    .iconSelector a,
    .previewSelector a {
      text-decoration: none;
    }

    div.iconColorSelector {
      overflow: auto;
      > div {
        width: 50%;
        float: left;
        button {
          width: 100%;
        }
        &.left {
          padding-right: 5px;
        }
        &.right {
          padding-left: 5px;
        }
      }
    }
    div.colorSelector {
      display: block;
      line-height: 34px;
      > a div {
        width: 34px;
        height: 34px;
        border-radius: 17px;
        float: left;
        margin-right: 5px;
      }
    }
    div.iconSelector a.btn {
      margin-top: 5px;
    }

    .iconSelector div.icon {
      font-size: 35px;
      color: @lightGrey;
      vertical-align: center;
    }
  }
  .modal-body.previewSelector img {
    margin: 5px;
  }
}
/* modal styles end */
/* sticker list styles start */
.sticker-list {
  margin: 0 0 14px;
  padding: 17px 17px 0;
  list-style: none;
  overflow: hidden;
  font-size: 35px;
  color: @darkGrey;
  li {
    float: left;
    margin: 0 11px 10px;
    a {
      display: block;
      &:hover div {
        color: @kigaPlan;
      }
    }
  }
}
/* sticker list styles end */
/* color picker styles start */
.colorpicker {
  position: relative;
  margin: 27px auto 38px;
  width: 235px;
  .active {
    display: none;
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(../images/selectedcolor.gif) no-repeat;
  }
  area,
  img {
    cursor: pointer;
  }
  area {
    display: block;
  }
}

/*Colors for Selector*/
div.colorSelector {
  overflow: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;

  .circle {
    margin-bottom: 5px;
    float: left;
    overflow: hidden;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}
