@import 'main/css/bootstrap/variables.less';
@import 'main/css/bootstrap/mixins.less';

*,
*:before,
*:after {
  .box-sizing(border-box);
}
body {
  font: @font-size-base @baseFontFamily;
  color: #707070;
  -webkit-text-size-adjust: 100%;
  -webkit-print-color-adjust: exact;
  margin: 0;
}
#wrapper {
  overflow: hidden;
}
#header,
.plan-section,
.nav-section,
.program-section .img-holder,
.program-section .date .ico,
.hidden-print,
.help,
.editor-unit .btn-holder,
.editor-unit .btn-toolbar,
#footer {
  display: none !important;
}
/* program section styles start */
.program-section,
.program-section.drucken {
  position: relative;
  padding: 0 0 1px;
  .col-lg-2 {
    float: left;
    width: 20%;
    padding: 0 1px;
  }
  .col-lg-8 {
    float: left;
    width: 80%;
    padding: 0 1px;
  }
  .heading {
    overflow: hidden;
    padding: 10px 9px 10px 14px;
    margin: 0 0 2px;
    background-color: #707070;
    .ico-holder {
      float: left;
      margin: -6px 10px -6px -8px;
      position: relative;
      img {
        display: inline-block;
      }
    }
    h2 {
      font: @font-size-big / @line-height-computed @baseFontFamily;
      margin: 0;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      strong {
        font-weight: @title-weight;
      }
    }
    .weekly {
      font: @font-size-big / @line-height-computed @baseFontFamily;
      float: right;
      color: #fff;
      text-transform: uppercase;
      span {
        font-weight: @title-weight;
        margin: 0 0 0 6px;
      }
    }
  }
  .date {
    font: @title-weight @font-size-great @baseFontFamily;
    text-align: center;
    display: block;
    margin: 0 0 2px;
    padding: 12px 0 11px;
    position: relative;
    overflow: hidden;
    border: 2px solid #707070;
    span {
      margin: 0 5px 0 12px;
    }
    .ico {
      width: 33px;
      height: 33px;
      background: @baseSpritePath no-repeat -461px -36px;
      margin: -12px 0 -7px;
      position: relative;
      display: inline-block;
    }
  }
  .programs {
    overflow: hidden;
    > .row {
      margin: 0 -1px;
      position: relative;
    }
  }
  .event {
    min-height: 142px;
    margin-bottom: 2px;
    border: 2px solid #707070;
    a {
      text-decoration: none;
    }
    figure {
      padding: 0;
      margin: 0;
    }
    figcaption {
      padding: 8px 7px 2px;
    }
  }
  .day-off {
    .holder {
      display: table;
      vertical-align: middle;
      height: 121px;
      width: 100%;
    }
    .frame {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    .box {
      text-align: center;
    }
    h2 {
      font: @title-weight @font-size-great @baseFontFamily;
      margin: 0;
      padding: 0 19px;
      color: #707070;
    }
  }
}
/* program section style end */
/* calendar styles start */
#calendar {
  font: @title-weight @font-size-great @baseFontFamily;
  width: 100%;
  margin: 0 0 54px;
  &.month {
    border-bottom: 7px solid transparent;
    .desc {
      padding: 14px 20px 5px 14px;
      font-weight: @title-weight;
      overflow: hidden;
      width: 370px;
      h2 {
        font: inherit;
        margin: 0;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .date {
      font-style: normal;
      float: right;
    }
  }
}
.monthly {
  .heading {
    width: 280px;
    margin: 0 0 2px;
    padding: 13px 14px 10px;
    border: 2px solid #ababab;
    h2 {
      margin: 0;
      font: @title-weight @font-size-great @baseFontFamily;
    }
  }
}
.days {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  li {
    float: left;
    width: 47px;
    height: 45px;
    position: relative;
    border-right: 2px solid #fff;
    background-color: #ababab;
    text-align: center;
    color: #fff;
    span {
      padding: 13px 0 0;
      position: absolute;
      border: 2px solid transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
/* editor unit styles start */
.editor-unit {
  page-break-before: auto;
  overflow: hidden;
  .holder {
    border: 2px solid #a1a1a1;
    padding: 11px 0 0;
    margin: 2px 0;
  }
  .col-lg-2 {
    width: 20%;
  }
  .btn-holder {
    overflow: hidden;
    margin: 0 0 20px;
  }
}
#editor {
  min-height: 77px;
  padding: 12px 12px 16px;
}
