@import (reference) '../../vars';

.scheme(@color) {
  .quick-idea {
    .uploader,
    .preview-uploader-back {
      background: @color;
    }
  }
}

.quick-idea {
  .col-1.col-1-first {
    width: 75%;
  }
  .col-2.col-2-first {
    width: 25%;
    min-height: 250px;
  }

  .dropdown-toggle {
    width: 100%;
  }

  .form-group:after {
    content: '';
    display: block;
    clear: both;
  }

  .planned-item.event {
    background: none !important;

    .img-holder {
      margin-bottom: 2px;
      position: relative;
      height: 100px;
    }

    .preview-uploader-back {
      height: 100px;
      color: white;
      text-align: center;
      &:before {
        display: inline-block;
        content: '';
        vertical-align: middle;
        height: 100%;
      }
      .title {
        display: inline-block;

        &:before {
          vertical-align: middle;
          content: '';
          display: inline-block;
          background-size: 25px;
          width: 25px;
          height: 25px;
        }
      }
    }
    .preview-uploader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .upload_button,
  .preview-uploader {
    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      display: block;
      cursor: pointer;
    }
  }

  .uploader {
    @height: 38px;
    height: @height;
    line-height: @height;
    position: relative;
    &:hover {
      .upload-button-back:before {
        opacity: 1;
      }
    }

    .upload-button-back {
      height: @height;
      color: white;
      text-align: center;
      width: 100%;
      font-size: 14px;
      &:before {
        display: inline-block;
        content: '';
        background-size: 25px;
        width: 25px;
        height: 25px;
        opacity: 0.7;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .upload_button {
      width: 100%;
      height: @height;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .file_list {
      font-size: 14px;
      margin-top: 10px;
      color: #a8a8a8;
      .icon {
        font-size: 25px;
        margin-right: 5px;
      }
      .file {
        height: 80px;
        padding: 20px;
        border: 1px solid #b0b0b0;
      }
      .remove {
        height: 40px;
        line-height: 40px;
        width: 140px;
        background: #b2b2b2;
        text-align: center;
        margin-left: 10px;
        color: white;
        float: right;
      }
      .file-size {
        float: right;
      }
    }
  }
  .preview-horizontal {
    display: none;

    figure {
      display: table;
      width: 100%;
      .img-holder,
      figcaption {
        vertical-align: top;
        display: table-cell;
        width: 50%;
      }
    }

    .preview-uploader-back {
      min-height: 100%;
    }
  }
}

@media (max-width: 629px) {
  .quick-idea {
    form.two-col input {
      max-width: none;
    }
    .col-1.col-1-first {
      width: 100%;
    }
    .col-2-first {
      display: none;
    }
    .preview-horizontal {
      display: block;
    }
  }
}
