@import '../../main/css/bootstrap/variables.less';

div.planner {
  header,
  footer,
  section,
  article,
  hgroup,
  nav,
  figure {
    display: block;
  }
  html,
  body {
    height: 100%;
  }
  body {
    background: @body-bg url(../images/backgrounds/bg-body.gif);
    font: @font-size-base @baseFontFamily;
    color: @dark-grey;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    min-width: 320px;
  }
  q {
    quotes: none;
  }
  q:before,
  q:after {
    content: '';
  }
  img {
    border: none;
  }
  form,
  fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
  }
  input[type='submit'] {
    -webkit-appearance: none;
    cursor: pointer;
  }
  button::-moz-focus-inner,
  input[type='submit']::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  audio,
  canvas,
  video {
    display: inline-block;
  }
  figure {
    margin: 0;
    padding: 0;
  }
  .placeholder {
    display: block;
  }
  i.ico {
    display: inline-block;
    vertical-align: middle;
  }
  .title-block {
    font: @font-size-base / @line-height-computed @baseFontFamily;
    text-align: center;
    color: #fff;
    margin: 0;
    margin: 0 0 8px;
    height: 37px;
    overflow: hidden;
  }
}
