@import '../../vars';

.navbar(@color) {
  nav {
    a.button {
      width: 100%;
      background-color: white;
      color: @color;
      border: 2px solid @color;
      padding: 5px 0;
      span {
        font-weight: bold;
        font-size: 13px;
      }
      &:hover {
        color: white;
        background-color: @color;
      }
      &.active {
        color: white;
        background-color: @color;
      }
    }
  }

  .main-nav {
    border-top: 7px solid white;
    .btn {
      border-color: @color;
      &.active,
      &:hover {
        color: white;
        background-color: @color;
      }
    }
    li.active .btn {
      background-color: @color;
    }
  }

  div.planDetail {
    em.date i.icon {
      color: @color;
    }
  }

  .year-monthly {
    .has-left,
    .has-right {
      a {
        background-color: @color;
      }
      .box {
        background-color: @panelGrey;
      }
    }
    .has-left {
      padding-left: 46px;
    }
    .has-right {
      padding-right: 46px;
    }
  }
}

body {
  .plan-section {
    div.box {
      height: auto;
      i {
        font-size: 28px;
      }
    }
  }
  /* baby blue scheme styles start */
  .babyblue-scheme {
    .member-plan {
      .navbar(@memberPlan);
    }
    .kiga-plan {
      .navbar(@kigaPlan);
    }
    .active {
      .btn,
      .btn &:hover {
        background: @memberPlan;
        color: #fff;
      }
    }
    .btn {
      background: #fff;
      border: 2px solid @memberPlan;
      color: @memberPlan;
      &:hover {
        background: @memberPlan;
        color: #fff;
      }
    }
    .plan-section {
      .title {
        .box {
          background: @memberPlan;
          color: #fff;
        }
      }
      /*.nav {
        border-color: @memberPlan;
      }*/
      .title {
        border-color: @memberPlan;
      }
    }
    .program-section {
      border-bottom: 8px solid @memberPlan;
      .btn:hover {
        background: none;
      }
      .notizen {
        a {
          color: @memberPlan;
        }
        .btn:hover {
          color: #fff;
        }
      }
      .heading {
        background: @memberPlan;
      }
      .specification {
        .category {
          color: @memberPlan;
          span {
            color: @memberPlan;
          }
        }
        .age {
          color: @memberPlan;
        }
      }
      .day-off {
        .box {
          a {
            color: @memberPlan;
          }
        }
      }
    }
    .modal .btn {
      border: none;
      color: #fff;
      background: #a5a5a5;
      &:hover {
        background: @memberPlan;
      }
    }
    .monthly {
      .heading {
        background: #fff;
        color: #8cb6dd;
        border: 2px solid #8cb6dd;
      }
      .days {
        color: #8cb6dd;
        li {
          background: #fff;
          span {
            border-color: #8cb6dd;
          }
        }
      }
      &.alt {
        .heading {
          background: @memberPlan;
          color: #fff;
          border-color: @memberPlan;
        }
        .days {
          color: @memberPlan;
          font-weight: bold;
          li {
            background: @white;
            span {
              border-color: @memberPlan;
            }
          }
        }
        .calendar-list ul div:first-child li:first-child {
          background: @white;
          color: @memberPlan;
          .frame {
            border-color: @memberPlan;
          }
        }
      }
    }
    #calendar {
      &.month {
        border-color: @memberPlan;
        .days {
          color: #fff;
          li {
            background: @memberPlan;
            span {
              border-color: @memberPlan;
            }
          }
        }
        .calendar-list {
          .inactive {
            background: #fff;
            color: @memberPlan;
            .frame {
              border-color: @memberPlan;
            }
          }
          ul {
            div.first-child li:first-child {
              color: #fff;
              background: @memberPlan;
              .frame {
                border-color: @memberPlan;
              }
            }
          }
        }
      }
    }
    .ico-box {
      background-color: @memberPlan;
    }
    .seven-columns {
      .program-section {
        .event {
          .btn-idea {
            .holder {
              border-color: @memberPlan;
            }
            h2 {
              color: @memberPlan;
            }
          }
        }
      }
    }
  }
  /* baby blue scheme styles end */
  /* green scheme styles start */
  .green-scheme {
    .main-nav {
      border-color: #96c11f;
    }
    .program-section {
      .btn:hover {
        background-color: #96c11f;
      }
    }
    header.heading {
      line-height: 44px;
    }
    .active {
      .btn,
      .btn &:hover {
        background: #96c11f;
        border-color: #96c11f;
        color: #fff;
      }
    }
    a.btn {
      background: #fff;
      border: 2px solid #96c11f;
      color: #96c11f;
      &:hover {
        background: #96c11f;
        border-color: #96c11f;
        color: #fff;
      }
    }
    .plan-section {
      .title {
        .btn-prev,
        .btn-next {
          background-color: #96c11f;
        }
        .box {
          background: #96c11f;
          color: #fff;
        }
      }
      .nav {
        border-color: #96c11f;
      }
      .title {
        border-color: #96c11f;
      }
    }
    .program-section {
      border-bottom: 8px solid #96c11f;
      .heading {
        background: #96c11f;
        color: #fff;
        h2 {
          color: #fff;
        }
      }
      .date {
        border-color: #96c11f;
        color: #96c11f;
      }
      figure {
        .img-holder {
          img {
            width: 100%;
            height: auto;
            overflow: hidden;
          }
        }
        figcaption {
          background: #96c11f;
          .title-block {
            margin-top: 2px;
          }
        }
      }
      .specification {
        background: #fff;
        margin-bottom: 2px;
        .category {
          color: #96c11f;
          span {
            color: #96c11f;
          }
        }
        .age {
          color: #96c11f;
        }
      }
      .day-off {
        .box {
          border-color: #96c11f;
        }
        h2 {
          color: #96c11f;
        }
      }
    }
    .modal .btn {
      border: none;
      color: #fff;
      background: #a5a5a5;
      &:hover {
        background: #96c11f;
      }
    }
    .monthly {
      .heading {
        background: #fff;
        color: #8cb6dd;
        border: 2px solid #8cb6dd;
      }
      .days {
        color: #8cb6dd;
        li {
          background: #fff;
          span {
            border-color: #8cb6dd;
          }
        }
      }
      &.alt {
        .heading {
          background: #96c11f;
          color: #fff;
          border-color: #96c11f;
        }
        .days {
          color: #fff;
          li {
            background: #96c11f;
            span {
              border-color: #96c11f;
            }
          }
        }
        .calendar-list ul li:first-child {
          background: #96c11f;
          color: #fff;
          .frame {
            border-color: #96c11f;
          }
        }
      }
      .calendar-list {
        &.inactive {
          background: #ababab;
        }
        &.active span {
          background: #fff;
          color: #000;
        }
      }
    }
    #calendar {
      &.month {
        border-color: #96c11f;
        .days {
          color: #fff;
          li {
            background: #96c11f;
            span {
              border-color: #96c11f;
            }
          }
        }
        .calendar-list {
          .inactive {
            background: #fff;
            color: #96c11f;
            .frame {
              border-color: #96c11f;
            }
          }
          ul {
            li:first-child {
              color: #fff;
              background: #96c11f;
              .frame {
                border-color: #96c11f;
              }
            }
          }
        }
      }
    }
    .ico-box {
      background-color: #96c11f;
    }
    .ico-print {
      background-color: #96c11f;
    }
    .checkboxAreaChecked,
    .checkboxArea {
      border-color: #96c11f;
    }
    .checkboxAreaChecked:after {
      background: #96c11f;
    }
  }
  /* green scheme styles end */
}
