@import '../../main/css/bootstrap/variables.less';
@import '../../main/css/bootstrap/mixins.less';

div.planner {
  .wrap {
    height: 1%;
    display: table;
  }
  .container {
    margin: 0 auto;
    background: @body-bg;
    padding: 0 10px;
    display: block;
  }

  section.nav-section {
    margin-bottom: 40px;
  }

  #header .holder:after,
  .top-bar:after,
  .plan-section .nav:after,
  .help figure:after,
  .modal .row:after {
    content: '';
    clear: both;
    display: block;
  }
  .btn {
    .border-radius(0);
    display: block;
    text-align: center;
    font: @title-weight @font-size-base / 16px @baseFontFamily;
    text-decoration: none;
    padding: 11px 0 12px;
  }
  .btn.small {
    padding: 9px 0;
  }
  .full-width {
    width: 100%;
  }
  .btn-grey {
    background: #a5a5a5;
  }
  .btn-pink {
    background: #670067;
  }
  .ico.kiga,
  .ico.meine {
    width: 31px;
    height: 32px;
    background: @baseSpritePath no-repeat -607px -1px;
    position: relative;
  }
  .ico.meine {
    background-position: -572px -1px;
  }
  .ico-print {
    background: @baseSpritePath no-repeat -685px -43px;
    display: inline-block;
    height: 17px;
    margin: 0 12px -3px 4px;
    position: relative;
    width: 19px;
  }
  .ico-box {
    display: inline-block;
    width: 31px;
    height: 31px;
    .border-radius(16px);
    background-color: transparent;
    .ico.meine {
      background-position: -504px -86px;
    }
    .ico.kiga {
      background-position: -504px -117px;
    }
  }
  .btn {
    &:hover,
    &.active {
      .ico-box {
        background-color: transparent;
        .ico.meine {
          background-position: -572px -1px;
        }
        .ico.kiga {
          background-position: -607px -1px;
        }
      }
      .ico-print {
        background-position: -685px -68px;
      }
    }
  }
  /* custom form elements styles start */
  .outtaHere {
    position: absolute !important;
    left: -9999px !important;
  }
  /* custom select styles start */
  .selectArea {
    font: @font-size-great / 34px @ArialFontFamily;
    color: #646567;
    position: relative;
    height: 34px;
    text-align: left;
    .holder {
      padding: 0 0 0 6px;
    }
    .ico-holder {
      background: #0e4e9f;
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      height: 34px;
      .ico {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 14px;
        height: 9px;
        background: @baseSpritePath no-repeat -439px -22px;
      }
    }
    .left {
      display: none;
    }
    .center {
      display: block;
      padding: 0 10px 0 5px;
    }
    &.alt {
      margin: 0 0 20px;
    }
    &.color .left,
    &.key .left {
      float: left;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      overflow: hidden;
      margin: 5px 4px 0 0;
      .border-radius(13px);
    }
    &.color .center,
    &.key .center {
      overflow: hidden;
    }
  }
  .selectAreaActive .holder {
    padding-bottom: 1px;
  }
  .selectButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/none.gif);
  }
  /* custom select drop styles start */
  .selectOptions {
    z-index: 99999 !important;
    .holder {
      border: 1px solid #e1e1e1;
      border-top: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        background: none;
        padding: 0;
        a {
          text-decoration: none;
          cursor: pointer;
          overflow: hidden;
          padding: 8px 6px 4px;
          display: block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .select-list {
    width: 100%;
  }
  /* toggle nav bar styles start */
  .navbar-toggle {
    margin: 0;
    padding: 0;
    .icon-bar {
      display: block;
      width: 23px;
      height: 4px;
      background-color: #fff;
    }
    .icon-bar + .icon-bar {
      margin-top: 5px;
    }
    .sr-only {
      color: #fff;
      font: 700 14px Verdana, Helvetica, sans-serif;
      width: 45px;
      left: -65px;
      top: 7px;
      margin: 0;
      clip: auto;
      height: 20px;
    }
  }
  /* toggle nav bar styles end */
  /* custom checkbox styles start */
  .checkboxAreaChecked,
  .checkboxArea {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 2px solid transparent;
    top: 37px;
    left: 0;
    margin: 0;
    position: absolute;
  }
  .checkboxAreaChecked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .checkboxAreaChecked .ico {
    background: @baseSpritePath no-repeat -574px -37px;
    height: 25px;
    position: absolute;
    top: 9px;
    left: 7px;
    width: 27px;
    z-index: 1;
  }
  /* custom checkbox styles end */
}
