.newsletter-preview-wrapper {
  background: lightgray;
  margin: 1em 0;
  padding: 1em;
  .newsletter-preview {
    border: grey solid 1px;
    width: 80%;
    padding: 1em;
    background: white;
    margin: auto;
  }
}

.newsletter {
  iframe {
    border: 1px solid;
    width: 100%;
    min-height: 25em;
  }
}
