<a class="idea"
   ng-href="{{ $ctrl.viewLink }}">
  <div class="idea-img">
    <div class="img-border"></div>
    <img ng-src="{{ $ctrl.idea.previewUrl }}" alt="" class="preview">
    <div class="idea-active">
      <div class="idea-circle"></div>
    </div>
    <div class="info-heart"
         ng-click="$ctrl.toggleFavourite(); $event.stopPropagation();">
      <i class="fa" ng-class="{
        'fa-heart': $ctrl.idea.favourite,
        'fa-heart-o': !$ctrl.idea.favourite
        }"></i>
    </div>
  </div>

  <div class="desc">{{ $ctrl.idea.title | lineClamp : 55 }}</div>
  <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small"
    >{{ $ctrl.idea.description }}</div>
</a>
