<div class="ui-grid-cell-contents text-center">
  <a ui-sref="root.backend.cmsBackend.kiga-idea.edit({ideaId: row.entity.id})"
    ng-hide="row.entity.published">
    <i class="fa fa-search"></i></a>
</div>
