<div class="downloadable-ideas-management">
  <h2>Downloadable ideas</h2>
  <div class="buttons-container">
    <button ui-sref="root.backend.cmsBackend.kiga-idea.add({locale: ctrl.currentUserLocale})">Add</button>
    <button ng-click="ctrl.removeSelected()"
            ng-class="{'disabled':ctrl.isPublishedSelected == true || ctrl.rowsSelected == null
              || ctrl.rowsSelected == 0}"
            ng-disabled="ctrl.isPublishedSelected == true || ctrl.rowsSelected == null
              || ctrl.rowsSelected == 0">Remove selected</button>
    <button ng-click="ctrl.publishSelected()"
            ng-class="{'disabled':!ctrl.publishSelectedBtnEnabled}"
            ng-disabled="!ctrl.publishSelectedBtnEnabled">Publish selected</button>
    <button ng-click="ctrl.unpublishSelected()"
            ng-class="{'disabled':!ctrl.unpublishSelectedBtnEnabled}"
            ng-disabled="!ctrl.unpublishSelectedBtnEnabled">Unpublish selected</button>
  </div>

  <div ui-grid='ctrl.gridConfiguration' ui-grid-selection
       ng-show="ctrl.kigaIdeas.length > 0" class="grid"></div>
</div>
