<div class="downloadable-ideas-management container">
  <form role="form" name="downloadableForm" ng-submit="ctrl.save()">
    <input type="hidden" ng-model="ctrl.formData.id" ng-show="ctrl.formData.id != null" />
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{'active' : ctrl.activeTab === 'general-info'}">
        <a href="#general-info" role="tab" data-toggle="tab">General information</a>
      </li>
      <li ng-class="{'active' : ctrl.activeTab === 'details'}">
        <a href="#details" role="tab" data-toggle="tab">Details</a>
      </li>
      <li ng-class="{'active' : ctrl.activeTab === 'idea-groups'}"
          ng-click="ctrl.onIdeaGroupsTabClick()">
        <a href="#idea-groups" role="tab" data-toggle="tab">EXPERIMENTAL: Idea groups</a>
      </li>
      <li class="locale-selection"
          ng-hide="ctrl.formData.id == null && ctrl.formData.translationGroupId == null">
        <div class="form-group row">
          <label class="col-sm-18 col-form-label">Editing locale:</label>
          <div class="col-sm-42">
            <ui-select ng-model="ctrl.selectedIdeaLocale"
                       on-select="ctrl.onLocaleChange($item, $model)">
              <ui-select-match placeholder="Select a locale...">
                <span ng-bind-html="ctrl.selectedIdeaLocale.label | translate"></span>
                <span ng-hide="ctrl.hasTranslation(ctrl.selectedIdeaLocale.locale)">({{ 'Create new' | translate }})</span>
              </ui-select-match>
              <ui-select-choices repeat="locale in ctrl.localesList">
                <span ng-bind-html="locale.label | translate"></span>
                <span ng-hide="ctrl.hasTranslation(locale.locale)">({{ 'Create new' | translate }})</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="general-info" ng-class="{'active' : ctrl.activeTab === 'general-info'}">
        <div ng-include="'backend/cmsBackend/partials/kiga-idea/tabs/general-info.html'"></div>
      </div>
      <div class="tab-pane" id="details" ng-class="{'active' : ctrl.activeTab === 'details'}">
        <div ng-include="'backend/cmsBackend/partials/kiga-idea/tabs/details.html'"></div>
      </div>
      <div class="tab-pane" id="idea-groups" ng-class="{'active' : ctrl.activeTab === 'idea-groups'}">
        <div ng-include="'backend/cmsBackend/partials/kiga-idea/tabs/idea-groups.html'"></div>
      </div>
    </div>
    <div class="buttons">
      <div>
        <button class="save" type="submit">{{'SAVE' | translate}}</button>

        <button ng-click="ctrl.remove()"
                ng-show="ctrl.formData.id != null"
                ng-class="{'disabled':ctrl.formData.published}"
                ng-disabled="ctrl.formData.published">Remove</button>
        <button  ng-hide="true"
                 ng-click="ctrl.publish()"
                ng-show="ctrl.formData.id != null"
                ng-class="{'disabled':ctrl.formData.published}"
                ng-disabled="ctrl.formData.published">Publish</button>
        <button  ng-hide="true"
                 ng-click="ctrl.unpublish()"
                ng-show="ctrl.formData.id != null"
                ng-class="{'disabled':!ctrl.formData.published}"
                ng-disabled="!ctrl.formData.published">Unpublish</button>
      </div>
    </div>
  </form>
</div>
