<div class="form-group">
  <label ng-if="$ctrl.label">{{$ctrl.label}}</label>

  <!-- Vertical aligned radio buttons -->
  <div ng-if="!$ctrl.horizontal">
    <label class="radio-inline">
      <input type="radio" name="{{$ctrl.name}}" value="{{$ctrl.radioOptionsList[0].key}}"
             ng-model="$ctrl.value" icheck>
      {{$ctrl.radioOptionsList[0].name}}
    </label>
    <label class="radio-inline" ng-if="$ctrl.radioOptionsList.length !== 1">
      <input type="radio" name="{{$ctrl.name}}" value="{{$ctrl.radioOptionsList[1].key}}"
             ng-model="$ctrl.value" icheck>
      {{$ctrl.radioOptionsList[1].name}}
    </label>
  </div>
  <!-- Horizontal aligned radio buttons (by default) -->
  <div ng-if="$ctrl.horizontal">
    <div class="checkbox">
      <label>
        <input type="radio" name="{{$ctrl.name}}" value="{{$ctrl.radioOptionsList[0].key}}"
               ng-model="$ctrl.value" icheck>
        {{$ctrl.radioOptionsList[0].name}}
      </label>
    </div>
    <div class="checkbox" ng-if="$ctrl.radioOptionsList.length != 1">
      <label>
        <input type="radio" name="{{$ctrl.name}}" value="{{$ctrl.radioOptionsList[1].key}}"
               ng-model="$ctrl.value" icheck>
        {{$ctrl.radioOptionsList[1].name}}
      </label>
    </div>
    <div class="checkbox last" ng-if="$ctrl.radioOptionsList.length === 3">
      <label>
        <input type="radio" name="{{$ctrl.name}}" value="{{$ctrl.radioOptionsList[2].key}}"
               ng-model="$ctrl.value" icheck>
        {{$ctrl.radioOptionsList[2].name}}
      </label>
    </div>
  </div>
</div>
