<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import</h3>
    </div>
    <div class="panel-body">
      <form class="ng-pristine ng-validate" ng-submit="ctrl.submit()">
        <div class="form-group">
          <label>File</label>
          <text-file-reader data="ctrl.data"></text-file-reader>
          <div ng-if="!!ctrl.data.file.name" class="well">
            Name: <b>{{ctrl.data.file.name}}</b>
            Type: {{ctrl.data.file.type}} Size: {{ctrl.data.file.size / 1000}} kB
            Last modified: {{ctrl.data.file.lastModifiedDate|date}}
          </div>
        </div>
        <div class="form-group">
          <label>CSV Content</label>
          <textarea name="content" placeholder="Paste contents of csv here"
                    class="form-control" ng-model="ctrl.data.content" required
                    ng-change="ctrl.formchange()"
                    rows="10">
          </textarea>
        </div>
        <div class="row">
          <div class="col-md-18 form-group">
            <label>CSV Format</label>
            <select name="format" class="form-control" required
                    ng-options="key as value for (key , value) in ctrl.fileFormats"
                    ng-model="ctrl.data.format" ng-change="ctrl.formchange()">
            </select>
          </div>
          <div class="col-md-6 col-md-offset-16">
            <div class="form-group">
              <label for="checkboxDoImport">Do Import</label>
              <input type="checkbox" name="doImport" id="checkboxDoImport"
                     ng-model="ctrl.data.doImport"
                     ng-disabled="!ctrl.canImport()">
            </div>
          </div>
          <div class="col-md-18 col-md-offset-2 form-group">
            <label>Confirm</label>
            <button type="submit">
              <i class="icon" ng-class="{'icon-check': ctrl.data.doImport}"></i>
              {{ctrl.data.doImport ? 'Do Import' : 'Test Import'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="alert-warning" ng-show="ctrl.resultHasWarnings()">
    Errors occured:
  </div>
  <div>
    Last result: <b>{{ctrl.importResult.rowsParsed}} parsed</b>,
    <b>{{ctrl.importResult.rowsPersisted}} saved</b>,
    <b>{{ctrl.importResult.rowsError}} errors</b>.
  </div>
  <table class="table">
  <thead>
    <th>Dup</th>
    <th>Importable</th>
    <th>Ta Date</th>
    <th>Acqu Date</th>
    <th>Processing</th>
    <th>Settlement</th>
    <th>cardType</th>
    <th colspan="2">amountOrig</th>
    <th colspan="2">amount</th>
    <th>Psp</th>
    <th>Psp Id</th>
    <th>Acquirer</th>
    <th>Acquirer Id</th>
<!--       <th>batchSum</th>
      <th>batchNr</th> -->
  </thead>
  <tbody>
    <tr ng-repeat="ta in ctrl.importRows"
      ng-class="{'duplicate': ta.isDuplicate, 'invalid': !ta.isImportable}">
      <td>
        <i class="fa fa-times" aria-hidden="true" ng-show="ta.isDuplicate"></i>
      <td>
        <i class="fa fa-check" aria-hidden="true" ng-show="ta.isImportable"></i>
        <i class="fa fa-times" aria-hidden="true" ng-show="!ta.isImportable"></i>
      </td>
      <td>{{ta.transactionDate|date}}</td>
      <td>{{ta.transactionDateAcquirer|date}}</td>
      <td>{{ta.processingDate|date}}</td>
      <td>{{ta.settlementDate|date}}</td>
      <td>{{ta.cardType}}</td>
      <td>{{ta.currencyOrig}}</td>
      <td>{{ta.amountOrig}}</td>
      <td>{{ta.currency}}</td>
      <td>{{ta.amount}}</td>
      <td>{{ta.pspName}}</td>
      <td>{{ta.pspTransactionId}}</td>
      <td>{{ta.acquirerName}}</td>
      <td>{{ta.acquirerTransactionId}}</td>
<!--       <td>{{ta.batchSum}}</td>
      <td>{{ta.batchNr}}</td> -->
    </tr>
  </tbody>
  </table>
</div>
