<div>
  <div class="panel panel-default">
    <div class="panel-heading">Filter</div>
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-sm-20 form-group datepicker">
            <label>Von</label>
            <input class="form-control" kiga-date
                  ng-model="ctrl.filter.fromDate">
          </div>
          <div class="col-sm-20 form-group datepicker">
            <label>Bis</label>
            <input class="form-control" kiga-date
                  ng-model="ctrl.filter.toDate">
          </div>
          <div class="col-sm-20 buttons">
            <button class="button" ng-click="ctrl.reload()" class="ok">OK</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <table class="table">
  <thead>
    <th>Ta Date</th>
    <th>Filename</th>
    <th>Acqu Date</th>
    <th>Processing</th>
    <th>Settlement</th>
    <th>cardType</th>
    <th colspan="2">amountOrig</th>
    <th colspan="2">amount</th>
    <th>Psp</th>
    <th>Psp Id</th>
    <th>Acquirer</th>
    <th>Acquirer Id</th>
<!--       <th>batchSum</th>
      <th>batchNr</th> -->
  </thead>
  <tbody>
    <tr ng-repeat="ta in ctrl.transactions">
      <td>{{ta.transactionDate|date}}</td>
      <td>{{ta.sourceFileName}}</td>
      <td>{{ta.transactionDateAcquirer|date}}</td>
      <td>{{ta.processingDate|date}}</td>
      <td>{{ta.settlementDate|date}}</td>
      <td>{{ta.cardType}}</td>
      <td>{{ta.currencyOrig}}</td>
      <td>{{ta.amountOrig}}</td>
      <td>{{ta.currency}}</td>
      <td>{{ta.amount}}</td>
      <td>{{ta.pspName}}</td>
      <td>{{ta.pspTransactionId}}</td>
      <td>{{ta.acquirerName}}</td>
      <td>{{ta.acquirerTransactionId}}</td>
<!--       <td>{{ta.batchSum}}</td>
      <td>{{ta.batchNr}}</td> -->
    </tr>
  </tbody>
  </table>
</div>
