div.reports {
  div.table-row {
    &.even {
      background-color: #efefef;
    }
    &.odd {
      background-color: #fefefe;
    }
    div.table-cell {
      word-wrap: break-word;
    }
  }
  .shopPayment {
    form .panel {
      width: 1200px;
      .panel-body {
        .col-1 .form-group {
          margin-top: -21px; //fixing bugy form-group
        }
        .left {
          width: 45%;
          float: left;
        }
        button {
          margin-top: 22px;
          width: 100%;
        }
        .right {
          width: 45%;
          float: right;
        }
        .country {
          width: 45%;
          float: right;
          margin-right: 5px;
          margin-left: 5px;
          margin-top: 22px;
        }
        .paymentProvider {
          width: 45%;
          float: left;
          margin-right: 5px;
          margin-left: 5px;
          margin-top: 22px;
        }
        .paymentMethod {
          width: 60%;
          float: left;
          margin-right: 5px;
          margin-left: 5px;
          margin-top: 22px;
        }

        .mpay {
          width: 30%;
          float: right;
          margin-right: 5px;
          margin-left: 5px;
        }
        .order {
          width: 30%;
          float: right;
          margin-right: 5px;
          margin-left: 5px;
        }
        .invoice {
          width: 30%;
          float: right;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
  }
}
