<div class="container" *ngIf="child">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_CHILD_EDIT' | translate }}</div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="saveChild(child)">
        <formly-form [form]="form" [fields]="fields" [model]="child" [options]="options">
          <div class="buttons">
            <div class="left">
              <button [routerLink]="'../list'" mat-raised-button color="accent" type="button">
                {{ 'BUTTON_BACK' | translate }}
              </button>
            </div>
            <div class="right">
              <button mat-raised-button color="primary" type="submit">
                {{ 'BUTTON_SAVE' | translate }}
              </button>
            </div>
          </div>
        </formly-form>
      </form>
    </div>
  </div>

  <div [hidden]="child.id === undefined">
    <kiga-edit-parent
      *ngFor="let parent of child.parents"
      [parent]="parent"
      [childId]="child.id"
    ></kiga-edit-parent>
    <div class="buttons">
      <div class="left">
        <button mat-raised-button color="primary" (click)="createParent()">
          {{ 'KGA_PARENT_CREATE' | translate }}
        </button>
        <button [routerLink]="'../list'" mat-raised-button color="accent" type="button">
          {{ 'BUTTON_BACK' | translate }}
        </button>
      </div>
      <div class="right">
        <button mat-raised-button color="primary" [routerLink]="'./journal'">
          {{ 'KGA_JOURNAL_GO_TO' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
