<div class="ui-grid-cell-contents text-center payment">
  <span ng-show="row.entity.showPspId">
    {{row.entity.paymentMethod}}<br>{{row.entity.paymentPspId}}
  </span>
  <a ng-show="row.entity.showAccounting"
     ui-sref="root.backend.accounting.transactions.list({invoiceNumber: row.entity.invoiceNumber})">
    {{row.entity.paymentMethod}}
  </a>
</div>
