<div class="ui-grid-cell-contents text-center status {{row.entity.status}}">
  <p>{{row.entity.status}}</p>
  <div class="progress row">
    <div class="status-1 col-sm-12">&nbsp;</div>
    <div class="status-2 col-sm-12">&nbsp;</div>
    <div class="status-3 col-sm-12">&nbsp;</div>
    <div class="status-4 col-sm-12">&nbsp;</div>
    <div class="status-5 col-sm-12">&nbsp;</div>
  </div>
</div>
