<h2>Country Form</h2>
<form class="one-col" name="validationForm" ng-submit="ctrl.saveCountry()">
  <div class="panel">
    <div class="panel-heading">
      Modify country
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label>Code
          <input type="text" class="form-control" placeholder="Code" required
                 ng-model="ctrl.country.code">
        </label>
      </div>

      <div class="form-group">
        <label>Code 3
          <input type="text" class="form-control" maxlength="3" placeholder="Code 3" required
                 ng-model="ctrl.country.code3">
        </label>
      </div>

      <div class="form-group">
        <label>Currency
          <input type="text" class="form-control" placeholder="Currency" required
                 ng-model="ctrl.country.currency">
        </label>
      </div>

      <kiga-input-percentage
        label="VAT" ng-model="ctrl.country.vat"></kiga-input-percentage>

      <div class="form-group">
        <label>Bank Name
          <input type="text" class="form-control" placeholder="Bank Name" required
                 ng-model="ctrl.country.bankName">
        </label>
      </div>
      <div class="form-group">
        <label>IBAN
          <input type="text" class="form-control" placeholder="IBAN" required
                 ng-model="ctrl.country.iban">
        </label>
      </div>
      <div class="form-group">
        <label>BIC
          <input type="text" class="form-control" placeholder="BIC" required
                 ng-model="ctrl.country.bic">
        </label>
      </div>
      <div class="form-group">
        <label>Account No.
          <input type="text" class="form-control" placeholder="Account No." required
                 ng-model="ctrl.country.accountNr">
        </label>
      </div>

      <div class="form-group">
        <label>Days To Pay Invoice
          <input type="text" class="form-control" placeholder="Days To Pay Invoice" required
                 ng-pattern="/^[0-9]+$/"
                 validation-msg-pattern="{{ 'It must be a positive integer' | translate }}"
                 ng-model="ctrl.country.daysToPayInvoice">
        </label>
      </div>

      <div class="form-group">
        <label>Min Delivery Days
          <input type="text" class="form-control" placeholder="Days To Pay Invoice" required
                 ng-pattern="/^[0-9]+$/"
                 validation-msg-pattern="{{ 'It must be a positive integer' | translate }}"
                 ng-model="ctrl.country.minDeliveryDays">
        </label>
      </div>

      <div class="form-group">
        <label>Max Delivery Days
          <input type="text" class="form-control" placeholder="Days To Pay Invoice" required
                 ng-pattern="/^[0-9]+$/"
                 validation-msg-pattern="{{ 'It must be a positive integer' | translate }}"
                 ng-model="ctrl.country.maxDeliveryDays">
        </label>
      </div>

      <div class="form-group">
        <label>Max Purchase Price
          <input type="text" class="form-control" placeholder="Max Purchase Price" required
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive number' | translate }}"
                 ng-model="ctrl.country.maxPurchasePrice">
        </label>
      </div>
      <div class="form-group">
        <label>Price Shipping Net
          <input type="text" class="form-control" placeholder="Price Shipping Net" required
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive number' | translate }}"
                 ng-model="ctrl.country.priceShippingNet">
        </label>
      </div>
      <div class="form-group">
        <label>VAT Rate Shipping
          <input type="text" class="form-control" placeholder="VAT Rate Shipping" required
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive number' | translate }}"
                 ng-model="ctrl.country.vatRateShipping">
        </label>
      </div>
      <div class="form-group">
        <label>Free Shipping Limit
          <input type="text" class="form-control" placeholder="Free Shipping Limit" required
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive number' | translate }}"
                 ng-model="ctrl.country.freeShippingLimit">
        </label>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" ui-sref="root.backend.shop.countries">Cancel</button>
    </div>

    <div class="right">
      <button type="submit">Save</button>
    </div>
  </div>
</form>
