<div class="products-management">
  <h2>Important Countries</h2>
  <div ui-grid='ctrl.importantCountriesGrid'
       ng-show="ctrl.importantCountriesGrid.data.length > 0"
       class="country-grid"></div>

  <h2>Other Countries</h2>
  <div ui-grid='ctrl.otherCountriesGrid'
       ng-show="ctrl.otherCountriesGrid.data.length > 0"
       class="country-grid"></div>

</div>
