<div class="products-management">
  <h2>Product overview</h2>
  <div class="buttons-container">
    <button ui-sref="root.backend.shop.add-product">Add product</button>
  </div>

  <div ui-grid="ctrl.gridConfiguration" ui-grid-pagination ng-show="ctrl.data.length > 0" class="grid"></div>
</div>
