<h2>Product Detail Form</h2>

<form class="one-col" name="validationForm" ng-submit="ctrl.saveProductDetail()">
  <div class="panel">
    <div class="panel-heading">
      Product Detail
    </div>
    <div class="panel-body">
      <div class="buttons" ng-show="ctrl.productDetail.id">
        <button type="button" ng-click="ctrl.onProductDetailDeactivate(ctrl.productDetail.id)"
                ng-show="ctrl.productDetail.activated != false">Deactivate</button>
        <button type="button" ng-click="ctrl.onProductDetailActivate(ctrl.productDetail.id)"
                ng-show="ctrl.productDetail.activated == false">Activate</button>
      </div>
      <hr ng-show="ctrl.productDetail.id">

      <div class="form-group">
        Country
        <ui-select ng-model="ctrl.country" required name="uiselect" ng-change="ctrl.changeCountry()">
          <ui-select-match placeholder="Select a country...">{{ctrl.country.title}}</ui-select-match>
          <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
            <span ng-bind-html="country.title"></span>
          </ui-select-choices>
        </ui-select>
        <validation-messages input-element="validationForm.uiselect"
                             validation-msg-required="{{ 'This field is required' | translate }}"></validation-messages>
      </div>

      <div class="form-group">
        <label>Price (Gross)</label>
        <div class="field-prefix">
          <div class="prefix">{{ctrl.country.currency}}</div>
          <input type="number" step="0.01" min="0" class="form-control"
                 placeholder="Price (Gross)" required ng-model="ctrl.productDetail.priceGross"
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive number' | translate }}">
        </div>
      </div>

      <kiga-input-percentage
        label="Product VAT" value="ctrl.productDetail.vatProduct"></kiga-input-percentage>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel"
              ui-sref="root.backend.shop.product({productId: ctrl.productDetail.productId})">Cancel</button>
    </div>
    <div class="right">
      <button>Save</button>
    </div>
  </div>
</form>
