<h2>Purchases</h2>
<div id="toolbar">
  <div class="form-group">
    <label
      class="checkbox-inline"
      uib-tooltip="Hides Purchases with status Shipped or CreditVoucherFinalized"
    >
      <input
        type="checkbox"
        ng-model="ctrl.hideFinished"
        icheck
        name="hideFinished"
        ng-click="ctrl.onHideFinished()"
      />
      Hide Finished
    </label>
    <a class="button small" ng-click="ctrl.toolbar.refresh()"
      ><i class="fa fa-refresh"></i>&nbsp;Refresh</a
    >
  </div>
  <div>
    <button ng-click="ctrl.toolbar.getSelectedShippingNotes()">1 - Shipping Information</button>
    <button ng-click="ctrl.toolbar.getSelectedCsv()">2 - Export CSV</button>
    <button ng-click="ctrl.toolbar.setSelectedExportFin()">3 - Export Fin</button>
    <button ng-click="ctrl.toolbar.setSelectedReadyForShipping()">4 - Ready for Shipping</button>
    <button ng-click="ctrl.toolbar.setSelectedShippingFin()">5 - Shipping Fin</button>
  </div>
</div>
<div ui-grid="ctrl.gridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
