<div class="products-management">
  <h2>Voucher overview</h2>
  <div class="buttons-container">
    <button ui-sref="root.backend.shop.add-voucher">Add voucher</button>
  </div>

  <div ui-grid="ctrl.gridConfiguration" ng-show="ctrl.data.length > 0" class="grid"></div>
</div>
