  <div class="span-4 fs0 order-controls">
    <div ng-click="$ctrl.cancel()" class="town-btn inl fs14" translate="BUTTON_BACK">
    </div>
    <div class="pcs-select" ng-show="$ctrl.availableInCountry">
      <kiga-select ng-model="$ctrl.pcsSelected" options="$ctrl.pieces"></kiga-select>
    </div>
    <div ng-click="$ctrl.addToBasket()"
         class="order-submit-btn inl fs14"
         ng-show="$ctrl.availableInCountry"
         translate="SHOP_PUT_INTO_BASKET">
    </div>
    <div class="order-submit-btn invalid-country-msg inl fs14"
         ng-show="!$ctrl.availableInCountry"
         translate="SHOP_INVALID_COUNTRY" translate-values="{ country: $ctrl.countryName }">
    </div>
  </div>
