@import (reference) '../../../vars';
@import (reference) '../../../main/css/bootstrap/variables';

basket-putter {
  .fs0 {
    font-size: 0;
  }

  .town-btn,
  .order-submit-btn {
    color: #fff;
    border: 0;
    text-decoration: none;
    padding: 8px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }

  .town-btn {
    background-color: #ababab;
    width: 150px;
    @media (max-width: @screen-lsm-max) {
      width: 80px;
    }
  }

  .order-submit-btn {
    background-color: @shopColor;
    width: 410px;
    margin: 0 0 0 10px;
    @media (max-width: @screen-lsm-max) {
      width: 160px;
      height: 40px;
      font-size: 12px !important;
    }
  }

  .invalid-country-msg {
    width: 460px;
    @media (max-width: @screen-lsm-max) {
      width: 210px;
    }
  }

  .order-submit-btn.fs14 {
    @media (max-width: @screen-lsm-max) {
      font-size: 12px;
    }
  }

  .inl {
    display: inline-block;
  }
  .pcs-select {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 0 0 0 10px;
    vertical-align: top;
    border-width: 2px;
    display: inline-block;

    span.btn.ui-select-toggle {
      height: 40px;
    }
    span {
      line-height: 39px;
    }
    .caret {
      right: 5px;
    }
    .ui-select-choices {
      margin-top: 0px;
      li {
        padding-left: 0;
        &:before {
          content: none;
        }
        span {
          line-height: 20px;
        }
      }
    }
    .dropdown-menu {
      min-width: 100px;
    }
  }
  .ui-select-match {
    display: block !important;
  }
}
