<div class="ui-grid-cell-contents text-center indicator" ng-show="!row.entity.invoiceSettled">
  <a
    ui-sref="root.backend.accounting.transactions.list({invoiceNumber: row.entity.invoiceNumber})">
    <i class="fa fa-eur larger"></i>
  </a>
</div>
