<div class="ui-grid-cell-contents text-center">
  <a ng-if="row.entity.invoiceNumber" ng-click="grid.appScope.downloadInvoice(row.entity.id)">{{row.entity.invoiceNumber}}</a>
  <p ng-if="!row.entity.invoiceNumber">Pending</p>
</div>
