<div class="ui-grid-cell-contents text-center">
  <span ng-if="!row.entity.shippingNoteNumber">Pending</span>
  <a ng-if="row.entity.shippingNoteNumber" ng-click="grid.appScope.downloadShippingNote(row.entity.id)">{{row.entity.shippingNoteNumber}}</a>
  <br>
  <a ng-if="row.entity.shippingPartner == 'POST'" ng-click="grid.appScope.downloadShippingLabel(row.entity.id)">POST</a>
  <p ng-if="row.entity.shippingPartner != 'POST'">{{row.entity.shippingPartner}}</p>
</div>
