<div class="ui-grid-cell-contents text-center input-container">
<input type="text" name="trackingNr" ng-model="row.entity.trackingNr" required>
<a ng-if="!row.entity.trackingNr" ng-click="grid.appScope.createInvoice(row.entity)"><i class="fa fa-floppy-o large"></i></a>

</div>
