<div class="ui-grid-cell-contents text-center" ng-class="{'red': row.entity.status != 'shipped', 'green': row.entity.status == 'shipped'}" >
  <p ng-if="row.entity.status == 'shipped'" >SHIPPED</p>
</div>
