<div class="creditVoucher">
  <form class="two-col">
    <div class="panel panel-default">
      <div class="panel-heading">
        Crate creditVoucher
      </div>
      <div class="panel-body">
        <div>
          <div class="col-1">
            <label>Invoice Nr</label>
            <input type="text" name="invoicenr"
                   ng-model="ctrl.data.invoiceNumber" ng-change="ctrl.clearOrderNr()" icheck>
            <label>Order Nr</label>
            <input type="text" name="invoicenr"
                   ng-model="ctrl.data.orderNr" ng-change="ctrl.clearInvoiceNr()" icheck>
            <button class="button" ng-click="ctrl.search()" class="ok">Search</button>
            <button class="button" ng-click="ctrl.setMax()" class="ok">CV All</button>
          </div>
          <div class="col-2">
            <label>Payment Method</label>
            <kiga-select options="ctrl.paymentMethod"
                         ng-model="ctrl.selectedPaymentMethod" placeholder="Payment Method"></kiga-select>
          </div>
        </div>


        <div class="table hover">
          <div class="row table-header">
            <div ng-click="ctrl.sortList('Id')" class="col-sm-7">
              Product name
            </div>
            <div ng-click="ctrl.sortList('Id')" class="col-sm-7">
              Amount
            </div>
            <div ng-click="ctrl.sortList('Id')" class="col-sm-7">
              Sum Gross
            </div>

            <div ng-click="ctrl.sortList('Id')" class="col-sm-13">
              Credit Voucher Amount in {{ctrl.data.currency}}
            </div>

            <div ng-click="ctrl.sortList('Id')" class="col-sm-10">
              Create Credit Voucher
            </div>

          </div>
        </div>
        <div class="row table-row" ng-repeat="item in ctrl.data.purchaseItems">
          <div class="table-cell col-sm-7">
            {{item.title}}
          </div>
          <div class="table-cell col-sm-7">
            {{item.amount}}
          </div>
          <div class="table-cell col-sm-7">
            {{item.priceGrossTotal}} {{ctrl.data.currency}}
          </div>

          <div class="table-cell col-sm-13">
            <input type="text" name="creditVoucher" ng-change="ctrl.recalcSum()"
                   ng-model="item.creditVoucherTotal" icheck>
          </div>

          <div class="table-cell col-sm-10">
            <button class="button" ng-click="ctrl.submit()" class="ok">Create CV</button>
          </div>
        </div>

        <div class="row table-row">
          <div class="table-cell col-sm-7">
            Credit Voucher Sum
          </div>
          <div class="table-cell col-sm-7">

          </div>
          <div class="table-cell col-sm-7">
            {{ctrl.data.creditVoucherSum}}
          </div>

          <div class="table-cell col-sm-13">
            <input type="text" name="sum"
                   ng-model="ctrl.creditVoucherSum" icheck readonly>
          </div>

          <div class="table-cell col-sm-10">
              <button class="button" ng-click="ctrl.submit()" class="ok">Create CV for Sum</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="buttons">
    <button type="button" ng-click="ctrl.cancel()" class="cancel"
            translate="BUTTON_BACK"></button>
  </div>
</div>
