<h2>Product Form</h2>
<form class="one-col" name="validationForm" ng-submit="ctrl.saveProduct()">
  <div class="panel">
    <div class="panel-heading">
      Product Detail
    </div>
    <div class="panel-body">

      <div>
        <kiga-button button-type="button" button-text="Promote"
                     ng-click="ctrl.promoteProduct()"></kiga-button>
        <kiga-button button-type="button" button-text="Remove"
                     ng-click="ctrl.onProductDelete(ctrl.product.id)"
                     ng-show="ctrl.product.id != null"></kiga-button>
        <kiga-button button-type="button" ng-click="ctrl.cloneProduct()"
                     ng-show="ctrl.product.id != null" button-text="Clone"></kiga-button>
      </div>
      <hr>

      <div class="form-group">
        <label>Product Title</label>
        <input type="text" class="form-control" placeholder="Product Title"
               required maxlength="50" ng-model="ctrl.product.productTitle">
      </div>

      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" placeholder="Code" required
               ng-model="ctrl.product.code">
      </div>

      <div class="form-group">
        <label>Weight Gram</label>
        <input type="number" class="form-control" placeholder="Weight Gram"
               required ng-model="ctrl.product.weightGram" ng-pattern="/^[0-9]+$/"
               min="0" step="1"
               validation-msg-pattern="{{ 'It must be a positive integer' | translate }}">
      </div>

      <div class="form-group">
        <label>Volume Litre</label>
        <input type="number" class="form-control" placeholder="Volume Litre"
               required ng-model="ctrl.product.volumeLitre" ng-pattern="/^[0-9]+$/"
               min="0" step="1"
               validation-msg-pattern="{{ 'It must be a positive integer' | translate }}">
      </div>

    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" ui-sref="root.backend.shop.products"
              translate="BUTTON_CANCEL"></button>
    </div>

    <div class="right">
      <button translate="BUTTON_SAVE">Save</button>
    </div>
  </div>
</form>

<div class="products-management" ng-show="ctrl.product.id != null">
  <h2>Product Details</h2>
  <div class="buttons-container">
    <button ui-sref="root.backend.shop.add-product-detail({productId: ctrl.product.id})">Add product detail</button>
  </div>

  <div ui-grid="ctrl.productDetailsGrid" ng-show="ctrl.data.length > 0" class="grid"></div>
</div>
