<h2>Purchases</h2>
<div id="toolbar">
  <div class="form-group">
    <label class="checkbox-inline" uib-tooltip="Hides Purchases with status Shipped or CreditVoucherFinalized">
      <input type="checkbox" ng-model="ctrl.hideFinished" icheck name="hideFinished" ng-click="ctrl.onHideFinished()" />
      Hide Finished
    </label>
    <a class="button small" ng-click="ctrl.toolbar.refresh()"><i class="fa fa-refresh"></i>&nbsp;Refresh</a>
  </div>
  <div>
    <button ng-click="ctrl.toolbar.getSelectedShippingNotes()">1 - Shipping Information</button>
    <button ng-click="ctrl.toolbar.getSelectedCsv()">2 - Export CSV</button>
    <button ng-click="ctrl.toolbar.setSelectedExportFin()">3 - Export Fin</button>
    <button ng-click="ctrl.toolbar.setSelectedReadyForShipping()">4 - Ready for Shipping</button>
    <button ng-click="ctrl.toolbar.setSelectedShippingFin()">5 - Shipping Fin</button>
  </div>
</div>


<md-table-container>
  <table style="width:100%;height: 100%;" md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column>
        </th>

        <th md-column md-numeric>
        </th>
        <th md-column md-numeric >#.
          <input type="text" ng-change="ctrl.search($event,ctrl.amount)" ng-model="ctrl.amount" md-maxlength="10" style="width:75px">

        </th>
        <th md-column md-numeric>Order No.
          <input type="text" ng-model="ctrl.orderNr" ng-change="ctrl.search($event,ctrl.orderNr)" md-maxlength="10" style="width:75px">

        </th>
        <th md-column md-numeric>Date
          <input type="text" ng-model="ctrl.purchaseDate" ng-change="ctrl.search($event,ctrl.purchaseDate)" md-maxlength="10" style="width:75px">

        </th>
        <th md-column md-numeric>Member
          <input type="text" ng-model="ctrl.memberId" ng-change="ctrl.search($event,ctrl.memberId)" md-maxlength="10" style="width:75px">

        </th>
        <th md-column md-numeric>Email
          <input type="text" ng-model="ctrl.memberEmail" ng-change="ctrl.search($event,ctrl.memberEmail)" md-maxlength="10" style="width:75px">

        </th>
        <th md-column md-numeric>Customer
          <input type="text" ng-model="ctrl.name" ng-change="ctrl.search($event,ctrl.name)" md-maxlength="10" style="width:75px">
        </th>

        <th md-column md-numeric>Country
          <input type="text" ng-model="ctrl.country" ng-change="ctrl.search($event,ctrl.country)" md-maxlength="10" style="width:75px">
        </th>
        <th md-column md-numeric>Invoice
          <input type="text" ng-model="ctrl.invoiceNumber" ng-change="ctrl.search($event,ctrl.invoiceNumber)" md-maxlength="10" style="width:75px">
        </th>

        <th md-column md-numeric>Shipping
          <input type="text" ng-model="ctrl.shippingPartner" ng-change="ctrl.search($event,ctrl.shippingPartner)" md-maxlength="10" style="width:75px">
        </th>

        <th md-column md-numeric>Payment
          <input type="text" ng-model="ctrl.paymentMethod" ng-change="ctrl.search($event,ctrl.paymentPspId)" md-maxlength="10" style="width:75px">
        </th>

        <th md-column md-numeric>Status
          <input type="text" ng-model="ctrl.status" ng-change="ctrl.search($event,ctrl.status)" md-maxlength="10" style="width:75px">
        </th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="element" md-select-id="name" md-auto-select ng-repeat="element in ctrl.dataSource">
        <td md-cell></td>
        <td md-cell>
          <md-icon md-svg-icon="social:android" aria-label="android "></md-icon>
        </td>
        <td md-cell>{{element.amount}}</td>
        <td md-cell>{{element.orderNr}}</td>
        <td md-cell>{{element.purchaseDate | date }}</td>
        <td md-cell>{{element.memberId}}</td>
        <td md-cell>{{element.memberEmail }}</td>
        <td md-cell>{{element.name}}</td>
        <td md-cell>{{element.country}}</td>
        <td md-cell>{{element.invoiceNumber}}</td>
        <td md-cell>{{element.shippingPartner}}</td>
        <td md-cell>{{element.paymentMethod}} <br />{{element.paymentPspId }}</td>
        <td md-cell>{{element.status}}</td>
        
      </tr>
    </tbody>
  </table>
</md-table-container>