<h2>Voucher Form</h2>
<form class="one-col" name="validationForm" ng-submit="ctrl.saveVoucher()">
  <div class="panel">
    <div class="panel-heading">
      Voucher Detail
    </div>
    <div class="panel-body">

      <div>
        <kiga-button button-type="button" button-text="Remove"
                     ng-click="ctrl.onVoucherDelete(ctrl.voucher.id)"
                     ng-show="ctrl.voucher.id != null"></kiga-button>
      </div>
      <hr>

      <div class="form-group">
        <label>Products</label>
        <kiga-selection value="ctrl.voucher.productId" options="ctrl.productOptions"
                     placeholder="Select a product..." validation="required"></kiga-selection>
      </div>

      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" placeholder="Code" required
               ng-model="ctrl.voucher.code">
      </div>

      <div class="form-group">
        <label>Discount Rate</label> <!-- Discount Rate -->
        <kiga-input-percentage placeholder="Discount Rate"
               validation="required" value="ctrl.voucher.discountRate">
      </div>

      <div class="form-group">
        <label>Valid From</label>
        <input type="text" placeholder="Valid From Date" required class="form-control" ng-model="ctrl.voucher.validFrom" kiga-date>
      </div>

      <div class="form-group">
        <label>Valid To</label>
        <input type="text" placeholder="Valid To Date" required class="form-control" ng-model="ctrl.voucher.validTo" kiga-date>
      </div>

    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" ui-sref="root.backend.shop.vouchers"
              translate="BUTTON_CANCEL"></button>
    </div>

    <div class="right">
      <button translate="BUTTON_SAVE">Save</button>
    </div>
  </div>
</form>
