<form novalidate role="form" class="one-col">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_ACCOUNT_SUMMARY">
        </div>
        <div class="panel-body">
            <div class="one-col">
                <div class="col-1">
                    <div class="row">
                        <div class="col-sm-60 col-md-30 col-lg-25">
                            <div class="form-group">
                                <label translate="MEMBER_MY_CUSTOMER_ID"></label>
                                <button class="member-account-customerno" style="cursor: default;">{{ctrl.data.customerNr}} </button>
                            </div>

                          <div class="form-group">
                            <label translate="MEMBER_SUBSCRIPTION_TYPE"></label>
                            <button class="member-account-customerno" style="cursor: default;">
                                <subscription-type translate-key="ctrl.data.nameTranslationKey"
                                    duration="ctrl.data.duration"
                                    duration-type="ctrl.data.durationType"></subscription-type>
                            </button>
                            {{MEMBER_MY_CURRENT_INVOICE| translate}}
                          </div>

                            <div class="form-group" ng-if="ctrl.showBill">
                                <label translate="MEMBER_MY_CURRENT_INVOICE"></label>


                              <a ng-if="ctrl.data.subscriptionBillOk && ctrl.data.shopBillOk" target="_blank"
                                 class="button member-account-bill-ok" href="{{ctrl.data.aboBillUrl}}"
                                 t="MEMBER_BILL_OK" translate-values="{'billId': ctrl.data.currentInvoiceNr}">
                              </a>

                              <button ng-if="!ctrl.data.subscriptionBillOk" class="member-account-bill-notok"
                                      t="MEMBER_BILL_NOTOK" translate-values="{'billId': ctrl.data.currentInvoiceNr}"
                                      ng-click="ctrl.mainHandler.gotoState('root.member.bills.subscription')"></button>


                              <button ng-if="ctrl.data.subscriptionBillOk && !ctrl.data.shopBillOk" class="member-account-bill-notok"
                                        t="MEMBER_BILL_NOTOK" translate-values="{'billId': ctrl.data.currentShopInvouceNr}"
                                        ng-click="ctrl.mainHandler.gotoState('root.member.bills.shop')"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <menu-item ng-repeat="item in ctrl.menu" translate-key="{{item.titleKey}}" icon="{{item.icon}}" state="{{item.state}}"></menu-item>
            </div>
        </div>
    </div>
</form>

