<form name="memberForm" novalidate role="form" class="three-col" validation-info-required="isValidationInfoRequired">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_ADDRESSES">
        </div>
        <div class="panel-body address">
          <div class="col-1">
            <label t="MEMBER_ADDRESS"></label>
              <div class="form-group">
                <div>
                  <label class="radio-inline">
                    <input name="gender" type="radio" value="f" class="form-control" icheck
                        ng-model="data.shippingAddress.sex"> {{'MISC_SALUTATION_FEMALE' | translate}}
                  </label>
                  <label class="radio-inline">
                    <input name="gender" type="radio" value="m" class="form-control" icheck
                        ng-model="data.shippingAddress.sex"> {{'MISC_SALUTATION_MALE' | translate}}
                  </label>
                  <label class="radio-inline">
                    <input name="gender" type="radio" value="" class="form-control" icheck
                        ng-model="data.shippingAddress.sex"> -
                  </label>
                </div>
              </div>
              <div class="form-group">
                <input name="addressName1" type="text"  class="form-control"
                        ng-model="data.shippingAddress.firstname"
                        placeholder="{{'FIELD_FIRSTNAME' | translate}}">
                <input name="addressName2" type="text"  class="form-control"
                        ng-model="data.shippingAddress.lastname"
                        placeholder="{{'FIELD_LASTNAME' | translate}}">

                <input ng-if="canHaveOrganisation()"
                       name="organisationName" type="text" class="form-control"
                       ng-model="data.shippingAddress.organisation"
                       placeholder="{{'FIELD_ORGANISATION' | translate}}">
                <input ng-if="canHaveOrganisation()"
                       name="organisationName2" type="text" class="form-control"
                       ng-model="data.shippingAddress.organisation2"
                       placeholder="{{'FIELD_ORGANISATION2' | translate}}">

                <input name="street" type="text"  class="form-control"
                        ng-model="data.shippingAddress.street" placeholder="{{'FIELD_STREET' | translate}}"
                        validation-info required >

                <div class="form-multicolumn-input-area">
                  <div class="row">
                    <div class="col-sm-20 form-multicolumn-input">
                      <input name="streetNumber" type="text"  class="form-control"
                          ng-model="data.shippingAddress.housenr" placeholder="{{'FIELD_HOUSENR' | translate}}"
                          validation-info required >
                    </div>
                    <div class="col-sm-20 form-multicolumn-input">
                      <input name="floorNumber" type="text"  class="form-control"
                              ng-model="data.shippingAddress.floor" placeholder="{{'FIELD_FLOOR' | translate}}">
                    </div>
                    <div class="col-sm-20">
                      <input name="doorNumber" type="text"  class="form-control"
                              ng-model="data.shippingAddress.doornr" placeholder="{{'FIELD_DOORNR' | translate}}">
                    </div>
                  </div>
                </div>

                <div class="form-multicolumn-input-area">
                  <div class="row">
                    <div class="col-sm-20 form-multicolumn-input">
                      <input name="zip" type="text"  class="form-control form-multicolumn-input"
                              ng-model="data.shippingAddress.zip" placeholder="{{'FIELD_ZIP' | translate}}"
                              validation-info required >
                    </div>

                    <div class="col-sm-40">
                      <input name="city" type="text"  class="form-control"
                              ng-model="data.shippingAddress.city" placeholder="{{'FIELD_CITY' | translate}}"
                              validation-info required >
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-if="canHaveShippingAddress()">
                <div class="checkbox"> <!-- only there when needed -->
                  <label>
                    <input name="billOn" type="checkbox" ng-model="data.billOn.value" icheck>
                    {{ 'MEMBER_ADDRESS_BILL_ON' | translate }}
                  </label>
                </div>
              </div>

              <!-- No shop addresses editable yet -->
              <!-- <div class="form-group" ng-if="false">
                <div class="checkbox">
                  <label>
                    <input name="shopOn" type="checkbox" ng-model="data.shopOn.value" icheck>
                    {{ 'SHOP_DELIVERY_ADDRESS' | translate }}
                  </label>
                </div>
              </div> -->

          </div>

          <div class="col-2" ng-if="showShipppingAddressInput()">
            <label t="MEMBER_ADDRESS_BILL"></label>
            <div class="form-group">
              <div>
                <label class="radio-inline">
                  <input name="genderShipping" type="radio" value="f" class="form-control" icheck ng-model="data.billingAddress.sex"> {{'MISC_SALUTATION_FEMALE' | translate}}
                </label>
                <label class="radio-inline">
                  <input name="genderShipping" type="radio" value="m" class="form-control" icheck ng-model="data.billingAddress.sex"> {{'MISC_SALUTATION_MALE' | translate}}
                </label>
                <label class="radio-inline">
                  <input name="genderShipping" type="radio" value="" class="form-control" icheck ng-model="data.billingAddress.sex"> -
                </label>
              </div>
            </div>
            <div class="form-group">
              <input name="billAddressName1" type="text"  class="form-control"
                     ng-model="data.billingAddress.firstname" >
              <input name="billAddressName2" type="text"  class="form-control"
                     ng-model="data.billingAddress.lastname" >
              <input name="billStreet" type="text"  class="form-control"
                     ng-model="data.billingAddress.street" placeholder="{{'FIELD_STREET' | translate}}"
                     validation-info required >

              <input ng-if="canHaveOrganisation()"
                     name="billOrganisationName" type="text" class="form-control"
                     ng-model="data.billingAddress.organisation"
                     placeholder="{{'FIELD_ORGANISATION' | translate}}">
              <input ng-if="canHaveOrganisation()"
                     name="billOrganisationName2" type="text" class="form-control"
                     ng-model="data.billingAddress.organisation2"
                     placeholder="{{'FIELD_ORGANISATION2' | translate}}">

              <div class="form-multicolumn-input-area">
                <div class="row">
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="billStreetNumber" type="text"  class="form-control"
                           ng-model="data.billingAddress.housenr" placeholder="{{'FIELD_HOUSENR' | translate}}"
                           validation-info required >
                  </div>
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="billFloorNumber" type="text"  class="form-control"
                           ng-model="data.billingAddress.floor" placeholder="{{'FIELD_FLOOR' | translate}}">
                  </div>
                  <div class="col-sm-20">
                    <input name="billDoorNumber" type="text"  class="form-control"
                           ng-model="data.billingAddress.doornr" placeholder="{{'FIELD_DOORNR' | translate}}">
                  </div>
                </div>
              </div>

              <div class="form-multicolumn-input-area">
                <div class="row">
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="billZip" type="text"  class="form-control"
                           ng-model="data.billingAddress.zip" placeholder="{{'FIELD_ZIP' | translate}}"
                           validation-info required >
                  </div>

                  <div class="col-sm-40">
                    <input name="billCity" type="text"  class="form-control"
                           ng-model="data.billingAddress.city" placeholder="{{'FIELD_CITY' | translate}}"
                           validation-info required >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- No editing of shop addresses yet -->
          <!--
          <div class="col-3" ng-if="false">
            <label t="SHOP_DELIVERY_ADDRESS"></label>
            <div class="form-group">
              <input name="shopAddressName1" type="text"  class="form-control"
                     ng-model="data.shopingAddress.firstname" >
              <input name="shopAddressName2" type="text"  class="form-control"
                     ng-model="data.shopingAddress.lastname" >
              <input name="shopStreet" type="text"  class="form-control"
                     ng-model="data.shopingAddress.street" placeholder="{{'FIELD_STREET' | translate}}"
                     validation-info required >

              <div class="form-multicolumn-input-area">
                <div class="row">
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="shopStreetNumber" type="text"  class="form-control"
                           ng-model="data.shopingAddress.housenr" placeholder="{{'FIELD_HOUSENR' | translate}}"
                           validation-info required >
                  </div>
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="shopFloorNumber" type="text"  class="form-control"
                           ng-model="data.shopingAddress.floor" placeholder="{{'FIELD_FLOOR' | translate}}">
                  </div>
                  <div class="col-sm-20">
                    <input name="shopDoorNumber" type="text"  class="form-control"
                           ng-model="data.shopingAddress.doornr" placeholder="{{'FIELD_DOORNR' | translate}}">
                  </div>
                </div>
              </div>

              <div class="form-multicolumn-input-area">
                <div class="row">
                  <div class="col-sm-20 form-multicolumn-input">
                    <input name="shopZip" type="text"  class="form-control"
                           ng-model="data.shopingAddress.zip" placeholder="{{'FIELD_ZIP' | translate}}"
                           validation-info required >
                  </div>

                  <div class="col-sm-40">
                    <input name="shopCity" type="text"  class="form-control"
                           ng-model="data.shopingAddress.city" placeholder="{{'FIELD_CITY' | translate}}"
                           validation-info required >
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

        </div>
    </div>
    <div ng-include="'member/partials/includes/bottomButtons.html'"></div>
</form>
