<form novalidate name="memberForm" role="form" class="one-col" validation-info-required="isValidationInfoRequired">
  <div class="panel panel-default">
    <div class="panel-heading" translate="MEMBER_BILLS_SHOP">
    </div>
    <div class="panel-body">

      <p t="MEMBER_BILL_OVERVIEW"></p>

      <div ng-if="unpaidBillAvailable" class="member-bill-status-unpaid">
        <i class="icon icon-sticker-flag large"></i>
                <span  t="MEMBER_BILL_OPEN_INFO">
                </span>
      </div>
      <p ng-show="data.invoiceList.length == 0" t="MEMBER_BILL_NOSHOP"></p>
      <table ng-hide="data.invoiceList.length == 0" class="table">
        <thead>
        <tr>
          <td class="hidden-sm" t="MEMBER_BILL_TYPE"></td>
          <td class="hidden-sm" t="MEMBER_BILL_NO"></td>
          <td t="FIELD_DATE"></td>
          <td t="MEMBER_BILL_AMOUNT"></td>
          <td t="MEMBER_BILL_STATE"></td>
          <td></td>
        </tr>
        </thead>

        <tr ng-repeat="bill in data.invoiceList">
          <td  class="hidden-sm">
            <span t="MEMBER_BILL_{{bill.type.toUpperCase()}}"></span>
          </td>
          <td  class="hidden-sm">
            {{bill.invoiceNr}}
          </td>
          <td>
            {{bill.date | date}}
          </td>
          <td>
            <!-- {{bill.amount.value | number:2}} {{bill.currency.value}} -->
            {{bill.amount | kigaCurrency:bill.currency}}
          </td>
          <td>
            <span ng-class="{'member-bill-status-unpaid': !isBillPaid(bill), 'member-bill-status-paid': isBillPaid(bill)}">{{mainHandler.transKey('BILL_STATE',bill.status) | translate}}</span>
          </td>
          <td>
            <a ng-href="{{bill.pdfUrl}}" target="_blank">
              <div class="member-bill-pdf-link" t="MEMBER_BILL_PDF"
                   ng-class="{'member-bill-unpaid': !isBillPaid(bill), 'member-bill-paid': isBillPaid(bill)}"> </div>
            </a>

          </td>

        </tr>
      </table>


    </div>
  </div>

  <div class="panel panel-default" ng-show="unpaidBillAvailable">
    <div class="panel-heading" translate="MEMBER_BILL_PAYING">
    </div>
    <div class="panel-body">
      <p>Bitte laden sie die Rechnung als PDF herunter für genaue Informationen wie sie ihre Rechnung bezahlen können</p>
    </div>
  </div>


  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="mainHandler.goBack()"></button>
    </div>
  </div>


</form>
