 <form name="memberForm" role="form" class="one-col" ng-submit="ctrl.payNow(memberForm)">
    <div class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_BILLS_SUBSCRIPTION">
        </div>
        <div class="panel-body">

            <p t="MEMBER_BILL_OVERVIEW" ></p>

            <div ng-if="ctrl.unpaidBillAvailable" class="member-bill-status-unpaid">
                <i class="icon icon-sticker-flag large"></i>
                <span  t="MEMBER_BILL_OPEN_INFO">
                </span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td class="hidden-sm" t="MEMBER_BILL_TYPE"></td>
                        <td class="hidden-sm" t="MEMBER_BILL_NO"></td>
                        <td t="FIELD_DATE"></td>
                        <td t="MEMBER_BILL_AMOUNT"></td>
                        <td t="MEMBER_BILL_STATE"></td>
                        <td></td>
                    </tr>
                </thead>

                <tr ng-repeat="bill in ctrl.data.invoiceList">
                    <td  class="hidden-sm">
                        <span t="MEMBER_BILL_{{bill.type.toUpperCase()}}"></span>
                    </td>
                    <td  class="hidden-sm">
                        {{bill.invoiceNr}}
                    </td>
                    <td>
                        {{bill.date | date}}
                    </td>
                    <td>
                       <!-- {{bill.amount.value | number:2}} {{bill.currency.value}} -->
                      {{bill.amount | kigaCurrency:bill.currency}}
                    </td>
                    <td>
                        <span ng-show="bill.status == 'open'"     class="member-bill-state-unpaid" t="MEMBER_BILL_STATE_OPEN"></span>
                        <span ng-show="bill.status == 'ok'"       class="member-bill-state-paid" t="MEMBER_BILL_STATE_PAID"></span>
                        <span ng-show="bill.status == 'pending'"  class="member-bill-state-pending" t="MEMBER_BILL_STATE_PENDING"></span>
                    </td>
                    <td>
                        <a ng-href="{{ctrl.getDocumentUrl(bill.invoiceNr)}}" target="_blank">
                          <div ng-show="bill.status == 'open'"     class="member-bill-pdf-link member-bill-unpaid" t="MEMBER_BILL_PDF"></div>
                          <div ng-show="bill.status == 'ok'"       class="member-bill-pdf-link member-bill-paid" t="MEMBER_BILL_PDF"></div>
                          <div ng-show="bill.status == 'pending'"  class="member-bill-pdf-link member-bill-pending" t="MEMBER_BILL_PDF"></div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div  ng-if="ctrl.unpaidBillAvailable" class="panel panel-default">
        <div class="panel-heading" translate="MEMBER_BILL_PAYING">
        </div>
        <div class="panel-body">
            <payment payment-options="ctrl.data.paymentMethodList"
                     invoice-options="ctrl.data.invoiceOptionList"
                     payment-method-model="ctrl.data.paymentMethod"
                     invoice-option-model="ctrl.data.invoiceOption"></payment>
        </div>
    </div>

    <div class="buttons">
        <div class="left">
            <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="ctrl.mainHandler.goBack()"></button>
        </div>
        <div  ng-if="ctrl.unpaidBillAvailable" class="right">
            <button type="submit" translate="MEMBER_BILL_PAY_NOW"></button>
        </div>
    </div>
</form>
