<div class="panel panel-default">
  <div class="panel-heading">
    <span t="MEMBER_NEW_MESSAGE"></span>
  </div>
  <div class="panel-body">
    <span t="{{ctrl.code}}"></span>
  </div>
<div class="buttons-right">
  <button type="submit" translate="BUTTON_OK" ng-click="ctrl.back()"></button>
</div>
</div>
