<div class="panel panel-default">
  <div class="panel-heading">
    {{ displayMsg.Header }}
  </div>
  <div class="panel-body" ng-bind-html="displayMsgBody(msgIndex)"></div>
</div>
<div class="buttons" ng-if="displayLeftButton() || displayRightButton() ">
  <div class="left">
    <button type="button" ng-click="showPrev()" ng-if="displayLeftButton()"></button>
    &nbsp;
  </div>
  <div class="right">
    <button type="button" ng-click="showNext()" ng-if="displayRightButton()"></button>
  </div>
</div>
<div class="buttons-right">
  <button type="button" ng-click="cancel()" ng-show="displayMsg.Type !== 'blocking'">{{ displayMsg.ButtonCancel }}</button>
  <button type="button" ng-click="goTo(displayMsg.ID)">{{ displayMsg.ButtonOK }}</button>
</div>
