<div class="form-group">
  <label>{{label}}</label>
  <ngx-select [disabled]="disabled" [formControl]="formControl" [items]="items" [placeholder]="placeholder" (selectionChanges)="change($event)"></ngx-select>
  <kiga-validation-messages [control]="formControl"></kiga-validation-messages>
</div>

