<div class="form-group">
  <label>{{ $ctrl.label }}</label>
  <div class="field-prefix">
    <input type="text" min="0" max="100" class="form-control"
           required ng-model="$ctrl.formValue" ng-change="$ctrl.onChange()"
           ng-pattern="/^[0-9]+(\.[0-9]+)?$/">
    <div class="prefix">%</div>
  </div>
</div>
