input {
  display: none;
}

.flex-grid {
  margin-top: 10px;
  display: flex;
  .type {
    flex-shrink: 1;
    padding-right: 10px;
  }
  .name {
    flex-grow: 1;
  }
  .trash {
    flex-shrink: 1;
  }
}
