<button mat-raised-button color="primary" (click)="btnClicked($event)" type="button">
  {{ 'FORM_ADD_NEW_FILE' | translate }}
</button>

<input
  #fileInputElement
  type="file"
  ng2FileSelect
  [uploader]="uploader"
  multiple
  (onFileSelected)="onFileSelected($event)"
/>
<br />

<div class="flex-grid clickable" *ngFor="let item of formControl.value">
  <i class="type fa fa-file-pdf-o" (click)="openFile(item)"></i>
  <p class="name" (click)="openFile(item)">{{ item.name }}</p>
  <i class="trash fa fa-trash-o" (click)="removeFile(item)"></i>
</div>
