<div class="form-group">
  <label>{{$ctrl.label}}</label>

  <!-- Vertical aligned checkboxes -->
  <div ng-if="!$ctrl.horizontal">
    <label class="checkbox-inline">
      <input type="checkbox" name="vCheck" value="left" ng-model="$ctrl.list[0].value" icheck>&nbsp;
        {{$ctrl.list[0].name}}
    </label>
    <label class="checkbox-inline" ng-if="$ctrl.list.length !== 1">
      <input type="checkbox" name="vCheck" value="right" ng-model="$ctrl.list[1].value" icheck>&nbsp;
      {{$ctrl.list[1].name}}
    </label>
  </div>

  <!-- Horizontal aligned checkboxes (by default) -->
  <div ng-if="$ctrl.horizontal">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="check2" ng-model="$ctrl.list[0].value" icheck>
        {{$ctrl.list[0].name}}
      </label>
    </div>
    <div class="checkbox" ng-if="$ctrl.list.length != 1">
      <label>
        <input type="checkbox" name="check2" ng-model="$ctrl.list[1].value" icheck>
        {{$ctrl.list[1].name}}
      </label>
    </div>
    <div class="checkbox last" ng-if="$ctrl.list.length === 3">
      <label>
        <input type="checkbox" name="check2" ng-model="$ctrl.list[2].value" icheck>
        {{$ctrl.list[2].name}}
      </label>
    </div>
  </div>
</div>





