<footer class="footer" [ngClass]="{'cookie-not-accepted': useCookieClassName}">
  <div class="container" ng-if="!checkAreaNone()">
    <div class="holder">
      <div class="col-md-20 col-lsm-30 col-sm-60">
        <p class="copyright">2003 - {{year}} &copy; KiGaPortal</p>
      </div>
      <div class="col-md-40 col-lsm-30 col-sm-60 footer-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/', locale, 'registrierung', 'giftActivation']" translate="REG_GIFT_ACTIVATION"></a>
          </li>
          <li *ngFor="let link of links">
            <a [href]="link.url">{{ link.label }}</a>
          </li>
        </ul>
        <ul class="nav toggable">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-burger-menu"></i>
              {{ "CONTAINER_FOOTER_MENU" | translate }}
            </a>
            <ul class="dropdown-menu" role="menu">
              <li *ngFor="let link of links">
                <a [href]="link.url">{{link.label}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
