<div class="buttons">
    <div class="left">
        <button type="button" class="cancel" translate="BUTTON_BACK" ng-click="mainHandler.goBack()"></button>
    </div>
    <div class="right">
        <!--<button type="submit" translate="BUTTON_SAVE" ng-disabled="memberForm.$pristine" ng-click="save(memberForm)"></button>-->
        <button type="submit" translate="BUTTON_SAVE" ng-click="save(memberForm)"></button>
    </div>
</div>