<ng-container *ngIf="categories">
  <div *ngIf="!useGrid; else: gridView">
    <div *ngFor="let category of categories; index as i" class="type-row">
      <div class="container overview-row">
        <div class="type-title">
          <a
            *ngIf="!lastCategoryLevel"
            [routerLink]="category.url"
            [queryParams]="category.queryParams"
            class="theme-hover"
            >{{ category.title }}</a
          >
          <span *ngIf="lastCategoryLevel">{{ category.title }}</span>
        </div>
        <ng-container *ngIf="breakpointName !== 'sm' && breakpointName !== 'lsm'; else: mobileView">
          <kiga-scroll-pane-row
            (onItemClick)="onIdeaClick($event, i)"
            [breakpoint]="{ itemsPerRow: itemsPerRow }"
            [component]="component"
            [items]="category.ideas"
            [buttonStyle]="{ position: 'relative', top: '-48px' }"
            class="indicator-position"
          >
            <div *ngIf="showSubcategoryButton(category)" class="more-ideas-btn">
              <div class="more-ideas-btn">
                <div class="more-bl-large theme-hover">
                  <a [routerLink]="category.url" [queryParams]="category.queryParams">
                    <div class="img-border theme-hover-border">
                      <div
                        class="more-btn"
                        [ngClass]="{ 'has-subcategories': !category.lastCategoryLevel }"
                      >
                        <span
                          *ngIf="!category.lastCategoryLevel"
                          class="include-theme-hover"
                          [innerHtml]="'IDEAS_TO_SUB_CATEGORIES_DESKTOP' | translate"
                        ></span>
                        <span
                          *ngIf="category.lastCategoryLevel"
                          class="include-theme-hover"
                          [innerHtml]="'NAVIGATION_MORE' | translate"
                        ></span>
                      </div></div
                  ></a>
                </div>
              </div>
            </div>
          </kiga-scroll-pane-row>
          <div class="preview-container">
            <kiga-idea-preview-container
              (onNext)="showNextIdea()"
              (onPrevious)="showPreviousIdea()"
              *ngIf="selectedIdea && i === selectedCategoryIndex"
            ></kiga-idea-preview-container>
          </div>
        </ng-container>
        <ng-template #mobileView>
          <div class="mobile-view-container">
            <ng-container *ngFor="let idea of getIdeasForMobile(category); index as i">
              <kiga-idea-thumbnail-container
                [data]="idea"
                [index]="i"
                [isMobile]="true"
              ></kiga-idea-thumbnail-container>
            </ng-container>
            <div *ngIf="showSubcategoryButton(category)" class="more-bl theme-hover">
              <div class="more-btn">
                <a
                  [routerLink]="category.url"
                  [queryParams]="category.queryParams"
                  class="include-theme-hover"
                  ><span class="text" *ngIf="!category.lastCategoryLevel">{{
                    'IDEAS_TO_SUB_CATEGORIES_MOBILE' | translate
                  }}</span
                  ><span class="text" *ngIf="category.lastCategoryLevel">{{
                    'NAVIGATION_MORE' | translate
                  }}</span>
                  <i aria-hidden="true" class="fa fa-circle include-theme-hover"></i>
                  <i aria-hidden="true" class="fa fa-circle include-theme-hover"></i>
                  <i aria-hidden="true" class="fa fa-circle include-theme-hover"></i>
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #gridView>
    <div *ngIf="gridIdeas" class="container" [ngClass]="{ 'theme-new-ideas': isGridNewIdeas }">
      <div
        *ngIf="breakpointName !== 'lsm' && breakpointName !== 'sm'; else: gridMobile"
        class="grid-container"
      >
        <ng-container *ngFor="let idea of gridIdeas; index as i">
          <div
            [ngStyle]="{
              'flex-basis': 100 / itemsPerRow + '%',
              'padding-left': getGridIdeaSpacing(),
              'padding-right': getGridIdeaSpacing()
            }"
            class="idea"
          >
            <kiga-idea-thumbnail-container
              (click)="onIdeaClick({ data: idea, index: i }, 0)"
              [data]="idea"
              [index]="i"
              className="grid"
            ></kiga-idea-thumbnail-container>
          </div>
          <div *ngIf="showPreview(i)" class="preview-container">
            <kiga-idea-preview-container
              (onNext)="showNextIdea()"
              (onPrevious)="showPreviousIdea()"
              *ngIf="showPreview(i)"
            ></kiga-idea-preview-container>
          </div>
        </ng-container>
      </div>
      <ng-template #gridMobile>
        <ng-container *ngFor="let idea of gridIdeas; index as i">
          <div class="idea-list">
            <kiga-idea-thumbnail [data]="idea" [index]="i" [isMobile]="true"></kiga-idea-thumbnail>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
