@import (reference) '../../../vars';
.load-more {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.type-row {
  position: relative;
  border-top: 1px solid @lightGrey;
  .overview-row {
    padding-top: 20px;
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
    .type-title {
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
      a {
        color: grey;
      }
      color: grey;
    }
  }
}

.more-bl {
  height: 30px;
  font-size: 16px;
  color: @darkGrey;
  margin-top: 30px;
  margin-bottom: 30px;
  .text {
    margin-right: 10px;
    font-weight: bold;
  }
  .fa {
    font-size: 10px;
    color: #ccc;
    margin-right: 2px;
  }
}

.indicator-position {
  @offset: 7px;
  position: relative;
  top: @offset;
  & /deep/ .scroll-pane {
    margin-top: -@offset;
  }
}
.preview-container {
  width: 100vw;
  margin-left: calc(~'50% - 50vw');
  margin-right: calc(~'50% - 50vw');
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 78px;
  margin-right: 78px;
  .idea {
    flex: 0 0 auto;
    padding-top: 10px;
  }
  /deep/ .idea.active:after {
    bottom: -8px;
  }
}

.idea-list {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-view-container {
  padding-left: 10px;

  .more-btn {
    a {
      color: inherit;
    }
  }
}

.more-ideas-btn {
  vertical-align: top;
  display: inline-block;
  white-space: normal;
  cursor: pointer;
  width: 100%;
  .more-bl-large {
    position: relative;
    text-align: center;
    img {
      width: 100%;
    }
    .img-border {
      position: absolute;
      width: 100%;
      border: 3px solid #ccc;
      white-space: normal;
      border-radius: 30px;
      height: 60px;
      margin-top: 20px;
      word-wrap: break-word;
    }
    .more-btn {
      position: absolute;
      top: 40%;
      width: 100%;
      &.has-subcategories {
        margin-top: -9px;
      }
    }
    span {
      font-size: 12px;
      font-weight: bold;
      color: grey;
    }
    .fa {
      color: grey;
    }
  }
}
