<div *ngIf="show" class="cookie-info-component">
  <div class="container">
    <div class="row">
      <p class="cookie-info-text">{{"CONTAINER_COOKIE_INFO" | translate}}</p>
      <a class="more-info" [href]="dataPrivacyLink">
        {{"CONTAINER_COOKIE_MORE_INFO" | translate}}
      </a>
      <div class="cookie-info-close-button" (click)="buttonClicked()">
        {{"CONTAINER_COOKIE_BUTTON" | translate}}
      </div>
    </div>
  </div>
</div>
