@import (reference) '../../../vars';

div.shopBackend {
  .button.small {
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
    margin-left: 25px;
  }

  .country-grid {
    height: 300px;
  }

  .grid {
    height: 675px;
  }
  .green {
    background-color: green !important;
  }
  .red {
    background-color: @shopColor;
  }
  .orange {
    background-color: orange !important;
  }
  .blue {
    background-color: blue;
  }
  .lblue {
    background-color: lightblue;
  }

  .ui-grid-cell {
    height: 45px;
  }

  #toolbar > div {
    margin: 5px 0;
  }
  .scheme(@shopColor);
  div.ui-grid .ui-grid-canvas {
    a {
      color: @shopColor;
    }
    .ui-grid-cell {
      .status {
        p {
          margin-bottom: 2px;
        }
        .progress {
          height: 8px;
          > div {
            background: red;
          }
        }
      }

      .status {
        font-size: 11px;
        &.ShippingInformationCreated,
        &.CsvExported,
        &.CsvFinished,
        &.ReadyForShipping,
        &.Shipped {
          .progress .status-1 {
            background: green;
          }
        }
        &.CsvExported,
        &.CsvFinished,
        &.ReadyForShipping,
        &.Shipped {
          .progress .status-2 {
            background: green;
          }
        }
        &.CsvFinished,
        &.ReadyForShipping,
        &.Shipped {
          .progress .status-3 {
            background: green;
          }
        }
        &.ReadyForShipping,
        &.Shipped {
          .progress .status-4 {
            background: green;
          }
        }
        &.Shipped {
          .progress .status-5 {
            background: green;
          }
        }
      }
    }
  }

  div.ui-grid-cell-contents {
    margin: 1px;
  }
  .creditVoucher {
    .table {
      margin-top: 20px;
      float: left;
    }
    .table-cell {
      text-align: center;
    }
    .invoice-nr {
      margin-bottom: 10px;
    }
    .payment-method {
      margin-bottom: 10px;
    }
  }

  .detail .panel-body {
    a.button,
    button {
      width: 200px;
    }
  }

  .products-management {
    .buttons-container {
      margin-bottom: 9px;
    }
  }

  .fa-search {
    color: initial;
  }

  .form-group {
    .field-prefix {
      width: 100%;
      max-width: 450px;
      clear: both;
      overflow: hidden;
      > div.prefix {
        float: left;
        line-height: 34px;
        width: 30px;
        text-align: center;
      }
      > input {
        float: left;
        max-width: 420px;
      }
    }
  }

  p.cancelled {
    font-size: 25px;
    text-align: center;
    color: red;
  }
}
