<div class="text-center">
  <button type="button" class="add-group-to-idea-btn"
          ng-click="grid.appScope.removeGroupFromIdea(row)">
    Remove <i class="glyphicon glyphicon-trash"></i>
  </button>
</div>
