<div id="theme-area">
  <div [ngClass]="{ hidden: isNgxRoute }"><div ui-view ng-cloak></div></div>
  <div *ngIf="isNgxRoute">
    <div class="kiga-container {{locale}}">
      <div ng-show="!locationIsLogin()"><kiga-header-container></kiga-header-container></div>
      <router-outlet class="body default"></router-outlet>
      <kiga-footer [links]="footerPages$ | async"></kiga-footer>
      <kiga-cookie-info></kiga-cookie-info>
    </div>
  </div>
</div>
