<section
  class="registration-step"
  ng-class="{visited: $ctrl.isCurrentStepActive(), 'first-step': $ctrl.isFirstStep($ctrl.step)}">

  <div ng-if="!$ctrl.isFirstStep($ctrl.step)" class="hidden-lsm hidden-sm">
    <div data-icon=">" class="icon arrow"></div>
  </div>

  <a ui-sref="{{'root.shop.checkout.' + $ctrl.step}}" ng-if="$ctrl.isCurrentStepActive()" class="hidden-lsm hidden-sm"
     translate="{{$ctrl.translateKey}}" ng-click="$ctrl.activateStep($ctrl.step)"></a>

  <span ng-if="!$ctrl.isCurrentStepActive()" class="hidden-lsm hidden-sm"
        translate="{{$ctrl.translateKey}}"></span>

  <div class="hr"/>
</section>
