.customerData {
  padding: 0 10px;

  kiga-input {
    .form-group {
      margin-bottom: 10px;
    }
  }

  .margin {
    margin-top: 12px;
  }

  .input-group-lg {
    width: 100%;
  }

  .margin-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      margin-top: 50px;
    }
    margin-top: 12px;
  }

  .activate {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      margin-top: 100px;
    }
    margin-top: 50px;
    text-align: center;
  }

  .img {
    text-align: center;
  }

  .text {
    margin-top: 40px;
    margin-bottom: -3px;
  }

  .checkbox-margin {
    margin-left: -19px;
  }

  .radio-margin {
    margin-left: -16px;
  }

  div.oneAddress {
    margin-top: 18px;
    div.row {
      margin-top: 10px;
      &.formComponents {
        margin-top: -1px;
      }
    }
  }

  div.extraAddress div.row {
    margin-top: 10px;
  }
}
