.infopage {
  padding: 10px;
  i.icon-check {
    color: @orange;
    padding-right: 5px;
  }

  .list {
    color: @darkGrey;
    font-size: 14px;
    margin-left: 10px;
  }
  .margin {
    margin-left: 27px;
  }

  .mail {
    @media (min-width: @screen-lsm-min) and (max-width: @screen-md-max) {
      margin-left: 0px;
    }
    margin-left: 27px;
    text-decoration: none;
    color: @orange;
  }

  .img {
    width: auto;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .img-elv {
    width: auto;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .height {
    @media (max-width: @screen-lsm-max) {
      height: auto;
    }
    height: 250px;
  }

  .promo-image {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .box {
    overflow: auto;
    &:not(:last-child) {
      margin-right: 2.5%;
    }
    @media (max-width: @screen-lmd-max) {
      &:first-child {
        margin-right: 3.3%;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }

  &.test {
    button.order {
      background-color: @green;
    }
    i.icon-check {
      color: @green;
    }
  }
}
