@import (reference) 'colors';

.payment {
  .panel-body {
    padding: 20px;
  }

  .margin {
    @media (max-width: @screen-lsm-max) {
      margin-top: 30px;
    }
    margin-top: 10px;
  }

  .REmargin {
    margin-left: 30px;
  }

  .icon-elv {
    padding-left: 8px;
  }

  .icon-visa,
  .icon-mastercard,
  .icon-amex {
    height: 41px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 5px;
    &.first {
      margin-left: 25px;
    }
  }

  .icon-amex {
    height: 40px;
  }

  .icon-paypal {
    height: 41px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 2px;
  }

  .help {
    color: @darkOrange;
    font-size: 16px;
    margin-left: -120px;
  }
  div.invoiceOption {
    padding-left: 20px;
  }

  .registration-agreement {
    margin-top: 50px;
    padding-bottom: 0;
  }
}
