@import (reference) '../../vars';
@import (reference) 'colors';

#preSelection {
  padding: 0 10px;

  button {
    width: 96.6%;
  }

  .icon-abos:before {
    font-size: 10vw;
    color: @darkOrange;

    @media (min-width: 1280px) {
      font-size: 144px;
    }
  }
  .static-height {
    height: 50px;
  }

  .icon-abos {
    text-align: center;
  }

  .info,
  .order-btn {
    font-size: 14px;
    padding: 1px;
  }

  .info {
    height: 40px;
    color: @white;
    border: @lightOrange;
    margin-bottom: 5px;
  }

  .icon {
    color: @darkOrange;
    font-size: 40px;
  }

  .title {
    .subscr-selector {
      white-space: nowrap;
      margin-right: 2.083%;
    }
    margin-top: 20px;
    margin-bottom: 20px;

    .icon-sticker-kiga {
      font-size: 30px;
      color: @darkOrange;
      vertical-align: middle;
    }
    .subscription {
      color: @orange;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
      .title2 {
        color: @darkGrey;
      }
    }
  }

  .country-selector {
    padding-right: 1.7%;
  }

  .licence {
    button,
    button.order-btn {
      background-color: white;
      color: inherit;
      cursor: default;
    }
  }

  .free-week {
    button {
      background-color: lighten(@green, 8%);
    }
    button.order-btn {
      background-color: @green;
    }
  }
  .free-week-link {
    text-align: center;
    display: inline-block;
    width: 100%;
    float: left;
    @media (max-width: @screen-sm-max) {
      width: 50%;
    }
  }
  .free-week-img {
    display: inline-block;
    float: none;
    width: 10vw;
    height: 10vw;
    margin-top: -4px;
    @media (min-width: 1280px) {
      width: 144px;
      height: 144px;
    }
    @media (min-width: @screen-lsm-min) and (max-width: @screen-md-max) {
      width: 24vw;
      height: 24vw;
    }
    @media (max-width: @screen-sm-max) {
      width: 115px;
      height: 115px;
    }
  }
  .img-de {
    background-image: url(../images/free_week_de.jpg);
    background-size: cover;
  }
  .img-it {
    background-image: url(../images/free_week_it.jpg);
    background-size: cover;
  }
  .img-en {
    background-image: url(../images/free_week_en.jpg);
    background-size: cover;
  }
  .img-tr {
    background-image: url(../images/free_week_tr.jpg);
    background-size: cover;
  }
  .product-group {
    &:not(:last-child) {
      margin-right: 2.083%;
    }

    .panel-heading {
      font-size: 16px;
      span {
        display: inline-block;
      }
    }

    .panel-title {
      display: inline-block;
    }

    .order-btn {
      background-color: @darkOrange;
      height: 40px;
      color: @white;
      border: @darkOrange;
      margin-top: 5px;
    }
  }

  @media (min-width: @screen-lsm-min) and (max-width: @screen-md-max) {
    .title .subscr-selector {
      margin-right: 2.5%;
    }
    .product-group {
      &:not(:nth-child(3)) {
        margin-right: 2.5%;
      }
      &:nth-child(3) {
        margin-right: 0;
      }

      &:nth-child(4) {
        clear: left;
      }

      .panel-heading {
        height: 55px;
      }

      .info,
      .order-btn {
        font-size: 14px;
        padding: 1px;
      }

      .icon-abos:before {
        font-size: 24vw;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .panel-body {
      padding: 5px;
    }

    .button {
      padding-top: 14px;
    }

    .country-selector,
    .product-group {
      padding-right: 0 !important;
    }

    .country-selector {
      margin-top: 10px;
    }

    .icon-abos:before {
      font-size: @screen-sm-max*0.24;
    }

    .info,
    .order-btn {
      font-size: 14px;
      padding: 1px;
    }
  }

  @media (max-width: @screen-xlg) and (min-width: @screen-lsm-min) {
    .panel-heading {
      height: 54px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
