@import (reference) 'colors';
@import (reference) '../../vars';

.product {
  .title {
    font-size: 18px;
    text-align: center;
  }
  .duration-icon {
    font-size: 95px;
    text-align: center;
    margin-top: 10px;
    color: @lightGrey;
  }

  .price {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .selected {
    .title,
    .duration-icon,
    .price {
      color: @orange;
    }
  }

  .duration {
    font-size: 95px;
    text-align: center;
    margin-top: 10px;
  }

  .price {
    text-align: center;
    margin-bottom: 30px;
  }

  .product-duration-label {
    white-space: nowrap;
  }

  div.parents {
    .text-duration {
      font-size: 18px;
      margin-top: 20px;
    }

    .help {
      color: @orange;
      font-size: 16px;
      margin-left: -120px;
    }

    .checkbox-margin {
      margin-left: -20px;
    }
  }

  div.licenses {
    .margin {
      @media (max-width: @screen-lmd-max) {
        margin-left: 22px;
      }
      margin-top: 21px;
    }
    .radioButtons {
      @media (max-width: @screen-lsm-max) {
        margin-top: 30px;
      }
      margin-top: 10px;
    }

    .text-duration {
      @media (max-width: @screen-lmd-max) {
        margin-left: 45px;
      }
      margin-left: 22px;
      font-size: 25px;
    }

    .mail {
      @media (min-width: @screen-md-min) and (max-width: @screen-lmd-max) {
        margin-left: 0;
      }
      margin-left: 20px;
      text-decoration: none;
      color: @orange;
    }
    .margin-left {
      @media (max-width: @screen-sm-max) {
        margin-left: 20px;
      }
    }
  }
}
