@import (reference) '../../vars';
@import (reference) '../../main/css/bootstrap/variables';

body div.registration {
  .buttons {
    padding: 0;
  }
  .panel {
    padding: 0;
  }
  div.panel-heading {
    border-width: 0;
  }
  /* Start of common */
  p {
    font-size: 12px;
  }

  .title-bottom {
    margin-bottom: 15px;
  }

  .title-panel {
    color: @white;
  }

  .text-center {
    text-align: center;
  }

  .link-mail-bold {
    font-weight: bold;
  }

  .text-orange {
    color: @orange;
  }

  /* End of common */

  /* Start Header */

  div.header {
    @progressLineHeight: 3px;
    @dotSize: 12px;
    @progressLineColor: @lightGrey;
    @progressLineVisitedColor: @orange;

    .registration-step {
      height: 40px;
      line-height: 40px;
      position: relative;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      color: @darkGrey;

      &.visited {
        a {
          color: @progressLineVisitedColor;
        }
        .hr {
          background-color: @progressLineVisitedColor;
          display: block;
        }
      }

      .hr {
        position: absolute;
        bottom: -@progressLineHeight;
        left: 0;
        width: 100%;
        height: @progressLineHeight;
        background-color: @progressLineColor;
        display: block;

        &:after {
          content: '';
          display: block;
          border-radius: @dotSize;
          width: @dotSize;
          height: @dotSize;
          background-color: inherit;
          position: absolute;
          left: 50%;
          top: (@progressLineHeight - @dotSize)/2;
        }
      }
    }

    .steps-container {
      border-bottom: @progressLineHeight solid @lightGrey;
      margin-bottom: 20px;
    }

    .no-gutter {
      [class*='col-'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .info {
      text-align: right;
      font-size: 14px;
      text-decoration: none;
    }

    .left {
      text-align: left;
      font-size: 14px;
      text-decoration: none;
    }

    @media (max-width: @screen-md-max) {
      .registration-step {
        font-size: 11px;
      }
    }

    @media (max-width: @screen-lsm-max) {
      margin-left: 50px;
      margin-right: 50px;

      .registration-step {
        height: 20px;
      }

      .first-step.registration-step {
        .hr {
          background-color: @progressLineColor;
          &:after {
            background-color: @progressLineVisitedColor;
          }
        }
      }

      .registration-step.visited {
        .hr {
          &:after {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }

  /* End of Header */

  @import 'registrationAgreement';

  @import 'infopage';

  @import 'product';

  @import 'customerData';

  @import 'payment';

  @import 'summary';

  @import 'preSelection';

  .checkbox {
    position: relative;
    .checkbox-label {
      position: absolute;
      top: 0px;
      left: 22px;
    }
  }
}
