@import (reference) '../../vars';
@import (reference) '../../main/css/bootstrap/variables';

.registration-agreement {
  .checkbox {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 14px;
  }

  .validation {
    clear: both;
  }
}
