@import (reference) 'colors';
@import (reference) '../../vars';

.summary {
  padding: 0 10px;
  @height: 260px;
  @bigHeight: 400px;
  @paymentHeight: 100px;

  &.big-height {
    .height-panel {
      @media (min-width: @screen-md-min) {
        height: @bigHeight;
      }
    }

    .text-grey {
      @media (min-width: @screen-xlg-min) {
        height: @bigHeight - @paymentHeight - 10px;
      }

      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: @bigHeight - @paymentHeight - 10px;
      }
    }
  }

  .duration-icon {
    color: @orange;
    font-size: 95px;
    text-align: center;
    margin-top: 10px;
  }

  .icon-abos:before {
    text-align: center;
    font-size: 180px;
    color: @orange;
  }

  .icon-abos {
    text-align: center;
  }

  .height-panel {
    @media (max-width: @screen-lsm-max) {
      height: auto;
    }
    height: @height;
  }

  .height-payment {
    @media (max-width: @screen-lsm-max) {
      height: auto;
    }
    height: @paymentHeight;
  }

  .text-grey {
    font-weight: bold;
    color: @darkGrey;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    height: @height - @paymentHeight - 10px;
    @media (max-width: @screen-lsm-max) {
      margin-top: 30px;
    }
  }

  .text-licenses {
    text-align: center;
  }

  .img {
    width: 61px;
    height: 41px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .margin-payment {
    margin-top: 30px;
  }

  .kleckse {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      margin-bottom: -20px;
      margin-top: -10px;
    }
    margin-top: -10px;
  }

  .panel {
    margin-bottom: 7px;
  }

  .separator {
    height: 30px;
  }

  button:not(.mat-raised-button):not(.mat-sort-header-button):not(.mat-button):not(.mat-icon-button):not(.no-legacy) {
    width: 100%;
  }
}
