<div class="row button-row">
  <div class="container">
    <div class="prev-container"
         ng-class="$ctrl.generateArrowBtnClass()">
      <div class="ideas-button">
        <div id="idea-types-prev"
             class="sort-button prev-btn"
             ng-class="{'rectangle-nav-button': $ctrl.selectedHierarchy.length > $ctrl.limit}"
             data-test="ideaTypesPrev"
             ng-click="$ctrl.onPrevClick()">
          <i class="fa fa-chevron-left"></i></div>
      </div>
    </div>
    <div class="sort-row sort-row-container buttons-container" ng-class="$ctrl.generateBtnRowClass()"
         >
      <div class="sort-col" ng-class="{'rectangle-item': $ctrl.selectedHierarchy.length > $ctrl.limit }"
           ng-if="$ctrl.selectedHierarchy.length > $ctrl.limit">
        <div class="ideas-button"
             ng-class="{'rectangle-button': ($ctrl.selectedHierarchy.length > $ctrl.limit),
             'new-ideas': $ctrl.categories[0].ageGroup || $ctrl.categories[0].ageGroupContainer}"
             ng-click="$ctrl.onTopCategoryClick()">
          <div class="sort-button"><i class="icon icon-reply"></i></div>
          <div class="button-name first-btn">{{ $ctrl.firstButtonName }}</div>
          <i class="icon icon-reply large-view"></i>
        </div>
      </div>
      <div class="sort-col" ng-class="{'rectangle-item': $ctrl.selectedHierarchy.length > $ctrl.limit }"
           ng-repeat="category in $ctrl.categories track by $index" ng-if="category.disableForFavourites != true || !$ctrl.isFavorites">
        <div class="ideas-button"

             ng-click="$ctrl.onCategoryClick({value: $index})"
             ng-class="{
               'rectangle-button': $ctrl.selectedHierarchy.length > $ctrl.limit,
               'new-ideas': category.ageGroup || category.ageGroupContainer,
               'active-button': $ctrl.selectedHierarchy[$ctrl.selectedHierarchy.length - 1] == category.name
             }">
          <div class="sort-button" data-test="ideaType-{{ category.name }}">
            <i class="fa" ng-class="category.icon"></i>
          </div>
          <div class="button-name">{{ category.title }}</div>
        </div>
      </div>
      <div class="sort-col last-item"></div>
    </div>
    <div class="next-container" ng-class="$ctrl.generateArrowBtnClass()">
      <div class="ideas-button">
        <div class="sort-button next-btn"
             ng-class="{'rectangle-nav-button': $ctrl.selectedHierarchy.length > $ctrl.limit}"
             id="idea-types-next"
             data-test="ideaTypesNext"
             ng-click="$ctrl.onNextClick()">
          <i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
