<form role="form" class="small memberplan-scheme" ng-submit="ctrl.submit()">
  <div class="panel panel-default">
    <div class="panel-heading" t="PLAN_COMMENT"></div>
    <div class="panel-body">
      <div class="form-group">
        <textarea
          ng-model="ctrl.comment"
          class="comment"
          ui-tinymce="ctrl.options"
          required
          valid-planner-comment
        ></textarea>
      </div>

      <div class="form-group">
        <button
          class="icon cancel full-width"
          type="button"
          data-test="remove"
          ng-click="ctrl.remove()"
          translate="BUTTON_REMOVE"
          ng-if="ctrl.editMode"
        ></button>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button
        type="button"
        data-test="cancel"
        class="cancel"
        ng-click="ctrl.cancel()"
        translate="BUTTON_CANCEL"
      ></button>
    </div>
    <div class="right">
      <button type="submit" data-test="submit" translate="BUTTON_OK"></button>
    </div>
  </div>
</form>
