<div class="copy-plan-dialog">
  <form role="form" class="two-col" name="copyPlanForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="modal-title text-center" t="PLAN_COPY_KIGA_PLAN_TITLE"></h3>
      </div>
      <div class="panel-body">
        <section class="entry alt" t="PLAN_COPY_KIGA_PLAN_DESCRIPTION"></section>

        <div class="form-group">
          <label t="PLAN_NAME_OF_PLAN"></label>
          <input class="form-control" type="text" maxlength="45" ng-model="plan.title" ng-required="true">
        </div>

        <div class="form-group datepicker">
          <label t="PLAN_SELECT_DATE"></label>
          <input type="text" class="form-control" ng-model="plan.planDate" ng-required="true" kiga-date>
        </div>

        <div class="form-group iconColorSelector">
          <div class="col-1">
            <button type="button" class="icon {{plan.color}}" ng-click="selectIcon()">
              <i class="icon icon-{{plan.icon}}"></i>
              {{ 'PLAN_SELECT_NEW_ICON' | translate }}
            </button>
          </div>
          <div class="col-2">
            <button type="button" class="{{plan.color}}" ng-click="selectColor()" t="PLAN_SELECT_NEW_COLOR"></button>
          </div>
        </div>

      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
      </div>
      <div class="right">
        <button type="button" ng-click="save()">OK</button>
      </div>
    </div>
  </form>
</div>
