<div class="row newPlan" ng-if="noPlanAvailable" translate="PLAN_NO_PLAN_AVAILABLE"></div>

<div ng-if="plan" class="planDetail {{plan.color}}">
  <section class="plan-section">
    <nav class="nav">
      <div class="row nav-row">
        <!-- kiga plan -->
        <div
          class="title col-xlg-20 col-lmd-24 col-lsm-30"
          ng-if="planType == 'kiga' && isCmsMember()"
          ng-class="{
                       'has-left': !!plan.prevPlanId,
                       'has-right': !!plan.nextPlanId
                       }"
        >
          <a
            ui-sref="root.plan.planType.detail({planId: plan.prevPlanId})"
            class="btn-prev"
            ng-show="plan.prevPlanId"
            data-test="planPrevious"
            >Prev</a
          >
          <div class="box"><span ng-if="planType == 'kiga'" t="PLAN_PLURAL_KIGA"></span></div>
          <a
            ui-sref="root.plan.planType.detail({planId: plan.nextPlanId})"
            class="btn-next"
            ng-show="plan.nextPlanId"
            data-test="planNext"
            >Next</a
          >
        </div>

        <!-- member plan -->
        <div
          class="title col-xlg-20 col-lmd-24 col-lsm-40"
          ng-if="planType == 'member'"
          ng-class="{
                       'has-left': !!plan.prevPlanId,
                       'has-right': !!plan.nextPlanId
                       }"
        >
          <a
            ui-sref="root.plan.planType.detail({planId: plan.prevPlanId})"
            class="btn-prev"
            ng-show="plan.prevPlanId"
            data-test="planPrevious"
            >Prev</a
          >
          <div class="box"><span ng-if="planType == 'member'" t="PLAN_PLURAL_MEMBER"></span></div>
          <a
            ui-sref="root.plan.planType.detail({planId: plan.nextPlanId})"
            class="btn-next"
            ng-show="plan.nextPlanId"
            data-test="planNext"
            >Next</a
          >
        </div>

        <div ng-if="showCopy()" class="btn-container col-xlg-20 col-lmd-24 col-lsm-30 col-sm-60">
          <a
            ng-click="copyPlanToCalendar()"
            ng-if="allowCopy()"
            class="btn icon button"
            data-test="copyPlan"
          >
            <p class="text copyTop" t="PLAN_COPY_KIGA_PLAN"></p>
          </a>
          <a
            ng-click="showCopyInfo()"
            ng-if="!allowCopy()"
            class="btn icon button"
            data-test="copyPlan"
          >
            <p class="text" t="PLAN_COPY_KIGA_PLAN"></p>
          </a>
        </div>

        <div
          ng-if="isCmsMember()"
          class="btn-container col-xlg-10 col-lmd-12 col-lsm-10 col-sm-30 small"
        >
          <a ui-sref="root.plan.planType.add" class="btn small btn-icon" data-test="addPlan">
            <span class="glyphicon glyphicon-plus"></span>
            <p class="hidden-md hidden-lsm hidden-sm text" t="PLAN_ADD"></p>
          </a>
        </div>

        <div
          ng-if="cmsOrSubscription()"
          class="btn-container col-xlg-10 col-lmd-12 col-lsm-10 col-sm-30 small"
        >
          <a
            ui-sref="root.plan.planType.edit({planId: plan.id})"
            class="btn small btn-icon"
            data-test="editPlan"
          >
            <span class="glyphicon glyphicon-edit"></span>
            <p class="hidden-md hidden-lsm hidden-sm text" t="PLAN_EDIT"></p>
          </a>
        </div>

        <div
          class="btn-container col-xlg-10 col-lmd-12 hidden-md hidden-lsm hidden-sm print"
          ng-if="isMemberPlan() || isCmsMember()"
        >
          <button data-toggle="dropdown" class="btn small btn-icon no-legacy" data-test="printPlan">
            <span class="glyphicon glyphicon-print"></span>
            <p class="text" t="PLAN_PRINT_MENU"></p>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a
                ng-click="printOverview()"
                data-test="printOverview"
                class="btn small"
                t="PLAN_PRINT_OVERVIEW"
              ></a>
            </li>
            <li>
              <a
                ui-sref="root.plan.planType.print({planId: plan.id})"
                ng-if="allowPrintSelection()"
                class="btn small"
                t="PLAN_PRINT_SELECTION"
                data-test="printSelection"
              >
              </a>
              <a
                ng-click="showPrintSelectionInfo()"
                ng-if="!allowPrintSelection()"
                class="btn small"
                t="PLAN_PRINT_SELECTION"
                data-test="printSelection"
              >
              </a>
            </li>
          </ul>
        </div>

        <div
          class="btn-container col-xlg-10 col-lmd-12 hidden-md hidden-lsm hidden-sm"
          ng-if="showNlSelect()"
        >
          <p>
            Selected Newsletter:
            <select
              ng-options="item as item.date for item in plan.newsletters track by item.id"
              ng-model="plan.selectedNl"
              ng-change="updateNlIndicator()"
            ></select>
          </p>
        </div>
      </div>
    </nav>
  </section>

  <section class="program-section">
    <div
      ng-repeat="week in plan.weeks"
      class="week"
      data-test="week"
      ng-class="{'hidden-lsm': hideWeek(plan, week),
                   'hidden-sm': hideWeek(plan, week)}"
    >
      <header class="heading" ng-class="{'first': $first}">
        <div class="col-xlg-56 col-lg-54 col-lmd-54 col-md-54 col-lsm-50 col-sm-49">
          <div ng-if="$first" class="planTitle plan-title">
            <i
              ng-if="plan.icon"
              class="normal icon icon-{{plan.icon}}"
              width="35"
              height="35"
              style="font-size: 28px; color:#ffffff"
            ></i>
            <h2><strong data-test="planTitle">{{plan.title}}</strong></h2>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-xlg-4 col-md-6 col-lsm-10 col-sm-11">
          <strong class="weekly">{{ 'PLAN_CW' | translate }}:<span>{{ week.weekNr }}</span></strong>
        </div>
      </header>
      <section class="programs">
        <!-- single column -->
        <ng-include
          class="hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lsm column-1-wrapper"
          src="'planner/partials/includes/planDetail-1-col.html'"
        >
        </ng-include>

        <!-- 3 columns -->
        <ng-include
          class="hidden-xlg hidden-lg hidden-lmd hidden-md hidden-sm column-3-wrapper"
          src="'planner/partials/includes/planDetail-3-col.html'"
        >
        </ng-include>

        <!-- 5 columns -->
        <div class="row hidden-xlg hidden-lsm hidden-sm columns-full" data-test="weekpart">
          <div
            ng-repeat="day in week.workDays"
            data-test="day-{{day.iso}}"
            class="col-md-12 dayCol"
            ng-class="day.isInPast ? 'inPast' : ''"
            ng-include="'planner/partials/includes/planDetailDay.html'"
          ></div>
        </div>
        <div class="row hidden-xlg hidden-lsm hidden-sm columns-full" data-test="weekpart">
          <div
            ng-repeat="day in week.weekendDays"
            data-test="day-{{day.iso}}"
            class="col-md-12 dayCol"
            ng-class="day.isInPast ? 'inPast' : ''"
            ng-include="'planner/partials/includes/planDetailDay.html'"
          ></div>
        </div>

        <!-- 7 columns -->
        <div
          class="row hidden-lg hidden-lmd hidden-md hidden-lsm hidden-sm columns-full"
          data-test="weekpart"
        >
          <div
            ng-repeat="day in week.days"
            data-test="day-{{day.iso}}"
            class="col-xlg-10 col-md-12 dayCol"
            ng-class="day.isInPast ? 'inPast' : ''"
            ng-include="'planner/partials/includes/planDetailDay.html'"
          ></div>
        </div>

        <!-- buttons -->
      </section>
    </div>
  </section>

  <div class="row copyBottom">
    <div
      ng-if="showCopy()"
      class="pull-right btn-container col-xlg-20 col-lmd-24 col-lsm-30 col-sm-60"
    >
      <a
        ng-click="copyPlanToCalendar()"
        ng-if="allowCopy()"
        class="btn icon button"
        data-test="copyPlan"
      >
        <p class="text" t="PLAN_COPY_KIGA_PLAN"></p>
      </a>
      <a
        ng-click="showCopyInfo()"
        ng-if="!allowCopy()"
        class="btn icon button"
        data-test="copyPlan"
      >
        <p class="text" t="PLAN_COPY_KIGA_PLAN"></p>
      </a>
    </div>
  </div>

  <section class="help" ng-if="planType == 'kiga'">
    <figure ng-if="isCmsMember()">
      <div class="img-holder">
        <img
          ng-src="{{url('planner/images/content/img-help-1.png')}}"
          alt=""
          width="101"
          height="118"
        />
      </div>
      <figcaption>
        <i class="ico">&nbsp;</i>
        <p translate="PLAN_KIGA_PLAN_HELP" class="ng-scope"></p>
      </figcaption>
    </figure>
  </section>
</div>
