<form role="form" class="small memberplan-scheme" ng-submit="ctrl.submit()">
  <div class="panel panel-default">
    <div class="panel-heading" translate="PLAN_ITEM_PRESELECTION_TITLE"></div>
    <div class="panel-body">
      <div class="form-group">
        <label translate="PLAN_ITEM_PRESELECTION_TEXT"></label>
        <ui-select ng-model="ctrl.preSelection.l1" on-select="ctrl.l1Changed()">
          <ui-select-match data-test="l1"
             placeholder="{{'ARTICLE_LEVEL1' | translate}}">
            {{$select.selected.title}}
          </ui-select-match>
          <ui-select-choices repeat="category in ctrl.categoriesL1">
            <span data-test="l1-{{category.title}}">{{category.title}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group" ng-if="ctrl.categoriesL2.length">
        <ui-select ng-model="ctrl.preSelection.l2">
          <ui-select-match data-test="l2"
             placeholder="{{'ARTICLE_LEVEL2' | translate}}">
            {{$select.selected.title}}
          </ui-select-match>
          <ui-select-choices repeat="category in ctrl.categoriesL2">
            <span data-test="l2-{{category.title}}">{{category.title}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <or-widget></or-widget>
      </div>
      <div class="form-group">
        <label translate="SEARCH"></label>
        <input type="text" ng-model="ctrl.searchTerm" class="form-control" data-test="searchTerm">
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" data-test="cancel" class="cancel"
              ng-click="ctrl.cancel()" translate="BUTTON_CANCEL"></button>
    </div>
    <div class="right">
      <button type="submit" data-test="submit" translate="PLAN_ITEM_PRESELECTION_SUBMIT"></button>
    </div>
  </div>
</form>
