<div class="planner">
  <div class="babyblue-scheme">
    <div
      ng-class="{
       'member-plan': ctrl.planType == 'member',
       'kiga-plan': ctrl.planType == 'kiga',
       'seven-columns': ctrl.isSevenColumns()
     }"
    >
      <!-- main nav starts -->
      <section class="nav-section container">
        <nav class="main-nav" ng-if="ctrl.isCmsMember() || ctrl.isMemberPlan()">
          <div class="row">
            <ul>
              <li
                class="col-xlg-10 col-lmd-12 col-md-20 col-lsm-20 hidden-sm"
                ui-sref-active="active"
              >
                <a
                  ui-sref="root.plan.planType.yearly"
                  class="btn yearly"
                  data-test="yearlyView"
                  translate="PLAN_VIEW_YEARLY"
                ></a>
              </li>
              <li class="col-xlg-10 col-lmd-12 col-lsm-20 col-sm-30" ui-sref-active="active">
                <a
                  ui-sref="root.plan.planType.monthly"
                  class="btn monthly"
                  data-test="monthlyView"
                  translate="PLAN_VIEW_MONTHLY"
                ></a>
              </li>
              <li
                ng-if="!ctrl.showWeekly()"
                class="col-xlg-10 col-lmd-12 col-lsm-20 col-sm-30"
                ui-sref-active="active"
              >
                <a
                  ui-sref="root.plan.planType.detail"
                  data-test="detailView"
                  class="btn"
                  translate="PLAN_VIEW_DETAIL"
                ></a>
              </li>
              <li
                ng-if="ctrl.showWeekly()"
                class="col-xlg-10 col-lmd-12 col-lsm-20 col-sm-30"
                ui-sref-active="active"
              >
                <a
                  ui-sref="root.plan.planType.weekly"
                  data-test="weeklyView"
                  class="btn"
                  translate="PLAN_VIEW_WEEKLY"
                ></a>
              </li>
            </ul>
          </div>
        </nav>
      </section>
      <div class="divider"></div>
      <ui-view class="container"></ui-view>
    </div>
  </div>
</div>
