<section class="plan-section year-monthly">
  <nav class="nav">
    <div class="row">
      <div
        class="title"
        ng-class="{
            'has-left': ctrl.allowPrev,
            'has-right': ctrl.allowNext
          }"
      >
        <a
          ui-sref=".({
            month: ctrl.data.prevMonth,
            year: ctrl.data.prevYear
            })"
          data-test="prevInterval"
          ng-if="ctrl.allowPrev"
          class="btn-prev"
          >Prev</a
        >
        <div class="box" ng-if="ctrl.data.type == 'yearly'"><span>{{ctrl.title}}</span></div>
        <div class="box" ng-if="ctrl.data.type == 'monthly'" style="line-height:200%">
          <span>{{ctrl.title | translate}}</span>
        </div>
        <a
          ui-sref=".({
            month: ctrl.data.nextMonth,
            year: ctrl.data.nextYear,
            })"
          data-test="nextInterval"
          ng-if="ctrl.allowNext"
          class="btn-next"
          >Next</a
        >
      </div>
    </div>
  </nav>
</section>

<div id="calendar" class="year text-center">
  <div class="monthly" ng-class="month.isNow ? 'alt' : ''" ng-repeat="month in ctrl.data.months">
    <div class="row">
      <div
        ng-if="ctrl.data.showMonthHeader"
        class="heading col-xlg-20 col-lmd-24 col-lsm-30 col-sm-60 text-left"
      >
        <h2 translate="{{month.name}}"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xlg-20 col-lmd-24 col-lsm-30 col-sm-60">
        <ol class="days">
          <li translate="PLAN_CW"></li>
          <li translate="PLAN_MONDAY"></li>
          <li translate="PLAN_TUESDAY"></li>
          <li translate="PLAN_WEDNESDAY"></li>
          <li translate="PLAN_THURSDAY"></li>
          <li translate="PLAN_FRIDAY"></li>
          <li translate="PLAN_SATURDAY"></li>
          <li translate="PLAN_SUNDAY"></li>
        </ol>
      </div>
    </div>

    <ul class="calendar-list">
      <div ng-repeat="week in month.weeks" class="row">
        <li ng-repeat="plan in week.plans">
          <plan-manager
            plan="plan"
            week="week"
            ng-if="plan.plan.id"
            id-of-item="ctrl.$stateParams.itemId"
          ></plan-manager>
          <plan-manager
            plan="plan"
            week="week"
            ng-if="plan.plan == 'empty' && ctrl.allowNewPlan"
            id-of-item="ctrl.$stateParams.itemId"
          ></plan-manager>
          <plan-manager
            ng-if="plan.plan == 'empty' && !ctrl.allowNewPlan"
            plan="plan"
            week="week"
            id-of-item="ctrl.$stateParams.itemId"
          ></plan-manager>
        </li>
      </div>
    </ul>
  </div>
</div>
