<div class="green-scheme">
  <div id="main">
    <div class="container">
      <section class="program-section drucken">
        <header class="heading">
          <div class="col-lg-60">
            <h2><strong translate="PLAN_PRINT_TITLE"
                        translate-values="{planTitle: plan.title}"></strong></h2>
          </div>
        </header>
        <div class="btn-holder alt col-xlg-19 col-xlg-offset-10 col-lg-24 col-lg-offset-0 col-lmd-28 col-sm-30">
          <a class="btn full-width" translate="BUTTON_BACK"
             ui-sref="root.plan.planType.detail({planId: plan.id})"></a>
        </div>
        <div class="btn-holder col-xlg-16 col-xlg-offset-5 col-lg-20 col-lg-offset-16 col-lmd-24 col-lmd-offset-8 col-sm-30">
          <a class="btn full-width" ng-click="printSelection()" translate="PLAN_PRINT_SELECTED_IDEAS">
          </a>
        </div>
        <!-- programs sections start -->
        <section class="programs">
          <div class="row">
            <div class="col-xlg-19 col-xlg-offset-10 col-lg-24 col-lmd-28 col-lmd-offset-0 hidden-md hidden-lsm hidden-sm">
              <div class="event"
                   ng-repeat="item in itemGroups.left"
                   ng-include="'planner/partials/includes/printItem.html'"
                   >
              </div>
            </div>
            <div class="col-xlg-19 col-xlg-offset-2 col-lg-24 col-lg-offset-12 col-lmd-28 col-lmd-offset-4 hidden-md hidden-lsm hidden-sm">
              <div class="event"
                   ng-repeat="item in itemGroups.right"
                   ng-include="'planner/partials/includes/printItem.html'"
                   >
              </div>
            </div>
          </div>
        </section>
        <!-- programs sections end -->
        <div class="btn-holder pull-right col-xlg-20 col-lg-20 col-lmd-24 col-sm-30">
          <a class="btn full-width" ng-click="printSelection()" translate="PLAN_PRINT_SELECTED_IDEAS">
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
