<div class="quick-idea">
  <form role="form" class="two-col" name="quickIdeaForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span t="QUICK_IDEA_CREATE"></span>
      </div>
      <div class="panel-body">
        <div class="col-1 col-1-first">
          <div class="form-group">
            <label t="QUICK_IDEA_TITLE"></label>
            <input class="form-control" type="text" maxlength="45" name="title" ng-model="formData.title"
                   ng-required="true">

            <div class="err_msg" ng-show="planForm.title.$invalid && (planForm.title.$dirty || showAllErrors)"
                 t="QUICK_IDEA_TITLE_REQUIRED_MSG"></div>
          </div>
          <div ng-if="contentTextMode" class="form-group">
            <label t="QUICK_IDEA_DESC"></label>

            <div class="editor-unit">
              <div class="holder">
                <div class="btn-toolbar"
                     data-role="editor-toolbar" data-target="#{{uniqueCode}}">
                  <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i
                        class="fa fa-underline"></i></a>
                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><i
                        class="fa fa-strikethrough"></i></a>
                  </div>
                  <div class="btn-group">
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                  </div>
                  <div class="btn-group">
                    <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                        class="fa fa-align-left"></i></a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                        class="fa fa-align-center"></i></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                        class="fa fa-align-right"></i></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                        class="fa fa-align-justify"></i></a>
                  </div>
                </div>
                <div id="editor_{{uniqueCode}}" class="editor-content"
                     ui-jq="wysiwyg" ng-model="formData.description">
                </div>
              </div>
            </div>

          </div>
          <div class="uploader" ng-if="!contentTextMode">
            <div class="upload-button-back" t="QUICK_IDEA_UPLOAD_FILE_TITLE"></div>
            <div class="upload_button" file-upload multiple options="uploadOptions" on-add="onFileAdd"></div>
            <div class="file_list">
              <div class="file" ng-repeat="file in formData.files">
                <div class="remove" ng-click="onRemoveFile(file)"><i class="icon icon-cart"></i>Delete file</div>
                <span class="file-name"><i class="icon icon-earth"></i>{{file.name}}</span><span class="file-size">{{file.size | fileSize}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-2-first">
          <div class="event planned-item">
            <figure>
              <div class="img-holder">
                <div class="preview-uploader-back">
                  <div class="title" t="QUICK_IDEA_PREVIEW_UPLOAD"></div>
                </div>
                <div class="preview-uploader" file-upload  options="uploadOptions" on-add="onPreviewAdd"></div>
                <img ng-src="" alt="" title="">
              </div>
              <figcaption class="info">
                <h5>{{ }}</h5>

                <div class="specification">
                  <em class="category">
                    {{ }}
                    <span>{{ }}</span>
                  </em>
                  <strong class="age">{{}}+</strong>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="form-group">
          <div class="col-1">
            <label translate="QUICK_IDEA_CATEGORY"></label>

            <div class="dropdown">
              <button class="btn dashed btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{formData.category ? formData.category : ('QUICK_IDEA_PLEASE_SELECT' | translate)}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="presentation" ng-if="!formData.educationSector"><a href role="menuitem" tabindex="-1"
                                                                             ng-click="formData.category = category">{{'QUICK_IDEA_CATEGORY_SELECT_EDUCATION'
                  | translate}}</a>
                </li>
                <li role="presentation" ng-repeat="category in educationSectors[formData.educationSector]"><a href
                                                                                                              role="menuitem"
                                                                                                              tabindex="-1"
                                                                                                              ng-click="formData.category = category">{{category}}</a>
                </li>
              </ul>
            </div>
            <div class="err_msg" ng-show="!formData.category && showAllErrors">{{'QUICK_IDEA_CATEGORY_REQUIRED_MSG' |
              translate}}
            </div>
          </div>
          <div class="col-2">
            <label translate="QUICK_IDEA_SUBJECT"></label>

            <div class="dropdown">
              <button class="btn dashed btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{formData.educationSector ? formData.educationSector : ('QUICK_IDEA_PLEASE_SELECT' | translate)}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="presentation" ng-repeat="(name, sector) in educationSectors"><a href role="menuitem"
                                                                                          tabindex="-1"
                                                                                          ng-click="selectEducationSector(name)">{{name}}</a>
                </li>
              </ul>
            </div>
            <div class="err_msg" ng-show="!formData.educationSector && showAllErrors">
              {{'QUICK_IDEA_SUBJECT_REQUIRED_MSG' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="contentTextMode" value="text" ng-model="contentTextMode" icheck>&nbsp;{{
            "QUICK_IDEA_CONTENT_MODE" | translate }}
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="checkbox1" value="1" ng-model="checkbox1" icheck>&nbsp;{{ "QUICK_IDEA_AGE3_4" |
            translate }}
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="checkbox2" value="2" ng-model="checkbox2" icheck>&nbsp;{{ "QUICK_IDEA_AGE4_5" |
            translate }}
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="checkbox3" value="3" ng-model="checkbox3" icheck>&nbsp;{{ "QUICK_IDEA_AGE5_6" |
            translate }}
          </label>
        </div>
        <div class="form-group">
          <label t="PLAN_WRITE_SOME_TAGS"></label>
          <tags-input ng-model="formData.tags">
            <auto-complete source="completeTag($query)"></auto-complete>
          </tags-input>
        </div>
        <div class="form-group">
          <label t="QUICK_IDEA_SELECT_TYPE"></label>
          <div class="dropdown">
            <button class="btn dashed btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              {{ 'QUICK_IDEA_PLEASE_SELECT' | translate }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li role="presentation" ng-repeat="(name, sector) in {Arbeitsblatt:'Arbeitsblatt'}"><a href role="menuitem"
                                                                                        tabindex="-1"
                                                                                        ng-click="">{{name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="event planned-item preview-horizontal">
          <figure>
            <div class="img-holder">
              <div class="preview-uploader-back">
                <div class="title" t="QUICK_IDEA_PREVIEW_UPLOAD"></div>
              </div>
              <div class="preview-uploader" file-upload  options="uploadOptions" on-add="onPreviewAdd"></div>
              <img ng-src="" alt="" title="">
            </div>
            <figcaption class="info">
              <h5>{{ }}</h5>

              <div class="specification">
                <em class="category">
                  {{ }}
                  <span>{{ }}</span>
                </em>
                <strong class="age">{{}}+</strong>
              </div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
    <div class="buttons">
      <div class="left">
        <button type="button" class="cancel">Cancel</button>
      </div>
      <div class="right">
        <button type="button" ng-click="save()">OK</button>
      </div>
    </div>
  </form>

</div>