<breadcrumbs breadcrumbs="ctrl.feed.breadcrumbs"
             class="violet"
             root-name="'FAVOURITES_ALL_FAVOURITES'"
             on-breadcrumb-click="ctrl.onBreadcrumbClick(index)"
             on-first-breadcrumb-click="ctrl.onTopCategoryClick()"
></breadcrumbs>
<div class="favourites">
  <button-row categories="ctrl.feed.parentCategories.length ? ctrl.feed.parentCategories : ctrl.feed.categories"
              selected-hierarchy="ctrl.selectedHierarchy"
              on-top-category-click="ctrl.onTopCategoryClick()"
              on-category-click="ctrl.onCategoryButtonClick(value)"
              is-last-navigation-level="ctrl.isLastNavigationLevel()"
              selected-hierarchy-limit="1"
              first-button-name="{{ctrl.feed.firstLevelCategoryName}}"
              is-favorites="true">
  </button-row>

  <div class="row no-favs-msg" ng-show="ctrl.feed.categories != null && ctrl.feed.categories.length <= 0">
    <div class="container">
      <form class="one-col">
        <div class="panel">
          <div class="panel-heading" translate="FAVOURITES_EMPTY_TITLE"></div>
          <div class="panel-body" translate="FAVOURITES_EMPTY_DESCRIPTION"
               translate-values="{ ideasLink: ctrl.ideasLink }"></div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="favourites-overview">
      <div class="type-row" ng-repeat="category in ctrl.feed.categories track by $index" ng-if="category.disableForFavourites != true">
        <div class="container overview-row category-{{$index}}"
             ng-if="ctrl.feed.activeCategory != category.name || category.ideas.length > 0">
          <div class="type-title"
               ng-click="!ctrl.isLastNavigationLevel() ? ctrl.onCategoryClick($index) : ''"
               ng-class="{
                 'title-link':ctrl.isLastNavigationLevel() !== true,
                 'favourites': category.ageGroup || category.ageGroupContainer
                 }">
            {{ category.title }}
          </div>
          <div class="prev-btn"
               ng-class="{'favourites': category.ageGroup || category.ageGroupContainer}"
               data-test="itemsListPrev-{{ category.name }}"
               id="items-list-prev-{{ category.name }}">
            <i class="fa fa-chevron-left"></i></div>
          <div class="favourites-list"
               scroll-pane="{
                        prevButton:'#items-list-prev-{{ category.name }}',
                        nextButton:'#items-list-next-{{ category.name }}',
                        autoHideButtons: true,
                        showInactivePrevBtn: true,
                        watch: 'category.ideas.length',
                        idx: {{ $index == ctrl.ideaCategoryIndex ? ctrl.ideaIndex : 0}},
                        pageScroll: true,
                        categoryName: '{{ category.name }}'
                      }">

            <div class="favourite hidden-xs hidden-sm hidden-lsm"
                 ng-class="{
                   active: idea == ctrl.ideaObject, show3Limit: ($index > 2 && !ctrl.isLastNavigationLevel()),
                   'favourite': !idea.inPool
                 }"
                 data-idea-id="{{ category.name+idea.id }}"
                 ng-repeat="idea in category.ideas track by $index"
                 ng-click="ctrl.onIdeaClick($parent.$index, $index)">
              <div class="favourite-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <!--&lt;!&ndash; hearts and ranking inside preview image-->
                <div class="info-heart"
                     ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
                <div class='favourite-active'>
                  <div class="favourite-circle"></div>
                </div>
              </div>
              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{
                idea.description }}
              </div>
            </div>

            <a class="favourite hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg"
               ng-class="{active:idea == ctrl.ideaObject, show3Limit: ($index > 2 && !ctrl.isLastNavigationLevel()),
               'favourite': !idea.inPool}"
               data-idea-id="{{ category.name+idea.id }}"
               ng-repeat="idea in category.ideas track by $index"
               ng-href="{{ ctrl.getIdeaViewLink(idea) }}">
              <div class="favourite-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <div class='favourite-active'>
                  <div class="favourite-circle"></div>
                </div>
                <div class="info-heart"
                     ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
              </div>

              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{
                idea.description }}
              </div>
            </a>

            <div class="last-item" ng-if="category.ideas.length == 8"></div>
            <div class="more-favourites-btn"
                 ng-class="{'favourites': category.ageGroup || category.ageGroupContainer}"
                 ng-show="category.disableForFavourites != true && category.ideas.length >= ctrl.maxIdeasPerRow && !ctrl.isLastNavigationLevel()"
                 ng-click="ctrl.onCategoryClick($parent.$index)">
              <div class="more-bl-large">
                <div class="img-border">
                  <div class="more-btn">
                    <span>{{category.title}} </span>
                  </div>
                </div>
                <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
              </div>
            </div>
            <div class="more-bl"
                 ng-show="category.ideas.length > 3 && !ctrl.isLastNavigationLevel()"
                 ng-click="ctrl.onCategoryClick($parent.$index)">
              <div class="more-btn">
                <span>{{'NAVIGATION_MORE' | translate}} </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="next-btn" data-test="itemsListNext-{{ category.name }}"
               ng-class="{'favourites': category.ageGroup || category.ageGroupContainer}"
               id="items-list-next-{{ category.name }}">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        <div class="hidden-lsm hidden-sm preview-container-bg {{ctrl.ideaObject.inPool ? '' : 'favourites'}}"
             ng-if="ctrl.isPreviewFromCategory($index)"
             ng-include="'ideas/partials/ideaPreview.html'">
        </div>
      </div>
    </div>
  </div>
</div>
