<div class="ideas-button-container">
  <a
    [ngClass]="{ 'active-button': isActive(), 'theme-bg': isActive(), 'theme-border': isActive() }"
    [routerLink]="data.url"
    [queryParams]="data.queryParams"
    class="ideas-button theme-hover theme-hover-border"
  >
    <div class="button-name" [ngClass]="{ 'include-theme-hover': !isActive() }">
      <span>{{ data.title }}</span> <i *ngIf="index === 0" class="icon icon-reply"></i>
    </div>
  </a>
</div>
