@media (min-width: 640px) {
  .ideas-button-container {
    min-height: 98px;
  }
  .ideas-button {
    display: inline-flex;
    width: 100%;
    height: 60px;
    position: relative;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    border: #bcbcbc 3px solid;
    color: #bcbcbc;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    text-overflow: ellipsis;
    &.active-button {
      .button-name {
        color: #fff;
      }
    }
  }

  .button-name {
    position: static;
    width: 100%;
    height: auto;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 28px;
    min-height: 1px;
    top: 70px;
    left: 0;
    max-width: 400px;
    text-align: center;
    color: gray;
    font-weight: 500;
  }
  .icon-reply {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 5px;
    color: inherit;
  }
}
