<div name="{{$ctrl.name}}">
  <div>
    <kiga-input input-name="bday" place-holder="{{'MISC_DATE_DD' | translate}}"
                validation="disable" value="$ctrl.dateParts.day"
                on-change="$ctrl.changeDay(value)"></kiga-input>
  </div>
  <div>
    <kiga-selection on-select="$ctrl.changeMonth(value)"
                    input-name="bmonth" selection-class="middle"
                    value="$ctrl.dateParts.month"
                    options="$ctrl.months" translation="true"></kiga-selection>
  </div>
  <div class="right">
    <kiga-input input-name="byear" place-holder="{{'MISC_DATE_YYYY' | translate }}"
                validation="disable" value="$ctrl.dateParts.year"
                on-change="$ctrl.changeYear(value)"></kiga-input>
  </div>
</div>
