kiga-birthday > div {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  > div {
    margin-top: 0;
    float: left;
    display: block;
    width: 33%;
    kiga-selection .middle {
      width: 103%;
      padding: 0 5px;
    }
  }
  div.right {
    margin-left: 2.1px;
  }
}
