<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>KiGaPortal</title>
  <script type="text/javascript">
    kiga = {
      clientUrl: '.',
      endPointUrl: 'http://localhost:8080/',
      kigaInfoMsgs: { noCookieMsg: 'A', noJavascript: 'B' },
      isDev: true
    };
    window.__webpack_public_path__ = kiga.clientUrl;
  </script>
  <script src="bundle.js"></script>
  <link ng-repeat="hreflang in hreflangs" rel="alternate" href="{{url}}" hreflang="{{locale}}" />
  <async-css href="http://fonts.googleapis.com/css?family=Open+Sans:700,400"></async-css>
  <style>
    div.loader {
      background: #fff;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    div.loader .mat-progress-spinner {
      display: block;
      position: relative;
      margin: auto;
      top: 40%;
    }
    div.loader .mat-progress-spinner svg {
      position: absolute;
      transform: rotate(-90deg);
      top: 0;
      left: 0;
      transform-origin: center;
      overflow: visible;
    }
    div.loader .mat-progress-spinner circle {
      stroke: #97bf0d;
      fill: transparent;
      transform-origin: center;
      transition: stroke-dashoffset 225ms linear;
    }
    div.loader
    .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
      animation: mat-progress-spinner-linear-rotate 2s linear infinite;
    }
    div.loader
    .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"]
    circle {
      transition-property: stroke;
      animation-duration: 4s;
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
      animation-iteration-count: infinite;
    }
    div.loader
    .mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"] {
      animation: mat-progress-spinner-stroke-rotate-fallback 10s
      cubic-bezier(0.87, 0.03, 0.33, 1) infinite;
    }
    div.loader
    .mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"]
    circle {
      transition-property: stroke;
    }
    @keyframes mat-progress-spinner-linear-rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes mat-progress-spinner-stroke-rotate-100 {
      0% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(0);
      }
      12.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(0);
      }
      12.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(72.5deg);
      }
      25% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(72.5deg);
      }
      25.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(270deg);
      }
      37.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(270deg);
      }
      37.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(161.5deg);
      }
      50% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(161.5deg);
      }
      50.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(180deg);
      }
      62.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(180deg);
      }
      62.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(251.5deg);
      }
      75% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(251.5deg);
      }
      75.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(90deg);
      }
      87.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(90deg);
      }
      87.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(341.5deg);
      }
      100% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(341.5deg);
      }
    }
    @keyframes mat-progress-spinner-stroke-rotate-fallback {
      0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(1170deg);
      }
      50% {
        transform: rotate(2340deg);
      }
      75% {
        transform: rotate(3510deg);
      }
      100% {
        transform: rotate(4680deg);
      }
    }
  </style>
</head>
<body>
<div ui-view ng-cloak></div>
<div class="loader ui-widget-overlay">
  <div
    class="mat-spinner mat-progress-spinner mat-primary mat-progress-spinner-indeterminate-animation"
    mode="indeterminate"
    role="progressbar"
    style="width: 100px; height: 100px;"
  >
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 100 100"
      style="width: 100px; height: 100px;"
    >
      <circle
        cx="50%"
        cy="50%"
        r="45"
        style="animation-name: mat-progress-spinner-stroke-rotate-100;
          stroke-dasharray: 282.743px;
          stroke-dashoffset: 56px;
          stroke-width: 10%;"
      />
    </svg>
  </div>
  <script>
    angular.bootstrap(document, ['main']);
  </script>
</div>
</body>
</html>
