// KiGa Themes Colors
// --------------------------------
@inputGrey: #f9f9f9;
@lightGrey: #b2b2b2;
@grey: #d7d7d7;
@greylightdark: #9c9c9c;
@darkGrey: #515050;
@panelGrey: #cccccc;
@softGrey: #b0b0b0;
@middleGrey: #ababab;
@wrapperGrey: #c1c1c2;
@footerGray: #f3f3f3;
@dropMenuGrey: #383838;
@middleBlack: #2d2d2d;
@btnOrange: #f7941d;
@darkOrange: #f39200;
@lightOrange: #f29400;
@orange: #f29400; //area colour
@middleYellow: #fbbb04;
@memberPlan: #96abd2;
@kigaPlan: #6594ca; //area colour
@blue: #7caad6;
@violet: #9184c0;
@middleViolet: #9185be;
@middlePink: #c55c9f;
@white: #ffffff;
@green: #97bf0d; //area colour
@darkGreen: #016411;
@softGreen: #a6c460;
@shopColor: #ee451a; //area colour
@red: #ed1c24;
@redmessage: #c32907;
@activeIdeaBg: rgba(250, 184, 110, 0.6);
@activeNewIdeaBg: rgba(201, 247, 133, 0.6);
@activeFavBg: rgba(red(@violet), green(@violet), blue(@violet), 0.6);
