<div class="ideas">
  <breadcrumbs breadcrumbs="ctrl.breadcrumbs"
               root-name="ctrl.breadcrumbsTitle"
               class="orange"
               on-first-breadcrumb-click="ctrl.onTopCategoryClick()"
               on-breadcrumb-click="ctrl.onBreadcrumbClick(index)">

  </breadcrumbs>
  <div ng-hide="ctrl.isWithSearchResults()" class="row buttons-row">
    <div class="container">
      <div class=" no-hits-content"
           translate="SEARCH_NO_HITS_CONTENT" translate-values="{query: ctrl.query.join(' ')}"></div>
    </div>
  </div>
  <button-row categories="ctrl.filteredCategories"
              selected-hierarchy="ctrl.selectedHierarchy"
              on-top-category-click="ctrl.onBackToParent()"
              on-category-click="ctrl.onCategoryClick(value)"
              is-last-navigation-level="ctrl.isLastNavigationLevel()"
              selected-hierarchy-limit="0"
              first-button-name="{{ctrl.parentName}}"
              is-favorites="false">
  </button-row>
  <!-- <div class="ideas-overview"> -->
  <div class="ideas-overview">
    <!-- Start show search result in grid -->
    <div class="type-row">
      <div class="container">
      <div  class="ideas-list ideas-grid">

        <a class="idea hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg"
           ng-class="{active:idea == ctrl.ideaObject}"
           data-idea-id="{{ category.name+idea.id }}"
           ng-repeat="idea in ctrl.ideas track by $index"
           ng-href="{{ ctrl.getIdeaViewLink(idea) }}">
          <div class="idea-img">
            <div class="img-border"></div>
            <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
            <div class='idea-active'>
              <div class="idea-circle"></div>
            </div>
            <div class="info-heart" ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation(); $event.preventDefault();">
              <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
            </div>
          </div>

          <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
          <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{ idea.description }}</div>
        </a>

        <div class="idea hidden-xs hidden-sm hidden-lsm"
             ng-class="{active:idea == ctrl.ideaObject}"
             data-idea-id="{{ category.name+idea.id }}"
             ng-repeat-start="idea in ctrl.ideas track by $index"
             ng-click="ctrl.onGridIdeaClick($index)">
          <div class="idea-img">
            <div class="img-border"></div>
            <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
            <div class="info-heart"
                 ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
              <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
            </div>
            <div class='idea-active'>
              <div class="idea-circle"></div>
            </div>
          </div>
          <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
          <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{ idea.description }}</div>
        </div>
        <div
          ng-if="($index + 1) % 3 === 0 || $index === ctrl.ideas.length - 1"
          class="visible-md">
          <div
            ng-if="ctrl.showPreviewPanel(3, $index)"
            class="preview-container-bg"
            ng-include="'search/partials/ideaPreview.html'">
          </div>
        </div>
        <div
          ng-if="($index + 1) % 4 === 0 || $index === ctrl.ideas.length - 1"
          class="visible-lmd">
          <div
            ng-if="ctrl.showPreviewPanel(4, $index)"
            class="preview-container-bg"
            ng-include="'search/partials/ideaPreview.html'">
          </div>
        </div>
        <div
          ng-if="($index + 1) % 5 === 0 || $index === ctrl.ideas.length - 1"
          class="visible-lg">
          <div
            ng-if="ctrl.showPreviewPanel(5, $index)"
            class="preview-container-bg"
            ng-include="'search/partials/ideaPreview.html'">
          </div>
        </div>
        <div
          ng-if="($index + 1) % 6 === 0 || $index === ctrl.ideas.length - 1"
          class="visible-xlg">
          <div
            ng-if="ctrl.showPreviewPanel(6, $index)"
            class="preview-container-bg"
            ng-include="'search/partials/ideaPreview.html'">
          </div>
        </div>
        <div
          ng-repeat-end
          ng-if="($index + 1) % 7 === 0 || $index === ctrl.ideas.length - 1"
          class="visible-xxlg">
          <div
            ng-if="ctrl.showPreviewPanel(7, $index)"
            class="preview-container-bg"
            ng-include="'search/partials/ideaPreview.html'">
          </div>
        </div>
      </div>

      <p ng-show="ctrl.isWithSearchResults()" class="page-number center-block">{{ctrl.page}}/{{ctrl.feed.numberOfPages}}</p>
      <div class="buttons">
        <div class="left">
          <p ng-hide="ctrl.page > 1" ></p>
          <button ng-show="ctrl.page > 1" type="button" class="cancel" translate="BUTTON_BACK" ng-click="ctrl.back()"></button>
        </div>
        <div class="right">
          <button ng-if="ctrl.page < ctrl.feed.numberOfPages" type="submit" translate="BUTTON_NEXT" ng-click="ctrl.nextGrid()"></button>
        </div>
      </div>

    </div>
    </div>
    <!-- End show search result in grid -->

  </div>
</div>


