@import '../../main/css/bootstrap/variables.less';
.ideas {
  .ideas-overview {
    .ideas-list.ideas-grid {
      // override some styles from .ideas-list
      height: auto;
      overflow: visible;
      padding-bottom: 0px;
      /* white-space: normal; */
      .preview-container-bg {
        white-space: initial;
        margin-top: 13px;
        margin-bottom: 20px;
        margin-right: -78.2px;
        @media (min-width: @screen-md-min) {
          margin-left: calc(-77.5px);
        }
        @media (min-width: @screen-lg-min) {
          margin-left: calc(-78.2px);
        }
        @media (min-width: @container-xlg) {
          @xlg-margin: calc(-(1280px - 100vw) / 2 - 78.2px);
          margin-left: @xlg-margin;
          margin-right: @xlg-margin;
        }
      }
      .idea {
        margin-bottom: 16px;
      }
      .visible-sm {
        @media (max-width: @screen-sm-max) {
          display: block !important;
        }
      }
      .visible-lsm {
        @media (min-width: @screen-lsm-min) and (max-width: @screen-lsm-max) {
          display: block !important;
        }
      }
      .visible-md {
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          display: block !important;
        }
      }
      .visible-lmd {
        @media (min-width: @screen-lmd-min) and (max-width: @screen-lmd-max) {
          display: block !important;
        }
      }
      .visible-lg {
        @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
          display: block !important;
        }
      }
      .visible-xlg {
        @media (min-width: @screen-xlg-min) and (max-width: (@container-xlg - 1)) {
          display: block !important;
        }
      }
      .visible-xxlg {
        display: none !important;
      }
      .visible-xxlg {
        @media (min-width: @container-xlg) {
          display: block !important;
        }
      }
    }
    .page-number {
      width: 15px;
    }
  }
}
