body .downloadable-ideas-management {
  margin-top: 20px;

  .date-input {
    width: 150px;

    input {
      text-align: center;
    }
  }

  li.locale-selection {
    float: right;

    label {
      margin-top: 10px;
    }

    .form-group {
      width: 265px;
      margin-bottom: 0;
    }
  }

  button.disabled {
    background-color: lightgrey;
  }

  .two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  div.form-group input[type='checkbox'] {
    width: 34px;
    display: inline-block;
  }
  .preview-file-uploader > kiga-upload {
    display: block;
    width: 250px;

    .description {
      display: none;
    }

    .uploader {
      .file_list {
        position: relative;

        .icon-remove {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;

          &:before {
            font-size: 18px;
            width: 18px;
            height: 18px;
            margin-left: -18px;
            margin-bottom: -18px;
          }
        }

        .file .preview {
          height: 228px;
          min-width: 228px;
          flex-basis: 228px;
        }
      }

      canvas {
        max-height: 226px;
        max-width: 226px;
      }
    }
  }

  button.add-group-to-idea-btn {
    padding: 1px;
    margin: 2px;
  }

  ul.parent-urlsegments {
    list-style: none;
    padding: 0;
    margin: 5px 10px;

    li {
      display: inline-block;
      overflow: hidden;
      padding: 0;
      margin: 0;

      a {
        float: left;
      }

      &:not(:last-child):after {
        content: '/';
        display: inline-block;
        float: left;
        margin: 0 3px;
      }
    }
  }
}
