@import '../../../vars';
.slider-items {
  margin: 10px;
  .ui-grid {
    margin-top: 10px;
    height: 100% !important;
  }
  .ui-grid-draggable-row-target {
    opacity: 0.4 !important;
  }
  .ui-grid-draggable-row {
    /*height: 70px;*/
  }
  .ui-grid-draggable-row-over {
    position: relative;
  }
  .ui-grid-draggable-row-over:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    /*border-bottom: 2px solid grey;*/
  }
  .ui-grid-draggable-row-over--above:before {
    top: 0;
  }
  .ui-grid-draggable-row-over--below:before {
    bottom: 0;
  }
  .ui-grid-cell {
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
  }
  .img-cell {
    text-align: center;
    padding: 10px;
  }
  .delete-btn {
    font-size: 20px;
    color: @red;
    font-weight: bold;
  }
  .ui-grid-column-menu-button {
    display: none;
  }

  .town-btn {
    color: #fff;
    border: 0;
    text-decoration: none;
    padding: 8px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }

  .town-btn {
    background-color: #ababab;
    width: 150px;
    font-size: 16px;
    @media (max-width: @screen-lsm-max) {
      width: 80px;
    }
  }

  .preview {
    max-width: 250px;
    img {
      width: 100%;
    }
  }
  .table-controls {
    margin: 8px;
    text-align: right;
    .table-save-btn {
      color: #fff;
      display: inline-block;
      .no-touchevents &:hover {
        background: @orange;
      }
    }
  }
  .video-preview {
    width: 355px;
    margin-left: 20px;
    display: inline-block;
  }
  .file-select-wrp {
    padding: 8px;
    border: 1px solid #ababab;
    min-height: 260px;

    .img_preview {
      position: relative;
      width: 200px;
      float: left;
    }

    .placeholder {
      background: #a6c460;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      color: #fff;
      width: 200px;
      height: 200px;
      .question_mark {
        font-size: 90px;
        line-height: 120px;
      }
    }

    .img-preview-controls {
      .town-btn {
        display: inline-block;
        margin-right: 10;
      }
      .save-btn {
        .no-touchevents &:hover {
          background: @orange;
        }
      }
    }
    .product-page-link {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
