<div class="preview-container row">
  <div class="nav-left">
    <div
      class="prev-btn"
      data-test="previewPrev"
      ng-class="{'new-ideas': ctrl.isNewIdeas}"
      ng-click="ctrl.prevItem($index)"
      ng-show="ctrl.ideaIndex > 0"
    >
      <i class="fa fa-chevron-left"></i>
    </div>
  </div>
  <div class="action-buttons" ng-show="ctrl.ideaObject.download">
    <a class="eye-btn" ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}">
      <div
        class="action-btn eye-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_DOWNLOAD_IDEA' | translate }}"
        data-test="download"
        ng-click="ctrl.downloadIdea()"
      >
        <i class="fa fa-cloud-download"></i>
      </div>
    </a>
    <a
      ng-href="{{ ctrl.getIdeaLinks().view.link }}"
      class="eye-btn"
      ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}"
    >
      <div
        class="action-btn eye-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_VIEW_IDEA' | translate }}"
        data-test="previewView"
      >
        <i class="fa fa-eye"></i>
      </div>
    </a>
    <a href="{{ ctrl.getIdeaLinks().edit.link }}">
      <div
        class="action-btn edit-btn"
        ng-if="ctrl.getIdeaLinks().edit.show"
        data-test="previewEdit"
      >
        <i class="fa fa-pencil"></i>
      </div>
    </a>
  </div>
  <div class="action-buttons" ng-hide="ctrl.ideaObject.download">
    <a
      ng-href="{{ ctrl.getIdeaLinks().view.link }}"
      class="eye-btn"
      ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}"
    >
      <div
        class="action-btn eye-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_VIEW_IDEA' | translate }}"
        data-test="previewView"
      >
        <i class="fa fa-eye"></i>
      </div>
    </a>
    <a ng-href="{{ ctrl.getIdeaLinks().planner.link }}" class="calendar-btn">
      <div
        class="action-btn calendar-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_CALENDAR' | translate }}"
        data-test="previewCalendar"
      >
        <i class="fa fa-calendar"></i>
      </div>
    </a>
    <a class="print-btn" ng-href="{{ ctrl.getIdeaLinks().print.link }}?origin=favourites">
      <div
        class="action-btn print-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEA_PRINT' | translate }}"
        data-test="previewPrint"
      >
        <i class="icon icon-print-image"></i>
      </div>
    </a>

    <a ng-click="ctrl.toggleFavourite(ctrl.ideaObject)" class="favourite-btn">
      <div
        class="action-btn favourite-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ ctrl.ideaObject.favourite ? 'IDEAS_REMOVE_FAVOURITE' : 'IDEAS_ADD_FAVOURITE' | translate }}"
        data-test="previewCalendar"
      >
        <i
          class="fa
           {{ ctrl.ideaObject.favourite ? 'fa-heart' : 'fa-heart-o'}}"
        ></i>
      </div>
    </a>

    <a
      ng-if="ctrl.getIdeaLinks().printWithoutImage.show"
      class="print-btn"
      ng-href="{{ctrl.getIdeaLinks().printWithoutImage.link}}?origin=favourites"
    >
      <div
        class="action-btn print-btn"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEA_PRINT_WITHOUT_IMG' | translate }}"
        data-test="previewPrint"
      >
        <i class="icon icon-print-text"></i>
      </div>
    </a>

    <a href="{{ ctrl.getIdeaLinks().edit.link }}" target="_blank">
      <div
        class="action-btn edit-btn"
        ng-if="ctrl.getIdeaLinks().edit.show"
        data-test="previewEdit"
      >
        <i class="fa fa-pencil"></i>
      </div>
    </a>

    <audio-player
      href="{{ctrl.ideaObject.audioLink}}"
      ng-if="ctrl.ideaObject.audioLink && !ctrl.ideaObject.videoLink"
      show-only-buttons="true"
    >
    </audio-player>

    <div
      class="action-btn play-btn paused"
      ng-if="ctrl.ideaObject.videoLink"
      ng-click="ctrl.showVideo = true"
    >
      <i
        class="play-icon icon icon-play"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_PLAY_VIDEO' | translate }}"
      ></i>
      <i
        class="pause-icon icon icon-pause"
        tooltip-placement="bottom"
        uib-tooltip="{{ 'IDEAS_PAUSE_VIDEO' | translate }}"
      ></i>
    </div>

    <a ng-click="ctrl.copyLinkToClipboard()">
      <div class="action-btn link-copy-btn" ng-if="ctrl.getIdeaLinks().edit.show">
        <i class="fa fa-link"></i>
      </div>
    </a>

    <div class="social-block">
      <i
        class="fa fa-facebook clickable"
        socialshare
        socialshare-provider="facebook"
        socialshare-text="{{ctrl.ideaObject.title}}"
        socialshare-url="{{ctrl.ideaLink}}"
      >
      </i>
      <i
        class="fa fa-twitter clickable"
        socialshare
        socialshare-provider="twitter"
        socialshare-text="{{ctrl.ideaObject.title}}"
        socialshare-url="{{ctrl.ideaLink}}"
      >
      </i>
      <i
        class="fa fa-google clickable"
        socialshare
        socialshare-provider="google"
        socialshare-text="{{ctrl.ideaObject.title}}"
        socialshare-url="{{ctrl.ideaLink}}"
      >
      </i>
      <i
        class="fa fa-pinterest clickable"
        socialshare
        socialshare-provider="pinterest"
        socialshare-text="{{ctrl.ideaObject.title}}"
        socialshare-url="{{ctrl.ideaLink}}"
        socialshare-media="{{ctrl.ideaObject.largePreviewImageUrl}}"
      >
      </i>
      <!--
        <i class="fa fa-envelope clickable"
           socialshare
           socialshare-provider="mail"
           socialshare-text="{{ctrl.ideaObject.title}}"
           socialshare-url="{{window.location.href}}">
        </i>
      -->
    </div>
  </div>

  <div class="info">
    <a href="{{ ctrl.getIdeaLinks().view.link }}" ng-if="!ctrl.showVideo">
      <img class="info-img" ng-src="{{ ctrl.ideaObject.largePreviewImageUrl }}" alt="" />
    </a>
    <div ng-show="ctrl.showVideo" ng-if="ctrl.ideaObject.videoLink">
      <video-player video-link="{{ctrl.ideaObject.videoLink}}" button=".play-btn"></video-player>
    </div>
    <div class="info-description">
      <div class="info-title">
        <a href="{{ ctrl.getIdeaLinks().view.link }}">{{ ctrl.ideaObject.title }}</a>
      </div>
      <div class="info-text">
        <a href="{{ ctrl.getIdeaLinks().view.link }}">{{ ctrl.ideaObject.description }}</a>
      </div>
      <div class="info-stats">
        <div class="info-category-block">
          <div class="info-category-ab"><span>{{ ctrl.ideaObject.ageRange }}</span></div>
          <div class="info-category-type">
            <div class="info-category">{{ ctrl.ideaObject.level1Title }}</div>
            <div class="info-type">{{ ctrl.ideaObject.level2Title }}</div>
          </div>
        </div>
        <idea-rating idea-id="ctrl.ideaObject.id"> </idea-rating>
      </div>
    </div>
  </div>

  <div
    class="list hidden-lmd hidden-md"
    ng-show="!ctrl.ideaObject.download && ctrl.ideaObject.previewPages.length > 0"
  >
    <div
      class="up-btn"
      id="preview-list-up-{{ $index }}"
      ng-style="{'visibility': ctrl.ideaObject.previewScrollButtonsVisibility}"
      data-test="previewListUp"
    >
      <i class="fa fa-chevron-up"></i>
    </div>
    <div
      class="list-col"
      scroll-pane="{
                            prevButton:'#preview-list-up-{{ $index }}',
                            nextButton:'#preview-list-down-{{ $index }}',
                            autoHideButtons: true,
                            vertical: true
                            }"
    >
      <div
        class="list-prev-sm"
        ng-class="{'active': page == ctrl.activePreviewPage}"
        ng-repeat="page in ctrl.ideaObject.previewPages track by $index"
        ng-click="ctrl.selectPreviewPage(page)"
      >
        <img ng-src="{{ page.small }}" alt="" />
        <div class="prev-active"><div class="active-circle"></div></div>
      </div>
    </div>
    <div
      id="preview-list-down-{{ $index }}"
      class="down-btn"
      ng-style="{'visibility': ctrl.ideaObject.previewScrollButtonsVisibility}"
      data-test="previewListDown"
    >
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="preview hidden-lmd hidden-md">
    <a href="{{ ctrl.getIdeaLinks().view.link }}">
      <img
        ng-show="!ctrl.ideaObject.download && ctrl.activePreviewPage"
        ng-src="{{ ctrl.activePreviewPage.large }}"
        alt=""
      />
      <img
        ng-hide="!ctrl.ideaObject.download"
        ng-src="{{url('ideas/images/' + ctrl.previewImageName)}}"
      />
    </a>
  </div>
  <div class="nav-right">
    <div class="close" ng-if="!ctrl.isLastNavLevel" ng-click="ctrl.closePreview(true)">
      <i class="fa fa-times"></i>
    </div>
    <div
      class="next-btn"
      data-test="previewNext"
      ng-click="ctrl.nextItem($index)"
      ng-class="{'new-ideas': ctrl.isNewIdeas}"
      ng-show="ctrl.currentCategoryHasNext()"
    >
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
