<div class="info-stats-block">
  <div class="info-stats-row">
    <i ng-repeat="star in $ctrl.getStars() track by $index" class="fa {{star}}"> </i>
  </div>
  <div class="info-rate">({{ $ctrl.count }})</div>
</div>
