<div class="ideas">
  <button-row categories="ctrl.viewModel.parentCategories.length ? ctrl.viewModel.parentCategories : ctrl.viewModel.categories"
    selected-hierarchy="ctrl.selectedHierarchy" on-top-category-click="ctrl.onBackToParent()" on-category-click="ctrl.onCategoryButtonClick(value)"
    is-last-navigation-level="ctrl.isLastNavLevel" selected-hierarchy-limit="2" first-button-name="{{ctrl.parentName}}"
    is-favorites="false">
  </button-row>
  <div class="row">
    <div class="ideas-overview">
      <!-- Row-based View for ideas -->
      <div class="type-row" ng-repeat="category in ctrl.shownCategories track by $index" ng-if="!ctrl.showBlockView">
        <div class="container overview-row category-{{$index}}" ng-if="ctrl.activeCategory != category.name || category.ideas.length > 0">
          <div class="type-title" ng-click="!ctrl.isLastNavLevel ? ctrl.onCategoryClick($index) : ''" ng-class="{
                 'title-link': ctrl.isLastNavLevel !== true,
                 'new-ideas': category.ageGroup || category.ageGroupContainer
                 }">
            {{ category.title }}
          </div>
          <div class="prev-btn" ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}" data-test="itemsListPrev-{{ category.name }}"
            id="items-list-prev-{{ category.name }}">
            <i class="fa fa-chevron-left"></i></div>
          <div class="ideas-list" scroll-pane="{
                        prevButton:'#items-list-prev-{{ category.name }}',
                        nextButton:'#items-list-next-{{ category.name }}',
                        autoHideButtons: true,
                        showInactivePrevBtn: true,
                        watch: 'category.ideas.length',
                        idx: {{ $index == ctrl.ideaCategoryIndex ? ctrl.ideaIndex : 0}},
                        pageScroll: true,
                        categoryName: '{{ category.name }}'
                      }">

            <div class="idea hidden-xs hidden-sm hidden-lsm" ng-class="{
                   active: idea == ctrl.ideaObject, show3Limit: ($index > 2 && !ctrl.isLastNavLevel),
                   'new-idea': !idea.inPool
                 }"
              data-idea-id="{{ category.name+idea.id }}" ng-repeat="idea in category.ideas track by $index" ng-click="ctrl.onIdeaClick($parent.$index, $index)">
              <div class="idea-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <!--&lt;!&ndash; hearts and ranking inside preview image-->
                <div class="info-heart" ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
                <div class='idea-active'>
                  <div class="idea-circle"></div>
                </div>
              </div>
              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{
                idea.description }}
              </div>
            </div>
            <a class="idea hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg" ng-class="{active:idea == ctrl.ideaObject, show3Limit: ($index > 2 && !ctrl.isLastNavLevel),
               'new-idea': !idea.inPool}"
              data-idea-id="{{ category.name+idea.id }}" ng-repeat="idea in category.ideas track by $index" ng-href="{{ ctrl.getIdeaViewLink(idea) }}">
              <div class="idea-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <div class='idea-active'>
                  <div class="idea-circle"></div>
                </div>
                <div class="info-heart" ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation(); $event.preventDefault();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
              </div>

              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{
                idea.description }}
              </div>
            </a>

            <div class="last-item" ng-if="category.ideas.length == 8"></div>
            <div class="more-ideas-btn" ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}"
              ng-show="category.ideas.length >= ctrl.maxIdeasPerRow && !ctrl.isLastNavLevel" ng-click="ctrl.onCategoryClick($parent.$index)">
              <div class="more-bl-large">
                <div class="img-border">
                  <div class="more-btn" translate="IDEAS_TO_SUB_CATEGORIES_DESKTOP">
                  </div>
                </div>
                <img ng-src="{{ctrl.url('ideas/images/placeholder_.jpg')}}">
              </div>
            </div>
            <div class="more-bl" ng-show="category.ideas.length > 3 && !ctrl.isLastNavLevel" ng-click="ctrl.onCategoryClick($parent.$index)">
              <div class="more-btn">
                <span translate="IDEAS_TO_SUB_CATEGORIES_MOBILE"></span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="next-btn" data-test="itemsListNext-{{ category.name }}" ng-class="{'new-ideas': category.ageGroup || category.ageGroupContainer}"
            id="items-list-next-{{ category.name }}">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        <div class="hidden-lsm hidden-sm preview-container-bg {{ctrl.ideaObject.inPool ? '' : 'new-ideas'}}" ng-if="ctrl.isPreviewFromCategory($index)"
          ng-include="'ideas/partials/ideaPreview.html'">
        </div>
      </div>
      <div class="load-more" ng-show="ctrl.showLoadMore">
        <a ng-click="ctrl.showMore()" class="button"><i class="fa fa-arrow-down"></i>&nbsp;{{ "IDEAS_SHOW_MORE" |
          translate }}&nbsp;<i class="fa fa-arrow-down"></i></a>
      </div>
      <!-- Block View for new ideas -->
      <div class="type-row">
        <grid-view ng-if="ctrl.showBlockView && ctrl.useComponents" active-item-id="ctrl.previewId" items="ctrl.ideas"
          on-click="ctrl.handleIdeaThumbnailClick(id)" on-heart-click="ctrl.handleFavouritesClick(id)"></grid-view>

        <div class="container" ng-if="ctrl.showBlockView && !ctrl.useComponents">
          <div class="ideas-list ideas-grid">
            <a class="idea hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg" ng-class="{
                     active: idea == ctrl.ideaObject, show3Limit: ($index > 2 && !ctrl.isLastNavLevel && !ctrl.showBlockView),
                     'new-idea': !idea.inPool
                   }"
              data-idea-id="{{ category.name+idea.id }}" ng-repeat="idea in ctrl.ideas track by $index" ng-href="{{ ctrl.getIdeaViewLink(idea) }}">
              <div class="idea-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <div class='idea-active'>
                  <div class="idea-circle"></div>
                </div>
                <div class="info-heart" ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
              </div>

              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{ idea.description }}</div>
            </a>

            <div class="idea hidden-xs hidden-sm hidden-lsm" ng-class="{
                 active:idea == ctrl.ideaObject,
                 'new-idea': !idea.inPool
               }"
              data-idea-id="{{ category.name+idea.id }}" ng-repeat-start="idea in ctrl.ideas track by $index" ng-click="ctrl.onBlockViewNewIdeaClick($index)">
              <div class="idea-img">
                <div class="img-border"></div>
                <img ng-src="{{ idea.previewUrl }}" alt="" class="preview">
                <div class="info-heart" ng-click="ctrl.toggleFavourite(idea); $event.stopPropagation();">
                  <i class="fa" ng-class="{'fa-heart':idea.favourite,'fa-heart-o':!idea.favourite}"></i>
                </div>
                <div class='idea-active'>
                  <div class="idea-circle"></div>
                </div>
              </div>
              <div class="desc">{{ idea.title | lineClamp : 55 }}</div>
              <div class="desc hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg small">{{ idea.description }}</div>
            </div>
            <div ng-if="($index + 1) % 3 === 0 || $index === ctrl.ideas.length - 1" class="visible-md">
              <div ng-if="ctrl.showPreviewPanel(3, $index)" class="preview-container-bg" ng-class="{'new-ideas': ctrl.isNewIdeas}"
                ng-include="'ideas/partials/ideaPreview.html'">
              </div>
            </div>
            <div ng-if="($index + 1) % 4 === 0 || $index === ctrl.ideas.length - 1" class="visible-lmd">
              <div ng-if="ctrl.showPreviewPanel(4, $index)" class="preview-container-bg" ng-class="{'new-ideas': ctrl.isNewIdeas}"
                ng-include="'ideas/partials/ideaPreview.html'">
              </div>
            </div>
            <div ng-if="($index + 1) % 5 === 0 || $index === ctrl.ideas.length - 1" class="visible-lg">
              <div ng-if="ctrl.showPreviewPanel(5, $index)" class="preview-container-bg" ng-class="{'new-ideas': ctrl.isNewIdeas}"
                ng-include="'ideas/partials/ideaPreview.html'">
              </div>
            </div>
            <div ng-if="($index + 1) % 6 === 0 || $index === ctrl.ideas.length - 1" class="visible-xlg">
              <div ng-if="ctrl.showPreviewPanel(6, $index)" class="preview-container-bg" ng-class="{'new-ideas': ctrl.isNewIdeas}"
                ng-include="'ideas/partials/ideaPreview.html'">
              </div>
            </div>
            <div ng-repeat-end ng-if="($index + 1) % 7 === 0 || $index === ctrl.ideas.length - 1" class="visible-xxlg">
              <div ng-if="ctrl.showPreviewPanel(7, $index)" class="preview-container-bg" ng-class="{'new-ideas': ctrl.isNewIdeas}"
                ng-include="'ideas/partials/ideaPreview.html'">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>