<div class="container" ng-cloak>
  <div class="external-container">
    <div class="idea-container">
      <div class="container">
        <div class="rowDiv">
          <div class="span-4"><h1>{{ ctrl.idea.title }}</h1></div>
        </div>
        <div class="rowDiv">
          <div class="span-4"><hr /></div>
        </div>
        <div class="rowDiv">
          <div class="span-2"><img class="rahmen0" src="{{ctrl.idea.largePreviewImageUrl}}" /></div>
          <div class="span-2 rating-small-screen"><hr /></div>
          <div class="span-4 user-rating-row rating-small-screen">
            <star-rating kiga-page-id="ctrl.idea.id"></star-rating>
          </div>
          <div class="span-2 mt-sm">
            <div class="art-info">
              <button
                class="btn-art-info collapsed"
                data-toggle="collapse"
                data-target=".metadata-row-small"
              >
                <i class="fa fa-btn" aria-hidden="true"></i>
                <span>{{ 'IDEA_ARTICLE_INFO' | translate }}</span>
              </button>
            </div>
            <div class="metadata-row-small collapse">
              <hr class="hr-in-span" />
              <strong>{{ ctrl.idea.description }}</strong>
              <ul>
                <li><span>{{ ctrl.idea.level1Title }}</span></li>
                <li><span>{{ ctrl.idea.level2Title }}</span></li>
              </ul>
              <div
                ng-if="ctrl.idea.ageRange"
                translate="IDEA_AGE_RANGE"
                translate-values="{range: ctrl.idea.ageRange}"
              ></div>
            </div>
            <div class="metadata-row-normal">
              <strong>{{ ctrl.idea.description }}</strong>
              <ul>
                <li>
                  <span class="list-type-squire"></span> <span>{{ ctrl.idea.level1Title }}</span>
                </li>
                <li>
                  <span class="list-type-squire"></span> <span>{{ ctrl.idea.level2Title }}</span>
                </li>
              </ul>
              <div
                ng-if="ctrl.idea.ageRange"
                translate="IDEA_AGE_RANGE"
                translate-values="{range: ctrl.idea.ageRange}"
              ></div>
            </div>
          </div>
        </div>
        <div class="rowDiv rating-high-screen">
          <div class="span-4 last"><hr /></div>
        </div>
        <div class="rowDiv rating-high-screen">
          <div class="span-4 rating-row">
            <star-rating kiga-page-id="ctrl.idea.id"></star-rating>
          </div>
        </div>
      </div>
      <div bind-html-compile="ctrl.idea.content"></div>
      <div class="mfb-container">
        <nav
          mfb-menu
          position="br"
          effect="zoomin"
          class="mfb-menu"
          menu-state="'open'"
          active-icon="icon icon-close"
          resting-icon="icon icon-burger-menu"
          template-url="ideas/partials/mfb-menu-tpl.html"
          toggling-method="click"
        >
          <button
            class="return"
            mfb-button
            icon="icon icon-reply"
            ng-if="true"
            ng-click="ctrl.cancel()"
            label="{{ 'BUTTON_BACK' | translate }}"
          ></button>
          <button
            class="favourites"
            mfb-button
            ng-if="true"
            icon="icon {{ctrl.isFavourite ? 'icon-heart2' : 'icon-heart-o'}}"
            ng-click="ctrl.linkClicked('favourites')"
            label="{{ctrl.isFavourite ? 'IDEAS_REMOVE_FAVOURITE' : 'IDEAS_ADD_FAVOURITE' | translate }}"
          ></button>
          <button
            class="planner"
            mfb-button
            icon="icon icon-plan-year"
            ng-click="ctrl.linkClicked('planner')"
            ng-if="ctrl.links.planner.show"
            label="{{ 'IDEAS_CALENDAR' | translate }}"
          ></button>
          <button
            class="print-without-img"
            mfb-button
            icon="icon icon-print-text"
            label="{{ 'IDEA_PRINT_WITHOUT_IMG' | translate }}"
            ng-if="ctrl.links.printWithoutImage.show"
            ng-click="ctrl.linkClicked('printWithoutImage')"
          ></button>
          <button
            class="print"
            mfb-button
            icon="icon icon-print-image"
            label="{{ 'IDEA_PRINT' | translate }}"
            ng-if="ctrl.links.print.show"
            ng-click="ctrl.linkClicked('print')"
          ></button>
          <button
            class="edit"
            mfb-button
            icon="icon icon-pencil"
            ng-click="ctrl.linkClicked('edit')"
            ng-if="ctrl.links.edit.show"
            label="{{ 'BUTTON_EDIT' | translate }}"
          ></button>
        </nav>
      </div>
      <div class="banner" ng-if="ctrl.promotion.ideaImage">
        <a href="{{ctrl.promotion.productPageUrl}}">
          <div class="promo-img"><img ng-src="{{ctrl.promotion.ideaImage}}" /></div>
        </a>
        <div class="promo-title">{{ ctrl.promotion.ideaTeaser }}</div>
        <div class="promo-text">{{ ctrl.promotion.ideaText }}</div>
        <div>
          <a href="{{ctrl.promotion.productPageUrl}}" type="button" class="promo-button" value="">
            {{ 'SHOP_BUY_ON_IDEA' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linked-ideas-row" ng-if="ctrl.idea.linkedIdeas.length">
  <div class="container">
    <div class="linked-ideas-title" t="LINKED_ARTICLES"></div>
    <div class="carousel_row">
      <div class="arrows">
        <a href="" id="carousel_list_prev" role="button">
          <i class="icon icon-arrow-left large left_arrow"></i>
        </a>
      </div>
      <div
        class="carousel_list"
        scroll-pane="{
		                  prevButton:'#carousel_list_prev',
		                  nextButton:'#carousel_list_next',
		                  watch: 'ctrl.linkedIdeas.length',
		                  autoHideButtons: true,
		                  pageScroll: true
		                }"
      >
        <div
          class="element"
          ng-repeat="linkedIdea in ctrl.idea.linkedIdeas"
          ng-class="{show3Limit: $index > 2 }"
        >
          <a href="{{linkedIdea.url}}">
            <div class="idea-img">
              <div class="img-border"></div>
              <img ng-src="{{linkedIdea.previewUrl}}" />
              <div class="info-heart">
                <i
                  class="fa"
                  ng-class="{'fa-heart':linkedIdea.favourite,'fa-heart-o':!linkedIdea.favourite}"
                ></i>
              </div>
            </div>
            <p class="desc">{{ linkedIdea.title | lineClamp: 55 }}</p>
            <p class="desc small">{{ linkedIdea.description }}</p>
          </a>
        </div>
      </div>

      <div class="arrows next-button">
        <a href="" id="carousel_list_next" role="button">
          <i class="icon icon-arrow-right large right_arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="forum-container">
  <h3 ng-if="ctrl.member.isCms && ctrl.forumThread.posts.length">
    <a ng-href="{{'/de/forum/artikelforum/show/' + ctrl.forumThread.id}}">Zum Forum</a>
  </h3>

  <div class="posts" ng-if="ctrl.forumThread.posts.length">
    <div class="post" ng-repeat="post in ctrl.forumThread.posts | orderBy: 'dateWritten'">
      <div class="avatar">
        <img ng-src="{{ url('ideas/images/avatar.png') }}" ng-if="!post.authorPictureUrl" />
        <img ng-src="{{ post.authorPictureUrl }}" ng-if="post.authorPictureUrl" />
      </div>
      <div class="post-bdy">
        <div class="user-name">{{ post.authorName }}</div>
        <div class="user-message"><div bind-html-compile="post.content"></div></div>
        <div class="post-controls">
          <span class="post-date"> {{ post.dateWritten | date: 'short' }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="user-post">
    <div class="avatar">
      <img ng-src="{{ ctrl.member.s3Avatar }}" ng-if="ctrl.member.s3Avatar" />
      <img ng-src="{{ url('ideas/images/avatar.png') }}" ng-if="!ctrl.member.s3Avatar" />
    </div>
    <div class="post-bdy">
      <div class="user-name">{{ ctrl.member.nickname }}</div>
      <textarea class="user-message" ng-model="ctrl.postContent" rows="6"> </textarea>
      <div>
        <a
          href=""
          type="button"
          class="button user-post-submit"
          value="POSTEN"
          ng-click="ctrl.addPost()"
          >{{ 'IDEA_POST_BUTTON' | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
