<ul class="mfb-component--{{position}} mfb-{{effect}}"
  data-mfb-toggle="{{togglingMethod}}" data-mfb-state="{{menuState}}">
	<li class="mfb-component__wrap">
	  	<a ng-click="clicked()" ng-mouseenter="hovered()" ng-mouseleave="hovered()"
	     class="mfb-component__button--main" tooltip-placement="top" 
	     uib-tooltip="{{menuState == 'open' ? 'IDEA_CLOSE' : 'IDEA_OPEN' | translate }}">
	   		<i class="mfb-component__main-icon--resting {{resting}}"></i>
	   		<i class="mfb-component__main-icon--active {{active}}"></i>
	  	</a>
	  	<ul class="mfb-component__list" ng-transclude>
	  	</ul>
	</li>
</ul>
