<form class="one-col" name="validationForm" ng-submit="ctrl.saveDunningLevel()">
  <div class="panel">
    <div class="panel-heading">
      Modify dunning level
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label>Code
          <input type="text" class="form-control" placeholder="Code" required
                 ng-model="ctrl.dunningLevel.code">
        </label>
      </div>

      <div class="form-group">
        <label>Days
          <input type="text" class="form-control" placeholder="Days" required
                 ng-model="ctrl.dunningLevel.days">
        </label>
      </div>

      <div class="form-group">
        <label>Fees Amount
          <input type="text" class="form-control" placeholder="Fees Amount" required
                 ng-model="ctrl.dunningLevel.feesAmount"
                 ng-pattern="/^[0-9]+(\.[0-9]+)?$/"
                 validation-msg-pattern="{{ 'It must be a positive decimal' | translate }}">
        </label>
      </div>

      <div class="form-group">
        <label>Country
          <kiga-select ng-model="ctrl.dunningLevel.countryId"
                       options="ctrl.countries"
                       placeholder="Select a country..." required></kiga-select>
        </label>
      </div>

      <div class="form-group">
        <label>Dunning Level
          <input type="text" class="form-control" placeholder="Dunning Level" required
                 ng-model="ctrl.dunningLevel.dunningLevel">
        </label>
      </div>

    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel"
              ui-sref="root.backend.accounting.dunning.levels">Cancel</button>
    </div>

    <div class="right">
      <button type="submit">Save</button>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button"
              ng-click="ctrl.onDunningLevelsDelete(ctrl.dunningLevel.id)"
              ng-show="ctrl.dunningLevel.id != null">Remove</button>
    </div>
  </div>
</form>
