<div class="products-management">
  <h2>Dunning Levels</h2>
  <div class="buttons-container">
    <button ui-sref="root.backend.accounting.dunning.add-level">Add dunning level</button>
    <button ng-click="ctrl.onDunningLevelsDelete()" ng-disabled="ctrl.rowsSelected.length == 0"
            ng-class="{'disabled':ctrl.rowsSelected.length == 0}">Remove levels</button>
  </div>
  <div ui-grid='ctrl.gridConfiguration' ui-grid-selection
       ng-show="ctrl.dunningLevels.length > 0" class="grid"></div>
</div>
