<form role="form" class="small">
  <div class="panel panel-default">
    <div class="panel-heading" t="ACTIVATION_INFO_MSG" data-test="accountActivated"></div>
    <div class="panel-body"><div t="ACTIVATION_ACTIVATED_MSG"></div></div>
  </div>
  <div class="buttons">
    <div class="left" ng-if="!comingFromShopRegistration">&nbsp;</div>
    <div class="left" ng-if="comingFromShopRegistration">
      <button
        type="submit"
        class="shop-reg"
        translate="WELCOME_BACK_TO_SHOP"
        ng-click="backToShop()"
      ></button>
    </div>
    <div class="right">
      <button type="submit" translate="WELCOME_BACK_TO_HP" ng-click="backToHome()"></button>
    </div>
  </div>
</form>
