<form role="form" class="small">
  <div class="panel panel-default">
    <div class="panel-heading" t="ACTIVATION_INFO_MSG">
    </div>
    <div class="panel-body">
      <div t="ACTIVATION_ALREADY_VERIFIED"></div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      &nbsp;
    </div>
    <div class="right">
      <button type="button" ng-click="goTo()" t="BUTTON_NEXT"></button>
    </div>
  </div>
</form>
