<form role="form" class="small">
  <div class="panel panel-default">
    <div class="panel-heading" t="ACTIVATION_INFO_MSG">
    </div>
    <div class="panel-body">
      <div t="ACTIVATION_NOT_VALID_MSG" data-test="activationNotValid"></div>
      <!--
      <div>&nbsp;</div>
      <label t="EMAIL"></label>
      <input type="text" placeholder="" required ng-model="data.email">
      -->
    </div>
  </div>
  <!--
<div class="buttons">
  <div class="left">
    <button type="button" class="cancel" ng-click="goTo()" t="CANCEL"></button>
  </div>
  <div class="right">
    <button type="button" ng-click="resend()" t="LOGIN_ACTIVATION_RESEND"></button>
  </div>
  </div>
  -->
</form>
