<form role="form" class="small">
  <div class="panel panel-default">
    <div class="panel-heading" t="ACTIVATION_INFO_MSG">
    </div>
    <div class="panel-body">
      <div t="ACTIVATION_SENT_MSG" data-test="activationSent"></div>
    </div>
  </div>

  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" ng-click="goTo()" t="BACK"></button>
    </div>
  </div>

</form>
