/**
 * Complete/self-contained styling of ng-toast's markup (the default ng-toast
 * styles are not even included).
 */
.ng-toast {
  position: relative;

  // container of all messages
  ul.ng-toast__list {
    z-index: 999;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 2em;

    li.ng-toast__message {
      cursor: pointer;
      // status classes used inside toast message
      .alert-warning,
      .alert-success,
      .alert-danger {
        text-align: center;
        margin: 0.4em;
        padding: 1em;
      }
    }
  }
}

/**
 * Enter / Leave Animations.
 */
.toast-anim.ng-enter {
  transition: 0.5s ease-in all;
  opacity: 0;
  right: -12em;
}

.toast-anim.ng-enter.ng-enter-active {
  opacity: 1;
  right: 0em;
}

.toast-anim.ng-leave {
  transition: 0.5s ease-out all;
  opacity: 1;
}
.toast-anim.ng-leave.ng-leave-active {
  opacity: 0;
}
