<div class="panel panel-default">
  <div class="panel-heading">{{ 'KGA_CHILD_PARENT' | translate }}</div>
  <div class="panel-body">
    <form [formGroup]="form" (ngSubmit)="save(parent)">
      <formly-form [fields]="fieldsParent" [model]="parent" [options]="options">
        <button mat-raised-button color="primary" type="submit">
          {{ 'BUTTON_SAVE' | translate }}
        </button>
      </formly-form>
    </form>
  </div>
</div>
