<!-- since ng-content doesn't work inside of ng-container it has to be done like this -->
<ng-container *ngIf="useHref; else: routerLink">
  <a [href]="link"><ng-container [ngTemplateOutlet]="content"></ng-container></a>
</ng-container>
<ng-template #routerLink>
  <a [routerLink]="link"><ng-container [ngTemplateOutlet]="content"></ng-container></a>
</ng-template>
<ng-template #content><ng-content></ng-content></ng-template>
