<div ng-include="'registration/partials/includes/header.html'"></div>
<!--End of Header-->
<form name="customerForm" data-test="customerForm" method="post" novalidate
      class="customerData three-col" ng-submit="payment(customerForm)">
  <div class="row title-bottom">
    <h3 translate="{{getProductGroupInfo(getProductGroup().value).trans}}"></h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading title-panel" translate="REG_CUSTOMER_DATA"></div>
    <div class="panel-body row">
      <div class="col-1">
        <div class="input-group input-group-lg">
          <!-- Salutation -->
          <div class="form-group">
            <div>
              <kiga-radio-button alignment="vertical"
                                 options="{female : 'MISC_SALUTATION_FEMALE',
                                   male : 'MISC_SALUTATION_MALE'}"
                                 value="getFieldObject('gender').value"
                                 name="gender"
                                 translation="true"></kiga-radio-button>
            </div>
           </div>
           <div class="form-group">
             <!-- name -->
            <kiga-input input-name="firstname"
                        place-holder="{{ 'FIELD_FIRSTNAME' | translate }}"
                        value="getFieldObject('firstname').value"
                        validation = "required"></kiga-input>

            <kiga-input input-name="lastname"
                        place-holder="{{ 'FIELD_LASTNAME' | translate }}"
                        value="getFieldObject('lastname').value"
                        validation = "required"></kiga-input>

            <kiga-input input-name="passportnumber"
                        ng-if="getFieldObject('country').value =='tr' && getFieldObject('productGroup').value!='standard-org'"
                        place-holder="{{ 'REG_PASSPORTNUMBER' | translate }}"
                        value="getFieldObject('passportnumber').value"
                        validation = "required"></kiga-input>

            <kiga-input input-name="taxnumber"
                        ng-if="getFieldObject('country').value =='tr' && getFieldObject('productGroup').value=='standard-org'"
                        place-holder="{{ 'REG_TAXNUMBER' | translate }}"
                        value="getFieldObject('taxnumber').value"
                        validation = "required"></kiga-input>

            <kiga-input input-name="phone"
                        place-holder="{{ 'FIELD_PHONE' | translate }}"
                        validation = "required"
                        pattern="\+?[\d ,\-,/]+"
                        validation-message-pattern="{{ 'VALIDATE_PATTERN_PHONE' | translate }}"
                        value="getFieldObject('phone').value"></kiga-input>

            <!-- email -->
            <kiga-multiple-inputs place-holder1="{{ 'FIELD_EMAIL' | translate }}"
                                  place-holder2="{{'REG_EMAIL_CONFIRMATION' | translate}}"
                                  input-names="{'name1': 'email', 'name2': 'email2'}"
                                  input-type="email"
                                  first-value="getFieldObject('email').value"
                                  second-value="getFieldObject('email2').value"
                                  value-options="{ updateOn: 'blur' }"
                                  validation="required && async-validation/emailExists"
                                  fab-match="customerForm.email.$viewValue"
                                  fab-match-msg="{{ 'REG_EMAIL_CONFIRMATION_ERROR' | translate }}"
                                  async-validation-url="nregistration/emailCheck"
                                  async-msg-email-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
                                  async-context="{{getFieldObject('productId').value}}">
            </kiga-multiple-inputs>
          </div>

          <div class="form-group"
               ng-if="getFieldObject('productGroup').value != 'gift'">
            <!-- password -->
            <label t="REG_PASSWORD_MIN_LENGTH_HINT"></label>
            <kiga-multiple-inputs input-names="{'name1': 'password', 'name2' : 'passwordConfirmation'}"
                                  input-type="password"
                                  place-holder1="{{ 'FIELD_PASSWORD' | translate }}"
                                  place-holder2="{{'REG_PASSWORD_CONFIRMATION' | translate}}"
                                  validation="required"
                                  first-value="getFieldObject('password').value"
                                  second-value="getFieldObject('passwordConfirmation').value"
                                  fab-match="getFieldObject('password').value"
                                  fab-match-msg="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}"
                                  min-length="8"></kiga-multiple-inputs>
          </div>
          <div class="form-group">
            <label t="REG_BIRTHDATE"></label>
            <kiga-birthday name="birthday"
                           value="getFieldObject('birthday').value">
            </kiga-birthday>
            <input type="hidden" valid-birthday required
                   min-age="{{getSelectedProduct().minimumAge}}"
                   ng-model="getFieldObject('birthday').value"/>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="oneAddress">
          <div class="form-group">
            <label translate="REG_ORDER_ADDRESS"></label>

            <kiga-input input-name="addressName1"
                        place-holder="{{ 'REG_INSTNAME' | translate }}"
                        value="getFieldObject('addressName1').value"
                        ng-if="isLicenseAbo() || isStandardOrgAbo()"></kiga-input>

            <kiga-input input-name="addressName2"
                        place-holder="{{ 'REG_INSTNAME' | translate }}"
                        value="getFieldObject('addressName2').value"
                        ng-if="isLicenseAbo() || isStandardOrgAbo()"></kiga-input>

            <kiga-input input-name="street"
                        place-holder="{{ 'FIELD_STREET' | translate }}"
                        value="getFieldObject('street').value"
                        validation="required"></kiga-input>

            <div class="row">
              <div class="col-sm-20">
                <kiga-input input-name="streetNumber"
                            place-holder="{{ 'FIELD_HOUSENR' | translate }}"
                            value="getFieldObject('streetNumber').value"
                            validation="required"></kiga-input>
              </div>
              <div class="col-sm-20">
                <kiga-input place-holder="{{ 'FIELD_FLOOR' | translate }}"
                            input-name="floorNumber"
                            value="getFieldObject('floorNumber').value"></kiga-input>
              </div>
              <div class="col-sm-20">
                <kiga-input place-holder="{{ 'FIELD_DOORNR' | translate }}"
                            input-name="doorNumber"
                            value="getFieldObject('doorNumber').value"></kiga-input>
              </div>
            </div>
            <div class="row formComponents">
              <div class="col-sm-20">
                <kiga-input input-name="zip"
                            place-holder="{{ 'FIELD_ZIP' | translate }}"
                            value="getFieldObject('zip').value"
                            validation="required"></kiga-input>
              </div>
              <div class="col-sm-40">
                <kiga-input input-name="city"
                            place-holder="{{ 'FIELD_CITY' | translate }}"
                            value="getFieldObject('city').value"
                            validation="required"></kiga-input>
              </div>
            </div>
          </div>
        </div>
        <div class="extraAddress form-group"
             ng-if="(isLicenseAbo() || isStandardOrgAbo())">
          <div class="checkbox"> <!-- only there when needed -->
            <label>
              <input name="billOn" type="checkbox"
                     ng-model="getFieldObject('billOn').value" icheck>
              {{ 'MEMBER_ADDRESS_BILL_ON' | translate }}
            </label>
          </div>

          <div class="col-lmd-1 hidden-md hidden-lsm hidden-sm"></div>
          <div ng-if="getFieldObject('billOn').value === true">
            <label>{{getFieldObject('billOn').title}}</label>
            <input type="text" class="hidden"/> <!--needed for design -->
            <kiga-input input-name="billAddressName1"
                        place-holder="{{ 'REG_INSTBILLNAME' | translate }}"
                        value="getFieldObject('billAddressName1').value"></kiga-input>

            <kiga-input input-name="billAddressName2"
                        place-holder="{{ 'REG_INSTBILLNAME' | translate }}"
                        value="getFieldObject('billAddressName2').value"></kiga-input>

            <kiga-input input-name="billStreet"
                        place-holder="{{ 'FIELD_STREET' | translate }}"
                        value="getFieldObject('billStreet').value"
                        validation="required"></kiga-input>

            <div class="row">
              <div class="col-sm-20">
                <kiga-input input-name="billStreetNumber"
                            place-holder="{{ 'FIELD_HOUSENR' | translate }}"
                            value="getFieldObject('billStreetNumber').value"
                            validation="required"></kiga-input>
              </div>
              <div class="col-sm-20">
                <kiga-input  input-name="billFloorNumber"
                             place-holder="{{ 'FIELD_FLOOR' | translate }}"
                             value="getFieldObject('billFloorNumber').value"></kiga-input>
              </div>
              <div class="col-sm-20">
                <kiga-input input-name="billDoorNumber"
                            place-holder="{{ 'FIELD_DOORNR' | translate }}"
                            value="getFieldObject('billDoorNumber').value"></kiga-input>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-20">
                <kiga-input input-name="billZip"
                            place-holder="{{ 'FIELD_ZIP' | translate }}"
                            validation="required"></kiga-input>
              </div>
              <div class="col-sm-40">
                <kiga-input input-name="billCity"
                            place-holder="{{ 'FIELD_CITY' | translate }}"
                            value="getFieldObject('billCity').value"
                            validation="required"></kiga-input>
              </div>
            </div>
          </div>
        </div>
        <!-- End of extra Address -->
      </div>
      <div class="col-3">

        <p class="activate" translate="REG_SUBSCRIPTION_ACTIVATION_LINK"
           ng-if="getFieldObject('productGroup').value != 'gift'"></p>

        <p class="activate" translate="REG_GIFT_ORDER_INFO"
           ng-if="getFieldObject('productGroup').value == 'gift'"></p>

        <p class="img">
          <img ng-src="{{url('registration/images/kleckse.svg')}}" alt="Kleckse"
               height="100" width="100"
               ng-show="customerForm.password.$valid && customerForm.passwordConfirmation.$valid"/>
        </p><!--active when there is a valid emailaddress-->
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="left">
      <kiga-button button-type="button" button-class="cancel"
                   button-click="moveToPreviousStep()" translated-text="BUTTON_BACK"></kiga-button>
    </div>
    <div class="right">
      <kiga-button button-type="submit" button-class="order"
                   translated-text="BUTTON_NEXT"></kiga-button>
    </div>
  </div>

  <div class="row">
    <p></p>

    <p translate="REG_SUPPORT_INFO"></p>
  </div>
</form>

