<form class="small orange-scheme" name="form" ng-submit="ctrl.submit()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span translate="REG_GIFT_ACTIVATION"></span>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label translate="REG_GIFT_ACTIVATION_INFO"></label>
      </div>

      <div class="form-group">
        <label translate="REG_GIFT_CODE"></label>
        <input class="form-control" ng-model="ctrl.data.giftCode"
               data-test="giftCode" async-validation="giftCode"
               validation-msg-async-validationgift-code="{{ 'REG_GIFT_CODE_INVALID' | translate }}"
               async-url="nregistration/giftCodeCheck"
               required>
      </div>

      <div class="form-group">
        <label translate="FIELD_COUNTRY"></label>
        <label class="value">{{ctrl.countryTitle}}</label>
      </div>

      <div class="form-group">
        <div>
          <label class="radio-inline">
            <input name="gender" type="radio" class="form-control" value="female"
                   data-test="female" ng-model="ctrl.data.gender" icheck>
            {{ 'MISC_SALUTATION_FEMALE' | translate }}
          </label>
          <label class="radio-inline">
            <input name="gender" type="radio" class="form-control" value="male"
                   data-test="male" ng-model="ctrl.data.gender" icheck>
            {{ 'MISC_SALUTATION_MALE' | translate }}
          </label>
        </div>
      </div>

      <div class="form-group">
        <input type="text" placeholder="{{ 'FIELD_FIRSTNAME' | translate }}" required
               name="firstname" class="form-control" ng-model="ctrl.data.firstname"
               data-test="firstname">
        <input type="text" placeholder="{{ 'FIELD_LASTNAME' | translate }}" required
               name="lastname" class="form-control" ng-model="ctrl.data.lastname"
               data-test="lastname">
      </div>

      <div class="form-group">
        <label translate="REG_EMAIL_CURRENT"></label>
        <input name="email" type="email" placeholder="{{ 'FIELD_EMAIL' | translate }}" class="form-control"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0}}"
               ng-model="ctrl.data.email" data-test="email" required
               validation-msg-async-validationemail-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
               async-validation="emailExists" async-url="nregistration/emailCheck"
               async-validation-context="giftSubscription">
        <input type="email" placeholder="{{ 'REG_EMAIL_CONFIRMATION' | translate }}" required
               name="emailConfirmation" class="form-control" ng-model="ctrl.data.email2"
               ng-fab-match="form.email.$viewValue"
               validation-msg-ng-fab-match="{{ 'REG_EMAIL_CONFIRMATION_ERROR' | translate }}"
               data-test="email2">
      </div>

      <div class="form-group">
        <label translate="REG_PASSWORD_MIN_LENGTH_HINT"></label>
        <input type="password" placeholder="{{ 'FIELD_PASSWORD' | translate }}" name="password"
               class="form-control" ng-model="ctrl.data.password" required minlength="8"
               data-test="password">
        <input type="password" placeholder="{{ 'REG_PASSWORD_CONFIRMATION' | translate }}"
               name="password2" class="form-control" ng-model="ctrl.data.password2" required
               minlength="8" data-test="password2"
               ng-fab-match="form.password.$viewValue"
               validation-msg-ng-fab-match="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}">
      </div>

      <div class="form-group">
        <div class="checkbox">
          <input name="agb" type="checkbox" ui-validate=" '$value===true' " icheck data-test="agb"
                 ng-model="ctrl.data.agb"
                 validation-msg-validator="{{ 'REG_AGB_ACCEPTED' | translate }}">
          <span t="REG_AGB_ACCEPTED_INFO" class="checkbox-label"></span>
        </div>

        <div class="checkbox">
          <input name="security" type="checkbox"
                 class="form-control" icheck data-test="security"
                 ng-model="ctrl.data.security" ui-validate=" '$value===true' "
                 validation-msg-validator="{{ 'REG_SECURITY_ACCEPTED' | translate }}">
          <span t="REG_SECURITY_ACCEPTED_INFO" class="checkbox-label"></span>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="newsletter"
                   ng-true-value="true" ng-false-value="false"
                   ng-model="ctrl.data.newsletter" icheck data-test="newsletter">
            <span t="REG_NEWSLETTER"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="left">
      <button type="button" class="cancel" t="BUTTON_BACK" ng-click="ctrl.cancel()"></button>
    </div>
    <div class="right">
      <button type="submit" t="BUTTON_OK"></button>
    </div>
  </div>
</form>
