<div class="infopage col-sm-60" ng-class="{'test': isTestAbo()}">
  <!--Start of Button Area -->
  <div class="row buttons" ng-include="'registration/partials/includes/infoButtons.html'"></div>
  <!-- End of Button Area-->
  <!-- Video -->
  <!-- Start of content -->

  <div class="row">
    <div class="col-md-60 promo-image">
      <img class="hidden-sm hidden-lsm" ng-src="{{url(imgLarge())}}">
      <img class="hidden-md hidden-lmd hidden-lg hidden-xlg" ng-src="{{url(imgSmall())}}">
    </div>
  </div>
  <div class="row" ng-if="!isTestAbo()">
    <div class="col-lg-19 col-md-29 col-sm-60 box">
      <div class="panel panel-default">
        <div class="panel-heading title-panel" translate="REG_OUR_OFFER"></div>
        <div class="panel-body height">
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_STANDARD" ng-if="isStandardAbo()"></ul>
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_STANDARD_ORG" ng-if="isStandardOrgAbo()"></ul>
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_PARENTS" ng-if="isParentsAbo()"></ul>
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_LICENCE" ng-if="isLicenseAbo()"></ul>
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_GIFT" ng-if="isGiftAbo()"></ul>
          <ul class="list-unstyled" translate="REG_INFOPAGE_FEATURES_TEST" ng-if="isTestAbo()"></ul>
        </div>
      </div>
    </div>

    <div class="col-lg-19 col-md-29 col-sm-60 box">
      <div class="panel panel-default">
        <div class="panel-heading title-panel" translate="REG_PAYMENT"></div>
        <div class="panel-body height">
          <ul class="list-unstyled">
            <li ng-if="hasPaymentOption(getGroupPaymentOptions(),'RE')"><div data-icon="+" class="icon icon"><span class="list" translate="REG_PAYMENT_PER_INVOICE"></span></div></li>
            <!--
            <li ng-if="hasPaymentOption(getGroupPaymentOptions(),'PAYPAL')"><div data-icon="+" class="icon icon"><span class="list" translate="REG_PAYPAL"></span></div></li>
            -->
            <li ng-if="hasPaymentOption(getGroupPaymentOptions(),'MP-CC')"><div data-icon="+" class="icon icon"><span class="list" translate="REG_PAYMENT_PER_CREDITCARD"></span></div></li>
          </ul>
          <img ng-if="hasPaymentOption(getGroupPaymentOptions(),'MP-ELV')" ng-src="{{url('registration/images/elv.png')}}" alt="elv" class="img-elv">
          <img ng-if="hasPaymentOption(getGroupPaymentOptions(),'PAYPAL')" ng-src="{{url('registration/images/paypal.png')}}" alt="paypal" class="img">
          <img ng-if="hasPaymentOption(getGroupPaymentOptions(),'MP-CC')" ng-src="{{url('registration/images/visa.png')}}" alt="visa" class="img">
          <img ng-if="hasPaymentOption(getGroupPaymentOptions(),'MP-CC')" ng-src="{{url('registration/images/mastercard.png')}}" alt="mastercard" class="img">
        </div>
      </div>
    </div>
    <div class="col-lg-19 col-md-60 col-sm-60 clearfix box ">
      <div class="panel panel-default">
        <div class="panel-heading title-panel" translate="REG_SUBSCRIPTION_PRICES"></div>
        <div class="panel-body height">
          <!-- Begin of prices-table -->
          <table class="table text-center" ng-if="!isLicenseAbo()">
            <tr>
              <td translate="MISC_MONTH_PLURAL"></td>
              <td translate="REG_PRICE"></td>
              <td translate="REG_PRICE_PER_MONTH">Preis/Monat</td>
            </tr>
            <tbody>
            <tr ng-repeat="product in getProducts()">
              <td>{{product.duration}}</td>
              <td>{{product.price | kigaCurrency: product.currency}}</td>
              <td>{{(product.price / product.duration) | kigaCurrency: product.currency}}</td>
            </tr>
            </tbody>
            <tbody ng-if="isLicenseAbo()">
            <tr>
              <td>{{getCheapestProduct().duration}}</td>
              <td>{{getCheapestProduct().price | kigaCurrency: getCheapestProduct().currency}}</td>
              <td>{{(getCheapestProduct().price / getCheapestProduct().duration) | kigaCurrency: getCheapestProduct().currency}}</td>
            </tr>
            </tbody>
          </table>
          <p class="text-center" ng-if="isStandardOrgAbo()">{{'REG_LICENSE_ADDITIONAL_INFO' | translate}} {{getProducts()[getProducts().length-1].licencePrice | number:2}} {{getProducts()[getProducts().length-1].currency}}</p>

          <!-- end of prices table -->
          <!-- Begin for license Prices -->
          <ul class="list-unstyled" ng-if="isLicenseAbo()">
            <li ng-repeat="product in getCheapestLicenseProducts()">
              <div data-icon="+" class="icon icon">
                      <span class="list">
                          {{ product.licenceCount ==1?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:
                            '+product.licenceCount+'}' }}:

                          <span  ng-if="product.price>0" class="margin-left">{{product.price | kigaCurrency: product.currency}}</span>
                          <span ng-if="product.price===0" translate="REG_LICENSE_SUBSCRIPTION_MANY_LICENSES"></span>
                      </span>

              </div>
            </li>
          </ul>
          <!-- End of license Prices-->
        </div>
      </div>
    </div>
  </div>

  <div ng-if="showInfo()">
    <div ng-if="isStandardAbo() && showInfoTeacher()">
      <div class="row">
        <div class="col-lsm-60 col-md-29 col-lg-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD1"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD1"></p>
        </div>
        <div class="col-lsm-60 col-md-29 col-lg-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD2"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD2"></p>
        </div>
        <div class="col-lsm-60 col-md-29 col-lg-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD3"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD3"></p>
        </div>
      </div>
    </div>

    <div ng-if="isStandardOrgAbo() && showInfoStandardOrg()">
      <div class="row">
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD_ORG1"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD_ORG1"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD_ORG2"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD_ORG2"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_STANDARD_ORG3"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_STANDARD_ORG3"></p>
        </div>
      </div>
    </div>

    <div ng-if="isParentsAbo() && showInfoParent()">
      <div class="row">
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_PARENTS1"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_PARENTS1"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_PARENTS2"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_PARENTS2"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_PARENTS3"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_PARENTS3"></p>
        </div>
      </div>
    </div>

    <div ng-show="isTestAbo() && !isFullTest()">
      <div class="row">
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_TEST1"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_TEST1"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_TEST2"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_TEST2"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_TEST3"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_TEST3"></p>
        </div>
      </div>
    </div>
    <div ng-show="isTestAbo() && isFullTest()">
      <div class="row">
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_FULLTEST_TITLE_TEST1"></h3>
          <p translate="REG_INFOPAGE_TEASER_FULLTEST_TEXT_TEST1"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_FULLTEST_TITLE_TEST2"></h3>
          <p translate="REG_INFOPAGE_TEASER_FULLTEST_TEXT_TEST2"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_FULLTEST_TITLE_TEST3"></h3>
          <p translate="REG_INFOPAGE_TEASER_FULLTEST_TEXT_TEST3"></p>
        </div>
      </div>
    </div>

    <div ng-if="isLicenseAbo() && showInfoTeacher()">
      <div class="row">
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_LICENCE1"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_LICENCE1"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_LICENCE2"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_LICENCE2"></p>
        </div>
        <div class="col-sm-60 col-lsm-19 box">
          <h3 translate="REG_INFOPAGE_TEASER_TITLE_LICENCE3"></h3>
          <p translate="REG_INFOPAGE_TEASER_TEXT_LICENCE3"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Button Area -->
  <div class="row buttons" ng-include="'registration/partials/includes/infoButtons.html'"></div>
  <!-- End Button Area -->
</div>
<!-- End of content -->
</div>
