<div ng-include="'registration/partials/includes/header.html'"></div>

<form name="payment" data-test="payment" ng-submit="summary(inputForm)">
  <div class="payment col-sm-58 col-sm-offset-1">

    <h3 ng-if="resumeCode" class="alert-warning">
      <span ng-if="resumeCode=='paymentCancel'" translate="REG_PAYMENT_CANCEL_INFO"></span>
      <span ng-if="resumeCode=='paymentFailure'" translate="REG_PAYMENT_FAILURE_INFO"></span>
    </h3>

    <div class="row">
      <div class="row title-bottom">
        <h3 translate="{{getProductGroupInfo(getProductGroup().value).trans}}"></h3>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading title-panel" translate="REG_PAYMENT_TYPES"></div>
        <div class="panel-body form-group">
          <!-- methods are different - depending on selected country-->
          <div class="radio">
            <!-- ELV -->
            <div class="margin radio" ng-if="hasProductPaymentOption(getSelectedProduct(),'MP-ELV')">
              <label>
                <input type="radio" name="paymentMethod" value="MP-ELV"
                       class="form-control" icheck no-fab-form-validation data-test="MP-ELV"
                       ng-model="getFieldObject('paymentMethod').value" required/>
                <img ng-src="{{url('registration/images/elv.png')}}" alt="ELV" class="icon-elv"/>
              </label>
            </div>

            <!-- MP-CC -->
            <div class="margin radio" ng-if="hasProductPaymentOption(getSelectedProduct(),'MP-CC')">
              <label>
                <input type="radio" name="paymentMethod" value="MP-CC"
                       class="form-control" icheck no-fab-form-validation data-test="MP-CC"
                       ng-model="getFieldObject('paymentMethod').value" required/>
                {{'REG_PAYMENT_PER_CREDITCARD' | translate}}<br />
                <img ng-src="{{url('registration/images/visa.png')}}" alt="visa" class="icon-visa first">
                <img ng-src="{{url('registration/images/mastercard.png')}}" alt="mastercard" class="icon-mastercard">
                <img ng-src="{{url('registration/images/amex.png')}}" alt="amex" class="icon-amex">
              </label>
            </div>

            <!-- GARANTI -->
            <div class="margin radio" ng-if="hasProductPaymentOption(getSelectedProduct(),'GARANTI')">
              <label>
                <input type="radio" name="paymentMethod" value="GARANTI"
                       class="form-control" icheck no-fab-form-validation data-test="GARANTI"
                       ng-model="getFieldObject('paymentMethod').value" required/>
                {{'REG_PAYMENT_PER_CREDITCARD' | translate}}<br />
                <img ng-src="{{url('registration/images/visa.png')}}" alt="visa" class="icon-visa first">
                <img ng-src="{{url('registration/images/mastercard.png')}}" alt="mastercard" class="icon-mastercard">
                <img ng-src="{{url('registration/images/amex.png')}}" alt="amex" class="icon-amex">
              </label>
            </div>

            <!-- PAYPAL -->
            <div class="margin radio" ng-if="hasProductPaymentOption(getSelectedProduct(),'PAYPAL')">
              <label>
                <input type="radio" name="paymentMethod" value="PAYPAL"
                       class="form-control" icheck no-fab-form-validation data-test="PAYPAL"
                       ng-model="getFieldObject('paymentMethod').value" required/>
                <img ng-src="{{url('registration/images/paypal.png')}}" alt="paypal" class="icon-paypal">
              </label>
            </div>

            <!-- RE -->
            <div class="margin radio" ng-if="hasProductPaymentOption(getSelectedProduct(),'RE')">
              <label>
                <input type="radio" name="paymentMethod" value="RE"
                       class="form-group" icheck  no-fab-form-validation data-test="RE"
                       ng-model="getFieldObject('paymentMethod').value" required>
                {{ 'REG_PAYMENT_PER_INVOICE' | translate }}
              </label>

              <div class="invoiceOption">
                <!-- pops up when "Payment per invoice" is selected-->
                <div class="margin radio" ng-if="getFieldObject('paymentMethod').value === 'RE' && getFieldObject('invoiceOption').values['email_customer']">
                  <label>
                    <input type="radio" name="invoiceOption" name="mail" value="email_customer"
                           class="form-group" icheck no-fab-form-validation data-test="email_customer"
                           ng-model="getFieldObject('invoiceOption').value" required/>
                    {{ 'REG_PAYMENT_INVOICE_PER_EMAIL' | translate }}
                  </label>
                </div>
                <div class="margin radio" ng-if="getFieldObject('paymentMethod').value==='RE' && getFieldObject('invoiceOption').values['post_customer']">
                  <label>
                    <input type="radio" name="invoiceOption" id="post" value="post_customer"
                           class="form-group" icheck no-fab-form-validation data-test="post_customer"
                           ng-model="getFieldObject('invoiceOption').value" required/>
                    {{ 'REG_PAYMENT_INVOICE_PER_POST' | translate }}
                  </label>
                </div>
              </div>
              <validation-messages ng-if="getFieldObject('paymentMethod').value!='RE'"
                                   validation-msg-required="{{ 'MEMBER_PAYMENT_OPTION_REQUIRED' | translate }}"
                                   input-element="inputForm.paymentMethod"></validation-messages>
              <validation-messages ng-if="getFieldObject('paymentMethod').value=='RE'"
                                   validation-msg-required="{{ 'MEMBER_INVOICE_OPTION_REQUIRED' | translate }}"
                                   input-element="inputForm.invoiceOption"></validation-messages>
            </div>
            <div ng-include="'registration/partials/includes/registrationAgreement.html'"></div>

          </div>
        </div>
      </div>
      <!--Start Button Area-->
      <div class="clearfix"></div>
      <div class="row buttons">
        <div class="left">
          <button type="button" class="cancel" ng-click="moveToPreviousStep()" data-test="back" translate="BUTTON_BACK"></button>
        </div>
        <div class="right">
          <button type="submit" class="order" data-test="submit" translate="BUTTON_NEXT"></button>
        </div>
      </div>
      <div class="row">
        <p></p>

        <p translate="REG_SUPPORT_INFO"></p>
      </div>
    </div>
  </div>
</form>
