<div ng-include="'registration/partials/includes/header.html'"></div>

<!-- End of Header -->

<!-- Start of content -->
<form role="form">
  <div class="preSelection" id="preSelection" data-test="preSelection">
    <div class="row title-bottom title">
      <div class="col-lmd-11 col-lsm-19 col-sm-60 subscr-selector">
        <i class="icon-sticker-kiga"></i>
        <span class="subscription"
          >{{ 'REG_SUBSCRIPTION' | translate }}
          <span class="title2">{{ 'REG_SELECT' | translate }}</span>
        </span>
      </div>
      <div
        class="col-lmd-12 col-lsm-20 col-sm-60 country-selector"
        ng-if="allowCountrySelection() || !getFieldObject('country').value"
      >
        <kiga-select
          data-test="country"
          ng-model="getFieldObject('country').value"
          placeholder="{{ 'REG_SELECT_COUNTRY'| translate }}"
          options="getFieldObject('country').values"
          on-select="onCountrySelect()"
          required
        ></kiga-select>
      </div>
    </div>

    <div class="row">
      <div
        class="col-lmd-11 col-lsm-19 col-sm-60 product-group"
        ng-repeat="productGroup in getProductGroups()"
      >
        <div class="panel panel-default" ng-if="!licenceEnabled()">
          <div class="panel-heading title-panel text-center">
            <a
              ng-if="productGroup.productGroup != 'licence' && productGroup.productGroup != 'free'"
              ng-click="order(productGroup.productGroup)"
              translate="{{productGroup.trans}}"
            >
            </a>
            <a
              ng-if="productGroup.productGroup == 'free'"
              ng-click="order('test')"
              translate="{{productGroup.trans}}"
            >
            </a>
            <span
              ng-if="productGroup.productGroup == 'licence'"
              translate="{{productGroup.trans}}"
            ></span>
          </div>

          <!-- licence not enabled -->
          <div class="panel-body" ng-if="!licenceEnabled()">
            <p
              class="text-center visible-xlg-block description static-height"
              translate="REG_{{productGroup.productGroup.toUpperCase()}}_DESCRIPTION"
            ></p>
            <a
              ng-click="order(productGroup.productGroup)"
              ng-if="productGroup.productGroup != 'licence' && productGroup.productGroup != 'free'"
            >
              <div
                class="icon-abos icon icon-product-{{productGroup.productGroup}}-outlines text-center col-sm-30 col-lsm-60"
              ></div>
            </a>
            <a
              ng-click="order('test')"
              ng-if="productGroup.productGroup == 'free'"
              class="free-week-link"
            >
              <div
                class="icon-abos icon free-week-img img-{{locale}} text-center col-sm-30 col-lsm-60"
              ></div>
            </a>
            <div
              class="icon-abos icon icon-product-{{productGroup.productGroup}}-outlines text-center col-sm-30 col-lsm-60"
              ng-if="productGroup.productGroup == 'licence'"
            ></div>

            <div
              class="button col-sm-30 col-lsm-60 licence"
              ng-if="productGroup.productGroup == 'licence'"
            >
              <button
                type="button"
                class="col-sm-58 col-sm-offset-1"
                translate="REG_COMING_SOON_1"
                data-test="info-{{productGroup.productGroup}}"
              ></button>
              <button
                type="submit"
                class="col-sm-58 col-sm-offset-1 order-btn"
                data-test="{{productGroup.productGroup}}"
                translate="REG_COMING_SOON_2"
              ></button>
            </div>

            <div
              class="button col-sm-30 col-lsm-60"
              ng-if="productGroup.productGroup != 'licence' && productGroup.productGroup != 'free'"
            >
              <button
                type="button"
                class="col-sm-58 col-sm-offset-1 lighten"
                translate="REG_MORE_INFORMATION"
                ng-click="info(productGroup.productGroup)"
                data-test="info-{{productGroup.productGroup}}"
              ></button>
              <button
                type="submit"
                class="col-sm-58 col-sm-offset-1 order-btn"
                data-test="{{productGroup.productGroup}}"
                translate="REG_ORDER_NOW"
                ng-click="order(productGroup.productGroup)"
              ></button>
            </div>

            <div
              class="button col-sm-30 col-lsm-60"
              ng-class="{'free-week': productGroup.productGroup == 'free' }"
              ng-if="productGroup.productGroup == 'free'"
            >
              <button
                type="button"
                class="col-sm-58 col-sm-offset-1 lighten"
                translate="REG_MORE_INFORMATION"
                ng-click="info('test')"
                data-test="info-{{productGroup.productGroup}}"
              ></button>
              <button
                type="submit"
                class="col-sm-58 col-sm-offset-1 order-btn"
                data-test="{{productGroup.productGroup}}"
                translate="LOGIN_FREE_SUBSCRIPTION"
                ng-click="order('test')"
              ></button>
            </div>
          </div>
        </div>

        <!-- licence enabled -->
        <div class="panel panel-default" ng-if="licenceEnabled()">
          <div class="panel-heading title-panel text-center">
            <a ng-click="order(productGroup.productGroup)" translate="{{productGroup.trans}}"></a>
          </div>
          <div class="panel-body">
            <p
              class="text-center visible-xlg-block description static-height"
              translate="REG_{{productGroup.productGroup.toUpperCase()}}_DESCRIPTION"
            ></p>
            <a ng-click="order(productGroup.productGroup)">
              <div
                class="icon-abos icon icon-product-{{productGroup.productGroup}}-outlines text-center col-sm-30 col-lsm-60"
              ></div>
            </a>
            <div class="button col-sm-30 col-lsm-60">
              <button
                type="button"
                class="col-sm-58 col-sm-offset-1 lighten"
                translate="REG_MORE_INFORMATION"
                ng-click="info(productGroup.productGroup)"
                data-test="info-{{productGroup.productGroup}}"
              ></button>
              <button
                type="submit"
                class="col-sm-58 col-sm-offset-1 order-btn"
                data-test="{{productGroup.productGroup}}"
                translate="REG_ORDER_NOW"
                ng-click="order(productGroup.productGroup)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row"><p translate="REG_SUPPORT_INFO"></p></div>
  </div>
</form>
