<div ng-include="'registration/partials/includes/header.html'"></div>
<!--Start of content-->
<form name="productForm" data-test="productForm" class="row product col-sm-58 col-sm-offset-1">
  <div class="row title-bottom">
    <h3 translate="{{getProductGroupInfo(getProductGroup().value).trans}}"></h3>

    <p ng-if="isLicenseAbo()" translate="REG_STATIC_IP_REQUIRED"></p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading title-panel" translate="REG_SUBSCRIPTION_PRICES"></div>
    <div class="panel-body">
      <!-- Start of Parent Abo content-->
      <!-- General INFO:
      - all prices are dynamic
      - when the ? (data-icon) is hovered/clicked a help text (written by staff
        of kigaportal) should appear
      - you need to select an option at "Zusatzlizenzen" to continue -->


      <div class="parents row" ng-if="!isLicenseAbo()">

        <div class="col-xlg-8 col-lg-9 col-md-15 col-sm-30 text-center" style="cursor: pointer;"
             ng-repeat="product in getProducts()"
             ng-click="selectProduct(product)" data-test="duration{{product.duration}}"
             ng-class="{selected: isProductSelected(product)}">
          <p class="title product-duration-label">{{product.duration}} {{product.duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate }}</p>

          <div class="icon-duration-month-{{product.duration}} duration-icon"></div>
          <h4 class="price">{{product.price +
            (getFieldObject('licences').value?(getFieldObject('licences').value * product.licencePrice):0) | kigaCurrency:product.currency}}</h4>
        </div>
        <div class="clearfix hidden-xlg hidden-lg hidden-lmd hidden-md"></div>
        <div class="col-lg-16 col-md-23 col-sm-60 col-md-offset-2">
          <div class="checkbox checkbox-margin" ng-if="isStandardAbo()">
            <label>
              <input type="checkbox" name="student" ng-model="getData().student" ng-change="studentSelectionChanged()"
                     icheck data-test="student">
              <span t="REG_STUDENT_DECLARATION"></span>
            </label>
          </div>

          <p ng-if="isStandardOrgAbo()"
             translate="REG_LICENSE_ADDITIONAL"
             translate-values="{price: licencePrice()}"></p>
          <select name="additionalLicenses" data-test="licences" ng-if="isStandardOrgAbo()"
                  class="form-control input-md" ng-model="getFieldObject('licences').value"
                  ui-validate="'$value' "
                  validation-msg-validator="{{ 'REG_LICENSES_ADDITIONAL_SELECTION_REQUIRED' | translate }}">
            <option value="" translate="REG_LICENSES_ADDITIONAL_NEEDED"
                    ng-selected="{{!getFieldObject('licences').value}}"></option>
            <option value="0" translate="REG_NO_ADDITIONAL_LICENSES"
                    ng-selected="{{'0'==getFieldObject('licences').value}}"></option>
            <option ng-repeat="licenseNumber in getLicensesArray()" value="{{licenseNumber}}"
                    ng-selected="{{licenseNumber==getFieldObject('licences').value}}">
              {{ licenseNumber =='1'?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:
              '+licenseNumber+'}' }}
            </option>
          </select>

          <p class="text-duration"> {{"REG_SUBSCRIPTION_DURATION" | translate}} <b class="text-orange product-duration-label">
            {{getSelectedProduct().duration}}
            {{getSelectedProduct().duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate}}
          </b></p>

        </div>
      </div>
      <!-- End of parent Abo Page -->
      <!-- Start of License Abo Page-->

      <div class="licenses" ng-if="isLicenseAbo()">
        <div class="col-lg-10 col-md-15 col-sm-30 text-center" style="cursor: pointer;"
             ng-click="setDefaultProductForLicenseAboDuration(duration)"
             ng-repeat="(duration, products) in getData().products.durationGroups"
             data-test="duration{{product.duration}}"
             ng-class="{selected: getSelectedProduct().duration==duration}">
          <h2 class="title product-duration-label">{{duration}} {{duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate}}</h2>

          <div class="icon-duration-month-{{duration}} duration-icon"></div>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-25 visible-lmd-block visible-md-block visible-lsm-block visible-sm-block">
          <div class="clearfix"></div>
          <div class="radio margin">
            <div class="radioButtons"
                 ng-repeat="product in getData().products.durationGroups[getSelectedProduct().duration]">
              <input type="radio" id="{{product.licenceCount}}license" name="{{product.licenceCount}}licenses"
                     ng-model="getFieldObject('productId').value" value="{{product.id}}" to-integer/>
              <label for="{{product.licenceCount}}license">
                <span ng-if="product.price === 0"> &gt; </span>
                {{(product.licenceCount == 1 ? 'REG_LICENSE_NUMBER_SINGULAR' : 'REG_LICENSE_NUMBER_PLURAL') |
                translate: '{ licenseNumber: '+ product.licenceCount + '}' }}:
                <span ng-if="product.price>0"
                      class="margin-left">{{product.price | kigaCurrency: product.currency}}</span>
                <span ng-if="product.price === 0" translate="REG_LICENSE_SUBSCRIPTION_MANY_LICENSES"></span>

              </label>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <p class="text-duration">Abo-Dauer: <b class="text-orange product-duration-label">{{getSelectedProduct().duration}}
          {{getSelectedProduct().duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate }} </b></p>
      </div>
    </div>
  </div>
  <!--Start Button Area-->
  <div class="clearfix"></div>
  <div class="row buttons" ng-include="'registration/partials/includes/bottomButtons.html'"></div>
  <div class="row">
    <p></p>
    <p translate="REG_SUPPORT_INFO"></p>
  </div>
</form>
