<div ng-include="'registration/partials/includes/header.html'"></div>
<!--End of Header-->
<div class="summary" data-test="summary" ng-class="{'big-height': isLicenseAbo() || isStandardOrgAbo()}">
  <div class="row title-bottom">
    <h1 translate="REG_SUMMARY"></h1>
  </div>
  <div class="col-xlg-14 col-lmd-19 col-md-29 col-sm-60">
    <div class="panel panel-default">
      <div class="panel-heading title-panel" translate="REG_SUBSCRIPTION_SELECTION"></div>
      <div class="panel-body height-panel">
        <p class="hidden-md hidden-lmd hidden-lg hidden-xlg">{{ getProductGroup(getFieldObject('productGroup').value).trans | translate}}</p>
        <p class="text-center hidden-lsm hidden-sm">{{ getProductGroup(getFieldObject('productGroup').value).trans | translate}}</p>
        <!-- for selected Abo -->
        <div
          class="icon-abos icon icon-product-{{getProductGroup(getFieldObject('productGroup').value).productGroup}}-outlines text-center hidden-lsm hidden-sm"></div>
        <p>{{getSelectedCountry().value}}</p><!--selected country-->
      </div>
    </div>
    <div class="button">
      <button type="button" data-test="backToPreSelection" class="col-sm-60 lighten" translate="REG_EDIT"
              ng-click="activateStep('preSelectionFields')"></button>
    </div>
  </div>
  <div class="separator col-md-1 col-sm-60"><p></p></div>
  <div class="col-xlg-14 col-lmd-19 col-md-30 col-sm-60">
    <div class="panel panel-default">
      <div class="panel-heading title-panel" translate="REG_SUBSCRIPTION_PRICE"></div>
      <div class="panel-body height-panel">
        <p class="hidden-md hidden-lmd hidden-lg hidden-xlg">{{getSelectedProduct().duration}}
          {{getSelectedProduct().duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate}}</p>
        <p class="text-center hidden-lsm hidden-sm" >{{getSelectedProduct().duration}}
          {{getSelectedProduct().duration>1?'MISC_MONTH_PLURAL':'MISC_MONTH_SINGULAR' | translate}}</p>
        <div class="icon-duration-month-{{getSelectedProduct().duration}} duration-icon hidden-lsm hidden-sm"></div>

        <p class="text-licenses">
          <span ng-if="isStandardOrgAbo() && !getFieldObject('licences').value"
                translate="REG_NO_ADDITIONAL_LICENSES"></span>
            <span ng-if="isStandardOrgAbo() && getFieldObject('licences').value>0">
               <p ng-if="isStandardOrgAbo()" class="hidden-md hidden-lmd hidden-lg hidden-xlg">
                 {{ getFieldObject('licences').value ==1?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:'+getFieldObject('licences').value+'}' }}</p>
              <p ng-if="isStandardOrgAbo()" class="text-center hidden-lsm hidden-sm">
                {{ getFieldObject('licences').value ==1?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:'+getFieldObject('licences').value+'}' }}</p>
            </span>
            <span ng-if="isLicenseAbo()">
                <span ng-if="getSelectedProduct().price===0"> &gt; </span>
                <p class="hidden-md hidden-lmd hidden-lg hidden-xlg">
                  {{getSelectedProduct().licenceCount ==1?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:'+getSelectedProduct().licenceCount+'}' }}
               </p>
              <p class="text-center hidden-lsm hidden-sm">
                {{getSelectedProduct().licenceCount ==1?'REG_LICENSE_NUMBER_SINGULAR':'REG_LICENSE_NUMBER_PLURAL' | translate:'{ licenseNumber:'+getSelectedProduct().licenceCount+'}' }}
              </p>
            </span>
        </p>
        <p class="hidden-md hidden-lmd hidden-lg hidden-xlg" ng-if="getSelectedProduct().price>0">{{getSelectedProduct().price +
          (getFieldObject('licences').value?(getFieldObject('licences').value * getSelectedProduct().licencePrice):0) |
          kigaCurrency: getSelectedProduct().currency}}</p>
        <p class="text-center hidden-lsm hidden-sm" ng-if="getSelectedProduct().price>0">{{getSelectedProduct().price +
          (getFieldObject('licences').value?(getFieldObject('licences').value * getSelectedProduct().licencePrice):0) |
          kigaCurrency: getSelectedProduct().currency}}</p>
      </div>
    </div>
    <div class="button">
      <button type="button" data-test="backToProduct"
              class="col-sm-60 lighten" translate="REG_EDIT"
              ng-click="activateStep('productFields')"></button>
    </div>
  </div>
  <div class="separator col-lmd-1 col-md-59 col-sm-60"><p></p></div>
  <div class="col-xlg-14 col-lmd-20 col-md-29 col-sm-60">
    <div class="panel panel-default">
      <div class="panel-heading title-panel" translate="REG_CUSTOMER_DATA"></div>
      <div class="panel-body height-panel">
        <p>
          <br>
          <b translate="REG_CUSTOMER"></b><br>
          <span ng-if="getFieldObject('gender').value==='female'" translate="MISC_SALUTATION_FEMALE"></span>
          <span ng-if="getFieldObject('gender').value==='male'" translate="MISC_SALUTATION_MALE"></span>
          <br>
          {{getFieldObject('firstname').value}} {{getFieldObject('lastname').value}}{{getFieldObject('passportnumber').value}} {{getFieldObject('taxnumber').value}}<br>
          {{getFieldObject('email').value}}<br>
          {{getFieldObject('birthday').value | date :dateFormatBirthday}}</p>

        <p><b translate="REG_ORDER_ADDRESS"></b><br></p>
        <div>{{getFieldObject('addressName1').value}}</div>
        {{getFieldObject('addressName2').value}} {{getFieldObject('street').value}}, {{getFieldObject('streetNumber').value}}<span ng-if="getFieldObject('floorNumber').value">,</span> {{getFieldObject('floorNumber').value}}<span ng-if="getFieldObject('doorNumber').value">,</span> {{getFieldObject('doorNumber').value}}<br>
        {{getFieldObject('zip').value}} {{getFieldObject('city').value}}

        <p ng-if="(isLicenseAbo() || isStandardOrgAbo()) && getFieldObject('billZip').value">
          <br>
          <b translate="REG_BILL_ADDRESS"></b><br>
          {{getFieldObject('billAddressName1').value}}<br>
          {{getFieldObject('billAddressName2').value}}<br>
          {{getFieldObject('billStreet').value}}, {{getFieldObject('billStreetNumber').value}}<span ng-if="getFieldObject('billFloorNumber').value">, </span>{{getFieldObject('billFloorNumber').value}}<span ng-if="getFieldObject('billDoorNumber').value">, </span>{{getFieldObject('billDoorNumber').value}}<br>
          {{getFieldObject('billZip').value}} {{getFieldObject('billCity').value}}
        </p>
      </div>
    </div>
    <div class="button">
      <button type="button" data-test="backToCustomerData"
              class="col-sm-60 lighten" translate="REG_EDIT"
              ng-click="activateStep('customerDataFields')"></button>
   </div>

    </div>
  <div class="separator col-xlg-1 col-lmd-60 col-md-1 col-sm-60"><p></p></div>
  <div class="col-xlg-15 col-lmd-19 col-md-30 col-sm-60">
    <div class="panel panel-default">
      <div class="panel-heading title-panel" translate="REG_PAYMENT_TYPE"></div>
      <div class="panel-body height-payment">
        <p class="text-center">

        <div ng-switch on="getFieldObject('paymentMethod').value">
          <span ng-switch-when="MP-CC" translate="REG_PAYMENT_PER_CREDITCARD"></span>
          <span ng-switch-when="RE" translate="REG_PAYMENT_PER_INVOICE"></span>
          <span ng-switch-when="MP-ELV" translate="REG_PAYMENT_PER_ELV"></span>
          <span ng-switch-when="PAYPAL" translate="REG_PAYMENT_PER_PAYPAL"></span>
        </div>
        <span
          ng-show="getFieldObject('paymentMethod').value==='RE' && getFieldObject('invoiceOption').value==='email-customer'"
          translate="REG_PAYMENT_INVOICE_PER_EMAIL"></span>
        <span
          ng-show="getFieldObject('paymentMethod').value==='RE' && getFieldObject('invoiceOption').value==='post-customer'"
          translate="REG_PAYMENT_INVOICE_PER_POST"></span>
        </p>
      </div>
    </div>
    <div class="button hidden-xlg hidden-lg hidden-lmd hidden-md">
      <button type="button" class="col-sm-60 lighten" translate="REG_EDIT"
              ng-click="activateStep('paymentFields')"></button>
    </div>
    <div class="hidden-lg hidden-lmd">
      <div class="text-grey">
        {{'REG_SUMMARY_ACTIVATE_INFO' | translate}} <br/>

        <img ng-src="{{url('registration/images/kleckse.svg')}}" alt="Kleckse" height="100" width="100"
             class="kleckse"/>
      </div>
    </div>

    <div class="button hidden-lsm hidden-sm">
      <button type="button" data-test="backToPayment" class="col-sm-60 lighten" translate="REG_EDIT"
              ng-click="activateStep('paymentFields')"></button>
    </div>
  </div>
  <div class="hidden-xlg col-lg-19 col-lmd-19 col-lmd-offset-1 hidden-md hidden-lsm hidden-sm">
    <p class="text-grey">
      {{'REG_SUMMARY_ACTIVATE_INFO' | translate}} <br/>
      <img ng-src="{{url('registration/images/kleckse.svg')}}" alt="Kleckse" height="100" width="100"/>
    </p>
  </div>

  <div class="clearfix"></div>
  </div>
  <!--End of Content -->
  <!--Start Button Area-->
  <div class="row buttons">
    <div class="left">
      <button type="button" data-test="back" class="cancel" ng-click="moveToPreviousStep()" translate="BUTTON_BACK"></button>
    </div>
    <div class="right">
      <button type="submit" data-test="buyNow" translate="REG_BUY_NOW" ng-click="buyNow()"></button>
    </div>
  </div>
  <div class="row">
    <p></p>

    <p translate="REG_SUPPORT_INFO"></p>
  </div>
</div>
