@import '../../../vars';
@import '../../components/toolTipInfoIcon/toolTipInfoIcon';

div.container.permission div.row {
  div.panel {
    button {
      width: 60%;
      &.login {
        background-color: @grey;
      }
    }
  }

  .speech-holder {
    overflow: auto;
  }
  .speech-bubble {
    margin-top: 15px;
    text-align: center;
  }

  .explanation {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  a.button {
    color: white;
  }

  p.img {
    text-align: right;
  }

  div.checkbox {
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 15px;

    tool-tip-info-icon {
      .tooltip-inner {
        margin-bottom: 8px;
      }
      .tooltip.top .tooltip-arrow {
        margin-bottom: 8px;
      }
      .tooltip.left .tooltip-arrow {
        margin-bottom: 8px;
      }
      .tooltip.bottom .tooltip-arrow {
        margin-bottom: 8px;
      }
      .tooltip.right .tooltip-arrow {
        margin-bottom: 8px;
      }
    }

    .validation {
      clear: both;
    }
    position: relative;
    .checkbox-label {
      position: absolute;
      top: 0;
      left: 22px;
    }
  }

  div.subscription-expired {
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }

  div.oneAddress {
    margin-top: -18px;
    margin-bottom: -20px;
    div.row {
      margin-top: -10px;
      .formComponents {
        margin-top: -10px;
      }
    }
  }

  .lastName {
    margin-top: -10px;
  }
}
