<div ng-if="!$ctrl.cookieInfoService.getAgreedCookieUse()" class="cookie-info-component">
  <div class="container">
    <div class="row">
      <p class="cookie-info-text">{{"CONTAINER_COOKIE_INFO" | translate}}</p>
      <a class="more-info"  href="{{$ctrl.links.findByCode('dataPrivacy').url}}">
        {{"CONTAINER_COOKIE_MORE_INFO" | translate}}
      </a>
      <div class="cookie-info-close-button" ng-click="$ctrl.buttonClicked()">
        {{"CONTAINER_COOKIE_BUTTON" | translate}}
      </div>
    </div>
  </div>
</div>
