@import (reference) '../../../vars';

cookie-info {
  .cookie-info-component {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    background: #efefef;
    color: rgb(51, 51, 51);
    padding: 10px 0 5px;
    font-size: 14px;
    text-align: left;
    bottom: 0;
    opacity: 1;
    z-index: 2147483647;
    @media (min-width: 320px) and (max-width: 1780px) {
      justify-content: space-between;
    }
  }
  div .more-info {
    border-bottom: dotted 1px;
    font-weight: bold;
    color: @darkOrange;
  }
  .cookie-info-close-button {
    float: right;
    display: block;
    padding: 5px 8px;
    min-width: 100px;
    cursor: pointer;
    color: @white;
    background: @btnOrange;
    text-align: center;
    font-weight: bold;
    margin: 0 10px 5px 10px;
    @media (min-width: @screen-xlg-desktop) {
      margin-left: 150px;
    }
  }
  .cookie-info-text {
    @media (min-width: 320px) and (max-width: 1780px) {
      margin-left: 15px;
    }
  }
}
