@import '../style.less';

div.formsContainer {
  position: relative;
  div.speechBubble {
    overflow: visible;
  }
  div.formsMenu {
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 10000;
  }

  #dragndrop {
    [ng-drag] {
      border: 2px solid lightgrey;
      background-color: whitesmoke;
      padding: 5px;
      width: 200px;
      float: left;
    }
    .wrapper {
      background-color: white;
    }
  }

  .draglist {
    display: inline-block;
    margin: 0 auto;
  }

  [ng-drop] {
    text-align: center;
    background: whitesmoke;
    border: 2px solid lightgrey;
    margin-left: 250px;
    width: 300px;
    height: 300px;
    margin-left: 250px;
  }

  [ng-drop].drag-enter {
    border: solid 5px red;
  }

  .icons {
    > div {
      text-align: center;
      border: 1px dashed black;
      margin: 5px;
      font-size: 40px;
      float: left;
      width: 200px;
      i {
        padding: 0 20px;
        &:before {
          color: darkorange;
        }
      }
    }
    p {
      font-size: 12px;
    }
  }
  #menu {
    ul {
      position: absolute;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 5px;
      list-style-type: none;
      top: -25px;
      left: 25px;
    }

    li {
      background-color: #f29400;
      opacity: 1;
      width: 200px;
      color: white;
      padding: 10px 20px;
    }

    li:hover {
      background-color: #d35400;
    }

    li:hover span {
      background-color: #d35400;
    }

    a {
      display: flex;
      flex-flow: nowrap;
      color: white;
      text-decoration: none;
      justify-content: space-between;
      align-items: center;
      cursor: auto;
      &:focus {
        outline: none;
      }
    }

    a.back_link {
      display: flex;
      justify-content: flex-start;
    }
    a.back_link:hover {
      background-color: #d35400;
    }

    .back-field {
      background-color: #d35400;
    }

    button.burger {
      margin: 35px 50px 30px 50px;
      height: 32px;
      width: 32px;
      padding: 0;
      background-color: #f29400;
      box-shadow: 3px 3px 5px grey;
      border-radius: 10%;
      &:focus {
        outline: none;
      }
    }

    .ng-hide-y.ng-hide-add {
      animation: 0.3s hideStartY ease;
    }

    .ng-hide-y.ng-hide-remove {
      animation: 0.3s hideEndY ease;
    }

    .ng-show-y.ng-hide-add {
      animation: 0.3s showStartY ease;
    }

    .ng-show-y.ng-hide-remove {
      animation: 0.3s showEndY ease;
    }

    .ng-show-x.ng-hide-add {
      animation: 0.3s hideX ease;
    }

    .ng-show-x.ng-hide-remove {
      animation: 0.3s showX ease;
    }

    .ng-hide-x.ng-hide-add {
      animation: 0.3s hideStartX ease;
    }

    .ng-hide-x.ng-hide-remove {
      animation: 0.3s hideEndX ease;
    }

    .ng-show-x-back.ng-hide-add {
      animation: 0.3s hideXBack ease;
    }

    .ng-show-x-back.ng-hide-remove {
      animation: 0.3s showXBack ease;
    }

    @keyframes hideXBack {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }

      100% {
        transform: translateX(100%);
        opacity: 0;
      }
    }

    @keyframes showXBack {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }
    @keyframes hideStartY {
      0% {
        opacity: 1;
        transform: translateY(5%);
      }

      100% {
        opacity: 0;
        transform: translateY(10%);
      }
    }

    @keyframes hideEndY {
      0% {
        opacity: 1;
        transform: translateY(10%);
      }
      100% {
        transform: translateY(12%);
        opacity: 0;
      }
    }

    @keyframes showStartY {
      0% {
        opacity: 0;
        transform: translateY(6%);
      }

      100% {
        opacity: 1;
        transform: translateY(5%);
      }
    }

    @keyframes showEndY {
      0% {
        opacity: 0;
        transform: translateY(5%);
      }
      100% {
        transform: translateY(1%);
        opacity: 1;
      }
    }

    @keyframes hideStartX {
      0% {
        opacity: 1;
        transform: translateX(5%);
      }

      100% {
        opacity: 0.5;
        transform: translateX(-20%);
      }
    }

    @keyframes hideEndX {
      0% {
        opacity: 0.5;
        transform: translateX(-20%);
      }

      100% {
        opacity: 0;
        transform: translateX(-85%);
      }
    }

    @keyframes hideX {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }

      100% {
        opacity: 0;
        transform: translateX(-100%);
      }
    }

    @keyframes showX {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
  @padding_sm : 5px;
  @padding_md : 10px;
  @padding_lg : 15px;
  @padding_xl : 20px;
  .hierarchical-select {
    margin-top: 25px;
    ul {
      position: absolute;
      top: 63px;
      left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      list-style-type: none;
      box-shadow: 0px 3px 10px 1px #ababab;
      border: solid 1px #b2b2b2;
      background-color: #fff;
      &:after {
        position: absolute;
        content: '';
        top: -@padding_md;
        left: @padding_xl;
        border-left: @padding_md solid transparent;
        border-right: @padding_md solid transparent;
        border-bottom: @padding_md solid white;
        z-index: 100;
      }
      &:before {
        position: absolute;
        content: '';
        top: -11px;
        left: @padding_xl - 1px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid lightGrey;
        z-index: 10;
      }
    }

    li {
      background-color: #fff;
      opacity: 1;
      width: 200px;
      color: #515050;
      padding: 10px 20px;
    }

    li:hover {
      background-color: grey;
      color: #fff;
    }

    li:hover span {
      color: #fff;
      background-color: grey;
    }

    a {
      display: flex;
      flex-flow: nowrap;
      color: #515050;
      text-decoration: none;
      justify-content: space-between;
      align-items: center;
      cursor: auto;
      font-size: 16px;
      .item-icon {
        margin-right: 10px;
        font-size: 20px;
      }

      &:focus,
      &:hover {
        outline: none;
        color: #fff;
      }
    }

    a.back_link {
      display: flex;
      justify-content: flex-start;
    }

    .back-field {
      background-color: grey;
    }
    .dropdown-gap {
      height: 20px;
      position: absolute;
      width: 100%;
    }
    button.burger {
      border-right: 1px solid #b2b2b2;
      border-left: 1px solid #b2b2b2;
      height: 44px;
      width: 140px;
      padding: 0;
      background-color: #fff;
      color: #515050;
      font-size: 16px;
      font-weight: bold;
      .caret {
        margin-left: 7px;
      }

      &:hover {
        outline: none;
        color: #fff;
        background-color: grey;
      }
      &:focus {
        outline: none;
        color: #fff;
        background-color: grey;
      }
      i {
        font-size: 21px;
      }

      @media (max-width: 767px) {
        width: 60px;
        //border-left: 1px solid #b2b2b2;
        .caret {
          margin-left: 5px;
          margin-right: 10px;
        }
        i {
          margin-left: 10px;
        }
        span {
          display: none;
        }
      }
      @media (max-width: 479px) {
        width: 47px;
        i {
          margin-left: 0px;
        }
      }
    }
  }

  .font_for_element {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
  }
  #scrollPane {
    .carousel_row {
      display: flex;
      flex-flow: row nowrap;
      .arrows {
        flex-basis: 6%;
        display: flex;
        opacity: 0.7;
        margin-left: 1px;
        a {
          display: inline;
          text-decoration: none;
          color: lightslategray;
          .left_arrow {
            padding-right: 13px;
          }
          .right_arrow {
            padding-left: 13px;
          }
          i {
            border: 3px solid lightslategray;
            border-radius: 50%;
            line-height: 58px;
            padding: 10px;
            text-align: center;
            cursor: pointer;
          }
        }
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
      .carousel_list {
        flex-basis: 88%;
        overflow: hidden;
        white-space: nowrap;
        .element {
          vertical-align: top;
          width: 140px;
          display: inline-block;
          white-space: normal;
          margin-left: 10px;
          margin-right: 10px;
          .font_for_element;
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
