<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>KiGaPortal Documentation</title>
  <script>
    window.kiga = {clientUrl: "/"};
  </script>
  <script async defer src="/bundle.js"></script>
  <async-css href="http://fonts.googleapis.com/css?family=Open+Sans:700,400"></async-css>
</head>
<body>
  <div class="kiga-container" ng-controller="docsController">
    <div class="container">
      <div class="formsContainer">
        <div class="formsMenu affix">
          <ul>
            <li><a ng-click="goto('grid')">Grid</a></li>
            <li><a ng-click="goto('fields')">Inputs</a></li>
            <ul>
              <li><a ng-click="goto('generic')">Generic</a></li>
              <li><a ng-click="goto('select')">Select</a></li>
              <li><a ng-click="goto('checkboxes')">Checkboxes</a></li>
              <li><a ng-click="goto('radios')">Radios</a></li>
              <li><a ng-click="goto('buttons')">Buttons</a></li>
            </ul>

            <li><a ng-click="goto('directives')">Directives</a></li>
            <li><a ng-click="goto('forms')">Forms</a></li>
            <li><a ng-click="goto('formats')">Formats</a></li>
            <li><a ng-click="goto('validators')">Validators</a></li>
            <ul>
              <li><a ng-click="goto('validators')">All</a></li>
              <li><a ng-click="goto('async')">Async</a></li>
            </ul>
            <li><a ng-click="goto('dragndrop')">Drag &amp; Drop</a></li>
            <li><a ng-click="goto('menu')">Menu</a></li>
            <li><a ng-click="goto('scrollPane')">scrollPane</a></li>
            <li><a ng-click="goto('icons')">Icons</a></li>
          </ul>
        </div>
        <ng-include src="'docs/partials/grid.html'"></ng-include>
        <ng-include src="'docs/partials/inputs.html'"></ng-include>
        <ng-include src="'docs/partials/directives.html'"></ng-include>
        <ng-include src="'docs/partials/forms.html'"></ng-include>
        <ng-include src="'docs/partials/formats.html'"></ng-include>
        <ng-include src="'docs/partials/validators.html'"></ng-include>
        <ng-include src="'docs/partials/ui-grid.html'"></ng-include>
        <ng-include src="'docs/partials/dragndrop.html'"></ng-include>
        <ng-include src="'docs/partials/menu.html'"></ng-include>
        <ng-include src="'docs/partials/scroll.html'"></ng-include>
        <ng-include src="'docs/partials/icons.html'"></ng-include>
      </div>
    </div>
  </div>
</body>
</html>
