<div class="dunning-management">
  <h2>Overdue invoices</h2>

  <div class="buttons-container row margin-bottom">
      <button ng-click="ctrl.increaseLevel()" ng-disabled="ctrl.rowsSelected.length == 0"
              ng-class="{'disabled':ctrl.rowsSelected.length == 0}">Increase</button>
      <button ng-click="ctrl.decreaseLevel()" ng-disabled="ctrl.rowsSelected.length == 0"
              ng-class="{'disabled':ctrl.rowsSelected.length == 0}">Decrease</button>
      <button ng-click="ctrl.sendEmail()" ng-disabled="ctrl.rowsSelected.length == 0"
              ng-class="{'disabled':ctrl.rowsSelected.length == 0}">Send email</button>
      <button ng-click="ctrl.downloadPdf()" ng-disabled="ctrl.rowsSelected.length == 0"
            ng-class="{'disabled':ctrl.rowsSelected.length == 0}">Print</button>

  </div>

  <div class="row margin-bottom">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="check2" ng-model="ctrl.filterDunnables"
                 icheck ng-click="ctrl.clickFilterDunnables($value)">
          Show only invoices to be dunned
        </label>
      </div>
    </div>
  </div>

  <div ui-grid="ctrl.gridConfiguration" ng-show="ctrl.overdueInvoices.length > 0"
       ui-grid-selection class="grid"></div>
</div>
