@import (reference) '../css/bootstrap/variables';
@import (reference) '../css/bootstrap/bootstrap';
@import (reference) '../../vars';

@padding_sm : 5px;
@padding_md : 10px;
@padding_lg : 15px;
@padding_xl : 20px;
@font_size_nav : 15px;
@font_size_add : 16px;
@height_nav : 24px;
@border_header : 1px;
@screen-sm_local : 320px; //temporary variable for 320px because @screen-sm: === 479px; in variables.less
.change_headerColor(@currentColor, @name) {
  .navbar-logo {
    & .image {
      background: data-uri('../images/kigaLogo-@{name}.png') 10% 70% no-repeat;
    }
  }
  .sticky-bottom-nav {
    .nav-tabs {
      li.active > a,
      li > a:hover,
      li > a:focus {
        background: @currentColor;
      }
    }
  }
  .navbar > .container {
    padding: @padding_md @padding_md 0;

    .dropdown .dropdown-menu {
      a:hover,
      a:focus {
        background-color: @currentColor;
        color: @white;
      }
    }
    .input-group {
      .btn-default {
        background: @currentColor;
      }
      .btn-default.disabled {
        background: @lightGrey;
      }
      & tags-input,
      .tags-input {
        & .tag-item {
          background: @currentColor;
        }
      }
    }
    .navbar-header .navbar-brand {
      background-image: data-uri('../images/kigaLogo-@{name}.png');
      background-repeat: no-repeat;
    }
  }
  .navbar-left {
    & > li a {
      &.active,
      &:hover,
      &:focus {
        background-color: @currentColor;
      }
    }
  }
  .navbar-right {
    display: inline-flex;
    & > li > a {
      &.active,
      &:hover,
      &:focus {
        background-color: @currentColor;
      }
    }
    .wrapper {
      float: left;
    }
  }
  .age-dropdown {
    background-color: #fff;
    .range {
      font-weight: bold;
    }
  }
  .activeAgeGroup {
    background-color: @currentColor;
  }
}

/*
   Classes for different colors
   The class must be inserted into tag "<header>"
   Example: <header class="header lightGreen">
  */
header {
  &.default {
    .change_headerColor(@green, 'default');
  }
  &.ideas {
    .change_headerColor(@orange, 'ideas');
  }
  &.favourites {
    .change_headerColor(@violet, 'favourites');
  }
  &.memberIdeas {
    .change_headerColor(@violet, 'memberIdeas');
  }
  &.new-ideas {
    .change_headerColor(@green, 'ideas');
  }
  &.planner {
    .change_headerColor(@kigaPlan, 'planner');
  }
  &.shop {
    .change_headerColor(@shopColor, 'shop');
  }
  &.none {
    display: none;
  }
}
/**********************************************************************************/

/*
    Customazations for header in differents places.
    Like in planner, where the search is not shown.
  */
header {
  &.planner {
    @media (max-width: @screen-md-max) {
      .sticky-bottom-nav {
        margin-top: 47px;
      }

      .navbar {
        display: none;
      }
    }
  }
  &.shop {
    @media (max-width: @screen-md-max) {
      .sticky-bottom-nav {
        margin-top: 47px;
      }

      .navbar {
        display: none;
      }
    }
  }
}
/**********************************************************************************/

.sticky-top-nav {
  .container {
    .clearfix();
    ul.nav {
      float: left;
    }
    ul.nav > li {
      border-left: @border_header solid @softGrey;
      border-right: @border_header solid @softGrey;
    }
    ul.navbar-right {
      float: right;
    }
    padding-right: 0;
    a {
      color: @darkGrey;
      &:hover,
      &:focus {
        color: @darkGrey;
      }
    }
    .navbar-logo {
      float: left;
      width: 122px;
      @media (min-width: @screen-lmd) {
        border-right: solid @border_header @lightGrey;
      }
      @media (max-width: @screen-sm-max) {
        width: 90px;
      }
      .text-logo {
        position: absolute;
        top: 13px;
        left: 116px;
        @media (max-width: @screen-sm-max) {
          left: 100px;
          font-size: 11px;
        }
      }
      & .image {
        display: block;
        height: 44px;
        background-size: 50%;
      }
    }
    @media (max-width: @screen-lsm-max) {
      & > .nav > li.dropdown > a {
        font-size: 1em;
      }
    }
    @media (min-width: @screen-lmd) {
      .navbar-logo {
        display: none;
      }
    }
  }
  border-top: @border_header solid @lightGrey;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  background: #fff;
  transition: opacity 500ms;
  .box-shadow(~'0px 0px 4px 4px #ababab');
  .dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    left: -@border_header;
    min-width: 0;
    .box-shadow(none);
    & > li > a {
      padding: 11px @padding_xl;
      color: #fff;
      &:hover,
      &:focus {
        background-color: darken(@orange, 15%);
      }
    }
    & > li {
      background-color: @orange;
      &:hover > a {
        color: #fff;
      }
    }
    .caret {
      float: right;
      margin-top: 8px;
      margin-right: -6px;
      border-top: 4px solid transparent;
      border-right: 0;
      border-left: 4px solid #fff;
      border-bottom: 4px solid transparent;
    }
  }
  .navbar-left {
    @media (min-width: @screen-sm_local) and (max-width: @screen-md-max) {
      &.btn-group {
        display: none;
      }
    }
    &.burger {
      @media (min-width: @screen-lmd-min) {
        display: none;
      }
    }
    & > li {
      float: left;
      margin-left: -@border_header;
      font-size: @font_size_add;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      a {
        i {
          font-size: 21px;
        }
        &.active,
        &:hover,
        &:focus {
          color: @white;
        }
      }
      // issue for dropdown-backdrop-problem: https://github.com/twbs/bootstrap/issues/7968
      .dropdown-backdrop {
        position: static;
      }
      .dropdown-gap {
        height: 20px;
        position: absolute;
        width: 100%;
      }
      & a {
        position: relative;
        display: block;
        @media (min-width: @screen-lg) {
          padding: 11px 9px;
          &.dropdown-toggle {
            padding: 0;
            line-height: 44px;
            text-align: center;
            width: 45px;
          }
        }
        @media (min-width: @screen-lmd) and (max-width: @screen-lg) {
          padding: 11px 7px;
          &.dropdown-toggle {
            padding: 0;
            line-height: 44px;
            text-align: center;
            width: 45px;
          }
        }
        @media (min-width: @screen-sm_local) and (max-width: @screen-lmd) {
          padding: 11px 7px;
          &.dropdown-toggle {
            padding: 0;
            line-height: 44px;
            text-align: center;
            width: 45px;
          }
        }
      }
    }
    .dropdown-menu {
      -webkit-box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      -moz-box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      top: 63px;
      border: solid @border_header @lightGrey;
      &.icon-launcher-contents {
        i {
          font-size: 32px;
        }
      }
      & > li {
        font-size: @font_size_add;
        font-family: 'Open Sans', sans-serif;
        background-color: @white;
        & a {
          //background : url("/main/images/dropMenuSprite.png") no-repeat;
          color: @dropMenuGrey;
          padding: @padding_md @padding_xl;
          .content-span {
            font-size: @font_size_add;
            font-family: 'Open Sans', sans-serif;
            display: inline-block;
            padding: @padding_md @padding_md;
          }
          &:hover,
          &:focus,
          &:hover span,
          &:focus span {
            color: @white;
          }
        }
      }
      &:after {
        position: absolute;
        content: '';
        top: -@padding_md;
        left: @padding_md;
        border-left: @padding_md solid transparent;
        border-right: @padding_md solid transparent;
        border-bottom: @padding_md solid @white;
        z-index: 100;
      }
      &:before {
        position: absolute;
        content: '';
        top: -11px;
        left: 9px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid @lightGrey;
        z-index: 10;
      }
    }
  }
  .navbar-right {
    & > li {
      height: 44px;
      float: left;
      font-size: @font_size_add;
      font-family: 'Open Sans', sans-serif;
      margin-left: -@border_header;
      a {
        i {
          font-size: 21px;
        }
        span {
          vertical-align: middle;
        }
        padding: 9px;
        &.active,
        &:hover,
        &:focus {
          color: @white;
        }
      }
      .dropdown-gap {
        height: 20px;
        position: absolute;
        width: 100%;
      }
      & > a {
        &.navbar-lang,
        &.navbar-ctx {
          &:hover .caret,
          &:focus .caret {
            border-top-color: @white;
            border-bottom-color: @white;
          }
        }
        @media (min-width: @screen-lg) {
          &.navbar-toggle {
            padding: 0;
            line-height: 44px;
            text-align: center;
            width: 45px;
          }

          &.navbar-lang,
          &.navbar-ctx {
            padding: 10px @padding_md;
            &:hover .caret,
            &:focus .caret {
              border-top-color: @white;
              border-bottom-color: @white;
            }
          }
        }
      }
    }
    .right-dropdown-wrapper .dropdown-menu {
      &:after {
        left: 94px;
      }
      &:before {
        left: 93px;
      }
    }
    .lang-selector {
      text-transform: capitalize;
    }
    @media (min-width: @screen-lmd) and (max-width: @screen-lg) {
      & > .uppload .ng-scope,
      .navbar-lang i,
      .navbar-ctx i,
      .my-acc span,
      .baket-btn span {
        font-size: 16px;
        display: inline;
      }

      & > li > a {
        padding: 9px;
      }

      .navbar-lang,
      .navbar-ctx {
        font-size: @line-height-tiny;
        height: 44px;
      }

      .icon-upload {
        height: @height_nav;
      }
    }
    @media (max-width: @screen-lg) {
      .dropdown {
        .dropdown-menu {
          left: -68px;
        }
        &.my-acc .dropdown-menu {
          &:after {
            left: 80px;
          }
          &:before {
            left: 79px;
          }
        }
      }
    }
    @media (min-width: @screen-sm_local) and (max-width: @screen-lmd) {
      & > .uppload .ng-scope,
      .ctx-selector,
      .my-acc span,
      .baket-btn span {
        font-size: 12px;
        display: inline;
      }

      & > li > a {
        padding: 12px;
      }

      .uppload > a {
        line-height: @padding_xl;
      }

      .navbar-lang,
      .navbar-ctx {
        font-size: @font_size_nav;
      }

      .icon-upload {
        height: @height_nav;
      }
    }
    .clearfix();
    .caret {
      border-top-color: @darkGrey;
      border-bottom-color: @darkGrey;
    }
    .drop_right a {
      text-align: right;
    }
    .lang_sub,
    .ctx_sub {
      width: 145px;
      left: -63px;
      &:after {
        left: 96px;
      }
      &:before {
        left: 95px;
      }
    }
    .dropdown-menu {
      -webkit-box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      -moz-box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      box-shadow: 0px 3px @padding_md @border_header @middleGrey;
      top: 64px;
      border: solid @border_header @lightGrey;
      & > li {
        font-size: @font_size_add;
        font-family: 'Open Sans', sans-serif;
        background-color: @white;

        & a {
          color: @dropMenuGrey;
          background-color: @white;
          padding: 12px @padding_xl 12px @padding_xl;

          &:hover,
          &:focus,
          &:hover span,
          &:focus span {
            color: @white;
            background-color: @green;
          }
        }
      }

      &:after {
        position: absolute;
        content: '';
        top: -@padding_md;
        left: 90px;
        border-left: @padding_md solid transparent;
        border-right: @padding_md solid transparent;
        border-bottom: @padding_md solid @white;
        z-index: 100;
      }

      &:before {
        position: absolute;
        content: '';
        top: -11px;
        left: 89px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid @lightGrey;
        z-index: 10;
      }
    }
  }
  .navbar-toggle {
    display: block;
    margin: 0;
    height: auto;
  }
  .right-dropdown-wrapper {
    & > .dropdown-toggle {
      border-radius: 0;
      border: 0;
    }
    &.open > .dropdown-toggle {
      background: @orange;
      .nicon-bar {
        background: #fff;
      }
    }
    & > .dropdown-menu {
      left: auto;
      //overwrite bootstrap's property
      @media (max-width: @screen-md-max) {
        width: auto;
        right: 0;
        left: auto;
      }
    }
    &.dropdown-menu li a {
      background: @orange;
    }
    &.dropdown-menu li:hover,
    & .dropdown-menu li.active {
      &a {
        background: darken(@orange, 15%);
      }
    }
  }
}
.navbar > .container {
  @media (max-width: @screen-md-max) {
    .col-md-42 {
      width: 95%;
    }
  }
  .navbar-header {
    height: 70px;
    position: relative;
    .navbar-brand {
      padding: 0;
      margin-top: @padding_sm;
      margin-left: 0;
      display: block;
      width: 148px;
      height: 62px;
    }
    .content-logo {
      margin-left: 0;
      font-size: @font_size_add;
      font-weight: bold;
      position: absolute;
      top: 18px;
      left: 82px;
      display: inline-block;
      min-width: 100px;
    }
    @media (min-width: @screen-sm_local) and (max-width: @screen-md-max) {
      & {
        display: none;
      }
    }
  }
  .dropdown {
    float: right;
    padding-top: @padding_md;
    @media (min-width: @screen-sm_local) and (max-width: @screen-md-max) {
      float: left;
      width: 100%;
    }

    .open .dropdown-toggle.btn-default {
      background: @white;
    }
    .dropdown-menu {
      -webkit-box-shadow: 0 3px @padding_md @border_header @middleGrey;
      -moz-box-shadow: 0 3px @padding_md @border_header @middleGrey;
      box-shadow: 0 3px @padding_md @border_header @middleGrey;
      border-radius: 0;
      top: 67px;
      border: solid @border_header @lightGrey;
      font-size: 14px;
      & a {
        padding: 10px @padding_xl;
      }
      &:after {
        position: absolute;
        content: '';
        top: -@padding_md;
        left: @padding_lg;
        border-right: @padding_md solid transparent;
        border-left: @padding_md solid transparent;
        border-bottom: @padding_md solid @white;
        z-index: 100;
      }
      &:before {
        position: absolute;
        content: '';
        top: -11px;
        left: 14px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid @lightGrey;
        z-index: 10;
      }
    }
    .btn-default {
      @media (min-width: @screen-sm_local) and (max-width: @screen-md-max) {
        width: 100%;
      }
      width: 98px;
      height: 40px;
      border-radius: 0;
      text-align: left;
      border: solid @border_header @lightGrey;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background: @white;
      }

      .caret {
        display: block;
        float: right;
        margin-top: 9px;
      }
      .ageGroup {
        display: block;
        float: left;
      }
    }
  }
  .input-group {
    float: right;
    padding: @padding_md 0 0 @padding_md;
    margin-left: -2px;
    & input[type='text'] {
      height: 40px;
      background: @white;
      border: solid @border_header @lightGrey;
      outline: none;
      padding-left: @padding_lg;
      font-size: 14px;
      &::-webkit-input-placeholder {
        color: @darkGrey;
      }
      &::-moz-placeholder {
        color: @darkGrey;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: @darkGrey;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: @darkGrey;
      }
      &:focus {
        box-shadow: none;
      }
    }
    & tags-input,
    .tags-input {
      display: block;
      background: @white;
      border: solid @border_header @lightGrey;
      outline: none;
      font-size: 14px;
      min-height: 34px;
      padding: 0;
      box-shadow: none;
      & .tags {
        box-shadow: none;
        border: 0;
        background: @white;
        padding: 0;
        max-height: 38px;
      }
      & input.input {
        width: 20px;
        height: 38px;
        margin: 0;
        border: 0;
        padding: 0px 0px 0px 5px;
      }
      & .tag-item {
        margin: 6px 3px;
        border: 0px;
        background: @orange;
        border-radius: 0px;
      }
      & .remove-button {
        color: @white;
      }
      &::-webkit-input-placeholder {
        color: @darkGrey;
      }
      &::-moz-placeholder {
        color: @darkGrey;
      }
      &:-moz-placeholder {
        color: @darkGrey;
      }
      &:-ms-input-placeholder {
        color: @darkGrey;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .btn-default {
      border-radius: 0;
      border: none;
      height: 40px;
      width: 45px;
      color: @white;
      font-size: 1.4em;
      cursor: pointer;
      outline: none;
      &:focus {
        box-shadow: none;
      }
    }
    @media (min-width: @screen-sm_local) and (max-width: @screen-md-max) {
      & {
        padding-bottom: 9px;
      }
    }
  }
}
.navbar {
  position: fixed;
  top: 44px;
  width: 100%;
  z-index: 100;
  background: #efefef;
  border-radius: 0;
  border: 0;
  border-bottom: @border_header solid @middleGrey;
  transition: opacity 500ms;
  a {
    color: @darkGrey;
    &:hover,
    &:focus {
      color: @darkGrey;
    }
  }
  .navbar-nav {
    margin-top: 17px;
  }
  .box-shadow(~'0px -3px 3px #ababab inset');
}
.sticky-bottom-nav {
  margin: 124px 0 0;
  border-bottom: solid @border_header @lightGrey;
  .nav-tabs {
    float: left;
    border: none;

    & > li {
      border-right: solid @border_header @lightGrey;
      margin: 0;
    }

    & > li a {
      margin: 0;
      border-radius: 0;
      border-style: none;
      padding: 11px 20px;
      font-size: @font_size_add;
      font-family: 'Open Sans', sans-serif;
      color: @darkGrey;

      &:focus {
        box-shadow: none;
      }
    }
    li.active > a,
    li > a:hover,
    li > a:focus {
      color: @white;
      box-shadow: none;
      border: none;
    }
  }
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.header_top_pin {
  width: 12px;
  height: 44px;
  margin-left: -@border_header;
  &:nth-of-type(2n) {
    margin-left: -2px;
  }
}
.border_right {
  border-right: @border_header solid @lightGrey;
}
.border_left {
  border-left: @border_header solid @lightGrey;
}
.sticky-top-nav.hide_header {
  @media (max-width: @screen-lsm-max) {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
}
.navbar.hide_header {
  @media (max-width: @screen-lsm-max) {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
  }
}

.navbar-brand {
  padding: 7px @padding_lg;
}
.activeGroupBtn {
  padding: 0px;
}
.activeAgeGroup {
  color: @white;
  margin: 5px;
  padding: 4px 10px;
  height: 28px;
  .caret {
    border-top: 4px solid #fff;
  }
}
@media (max-width: @screen-lsm-max) {
  .navbar .navbar-collapse {
    display: none;
  }

  .sticky-top-nav > .container > .nav > li.dropdown > a {
    //font-size: 0;
  }

  .navbar-lang i {
    display: none;
  }

  .sticky-top-nav .primary-nav.nav > li > a {
    padding-right: @padding_lg;
  }

  .sticky-top-nav .search-wrapper {
    display: none;
  }
}
@media (max-width: @screen-lmd-max) {
  .navbar-header {
    height: 50px;
  }

  .navbar a.navbar-brand {
    padding: @padding_sm @padding_lg;
  }

  ul.dropdown-menu {
    min-width: 100%;
  }
}
