<header class="header" class="default" id="header">
  <div class="sticky-top-nav" id="top" kigaScroll>
    <div class="container">
      <div class="header_top_pin floatLeft border_right"></div>

      <!-- mobile menu -->
      <ul class="nav navbar-left burger" ng-click="isNavOpen = true">
        <li
          class="dropdown {{isNavOpen ? 'open' : ''}}"
          ng-mouseenter="isNavOpen = true"
          ng-mouseleave="isNavOpen = false"
        >
          <a class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-launcher-menu"></i> </a>
          <div class="dropdown-gap"></div>
          <ul class="dropdown-menu icon-launcher-contents" role="menu">
            <li>
              <a (click)="isNavOpen = false" [routerLink]="['/ng6', locale, 'home']">
                <i class="icon-home"></i>
                <span class="content-span" translate="NAVIGATION_HOME"></span>
              </a>
            </li>
            <li>
              <a [routerLink]="ideasLink">
                <i class="icon-infinite"></i>
                <span class="content-span">{{ 'NAVIGATION_IDEAS' | translate }}</span>
              </a>
            </li>
            <li>
              <a
                (click)="isNavOpen = false"
                [routerLink]="[locale, 'member-area', 'favourites', '']"
              >
                <i class="fa fa-heart-o"></i>
                <span class="content-span" translate="NAVIGATION_FAVOURITES"></span>
              </a>
            </li>
            <li>
              <a
                (click)="isNavOpen = false"
                [routerLink]="[locale, 'plan', 'kiga', 'monthly']"
                *ngIf="isCmsMember"
              >
                <i class="icon-planner"></i>
                <span class="content-span" translate="NAVIGATION_PLANNER"></span>
              </a>
              <a
                (click)="isNavOpen = false"
                [routerLink]="[locale, 'plan', 'kiga', 'detail']"
                *ngIf="!isCmsMember"
              >
                <i class="icon-planner"></i>
                <span class="content-span" translate="NAVIGATION_PLANNER"></span>
              </a>
            </li>
            <li *ngIf="showBasket">
              <a [routerLink]="shopLink">
                <i class="icon-shop"></i>
                <span class="content-span" translate="NAVIGATION_SHOP"></span>
              </a>
            </li>
            <li *ngIf="showKga">
              <a [routerLink]="['ng6', locale, 'kga', 'list']" translate="NAVIGATION_KGA"></a>
            </li>
            <li>
              <a [href]="forumLink">
                <i class="icon-forum"></i>
                <span class="content-span" translate="NAVIGATION_FORUM"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- desktop menu -->
      <ul class="nav navbar-left btn-group">
        <li>
          <a
            [ngClass]="{ active: areaData.isHomeActive }"
            [routerLink]="['/ng6', locale, 'home']"
            translate="NAVIGATION_HOME"
          ></a>
        </li>
        <li>
          <a
            [ngClass]="{ active: areaData.isIdeasActive }"
            [routerLink]="ideasLink"
            translate="NAVIGATION_IDEAS"
          >
          </a>
        </li>
        <li>
          <a
            [routerLink]="[locale, 'member-area', 'favourites', '']"
            translate="NAVIGATION_FAVOURITES"
          >
          </a>
        </li>
        <li>
          <a
            *ngIf="isCmsMember"
            [routerLink]="[locale, 'plan', 'kiga', 'monthly', currentYear, currentMonth]"
            translate="NAVIGATION_PLANNER"
          ></a>
          <a
            *ngIf="!isCmsMember"
            [routerLink]="[locale, 'plan', 'kiga', 'detail', 'current']"
            translate="NAVIGATION_PLANNER"
          ></a>
        </li>
        <li *ngIf="showBasket"><a [routerLink]="shopLink" translate="NAVIGATION_SHOP"></a></li>
        <li *ngIf="showKga">
          <a
            [ngClass]="{ active: areaData.isKgaActive }"
            [routerLink]="['ng6', locale, 'kga', 'list']"
            translate="NAVIGATION_KGA"
          ></a>
        </li>

        <li><a [href]="forumLink" translate="NAVIGATION_FORUM"></a></li>
      </ul>
      <div class="navbar-logo">
        <a [routerLink]="['/ng6', locale, 'home']" class="image">
          <span class="text-logo">{{ 'NAVIGATION_DEFAULT' | translate }}</span>
        </a>
      </div>
      <div class="header_top_pin floatRight border_left"></div>
      <ul class="nav navbar-right">
        <li *ngIf="showBasket" class="baket-btn">
          <a [routerLink]="[locale, 'shop', 'basket']">
            <i class="icon-shop"></i> <span class="basket-number">{{ numberOfItems }}</span>
          </a>
        </li>

        <li
          (mouseenter)="showLangDropdown()"
          (mouseleave)="hideLangDropdown()"
          *ngIf="areaData.showLocaleSwitcher"
          [ngClass]="{ open: isLangOpen }"
          class="dropdown lang-selector"
        >
          <a
            [attr.data-test]="'language'"
            class="navbar-lang dropdown-toggle"
            data-toggle="dropdown"
            href="#"
          >
            <i class="icon-earth"></i> <span>{{ locale }}</span> <b class="caret hidden-sm"></b>
          </a>
          <div class="dropdown-gap"></div>
          <ul class="dropdown-menu drop_right lang_sub" role="menu">
            <li *ngFor="let locale of locales">
              <a (click)="switchLocale(locale.code)" [attr.data-test]="locale.code">{{
                locale.title | translate
              }}</a>
            </li>
          </ul>
        </li>

        <kiga-dev-menu *ngIf="showDevMenu" class="hidden-sm hidden-lsm"></kiga-dev-menu>
        <kiga-menu
          *ngIf="!isLoggedIn"
          [menuItem]="{ label: 'Login', icon: 'icon-person', link: '/' + locale + '/login' }"
        ></kiga-menu>
        <kiga-menu *ngIf="isLoggedIn" [menuItem]="userMenu"></kiga-menu>
      </ul>
    </div>
  </div>

  <div class="navbar" kigaScroll role="banner">
    <div class="container">
      <div class="col-lg-13 col-lmd-14">
        <div class="navbar-header">
          <a [routerLink]="['/ng6', locale, 'home']" class="navbar-brand">
            <span class="content-logo">{{ 'NAVIGATION_DEFAULT' | translate }}</span>
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-lmd-8 col-md-10 col-sm-15">
        <div class="dropdown">
          <button
            aria-expanded="true"
            aria-haspopup="true"
            class="btn btn-default dropdown-toggle age-dropdown no-legacy"
            data-toggle="dropdown"
            id="dropdownMenu1"
            ngClass="{'activeGroupBtn': areaData.ageGroup)}"
            type="button"
          >
            <div ngClass="{'activeAgeGroup': areaData.ageGroup)}">
              <span
                *ngIf="!areaData.ageGroup"
                class="ageGroup"
                translate="NAVIGATION_AGE_LABEL"
              ></span>
              <span class="ageGroup"
                ><strong>{{ areaData.range }}</strong></span
              >
              <span class="caret"></span>
            </div>
          </button>
          <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
            <li><a (click)="changeAge(0)" [innerHTML]="'NAVIGATION_AGE_LABEL' | translate"></a></li>
            <li><a (click)="changeAge(1)" [innerHTML]="'NAVIGATION_AGE_1' | translate"></a></li>
            <li><a (click)="changeAge(2)" [innerHTML]="'NAVIGATION_AGE_2' | translate"></a></li>
            <li><a (click)="changeAge(4)" [innerHTML]="'NAVIGATION_AGE_4' | translate"></a></li>
            <li><a (click)="changeAge(8)" [innerHTML]="'NAVIGATION_AGE_8' | translate"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-42 col-lmd-38 col-md-50 col-sm-45 col-xs-60">
        <div class="input-group search">
          <form (ngSubmit)="onSearchSubmit(query.value)">
            <input
              #query
              [ngModelOptions]="{ updateOn: 'blur' }"
              class="form-control"
              name="searchBox"
              ngModel
              type="text"
              placeholder="{{ 'SEARCH_PLACEHOLDER' | translate}}"
            />
            <span
              class="input"
              style="visibility: hidden; width: auto; white-space: pre; display: none"
            ></span>
          </form>
          <span class="input-group-btn">
            <button
              (click)="onSearchSubmit(query.value)"
              class="btn btn-default icon-search searchButton"
              type="button"
            ></button>
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sticky-bottom-nav" kigaScroll></div>
</header>
