@import '../../vars';

.year-selection {
  padding: 20px 0;
}

.dashboard-row {
  display: flex;
  border-top: 1px solid @lightGrey;
  padding-top: 5px;
}

.dashboard-element {
  flex: 1;
}

.years {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.year {
  margin: 0 10px;
}

.current {
  color: @kgaBasis;
}
