<div *ngIf="(dashboardData$ | async) as data" class="container">
  <div class="year-selection">
    <kiga-scroll-pane-row
      [breakpoint]="{ itemsPerRow: 5 }"
      [component]="yearComopnent"
      [items]="scrollPaneData"
      [noGap]="false"
      [buttonStyle]="{ position: 'relative', top: '0px' }"
      (onItemClick)="yearClicked($event)"
      class="year-selection"
    >
    </kiga-scroll-pane-row>
  </div>

  <div [hidden]="this.yearId === undefined">
    <div class="dashboard-row">
      <div class="dashboard-element">
        <kiga-dashboard-element
          [name]="'KGA_DASHBOARD_KINDERGARTEN' | translate"
          nameIcon="fa fa-home"
          [buttonLabel]="'KGA_DASHBOARD_KINDERGARTEN_BTN' | translate"
          [descriptionHeader]="'KGA_DASHBOARD_KINDERGARTEN' | translate"
          [descriptionText]="data.kindergartenDescription"
          [buttonUrl]="['../kindergarten']"
        >
        </kiga-dashboard-element>
      </div>
      <div class="dashboard-element">
        <kiga-dashboard-element
          [name]="'KGA_DASHBOARD_EMPLOYEES' | translate"
          nameIcon="fa fa-user"
          [buttonLabel]="'KGA_DASHBOARD_EMPLOYEES_DESC' | translate"
          [descriptionHeader]="'KGA_DASHBOARD_EMPLOYEES_LIST' | translate"
          descriptionText="Sed diam nonumy eirmod temprov"
          [buttonUrl]="['../employee/list']"
        >
        </kiga-dashboard-element>
      </div>
    </div>

    <div class="dashboard-row">
      <div class="dashboard-element">
        <kiga-dashboard-element
          [name]="'KGA_DASHBOARD_CHILDREN' | translate"
          nameIcon="fa fa-child"
          [buttonLabel]="'KGA_DASHBOARD_CHILDREN_LIST' | translate"
          [descriptionHeader]="'KGA_DASHBOARD_CHILDREN' | translate"
          descriptionText="Kinder im Kindergarten..."
          [buttonUrl]="['../child/list']"
        >
        </kiga-dashboard-element>
      </div>
      <div class="dashboard-element">
        <kiga-dashboard-element
          [name]="'KGA_DASHBOARD_GROUPS' | translate"
          nameIcon="fa fa-group"
          [buttonLabel]="'KGA_DASHBOARD_GROUPS_LIST' | translate"
          [descriptionHeader]="'KGA_DASHBOARD_GROUPS' | translate"
          descriptionText="Gruppen..."
          [buttonUrl]="['../group/list']"
        >
        </kiga-dashboard-element>
      </div>
    </div>

    <div class="dashboard-row">
      <div class="dashboard-element">
        <kiga-dashboard-element
          [name]="'KGA_YEAR_ARCHIVE' | translate"
          nameIcon="fa fa-group"
          [buttonLabel]="'KGA_YEAR_ARCHIVE' | translate"
          [descriptionHeader]="'KGA_YEAR_ARCHIVE' | translate"
          descriptionText=""
          [buttonUrl]="['../year']"
        >
        </kiga-dashboard-element>
      </div>
      <div class="dashboard-element"></div>
    </div>
  </div>
</div>
