<div class="ideas-form container">
  <form role="form" name="memberIdea" ng-submit="ctrl.save()">
    <div class="panel panel-default">
      <div class="panel-heading">
        Idea Content File Upload
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="info col-sm-60 col-md-20">
            <div class="form-group">
              <label>Preview</label>

              <div class="img_preview uploader" ng-show="ctrl.formData.previewUrl === null">
                <div class="upload_button"
                     file-upload
                     options='ctrl.previewOptions'
                     on-add='ctrl.onPreviewAdd'></div>
                <div class="placeholder" ng-show="!ctrl.formData.preview">
                  <div class="question_mark">?</div>
                  Anzeigebild
                </div>
                <div class="preview" file-upload-preview="ctrl.formData.preview" upload-file="ctrl.formData.preview"
                     ng-show="ctrl.formData.preview"></div>
              </div>

              <div class="img_preview uploader" ng-show="ctrl.formData.previewUrl !== null">
                <div class="preview">
                  <img ng-src="{{ ctrl.formData.previewUrl }}" alt="" class="preview"/>
                  <span class="icon icon-remove" ng-click="ctrl.onRemovePreviewUrl()">X</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-60 col-md-40">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" ng-required="true" placeholder="Title" ng-model="ctrl.formData.title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" ng-required="true" placeholder="Description" ng-model="ctrl.formData.description">
            </div>

            <div class="form-group">
              <label>Category</label>
              <!--<kiga-select required="true" placeholder="Select a category..."-->
                           <!--ng-model="ctrl.formData.parentCategory" options="ctrl.parentCategories"-->
                           <!--on-select="ctrl.selectChildCategory($select.selected)"></kiga-select>-->

              <ui-select ng-model="ctrl.formData.parentCategory" ng-required="true"
                         on-select="ctrl.selectChildCategory($item, $model)">
                <ui-select-match placeholder="Select a category...">
                  {{ctrl.formData.parentCategory.title}}
                </ui-select-match>
                <ui-select-choices repeat="category in ctrl.parentCategories">
                  <span ng-bind-html="category.title"></span>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label>Sub-Category</label>
              <!--<kiga-select required="true" placeholder="Select a sub category..."-->
                           <!--ng-model="ctrl.formData.category" options="ctrl.categories"></kiga-select>-->

              <ui-select ng-required="true" ng-model="ctrl.formData.category">
                <ui-select-match placeholder="Select a category...">
                  {{ctrl.formData.category.title}}
                </ui-select-match>
                <ui-select-choices repeat="category in ctrl.categories">
                  <span ng-bind-html="category.title"></span>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="form-group">
              <label>Description</label>
              <label class="radio-inline">
                <input type="radio" name="contentType" value="text" ng-model="ctrl.formData.contentType" icheck>
                Text
              </label>
              <label class="radio-inline">
                <input type="radio" name="contentType" value="file" ng-model="ctrl.formData.contentType" icheck>
                File
              </label>
            </div>

            <div class="form-group" ng-show="ctrl.formData.contentType==='file'">
              <div class="uploader">

                <input type="hidden" ng-model="ctrl.formData.contentType">

                <div class="upload_button" ng-show="ctrl.formData.files.length === 0"
                     file-upload options="ctrl.formData.uploadOptions" on-add="ctrl.onFileAdd"></div>

                <div class="file_list" ng-show="ctrl.formData.files.length > 0">
                  <div class="file" ng-repeat="file in ctrl.formData.files">
                    <span class="preview pull-left" file-upload-preview="file" upload-file="file"></span>
                    <span class="icon icon-remove remove pull-right" ng-click="ctrl.onRemoveFile(file)">X</span>
                    <span> {{file.name}} - {{file.size | fileSize}} </span>
                  </div>
                </div>

              </div>
              <div class="img_preview uploader" ng-show="ctrl.formData.fileUrl !== null">
                <div class="preview">
                  <img ng-src="{{ ctrl.formData.fileUrl }}" alt="" height="200px" class="preview"/>
                  <span class="icon icon-remove" ng-click="ctrl.onRemoveFileUrl(file)">X</span>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="ctrl.formData.contentType==='text'">
              <label>Description</label>

              <div class="form-editor">
                <textarea ui-tinymce ng-model="ctrl.formData.content"></textarea>
              </div>
            </div>

            <div class="buttons">
              <div class="left">
                <button class="cancel">{{'CANCEL' | translate}}</button>
              </div>
              <div class="right">
                <button class="save" type="submit">{{'SAVE' | translate}}</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>
</div>
