<div class="ideas">
  <div class="row buttons-row">

    <div class="col-lg-6 col-md-7 col-lsm-10 col-sm-12">
      <div class="ideas-button">
        <div id="idea-types-prev" class="sort-button prev-btn" data-test="ideaTypesPrev"><i
          class="fa fa-chevron-left"></i></div>
      </div>
    </div>

    <div class="sort-row col-lg-36 col-md-28 col-lsm-20 col-sm-12"
         scroll-pane="{
              prevButton:'#idea-types-prev',
              nextButton:'#idea-types-next',
              autoHideButtons: true,
              watch: 'ctrl.types.length'
             }">
      <div class="sort-col col-lg-10 col-md-15 col-lsm-30 col-sm-60">
        <div class="ideas-button" ng-class="{'active': ctrl.selectedType == null}"
             ng-click="ctrl.onAllTypesClick()">
          <div class="sort-button"><i class="fa fa-jsfiddle"></i></div>
          <div class="button-name" t="IDEAS_ALL_TYPES"></div>
        </div>
      </div>

      <div class="sort-col col-lg-10 col-md-15 col-lsm-30 col-sm-60"
           ng-repeat="type in ctrl.types track by $index">
        <div class="ideas-button" ng-click="ctrl.onTypeClick(type)"
             ng-class="{'active':ctrl.selectedType == type}">
          <div class="sort-button" data-test="ideaType-{{ type.name }}"
          ><i class="fa" ng-class="type.icon"></i></div>
          <div class="button-name">{{ type.title }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-7 col-lsm-10 col-sm-12">
      <div class="ideas-button">
        <div class="sort-button next-btn" id="idea-types-next" data-test="ideaTypesNext"><i
          class="fa fa-chevron-right"></i></div>
      </div>
    </div>

    <div class="col-lg-6 col-md-7 col-lsm-10 col-sm-12">
      <div class="ideas-button gray-button">
        <div class="sort-button" data-test="writeData"><i class="fa fa-pencil-square-o"></i></div>
        <div class="button-name">Text Schreiben</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-7 col-lsm-10 col-sm-12">
      <div class="ideas-button gray-button" ng-click="ctrl.upload()">
        <div class="sort-button" data-test="uploadData"><i class="fa fa-cloud-upload"></i></div>
        <div class="button-name">Datei uploaden</div>
      </div>
    </div>
  </div>

  <div class="ideas-overview">

    <div class="type-row" ng-repeat="type in ctrl.selectedTypes track by $index">
      <div class="container overview-row">
        <div class="type-title">{{ type.title }}</div>
        <div class="prev-btn" data-test="itemsListPrev-{{ type.name }}" id="items-list-prev-{{ type.name }}"><i class="fa fa-chevron-left"></i></div>
        <div class="ideas-list" scroll-pane="{
                  prevButton:'#items-list-prev-{{ type.name }}',
                  nextButton:'#items-list-next-{{ type.name }}',
                  watch:'ctrl.ideas[type.name].length',
                  autoHideButtons: true,
                  pageScroll: true
                }">
          <div class="idea" ng-class="{active:idea == ctrl.selectedIdea}"
               data-idea-id="{{ type.name+idea.id }}"
               ng-repeat="idea in ctrl.ideas[type.name] track by idea.id"
               ng-click="ctrl.selectIdea(type.name, $index)"
               ui-jq="sameHeight"
               ui-options="{
                               refParent: '.ideas-list',
                               refElement: '.idea'
                               }">
            <div class="idea-img">
              <img ng-show="!idea.previewId || idea.previewId===0" height="100" ng-src="{{url('ideas/images/no-image.png')}}" alt="KiGaPortal">
              <img ng-show="idea.previewId && idea.previewId > 0"  ng-src="{{ ctrl.getPreview(idea) }}" alt="" class="preview"/>

              <div class="idea-active">
                <div class="idea-circle"></div>
              </div>
            </div>
            <div class="desc">
              {{ idea.description }}
            </div>
          </div>
        </div>
        <div class="next-btn" data-test="itemsListNext-{{ type.name }}" id="items-list-next-{{ type.name }}"><i class="fa fa-chevron-right"></i></div>
      </div>

      <div class="preview-container-bg hidden-lsm hidden-sm"
           ng-if="ctrl.selectedIdea.contentType == type.name && ctrl.previewData">
        <div class="preview-container row">
          <div class="nav-left">
            <div class="prev-btn" data-test="previewPrev" ng-click="ctrl.prevItem()"
                 ng-show="ctrl.selectedIdeaIndex>0"><i class="fa fa-chevron-left"></i></div>
          </div>
          <div class="action-buttons">
            <div class="action-btn eye-btn" data-test="previewView"><i class="fa fa-eye"></i></div>
            <div
              class="action-btn heart-btn" data-test="previewLike"><i class="fa fa-heart-o"></i></div>
            <a ng-href="{{ctrl.getDownloadLink(ctrl.previewData.fileId)}}">
              <div class="action-btn print-btn" data-test="previewPrint"><i class="fa fa-print"></i></div>
            </a>
            <div
              class="action-btn trash-btn" data-test="previewTrash"><i class="fa fa-trash-o"></i></div>
            <div
              class="action-btn calendar-btn" data-test="previewCalendar"><i class="fa fa-calendar"></i></div>
            <div
              class="action-btn edit-btn" data-test="previewEdit" ng-click="ctrl.edit()"><i class="fa fa-pencil"></i></div>
            <div
              class="action-btn fb-btn" data-test="previewFacebook"><i class="fa fa-facebook"></i></div>
            <div
              class="action-btn play-btn" data-test="previewPlay"><i class="fa fa-play-circle-o"></i></div>
          </div>
          <div class="info">
            <img ng-show="!ctrl.previewData.previewId || ctrl.previewData.previewId === 0" height="100" ng-src="{{url('ideas/images/no-image.png')}}" alt="KiGaPortal">
            <img ng-show="ctrl.previewData.previewId && ctrl.previewData.previewId > 0" class="info-img" ng-src="{{ ctrl.previewData.previewUrl }}" alt=""/>

            <div class="info-title">{{ ctrl.previewData.title }}</div>
            <div class="info-text">{{ ctrl.previewData.description }}</div>
            <div class="info-stats">
              <div class="info-category-type">
                <div class="info-category">{{ ctrl.previewData.level1Title }}</div>
                <div class="info-type">{{ ctrl.previewData.level2Title }}</div>
              </div>
              <div class="info-stats-row">
                <i class="fa" ng-class="ctrl.previewData.rating < 1 ? 'fa-star-o' : 'fa-star'"></i>
                <i class="fa" ng-class="ctrl.previewData.rating < 2 ? 'fa-star-o' : 'fa-star'"></i>
                <i class="fa" ng-class="ctrl.previewData.rating < 3 ? 'fa-star-o' : 'fa-star'"></i>
                <i class="fa" ng-class="ctrl.previewData.rating < 4 ? 'fa-star-o' : 'fa-star'"></i>
                <i class="fa" ng-class="ctrl.previewData.rating < 5 ? 'fa-star-o' : 'fa-star'"></i>
              </div>
              <div class="info-rate">{{ ctrl.previewData.rating }}</div>
            </div>
          </div>
          <div class="list hidden-lmd hidden-md">
            <div class="up-btn" id="preview-list-up-{{ $index }}"
                 data-test="previewListUp"><i class="fa fa-chevron-up"></i></div>
            <div class="list-col" scroll-pane="{
                            prevButton:'#preview-list-up-{{ $index }}',
                            nextButton:'#preview-list-down-{{ $index }}',
                            vertical: true
                            }">
              <div class="list-prev-sm" ng-class="{'active': page == ctrl.activePreviewPage}"
                   ng-repeat="page in ctrl.previewData.previewPages track by $index"
                   ng-click="ctrl.selectPreviewPage(page)">
                <img ng-src="{{ page.small }}" alt=""/>

                <div class="prev-active">
                  <div class="active-circle"></div>
                </div>
              </div>
            </div>
            <div id="preview-list-down-{{ $index }}" class="down-btn"
                 data-test="previewListDown"><i class="fa fa-chevron-down"></i></div>
          </div>
          <div class="preview hidden-lmd hidden-md" ng-show="ctrl.activePreviewPage">
            <img ng-src="{{ ctrl.activePreviewPage.large }}" alt=""/>
          </div>
          <div class="nav-right">
            <div class="close" ng-click="ctrl.closePreview()"><i class="fa fa-times"></i></div>
            <div class="next-btn" data-test="previewNext" ng-click="ctrl.nextItem()"
                 ng-show="ctrl.selectedIdeaIndex < ctrl.ideas[ctrl.selectedIdea.contentType].length - 1"><i
              class="fa fa-chevron-right"></i></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

