<div class="buttons">
  <kiga-button button-type="type" button-class="cancel" button-text="Cancel"></kiga-button>
  <kiga-button button-type="button" button-text="Button with &lt;button&gt;"></kiga-button>
  <kiga-button button-class="button" button-href="#" button-text="Button with &lt;a&gt;"></kiga-button>
  <kiga-button button-type="button" button-class="icon" button-text="Button with"></kiga-button>
</div>
