<div class="container">
  <div class="row">
    <tabset>
    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-edit"></i>
        <label>Edit an Entry</label>
      </tab-heading>
      <form role="form" class="small" name="translationForm" ng-submit="ctrl.checkRedundant()">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">TRANSLATION FORM</h2>
          </div>
          <div ng-include="'backend/translation/partials/template/form.html'"></div>
          <div class="buttons">
            <div class="left col-sm-30">
              <button type="button" class="default cancel" ng-click="ctrl.resetForm()">Cancel</button>
            </div>
            <div class="right col-sm-30">
              <button type="submit">Save</button>
            </div>
          </div>
        </div>
      </form>
    </tab>
    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-time"></i>
        <label>History</label>
      </tab-heading>
      <div ng-include="'backend/translation/partials/template/history.html'"></div>
    </tab>

      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-comment"></i>
          <label>Comments</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/comments.html'"></div>
      </tab>

      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-list"></i>
          <label>Occurrences</label>
        </tab-heading>
        <div ng-include="'backend/translation/partials/template/occurrences.html'"></div>
      </tab>
  </tabset>
  </div>
</div>
