<div class="row filters">

  <div class="form-group col-sm-10">
    <label>Search</label>
    <input type="search" class="form-control" ng-model="listCtrl.filterObject.searchKey"
           ng-change="listCtrl.applyFilter()">
  </div>
  <div class="form-group col-sm-10">
    <label>Locale</label>
    <ui-select ng-model="listCtrl.filterObject.locale" on-select="listCtrl.changeLocale()">
      <ui-select-match placeholder="Select a locale...">{{listCtrl.filterObject.locale}}</ui-select-match>
      <ui-select-choices repeat="locale in listCtrl.locales">
        <span ng-bind-html="locale"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-sm-10">
    <label>Category</label>
    <ui-select ng-model="listCtrl.filterObject.category" on-select="listCtrl.applyFilter()">
      <ui-select-match>{{listCtrl.filterObject.category.title}}</ui-select-match>
      <ui-select-choices repeat="category in listCtrl.categories">
        <span ng-class="getCssClass(category)">{{category.title}}</span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-sm-10">
    <label>Status</label>
    <ui-select ng-model="listCtrl.filterObject.status" on-select="listCtrl.applyFilter()">
      <ui-select-match class="capitalize">{{listCtrl.filterObject.status}}</ui-select-match>
      <ui-select-choices repeat="status in listCtrl.translationStatus">
        <span class="capitalize" ng-bind-html="status"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group col-sm-10">
    <label>&nbsp;</label>
    <button class="button" ng-click="listCtrl.resetFilter()">Reset</button>
  </div>
</div>
<div class="table">
  <div ui-grid="listCtrl.gridOptions" ui-grid-pagination class="grid"></div>
</div>
