<section class="registration-step" ng-class="{visited: isCurrentStepActive(), 'first-step': isFirstStep(step)}">
    <div ng-if="!isFirstStep(step)" class="hidden-lsm hidden-sm">
        <div data-icon=">" class="icon arrow"></div>
    </div>
    <a href="" ng-if="isCurrentStepActive()" class="hidden-lsm hidden-sm" translate="{{translateKey}}" ng-click="activateStep(step)"></a>
    <span ng-if="!isCurrentStepActive()" class="hidden-lsm hidden-sm"  translate="{{translateKey}}"></span>
    <div class="hr" ng-if="!isCurrentStepActive()"></div>
    <a class="hr" href="" ng-click="activateStep(step)" ng-if="isCurrentStepActive()"/>
</section>
