@import '../../../vars';
@import (reference) '../../../main/css/bootstrap/variables';
@width: 60px;
.round-button() {
  border: #bcbcbc 3px solid;
  color: #bcbcbc;
  border-radius: 50%;
  line-height: 54px;
  width: @width;
  height: 60px;
  text-align: center;
  background: white;
  i {
    font-size: 33px;
  }
}

a {
  text-decoration: none;
}

.ideas-button {
  .round-button();
}

.button-name {
  width: 100%;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  word-wrap: break-word;
  color: #bcbcbc;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover,
  &.active-button {
    .ideas-button {
      color: @white;
    }
  }
}
