<a [routerLink]="category.url.split('/')" [queryParams]="category.queryParams">
  <div [ngClass]="{ 'active-button': isActive }" class="category theme-hover theme-hover-border">
    <div
      class="ideas-button include-theme-hover-border"
      [ngClass]="{ 'theme-bg': isActive, 'theme-border': isActive }"
    >
      <div class="sort-button">
        <i [ngClass]="{ 'include-theme-hover': !isActive }" class="fa {{category.icon}}"></i>
      </div>
    </div>
    <div class="button-name include-theme-hover" [ngClass]="{ 'theme-font': isActive }">
      {{ category.title }}
    </div>
  </div>
</a>
