<div class="row">
  <form role="form" class="small green-scheme">
    <div class="panel panel-default">
      <div class="panel-heading" translate="WELCOME_COMMUNITY_TITLE">
      </div>
      <div class="panel-body">
        <div translate="WELCOME_COMMUNITY_INFO" class="welcome line">
        </div>
        <div translate="WELCOME_ACTIVATION_COMMUNITY_INFO" class="welcome line">
        </div>
        <div class="welcome email-icon">
          <img ng-src="{{url('member/images/taube.svg')}}" class="welcome email-image">
        </div>
        <!-- <div translate="WELCOME_GIFT_TERMS" class="welcome line"></div> -->
      </div>
      <div class="buttons">
        <button class="full-width" type="submit" translate="WELCOME_BACK_TO_HP"
                ng-click="goTo('root')"></button>
      </div>
    </div>
  </form>
</div>
