<div class="row">
  <form role="form" class="green-scheme">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" translate="WELCOME_WELCOME"></h2>
      </div>
      <div class="panel-body">
        <div class="welcome">
          <div translate="WELCOME_RECEIVE_INFO" class="welcome line">
          </div>
          <div translate="WELCOME_ACTIVATION_CREATED_INFO" class="welcome line">
          </div>
          <div class="welcome email-icon">
            <img ng-src="{{url('member/images/taube.svg')}}" class="welcome email-image">
          </div>
          <div translate="WELCOME_TERMS" class="welcome last-line">
          </div>
        </div>
      </div>
      <div class="buttons">
        <button style="width:100%;" type="submit" translate="WELCOME_NEXT"
                ng-click="goTo('root')"></button>
      </div>
    </div>

  </form>
</div>
