<div class="row">
  <form role="form" class="green-scheme">
    <div class="panel panel-default">
      <div class="panel-heading" translate="WELCOME_WELCOME">
      </div>
      <div class="panel-body">
        <div class="welcome">
          <div class="welcome email-icon">
            <div translate="WELCOME_START_INFO" class="welcome line">
            </div>
            <div translate="WELCOME_FREE_FINISH_INFO" class="welcome line-italic">
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button style="width:100%;" type="submit" translate="WELCOME_BACK_TO_HP"
                ng-click="goTo('root')"></button>
      </div>
    </div>
  </form>
</div>
