<div class="row">
  <form role="form" class="green-scheme">
    <div class="panel panel-default">
      <div class="panel-heading" translate="WELCOME_WELCOME">
      </div>
      <div class="panel-body">
        <div class="welcome">
          <div translate="WELCOME_RECEIVE_INFO" class="welcome line">
          </div>
          <div translate="WELCOME_ACTIVATION_FREE_INFO" class="welcome line">
          </div>
          <div class="welcome email-icon">
            <img ng-src="{{url('member/images/taube.svg')}}" class="welcome email-image">
            <div translate="WELCOME_END_INFO" class="welcome last-line-italic">
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button style="width:100%;" type="submit" translate="WELCOME_BACK_TO_HP"
                ng-click="goTo('root')"></button>
      </div>
    </div>
  </form>
</div>
