<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_DASHBOARD_EMPLOYEES_LIST' | translate }}</div>
    <div class="panel-body">
      <div class="buttons">
        <div class="left">
          <button
            type="button"
            mat-raised-button
            color="accent"
            class="cancel"
            [routerLink]="['../../dashboard']"
          >
            {{ 'KGA_BACK_TO_DASHBOARD' | translate }}
          </button>
        </div>
        <div class="right">
          <button mat-raised-button color="primary" type="button" [routerLink]="['../new']">
            {{ 'KGA_EMPLOYEE_CREATE' | translate }}
          </button>
        </div>
      </div>

      <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sorted">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cellcomponent
            *matCellDef="let employee"
            class="clickable"
            [routerLink]="['../', employee.id]"
          >
            <i class="icon-pencil"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="name">{{ 'FIELD_NAME' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('name', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="type">{{ 'KGA_EMPLOYEE_EMPLOYMENT_TYPE' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('type', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let employee">
            <p [hidden]="employee.type == null">{{ employee.type }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="employmentContract">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="employmentContract">
              {{ 'KGA_FIELD_EMPLOYMENT_CONTRACT' | translate }}
            </p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('employmentContract', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let employee">
            <p>{{ employee.employmentContract }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>
            <p mat-sort-header="phone">{{ 'FIELD_PHONE' | translate }}</p>
            <mat-form-field appearance="standard">
              <input
                matInput
                (keyup)="filterData('phone', $event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let employee">{{ employee.phone }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
