@import '../../main/css/bootstrap/variables.less';
@import '../../vars';

.carousel {
  margin: 10px;
  .carousel-indicators {
    bottom: 1.5px;
    @media (min-width: @screen-lmd-min) {
      bottom: 11.5px;
    }
    @media (max-width: @screen-md-max) {
      display: none;
    }
    li {
      background-color: @greylightdark;
      box-shadow: 0 2px 6px @softGrey;
      border: none;
      margin-left: 10px;
    }
    .active {
      background-color: @white;
    }
  }
  .carousel-inner > .item > a > img {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
