<div (mouseenter)="pauseTimer()" (mouseleave)="startTimer()" class="carousel slide" id="carousel">
  <ol class="carousel-indicators">
    <li
      (click)="showItem(i)"
      *ngFor="let element of elements; let i = index"
      [className]="i == currentIndex ? 'active' : ''"
    ></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div
      #carouselItem
      *ngFor="let element of fullElements; let i = index"
      [className]="'item ' + (i == 0 ? 'active' : '')"
      class="item"
    >
      <a [queryParams]="element.queryParams" [routerLink]="element.routerLink">
        <ng-container *ngIf="supportPicture()">
          <picture>
            <source media="(max-width: {{'767px'}})" [srcset]="element.smallImageUrl" />
            <img [src]="element.bigImageUrl" [alt]="element.alternateText" class="img-responsive" />
          </picture>
        </ng-container>
        <ng-container *ngIf="!supportPicture()">
          <img
            [src]="element.bigImageUrl"
            [alt]="element.alternateText"
            class="img-responsive hidden-md hidden-lsm hidden-sm"
          />
          <img
            [src]="element.smallImageUrl"
            [alt]="element.alternateText"
            class="img-responsive hidden-xlg hidden-lg hidden-lmd hidden-lg"
          />
        </ng-container>
      </a>
    </div>
  </div>

  <a (click)="showPrev()" class="left carousel-control" role="button">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a (click)="showNext()" class="right carousel-control" role="button">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
