<div class="form-group">
  <label ng-if="$ctrl.label">{{ $ctrl.label }}</label>
  <!-- if !no-fab-form-validation -->
  <input ng-if="!$ctrl.noFarbFormValidation &&
                !$ctrl.asyncValidation &&
                !$ctrl.asyncValidator"
         type="{{$ctrl.inputType}}"
         class="{{$ctrl.inputClass}}"
         ng-model="$ctrl.value"
         ng-model-options="$ctrl.valueOptions"
         placeholder="{{$ctrl.placeHolder}}"
         ng-pattern="$ctrl.formattedPattern"
         name="{{$ctrl.inputName}}"
         ng-required="$ctrl.isRequired"
         validation-msg-pattern="{{$ctrl.validationMessagePattern}}">
  <!-- if no-fab-form-validation -->
  <input ng-if="$ctrl.noFarbFormValidation && !$ctrl.asyncValidation"
         type="{{$ctrl.inputType}}"
         class="{{$ctrl.inputClass}}"
         ng-model="$ctrl.value"
         ng-model-options="$ctrl.valueOptions"
         placeholder="{{$ctrl.placeHolder}}"
         ng-pattern="$ctrl.formattedPattern"
         name="{{$ctrl.inputName}}"
         ng-required="$ctrl.isRequired"
         no-fab-form-validation
         ng-change="$ctrl.change()">
  <!-- async validation #2-->
  <input ng-if="$ctrl.asyncValidator"
         type="{{$ctrl.inputType}}"
         class="{{$ctrl.inputClass}}"
         placeholder="{{$ctrl.placeHolder}}"
         ng-model-options="$ctrl.valueOptions"
         async-validator async-fn="$ctrl.asyncFunction" async-msg="{{$ctrl.asyncMessage}}"
         ng-model="$ctrl.value"
         name="{{$ctrl.inputName}}">
  <!-- async validation #1-->
  <input ng-if="$ctrl.asyncValidation"
         type="{{$ctrl.inputType}}"
         class="{{$ctrl.inputClass}}"
         placeholder="{{$ctrl.placeHolder}}"
         async-validation="{{$ctrl.asyncValidationAttributes[1]}}"
         async-url="{{$ctrl.asyncValidationUrl}}"
         ng-model="$ctrl.value"
         name="{{$ctrl.inputName}}"
         ng-required="$ctrl.isRequired">

</div>
