@padding-standard: 10px;
@padding-big: 20px;
@magenta : #9085bf;
@greenline : #b1c553;
@link-color: lightslategray;

.line {
  margin-bottom: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-left: 0;
  border: none;
  height: 3px;
  width: 100%;
}

.font_for_title {
  font-family: @font-family-base;
  font-size: 20px;
  font-weight: 300;
}

.font_for_element {
  font-family: @font-family-base;
  font-size: 12px;
  font-weight: 500;
}

.font_for_text {
  font-family: @font-family-base;
  font-size: 12px;
  font-weight: 400;
}
