div.container.login div.row {
  width: 320px;
  margin: 0 auto;
  a {
    &.resetPassword {
      color: @orange;
    }
    &.registerAccount {
      color: @green;
    }
  }
  button {
    width: 100%;
  }
  .infoMsg {
    color: @redmessage;
    text-align: center;
  }
  .new-here {
    text-align: center;
  }
  .login-logo {
    img {
      margin: 20px auto;
    }
  }
  .register-container {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }

  .shop-reg {
    background-color: @shopColor;
  }
}
