@import 'application';

@import '../../vars';
@import 'login';
@import 'forms';
@import 'table';
@import 'for';
@import 'style.css';
@import 'speechBubble';
@import 'newsletterSubcribe';
@import '../../main/components/cookieInfo/cookieinfo';
@import '../../main/components/footer/footer';

body {
  font-family: 'Open Sans', sans-serif !important;
  a {
    text-decoration: none;
    color: @darkGrey;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
    color: @darkGrey;
  }
  &.modal-open {
    div.kiga-container {
      display: none;
    }
    .modal-body {
      button {
        width: 100%;
      }
    }
  }
  .footer .container {
    padding: 0px 10px 0px 10px;
  }
  .modal {
    .modal-content {
      button {
        width: 100%;
      }
    }
  }

  @import 'dropdown';

  .errorMsg {
    font-size: 20px;
    background-color: #b80000;
    color: white;
    text-align: center;
  }

  .validation-error {
    color: @red;
    margin-top: 2px;
    margin-bottom: 6px;
  }

  .text-large {
    font-size: 14px;
  }

  .not-verified,
  .margin-bottom {
    margin-bottom: 5px;
  }

  div.ui-widget-overlay.ui-front {
    background-image: none;
  }
  div.loaderDialog {
    border: 0;
    background: none;
    .ui-widget-header {
      display: none;
    }
    .ui-dialog-content {
      padding: 0;
      overflow: visible;
    }
  }
  .cart-items-number {
    font-size: 12px;
    text-align: right;
  }
}
