div.container.newsletter div.row {
  width: 320px;
  margin: 0 auto;

  button {
    width: 100%;
  }
  .infoMsg {
    color: #778899;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
