@spBorderSize: 10px;
@spBorder: 1px;
@spArrowSpace: (@spBorderSize - @spBorder);
@spBorderColor: @grey;
@spBgColor: white;

div.speech-bubble {
  overflow: visible;
  > div {
    position: relative;
    padding: 15px;
    border: 1px solid @spBorderColor;
    background-color: @spBgColor;
    font-size: 14px;
    &:before {
      content: '';
      position: absolute;
      bottom: -@spBorderSize;
      left: @spBorderSize * 2;
      border-width: @spBorderSize @spBorderSize 0;
      border-style: solid;
      border-color: @spBorderColor transparent;
      display: block;
      width: 0;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -@spArrowSpace;
      left: 47px;
      border-width: @spArrowSpace @spArrowSpace 0;
      border-style: solid;
      border-color: @spBgColor transparent;
      display: block;
      width: 0;
    }
    &.top {
      &:before {
        top: -@spBorderSize;
        bottom: auto;
        left: auto;
        right: 50%;
        margin-right: -@spBorderSize;
        border-width: 0 @spBorderSize @spBorderSize;
      }
      &:after {
        top: -@spArrowSpace;
        bottom: auto;
        left: auto;
        right: 50%;
        margin-right: -@spArrowSpace;
        border-width: 0 @spArrowSpace @spArrowSpace;
      }
    }
    &.bottom {
      &:before {
        margin-left: -@spBorderSize;
        left: 50%;
      }
      &:after {
        margin-left: -@spArrowSpace;
        left: 50%;
      }
    }
    &.left {
      margin-left: @spBorderSize;
      &:before {
        top: 50%;
        margin-top: -@spBorderSize;
        bottom: auto;
        left: -@spBorderSize;
        border-width: @spBorderSize @spBorderSize @spBorderSize 0;
        border-color: transparent @spBorderColor;
      }
      &:after {
        top: 50%;
        margin-top: -@spArrowSpace;
        bottom: auto;
        left: -@spArrowSpace;
        border-width: @spArrowSpace @spArrowSpace @spArrowSpace 0;
        border-color: transparent @spBgColor;
      }
    }
    &.right {
      margin-right: @spBorderSize;
      &:before {
        top: 50%;
        margin-top: -@spBorderSize;
        bottom: auto;
        left: auto;
        right: -@spBorderSize;
        border-width: @spBorderSize 0 @spBorderSize @spBorderSize;
        border-color: transparent @spBorderColor;
      }
      &:after {
        top: 50%;
        margin-top: -@spArrowSpace;
        bottom: auto;
        left: auto;
        right: -@spArrowSpace;
        border-width: @spArrowSpace 0 @spArrowSpace @spArrowSpace;
        border-color: transparent @spBgColor;
      }
    }
  }
}
