<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_GROUP_EDIT' | translate }}</div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="saveGroup(group)">
        <formly-form [form]="form" [fields]="fields" [model]="group" [options]="options">
          <div class="buttons">
            <div class="left">
              <button mat-raised-button color="accent" [routerLink]="'../list'">
                {{ 'BUTTON_BACK' | translate }}
              </button>
            </div>
            <div class="right">
              <button mat-raised-button color="primary" type="submit">
                {{ 'BUTTON_SAVE' | translate }}
              </button>
            </div>
          </div>
        </formly-form>
      </form>
    </div>
  </div>
</div>
