<li class="root" (mouseleave)="hideMenu()" (mouseenter)="showMenu()">
  <a (click)="showMenu()" class="menu-label">
    <i [ngClass]="menuItem.icon"></i>
    <span>{{menuItem.label}}</span>
    <b class="caret hidden-sm"></b>
  </a>

  <div class="menu-container" [ngClass]="{show: displayMenu}">
    <div class="gap"></div>
    <div class="menu">
      <a (click)="back()" *ngIf="history.length" class="menu-item">
        <i class="icon-arrow-left"></i>
        Back
      </a>
      <a
        class="menu-item"
        *ngFor="let item of getMenu()" (click)="onClick(item)"
      >
        <i *ngIf="item.icon" [ngClass]="item.icon" class="left-icon"></i>
        <span *ngIf="item.translateLabel">{{item.label | translate}}</span>
        <span *ngIf="!item.translateLabel">{{item.label}}</span>
        <i *ngIf="item.children" class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</li>
