@import (reference) '../css/bootstrap/variables';
@import (reference) '../css/bootstrap/bootstrap';
@import (reference) '../../vars';

.menu-container {
  display: none;
  position: absolute;
  top: 44px;
  z-index: 1000;
  background-color: transparent;
  .gap {
    height: 20px;
    background-color: transparent;
  }
  .menu {
    border: solid 1px @lightGrey;
    box-shadow: 0 3px 10px 1px @middleGrey;
    background-color: @white;
    &:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 32px;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 11px solid @white;
      z-index: 10;
    }
  }
}

.menu-item {
  display: flex;
  align-items: center;
  color: @dropMenuGrey;
  padding: 12px 20px 12px 20px;
  &:hover,
  &:focus {
    background-color: @orange;
    color: @white !important;
  }
  .left-icon {
    margin-right: 8px;
  }
  .icon-arrow-right {
    margin-left: auto;
  }
}

.menu-label {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: @darkGrey;
  &:hover,
  &:focus {
    background-color: @green;
    color: @white;
    .caret {
      border-top-color: @white;
      border-bottom-color: @white;
    }
  }
  .caret {
    border-top-color: @darkGrey;
    border-bottom-color: @darkGrey;
  }
}

.root {
  font-size: 16px;
  height: 100%;
}
