<!--
  <div>
    <kiga-form [value]="value" (onSubmit)="import($event)">
      <kiga-selection placeholder="Year" name="id" label="Year to import from"
                      [options]="years"
                      (onSelectionChange)="reloadGroups($event)"></kiga-selection>

    <div *ngFor="let group of (groups | async)">
      {{group.name}}
      <kiga-checkbox [name]= "'' + group.id" label="import"></kiga-checkbox>
    </div>
    <kiga-button type="submit" label="Import groups and childs"></kiga-button>
    </kiga-form>
  </div>
-->
