<div class="detail">
  <form class="two-col ng-pristine ng-validate" ng-submit="ctrl.submit()">
    <div class="panel panel-default">
      <div class="panel-heading">Order: {{ ctrl.data.orderNr }}</div>
      <div class="panel-body">
        <p class="cancelled" ng-if="ctrl.data.status === 'Cancelled'">Cancelled Purchase</p>
        <div ng-if="ctrl.data.status !== 'Cancelled'">
          <a
            class="button"
            ui-sref="root.backend.shop.creditVoucher({purchaseId: ctrl.data.id})"
            ng-if="ctrl.showCreateCreditVoucher"
            >Create Credit Voucher</a
          >
          <button
            type="button"
            ng-if="ctrl.showFinishCreditVoucher"
            ng-click="ctrl.finishCreditVoucher()"
          >
            Finish Credit Voucher
          </button>
          <button
            ng-show="ctrl.data.invoiceNumber"
            type="button"
            ng-click="ctrl.resendInvoice(ctrl.data.id)"
          >
            Resend Invoice
          </button>
          <button type="button" ng-click="ctrl.recreateDocuments(ctrl.data.id)">
            Recreate Documents
          </button>
          <button ng-if="ctrl.showCancelPurchase" type="button" ng-click="ctrl.cancelPurchase()">
            Cancel Purchase
          </button>
        </div>

        <hr />
        <div class="clearfix">
          <div class="col-1">
            <p>CRM-ID: {{ ctrl.data.memberId }}</p>
            <p>PhoneNumber: {{ ctrl.data.phoneNr }}</p>
            <p>Payment Method: {{ ctrl.data.paymentMethod }}</p>
            <p>Psp Id:{{ ctrl.data.shippingPartner }}</p>
            <p>
              Invoice: <a ng-href="{{ ctrl.data.invoiceUrl }}">{{ ctrl.data.invoiceNumber }}</a>
            </p>
            <p>
              ShippingNote:
              <a href="" ng-click="ctrl.downloadShippingNote(ctrl.data.id)"
                >{{ ctrl.data.shippingNoteNumber }}</a
              >
            </p>

            <p>Voucher: <a ng-href="{{ ctrl.data.voucherUrl }}">{{ ctrl.data.voucherNr }}</a></p>
            <div class="form-group">
              <p>
                Shipping Partner:
                <kiga-select
                  class="form-group"
                  placeholder="Select ShippingPartner"
                  on-select="ctrl.shippingPartnerChange()"
                  options="ctrl.shippingPartnerOptions"
                  ng-model="ctrl.data.shippingPartner"
                >
                </kiga-select>
              </p>
            </div>
          </div>
          <div class="col-2">
            <p>Status.: {{ ctrl.data.status }}</p>
            <p>Date: {{ ctrl.data.orderDate | date }}</p>
            <p>Price (gross): {{ ctrl.data.priceGrossTotal }}</p>
            <div ng-repeat="item in ctrl.data.purchaseItems">
              <p>{{ item.amount }} x {{ item.title }}</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="clearfix">
          <div class="col-1">
            <div class="form-group">
              <label>ShippingAddress</label>
              <input
                name="firstname"
                type="text"
                placeholder="FirstName"
                class="form-control"
                ng-model="ctrl.data.firstName"
                required
              />
              <input
                name="lastname"
                type="text"
                placeholder="LastName"
                class="form-control"
                ng-model="ctrl.data.lastName"
                required
              />
              <input
                name="institution1"
                type="text"
                placeholder="Institution Name 1"
                class="form-control"
                ng-model="ctrl.data.addressName1"
              />
              <input
                name="institution2"
                type="text"
                placeholder="Institution Name 2"
                class="form-control"
                ng-model="ctrl.data.addressName2"
              />
              <input
                name="street"
                type="text"
                placeholder="Street"
                class="form-control"
                ng-model="ctrl.data.street"
                required
              />
              <input
                name="streetNumber"
                type="text"
                placeholder="StreetNumber"
                class="form-control"
                ng-model="ctrl.data.streetNumber"
                required
              />
              <input
                name="floorNumber"
                type="text"
                placeholder="FloorNumber"
                class="form-control"
                ng-model="ctrl.data.floorNumber"
              />
              <input
                name="doorNumber"
                type="text"
                placeholder="DoorNumber"
                class="form-control"
                ng-model="ctrl.data.doorNumber"
              />
              <input
                name="zip"
                type="text"
                placeholder="Zip"
                class="form-control"
                ng-model="ctrl.data.zip"
                required
              />
              <input
                name="city"
                type="text"
                placeholder="City"
                class="form-control"
                ng-model="ctrl.data.city"
                required
              />
              <input
                name="country"
                type="text"
                placeholder="Country"
                class="form-control"
                ng-model="ctrl.data.country"
                required
              />
              <input
                name="email"
                type="text"
                placeholder="Email"
                class="form-control"
                ng-model="ctrl.data.memberEmail"
                required
              />
              <textarea
                name="comment"
                type="text"
                placeholder="Comment"
                class="form-control"
                ng-model="ctrl.data.comment"
              >
              </textarea>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <label>BillingAddress</label>
              <input
                name="billAddressName1"
                type="text"
                placeholder="BillAddressName1"
                class="form-control"
                ng-model="ctrl.data.billAddressName1"
              />
              <input
                name="billAddressName2"
                type="text"
                placeholder="BillAddressName2"
                class="form-control"
                ng-model="ctrl.data.billAddressName2"
              />
              <input
                name="billStreet"
                type="text"
                placeholder="Street"
                class="form-control"
                ng-model="ctrl.data.billStreet"
              />
              <input
                name="billStreetNumber"
                type="text"
                placeholder="StreetNumber"
                class="form-control"
                ng-model="ctrl.data.billStreetNumber"
              />
              <input
                name="billFloorNumber"
                type="text"
                placeholder="FloorNumber"
                class="form-control"
                ng-model="ctrl.data.billFloorNumber"
              />
              <input
                name="billDoorNumber"
                type="text"
                placeholder="DoorNumber"
                class="form-control"
                ng-model="ctrl.data.billDoorNumber"
              />
              <input
                name="billZip"
                type="text"
                placeholder="Zip"
                class="form-control"
                ng-model="ctrl.data.billZip"
              />
              <input
                name="billCity"
                type="text"
                placeholder="City"
                class="form-control"
                ng-model="ctrl.data.billCity"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div class="left">
        <button ui-sref="root.backend.shop.list()" class="cancel">Back</button>
      </div>
      <div class="right">
        <button type="submit" ng-if="ctrl.data.status !== 'Cancelled'">Save Data</button>
      </div>
    </div>
  </form>

  <p>Invoices:</p>
  <div ng-repeat="invoice in ctrl.data.invoices">
    <p>
      <a ng-click="ctrl.getInvoiceVersion(invoice.id)"> Version: {{ invoice.version }}</a> -- Datum:
      {{ invoice.changeDate | date }}
    </p>
  </div>
</div>
