<div class="container" *ngIf="(kindergarten$ | async) as kindergarten">
  <div class="panel panel-default">
    <div class="panel-heading">{{ 'KGA_DASHBOARD_KINDERGARTEN' | translate }}</div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="save(kindergarten)">
        <formly-form [form]="form" [fields]="fields" [model]="kindergarten">
          <div class="buttons">
            <div class="left">
              <button
                mat-raised-button
                color="accent"
                type="button"
                [routerLink]="['../dashboard/']"
              >
                {{ 'KGA_BACK_TO_DASHBOARD' | translate }}
              </button>
            </div>
            <div class="right">
              <button mat-raised-button color="primary" type="submit">
                {{ 'BUTTON_SAVE' | translate }}
              </button>
            </div>
          </div>
        </formly-form>
      </form>
    </div>
  </div>
</div>
