@import '../styles';

::ng-deep {
  .address {
    display: flex;
    > * {
      width: 152px;
      &:nth-child(2) {
        margin: 0 40px;
      }
    }
  }
  .place {
    display: flex;
    > * {
      &:first-child {
        width: 152px;
        flex-grow: 0;
        margin-right: 40px;
      }
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}
