<div class="container">
  <div class="ideas-list ideas-grid">
    <!-- mobile view -->
    <idea-thumbnail-mobile
      ng-repeat="idea in $ctrl.items track by $index"
      idea="idea" class="hidden-xlg hidden-lg hidden-lmd hidden-md hidden-lg"
    >
    </idea-thumbnail-mobile>

    <!-- desktop view -->
    <item-thumbnail
      ng-repeat-start="item in $ctrl.itemThumbnails track by $index"
      item="item" class="idea"
      class ="hidden-xs hidden-sm hidden-lsm"
      ng-class="{
      active: item.id === $ctrl.activeItem.id,
      'new-idea': !item.inPool
      }"
      on-click="$ctrl.handleClick(id)"
      on-heart-click="$ctrl.handleHeartClick(id)"
    ></item-thumbnail>

    <div ng-repeat-end
         ng-repeat="viewMode in $ctrl.viewModes track by viewMode.itemsPerRow"
         ng-if="$ctrl.showLineBreak(viewMode.itemsPerRow, $parent.$index)"
         ng-class="viewMode.cssClass">
      <idea-preview
        index="{{ $parent.$parent.$index }}"
        ng-if="$ctrl.showPreviewPanel(viewMode.itemsPerRow, $parent.$parent.$index)"
        on-close="$ctrl.closePreview()"
        on-next="$ctrl.openNextPreview()"
        on-previous="$ctrl.openPreviousPreview()"
        show-previous="$ctrl.activeIndex > 0"
        show-next="$ctrl.activeIndex < $ctrl.items.length - 1"
        show-close="true"
        idea="$ctrl.activeItem"></idea-preview>
    </div>
  </div>
</div>
