@import (reference) '../../../theme';

.action-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border: #bcbcbc 3px solid;
  color: #bcbcbc;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 20px 20px 0;
  line-height: 54px;
  text-align: center;
  background: white;

  i {
    font-size: 33px;
  }

  .tooltip {
    top: 54px;
    padding: 0 10px;
    @width: 170%;
    width: @width;
    left: calc((100% - @width) / 2);
  }

  &:hover {
    .tooltip {
      opacity: 1;
      color: #fff;
    }
  }
}
