<kiga-anchor [link]="link" [useHref]="useHref">
  <div class="theme-hover-bg-inner theme-hover-border theme-hover action-btn">
    <i [ngClass]="icon" class="fa include-theme-hover"></i>
    <div class="tooltip include-theme-hover-bg">{{ tooltip }}</div>
  </div>
</kiga-anchor>
