<p>List parent works</p>
<div *ngIf="parentsObservable | async">

  <div *ngFor="let parent of parents">
    {{parent.firstname}} {{parent.lastname}}
    <button [routerLink]="['/ng6/en/kga/parent/edit', parent.id]">Edit</button>
  </div>
</div>
