<div [formGroup]="this.parent.form">
  <mat-checkbox matInput [formControlName]="name">{{ label }}</mat-checkbox>
  <kiga-validation-messages [control]="formControl"></kiga-validation-messages>
</div>
