@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//http://mcg.mbitson.com/ to generate new pallete.
$md-kgabasis: (
  50: #e0f0f4,
  100: #b3dae4,
  200: #80c2d2,
  300: #4da9c0,
  400: #2696b3,
  500: #0084a5,
  600: #007c9d,
  700: #007193,
  800: #00678a,
  900: #005479,
  A100: #a7dfff,
  A200: #74cdff,
  A400: #41bbff,
  A700: #27b2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-kgaback: (
  50: #ecf6f8,
  100: #d0e8ee,
  200: #b0d9e3,
  300: #90cad8,
  400: #79becf,
  500: #61b3c7,
  600: #59acc1,
  700: #4fa3ba,
  800: #459ab3,
  900: #338ba6,
  A100: #effbff,
  A200: #bceeff,
  A400: #89e1ff,
  A700: #6fdbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-kgabasis);
$candy-app-accent: mat-palette($md-kgaback);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

.mat-radio-button {
  margin-right: 40px;
}

.mat-checkbox-layout,
.mat-radio-label {
  font-weight: normal;
}
