/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import 'app/form/kiga-date/kiga-date.component.less';
@import '../app/src/main/css/bootstrap/bootstrap.less';
@import 'theme.less';

/*
In live, we load bootstrap-glyphicons separately which can cause it to
overwrite some basic settings (depending on the loading times). Therefore
we enforce here certain variables.
*/
html body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;

  .mat-input-element,
  .mat-form-field {
    font-size: 16px;
  }
}

//todo ask rainer where to place those classes (used for forms)
.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-2 {
  flex: 3;
}
