@import (reference) 'app/vars.less';

.scheme(@color) {
  .theme-font {
    color: @color;
  }

  .theme-border {
    border-color: @color;
  }

  .theme-bg {
    background-color: @color;
  }

  .theme-hover {
    &:hover,
    &:hover .include-theme-hover {
      color: @color;
    }
  }

  .theme-hover-border {
    &:hover,
    &:hover .include-theme-hover-border {
      border-color: @color;
    }
  }

  .theme-hover-bg {
    &:hover,
    &:hover .include-theme-hover-bg {
      background-color: @color;
    }
  }
  .theme-hover-bg-inner {
    &:hover .include-theme-hover-bg {
      background-color: @color;
    }
  }
}

/**
  the selector uses id which should have higher priority than
  any other component-specific selectors
*/
div#theme-area div.kiga-container {
  .scheme(@orange);

  .theme-new-ideas {
    .scheme(@green);
  }

  .theme-planner {
    .scheme(@kigaPlan);
  }

  .theme-favourites {
    .scheme(@violet);
  }

  /**
  special themes that don't cover an area, but are still required 
  */
  .theme-darkGrey {
    .scheme(@darkGrey);
  }
}
