@import '../../../vars';

body div.translation {
  .wordRow {
    .link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .capitalize {
    text-transform: capitalize;
  }
  .grid {
    min-height: 380px;
  }

  .filters {
    button {
      padding: 5px 0;
    }
  }

  .ui-select-bootstrap .ui-select-choices-row > a {
    .category-level-0 {
      margin-left: 0;
    }
    .category-level-1 {
      padding-left: 5px;
      font-size: 10px;
      font-weight: bold;
    }
    .category-level-2 {
      padding-left: 10px;
      font-size: 10px;
    }
    .category-level-3 {
      padding-left: 15px;
      font-size: 9px;
    }
    .category-level-4 {
      padding-left: 20px;
      font-size: 9px;
    }
    .category-level-5 {
      padding-left: 25px;
      font-size: 9px;
    }
  }

  .ui-grid-pager-control {
    button {
      width: 26px;
      background-color: transparent;
      border: 1px solid rgb(169, 169, 169);
    }
    input {
      height: 26px;
      width: 50px;
      display: inline-block;
      background-color: transparent;
      border: 1px solid rgb(169, 169, 169);
    }
    .first-bar {
      margin-left: 0;
    }
    .first-triangle {
      margin-left: 5px;
    }
    .next-triangle {
      margin-left: 8px;
    }
    .prev-triangle {
      margin-left: 8px;
    }
    .last-triangle {
      margin-left: 8px;
    }
    .last-bar {
      margin-left: -1px;
    }
  }

  tab-heading {
    i {
      top: -2px;
    }
  }
}
