<div class="validation" [hidden]="!errorExist">
  <!-- Show errors for invalid fields, when it has been either focused,
   has been changed or the user tried to submit the form without success
   (requires the setDirtyOnSubmit-option to be set-->
  <ul class="list-unstyled validation-errors fade-in">
    <li [hidden]="!required">This field is required</li>


    <li [hidden]="!minlength">Input to short</li>
    <li [hidden]="!maxlength">Input to long</li>

    <li [hidden]="!max">Number to high</li>
    <li [hidden]="!min">Number to low</li>

    <p>ERRORS ARE SHOWN</p>
  </ul>
  <!-- It is also possible to show a success element
  using the standard form syntax -->
</div>
