@import '../../vars';

.round-button() {
  border: #bcbcbc 3px solid;
  color: #bcbcbc;
  border-radius: 50%;
  line-height: 54px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background: white;
  i {
    font-size: 33px;
  }
}

.scheme(@color, @textcolor) {
  @media (max-width: @screen-lsm-max) {
    .sort-row {
      .sort-col {
        .favourites-button {
          .no-touchevents &:hover {
            .sort-button {
              color: @color;
              border-color: @color;
              background-color: @textcolor;
            }
            .button-name {
              color: @color;
            }
          }
        }
      }
    }
  }
  @media (min-width: @screen-md-min) {
    .sort-row {
      .sort-col {
        .favourites-button {
          .no-touchevents &:hover {
            .sort-button {
              color: @color;
            }
            border: 3px solid @color;
            border-color: @color;
            background-color: @textcolor;
            .button-name {
              color: @color;
            }
          }
        }
      }
    }
  }
}

.buttons-row(@color, @textcolor) {
  position: relative;
  padding: 12px 0;
  min-height: 130px;
  margin: 46px auto 0;
  @media (max-width: @screen-md-max) {
    margin: 0 auto;
  }
  .sort-row {
    white-space: nowrap;
    overflow: hidden;
    min-height: 80px;
    .sort-col {
      font-size: 12px;
      display: inline-block;
      float: none;
      white-space: normal;
      vertical-align: top;
    }

    .last-item {
      height: 20px;
      width: 0px !important;
      @media (max-width: @screen-lsm-max) {
        display: none;
      }
    }
  }

  .prev-btn,
  .next-btn {
    .round-button;
    position: absolute;
    top: 50%;
    margin-top: 0px;
  }
  .prev-btn,
  .next-btn {
    .no-touchevents &:hover {
      color: @color;
      border-color: @color;
    }
  }
  .rectangle-nav-button {
    margin-top: 14px;
  }
  .prev-btn {
    left: 10px;
  }
  .next-btn {
    right: 10px;
  }
  @media (max-width: @screen-lsm-max) {
    .prev-btn,
    .next-btn {
      .round-button;
      position: absolute;
      top: 50%;
      margin-top: 0px;
    }

    .prev-btn {
      left: 10px;
    }

    .next-btn {
      right: 10px;
    }

    .sort-row {
      .sort-col {
        width: 80px;
        .favourites-button {
          .sort-button {
            .round-button;
          }
        }
      }
    }
  }
  @media (min-width: @screen-md-min) {
    .sort-row {
      .sort-col {
        width: ~'calc(100%/6)';
        .favourites-button {
          .round-button;
          border-radius: 30px;
          text-overflow: ellipsis;
          margin: 0 auto;
          .sort-button {
            display: block;
          }
          .button-name {
            margin-top: -7px;
            position: absolute;
            top: 70px;
            width: 100%;
            left: 0;
            display: -webkit-box;
            max-width: 400px;
            height: 28px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            text-overflow: ellipsis;
            word-wrap: break-word;
          }
        }
        .rectangle-button {
          .sort-button {
            display: none;
          }
          .button-name {
            position: static;
            width: 100%;
            margin-top: 18px;
            height: auto;
            vertical-align: middle;
            display: -webkit-box;
            align-items: center;
            justify-content: center;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            line-height: 1.2;
            text-overflow: ellipsis;
            word-wrap: break-word;
            max-height: 28px;
            min-height: 1px;
          }
          width: 100%;
          height: 57px;
          position: absolute;
          top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 0px;
          align-items: center;
          justify-content: center;
          margin: 6px auto 0 auto;
        }
        position: relative;
      }
      padding-bottom: 38px;
      min-height: 98px;
    }
  }

  @media (min-width: @screen-lmd-min) {
    .sort-row {
      .sort-col {
        width: ~'calc(100%/8)';
      }
    }
  }
  @media (min-width: @screen-lg-min) {
    .sort-row {
      .sort-col {
        width: ~'calc(100%/10)';
      }
    }
  }
  @media (min-width: @screen-xlg-min) {
    .sort-row {
      .sort-col {
        width: ~'calc(100%/12)';
      }
    }
  }
  @media (min-width: @container-xlg) {
    .sort-row {
      .sort-col {
        width: ~'calc(100%/14)';
      }
    }
  }
  .sort-row-container {
    width: ~'calc(100% - 156.4px)';
    float: left;
    font-size: 0;
    .rectangle-item {
      position: relative;
      @media (min-width: @screen-md-min) {
        width: ~'calc(100%/3 - (100%/3 - 120px)/2)';
        margin-left: ~'calc((100%/3 - 120px)/4)';
        margin-right: ~'calc((100%/3 - 120px)/4)';
      }
      @media (min-width: @screen-lmd-min) {
        width: ~'calc(100%/4 - (100%/4 - 120px)/2)';
        margin-left: ~'calc((100%/4 - 120px)/4)';
        margin-right: ~'calc((100%/4 - 120px)/4)';
      }
      @media (min-width: @screen-lg-min) {
        width: ~'calc(100%/5 - (100%/5 - 120px)/2)';
        margin-left: ~'calc((100%/5 - 120px)/4)';
        margin-right: ~'calc((100%/5 - 120px)/4)';
      }
      @media (min-width: @screen-xlg-min) {
        width: ~'calc(100%/6 - (100%/6 - 120px)/2)';
        margin-left: ~'calc((100%/6 - 120px)/4)';
        margin-right: ~'calc((100%/6 - 120px)/4)';
      }
      @media (min-width: @container-xlg) {
        width: ~'calc(100%/7 - (100%/7 - 120px)/2)';
        margin-left: ~'calc((100%/7 - 120px)/4)';
        margin-right: ~'calc((100%/7 - 120px)/4)';
      }
    }
  }
  .buttons-row-container {
    position: relative;
  }
  .prev-container {
    width: 78.2px;
    float: left;
    .favourites-button {
      position: relative;
    }
    height: 60px;
  }
  .next-container {
    width: 78.2px;
    float: left;
    .favourites-button {
      position: relative;
    }
    height: 60px;
  }
  @media (max-width: @screen-lmd-max) {
    .sort-row-container {
      width: ~'calc(100% - 156.4px)';
    }
    .prev-container {
      width: 78.2px;
    }
    .next-container {
      width: 78.2px;
    }
  }
  @media (max-width: 639px) {
    .sort-row-container {
      width: 71.44%;
      .sort-col {
        width: 20%;
        .sort-button {
          margin: 0 auto;
        }
      }
    }
    @media (min-width: @screen-lsm) {
      .sort-row-md {
        width: 90%;
        margin-left: 5%;
        .sort-col {
          width: ~'calc(100%/6)' !important;
        }
      }
      .sort-row-md-plus {
        width: ~'calc(100% - 24px)';
        margin-left: 12px;
        .sort-col {
          width: ~'calc(100%/7)' !important;
        }
      }
    }
    .next-container {
      width: 14.28%;
      .sort-button {
        margin: 0 auto;
      }
    }
    .prev-container {
      width: 14.28%;
      .sort-button {
        margin: 0 auto;
      }
    }
    @media (min-width: @screen-lsm) {
      .arrow-container-md {
        display: none;
      }
    }
  }
  @media (max-width: 518px) {
    .sort-row {
      .sort-col {
        .favourites-button {
          .sort-button {
            width: 50px;
            height: 50px;
            i {
              font-size: 24px;
              margin-top: -8px;
            }
          }
        }
      }
    }

    .next-container,
    .prev-container {
      .sort-button {
        width: 50px;
        height: 50px;
        i {
          font-size: 24px;
          margin-top: -8px;
        }
      }
    }
  }
  @media (max-width: 479px) {
    .sort-row {
      width: 60%;
      .sort-col {
        width: ~'calc(100%/3)' !important;
        .favourites-button {
          .sort-button {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            i {
              font-size: 33px;
              margin-top: 2px;
            }
          }
        }
      }
    }
    .sort-row-small {
      width: 90%;
      margin-left: 5%;
      .sort-col {
        width: ~'calc(100%/4)' !important;
      }
    }
    .sort-row-small-plus {
      width: ~'calc(100% - 24px)';
      margin-left: 12px;
      .sort-col {
        width: ~'calc(100%/5)' !important;
      }
    }
    .next-container,
    .prev-container {
      width: 20%;
      .sort-button {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        &.next-btn {
          right: 10px;
        }
        &.prev-btn {
          left: 10px;
        }
        i {
          font-size: 33px;
          margin-top: 2px;
        }
      }
    }
    .arrow-container-small {
      display: none;
    }
  }

  @media (max-width: 380px) {
    .sort-row {
      width: 60%;
      .sort-col {
        font-size: 8px;
        width: ~'calc(100%/3)' !important;
        .favourites-button {
          .sort-button {
            width: 50px;
            height: 50px;
            i {
              font-size: 24px;
              margin-top: -8px;
            }
          }
        }
      }
    }
    .sort-row-small {
      width: 90%;
      margin-left: 5%;
      .sort-col {
        width: ~'calc(100%/4)' !important;
      }
    }
    .sort-row-small-plus {
      width: ~'calc(100% - 24px)';
      margin-left: 12px;
      .sort-col {
        width: ~'calc(100%/5)' !important;
      }
    }
    .next-container,
    .prev-container {
      width: 20%;
      .sort-button {
        width: 50px;
        height: 50px;
        i {
          font-size: 24px;
          margin-top: -8px;
        }
      }
    }
  }

  @media (min-width: @screen-lsm) and (max-width: @screen-md-min) {
    .sort-row {
      .sort-col {
        font-size: 9px;
        .button-name {
          font-weight: 500;
        }
      }
    }
  }

  .gray-button {
    white-space: normal;
    .sort-button {
      background: #bbbbbb;
      border-color: #bbbbbb;
      color: white;
    }
  }
  .button-name {
    text-align: center;
    color: gray;
    font-weight: 500;
  }
  .scheme(@color, @textcolor);
}
