@import '../../vars';

.favourites-form {
  .icon-remove {
    border: 1px solid @violet;
    color: @violet;
  }
  .form-editor {
    height: auto;
  }
  .info {
    .img_preview {
      width: 200px;
      height: 200px;
      color: white;
      position: relative;
      .placeholder {
        background: @softGreen;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        .question_mark {
          font-size: 90px;
          line-height: 120px;
        }
      }
      .upload_button {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .preview {
        height: 100%;
      }
    }

    .summary {
      margin: 10px 0;
      .icons {
        > div {
          display: inline-block;
          width: 25px;
          height: 25px;
        }
        .age_icon:nth-child(1) {
          background: url(../../planner/images/content/stickers/small/img-sticker-1.png);
        }
        .age_icon:nth-child(2) {
          background: url(../../planner/images/content/stickers/small/img-sticker-2.png);
        }
        .age_icon:nth-child(3) {
          background: url(../../planner/images/content/stickers/small/img-sticker-3.png);
        }
        .age_icon:nth-child(4) {
          background: url(../../planner/images/content/stickers/small/img-sticker-4.png);
        }
        .age_icon:nth-child(5) {
          background: url(../../planner/images/content/stickers/small/img-sticker-5.png);
        }
        .age_icon:nth-child(6) {
          background: url(../../planner/images/content/stickers/small/img-sticker-6.png);
        }
        .age_icon:nth-child(7) {
          background: url(../../planner/images/content/stickers/small/img-sticker-7.png);
        }
      }
    }
    .category {
      padding-left: 10px;
    }
  }
  .uploader {
    input[type='file'] {
      width: 100%;
      height: 100%;
      opacity: 0;
      display: block;
    }
    .file_list {
      min-height: 80px;
    }
    .file {
      position: relative;
      min-height: 80px;
      padding-right: 30px;
      padding-left: 15px;
      line-height: 25px;
      border: 1px solid #eee;
      border-bottom: none;
      &:last-child {
        border-bottom: 1px solid #eee;
      }
    }
    .remove {
      width: 25px;
      height: 25px;
      background: @violet;
      position: absolute;
      top: 0;
      right: 0;
      vertical-align: middle;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }
  .upload_button {
    width: 25px;
    height: 25px;
    background: url(../../misc/images/upload.png);
    background-size: 25px 25px;
    opacity: 0.7;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      opacity: 1;
    }
  }
}
