@import '../../vars';

@import 'buttonRow';
@import '../../misc/components/buttonRow/buttonRow';
@import 'ideasOverview';
@import 'preview';
@import 'newIdeas';

.body.favourites {
  .no-favs-msg .panel {
    padding-top: 100px;
    padding-bottom: 50px;

    .panel-body {
      text-align: center;
    }
    .ideas-link {
      color: @violet;
      font-weight: bold;
    }
  }
  button-row {
    .button-row {
      .button-row(@violet, @white);
    }
  }

  .buttons-row {
    .buttons-row(@violet, @white);
  }

  .favourites-overview {
    .favourites-overview(@violet, @activeFavBg);
  }

  .preview-container-bg {
    .preview-container-bg(@violet, @activeFavBg);
  }

  .no-hits-content {
    margin-left: 25px;
    margin-bottom: 40px;
    font-size: 16px;
    .suggestions {
      margin-top: 16px;
    }
  }

  //@import 'favourites';
}

.favourites {
  .prev-btn i {
    margin-left: -4px;
    margin-top: 2px;
  }

  .next-btn i {
    margin-left: 4px;
    margin-top: 2px;
  }
  @media (min-width: @screen-md-min) {
    .favourites-list {
      .favourite,
      .more-favourites-btn {
        width: ~'calc(100%/3 - (100%/3 - 120px)/2)';
        margin-left: ~'calc((100%/3 - 120px)/4)';
        margin-right: ~'calc((100%/3 - 120px)/4)';
        &.active {
          &:after {
            content: '';
            background: url(../images/arrow.jpg);
            display: block;
            height: 28px;
            width: 37px;
            position: absolute;
            left: 50%;
            margin-left: -19px;
            top: 172px;
          }
          .favourite-img .favourite-active.favourite-active,
          .desc-active {
            display: block;
          }
        }
      }
    }
  }
  @media (min-width: @screen-lmd-min) {
    .favourites-list {
      .favourite,
      .more-favourites-btn {
        width: ~'calc(100%/4 - (100%/4 - 120px)/2)';
        margin-left: ~'calc((100%/4 - 120px)/4)';
        margin-right: ~'calc((100%/4 - 120px)/4)';
      }
    }
  }
  @media (min-width: @screen-lg-min) {
    .favourites-list {
      .favourite,
      .more-favourites-btn {
        width: ~'calc(100%/5 - (100%/5 - 120px)/2)';
        margin-left: ~'calc((100%/5 - 120px)/4)';
        margin-right: ~'calc((100%/5 - 120px)/4)';
      }
    }
  }
  @media (min-width: @screen-xlg-min) {
    .favourites-list {
      .favourite,
      .more-favourites-btn {
        width: ~'calc(100%/6 - (100%/6 - 120px)/2)';
        margin-left: ~'calc((100%/6 - 120px)/4)';
        margin-right: ~'calc((100%/6 - 120px)/4)';
      }
    }
  }
  @media (min-width: @container-xlg) {
    .favourites-list {
      .favourite,
      .more-favourites-btn {
        width: ~'calc(100%/7 - (100%/7 - 120px)/2)';
        margin-left: ~'calc((100%/7 - 120px)/4)';
        margin-right: ~'calc((100%/7 - 120px)/4)';
      }
    }
  }
}
