//customization of the default css for new ideas

@import '../../vars';

@media (min-width: @screen-md-min) {
  .no-touchevents
    .body.favourites
    .buttons-row
    .sort-row
    .sort-col
    .favourites-button.favourites:hover {
    border-color: @violet;
    .sort-button {
      color: @violet;
      border-color: @violet;
    }
    .button-name {
      color: @violet;
    }
  }
}

.body .favourites .preview-container-bg {
  .preview-container {
    .action-buttons {
      .action-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @violet;
          border-color: @violet;
        }
      }
      .eye-btn.new-ideas,
      .new-ideas .eye-btn {
        .no-touchevents &:hover,
        .no-touchevents &.active {
          color: @green;
          border-color: @green;
        }
        .tooltip.bottom {
          .tooltip-inner {
            background-color: @green;
          }
        }
      }
    }

    .list {
      .up-btn,
      .down-btn {
        .no-touchevents &:hover {
          color: @violet;
          border-color: @violet;
        }
      }

      .list-col {
        .list-prev-sm {
          &:hover:not(.active) {
            border-color: @violet;
          }
          .prev-active {
            background: @activeFavBg;
          }
        }
      }
    }
    .close {
      i {
        .no-touchevents &:hover {
          color: @violet;
        }
      }
    }
  }
}
.no-touchevents .body.favourites {
  .favourites-overview {
    .type-row .title-link.favourites:hover {
      color: @violet;
    }
    .favourites-list {
      .favourite.favourite {
        &:hover {
          color: @violet;
          .desc {
            color: @violet;
          }
          .favourite-img .img-border {
            border-color: @violet;
          }
        }
        .favourite-img .favourite-active {
          background: @activeFavBg;
        }
        &.active .desc {
          color: @violet;
        }
      }
      .favourites .more-bl-large:hover {
        color: @violet;
        .fa {
          color: @violet;
        }
        .img-border {
          border-color: @violet;
          .more-btn {
            color: @violet;
          }
        }
      }
    }
    .favourites.prev-btn:hover {
      color: @violet;
      border-color: @violet;
    }
    .favourites.next-btn:hover {
      color: @violet;
      border-color: @violet;
    }
  }
}
