<div class="home">
  <div class="container-fluid">
    <div class="container">
      <div class="top-frame">
        <div class="buttons" *ngIf="showEditButton">
          <div class="full-width">
            <a
              class="button"
              [routerLink]="'/' + locale + '/backend/editHome'"
              translate="BUTTON_EDIT"
            ></a>
          </div>
        </div>
        <kiga-carousel [elements]="homeResponse.slider"></kiga-carousel>
      </div>
    </div>

    <div class="divider divider-min"></div>

    <div class="container blocks-row">
      <div class="middle-frames">
        <div class="row">
          <kiga-home-block
            *ngFor="let blockElement of homeResponse.thema; let i = index"
            [blockElement]="blockElement"
            [kigaLink]="{ tag: 'box_' + i }"
          >
          </kiga-home-block>
        </div>
      </div>
    </div>

    <div class="divider divider-max"></div>

    <!-- new ideas -->
    <div class="container new-ideas-row">
      <a [routerLink]="homeResponse.newIdeasUrl">
        <div class="title" translate="NAVIGATION_NEW_IDEA"></div>
      </a>
      <div class="line greenline"></div>

      <kiga-scroll-pane-container
        [newIdeas]="homeResponse.newIdeas"
        [url]="homeResponse.newIdeasUrl"
        [member]="member"
        [locale]="locale"
      ></kiga-scroll-pane-container>

      <!-- more button for mobile view -->
      <div class="hidden-md hidden-xlg hidden-lg hidden-lmd hidden-lg">
        <div class="more-bl">
          <div class="more-btn">
            <a [routerLink]="homeResponse.newIdeasUrl">
              <span>{{ 'NAVIGATION_MORE' | translate }} </span>
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-circle" aria-hidden="true"></i>
              <i class="fa fa-circle" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="container">
      <div class="forum">
        <div class="row" [ngClass]="{ hideRegLinks: isFullSubscription }">
          <a [href]="homeResponse.ideaForum.url">
            <div class="forum-item">
              <div class="title" translate="FORUM_IDEA_FORUM"></div>
              <div class="line magenta"></div>
              <div class="text">
                <p>{{ homeResponse.ideaForum.title }}</p>
                {{ homeResponse.ideaForum.content }}
              </div>
            </div>
          </a>
          <a [href]="homeResponse.activityForum.url">
            <div class="forum-item">
              <div class="title" translate="FORUM_ACTIVITY_FORUM"></div>
              <div class="line magenta"></div>
              <div class="text">
                <p>{{ homeResponse.activityForum.title }}</p>
                {{ homeResponse.activityForum.content }}
              </div>
            </div>
          </a>
          <a [routerLink]="['/', locale, 'registrierung', 'preSelection']">
            <div class="forum-item full-registration">
              <div class="title" translate="HOME_ORDER_SUBSCRIPTION"></div>
              <div class="line orange"></div>
              <div class="btn" translate="HOME_ORDER_SUBSCRIPTION_BUTTON"></div>
            </div>
          </a>
          <a [routerLink]="['/', locale, 'newsletter-subscribe']">
            <div class="forum-item newsletter">
              <div class="title" translate="HOME_NEWSLETTER"></div>
              <div class="line green"></div>
              <div class="btn" translate="HOME_NEWSLETTER_BUTTON"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
