@import (reference) '../css/bootstrap/variables';
@import (reference) '../css/application';
@import (reference) '../../vars';
@import (reference) '../css/home';

a,
a:hover {
  text-decoration: none;
  color: @link-color;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: @grey;
}

div.blocks-row {
  padding: 0 0 @padding-standard 0;
}

div.new-ideas-row {
  padding: @padding-standard @padding-standard 0 @padding-standard;
  .title {
    margin-bottom: 0;
    margin-top: 0;
    //opacity       : 0.5;
    .font_for_title;
  }
  .greenline {
    .line;
    background: @greenline;
  }
  .more-btn {
    width: 118px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #515050;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: @green;
      .fa {
        color: @green;
      }
    }
    .fa {
      font-size: 10px;
      color: #ccc;
      margin-right: 2px;
    }
  }
}

.forum {
  padding: @padding-standard 0 0 0;
  .forum-item {
    padding: @padding-standard @padding-standard @padding-big @padding-standard;
    @media (min-width: @screen-lmd-min) {
      width: 25%;
      float: left;
    }
    .title {
      margin-bottom: @padding-standard;
      margin-top: 0;
      //opacity       : 0.5;
      .font_for_title;
    }

    .line {
      .line;
      &.magenta {
        background: @magenta;
      }
      &.orange {
        background: @darkOrange;
      }
      &.green {
        background: @greenline;
      }
    }

    .text {
      padding-top: @padding-standard;
      max-height: 80px;
      overflow: hidden;
      .font_for_text;
      p {
        margin-bottom: 0;
        .font_for_element;
      }
    }
    .btn {
      color: white;
      border-radius: 0px;
      display: block;
      margin-top: 20px;
      font-size: 18px;
      padding: 10px 0 10px 0;
      @media (max-width: @screen-lg-max) {
        font-size: 15px;
      }
      @media (max-width: @screen-lmd-max) {
        font-size: 12px;
      }
      @media (max-width: @screen-md-max) {
        font-size: 18px;
      }
    }
  }
  .hideRegLinks {
    .forum-item {
      @media (min-width: @screen-lmd-min) {
        width: 50%;
      }
    }
    .newsletter,
    .full-registration {
      display: none;
    }
  }
  .newsletter {
    .btn {
      background-color: @green;
    }
  }
  .full-registration {
    .btn {
      background-color: @orange;
    }
  }
}
