<div class="table container">
  <div class="row table-header" >
    <div class="col-sm-5" >
      <label>#</label>
    </div>
    <div class="col-sm-15">
      <label>Date</label>
    </div>
    <div class="col-sm-15">
      <label>Commented By</label>
    </div>
    <div class="col-sm-25">
      <label>Comment</label>
    </div>
  </div>

  <div class="row" ng-repeat="comment in ctrl.allComments">
    <div class="col-sm-5">{{$index+1}}</div>
    <div class="col-sm-20">{{comment.date | date:'medium'}}</div>
    <div class="col-sm-15">{{comment.user.firstname}} {{comment.user.lastname}}</div>
    <div class="col-sm-20">{{comment.body}}</div>
  </div>
</div>
