<div class="panel-body">
  <div class="form-group">
    <label>KEY</label>
    <label>{{ctrl.editedWord.key}}</label>
  </div>
  <div class="form-group">
    <label>Original</label>
    <label>{{ctrl.editedWord.originalTranslation}}</label>
  </div>

  <div class="form-group">
    <label>Translation</label>
    <textarea type="text" name="translation" class="form-control"
              ng-model="ctrl.editedWord.translation" ng-required="true"></textarea>
  </div>
  <div class="form-group">
    <label>Make a Comment</label>
    <textarea type="text" name="latestComment" class="form-control"
              ng-model="ctrl.editedWord.latestComment"></textarea>
    <span>Comments Count</span> : <span>{{ctrl.allComments.length}}</span>
  </div>
</div>
