<div class="table">
  <div class="row table-header" >
    <div class="col-sm-5" >
      <label>#</label>
    </div>
    <div class="col-sm-15">
      <label>Date</label>
    </div>
    <div class="col-sm-10">
      <label>Updated By</label>
    </div>
    <div class="col-sm-10">
      <label>Update</label>
    </div>
    <div class="col-sm-15">
      <label>Comment</label>
    </div>
  </div>

  <div class="row" ng-repeat="history in ctrl.allHistories">
    <div class="col-sm-5">{{$index+1}}</div>
    <div class="col-sm-15">{{history.date | date:'medium'}}</div>
    <div class="col-sm-10">{{history.user.firstname}} {{history.user.lastname}}</div>
    <div class="col-sm-10">{{history.body}}</div>
    <div class="col-sm-15">{{history.comment}}</div>
  </div>
</div>
