<div class="table">
  <div class="row">
    <label>Total Occurrences : </label>
    <label>{{ctrl.occurrences.totalCount}}</label>
  </div>
  <div ng-repeat="result in ctrl.occurrences.states">
    <a href="#" target="_blank" ui-sref="{{result.name}}">
      <div class="row">
        <div class="col-sm-30">{{result.name}} </div>
        <div class="col-sm-25"><label>Count</label> <label>{{result.count}}</label></div>
      </div>
    </a>
  </div>
</div>
