<a *ngIf="useRouterLink()"
   [routerLink]="href"
   routerLinkActive="active"
   [ngClass]="ngClass"
   [translate]="translate"
>
</a>

<a *ngIf="!useRouterLink()"
   [href]="href"
   [ngClass]="ngClass"
   [translate]="translate"
>
</a>
