<div class="container permission" data-test="{{ctrl.state}}">
  <div class="row">
    <form role="form" class="small">
      <div class="panel panel-default subscription-expired">
        <div class="panel-heading">
          <h2 class="panel-title capitalize" t="PERMISSION_TEXT_OPEN_INVOICE"></h2>
        </div>
        <div class="panel-body">
          <div class="col-sm-60">
            <div translate="PERMISSION_TEXT_LOCKED">
            </div>
            <div translate="PERMISSION_TEXT_PAY">
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="left col-sm-30">
          <button ng-click="ctrl.back()" type="button" class="default cancel" t="PERMISSION_BACK"></button>
        </div>
        <div class="right col-sm-30">
          <button ng-click="ctrl.payNow()" type="submit" class="login" t="PERMISSION_PAY_NOW"></button>
        </div>
      </div>
    </form>
  </div>
</div>
