<div class="container permission" data-test="{{ctrl.state}}">
  <div class="row">
    <form role="form" class="small orange-scheme">
      <div class="panel panel-default subscription-expired">
        <div class="panel-heading" translate="PERMISSION_FULL_REQUIRED">
        </div>

        <div class="panel-body">
          <div class="form-group text-center" ng-if="ctrl.withLogin">
            <a ui-sref="root.login({forward: ctrl.forward})">
              <button type="button" class="login" translate="LOGIN"></button>
            </a>
          </div>

          <div class="form-group" ng-if="ctrl.withLogin">
            <or-widget></or-widget>
          </div>
          <div class="text-center text-large form-group"
               translate="PERMISSION_LOGIN_OR_FULL_DESCRIPTION">
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="left col-sm-30">
          <button type="button" class="cancel" ng-click="ctrl.cancel()" translate="BUTTON_BACK"></button>
        </div>
        <div class="right col-sm-30">
          <a ui-sref="root.registration.preSelection">
            <button type="button" translate="REG_MORE_INFORMATION"></button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
