<div class="container permission" data-test="{{ctrl.state}}">
  <div class="row">
    <form role="form" class="small green-scheme"
          ng-submit="ctrl.register()" name="form">
      <div class="panel panel-default login-or-community">
        <div class="panel-heading" translate="PERMISSION_ACCOUNT_REQUIRED"
             ng-if="!ctrl.isTestOnly()"></div>
        <div class="panel-heading" translate="REG_TEST_TITLE"
             ng-if="ctrl.isTestOnly()"></div>

        <div class="panel-body">
          <div class="form-group text-center" ng-if="ctrl.subscription === 'community'">
            <a ui-sref="root.login({forward: ctrl.forward})">
              <button type="button" class="login" translate="LOGIN"></button>
            </a>
          </div>

          <div class="form-group" ng-if="ctrl.subscription === 'community'">
            <or-widget></or-widget>
          </div>


          <div class="form-group text-center text-large explanation"
               translate="PERMISSION_SIGN_UP_SPEECHBUBBLE" ng-hide="ctrl.fullTest"></div>

          <div class="form-group text-center text-large explanation"
               translate="PERMISSION_FULLTEST_SIGN_UP_SPEECHBUBBLE" ng-show="ctrl.fullTest">
          </div>

          <div class="form-group text-large" translate="PERMISSION_CREATE_ACCOUNT">
          </div>

          <div class="col-sm-60">
            <div ng-include="'misc/permission/partials/includes/loginOrCommunityForm.html'">
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <div class="left">
          <button type="button" class="cancel" t="BUTTON_BACK" ng-click="ctrl.cancel()"></button>
        </div>
        <div class="right">
          <button type="submit" t="PERMISSION_SIGN_UP_SUBMIT"></button>
        </div>
      </div>
    </form>
  </div>
</div>
