<div class="container permission" data-test="{{ctrl.state}}">
  <div class="row">
    <form role="form" class="small green-scheme"
          ng-submit="ctrl.register()" name="form">
      <div class="panel panel-default login-or-community">

        <div class="panel-heading" translate="REG_SHOP_REGISTRATION_TITLE"></div>

        <div class="panel-body">
                    <div class="form-group text-large" translate="PERMISSION_CREATE_ACCOUNT">
          </div>

          <div class="col-sm-60">
            <div class="form-group" ng-if="ctrl.allowCountrySelection() || !ctrl.data.country">
              <label translate="FIELD_COUNTRY"></label>
              <kiga-select ng-model="ctrl.data.country" placeholder="{{ 'REG_SELECT_COUNTRY'| translate }}"
                           options="ctrl.countries" on-select="ctrl.onCountrySelect()"  required
                           input-name="country"></kiga-select>
            </div>

            <div class="form-group">
              <div>
                <kiga-radio-button alignment="vertical"
                                   options="{female : 'MISC_SALUTATION_FEMALE',
                                   male : 'MISC_SALUTATION_MALE'}"
                                   value="ctrl.data.gender"
                                   name="gender"
                                   translation="true"></kiga-radio-button>
              </div>
            </div>

            <div class="form-group">
              <kiga-input input-name="firstname"
                          place-holder="{{ 'FIELD_FIRSTNAME' | translate }}"
                          value="ctrl.data.firstname"
                          validation = "required"></kiga-input>
              <kiga-input input-name="lastname"
                          place-holder="{{ 'FIELD_LASTNAME' | translate }}"
                          value="ctrl.data.lastname"
                          validation = "required"
                          input-class="lastName"></kiga-input>
            </div>

            <div class="form-group" ng-if="ctrl.data.country == 'tr'">
              <kiga-input input-name="phone"
                          place-holder="{{ 'FIELD_PHONE' | translate }}"
                          value="ctrl.data.phone"></kiga-input>
            </div>

            <div class="form-group">
              <label translate="REG_EMAIL_CURRENT"></label>
              <input name="email" type="email" placeholder="{{ 'FIELD_EMAIL' | translate }}" class="form-control"
                     ng-model-options="{ updateOn: 'blur'}"
                     ng-model="ctrl.data.email" required
                     validation-msg-async-validationemail-exists="{{ 'MEMBER_EMAIL_INVALID' | translate }}"
                     async-validation="emailExists" async-url="nregistration/emailCheck"
                     async-validation-context="ctrl.productId">
            </div>

            <div class="form-group">
              <label translate="REG_PASSWORD_MIN_LENGTH_HINT"></label>
              <kiga-multiple-inputs input-names="{'name1': 'password', 'name2' : 'password2'}"
                                    input-type="password"
                                    place-holder1="{{ 'FIELD_PASSWORD' | translate }}"
                                    place-holder2="{{'REG_PASSWORD_CONFIRMATION' | translate}}"
                                    validation="required"
                                    first-value="ctrl.data.password"
                                    second-value="ctrl.data.password2"
                                    fab-match="form.password.$viewValue"
                                    fab-match-msg="{{ 'REG_PASSWORD_CONFIRMATION_ERROR' | translate }}"
                                    min-length="8/8"></kiga-multiple-inputs>
            </div>


            <div class="form-group">
              <label t="REG_BIRTHDATE"></label>
              <kiga-birthday name="birthday"
                             value="ctrl.data.birthday">
              </kiga-birthday>
              <input type="hidden" valid-birthday required
                     min-age="{{getSelectedProduct().minimumAge}}"
                     ng-model="ctrl.data.birthday"/>
            </div>


            <div class="col-2">
              <div class="oneAddress">
                <div class="form-group">
                  <label translate="REG_ORDER_ADDRESS"></label>
                  <kiga-input input-name="street"
                              place-holder="{{ 'FIELD_STREET' | translate }}"
                              value="ctrl.data.street"
                              validation="required"></kiga-input>

                  <div class="row">
                    <div class="col-sm-20">
                      <kiga-input input-name="streetNumber"
                                  place-holder="{{ 'FIELD_HOUSENR' | translate }}"
                                  value="ctrl.data.streetNumber"
                                  validation="required"></kiga-input>
                    </div>
                    <div class="col-sm-20">
                      <kiga-input place-holder="{{ 'FIELD_FLOOR' | translate }}"
                                  input-name="floorNumber"
                                  value="ctrl.data.floorNumber"></kiga-input>
                    </div>
                    <div class="col-sm-20">
                      <kiga-input place-holder="{{ 'FIELD_DOORNR' | translate }}"
                                  input-name="doorNumber"
                                  value="ctrl.data.doorNumber"></kiga-input>
                    </div>
                  </div>

                  <div class="row ">
                    <div class="col-sm-20 formComponents">
                      <kiga-input input-name="zip"
                                  place-holder="{{ 'FIELD_ZIP' | translate }}"
                                  value="ctrl.data.zip"
                                  validation="required"></kiga-input>
                    </div>
                    <div class="col-sm-40 formComponents">
                      <kiga-input input-name="city"
                                  place-holder="{{ 'FIELD_CITY' | translate }}"
                                  value="ctrl.data.city"
                                  validation="required"></kiga-input>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label translate="REG_JOB_TITLE"></label>
              <kiga-selection value="ctrl.data.job" place-holder="{{ 'REG_JOB_PLACEHOLDER'| translate }}"
                              options="ctrl.jobs" validation="required" input-name="jobs"></kiga-selection>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <kiga-checkbox checkbox-name="agb"
                               ui-validation=" '$value===true' "
                               value="ctrl.data.agb"
                               msg-validator="{{ 'REG_AGB_ACCEPTED' | translate }}"></kiga-checkbox>


                <span t="REG_AGB_ACCEPTED_INFO" class="checkbox-label"></span>
              </div>

              <div class="checkbox">
                <kiga-checkbox checkbox-name="security"
                               value="ctrl.data.security"
                               ui-validation=" '$value===true' "
                               msg-validator="{{ 'REG_SECURITY_ACCEPTED' | translate }}"></kiga-checkbox>
                <span t="REG_SECURITY_ACCEPTED_INFO" class="checkbox-label"></span>
              </div>


              <div class="checkbox">
                <label>
                  <input type="checkbox" name="newsletter"
                         ng-true-value="true" ng-false-value="false"
                         ng-model="ctrl.data.newsletter" icheck data-test="newsletter">
                  <span t="REG_NEWSLETTER"></span>
                  <tool-tip-info-icon tool-tip-text="{{ 'REG_NEWSLETTER_INFO' | translate }}"></tool-tip-info-icon>
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input name="datenschutz" type="checkbox"
                         class="form-control" icheck data-test="datenschutz"
                         ng-model="ctrl.data.datenschutz" ui-validate=" '$value===true' "
                         validation-msg-validator="{{ 'REG_DATA_PRIVACY_ACCEPTED' | translate }}">
                  <span t="REG_DATA_PRIVACY" translate-values="{privacyLink: ctrl.linkURL}"></span>
                  <tool-tip-info-icon tool-tip-text="{{ 'REG_DATA_PRIVACY_INFO' | translate }}"></tool-tip-info-icon>
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="buttons">
        <div class="left">
          <button type="button" class="cancel" t="BUTTON_BACK" ng-click="ctrl.cancel()"></button>
        </div>
        <div class="right">
          <button type="submit" t="PERMISSION_SIGN_UP_SUBMIT"></button>
        </div>
      </div>
    </form>
  </div>
</div>
