<div class="container permission" data-test="{{ctrl.state}}">
  <div class="row">
    <form role="form" class="small green-scheme" ng-submit="ctrl.changeToTest()">
      <div class="panel panel-default test-upgrade">
        <div class="panel-heading" translate="PERMISSION_FREE_REQUIRED"></div>

        <div class="panel-body">

          <div class="form-group text-center text-large" translate="PERMISSION_FREE_TEXT">
          </div>

          <div class="speech-holder form-group">
            <div class="col-sm-20">
              <p class="img">
                <img ng-src="{{url('main/images/splashes/green2.svg')}}" alt="Kleckse" height="100" width="100"/>
              </p>
            </div>
            <div class="col-sm-35">
              <div speech-bubble="left">
                <span translate="PERMISSION_SIGN_UP_SPEECHBUBBLE"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <div class="left col-sm-30">
          <button type="button" class="default cancel" t="BUTTON_BACK" ng-click="ctrl.cancel()"></button>
        </div>
        <div class="right col-sm-30">
          <button type="submit" t="PERMISSION_FREE_SUBMIT" ></button>
        </div>
      </div>
    </form>
  </div>
</div>
