<div class="{{$ctrl.selectionClass}}">
  <label ng-if="$ctrl.label">{{$ctrl.label}}</label>
  <ui-select name="{{$ctrl.inputName}}" ng-model="$ctrl.value" on-select="$ctrl.select()">
    <ui-select-match placeholder="{{$ctrl.placeHolder}}">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="x.idx as x in $ctrl.formattedInput">
      <div>{{x.name}}</div>
    </ui-select-choices>
  </ui-select>
  <input type="hidden" ng-model="$ctrl.value" ng-if="$ctrl.isRequired" required>
</div>
