<div class="slider-items">
  <div class="container">
    <div class="row">
      <div class="file-select-wrp">
        <div class="form-group">
          <label ng-if="!ctrl.newVideo.url && !ctrl.new.big">Add New File</label>
          <label ng-if="ctrl.newVideo.url && !ctrl.new.big">Add The Preview Image for video.</label>

          <kiga-upload name="uploadedFilesBig"
                         ng-model="ctrl.uploadedFiles"
                         max-files="5"
                         hide-preview="false"
                         context="'productImages'"
                         canned-access-control-list="PublicRead">
            </kiga-upload>

        </div>
        <div class="clearfix"></div>
        <div class="img-preview-controls" ng-show="ctrl.uploadedFiles.length > 0">
          <div ng-click="ctrl.addFile()" class="town-btn save-btn">
            {{ "BUTTON_SAVE" | translate }} File
          </div>
          <div ng-click="ctrl.cancel()" class="town-btn">
            {{ "BUTTON_CANCEL" | translate }}
          </div>
        </div>
        <a class="product-page-link" href="{{ctrl.productData.productUrl}}">Go To the Product Page</a>
      </div>
    </div>
    <div ui-grid="ctrl.gridOptions" class="grid" ui-grid-draggable-rows></div>
    <div class="row">
      <div class="table-controls">
        <div ng-click="ctrl.submit()" class="town-btn table-save-btn">
          Save Order
        </div>
      </div>
    </div>
  </div>
</div>
