tool-tip-info-icon {
  margin-left: 10px;
  .tooltip-inner {
    background: #f9f9f9;
    color: #777777;
    border: solid #777777 1px;
    padding: 10px;
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: #777777;
  }
  .tooltip.left .tooltip-arrow {
    border-lef-color: #777777;
  }
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #777777;
  }
  .tooltip.right .tooltip-arrow {
    border-right-color: #777777;
  }

  .info-circle {
    color: #b2b2b2;
    font-size: 25px;
  }
}
