<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Lege dein Kalender Jahr fest</div>

    <div class="panel-body">
      <div *ngFor="let year of (yearsObservable | async)">
        <kiga-edit-year
          btnText="Save"
          (onSaveClick)="save($event)"
          (onArchiveClick)="archive($event)"
        ></kiga-edit-year>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">New year</div>

    <div class="panel-body">
      <kiga-edit-year btnText="Create new" (onSaveClick)="create($event)"></kiga-edit-year>
    </div>
  </div>
</div>
