@import (reference) '../../../main/css/bootstrap/variables';
@import (reference) '../../../vars';

voucher {
  .voucher-input {
    margin-top: 20px;
    margin-bottom: 20px;
    div.left {
      input {
        // force the intput to have the same height as the button
        // to the right (24px + 2* 11px)
        height: 46px;
      }
      @media (min-width: @screen-sm-max) {
        float: left;
        width: 50%;
        text-align: left;
        padding-right: 10px;
      }
    }
    div.right {
      @media (min-width: @screen-sm-max) {
        float: left;
        width: 50%;
        padding-left: 10px;
        text-align: right;
      }
    }
    button,
    a.button {
      // font-size: 20px;
      padding: 11px 0;
      &.icon {
        padding: 10px 0;
        i {
          font-size: 29px;
        }
      }
    }
  }

  .validation {
    max-width: 450px;
  }
}
