<div class="voucher-input">
  <div class="left">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="$ctrl.code"
             name="voucher" placeholder="{{ 'SHOP_VOUCHER_INPUT' | translate }}">
      <div class="validation" ng-show="$ctrl.showError">
        <ul class="list-unstyled validation-errors fade-in">
          <li>{{ 'SHOP_VOUCHER_WRONG_CODE' |  translate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right">
    <button type="button" ng-click="$ctrl.applyButtonClicked()"
            translate="SHOP_VOUCHER_SUBMIT"></button>
  </div>
</div>
