<div class="uploader">
  <div class="upload_button"
       ng-show="$ctrl.filesCollection.length < $ctrl.maxFiles"
       file-upload options="$ctrl.formData.uploadOptions"
       on-add="$ctrl.onFileAdd"></div>
  <div class="file_list" ng-class="{'divider':$ctrl.filesCollection.length < $ctrl.maxFiles}"
       ng-show="$ctrl.filesCollection.length > 0">
    <div class="file" ng-repeat="file in $ctrl.filesCollection track by $index">
      <span class="preview" ng-hide="$ctrl.hidePreview"
            style="background-image: url('{{file.url}}');">
      </span>
      <span class="description" data-ng-show="file.error == null">
        {{file.name}} - {{file.size}}
      </span>
      <span class="error" data-ng-show="file.error != null">
        {{file.error}}
      </span>
      <span class="icon icon-remove remove pull-right"
            ng-click="$ctrl.onRemoveFile($index)"></span>
    </div>
  </div>
</div>

<div ng-if="$ctrl.isRequired == true">
  <input type="hidden" name="{{$ctrl.name}}" ng-model="$ctrl.ngModel" required/>
</div>
<div ng-if="$ctrl.isRequired == false">
  <input type="hidden" name="{{$ctrl.name}}" ng-model="$ctrl.ngModel" />
</div>
