:not(.default-style-disabled) > kiga-upload {
  > .uploader {
    width: 250px;
    padding: 10px;
    border: 1px solid lightgrey;

    body form.one-col > div {
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }

    .file_list {
      overflow: hidden;

      &.divider {
        border-top: 1px solid lightgrey;
        padding-top: 10px;
        margin-top: 10px;
      }

      .file {
        display: flex;
        padding-bottom: 10px;

        &:last-child {
          padding-bottom: 0;
        }

        .preview {
          height: 52px;
          min-width: 52px;
          position: relative;
          border: 1px solid lightgray;
          margin-right: 10px;
          flex-basis: 52px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }

        .icon-remove {
          flex-basis: 13px;
          background-color: orange;
          height: 13px;
          text-align: center;
          cursor: pointer;
          &:before {
            display: block;
            content: 'X';
          }
        }

        .description {
          flex-grow: 1;
          align-self: center;
          word-break: break-all;
        }
      }
    }

    canvas {
      padding: 0;
      margin: auto;
      display: block;
      max-height: 50px;
      max-width: 50px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
